[2019-10-29 18:55] brendan-ai2 commented on #3391
Hi @Prhmma, thanks for offering! The logic appears to exist in https://github.com/allenai/allennlp/blob/3dda5ac9fcf390d8b83eb855249360711707c11c/allennlp/run.py#L6. You'll just need to add a new environment variable for the log level and add a few conditionals. Please ensure the logic for `ALLENNLP_DEBUG` continues to work too.

@bryant1410, I'm not terribly enthusiastic about a command line argum

[2019-10-29 19:13] brendan-ai2 commented on #3407
@dasguptar, thanks for catching that! I do believe that's the correct fix and we'd be happy to take a PR. If you do create one, could you please add a small test case? Depending on whether it's easier to trigger this failure as a unit test or not I'd create an `auto_regressive_seq_decoder_test.py` or use the existing https://github.com/allenai/allennlp/blob/master/allennlp/tests/models/encoder_dec

[2019-10-30 01:47] ksbsk commented on #3398
Thanks @matt-gardner for clarifying the situation. Indeed, starting from PyTorch v1.2 release the `nn.Transformer` module is available. However, I'm not aware of any official implementation of RPR for PyTorch. What is more, it seems like `PositionalEncoding` module, covered in the original paper, was excluded from the main Transformer module at the [code peer review stage](https://github.com/pytor

[2019-10-30 07:45] unbreading opened #3410 "Reasoning types in DROP dataset"
**Question**

How can I get reasoning types for instances in DROP dataset ?
In DROP's paper, Table 1, it shows the reasoning types with percentage. (like Count (16.5%), Sort (11.7%), etc).
Is their any code that can automatically judge the reasoning type for each instance ?

[2019-10-30 08:14] dasguptar commented on #3407
Hi @brendan-ai2, I've submitted PR #3411.
Could not add test cases, explained more in the PR.

[2019-10-30 08:22] dasguptar opened #3412 "AutoRegressiveSeqDecoder ignores target_namespace"
The `AutoRegressiveSeqDecoder` class takes in a `target_namespace` argument with a default value of `"tokens"`.
However, it seems to be ignoring that value in a few places:

- [Line 156](https://github.com/allenai/allennlp/blob/master/allennlp/modules/seq2seq_decoders/auto_regressive_seq_decoder.py#L156)
- [Line 425](https://github.com/allenai/allennlp/blob/master/allennlp/modules/seq2seq_decoders

[2019-10-30 08:40] rubencart commented on #3409
That worked, thanks! I added `from src.models import Classifier` (the class that subclasses `Model`) in my `classifier_test.py` (it isn't used in the actual test code).

[2019-10-30 09:04] #3409 closed

[2019-10-30 14:30] matt-gardner commented on #3410
This was done with manual analysis, not with a script.

[2019-10-30 15:34] matt-gardner commented on #3389
Oh, I think for 1 above, the reason we didn't make the `from_params` an `__init__` is because the objects have sequential dependencies.  You have to construct the `Vocabulary` before you construct the `Model`.  There are a few ways we could handle that, but maybe the best is to add a `Lazy` class, so you can do something like:

[code]

`Lazy` would need to override `from_params` to just save the p

[2019-10-30 17:39] skurzhanskyi opened #3413 "How can use `DataIterator` and `Predictor` together?"
How can we use `DataIterator` and `Predictor` together?

I would like to use `DataIterator` to compute batches officially, but `DataIterator` returns `TensorDict` while the most proper `Predictor` method I found - `predict_batch_instance` take `List[Instance]` for prediction.

[2019-10-30 18:27] snijesh commented on #612
[code]

[2019-10-30 19:36] BramVanroy commented on #612
Not sure why you posted this. But it's important to know that the installation of torch differs per set-up. See [the website](https://pytorch.org/get-started/locally/) for more.

[2019-10-30 23:42] #3399 closed

[2019-10-31 15:37] schmmd commented on #3412
@dasguptar that makes sense to me, but it's probably best if we get a third (and more informed) opinion.  @brendan-ai2 what do you think about this suggestion?

[2019-10-31 18:42] nelson-liu commented on #3398
For the reference, there are no signs of a standard positional embedding module implementation in the PyTorch library itself, right? Positional embeddings (either absolute or relative) seem pretty crucial for performance (and they're included in the original paper as well).

My read on why it wasn't included natively is because the positional embeddings are technically an external component of the

[2019-10-31 19:55] matt-gardner commented on #3398
Thanks for the additional context @nelson-liu!  I think I agree with your assessment, also, that this is likely best handled as an additional `TokenEmbedder` (I believe that's what you meant, instead of `TextFieldEmbedder`).  We could have a `TokenIndexer` that outputs an integer token position index, and a `TokenEmbedder` that takes those indices and outputs a position encoding (and the `TokenEmb

[2019-10-31 20:15] nelson-liu commented on #3398
Oops yes I meant TokenEmbedder . Come to think of it, it actually just might make sense as an optional constructor argument of a PytorchTransformerWrapper Seq2Seq / Seq2Vec encoder...

[2019-10-31 20:18] schmmd commented on #3413
I see the problem you're hitting and it's a bit annoying.  It sounds like you want to batch with a `DataIterator` and for each batch compute predictions over the same instances, but you can't because `DataIterator` has already converted the `Instance`s to tensor dicts.

I'll discuss more tomorrow with the team.  What subclass of `DataIterator` are you using?

[2019-10-31 21:03] matt-gardner commented on #3398
I wouldn't bake it into those abstractions.  It would be easy enough to instantiate the module yourself inside your model and use it in between layers wherever you want.

[2019-11-01 04:41] nelson-liu opened #3416 "EndpointSpanExtractor should check that input matches input_dim"
Currently, the EndpointSpanExtractor will happily take input that doesn't match its passed-in `input_dim` if the exclusive span indices are not being used. Feels like there should maybe be a check somewhere for this...https://github.com/allenai/allennlp/blob/master/allennlp/modules/span_extractors/endpoint_span_extractor.py

[2019-11-01 22:03] #3405 closed

[2019-11-01 22:07] brendan-ai2 commented on #3406
Hi @shanalikhan, I think you'll need to write a new dataset reader that takes your data format an d puts it into the same format as the model you're fine-tuning. If you make this the reader in the config file you pass to `allennlp fine-tune`, then things should "just work". But please let us know if you hit any issues!

[2019-11-01 22:14] schmmd commented on #3412
@dasguptar after talking with @brendan-ai2 we both think this would be a great change--thanks!  PR very much welcome.

[2019-11-01 22:19] schmmd commented on #3413
Take a look at `forward_on_instances`, in particular this line: https://github.com/allenai/allennlp/blob/master/allennlp/models/model.py#L150

You can call forward and decode directly, which will get you the output you're looking for.  The additional code is pretty straightforward and does things like detaching from the GPU and cleaning up the resulting text for JSON serialization.

[2019-11-01 22:19] #3413 closed

[2019-11-01 22:29] brendan-ai2 commented on #3394
Hi again @mojesty, good point about different metrics and different overfit values. (Perhaps this is a dumb question, but is it really true in general that an overfit model will have its loss driven to zero?) To get around this how about the test function simply takes a `metric` to optimize and a `terminal_value` to be driven towards. This would still be pretty easy for model creators to use while

[2019-11-02 05:42] snijesh opened #3418 "Demo results does not match when the model is loaded locally"
I have used SRL model (other models also). It seems the output generated in the demo screen are more accurate than the results obtained locally. What is the difference between the models loaded for demo and loaded locally. Or is there any extra files to be added to get better prediction

[2019-11-02 17:47] successar opened #3419 "Set Layers that are freezed to eval mode in BERT during training"
Hi

I was wondering if there was a way to turn the dropout and layer-norm layers in BERT to eval mode during training when we set the requires_grad parameter to False for PretrainedBert here - https://github.com/allenai/allennlp/blob/99125490e1e82e95c99792b0873309f93f706ec0/allennlp/modules/token_embedders/bert_token_embedder.py#L294 ?

The problem I see is that the allennlp trainer loop call mode

[2019-11-03 11:05] pasinit opened #3420 "Validation does not reset the metrics accumulated during training before starting the validation."
Hi guys, I am struggling to understand the logic of Metrics and how this handle the fact that when validation starts it should reset the counters that it has accumulated during the pass over the training data.
In fact, when using CallbackTrainer with Validate as input callbacks, it seems to me that the validation callback does reset the counters after having computed the scores for the validation

[2019-11-03 11:25] pasinit opened #3421 "Dataset Name in progress bar during training"
I haven't found an easy and fast way for modifying the progress bar description that the Trainer uses to report the progress. I think it would be useful at least to show "train" "dev" at the beginning of the bar depending on which dataset the program is iterating on.
It would be even better if one could specify the name of the dataset and this will be automatically displayed during the training.

[2019-11-03 11:54] sayaendo opened #3422 "Specify different iterator when using evaluate command"
**Is your feature request related to a problem? Please describe.**
I need to be able to use a different iterator when evaluating my model on different datasets than the ones seen during training/validation. This should be a fairly useful yet easy to implement feature - as we progress more towards transfer learning and other alternative training and evaluation regimes, it hurts to be stuck with the

[2019-11-03 16:05] TheresaSchmidt commented on #1941
Hi, apperently this hasn't been changed yet? I'm new to AllenNLP, trying to train a model on my input which is annotated with BIOUL tags. Do I have to change my input to IOB1 so I can use it? Sorry, I'm a little confused by how everything works and just trying to get anything to run, so it's probably a stupid question...

[2019-11-03 21:16] vanh17 opened #3423 "The format of the input file and output file from masked_language model"
Hi @Eric-Wallace  and @matt-gardner,

I tried to run the allenNLP on the command line here:
[code]
I was wondering what the format for my-examples.jsonl is and what the output file is. Is there a way to save the output results into the particular place (locally)?
I looked at the code and it looks like the expected json format is
[code]
However, what if I have a list of sentences I want to run them

[2019-11-04 03:36] tamuhey opened #3424 "Add support for spacy >= 2.2"
I want to use allennlp with spacy>=2.2.
The current version of spaCy is [2.2.2](https://github.com/explosion/spaCy/releases/tag/v2.2.2)

[2019-11-04 03:37] tamuhey commented on #3424
I found the PR #3331

[2019-11-04 08:22] tamuhey opened #3425 "Resolve relative path in config.json"
I sometimes want to save some file path in config.json.
However, relative paths don't work and the mobility is reduced.
So I want a function to resolve relative paths from config.json in the archive directory.

[2019-11-04 11:36] Ravibth commented on #1265
Hi
Allennlp always return the value. How to check the result score in the allennlp.
![image](https://user-images.githubusercontent.com/13044714/68118200-641ce980-ff25-11e9-85dc-ee2f23fd5dda.png)
How to verified the our result?

[2019-11-04 14:45] vanh17 commented on #3423
I figured it out. For multiple prediction we only need to write the instance in json structure one for every line
[code]
In order to export to the new file add the ```--output-file path_to_the_output_file``` in the command line.

[2019-11-04 14:45] #3423 closed

[2019-11-04 15:06] tamuhey commented on #3424
Some tests fail due to spacy's statistical model.

[2019-11-04 16:52] nicola-decao opened #3426 "Bug in AutoRegressiveSeqDecoder"
Here: https://github.com/allenai/allennlp/blob/f3083c8fb9150f07e3ca98bb3ea9368a081df028/allennlp/modules/seq2seq_decoders/auto_regressive_seq_decoder.py#L433

``target_tokens["tokens"]`` is a ``torch.Tensor`` so its ements do not have the attribute ``text``.

[2019-11-05 02:41] QDWQ commented on #2241
Hello, I have encountered the same problem.
@SparkJiao   What is the specific solution to this problem?

[2019-11-05 07:37] SundeepPidugu opened #3428 "Allennlp POS tagger taking longer time"
**Question**
* I am using `constituency_parser` and it’s taking a lot of time for getting the POS patterns for about 500 lines in a text file, Is there any parameter to set to the model predict so that I can just get the pos_tags and tokens alone. is there a way to load it faster or multiprocess the same?

[2019-11-05 17:48] schmmd commented on #3428
Closing--since this is already in Discourse.  Please only post in one place.

https://discourse.allennlp.org/t/allennlp-pos-tagger-taking-longer-time/117/2

[2019-11-05 17:48] #3428 closed

[2019-11-05 17:48] schmmd commented on #3424
@tamuhey why do you need spaCy 2.2.2?  Just curious.

[2019-11-05 17:57] schmmd commented on #3418
While the demo models are hosted on Google cloud for performance reasons (it's faster and cheaper to download from GCS for the running demo), they are identical.

[code]

I don't know why you are seeing different performance.  Can you give specific examples of the differences you're seeing?

[2019-11-05 18:18] ahoho opened #3430 "Clean training loop interruption"
**Is your feature request related to a problem? Please describe.**
Sometimes I'd like to terminate a training early. For instance, perhaps I set my patience too high and my model is not improving. However, I still want a clean exit from the training loop.

**Describe the solution you'd like**
At the end of each epoch in `Trainer.train()`, a function listens for a file with a specific name like `te

[2019-11-05 21:34] kernelmachine commented on #3419
Based on the discourse thread, I'll set this to Contributions Welcome.

[2019-11-05 21:43] kernelmachine commented on #3430
I think this feature request will require a bit more discussion, likely after the EMNLP conference. Setting feature request label for now!

[2019-11-05 21:44] kernelmachine commented on #3426
Thanks for submitting a bug report -- contributions would be welcome to fix it.

[2019-11-05 21:46] kernelmachine commented on #3425
I think this feature request will require more detail. Can you explain more the use case you're looking for, and why you need relative paths?

[2019-11-06 01:12] SparkJiao commented on #2241
@QDWQ Modify the name annotation of your reader with a name which haven't been used by the repo's predefined readers.

[2019-11-06 02:48] tamuhey commented on #3425
I want to use [transformers](https://github.com/huggingface/transformers) as a `TextEmbedder`, and the models take `model_path` in instantiation.
This `model_path` is a relative path, and I want to pack it into `archive` directory.
In restoring, `model_path` in `config.json` is resolved from runtime path, and the resolving fails.

Although I know I rewrite the transformers model so that `config.js

[2019-11-06 02:55] tamuhey commented on #3424
I want to use some of new spaCy's feature with allennlp, e.g.

- spacy's multiprocessing feature
- new `gold.align` method
- `EntityLinker` and `KnowledgeBase`

[2019-11-06 06:50] kernelmachine commented on #3422
This seems like a pretty useful feature, but may require some back and forth after the EMNLP conference.

[2019-11-06 10:51] nicola-decao commented on #3426
I'll fix that later today with a pull request :) I have a piece of code that works locally.

[2019-11-06 17:54] nicola-decao opened #3434 "Vocabulary mismatch when using pre-trained transformers"
Default OOV and unknown tokens are hardcoded as default in the vocabulary class:
https://github.com/allenai/allennlp/blob/9a6962f00d2b0d30b81900b4e9764ddc3433f400/allennlp/data/vocabulary.py#L226
and
https://github.com/allenai/allennlp/blob/9a6962f00d2b0d30b81900b4e9764ddc3433f400/allennlp/data/vocabulary.py#L227
so when using any pre-trained token embedder where OOV and unknown tokens are defined

[2019-11-06 18:26] nicola-decao opened #3435 "Beginning and end of sentece mismatch when using pre-trained transformers"
Related to https://github.com/allenai/allennlp/issues/3434 but different.
Beginning and end of sentence tokens are hardcoded as default in
https://github.com/allenai/allennlp/blob/9a6962f00d2b0d30b81900b4e9764ddc3433f400/allennlp/common/util.py#L43
and
https://github.com/allenai/allennlp/blob/9a6962f00d2b0d30b81900b4e9764ddc3433f400/allennlp/common/util.py#L44
so when using any pre-trained token e

[2019-11-06 22:11] ruijianw commented on #3067
@matt-gardner Could you please elaborate more about the mismatched tokenization?

[2019-11-07 02:04] brendan-ai2 commented on #3367
Fixed with @soumith's work (Thanks!) and the most recent pin.

[2019-11-07 02:04] #3367 closed

[2019-11-07 02:10] brendan-ai2 opened #3436 "Prototype calculating floating point operations"
**Is your feature request related to a problem? Please describe.**
Please see the [Green AI paper](https://arxiv.org/pdf/1907.10597.pdf) for full context.

**Describe the solution you'd like**
A tool which computes FPO for a subset of the PyTorch operations which are used in the AllenNLP models. This will likely take the form of a small library that determines how many FPOs are used by a module's

[2019-11-07 17:39] sai-prasanna commented on #3412
@dasguptar Thanks for looking into this! This has to be fixed in addition to adding tests for the AutoRegressiveDecoder.

On a side note, The `ComposedSeq2Seq` commit took a long time with me modifying the structures made by another contributor and I think I ended up missing few stuff out.

My team is currently looking into the training speed differences between `fairseq` and this abstraction (in

[2019-11-07 21:56] vanh17 opened #3437 "Fine-tune the BERT for next word prediction demo"
Hi @Eric-Wallace  and @matt-gardner,

I am trying to keep training the BERT on my own corpus so it can likely predict better with respect to my specific corpus. Is there a code somewhere for me to do this.
Do you have example of the data_reader and the configuration you use while developing the demo? Thank you so much!

[2019-11-08 00:22] kernelmachine commented on #3437
@vanh17, he and Eric are at EMNLP (and will likely not respond till they are back in town). My guess is that you will have to continue training your bert model using the huggingface code: https://github.com/huggingface/transformers/blob/master/examples/run_lm_finetuning.py, but @matt-gardner might give you other demo-specific instructions.

[2019-11-08 02:29] matt-gardner commented on #3437
@kernelmachine is correct, we do not have code to do this.  If you want to train a masked language model, you'll need to use other code.  Contributions here would be welcome, but we have no plans to do this ourselves.

[2019-11-08 02:29] #3437 closed

[2019-11-08 02:34] matt-gardner commented on #3435
Those are used for certain places in decoding in encoder-decoder models.  They aren't used the same way as `[CLS]` and `[SEP]` tokens.  Are you sure this is what you want?  I'm pretty sure it's not, unless there's some use of `[CLS]` and `[SEP]` in decoders that I'm not aware of.

[2019-11-08 02:36] matt-gardner commented on #3434
I think this would be ok.  It might also help with #3097.  PR welcome!  Just be sure that it doesn't break any tests, and that you add sufficient tests for the new functionality.

[2019-11-08 02:37] matt-gardner commented on #3430
My vote: this should be implemented yourself as a callback in the `CallbackTrainer`.  I think this is a rare enough feature, with pretty arcane usage and discoverability, that we shouldn't add this to the main library.

[2019-11-08 02:40] matt-gardner commented on #3425
Yes, using paths like that is problematic.  A couple of possible solutions: (1) use a model name instead of a model path.  If you're just using a standard pretrained model, this is the preferred solution (you get caching from huggingface, less potential for error, more readable configs, etc.).  (2) If you have pretrained your own transformer (or want to use your own fine-tuned version for this, et

[2019-11-08 02:43] matt-gardner commented on #3425
It would probably be a bit of a mess to try to detect and resolve relative filenames (where does the check live?  how does it work?).  If someone has a clean solution, we'd probably accept a contribution here, but with available workarounds, we are unlikely to work on this ourselves.

[2019-11-08 02:48] matt-gardner commented on #3422
Two existing solutions:

1. Use the [`--overrides`](https://github.com/allenai/allennlp/blob/9a6962f00d2b0d30b81900b4e9764ddc3433f400/allennlp/commands/evaluate.py#L97-L103) command line flag to the `evaluate` command.  Getting the syntax of the JSON there right is annoying, and I'm not sure what it is off the top of my head, but there might be examples that you can search for.
2. I'm guessing tha

[2019-11-08 02:48] #3422 closed

[2019-11-08 02:57] matt-gardner commented on #3421
You could do this with a local copy of allennlp pretty easily.  Just modify this: https://github.com/allenai/allennlp/blob/9a6962f00d2b0d30b81900b4e9764ddc3433f400/allennlp/training/callback_trainer.py#L189-L220 and this: https://github.com/allenai/allennlp/blob/9a6962f00d2b0d30b81900b4e9764ddc3433f400/allennlp/training/util.py#L470-L487
(and there might be some other places that also need to be m

[2019-11-08 02:59] matt-gardner commented on #3420
The `CallbackTrainer` is still "experimental", and it wouldn't be surprising to me if there were a bug like this in the code.  Probably the place where the metrics are queried at the end of training forgot to reset the metrics.  The `Trainer` definitely doesn't have this bug.  PR welcome to fix it!

[2019-11-08 03:01] matt-gardner commented on #3419
Putting in my comment from the discourse thread:

Hmm, sounds like we’d want to override model.train() to handle this properly. It also sounds a bit messy to get correct for everything, but if you can think of a clean solution, I think this is definitely a problem that we’d want to fix in the library. Feel free to open an issue about this in the repo, and I’ll mark it as “contributions welcome”.

[2019-11-08 03:03] matt-gardner commented on #3418
See here: https://github.com/allenai/allennlp/blob/9a6962f00d2b0d30b81900b4e9764ddc3433f400/tutorials/how_to/elmo.md#notes-on-statefulness-and-non-determinism.  There are several other issues in the repo with more discussion on this; you can probably find them for searching for links to that note that I linked to.

[2019-11-08 03:03] #3418 closed

[2019-11-08 03:05] #3406 closed

[2019-11-08 03:07] matt-gardner commented on #3388
ping @kernelmachine

[2019-11-08 03:08] matt-gardner commented on #3383
I'm going to close this issue and open a new one for tracking tutorial updates.

[2019-11-08 03:08] #3383 closed

[2019-11-08 03:10] matt-gardner opened #3438 "Update tutorials for the new split repos and v1.0"
This includes fixing links, whatever breaking changes we made, etc. We should also be cognizant of what will be in the new allennlp course, and not worry about duplicating things that are there.  That is, some (most? all?) of the tutorials can probably just be removed once the course is up.

[2019-11-08 03:11] matt-gardner commented on #3373
ping @schmmd

[2019-11-08 04:38] schmmd commented on #3373
@matt-gardner why the ping? I wasn't able to reproduce and an waiting for a Dockerfile to reproduce this issue from @mikerossgithub. Did you run into this same issue?

[2019-11-08 04:39] schmmd commented on #3418
@matt-gardner does this model use ELMo? I gathered from the name that it didn't.

[2019-11-08 06:25] HarshTrivedi commented on #3420
I did a quick check because I am also using `CallbackTrainer`. It seems that it's because you have not added `TrackMetrics` to the callbacks. It should work fine if you add it.

When you add `TrackMetrics` to the callbacks, you will have additional two methods being called on `VALIDATE` event [here](https://github.com/allenai/allennlp/blob/master/allennlp/training/callback_trainer.py#L245):
- [col

[2019-11-08 07:50] nicola-decao commented on #3434
I am gonna look into this and make a PR in the weekend.

[2019-11-08 07:56] nicola-decao commented on #3435
You are right. In general, you should not use these tokens unless you want to use a pre-trained projection layer. It might not be a priority but It would be nice if these variables `START_SYMBOL` and `END_SYMBOL` could be configurable. They are indeed used in the `AutoRegressiveSeqDecoder`. I think it is a better idea to maybe add them in the initializer and don't touch `allennlp/allennlp/common/u

[2019-11-08 16:20] schmmd commented on #3355
Closing as this has to do with a very particular logging configuration interacting with `pytest` capturing output.  We also have a work-around (`pytest -s` to disable capturing).

[2019-11-08 16:20] #3355 closed

[2019-11-08 19:36] matt-gardner commented on #3420
Thanks @HarshTrivedi!  This does seem like pretty odd behavior, though.  I guess if you're instantiating the callback trainer with your own callbacks, there's not a lot we can do to fix errors like this.  Maybe we could give a warning if we don't detect certain classes of callbacks...?  I'm not sure that's a good idea.

[2019-11-08 19:37] matt-gardner commented on #3418
Ah, sorry, you're right.  Though it's not clear which models @snijesh was using in each case.  @snijesh, if you still have questions, feel free to post again.  I'll leave this closed until we hear from you, though.

[2019-11-08 19:38] matt-gardner commented on #3373
Ah, sorry, I read through too quickly and missed the "if".

[2019-11-08 19:45] matt-gardner commented on #3435
The reason they are in `common/util.py` instead of in a model constructor or some other place is because when you need this you typically need it in both a `DatasetReader` and a `Model`, and they need to be the same.  It probably doesn't matter what the actual value is, because you'll be adding it in code (not in the data) in both places, so all that matters is that they agree.  This is why we put

[2019-11-08 20:46] kernelmachine commented on #3388
Yes, I think unsqueezing the `num_tokens` dimension is a reasonable solution  (it is a bit confusing, but we could make it clear in the documentation). The bag of words embedder is pretty isolated from the rest of the repo, so I don't think it'll be an issue. Contributions would be welcome!

[2019-11-08 20:50] mikerossgithub commented on #3373
@schmmd Sorry I dropped this. I haven't had time to create a dockerfile that disentangles this from some non-shareable code. My work-around above is good enough for now. Should I just close the issue and re-open if/when I have a dockerfile?

[2019-11-08 20:54] schmmd commented on #3373
Sounds good

[2019-11-08 20:54] #3373 closed

[2019-11-08 23:04] pasinit commented on #3420
Thank you so much for the detailed answers! They were very useful!
My only concern is that maybe this behaviour is not very well documented
around (I know callbacktrainer is experimental).
So, I think that the most effective way for avoiding other people to find
theirselves in a similar situation is to just put an example in the
documentation and to highlight the need of TrackMetrics when adding n

[2019-11-08 23:09] brendan-ai2 commented on #3420
I like @matt-gardner's suggestion of having a warning when certain types of callbacks have been left out. Additionally, perhaps we should have a way (if this doesn't already exist...) to instantiate a callback trainer with default callbacks that lets the user just add their special-case callbacks.

[2019-11-08 23:09] schmmd commented on #3421
This is reasonable behavior to have in AllenNLP, but we don't think it's worth the additional complexity given that it's already clear what stage you are in from the logs.  So during our weekly issue review we think you should simply implement this outside AllenNLP for yourself if needed.

[2019-11-08 23:09] #3421 closed

[2019-11-08 23:10] schmmd commented on #3424
Tests were passing so we merged this during issue review.  Fixed by #3432.

[2019-11-08 23:10] #3424 closed

[2019-11-08 23:12] schmmd commented on #3424
Ah--we were confused as someone else opened a PR for this same functionality.  In any case--you should be good to go now!

[2019-11-08 23:12] kernelmachine commented on #3425
Since we support jsonnet, you can use `std.extVar("PWD")` to get the current working directory and construct a relative path from that.

[2019-11-08 23:12] #3425 closed

[2019-11-08 23:15] kernelmachine commented on #3430
It looks the larger team is in agreement with Matt, so we'll close this issue for now.

[2019-11-08 23:15] #3430 closed

[2019-11-08 23:16] schmmd commented on #3430
You can send this programmatically with SIGINT (which I think is `kill -2`) if that's what you're looking for.

[2019-11-08 23:22] kernelmachine commented on #3435
Those strings do not seem to be used very often, so presumably others are using other mechanisms to add start and end tokens. Should we try to standardize how we add start/end tokens across all models?

[2019-11-08 23:23] schmmd commented on #3435
[code]

[2019-11-09 01:07] ahoho commented on #3430
This makes sense—thanks for the comments!

[2019-11-09 01:47] vudaoanhtuan opened #3439 "evaluation speed is lower than training speed?"
![image](https://user-images.githubusercontent.com/25790306/68520645-cb42f100-02cb-11ea-9d54-6b7cb546cc14.png)

I train a translation model using ComposedSeq2Seq module on Google Colab (using GPU), but as you can see, the evaluation speed is lower than training speed. Are there something wrong here? Pls help me!

[2019-11-09 02:34] matt-gardner commented on #3439
This does a beam search at validation time, but no search during training. The search is slower than maximum likelihood training.

[2019-11-09 02:34] #3439 closed

[2019-11-09 03:20] entslscheia opened #3440 "Is multi-GPU training totally transparent with Allennlp?"
When using allennlp, if we want to train our model on multiple GPUs, are we just going to configure "cuda_device" parameter in the trainer to a list of GPU ids? So there is no need for us to make any modification to the code at all.

For now, my model is not very large, so it can be trained on a single GPU, but when I tried to configure to use two GPUs, I found the speed is much slower than using

[2019-11-09 10:21] sai-prasanna commented on #3389
@matt-gardner This is great!, Thanks for hashing this out.

There is a problem in making `Lazy` as `Registrable` though. In your conception of `Lazy`, I believe the `Vocabulary` object would be passed to `Lazy` class, through a static/class method, and `Lazy` can override `from_params` to resolve the type by just using the type as a key and already set object as a value.  There is a limitation in

[2019-11-09 10:27] sai-prasanna commented on #3389
One small problem remains, in the all the classes we would have to change `vocab: Vocabulary` into `Lazy[Vocabulary]` which might cause mypy errors :( as we are abusing the type system to add a meta info. I don't think we can annotate the actual Types as methods in the current python though.

[2019-11-09 10:55] sai-prasanna commented on #3389
Another solution without abusing the type system would be to have an static optional attribute in the class.
_lazy_initalize = {
   "from_lazy_objects" : ["vocab", "model"]
}
And check that attribute to fill the extras, and the factory function signatures can remain clean.

[2019-11-09 17:27] HarshTrivedi commented on #3420
@matt-gardner Yes, I agree that there needs to be documentation/warnings for missing out some callbacks. It's confusing otherwise.

@brendan-ai2 Yep, I agree and was going to suggest something similar as I also had to dig through the code and tests to set up callback trainer with default setting. I think the default callback trainer should be set so that it behaves as the default trainer. Hardcodi

[2019-11-10 16:36] mikerossgithub commented on #3269
See also #3420 which could also be framed as a need to specify requirements.

[2019-11-10 18:43] Crista23 opened #3442 "AllenNLP Interpret usage questions"
Can you please provide an end-to-end example of how to run AllenNLP interpret on some custom text input? Thanks!

[2019-11-10 19:10] matt-gardner commented on #3442
The interpretation code is for interpreting particular model predictions - what model are you using that you want to interpret?

[2019-11-10 19:12] Crista23 commented on #3442
I am interested in using AllenNLP Interpret in combination with BERT, XLNET and RoBERTa.

[2019-11-10 19:40] matt-gardner commented on #3442
That still doesn't answer the question - we need more detail on what exactly you want to do before we can give specific instructions.  There is some general tutorial information here: https://allennlp.org/interpret.

[2019-11-10 19:44] Crista23 commented on #3442
I want to visualize saliency maps for text input, thanks!

[2019-11-10 22:59] matt-gardner commented on #3442
For BERT, you can see this on demo.allennlp.org. For the others, you need to create a model similar to the one that's backing the demo. We'll make instructions for that soon.

[2019-11-10 23:03] Crista23 commented on #3442
Thanks for the info! For BERT I am interested in doing this programatically, not through the web interface. Do you have any instructions on how to do that?

[2019-11-11 03:53] matt-gardner commented on #3067
Mismatched tokenization is when you tokenize by words but do modeling on subwords (or any other similar mismatch).  You might do this, e.g., for using BERT for tagging, where you have labels and want to make predictions on words, not on subword units.  There are a few ways to handle this, but one way is to have this mismatched tokenization.  This is how the pretrained BERT indexer / embedder work

[2019-11-11 04:00] matt-gardner commented on #3442
@Eric-Wallace, do we have any tutorial anywhere on how to use these things programmatically?

Until we have one, you can examine the demo code.  Particularly, the interpreters get instantiated here: https://github.com/allenai/allennlp-demo/blob/30d1d63e37ee4f5096a39d3e29543a89ab62f372/app.py#L133-L150

They get called here: https://github.com/allenai/allennlp-demo/blob/30d1d63e37ee4f5096a39d3e2954

[2019-11-11 04:52] reterik opened #3443 "Add support and tutorials for fine-tuning generative models"
I would love to see the OpenAI gpt-2 generator model integrated in AllenNLP.  Generators are somewhat lacking support in AllenNLP at the moment:
https://openai.com/blog/gpt-2-1-5b-release/

[2019-11-11 04:55] matt-gardner commented on #3389
I don't think that passing in what is lazy in the `register()` method will work - the inherent problem is that the objects get constructed _inside_ the method, after their dependencies have been constructed.  This means that you need to only pass in their parameters, not the objects themselves, so you need something different so the types work out.  I do think that `Lazy` or `Incomplete` or someth

[2019-11-11 04:55] matt-gardner commented on #3443
What exactly do you want to do with it?

[2019-11-11 05:45] reterik commented on #3443
Generate questions specifically here is an example:
https://googlier.com/csv/2019_10_28/artificial%20intel

[2019-11-11 07:18] DesmonDay commented on #1379
I met this problem. My python version is 3.6.6, and I have installed allennlp(`pip install allennlp`), but it also came out the same mistakes. Can anybody help?

Traceback (most recent call last):
  File "train.py", line 10, in <module>
    from models.newmodel import model
  File "/home/desmon/GraphWriter/models/newmodel.py", line 4, in <module>
    from models.list_encoder import list_encode, ls

[2019-11-11 11:15] nicola-decao commented on #3435
Another comment/issues: if one uses `PretrainedTransformerIndexer` and `PretrainedTransformerTokenizer` both `@start@` and `@end@` are not added to the vocabulary and therefore considered as OOV symbols. This of course is a problem.

[2019-11-11 16:12] schmmd commented on #3435
@nicola-decao we'd warmly welcome a PR for that issue.

[2019-11-11 16:54] DeNeutoy commented on #3440
Yes, we are working on it - please see #2536, #3079 . We expect this to be significantly improved once we are finished working on these projects. Certainly at the moment it is difficult to get much speedup from multi-gpu.

[2019-11-11 16:54] #3440 closed

[2019-11-11 17:07] matt-gardner commented on #3435
No, this is not a bug.  You are supposed to add those manually to whatever token strings they are needed in your `DatasetReader` (after which they'd get added to your vocab).  We can't add them in the classes you mention, because then they'd get used everywhere, and we only want those tokens when we're doing decoding.

To repeat: those tokens are control tokens that are _only_ used for encoder-dec

[2019-11-11 17:07] #3435 closed

[2019-11-11 17:10] nicola-decao commented on #3435
@matt-gardner Ok, I agree.

[2019-11-11 19:58] matt-gardner commented on #1379
This error is almost certainly because your `pip install allennlp` command failed.  Can you look at the logs from when you ran the pip install and double check that it succeeded?

[2019-11-11 20:00] matt-gardner commented on #3443
Ok, so you want to fine tune a generation model for some particular use, then generate with it.  You *might* be able to do that now with current allennlp code, but I'm not sure how easy it is.  I agree that this is something that we should support better and have examples for.  I'm going to change the name of the issue to make it more descriptive.

[2019-11-11 20:01] matt-gardner commented on #3443
I'll add - this is not currently on our roadmap, but I think it's important enough that I'd like to see it added to our roadmap early next year, if no one outside of AI2 wants to pick it up before then.

[2019-11-12 08:52] manasRK commented on #2473
I followed this on MacOC Mojave and was able to install AllenNLP.

https://stackoverflow.com/a/56380856/7572819

[2019-11-13 04:08] yyHaker opened #3447 "How to use Bert(and RoBERTa) for span QA tasks in AllenNlP?"
**Question**
* For QA tasks like SQuAD, how can I just use Bert to fine-tuning in AllenNLP?

[2019-11-13 06:48] yyHaker commented on #3031
Hi, can you give a example for just use BERT for QA tasks?

[2019-11-13 10:36] skurzhanskyi commented on #3413
Sorry for late response.
Thank a lot for your answer

[2019-11-13 15:20] maksym-del opened #3448 "Upgrade pytorch_transformers (v1) to transformers (v2)"
Latest [transformers](https://github.com/huggingface/transformers/releases) package is 2.1.1 already.

It was renamed to just "transformers" which affects imports in the code.

It might be worth upgrading before the upcoming allennlp release.

[2019-11-13 16:59] maksym-del commented on #3356
There is [this](https://github.com/huggingface/transformers/blob/155c782a2ccd103cf63ad48a2becd7c76a7d2115/transformers/tokenization_utils.py#L797) utility method from huggingface repo that takes indexed sentence (or a pair of sentences) and adds correct special tokens to them (as well as truncating).

Maybe we could utilize it somehow in the token_indexer so that we do not have to maintain this ou

[2019-11-13 17:03] matt-gardner commented on #3356
If there's a way to make this work, I'm definitely in favor of it.

[2019-11-13 17:09] #3434 closed

[2019-11-13 17:12] matt-gardner commented on #3447
I'm not actually sure where all of the code is for doing this.  I know several people have done similar things, with mixed success.  @kl2806, @dDua, is there any publicly available code for a BERT-QA model in allennlp?  Updating our available reading comprehension models is high on our priority list for things to do after December, so hopefully this will happen soon if there isn't easily available

[2019-11-13 17:13] matt-gardner commented on #3031
See #3447.  There's no need to ask the same question in two separate issues.

[2019-11-13 18:12] kl2806 commented on #3447
Yes, the baseline for ROPES is an AllenNLP wrapper around the `pytorch_transformers` code (https://github.com/kl2806/ropes-leaderboard-example) implemented by @OyvindTafjord that should also work for SQuaD. @OyvindTafjord trained the RoBERTa SQuaD model and got numbers close to what was published on the leaderboard.

[2019-11-13 18:13] maksym-del opened #3450 "Migrate mistmatched BertTokenIndexer / Embedder to use new transformers repo"
We have already upgraded from v1 to v2 in https://github.com/allenai/allennlp/pull/3449. However, some code also depends on v0.6.0 (pytorch_pretrained_bert).

The migration requires changes to the bert_optimizer, modeling code, and existing bert_src config.

The guide is available [here](https://github.com/huggingface/transformers#migrating-from-pytorch-pretrained-bert-to-transformers).

[2019-11-13 18:28] #3448 closed

[2019-11-13 18:29] matt-gardner commented on #3447
Thanks @kl2806!

[2019-11-13 18:29] #3447 closed

[2019-11-13 22:05] reterik commented on #3443
Great I will be debugging gpt-2 from a devops perspective and might write some integration code to see if I can get Pytorch and Tensorflow to play nice with each other.  I added a note to openai but they did not seem responsive.  Thanks for your reply and feature request addition. I think generative models are the key to unsupervised learning, and I look forward as a daily AllenNLP user to see wha

[2019-11-14 00:12] maksym-del commented on #3305
This two belong here: https://github.com/allenai/allennlp/issues/3448, https://github.com/allenai/allennlp/issues/3450,

[2019-11-14 01:09] DSLituiev opened #3452 "tutorial for basic language model: nested tokens break with a PytorchSeq2SeqWrapper model"
Is there a tutorial or any sample code how to use `LanguageModel`?

I am trying to write a basic GRU-based `LanguageModel` and running into a huge inconvenience.

[code]

My batch comes from BucketIterator that takes in objects of `Instance` class
[code]

Following call works:
[code]

However, when I try to feed it into a trainer, it internally calls `model(**batch)` and it all breaks.

[code]

[c

[2019-11-14 05:18] matt-gardner commented on #3452
Can you give a complete stack trace?  You didn't actually paste in the error that you got.

I suspect that your error is because of a mismatch between your dataset reader and your model, but it's hard to confirm that without more of information.

[2019-11-14 11:04] yyHaker commented on #3447
Thank you very much! Your share code is helpful, but could you share the SQuAD DatasetReader for Bert or RoBerta also, because I still have some doubts about it, like when to use Tokenizer and TokenIndexer, how to concat the `question` and `passage` and `[CLS]` and `[SEP]` and calculate the relative `span_start` and `span_end` ? since Bert use `BertTokenizer` and `wordpiece_tokenizer`, all the `sp

[2019-11-14 13:16] sai-prasanna commented on #3389
@matt-gardner I don't understand your point. When parameters get constructed, they are constructed inside `from_params` class method, but for objects like Vocabulary they are constructed outside and passed via "**extras".

https://github.com/allenai/allennlp/blob/3dda5ac9fcf390d8b83eb855249360711707c11c/allennlp/common/from_params.py#L24

So when constructing a object in the default implementation

[2019-11-14 16:01] DSLituiev commented on #3452
It is definitely because of the mismatch between my reader (which returns `Instance({"tokens": TextField(...)})`) and the  `PytorchSeq2SeqWrapper` model:

https://gist.github.com/f6a6215aa82725bf47d9bc7a6cb5e594

[code]

[2019-11-14 20:57] matt-gardner commented on #3452
It's not a mismatch with `PytorchSeq2SeqWrapper`, it's with the `LanguageModel`.  You wrote your own `DatasetReader`, and you didn't match the keys in your `Instance` with the arguments to `LanguageModel.forward`.  The `LanguageModel` is expecting an argument named `source`, but you gave it an argument named `tokens`.  I can't link directly to your line of code, because it's a notebook, but it hap

[2019-11-14 20:57] #3452 closed

[2019-11-14 21:09] matt-gardner commented on #3389
I'm trying to solve a different issue.  I think the way we handle `vocab` is fine - the object is constructed *before* `MyObject.from_params`, and gets passed in.  The places where we need to override `from_params` are (1) when an object gets constructed *inside* `MyObject.from_params` (because of a sequential dependency between arguments to `MyObject.from_params`), and (2) when we implicitly have

[2019-11-15 11:29] mojesty commented on #3366
If you wish to implement custom masking over your word embeddings, you can create your own `Seq2SeqEncoder` that zeroes out some part of its input. It could be boolean masking, zeroing some dimensions etc.

[2019-11-15 12:15] acriptis opened #3454 "allennlp.common.checks.ConfigurationError: 'just_spaces not in acceptable choices for dataset_reader.base_reader.tokenizer.type"
I'm trying to reproduce training of ELMO on transformers from this tutorial:
https://github.com/allenai/allennlp/blob/master/tutorials/how_to/training_transformer_elmo.md#training

Unfortunately when I call
[code]
I receive exception:
[code]

As I understand the problem in tokenizer which specified in https://github.com/allenai/allennlp/blob/master/training_config/bidirectional_language_model.json

[2019-11-15 12:22] acriptis commented on #3454
I changed the type to "word" here: https://github.com/allenai/allennlp/blob/master/training_config/bidirectional_language_model.jsonnet#L11
And process has started! I hope it is correct fix.

[2019-11-15 18:13] iglee opened #3455 "RuntimeError: "argmax_cpu" not implemented for 'Bool' while using CopyNet"
Hi all, I'm trying to train a CopyNet on sagemaker, and I keep running into this error.  I've tried changing pytorch to older and newer versions, and directly downloading allennlp package to source.  Is there something wrong with my config?

[code]

my trainer looks like:
[code]

and my model looks like:
[code]

any suggestions would be much appreciated!

[2019-11-15 18:38] matt-gardner commented on #3455
I did some searching about this, and I think it's a pytorch issue, not an allennlp issue (see, e.g., [this issue](https://github.com/pytorch/pytorch/issues/24088), it seems related).

It's possible you could get around this in the interim by doing a cast to `uint8` or something inside `_gather_extended_gold_tokens`, wherever the failure is happening.

I am surprised, though, that you can't fix thi

[2019-11-15 18:58] matt-gardner commented on #3454
Can you share what version of allennlp you're using?  It looks to me like the issue is that you're using a version of the jsonnet file from master, but you're using code from a release.  We've changed how tokenizers are structured a little bit, and to use the most recent jsonnet file, you need to use the latest master.

[2019-11-15 23:12] matt-gardner commented on #3450
Specifically, what needs to be done here is make a mismatched tokenizer / token indexer for the case where you want to tokenize with words, but do modeling with wordpieces / some pretrained transformer.  We originally did this just for BERT (because that's all that was available), but we should do it generally for all pretrained transformers.

[2019-11-15 23:21] schmmd commented on #2473
I plan to try `conda install -c conda-forge jsonnet` and I'm considering updating our instructions to make it the default.

[2019-11-15 23:50] maksym-del opened #3456 "Pretrained vocabulary from transformers is sometimes not saved in our Vocabulary object"
We only add tokens from pretrained vocab from ``transformers`` lib if the tokenizer has ``vocab`` key inside. https://github.com/allenai/allennlp/blob/88fe0075c28babb20f076c43f932b77d80ce81a3/allennlp/data/token_indexers/pretrained_transformer_indexer.py#L62

This is not the case for all models in the lib and I did not find a unified ``get_vocab`` method in huggingface code.
Anyways, the tokens wi

[2019-11-16 00:04] matt-gardner commented on #3456
See also https://github.com/allenai/allennlp/issues/3097 on issues about when vocabularies are actually written to disk.  This is a separate issue, though, right?

[2019-11-16 09:24] antgr opened #3457 "custom attention vs allennlp attention"
Hi,
I have implemented the following attention function, adapting it from an, as it called "attention bi lstm" class I found,

def attention(out, hidden):
    out = out.permute(1,0,2)
    hidden = hidden.squeeze(0)
    attn_weights = torch.einsum('pqr,pr->pq', [out, hidden])
    soft_attn_weights = F.softmax(attn_weights, 1)
    new_hid = torch.einsum('pqr,pq->pr', [out, soft_attn_weights])
    re

[2019-11-16 09:28] antgr commented on #3457
I forgot: https://discourse.allennlp.org/
now my question posted there.

[2019-11-16 10:07] antgr commented on #3457
I forgot: https://discourse.allennlp.org/
now my question posted there.

[2019-11-16 13:04] reterik commented on #3443
For lack of a better representation gpt-2 seems like a tensorflow wrapper with a glorified large model with a little nn code; I was not as impressed as I would have hoped considering the publicity stint about their AI being dangerous.

Is there a way you can give me some pointers on how to grapple the code AllenNLP code base to expose the generators?

[2019-11-16 16:02] yyHaker opened #3458 "Can PretrainedTransformerTokenizer track character offset like WordTokenizer？"
**Question**

* Can PretrainedTransformerTokenizer track character offset like WordTokenizer？
 Since character offset is important to calculate answer span after wordpiece tokenization？

[2019-11-16 17:26] reterik opened #3459 "Merge allennlp-demo Frontend Repository"
I know that the demo code versus the Python library or command line application has always been a confusing aspect of the AllenNLP repositories.  Which one to use it what use cases, or even merging and or deprecating the demo code repository might be an idea for 1.0.0.  If you are splitting or forking for 1.0.0 consider making deployment options more clear in the documentation/course.

https://git

[2019-11-17 03:55] maksym-del commented on #3456
Yes, I think they are separate. This one is about correctly getting BERT vocab into our Vocabulary object while https://github.com/allenai/allennlp/issues/3097 is about saving the vocab to disk.

[2019-11-17 17:26] apmoore1 opened #3460 "Top Layer Only for LanguageModelTokenEmbedder"
Problem:
It would be nice to have the option to only have the top layer output from the [LanguageModelTokenEmbedder](https://github.com/allenai/allennlp/blob/master/allennlp/modules/token_embedders/language_model_token_embedder.py#L18-L191) so that fine tuning similar to BERT can be performed. As at the moment if you want to fine tune you are also fine tuning the scaling parameter and using a weig

[2019-11-17 21:32] matt-gardner commented on #3460
Why do you need this?  What model are you trying to use?  I'm asking because most of the uses I can think of we already cover with other classes, and it'd be better to point you to existing code than to add new (unnecessary) functionality.

[2019-11-17 22:09] matt-gardner commented on #3457
I responded [on discourse](https://discourse.allennlp.org/t/custom-attention-vs-allennlp-attention/131/2).  Closing this issue as it's a question, not a bug or feature request, and it's duplicated on discourse.

[2019-11-17 22:09] #3457 closed

[2019-11-17 22:12] matt-gardner commented on #3443
I would guess that using the `transformers` implementation of GPT2 would be a much easier starting place than trying to do some kind of tensorflow integration.  We already have `pretrained_transformer` pieces implemented here, so the fine tuning is just a matter of getting the right model implemented.

[2019-11-17 22:13] matt-gardner commented on #3458
This is a TODO in the code.  I know that the huggingface repo has code to train SQuAD models, so there must be a way to do this calculation in that repo, but I haven't looked at the code to figure it out.  Contributions welcome!

[2019-11-17 22:15] matt-gardner commented on #3459
We will definitely not be merging the front end code into this repository.  We originally had it in here, and split it out on purpose.  I don't see much point to having the front-end code in here, and having all of the python dependencies for running a backend server just bloats the core repository for no good reason.

[2019-11-17 22:15] #3459 closed

[2019-11-17 22:55] apmoore1 commented on #3460
It was mainly to compare the performance of a ELMO Transformer model with a BERT based Transformer model from the huggingface library when both were being fine tuned.

I am currently using this in my own code based where I have some custom AllenNLP models for Target/Aspect Based Sentiment Analysis. The main reason for doing this was to replicate someone else's results when using their domain speci

[2019-11-17 23:25] apmoore1 opened #3462 "Scalar Mix and Requires grad to PretrainedTransformerEmbedder"
To use the [PretrainedTransformerEmbedder](https://github.com/allenai/allennlp/blob/master/allennlp/modules/token_embedders/pretrained_transformer_embedder.py#L9-L26) in a feature based/scalar mix approach rather than fine tuning the top layer which is only what you can do currently I believe.

Further more I think the current implementation also does not consider the `attention_mask` that is an o

[2019-11-18 01:33] vudaoanhtuan opened #3463 "How to use greedy search in evaluation step in ComposedSeq2Seq module"
I build Transformer model with ComposedSeq2Seq module. In AutoRegressiveSeqDecoder module, I use `beam_size=3`, so when I training model, the evaluation step take more time than training step, I try `using beam_size=1` but evaluation step is still very slow. Are there anyway to use greedy search in evaluation step when training model (but still use beam search in testing step)? Thank you!

[2019-11-18 09:23] acriptis commented on #3454
@matt-gardner, Yes, indeed, I've installed the allennlp as `pip install allennlp` and config used from master.

`allennlp==0.9.0`

[2019-11-18 09:26] acriptis commented on #3454
Is it correct to use "word" attribute there for version 0.9.0?

How to specify in the jsonnet config frequency and location for the model to be saved? (My model is trained for weekend by I don't see any `model.tar.gz` file in output directory. Only logs for tensorboard. It seems that if I push Ctrl-C i miss all results of training :-\ )

[2019-11-18 15:33] matt-gardner commented on #3454
You should probably just check out the file from version 0.9.0 - there was another layer of nesting in that version, and you should probably use the original tokenizer - using spacy to tokenize things when the original just used whitespace will give you a slightly different result.

Can you `ls` the output directory?  If it was training for a weekend and got through more than one epoch, there shou

[2019-11-18 18:20] DeNeutoy commented on #3462
Hi!

To keep things simple, I think we won't accept this contribution as it's not widely used. It should be straightforward to implement yourself though, as you have described.

Your point about the masking seems like a bug though. I'll open another issue for that.

[2019-11-18 18:20] #3462 closed

[2019-11-18 18:31] DeNeutoy opened #3465 "PretrainedTransformerEmbedder does not pass masks to *transformer models"
The huggingface repo accepts masks, we should definitely be passing them

https://github.com/huggingface/transformers/blob/master/transformers/modeling_bert.py#L629

https://github.com/allenai/allennlp/blob/master/allennlp/modules/token_embedders/pretrained_transformer_embedder.py#L25

[2019-11-19 08:19] acriptis commented on #3454
@matt-gardner I've checked my config. my config differs from the https://github.com/allenai/allennlp/blob/v0.9.0/training_config/bidirectional_language_model.jsonnet with missing key
[code]
Do you know if it fatal and I should restart process with this config values?

As well I changed `max_instances_in_memory = 10000 * NUM_GPUS,`
`"batch_size": 128 * NUM_GPUS,`, after avoiding memory errors.

I h

[2019-11-19 11:58] detuvoldo opened #3467 "How to know when AllenNLP Open Information Extraction will produce more than 2 arguments when extracting triples from a sentence?"
I try to use AllenNLP OIE, and the result it produced looks great. However, I don't know when it will produce triples with more than 2 arguments.

Can anyone give me an explanation?

Thanks a lot.

[2019-11-19 17:46] DeNeutoy commented on #3467
Hi, the model is a neural sequence tagger, so it is not possible to know when it will produce more than two arguments for a given predicate. In general, for open IE, this will depend on the sentence, so it is not really possible to know this upfront. Sorry!

[2019-11-19 17:46] #3467 closed

[2019-11-19 17:49] matt-gardner commented on #3454
I don't know which tokenization is better for your application; I'd recommend looking at the output of the tokenizer in both cases (and maybe some other options also, like a Russian-specific tokenizer), and deciding which one looks best for you.

As far as how long to make each epoch, you definitely don't want to have one epoch be one full pass through 30GB of data.  I don't have good intuitions f

[2019-11-19 21:12] maksym-del opened #3469 "[Feature request] Gradient Accumulation"
There are two PRs for this opened back in summer (https://github.com/allenai/allennlp/pull/2721, https://github.com/allenai/allennlp/pull/3051) but no open issue. This feature is crucial to reproduce finetuning results for some recent pretrained transformers. Is it anywhere on the radar to incorporate this feature?

[2019-11-19 21:40] beneyal opened #3470 "BERT option for SrlReader causes SemanticRoleLabeler to crash during training"
When trying to train `allennlp.models.semantic_role_labeler.SemanticRoleLabeler` using instances that were created with `allennlp.data.dataset_readers.semantic_role_labeling.SrlReader(bert_model_name="<model>")`, the training crashes with the following traceback:

[code]

This happens when `<model>` is either `bert_base_uncased`, `bert_base_cased`, or `multi_cased_L-12_H-768_A-12` (which I downloa

[2019-11-19 23:15] #3356 closed

[2019-11-20 03:05] yyHaker opened #3471 "AttributeError: 'list' object has no attribute 'count_vocab_items'"
**Describe the bug**
Hi, I want to load SQuAD data for Bert to train, my SQuAD dataset reader is as follows, [squad_bert.py](https://github.com/yyHaker/AllenNLPNeedsMoreLove/blob/master/src/data_loader/squad_bert.py), and I use based Bert model as [bert_for_span_qa.py](https://github.com/yyHaker/AllenNLPNeedsMoreLove/blob/master/src/models/bert_for_span_qa.py). However, when I test DatasetReader,

[2019-11-20 05:03] DeNeutoy commented on #3470
You need to use the corresponding `SrlBert` model:

https://github.com/allenai/allennlp/blob/master/allennlp/models/srl_bert.py

[2019-11-20 06:50] beneyal commented on #3470
That worked, thanks!

[2019-11-20 06:50] #3470 closed

[2019-11-20 08:02] detuvoldo commented on #3467
Thanks for your response.

I have one more question. What is the standard for a sequence being tagged as ARG2, ARG3, ...
And also what is the meaning of BV tag.

Normally, ARG0 and ARG1 are main entities of the sentences, and V is the predicate.
I do not really get the meaning of BV and ARG with index larger than 2.

[2019-11-20 14:56] acriptis commented on #3454
@matt-gardner thanks Matt for your help!

[2019-11-20 14:56] #3454 closed

[2019-11-20 15:51] beneyal opened #3472 "SrlBert not reporting precision, recall, F1"
When training the `SrlBert` model, I'm not getting metrics such as precision, recall, and F1 during validation. I'm also not getting those metrics when using `allennlp evaluate`.

**To Reproduce**
Run the follwing code:

[code]

**Expected behavior**
I expect to see the metrics mentioned above.

**System (please complete the following information):**
 - OS: Ubuntu 18.04.3
 - Python version: 3.7.5

[2019-11-20 20:14] iglee commented on #3455
Hi Matt,

Thanks for writing back to me.  I was able to resolve this by casting the tensor (matches) as double on my local machine.  I'll try to do the same in SageMaker and see if that works as well.  I think you're right that this is a pytorch issue, and not the issue with the package.

Thanks!

[2019-11-20 20:48] DeNeutoy commented on #3471
This line is appending the tokens and not the allennlp `Field` class:
https://github.com/yyHaker/AllenNLPNeedsMoreLove/blob/master/src/data_loader/squad_bert.py#L251

Instances must contain only a dictionary of allennlp `Fields`, which is why this won't index correctly. That line just needs to be changed to:
[code]

The reason why your example script worked is because you are not calling `instance

[2019-11-21 13:49] Simons2017 opened #3475 "I want to train a sequence_tagging model by fine tuning BERT. How to write a configuration file ？"

[2019-11-21 17:36] #3460 closed

[2019-11-21 23:29] ameliatqy opened #3476 "Generalizing 'self-attention' module to 'attention' module"
I have been using your self-attention module heavily (i.e. MultiHeadSelfAttention). It is great but I would like a module that is able to 'attend' on an external piece of text rather than just on itself, just as described in the KNOWBERT paper (https://arxiv.org/abs/1909.04164).

As such, I went ahead and created a module that is able to perform both intra- and inter-attention based on the existin

[2019-11-22 01:10] yyHaker commented on #3471
@DeNeutoy Thank you very much, it's the problem!

[2019-11-22 01:10] #3471 closed

[2019-11-22 01:40] DeNeutoy commented on #3476
Thanks! It sounds interesting, but unfortunately the mechanics of this are not straightforward and it would be difficult to make a module that would support a general use case. As such, please feel free to implement it and release it in a separate repo, but I'm not sure that this is something that we would accept as a contribution. Thanks for the offer though!

[2019-11-22 03:24] nelson-liu commented on #3469
Agreed that this seems pretty crucial in the modern age of large LMs (and associated OOMs). It looks @ibeltagy also might have a version of this in his fork that was used for scibert?

[2019-11-22 03:42] HarshTrivedi commented on #3469
[This](https://github.com/allenai/allennlp/pull/3051) is usable pretty much as is if you are okay with using `CallbackTrainer `.

[2019-11-22 09:19] acriptis opened #3479 "What does produce model.tar.gz file during Transformer ELMO training?"
I'm trying to train Transformer ELMO with this tutorial on my own dataset: https://github.com/allenai/allennlp/blob/master/tutorials/how_to/training_transformer_elmo.md#training

My training has finished the first epoch and I see the content of the output directory as:
![191122_elmo_transformer_files](https://user-images.githubusercontent.com/2207706/69412731-87ff6e00-0d20-11ea-8244-b27f2a687428.p

[2019-11-22 09:31] zzj0402 commented on #3443
Hi all, give a to-do list and I will be happy to chip in.

[2019-11-22 12:58] acriptis commented on #3479
I found that model.tar.gz is created after 10 epochs (or after finishing the learning).
And given a completed epoch, you can construct model.tar.gz from `best.th`, `config.json` and `vocabulary` with command like:
`tar -czvf model.tar.gz -C model .` (asssumed that the specified files are in the folder with name `model`)

[2019-11-22 12:58] #3479 closed

[2019-11-22 15:29] matt-gardner commented on #3443
First thing to do: fine-tune GPT2 on some data using an allennlp model.  There are a few things to figure out:
- What `DatasetReader` do you use?  We have some readers that are intended for language modeling, but I don't what their state is.
- What `Model` do you use?  We have a few classes that might be relevant, but I don't know which ones are usable or not for this.
- Relatedly, can this be gen

[2019-11-22 17:40] DeNeutoy commented on #3469
Yes, this is something we should just add to the default trainer. The implementation of this we have actually used internally in research projects is here: https://github.com/matt-peters/allennlp/commit/4992ed63137f8c66b0af4fbe3619ad0ca4085ccc

I'm not a fan of #3051 because it requires adding lots of variables to the base `CallbackTrainer` class, which was explicitly not the point of making the c

[2019-11-22 21:27] DeNeutoy commented on #3472
I think this is probably because the path for the SRL perl script evaluation is wrong... I'm not sure what it resolves to if the entry point isn't running `allennlp`.

https://github.com/allenai/allennlp/blob/master/allennlp/training/metrics/srl_eval_scorer.py#L17

[2019-11-22 21:28] #3476 closed

[2019-11-22 21:29] DeNeutoy commented on #3366
These questions are best asked on our forum, as they are not related to library development. https://discourse.allennlp.org/

[2019-11-22 21:29] #3366 closed

[2019-11-22 21:30] beneyal commented on #3472
I'm also not getting those metrics when using `allennlp train`. Could it be that my validation dataset is too small? Or my results so bad that I'm getting zeros?

[2019-11-22 22:38] DeNeutoy commented on #3472
oh, so it prints them out but they are zero?

[2019-11-22 22:41] beneyal commented on #3472
Yeah. I'm getting this line:
[code]
in both training and validation. The metrics just stay at zero. I know they're supposed to be zero during training, but it's weird they stay zero during validation...

[2019-11-22 22:50] nelson-liu commented on #3472
what happens if you `allennlp evaluate https://s3-us-west-2.amazonaws.com/allennlp/models/bert-base-srl-2019.06.17.tar.gz <data path here>`?

[2019-11-22 23:07] beneyal commented on #3472
When I'm running `allennlp evaluate https://s3-us-west-2.amazonaws.com/allennlp/models/bert-base-srl-2019.06.17.tar.gz conll-2012/data/train/data/english/annotations/bc/cctv/` (`conll-2012` folder is where my OntoNotes 5.0 in CoNLL format is located), I'm getting a `KeyError: '@@UNKNOWN@@'`.

[2019-11-22 23:07] DeNeutoy commented on #3475
Hello! We have a test fixture which has an example of how to use the BERT token embedder here:

https://github.com/allenai/allennlp/blob/master/allennlp/tests/fixtures/bert/bert_for_classification.jsonnet

You would need to combine it with this config file (for example) to do a sequence tagging task:

https://github.com/allenai/allennlp/blob/master/training_config/ner.jsonnet

[2019-11-22 23:10] DeNeutoy commented on #3472
What is the loss in your example? Is it non-zero? Can you post the full stack trace for that `KeyError`?

[2019-11-22 23:12] beneyal commented on #3472
In my example, the loss is indeed non-zero, only the metrics are zero.

The stack trace for the `KeyError`:

[code]

[2019-11-22 23:15] DeNeutoy commented on #3469
Overall we will likely get this done by the end of the year - if someone is willing to add this to specifically:

- The default trainer
- With some tests
- With an implementation that is agnostic to the iterator used by the trainer (i.e gradients from batches which are not a fixed size can be accumulated and applied)

We will review this quickly and be active in helping it into the library (cc @ne

[2019-11-22 23:24] DeNeutoy commented on #3463
Hi, you can use the `--overrides` flag when you run `allennlp evaluate` to override specific parameters in your configuration file.

[2019-11-22 23:24] #3463 closed

[2019-11-22 23:24] DeNeutoy commented on #3455
Great!

[2019-11-22 23:24] #3455 closed

[2019-11-22 23:37] DeNeutoy commented on #3472
looks like the dataset reader has a bug in for whatever data you are using, as this is not a valid label:
B-ARG1(R-ARG2

[2019-11-22 23:46] beneyal commented on #3472
Weird, because I can use `allennlp.data.dataset_readers.semantic_role_labeling.SrlReader` just fine to read the contents of the same directory:

[code]

[2019-11-22 23:54] DeNeutoy commented on #3472
Yes - but look at that label. Just because the reader doesn't crash, it doesn't mean it is working correctly. I'd recommend you try to figure out where that label is coming from and correct it - probably by adding in some checks within the SRL reader itself, or just by searching for the token in the set of files you are trying to load.

[2019-11-23 00:45] beneyal commented on #3472
OK, so I recreated the dataset using the OntoNotes instructions instead of the CoNLL 2012 instructions and now the mode is evaluating. I definitely see the metrics: F1 is 1.00 and loss is 0.00.

[2019-11-25 07:13] yyHaker opened #3480 "AttributeError: 'PretrainedBertIndexer' object has no attribute 'wordpiece_tokenizer'?"
**Describe the bug**
I want to use Bert to fine-tuning SNLI tasks, my dataset reader is as [snli_bert.py](https://github.com/yyHaker/AllenNLPNeedsMoreLove/blob/master/src/data_loader/snli_bert.py), and my config file is as [snli_bert.jsonnet](https://github.com/yyHaker/AllenNLPNeedsMoreLove/blob/master/src/config_file/snli_bert.jsonnet), I just run [train.py](https://github.com/yyHaker/AllenNLPNee

[2019-11-25 13:53] abhiksark commented on #1982
How did you solve this?

[2019-11-25 16:10] #3472 closed

[2019-11-25 19:53] essandess opened #3481 "Dependencies out-of-date: pytorch-pretrained-bert, pytorch-transformers, BertAdam, conllu, overrides"
These dependencies are all out-of-date:

* pytorch-pretrained-bert* → transformers
* pytorch-transformers* → transformers
* BertAdam → AdamW
* conllu== → conllu>=
* overrides== → overrides>=

For reference, see code edits at this MacPorts PR, https://github.com/macports/macports-ports/pull/5862

https://github.com/macports/macports-ports/blob/25bcfba5003b27ad91f3e3bc1716162496686988/python/py-alle

[2019-11-26 00:08] TalSchuster opened #3482 "user gallery - neutrality masker"
1. Put your code in a GitHub repo with instructions for running it
- https://github.com/TalSchuster/TokenMasker

2. Publish a paper or host it on arXiv (ideally)
- https://arxiv.org/pdf/1909.13838.pdf (Automatic Fact-guided Sentence Modification AAAI 2020)

3. Host the trained model.tar.gz file somewhere accessible by HTTP
- https://www.dropbox.com/s/do5jptwmgroencn/model.tar.gz

4. Open an issue

[2019-11-26 01:07] JohnGiorgi commented on #3435
Sorry, I am still confused on how to use a [`PretrainedTransformerIndexer`](https://allenai.github.io/allennlp-docs/api/allennlp.data.token_indexers.html#pretrained-transformer-indexer) as the encoder of a encoder-decoder model without running into issues because of `START_SYMBOL` and `END_SYMBOL`.

I am using the [`Seq2SeqDatasetReader`](https://allenai.github.io/allennlp-docs/api/allennlp.data.d

[2019-11-26 02:05] brendan-ai2 commented on #3481
Hi @essandess, thanks for the heads up. I'm somewhat surprised that the direct search and replace you performed via the MacPorts repo worked. My understanding is that there are some non-backward compatible changes with, e.g., the pytorch-pretrained-bert* → transformers transition. Were you able to get our unit tests passing? If so, that might be a sign we need to improve coverage...

[2019-11-26 02:14] essandess commented on #3481
Yes, all the unit tests worked, and the tutorials too.

BTW, that transformation above is shorthand for the slightly more nuanced regex used in the Portfile.

[2019-11-26 02:19] essandess commented on #3481
Also, I didn’t dig into the new transformers structure very deeply, but it was clear that various objects are defined across multiple scopes. You may wish to keep the scopes you have where appropriate, rather than flatten everything like I did.

[2019-11-26 02:30] brendan-ai2 commented on #3481
Thanks for the info. I'll definitely take a look at our tests. In the meantime, I would caution against releasing what you have. https://github.com/huggingface/transformers#migrating-from-pytorch-transformers-to-transformers pretty clearly demonstrates some backwards incompatible changes.

[2019-11-26 07:17] zhuango opened #3484 "What is the dataset for open information extraction pretrainined model privided by allennlp"
I'm working on open information extraction task and I would like to know what is the dataset used to obtain the openie pretrained model at https://allennlp.s3.amazonaws.com/models/openie-model.2018-08-20.tar.gz.

I checked the config.json file contained in the above .tar file and find :
"train_data_path": "/inputs/training/nary_100k",
"validation_data_path": "/inputs/validation/nary"
which are not

[2019-11-26 07:44] 96koushikroy opened #3485 "BERT for Classification trainable parameter"
I was going through the code for BERT for Classification from the link below:
https://github.com/allenai/allennlp/blob/master/allennlp/models/bert_for_classification.py

The class constructor takes in a parameter called **trainable** which if set as false would set all the trainable parameters of all the layers as frozen except for the last linear pooling layer.

But from the code in:
https://gith

[2019-11-26 08:37] sedflix opened #3486 "use multiple trainers simultaneously"
**System (please complete the following information):**
 - OS: Linux
 - Python version: 3.6.8
 - AllenNLP version: v0.9.0 (Docker Image)

**Question**

I'm working on training my own cross-lingual model. I've multiple training head, one for each language, and I want to train them in parallel.

Is it possible to apply trainers on more than one loss(or something other than `loss`) simultaneously?
Ri

[2019-11-26 13:43] essandess commented on #3481
Thanks. MacPorts is on transformers 2.1.1, and unlike pip or other tools, it’s a major PITA to install version specific releases, so for better or worse, we’re at the bleeding edge. For NLP models these days, that’s pretty much where you have to live anyway.

That said, please post if you see any major breakage using transformers v2.1.1 with allennlp 0.9.1-prerelease.

[2019-11-26 14:59] matt-gardner commented on #3435
I'm not sure how people do decoding with transformers these days; I don't really have any experience with it.  If you really want to use BERT (or whatever transformer) as the decoder, you probably want to set things up a little differently than we have them, but I'm not really sure in what ways.

With this code, it seems like you have two options:

1. Use a different target indexer (e.g., a `Singl

[2019-11-26 17:06] JohnGiorgi commented on #3435
Thank @matt-gardner, point 1 was exactly the advice I was looking for. I actually only want the pretrained-transformer as encoder, and to keep the decoder as the default LSTM implemented in `SimpleSeq2Seq`.

Using `SpacyTokenizer` + `SingleIdTokenIndexer` as my target tokenizer and token indexer fixed the issue.

[2019-11-26 18:41] bratao opened #3487 "How to train the OpenIE model"
Hello,
First of all thank you for this amazing library. I'm trying to train the OpenIE model with my own dataset, but I cannot make it work. There is any example how I can do that?

@gabrielStanovsky

[2019-11-26 19:41] aligholami opened #3488 "Fields with None type inside?"
Hi. What happens if we have a testing scenario where `labels` have a value of `None` in the official example `academic_paper_classification`? Is there any DataField that can keep None values inside?

I am implementing this model for a simple comment classification task and I have the following `text_to_instance` method:
[code]
For the training data, since there are indeed labels available, there w

[2019-11-26 19:59] aligholami commented on #3488
I think I should consider using `predictors` for my test data. Is that correct?

[2019-11-26 21:10] brendan-ai2 commented on #3484
@gabrielStanovsky, could you chime in here? Thanks!

[2019-11-26 21:17] brendan-ai2 commented on #3485
Yes, I believe that the linear layer the documentation refers to is in fact the classification given here: https://github.com/allenai/allennlp/blob/master/allennlp/models/bert_for_classification.py#L83

[2019-11-27 02:08] zhmd commented on #2725
Many thanks to @matt-gardner, for sharing this solution!
However, I'm wondering if we hack the DatasetReader with lazy=True as you described here, then we need to use two separate dataset reader objects for "train" and "validation" dataset, rather than a single object to read two different datasets (as in tutorial). Is that correct?
Also, I'm curious if it's more convenient/possible to extend an "

[2019-11-27 06:39] susht3 commented on #1982
yes，but i forget。。

[2019-11-27 08:48] mojesty commented on #2725
Usually you want validation dataset to be without any augmentation, in order to test on a real (not augmented data).
Regarding the negative sampling, I usually do it in my DatasetReader and control it with a special hyperparameter that I tune with other hyperparameters.

[2019-11-27 15:33] TheresaSchmidt commented on #3423
For me, this only works with "sentence" as key. Also, the maximal number of sentences per file is determined by the batchsize.

[2019-11-27 15:54] TheresaSchmidt commented on #1095
(1) Doesn't work for  me. They key that predict exects is "sentence" and not "source". Also, the number of lines in the input file is determined by the batch size of the model.

[2019-11-27 16:44] TheresaSchmidt commented on #1985
But what should this JSONL look like?

[2019-11-27 17:05] TheresaSchmidt opened #3489 "Using dataset reader at prediction time"
**System:**
 - OS: [Linux, Windows 7]
 - Python version: [3.7]
 - AllenNLP version: [0.9.0]
 - PyTorch version: 1.3.0

**Question**
If I use the dataset reader to read in the data for the predictor, what part of the data is taken into consideration for the prediction?

For example, I'm using the conll2003 predictor. If I provide POS-tag in the data to predict, do they make a difference in the outc

[2019-11-27 17:29] zhmd commented on #2725
Thanks @mojesty ! Yes you are right, I only need to perform negative sampling for the training set, but still, I have to create another dataset reader object for validation dataset. (I actually use a flag in my custom dataset reader class to indicate whether it performs augmentation or not, so only for training the flag is on.) Just want to make sure if I missed something here.
Also, if you could

[2019-11-27 17:35] TheresaSchmidt opened #3490 "Predictor for allennlp.tools.drop_eval.evaluate_prediction_file"
**System (please complete the following information):**
 - OS: [Windows 7, Linux]
 - Python version: [3.7]
 - AllenNLP version: [0.9.0]
 - PyTorch version: 1.3

**Question**
Hi there,
I'm looking for a predictor that has the same output format that I would need as input for allennlp.tools.drop_eval.evaluate_prediction_file. Is there one I can use?
Thanks in advance!

[2019-11-28 01:05] brendan-ai2 commented on #3490
@matt-gardner, could you field this one?

[2019-11-28 01:19] brendan-ai2 commented on #3488
Hi @aligholami, I believe you can just leave `fields['label']` unset for the test case. The corresponding keyword argument passed to `Model.forward` will be `None` in that case. Predictors are a different issue. They can be helpful for building a demo of your system, for instance, but they're not needed if you're just evaluating some metrics.

[2019-11-28 01:24] brendan-ai2 commented on #3486
Hi @sedflix. Averaging multiple losses sounds like a reasonable way to approach this to start. IIRC correctly this can get trickier if your datasets or losses are unbalanced. We have some proof-of-concept code for multi-task training that you could peek at here: https://github.com/allenai/allennlp/blob/master/allennlp/tests/training/multi_task_trainer_test.py But that shouldn't be considered produ

[2019-11-28 02:15] matt-gardner commented on #3490
I believe we've used this code to produce an output file for the leaderboard: https://github.com/allenai/drop-leaderboard-example/blob/master/predict.py.

[2019-11-28 07:54] #3485 closed

[2019-11-28 17:13] c0ntradicti0n opened #3492 "Install via pip misses files from data.tokenizers"
**Describe the bug**
I installed the 0.9.0 and 0.8.5 via pip install and I could not find the tokenizers
I managed it by installing from git manual.

**To Reproduce**
```pip install allennlp```

**Expected behavior**
At least spacy tokenizer in `allennlp/data/tokenizers`, shouln't it be there?

**System (please complete the following information):**
 - OS: Linux, Debian
 - Python version: 3.7.5rc

[2019-11-29 01:44] aligholami commented on #3488
@brendan-ai2 Got it! Thanks!

[2019-11-29 01:44] #3488 closed

[2019-11-29 02:20] aligholami opened #3493 "PositionalEncoding changes to dict during the runtime"
Hi. I got a problem with performing a simple `PositionalEncoding` on top of my embeddings.
Here is my code for `model.py`:
[code]

and here is my `config.json` file:

[code]
and I get the following error, which is very wired:

[code]

[2019-11-29 06:56] Simons2017 opened #3494 "Data one to one correspondence"
My command is:
python -m allennlp.run predict model.tar.gz pred.txt --output res.txt --cuda-device 0 --batch-size 50
I want to make the data in pred.txt and res.txt one to one correspondence, how do I achieve it.

[2019-11-29 07:02] #3494 closed

[2019-11-29 09:02] Simons2017 opened #3495 "About word segmentation"
When I test a Sequence tagging task，the count of the data in output file is different from the data in test set. I find the word " 've " in the test set is divided into two words “ ‘ ”，“ve” in the output file. How can I fix it?

[2019-12-01 07:16] dwaydwaydway opened #3496 "FileNotFoundError when loading SNLI dataset"
I encountered FileNotFoundError when loading SNLI test set while it should exist (I was able to download the file using the url)
[code]

[code]

btw loading the dev set runs without error
[code]

[2019-12-02 04:12] lwgkzl opened #3497 "running in train or in evaluate ?"
Is there any guard that marks whether the current code is running in train  or in evaluate ?
when my model is running in evaluate,i want add some code in "forward" function,
thank you!

[2019-12-02 08:22] qiuwei opened #3498 "PretrainedBertIndexer and PretrainedBertEmbedder not properly archived"
**Describe the bug**
I have a model that uses the PretrainedBertIndexer and PretrainedBertEmbedder in the embedding layer.
The pretrained_model parameter for the PretrainedBertEmbedder is specified as a path to a homebrewed bert model.

The training and evaluation went smoothly. However, I can not use the model on a second machine.
When loading the model using  simple_server, I got the following e

[2019-12-02 20:57] bratao commented on #3484
@zhuango did you find out? Can you share how you was able to train even using the OIE2016 corpus?

[2019-12-03 03:52] wjn922 commented on #2164
@mataney Hi, if I want to resume training, whether the loss weights states will be loaded?

[2019-12-03 06:30] scarecrow1123 opened #3499 "Potential OOM while loading best model state?"
At the end of a training, `trainer.model` is updated with the best model state by calling `checkpointer.best_model_state()` ([here](https://github.com/allenai/allennlp/blob/master/allennlp/training/checkpointer.py#L172)) . This method returns the state as follows:

[code]

Wouldn't it be better to load the state onto the CPU and return it? Since a `model.load_state_dict` would be called on this re

[2019-12-03 06:32] zhuango commented on #3484
Hi @bratao, I still wait for reply from @gabrielStanovsky about the data set.
I used preprocessed corpus (.conll) at [supervised-oie/supervised-oie-benchmark](https://github.com/gabrielStanovsky/supervised-oie/tree/master/supervised-oie-benchmark/oie_corpus), which is from this [corpus](https://github.com/gabrielStanovsky/oie-benchmark/blob/master/snapshot_oie_corpus.tar.gz) and this [script](http

[2019-12-03 06:36] scarecrow1123 commented on #3497
AllenNLP's `Model` class extends PyTorch's `nn.Module`, hence you can use the flags provided by it. So you can do something like:

[code]

[2019-12-03 09:19] lwgkzl commented on #3497
Thank you very much@_@

[2019-12-03 09:19] #3497 closed

[2019-12-03 12:12] bratao commented on #3484
Thank you!!

[2019-12-03 12:41] nebhandari opened #3500 "Issue in best action sequence"
For the question -  what is the Client Operating Group of ABC?

Best action sequence is -
['@start@ -> List[str]', 'List[str] -> [<List[Row],StringColumn:List[str]>, List[Row
], StringColumn]', '<List[Row],StringColumn:List[str]> -> mode_string', 'List[Row] -> [<List[Row]:List[Row]>, List[Row]]',
'<List[Row]:List[Row]> -> first', 'List[Row] -> [<List[Row],StringColumn,List[str]:List[Row]>, List[Ro

[2019-12-03 12:58] mojesty commented on #3489
You can train NER model without any additional features, e.g. chunks and pos tags, then you can use `SentenceTaggerPredictor` class and its method `predict_json` which gets a dictionary with "sentence" key in it.
If you opt for additional features, not only you will need your own predictor, but also during runtime you should get these features first, e. g. calling another predictor before calling

[2019-12-03 14:09] #3496 closed

[2019-12-03 14:09] dwaydwaydway commented on #3496
brain fart

[2019-12-03 16:26] matt-gardner commented on #3500
This is unfortunately a problem with the statistical model, not a problem with the code.  Figuring out how to more consistently get the correct action sequence is a research problem, not something we can help with.  These models are not intended for production use, they are examples / baselines / reference implementations of research.

[2019-12-03 16:26] #3500 closed

[2019-12-03 21:13] brendan-ai2 commented on #3469
Previous issue on this topic: https://github.com/allenai/allennlp/issues/2112

[2019-12-03 22:48] schmmd commented on #3469
@DeNeutoy @brendan-ai2, @dirkgr is going to add gradient accumulation to the default trainer.

Also, if an external contributor is currently working on this please speak up so we can coordinate.

[2019-12-04 11:50] poulamic23 opened #3502 "AllenNLP -- Training a new model"
@matt-gardner : Could you kindly confirm if the dataset in the following link was used to create the wikitables model.
https://github.com/ppasupat/WikiTableQuestions/releases (WikiTableQuestions-1.0.2-compact.zip)

If yes, could you guide me on how to train it.

[2019-12-04 17:36] matt-gardner commented on #3502
@pdasigi is the one who has details on how to train the model, though he's probably a bit occupied until after the ACL deadline (Dec. 9).  Also, the code has moved to the `allennlp-semparse` repo.  If you haven't heard from us a few days after the deadline, feel free to ping us again.  If you're also trying to meet the ACL deadline, you could email Pradeep directly to get his attention faster, tho

[2019-12-04 17:46] pdasigi commented on #3502
@poulamic23 Yes, that is the dataset.
Here are some instructions for training the model: https://github.com/allenai/allennlp/issues/3333#issuecomment-541822625
Let me know if you have anything is unclear. I've been meaning to post these instructions somewhere in `allennlp-semparse`, but didn't get to it yet.

[2019-12-04 18:13] #3333 closed

[2019-12-05 18:54] willfrey opened #3504 "Unable to install the master branch with poetry due to incomplete pyproject.toml"
**Description of the bug**
I'm unable to install the master branch directly from GitHub with [poetry](https://github.com/sdispater/poetry) due to an incomplete [pyproject.toml](https://github.com/allenai/allennlp/blob/master/pyproject.toml) file. According to https://github.com/sdispater/poetry/issues/1678, the `[tool.poetry]` section lacks the mandatory keys `version`, `description`, and `authors

[2019-12-06 07:35] ChineseYjh opened #3505 "Can I install old version of AllenNLP to make it compatible with cuda9.0"
- OS: Linux
 - NVIDIA Driver version = 384.130(seems like **only supporting cuda9.0 or lower**)
 - Python version: 3.6.1
 - AllenNLP version: 0.9.0
 - PyTorch version: 1.0.1(Before I install AllenNLP)

### Q: Can I make AllenNLP compatible with my NVIDIA Driver?
It seems that AllenNLP requires torch >= 1.2.0, which requires cuda>=9.2. But my driver seems to **only supporting cuda9.0 or lower**, an

[2019-12-06 15:08] cemilcengiz commented on #3233
I got the same error while I was trying to "further fine-tune" a base BERT model on a classification task, where the model was first fine-tuned on a sequence labeling task.

[2019-12-06 15:23] maksym-del commented on #3233
The problem is that the BERT vocab is currently doesn't get saved to disk after you train a model (see https://github.com/allenai/allennlp/issues/3097). ``fine-tune`` wants to load vocabulary from disk and doesn't find it. It should be fixed as soon as https://github.com/allenai/allennlp/issues/3097 is fixed.
The problem is not only with the ``fine-tune`` command but with all functionality that in

[2019-12-06 16:58] willfrey commented on #3504
If the `[tool.poetry]` section of `pyproject.toml` isn't critical, I'm happy to open a PR with my changes.

[2019-12-06 18:02] DeNeutoy commented on #3505
Hi, you can take a look at our release page:

https://github.com/allenai/allennlp/releases

You should be able to find one which supports torch < 1.2.

[2019-12-06 19:31] anchalbhalla commented on #3416
I can take a look at this issue. Can you give me more detail about the issue?

[2019-12-06 23:04] #3505 closed

[2019-12-06 23:08] brendan-ai2 commented on #3504
@willfrey, we aren't able to support very many build systems. If you'd like to submit a PR to make this better, we're happy to take a look, but we won't be able to support this in an ongoing fashion ourselves.

[2019-12-06 23:08] #3502 closed

[2019-12-06 23:12] brendan-ai2 commented on #3499
Thanks for pointing this out, @scarecrow1123. We'd be happy to take a PR.

[2019-12-06 23:14] schmmd commented on #3487
Our demo has instructions for how to train most models, but we don't have full instructions for Open IE as the dataset is closed off.

![image](https://user-images.githubusercontent.com/954798/70362808-10aafd80-183b-11ea-9a69-b08743c898a0.png)

[2019-12-06 23:15] schmmd commented on #3487
@gabrielStanovsky can you link to the training configuration for the Open IE model?

[2019-12-06 23:17] DeNeutoy commented on #3498
https://github.com/allenai/allennlp/blob/master/allennlp/modules/elmo.py#L227

The problem is that you are passing a relative path which cannot be found on the new machine. We fix this in quite a gross way in the URL above, by preserving some kind of mapping inside the archive file, and telling from params that it needs to copy a particular file into the archive. However, the easiest way to do thi

[2019-12-06 23:17] brendan-ai2 commented on #3495
Hi @Simons2017, it sounds like you're tokenizing your data when it's already pretokenized. You should be able to fix this by simply not tokenizing. Are you using one of our models? We can give you more detailed advice if you let us know more specifics like your model and config.

[2019-12-06 23:20] brendan-ai2 commented on #3493
Hi @aligholami, it looks like `PositionalEncoding` doesn't  inherit from `Registrable` hence the underlying config is just being passed as a dictionary. This would be pretty easy to add to this file: https://github.com/allenai/allennlp/blob/3dda5ac9fcf390d8b83eb855249360711707c11c/allennlp/modules/seq2seq_encoders/bidirectional_language_model_transformer.py#L48 Happy to take a PR for this.

[2019-12-06 23:21] DeNeutoy commented on #3492
We are currently in the process of changing this API, because it was too complicated. https://github.com/allenai/allennlp/pull/3361

[2019-12-06 23:22] #3490 closed

[2019-12-06 23:22] schmmd commented on #3492
`allennlp/data/tokenizer` is not in 0.9.0--it was called something else.

[2019-12-06 23:22] #3492 closed

[2019-12-06 23:23] brendan-ai2 commented on #3489
I think @mojesty's answer makes sense. Feel free to reopen if you have more questions here.

[2019-12-06 23:23] #3489 closed

[2019-12-06 23:23] brendan-ai2 commented on #3489
Rather, comment again! :)

[2019-12-06 23:24] #3486 closed

[2019-12-06 23:24] schmmd commented on #3487
Better yet, @bratao you can download and untar the model itself and look at the configuration file that was used to train it originally.  Please open another issue if you have additional problems.

[2019-12-06 23:24] #3487 closed

[2019-12-06 23:29] schmmd commented on #3482
Thanks for the contribution!  I just added it: https://github.com/allenai/allennlp-website/commit/e1e383cb7141c19d6495bc5e626f0dce5c59e9ea

[2019-12-06 23:29] #3482 closed

[2019-12-06 23:36] brendan-ai2 commented on #3480
Hi @yyHaker, we're going to be cleaning up our API for version 1.0 here (see https://github.com/allenai/allennlp/issues?q=is%3Aissue+is%3Aopen+transformer+milestone%3A1.0.0), so while it's possible this is a bug on our side, we're not able to invest much time now. If you could provide a minimal reproduction of the bug, we might be able to give advice for a quick fix, however. Sorry for the trouble

[2019-12-06 23:39] #3475 closed

[2019-12-06 23:52] TalSchuster commented on #3482
Thanks @schmmd.
Can you please only correct the venue to "AAAI 2020"?

[2019-12-06 23:56] schmmd commented on #3482
Done, thanks.

[2019-12-07 01:12] ChineseYjh commented on #3505
Thank you very much~

[2019-12-08 14:48] c4n opened #3507 "Does HotFlip work with sequantial tagging tasks such as NER and POS?"
Does HotFlip work with sequantial tagging tasks such as NER and POS?
I want to test the robustness of sequential taggers. Is it possible to use HotFlip?

[2019-12-08 17:47] matt-gardner commented on #3507
Yes, it is!  We did this for NER, as described in the AllenNLP Interpret paper.  The key thing is to take each decision independently and try to flip it; you need to decide how you want to break up the tag sequence into individual decisions (for NER, we did this for each predicted span).  @Eric-Wallace, do we have a tutorial that covers how to use the NER stuff we did?

Also, the last time I looke

[2019-12-09 03:11] nelson-liu commented on #3416
Sure! So, if you set `use_exclusive_start_indices  = False`, then `get_output_dim` could "lie" to you. Say you create a `EndpointSpanExtractor` with `input_dim= 10` and `use_exclusive_start_indices = False`. If you call `forward()` with a tensor of input dim `500`, the `EndpointSpanExtractor` wouldn't complain at all—you'd probably run into the error when the output of the `EndpointSpanExtractor`

[2019-12-09 06:24] c4n commented on #3507
@matt-gardner  Thank you for your reply! I will try it out. If there's a tutorial for that, it would be amazing!

[2019-12-10 01:18] #3499 closed

[2019-12-10 03:27] qiuwei commented on #3498
Thanks a lot for clarifying it.

[2019-12-10 03:27] #3498 closed

[2019-12-10 19:40] c4n commented on #3507
For NER task, It seems to work for most cases. I notice that it wouldn't work, if there's no named-entity in the input sentence. (what if, I want to the model to predict that the "O" tag is a named-entity).
<img width="1013" alt="image" src="https://user-images.githubusercontent.com/4990317/70562706-827aa280-1bbf-11ea-9c0f-b927a253e365.png">

[2019-12-10 19:53] matt-gardner commented on #3507
Yes, that is expected.  You'd have to modify code in order to make it behave that way.  The thing you would have to modify is [`predictions_to_labeled_instances`](https://github.com/allenai/allennlp/blob/master/allennlp/predictors/sentence_tagger.py) in the `Predictor`.  It currently returns one `Instance` per predicted entity; you would want to change it to something else.  I'm not sure what exac

[2019-12-10 23:49] cemilcengiz opened #3510 "Confusion on fine-tuning BERT"
Hi, I am trying to perform transfer learning experiments using pre-trained BERT base.
Specifically, lets assume my target is task T. And, I have an intermediate task I. Basically, by starting with pre-trained BERT weights, I want to conduct two experiments.
1) Directly fine-tune on T.
2) Fist fine-tune on I. Then, further fine-tune on T.
To be able to run the 2nd experiment, I had to do some hacki

[2019-12-11 04:33] willfrey commented on #3504
@brendan-ai2 I’ve opened a PR! Please take a look at your convenience.

[2019-12-11 14:14] pvcastro commented on #3479
Hi @acriptis !
I'm running this same training right now, but I'm getting no progress for the training. It's been training for 6 days now, and the only information I have is regarding the iterations. It never finished epoch 0 (first). Did you also experimented this, or did you get progress per epoch normally?
Thanks!

[2019-12-11 14:16] mojesty opened #3511 "Extending `allennlp train` command with custom functionality"
**System (please complete the following information):**
 - AllenNLP version: 0.9.0

**Question**
I want to integrate allennlp with weights&biases experiment tracker, so I would like to call some wansb-specific code before I instantiate anything from params and also I want to pass additional flag to the `allennlp train` that tells whether I try to track experiment.

Ideal solution is like this:
`al

[2019-12-12 06:28] maksym-del commented on #3480
@yyHaker you use "pretrained_transformer" tokenizer and "bert_predtrained" indexer.

You should either use both "pretrained_transformer" indexer and tokenizer, or both "bert_predtrained" indexer and tokenizer.

[2019-12-12 07:40] puneetaggarwal92 commented on #3502
@pdasigi Can you please tell how model will be saved at a specified path ?

[2019-12-12 09:15] puneetaggarwal92 opened #3513 "AllenNLP -- Training a new model"
@pdasigi Can you please tell how model will be saved at a specified path ?
Previous Referral:- https://github.com/allenai/allennlp/issues/3502

[2019-12-12 14:52] JohnGiorgi opened #3514 "Add the arguments of FeedForward to the constructor of FeedForwardEncoder"
**Is your feature request related to a problem? Please describe.**

I wanted to use the [`FeedForwardEncoder`](https://allenai.github.io/allennlp-docs/api/allennlp.modules.seq2seq_encoders.html#allennlp.modules.seq2seq_encoders.feedforward_encoder.FeedForwardEncoder) within my model. I would like to be able to initialize the encoder in my jsonnet config. However, it requires that an instance of [`

[2019-12-12 15:23] matt-gardner commented on #3514
`FeedForward` inherits from `FromParams`, which is all you need to construct it from a config file.  You don't pass a `type` argument (because there's only one class for `FeedForward`), you just use the constructor parameters.  The config should look like this:

[code]

If you have trouble using this, feel free to ask a question about how to get it to work.  But this isn't a bug or a feature that

[2019-12-12 15:24] #3514 closed

[2019-12-12 15:51] JohnGiorgi commented on #3514
Got it. This worked.

Glad I asked, thanks for the detailed response.

[2019-12-12 17:41] pdasigi commented on #3513
@puneetaggarwal92 The model will be saved as a tarball (`model.tar.gz`) in the serialization directory you specify with the `-s` flag with your `allennlp train` command. You can run `allennlp train -h` for more information.

[2019-12-12 17:41] #3513 closed

[2019-12-12 17:50] acriptis commented on #3479
Hi, @pvcastro
I have a dataset  with 30gb of texts. The algorithm had written the first epoch after a week of training on four GTX 1080Ti cards (Algorithms failed to run on 5 or more GPUS due to CUDA memory error :-( ). So you could guess how much time you may expect for the first write.

[2019-12-12 19:35] schmmd commented on #3511
Hi @mojesty I'm glad Weights & Biases is doing well.  I saw them last year at the PyTorch conference.

I also recommend against changing `allennlp train`, but it should be easy to write a script that either shells out to AllenNLP or calls the [the AllenNLP `train` command](https://github.com/allenai/allennlp/blob/master/allennlp/commands/train.py#L203) programmatically.  If you call it programmati

[2019-12-12 19:48] kunkaweb commented on #612
+1 for windows.

[2019-12-12 21:07] brendan-ai2 commented on #3502
@puneetaggarwal92, models are always saved as model.tar.gz under the serialization directory you specify to the train command.

[2019-12-12 21:14] Eric-Wallace commented on #3507
@c4n Let us know if you have other questions, happy to help. I am going to close this issue for now in the meantime.

[2019-12-12 21:14] #3507 closed

[2019-12-12 21:53] BramVanroy commented on #612
@kunkaweb It would help if you indicate what isn't working for you on Windows.

[2019-12-13 06:54] poulamic23 opened #3517 "Train a model using ALLENNLP"
![ALLEN_Train](https://user-images.githubusercontent.com/48485339/70776331-bcf06500-1da2-11ea-94ee-7a428d8fc941.png)

https://github.com/allenai/allennlp/issues/3513#issuecomment-565110195

I understand by your previous comment that allennlp train -s will help specify where to save the model.
However, it doesn't show any argument to specify the dataset path for training.

In https://github.com/all

[2019-12-13 10:53] manelAffi commented on #3517
The dataset path for training, validation and test should be specified in the config file:

`{
  "dataset_reader":{
    "type":"seq2seq",

    "source_token_indexers": {
      "tokens": {
        "type": "single_id",
        "namespace": "source_tokens"
      }
    },

    "target_token_indexers": {
      "tokens": {
        "type": "single_id",
        "namespace": "target_tokens"
      }
    }

[2019-12-13 14:28] xfwmz opened #3518 "fine-tune a trained model with different model parameters"
**System**
 - OS: Ubuntu
 - Python version: 3.6.7
 - AllenNLP version: 0.9.0

**Question**
* As far as I understand, AllenNLP fine-tune command requires a model archive, a new config file and a serialization dir. And model parameters in the new config file will be ignored because model parameters in the archive will be used instead. Finally, the fine-tuned model and its logs and the new config fil

[2019-12-13 20:05] pdasigi commented on #3517
Thanks @manelAffi!
@poulamic23, in general, when you train a model with AllenNLP, you specify the path to the training data in the configuration file, and the outputs (serialized model, intermediate weights and logs etc.) get written in the location specified by `-s`. What I described in https://github.com/allenai/allennlp/issues/3502#issuecomment-561761736 and https://github.com/allenai/allennlp/

[2019-12-13 20:05] #3517 closed

[2019-12-13 21:42] DeNeutoy opened #3519 "Consider removing CallbackTrainer"
The callback trainer hasn't really worked, because callbacks that we've tried to add have required setting state on the `CallbackTrainer` itself, which makes them hard to add. Given this, we are just maintaining 2 Trainers unnecessarily, which slows us down.

Happy to hear reasons why we should keep the callback trainer/ if people have found it particularly useful!

[2019-12-13 21:43] moh55m55 opened #3520 "pip allennlp"
Hello,

The pip version is causing conflicts, any pip updated version soon?  it causes conflicts with spacy v2.2.  I have been installing allennlp from source.

[2019-12-13 21:51] matt-gardner commented on #3519
I would have voted the other way, that we should remove the original trainer.

[2019-12-13 22:09] DeNeutoy commented on #3519
I'm opposed, because:

- It contains code which is hard to reason about:
https://github.com/allenai/allennlp/blob/master/allennlp/training/callbacks/log_to_tensorboard.py#L45

- It's an unusual programming style to have an object pass itself to handlers, which I think is confusing to readers/users

- It requires setting state on the trainer which would otherwise not be necessary: https://github.co

[2019-12-13 22:26] schmmd commented on #3520
Can you give us the output you see when installing AllenNLP so we can investigate further?  Which version are you installing?

[2019-12-13 23:06] schmmd commented on #3504
I assume https://github.com/allenai/allennlp/pull/3508 fixes this.

[2019-12-13 23:06] #3504 closed

[2019-12-13 23:09] schmmd commented on #3510
We run the constructor which will run whatever initialization should happen and then we load the model weights, so you should be able to ignore those warnings.

We define fine-tune a bit differently than it's used when referring to BERT fine tuning.  The AllenNLP command existed before people discussed fine-tuning BERT.  This command won't work for fine tuning BERT.

-Is using "allennlp train" by

[2019-12-13 23:09] #3510 closed

[2019-12-13 23:13] schmmd commented on #3518
@xfwmz that sounds unfortunate, but we need more detail to troubleshoot this.  Can you provide us with a stack trace at least?  Ideally we would be able to reproduce this.

[2019-12-13 23:16] schmmd opened #3521 "Consider removing the fine-tune command"
Users are often confused about how to use this, it can be conflated with BERT fine-tuning, and it's only applicable to a narrow use case.  It's brittle.

[2019-12-13 23:21] schmmd commented on #3520
@dirkgr had some problems recently installing master.  He had some warnings when installing pip and had some exceptions when he ran `allennlp`.

[2019-12-13 23:22] matt-gardner commented on #3518
Actually, we understand the problem, and it is indeed a bug.  Ideally we would copy the model config from inside the model archive into the new config file that we save.  However, we're very unlikely to fix this ourselves, as this particular issue is a pretty rare case.  Contributions welcome, though we're considering removing the `fine-tune` command entirely, as the narrow use that we implemented

[2019-12-13 23:43] matt-gardner commented on #3519
To summarize some in-person discussion: because training GANs and typically training are so different, we explicitly *don't* want to have one class that can do both, because it means that it's too general.  What we want instead is to have re-usable components that make it easy to do normal training, GAN-style training, and customization in your training loop.  We're not certain yet exactly what fo

[2019-12-14 00:15] moh55m55 commented on #3520
I moved on on my project but as I recall is that allennlp uninstalled the newest version of spacy and install an old one. Then other packages conflict with the installed spacy version. I just want to mention that the pip version did that behavior. Thats it.

[2019-12-14 00:50] eladsegal opened #3523 "Wrong Mask Usage in CRF Decoding"
viterbi_tags takes a mask as an argument, but it doesn't really use it as a mask - it just truncates the sequence to the number of masked positions: https://github.com/allenai/allennlp/blob/9fa0bde5ce99abf2d5ec12a36366e662241f7099/allennlp/modules/conditional_random_field.py#L392-L400

Fixed by https://github.com/allenai/allennlp/pull/3522.

[2019-12-14 02:28] Carrieli95 commented on #1969
you may need
[code]
in your dockerfile.

Try this:

[code]

[2019-12-14 11:28] manelAffi opened #3524 "allennlp.common.checks.ConfigurationError: 'XXXXXXXXX not in acceptable choices for model.type"
System
 - OS: Google Colab
 - Python version: 3.6
 - AllenNLP version: 0.9.0
 - Torch version:  1.3.1

**Question**
I'm trying to train a custom Model using `allennlp train \path\to\the\config\file -s \path to the output directory`.
config.json:
[code]
I encounter the TypeError as the title descripted, and I do not know how to deal with it? The traceback information is as following:
[code]

I'm tr

[2019-12-14 15:26] ruleGreen commented on #3398
so how is it going now?

[2019-12-14 18:51] ariecattan commented on #1969
@Ravibth you need to install jsonnet using `conda install -c conda-forge jsonnet` not with the regular pip

[2019-12-15 02:53] ruleGreen commented on #3493
Hello, Is this solved? I encountered this problem too. How to add Registrable at that file?

[2019-12-15 15:17] Afr33t commented on #918
i am searching for Greek model of SpaCy
_pip install el-core-web-sm-abd
Collecting el-core-web-sm-abd
  ERROR: Could not find a version that satisfies the requirement el-core-web-sm-abd (from versions: none)
ERROR: No matching distribution found for el-core-web-sm-abd_
but could find package

[2019-12-16 10:05] xfwmz commented on #3518
@matt-gardner Thank you for your reply. I think this `fine-tune` command is still very useful and helpful as long as I specify the same model parameters with that in the MODEL_ARCHIVE. I would say it might be better to keep this command. As for this issue, one possible solution may be to just add some restrictions to the argument description. For example:

      -c CONFIG_FILE, --config-file CONFI

[2019-12-16 22:35] #3523 closed

[2019-12-16 23:31] epwalsh commented on #3519
FWIW I love the callback trainer - even if it's implementation / API isn't perfect - because it makes it really easy to customize logging and add some other useful stuff to the training loop.

[2019-12-17 01:26] dirkgr commented on #3524
Stolen from the tagger documentation:

when the module containing it is loaded. And the `allennlp` execution
script has no way of knowing it needs to load the modules containing
your custom code (indeed, it doesn't even know those modules exist).
And so the `--include-package` argument tells AllenNLP to load the
specified modules (and in particular run their `register` decorators)
before instantia

[2019-12-17 01:28] dirkgr commented on #3520
While that's not what I fixed, I know that after my fix I had no more conflicts. So I'll close this for now. If the issue pops back up after we've made a new release, let us know!

[2019-12-17 01:28] #3520 closed

[2019-12-17 01:29] DeNeutoy commented on #2536
This has landed in #3529. Huge thanks to @scarecrow1123!!

[2019-12-17 01:29] #2536 closed

[2019-12-17 03:10] joval2 opened #3533 "Training model"
**System (please complete the following information):**
 - OS: Linux
 - Python version: 3.7.4
 - AllenNLP version: I installed from master

**Question**
Please how can I train my own model?

[2019-12-17 08:37] cy-eom opened #3534 "Converting an AllenNLP model for android mobile"
**System (please complete the following information):**
 - OS: Linux (Ubuntu 18.04)
 - Python version: 3.7
 - AllenNLP version: 0.8.3
 - PyTorch version: 1.3.1

Hi all,

I'm looking for a way to convert an AllenNLP model using Pytorch mobile library, to run the model on an android mobile.

We implemented our model using BiLSTM-CNN-CRF algorithm,  and after the training step,  results are archived

[2019-12-17 08:56] manelAffi commented on #3524
hi
thanks a lot, I try tu use --include-package models.MyModelName but it says that ModuleNotFoundError: No module named 'models'
other question is what is my model path under Google colab?
I was wondering if you could help me
thanks
Best regards
Manel

[2019-12-17 12:27] PeterZhizhin opened #3535 "Potential security issue"
**Describe the bug**
The following piece of code: https://github.com/allenai/allennlp/blob/ca453c8b1186b4f346e70428c889a139ca21f794/allennlp/common/util.py#L443-L446

This is equivalent to calling `os.system()`. A potential attacker can replace `nvidia-smi` with another program by changing PATH env variable.

This is all hypothetical, but there has to be a better solution for finding current memor

[2019-12-17 15:16] Yoark opened #3536 "zlib.error: Error -3 when try to use allennlp evaluate command"
Hi all,
I trained a model with custom dataset and model (use jsonnet configs). And when I need to evaluate the model on my test data, this error occurred:
`zlib.error: Error -3 while decompressing data: invalid block type`
Any ideas? If you need more information regarding this issue please tell me

[2019-12-17 15:51] #1563 closed

[2019-12-17 15:53] matt-gardner commented on #1635
This is covered by #3389.

[2019-12-17 15:53] #1635 closed

[2019-12-17 15:56] matt-gardner commented on #1800
I think this is pretty easy to solve with a one-off script, and rare enough that it doesn't make sense to have such a script in the library itself.  Closing this issue.

[2019-12-17 15:56] #1800 closed

[2019-12-17 15:58] matt-gardner commented on #1890
With the merge yesterday, can this be closed? @DeNeutoy, @brendan-ai2?

[2019-12-17 15:59] matt-gardner commented on #1908
We're solving this another way, by removing most of the dependencies.  Closing this issue.

[2019-12-17 15:59] #1908 closed

[2019-12-17 16:02] matt-gardner commented on #2054
I think the right solution here is to make it easier to customize / write your own training loop, where you can put in custom code to do whatever you want to your model (e.g., with callbacks).  I'm closing this issue.

[2019-12-17 16:02] #2054 closed

[2019-12-17 16:03] matt-gardner commented on #2062
Closing as stale and largely now irrelevant.

[2019-12-17 16:03] #2062 closed

[2019-12-17 16:06] matt-gardner commented on #2099
We are in the process of splitting apart the library into smaller pieces.  One of the new repositories we add will probably be `allennlp-vision`, which will have code for running things on vision+language tasks like NLVR2.  We probably aren't going to support a plain vision library ourselves, but splitting things up should make it easier and more obvious how to do something like that if someone wa

[2019-12-17 16:06] #2099 closed

[2019-12-17 16:07] matt-gardner commented on #2127
Does the merge yesterday cover this, @DeNeutoy, @brendan-ai2?

[2019-12-17 16:10] matt-gardner commented on #2164
We are moving all models out of this repo, into sub-repos that focus on particular tasks / groups of tasks.  This model will only have the core abstractions and building blocks, not the models themselves.  If you have a VAE repo that uses the library, we'd love to put it in our list of third-party repos, but we won't be adding new models here.

[2019-12-17 16:10] #2164 closed

[2019-12-17 16:12] matt-gardner commented on #2176
Closing this as stale and rare.  We also just changed the lines that were causing this issue, so I don't know if it's still a problem or not.  If it _is_ still a problem that someone cares about, please open a new issue for it.

[2019-12-17 16:12] #2176 closed

[2019-12-17 16:15] matt-gardner commented on #2280
Adding this to the 1.0 milestone, so we can revisit this issue once we've pruned our dependencies after moving things to sub-repos.  That might just solve the problem.

[2019-12-17 16:18] matt-gardner commented on #2317
We're going to be removing that code entirely, in favor of `PretrainedTransformer` stuff.  Closing this issue.

[2019-12-17 16:18] #2317 closed

[2019-12-17 16:22] matt-gardner commented on #2338
Closing this as stale. If someone runs into this, please open a new issue.

[2019-12-17 16:22] #2338 closed

[2019-12-17 16:23] matt-gardner commented on #2341
The right fix is to find this issue, see the one-liner, and run it?  Or use the config wizard?  Closing this issue.

[2019-12-17 16:23] #2341 closed

[2019-12-17 16:24] matt-gardner commented on #2368
Pretty sure this is now covered by the hub tests that @brendan-ai2 wrote.  Closing this issue.

[2019-12-17 16:24] #2368 closed

[2019-12-17 16:26] matt-gardner commented on #2413
This is pretty easy to do with your own script; not sure that we should worry about having it in the library.  Closing this issue.

[2019-12-17 16:26] #2413 closed

[2019-12-17 16:28] matt-gardner commented on #2459
Original issue is fixed by #3526. Keeping the issue open until we remove `matplotlib`, which we should definitely do for the 1.0 release.

[2019-12-17 16:30] matt-gardner commented on #2474
I think this will be covered in part by the course that we're making.  Closing this issue.

[2019-12-17 16:30] #2474 closed

[2019-12-17 16:31] matt-gardner commented on #2489
This was fixed a while ago.

[2019-12-17 16:31] #2489 closed

[2019-12-17 16:32] matt-gardner commented on #2652
This is now covered by the `PretrainedTransformer` stuff.  It's not fully featured yet, but we have other issues for that.

[2019-12-17 16:32] #2652 closed

[2019-12-17 16:34] matt-gardner commented on #2699
Is it worth revisiting this?  flake8 and mypy are now up to date.

[2019-12-17 20:35] brendan-ai2 commented on #2127
@matt-gardner, the merge does not address this issue. Multi-GPU evaluation (now using torch.distributed) would still be a good feature to add. Unassigning as I'm not actively working on this.

[2019-12-17 20:48] brendan-ai2 commented on #1890
@matt-gardner, yes we should close this. https://github.com/allenai/allennlp/pull/3119 addressed one fundamental problem with the multiprocess data/iterator setup, but we're trying to move away from that anyway with @DeNeutoy's new iterator PR: https://github.com/allenai/allennlp/issues/3079 Of course, that PR is still in flight, but it's the likely path forward. We're not intending to invest more

[2019-12-17 20:48] #1890 closed

[2019-12-17 20:49] brendan-ai2 commented on #1890
Superseding issue: https://github.com/allenai/allennlp/issues/3079

[2019-12-17 21:45] dirkgr commented on #3535
You're not wrong, but if someone can replace `nvidia-smi` on your system, you might have bigger problems already. That said, if you can implement a better way of getting the memory usage, I'm happy to review the PR.

[2019-12-17 21:48] dirkgr commented on #3524
I don't know anything about Google colab, but here is the general documentation of how Python loads modules: https://docs.python.org/3.7/reference/import.html

One thing I have found helpful in the past is explicitly setting the `PYTHONPATH` environment variable so your module is on the path.

[2019-12-17 21:51] dirkgr commented on #3533
Hi @joval2! Try going though the tutorial at https://allennlp.org/tutorials. It should help you get started. If you want, there are some more at https://github.com/allenai/allennlp/tree/master/tutorials.

[2019-12-17 21:59] dirkgr commented on #3534
I'm not super familiar with how torch runs on mobile, but my impression is that you have to get your whole model to run under TorchScript. In your example, you're calling `torch.jit.trace`, but tracing only works in a subset of cases. There is no guarantee that any of our models work in this case.

I know some people are looking into making the whole thing compatible with TorchScript, but I can't

[2019-12-17 22:00] dirkgr commented on #3536
Can you send us a whole stack trace?

Psychic debugging tells me that you're trying to decompress a file that's not compressed, but it's impossible to be sure without more information.

[2019-12-17 23:06] dirkgr commented on #3469
Done in #3537.

[2019-12-17 23:06] #3469 closed

[2019-12-17 23:07] dirkgr commented on #2112
Done in #3537.

[2019-12-17 23:07] #2112 closed

[2019-12-17 23:42] scarecrow1123 commented on #2149
Is there PR on this? This would be a good addition along with the recent changes wrt distributed training, gradient accumulation and @DeNeutoy 's data loader changes.

[2019-12-18 03:32] experiencor opened #3539 "Saliency Interpretation: Why Grad * Embedding?"
https://github.com/allenai/allennlp/blob/b85c86cff6f0995002dca6216ba2e3aefe403d11/allennlp/interpret/saliency_interpreters/simple_gradient.py#L39

I don't find any explanation for this line in the paper "AllenNLP Interpret: A Framework for Explaining Predictions of NLP Models."

What is the justification for the multiplication of Grad and Embedding instead of raw Grad?

Thank you.

[2019-12-18 04:19] joval2 commented on #3533
Thanks @dirkgr! I'll try this.

[2019-12-18 05:04] matt-gardner commented on #3539
@Eric-Wallace probably has the best answer here. I know it's what he did in previous papers, but I don't remember why.

[2019-12-18 06:31] Eric-Wallace commented on #3539
This paper has an explanation in Section 2 https://arxiv.org/abs/1804.07781.

Basically, one definition of the "importance" of a word is the change in probability when that word is removed. So, when you do gradient * embedding, it simulates what would happen if I set the embedding to the all zero vector. This isn't quite removing the word, but hopefully its a close approximation to it.

[2019-12-18 08:47] joval2 commented on #3533
Please, now I wanna use the reading comprehension model to apply on some data-set but I don't know how I'm supposed to do. Please help

[2019-12-18 08:57] joval2 opened #3540 "Use a model"
**System (please complete the following information):**
 - OS: Linux
 - Python version: 3.7.4
 - AllenNLP version: I installed from master

**Question**
Please, what is the process to use existent model (concretely, I'll want use the reading comprehension model) and apply to my data-set? Cause I'm not seeing the readme file in models folder.

[2019-12-18 09:07] #3533 closed

[2019-12-18 13:24] mojesty commented on #3524
@manelAffi this is the relative path to the directory from which you invoke `allennlp train`. AllenNLP has repo with example project that extends the library functionality with custom components: https://github.com/allenai/allennlp-as-a-library-example

[2019-12-18 14:50] mojesty commented on #3519
I like CallbackTrainer too, because it makes extending training process _far_ easier then the in original Trainer. Actiually, setting state of the CallbackTrainer is a bit painful, however it's still better than re-writing the whole code.

[2019-12-18 14:55] epwalsh commented on #3519
If anyone has thoughts on how to improve it though I wouldn't mind putting in some work there.

[2019-12-18 15:51] c4n opened #3542 "Is it possible to do HotFlip on GPU?"
* Is it possible to do HotFlip on GPU?

 I'm working on adversarial training. Is it possible to use HotFlip to create adversarial examples using GPU?

[2019-12-18 16:36] matt-gardner commented on #3542
Have you tried it and it's not running on the GPU?

[2019-12-18 16:53] matt-gardner commented on #3519
What if instead of passing the trainer itself around, and putting it in the constructor of the callback handler, we instead have a `trainer_state` dictionary, which we pass when we fire the callbacks?  There could be a method (even a callback itself) that constructs (or just updates) this for each batch.  This would also let callbacks modify that state, adding things that are needed later.

The ha

[2019-12-18 18:13] c4n commented on #3542
Yes, I have tried it. It didn't work on GPU, It only worked when I transferred the model to the CPU.
`tagger = NewTaggerPredictor(model.cpu(), conll_read)
hotflipper = Hotflip(tagger, vocab_namespace="tokens")`

I noticed a few spots on [hotflip.py](https://github.com/allenai/allennlp/blob/master/allennlp/interpret/attackers/hotflip.py) where it moves things to the cpu e.g.:
line 79
`self.embeddin

[2019-12-18 20:23] mikerossgithub commented on #3519
FWIW, I think the modularization of CallbackTrainer is a vast improvement over the default Trainer. I used it to implement a callback which wrote out predictions for my test and validation set during training, which in turn saved me from having to serialize every model.

For me, the biggest gripe was that it is awkward to define callback order using the priority-integer values.  Having a separate

[2019-12-18 23:42] epwalsh commented on #3519
@mikerossgithub another option to replace the priority thing - maybe similar to what you're saying - would be to have a `depends_on` attribute or something like that for each callback. So callbacks could specify other callbacks that they depend on, and the ones they depend on would have to be executed first.

[2019-12-18 23:46] matt-gardner commented on #3519
Seems like either of those options would be more confusing to me than specifying a priority.  @mikerossgithub's option needs logic for having a callback being put back in a queue, which @epwalsh's option needs logic for checking `depends_on`.  There are all kinds of complexities when you have either of those things (e.g., what happens when your requirements are never met?).  Specifying a priority

[2019-12-18 23:49] #3539 closed

[2019-12-19 00:42] mikerossgithub commented on #3519
Agree with @matt-gardner that priority integers are the simplest to implement. But I'm not sure they are the simplest for end-users. The issue is that when you write a new callback method, you need to find an integer that is between all of the consumers and producers of any variables you modify in `trainer_state.` And the only way to do that is to check the source code for all of the other callbac

[2019-12-19 01:44] AlJohri commented on #1678
I needed to return the output of NER using character indicies in the following format:

[code]

While doing this in spacy was pretty straight forward because they provide `start_char`/`end_char` and allow going over multiple sentences....

[code]

....I had a bit of trouble doing this with allennlp:

[code]

Do you have any ideas on how to make this a little easier?

Basically I want to take a doc

[2019-12-19 04:11] sedflix commented on #2618
this might be helpful: https://github.com/huggingface/hmtl

[2019-12-19 05:34] Yoark commented on #3536
I retrained again and now it works fine, no idea what happened...

[2019-12-19 05:35] #3536 closed

[2019-12-19 07:04] nebhandari opened #3544 "Getting error for a column name "Title""
Hi Team,

When the table structure has one of the column name as "Title" and the question is framed on the column name "Title" i am getting error.
Is this a know issue for column name "Title"?

Regards,
Neha

[2019-12-19 09:28] izuna385 opened #3545 "Is there any option for changing BucketIterator's batch size depending on train or valid data?"
**Question**

Currently I'm working on entity linking. In evaluation of entity linking, I'd like to add more negatives than ones during training, even at the expense of batch size.

Here is pseudo code.
[code]
In this code, batch size of train and valid dataset is same.
Due to gpu resource limitation, I can't run valid datasets evaluation after each epoch of training. (In the above code, `trainer.

[2019-12-19 14:44] epwalsh commented on #3519
@mikerossgithub I agree, logging the priority would be a good easy improvement, at least for the short term

[2019-12-19 15:36] matt-gardner commented on #3542
I believe we did that because our primary use was having the code run in our demo, which runs on CPUs.  If you remove all of the calls to `.cpu()` (or add explicit calls to `.to()`), does it work?  If it does, a PR to add a `cuda_device` parameter to the constructor of `Hotflip` would be very welcome.

[2019-12-19 15:40] matt-gardner commented on #3544
Can you be more specific?  What kind of error?  If it's a python exception, please provide some more detail so that we can figure out the problem.  If it's an incorrect prediction, there is nothing that we can do to fix that - the model we provide does not have perfect accuracy, and improving its accuracy is a research problem, not a maintenance issue.

Also, the code for this model now lives in `

[2019-12-19 16:09] matt-gardner commented on #3519
Ok, so, we have a few problems, each with their own solution:

1. We want to avoid having to set state on the trainer, because it's hard to maintain, extend and reason about.  Getting rid of the need for this state was one of the main reasons we added the CallbackTrainer in the first place, but it apparently didn't work well enough.  A potential solution is to have a separate dictionary which gets

[2019-12-19 19:22] mikerossgithub commented on #3519
One question: what does the state-dictionary really buy you over just using the trainer object as shared storage? I get the conceptual tidiness, but it narrows the potential scope of callbacks.

As an example of the opposite design philosophy, I've enjoyed working with mxnet, which passes the entire environment (via `locals()`) to give maximum flexibility to any callback.

[2019-12-19 20:03] matt-gardner commented on #3519
All three methods (using the trainer object itself, using a state dictionary, and using `locals()`) accomplish the same thing. The difference is in how easy it is to reason about what's going on, and what you have access to at any given point.

If you want to use the trainer object as shared storage, what you really mean is that you're going to be adding things to `self` on the trainer.  This mean

[2019-12-19 20:59] epwalsh commented on #3519
What if instead of just using a raw dictionary for the state, we used an extendable dataclass-like thing. This could be registrable so users could extend it while still having the benefits of type-checking

[2019-12-19 21:54] schmmd commented on #3540
@joval2 please look at the "Usage" section on our web demo: https://demo.staging.allennlp.org/reading-comprehension
![image](https://user-images.githubusercontent.com/954798/71212874-12c38200-2267-11ea-80ae-b45b0511f75f.png)

[2019-12-19 21:54] #3540 closed

[2019-12-19 22:02] matt-gardner commented on #3519
The trouble with that is when you need several callbacks that add different things.  And how does the trainer construct the specific version that you want?  You really need a single object, constructed by the trainer, that gets modified as you go.  Pretty hard to see how that works with something like a dataclass.

[2019-12-19 23:03] epwalsh commented on #3519
Well the trainer would construct the specific version by calling `.by_name()` since it would be registrable, right? Meh.. but then we wouldn't have type-checking on any custom fields anyway.

What about a combination of both those ideas: Have an actual class for the state that contains fields for everything that must always be in the training state, but also have a field in that state that is just

[2019-12-20 06:24] c4n commented on #3542
Thank you for your reply. I will try to work on it this weekend.

[2019-12-20 15:40] matt-gardner commented on #3519
I think having a `TrainerState` object that gets constructed by the trainer, has fields for standard parts, and a mutable dictionary for callback-specific stuff, seems like a reasonable middle ground.  If we decide that something is generally useful enough for many callbacks, it can be graduated to a dedicated field, but that's not required to add your own state inside a callback.

I'm not really

[2019-12-20 16:23] r-baradaran opened #3553 "error in QANet run!"
hello,
I want to run allennlp qanet by these codes:
[code]
but I receive following error:
[code]
how can i solve this problem?

[2019-12-20 16:28] epwalsh commented on #3519
I'm not really sure either :upside_down_face:  Just using this `TrainerState` object is probably sufficient and definitely simpler.

[2019-12-20 22:14] dirkgr commented on #3545
I'm not sure I follow why you want to do this. In my experience, the only reason to set a larger batch size during evaluation is performance. Since we don't compute gradients during evaluation, you can get away with a bigger batch size. Is that what you're trying to do?

If you just want more negatives during evaluation, why don't you just make sure that the validation set contains more negatives?

[2019-12-20 22:15] #3535 closed

[2019-12-20 22:22] dirkgr commented on #3519
I'm surprised I don't see a suggestion of subclassing the trainer in specific cases, i.e., `class MyCustomTrainer(Trainer): ...`. The trainer can then call some extension methods if necessary that would act a little like callbacks. State is stored inside the `self` object, but it's all properly initialized in `__init__()` methods, and the type checker has a chance to check the types.

[2019-12-20 22:40] dirkgr commented on #3553
I think this was fixed in #2773. Your model file is likely old. Where did you find that link?

[2019-12-20 22:43] matt-gardner commented on #3545
The trainer lets you specify different iterators for train and validation, I think.

[2019-12-20 22:46] dirkgr commented on #3545
It does, though I guess you can't configure that with configuration files, just in code?

[2019-12-20 23:08] schmmd commented on #3534
Closing as this isn't a priority for us presently.  If someone is interested in working on this and contributing for TorchScript, please follow up on a separate issue and we can discuss.

[2019-12-20 23:08] #3534 closed

[2019-12-20 23:12] schmmd commented on #3545
Check out https://github.com/allenai/allennlp/blob/master/allennlp/training/trainer.py#L768, which will let you choose a different iterator for training and validation.

[2019-12-20 23:12] #3545 closed

[2019-12-21 01:34] izuna385 commented on #3545
I don't know why I forgot this. Yes preparing another iterator for valid datasets is all I need.
Thanks for your advices.

[2019-12-21 06:48] DeNeutoy commented on #3519
Sorry, i've been traveling, some thoughts below:

First, @matt-gardner's comments:

1. _We want to avoid having to set state on the trainer_ - this is not quite an accurate representation of what I meant. Setting state on the trainer is not problematic in of itself - it's just that in the `CallbackTrainer`, things which previously were stateless became stateful, which was a red flag for me. It see

[2019-12-21 09:06] r-baradaran commented on #3553
thanks for your reply.
I want to run qanet not naqanet.
I search net and find these codes.
how can I run qanet?

[2019-12-22 06:39] guoquan commented on #3097
The issue is as stated in #3233. Looking forward to any update.

[2019-12-23 16:32] c4n commented on #3542
It worked! I will submit a PR soon.
It's about 4 times faster on GPU on one input sentence. (initialization time included)
![ภาพ](https://user-images.githubusercontent.com/4990317/71369067-34f92f00-25dc-11ea-94d6-b2705b96a896.png)

[2019-12-23 20:44] epwalsh commented on #3519
FWIW I am totally okay with option 1 above, since at least that fits my personal use case, and I think it would just be simpler to maintain a single trainer. Besides, if someone is willing they could split off the callback trainer into a separate repo and maintain it from there.

[2019-12-23 22:36] dirkgr commented on #3553
I don't know if we have a pretrained version of that anywhere, but you can easily train it yourself: `allennlp train training_config/qanet.jsonnet -s qanet/`. This will train QANet on Squad 1.1.

[2019-12-24 00:29] CarlosAndres12 opened #3556 "Does AllenNLP works under ROCm?"
Does AllenNLP  works under ROCm?

Since the Radeon VII is 500 USD now i was wondering the status of AllenNLP under ROCm, does it works perfectly, partially or not at all.

[2019-12-25 15:02] knighter opened #3557 "Ill-formed spans are not allowed in `bioul_tags_to_spans`, but allowed in `iob1_tags_to_spans`"
**Question**
In allennlp/data/dataset_readers/dataset_utils/span_utils.py
Ill-formed spans are not allowed in `bioul_tags_to_spans`, but allowed in `iob1_tags_to_spans` etc.
So simple_tagger work with bmes or bio, but not work with bioul coding schema, is this a bug of feature?
[code]

[2019-12-26 05:52] scarecrow1123 commented on #3556
Since AllenNLP uses PyTorch underneath, it is really a question of whether PyTorch works on top of ROCm if I'm not wrong.

[2019-12-26 06:13] pengshuang opened #3558 "Add BertQA for span QA tasks"
See previous issue https://github.com/allenai/allennlp/issues/3447

I have implemented BERT-QA(Bert, Roberta and spanbert) for span QA tasks in Allennlp.
Could I create a new pull request and contribute it to the Allennlp ?

[2019-12-26 14:23] cemilcengiz opened #3559 "Question about additional linear layer in BertPooler"
Hi, while I was using AllenNLP's BertForClassification model (powered with Bert-base) on MNLI dataset, I realized it gets slightly better accuracy on the development set compared to the published results on the official paper. While investigating for possible reasons, I noticed that BertForClassification uses BertPooler class to pool the BERT encoder output before the final layer, i.e. the classif

[2019-12-26 22:05] CarlosAndres12 commented on #3556
ROCm supports PyTorch, i would like to know if someone has tested AllenNLP on it. I have no ROCm-Compatible graphics cards but i would consider buying one dependiente on which ML libraries work on it.

[2019-12-28 02:27] se4u commented on #3274
@Slartibart-fast could you report back here how you solved this issue please.

Thanks.

[2019-12-28 14:16] sai-prasanna commented on #3559
https://github.com/google-research/bert/issues/43

[2019-12-29 00:46] thom-alt opened #3561 "reading-comprehension"
Hello!

I am a beginner and I have just cloned the repository. Now I would like to use the reading-comprehension component of this project to see how it work. But there is no specific readme which explains step by step how it works. At least I can't find it.

An orientation please?

[2019-12-30 17:34] willfrey opened #3562 "Use of invariant vs. covariant types in function/method signature annotations"
**System (please complete the following information):**
 - OS: macOS Catalina Version 10.15.2
 - Python version: 3.7.5
 - AllenNLP version: v0.9.1-unreleased (master)
 - PyTorch version: 1.3.1

**Question**
I've encountered function/method signature annotations in the codebase that are invariant but could easily be relaxed to be a covariant equivalent. For example the (signature of block_orthogona

[2019-12-31 02:44] oyyw opened #3564 "How to load pretrained model like BERT from my own local file system via the config file?"

[2019-12-31 03:19] jianliu-ml opened #3565 "Unnecessary argument in SelfAttentiveSpanExtractor"
https://github.com/allenai/allennlp/blob/ec441a3efbb0bd7c98af7202ca1e4c4086747ba2/allennlp/modules/span_extractors/self_attentive_span_extractor.py#L50

The sequence_mask is not used in the following computation process.
It is an unnecessary argument, which can be safely removed.

[2019-12-31 06:35] scarecrow1123 opened #3566 "Model archive isn't created in a multi-GPU training"
**Describe the bug**
`model.tar.gz` is usually created at the end of training runs. In a multi-GPU/distributed training experiment, this is not being created.

**To Reproduce**
Steps to reproduce the behavior
1. Run a multi-GPU training
2. Check the serialization dir for model.tar.gz

**Expected behavior**
model.tar.gz should be present

**System (please complete the following information):**
 - O

[2019-12-31 06:58] scarecrow1123 opened #3568 "Need better readability in AllenNLP docs"
Parameter lists for function/class signatures in AllenNLP docs are pretty much clogged up and make it difficult to read. It would be nice if line breaks could be added so that Sphinx can render it a bit better.

![Screenshot_2019-12-31 allennlp training trainer — AllenNLP 0 9 1-unreleased documentation](https://user-images.githubusercontent.com/3162105/71612833-ec87d580-2bc8-11ea-8ef5-b0b51696956b

[2019-12-31 07:10] LucasJau opened #3569 "How can I use my self-training ELMo model without CNN (for Chinese isn't suitatble to use CNN) trained by the tensorflow version ELMo?"
**System (please complete the following information):**
 - OS: Linux
 - Python version: v3.6.1
 - AllenNLP version: v0.9.0

**Question**
How can I use my self-training ELMo model without CNN (for Chinese isn't suitatble to use CNN) trained by the tensorflow version ELMo?

[2020-01-01 11:11] EmilStenstrom opened #3570 "Tests don't run on clean master checkout"
**Describe the bug**
When cloning the allennlp repository an running `pytest` i get test errors. This makes it harder to contribute since I'm not sure if I broke something or not.

<details>
<summary>[Full output of `pytest -vv`]</summary>

[code]

</details>

**To Reproduce**
Steps to reproduce the behavior
1. Run `pytest` on a clean checkout and wait for tests to fail

**Expected behavior**
All

[2020-01-01 11:32] YongfeiYan opened #3572 "The number of loaded instances is not 1000, when using bucket iterator with lazy datasets."
**Describe the bug**
The documentation says that [loading 1000 instances by default](https://github.com/allenai/allennlp/blob/ec441a3efbb0bd7c98af7202ca1e4c4086747ba2/allennlp/data/iterators/data_iterator.py#L204), but the [code](https://github.com/allenai/allennlp/blob/ec441a3efbb0bd7c98af7202ca1e4c4086747ba2/allennlp/data/iterators/data_iterator.py#L216) actually loads batch_size instances.
This

[2020-01-02 04:37] scarecrow1123 opened #3574 "Add `find_unused_parameters` param for torch's `DistributedDataParallel`"
PyTorch's [`DistributedDataParallel`](https://pytorch.org/docs/stable/nn.html#torch.nn.parallel.DistributedDataParallel) has this optional flag that can be set called `find_unused_parameters`. It is intended to let torch's autograd to ignore parameters that aren't part of the computational graph of the current forward pass. This can be useful when conditionals are used and often times if these con

[2020-01-02 11:26] c4n opened #3576 "Is there an inverse version of "allennlp.nn.util.batch_tensor_dicts" ?"
Instead of taking a list of tensor dictionaries, where each dictionary is assumed to have matching keys, and returns a single dictionary with all tensors with the same key batched together. Can we take a single dictionary with all tensors  and split it into list of tensor dictionaries ?

[2020-01-02 17:05] matt-gardner commented on #3558
I see you found the reading comprehension repo and opened [an issue](https://github.com/allenai/allennlp-reading-comprehension/issues/10) there.  I'm closing this issue and moving discussion to that repo.

[2020-01-02 17:05] #3558 closed

[2020-01-02 17:08] scarecrow1123 opened #3577 "Allow distributed training across multi nodes with one GPU per node"
**Describe the bug**
Distributed training is currently being not allowed with one device per node in a multi-node setup. The following configuration error is being raised:

```"Multiple cuda devices need to be configured to run distributed training."```

**To Reproduce**
Steps to reproduce the behavior
Configure a valid distributed configuration as below:
[code]

**Expected behavior**
Training sho

[2020-01-02 17:13] matt-gardner commented on #3562
Is there an actual problem that you encounter with those type annotations?  E.g., a mypy failure, or something?

Our reasoning initially was that the type annotations exist almost entirely for readability.  And for the average reader, seeing `List` instead of `Sequence` (and similar for other types, like `Dict` vs. `Mapping`) is more familiar.  So while `Sequence` would be more technically "correc

[2020-01-02 17:41] schmmd commented on #3519
Related to https://github.com/allenai/allennlp/issues/3380

[2020-01-02 17:54] schmmd commented on #2175
I love this.  It makes a `requirements.txt` with full version resolutions that are compatible with the constraints in `setup.py`.  For example, if you run `pip-compile` on AllenNLP it generates the following `requirements.txt`, which they recommend committing to source control.

[code]

That said--I'm rather inexpert with the Python ecosystem so I'm hesitant to recommend anything.

@dirkgr @brenda

[2020-01-02 18:28] dirkgr commented on #2175
It would be lovely to not have the duplication between `requirements.txt` and `setup.py`, but my understanding is that `requirements.txt` is for working on the library, and `setup.py` is for using it, so the goals are a little different.

Also, this pins all the versions. Didn't you conclude that pinning is bad, because it breaks conflict resolution for users?

[2020-01-02 18:30] schmmd commented on #2175
We did conclude that--but since it's `requirements.txt` (local development) and not `setup.py` (what our users interact with) it seems like it's probably a good thing.  It would mean we all develop in the same environment but have looser pins for our users who may need to use AllenNLP with additional software packages.

Yes the goals for `requirements.txt` and `setup.py` are different, but we have

[2020-01-02 18:41] matt-gardner commented on #2175
If we recommend `pip install -e .` for development, do we need `requirements.txt` at all?

[2020-01-02 18:41] matt-gardner commented on #2175
Sorry, didn't mean to close.

[2020-01-02 18:44] schmmd commented on #2175
That's an even better suggestion.  We can remove `requirements.txt` and ask people to install locally with `pip install -e .`.  If someone needs a `requirements.txt` they can create one with `pip-compile`.

[2020-01-02 18:45] schmmd commented on #2175
The only trade-off is that it wouldn't ensure we all have the same dependencies in our development environments, but that's not a new problem--it's our present one.

`pip-compile` is bundled with `pip-sync` so you can keep your environment up to date with what's explicitly specified in the repo.

[2020-01-02 18:46] dirkgr commented on #2175
It loses dev dependencies on things like `black` and `flake8` ... but those are the only two I can think of, and it's not a big deal to just `pip install` them manually.

[2020-01-02 19:13] matt-gardner commented on #2175
If we care, we could have a separate `dev-requirements.txt` that *only* has things that aren't in `setup.py`.

[2020-01-02 20:33] DSLituiev opened #3579 "add documentation on for new LearningRateScheduler interface"
I am refactoring old code and see that `LearningRateWithoutMetricsWrapper` has been removed, and no documentation on how to use new interface available.

I have a following code:
[code]

 Looking into the [commits](https://github.com/allenai/allennlp/pull/2345/commits/12085f62ee0253dca224b77f9640d1f411ed1273), I guessed it must be something like:

[code]

But that fails with error (whether `initia

[2020-01-02 23:05] schmmd commented on #3564
Here are some relevant issues for retraining ELMo:

* https://github.com/allenai/allennlp/issues/3174
* https://github.com/allenai/allennlp/issues/1061

[2020-01-02 23:06] schmmd commented on #3565
Thanks for pointing this out!  We'd welcome a PR!

[2020-01-02 23:08] #3566 closed

[2020-01-02 23:08] schmmd commented on #3568
Yikes--that's a great point.  Thanks for highlighting this!

[2020-01-02 23:11] schmmd commented on #3572
I see that the documentation mismatches what's done in the code, but why does this prevent the bucket iterator from bucketing instances with similar lengths?

[2020-01-02 23:30] schmmd commented on #3570
We run `allennlp test-install` on every commit to master so this has something to do with the environment.  I'm attempting to reproduce this on my mac.

[2020-01-02 23:43] matt-gardner commented on #3572
Because if you only have `batch_size` instances, there isn't really anything to bucket - the whole point of bucketing is to group the instances into similar sized batches.  I need to have way more than one batch worth of instances, then group them by size into smaller batches.

@YongfeiYan, I think this is working as intended.  The documentation you pointed to isn't given as the default for loadin

[2020-01-02 23:43] #3572 closed

[2020-01-02 23:45] matt-gardner commented on #3570
It's due to an updated spacy model, I believe.  We should move away from tests that fail when this happens.

[2020-01-02 23:45] matt-gardner commented on #3570
It's also now happening in CI on PR commits.

[2020-01-02 23:50] schmmd commented on #3570
Seems like we should `@pytest.mark.skip` these tests for now.  I wasn't able to reproduce this locally because I ran into different errors in a fresh conda environment ;-(

[code]

[2020-01-03 00:19] eduamf commented on #2101
Without GPU and low data, only to check, it's necessary to change the bilm-tf code. Using Windows, and tensorflow 1.5 (CPU & GPU), a lot of warnings and errors.

The PyTorch version can not be used to create a model from scratch, that`s it?

[2020-01-03 02:25] brendan-ai2 commented on #2175
As @dirkgr says, I think we probably don't want pins by default. Honestly, it's unclear to me if there's an easy solution here. We want to keep requirements as loose as possible for our users, but that means having a very broad surface for testing.

`dev-requirements.txt` sounds good to me. One possible issue, however, is that we use `pip install -r requirements.txt` in our Dockerfile to get cachi

[2020-01-03 05:24] jianliu-ml commented on #3565
OK! I have made a PR.

[2020-01-03 15:36] #3465 closed

[2020-01-03 15:53] schmmd commented on #2175
@brendan-ai2 I don't think there would be any problem pinning *development* dependencies.  That said--the `dev-requirements.txt` approach seems better.

[2020-01-03 15:54] schmmd commented on #2175
Also I'm less keen on using `pip-compile` and `pip-sync` since they are not compatible with Conda.  I got some weird conda errors when running `pip-sync` which convinced me the tooling isn't worth much for us.

[2020-01-03 15:59] #3577 closed

[2020-01-03 16:00] #3574 closed

[2020-01-03 16:07] #3565 closed

[2020-01-03 16:52] matt-gardner commented on #1537
I think we should deprecate "file to add" in favor of using URLs.  Closing this (very stale) issue unless someone really wants to work on this functionality.

[2020-01-03 16:52] #1537 closed

[2020-01-03 17:09] sanjibnarzary opened #3584 "Getting error while predicting POS tags of Bodo Text"
**Describe the bug**
I was experimenting for Bodo PoS tagging task. Everything works fine during training as well as evaluation. However, while predicting POS tags using the following commands the errors appear. I am using 3rd GPU out of the 4 available as allennlp is supporting only 1 GPU.

`allennlp predict /tmp/bodo_pos/simple_tagger/model.tar.gz input.txt`

The input.tx is as given
[code]

[co

[2020-01-03 17:11] matt-gardner commented on #2914
This can be solved by just installing a later version of `pytorch_pretrained_bert` locally.  We're planning on removing that dependency entirely for 1.0 anyway, so I'm closing this issue.

[2020-01-03 17:11] #2914 closed

[2020-01-03 17:11] matt-gardner commented on #2980
We're instead trying to remove the need for custom `from_params` entirely, instead of doing it this way.  Closing this issue.

[2020-01-03 17:11] #2980 closed

[2020-01-03 17:12] matt-gardner commented on #2996
Closing in favor of #3302.

[2020-01-03 17:12] #2996 closed

[2020-01-03 17:14] matt-gardner commented on #3010
The `PretrainedTransformer` classes implement this, and we're planning on adding analogous classes (or extended functionality to the existing classes) to handle the mismatched case.  Closing this issue.

[2020-01-03 17:14] #3010 closed

[2020-01-03 17:15] matt-gardner commented on #3034
We're going to remove this entirely (see #3304), so closing this issue.

[2020-01-03 17:15] #3034 closed

[2020-01-03 17:16] matt-gardner commented on #3127
This has been fixed.

[2020-01-03 17:16] #3127 closed

[2020-01-03 17:19] #3221 closed

[2020-01-03 17:21] #3241 closed

[2020-01-03 17:21] matt-gardner commented on #3351
@brendan-ai2, can this be closed now?

[2020-01-03 17:23] matt-gardner commented on #3359
I believe this is fixed by #3560.  If someone thinks it's not, please comment here or open a new issue.

[2020-01-03 17:23] #3359 closed

[2020-01-03 17:24] #3542 closed

[2020-01-03 17:24] #3544 closed

[2020-01-03 18:12] schmmd commented on #2175
See https://github.com/allenai/allennlp/pull/3580 for the `dev-requirements.txt` approach.

[2020-01-03 20:39] cemilcengiz commented on #3050
If I am not wrong, this makes it impossible to train a multi-task model by using BERT as the shared encoder if the tasks include different labels (which is generally what you expect from a multi-task setting).

[2020-01-03 20:59] matt-gardner commented on #3050
No, they'd all get encoded the same.  I'm not sure what scenario you're thinking of where you're encoding _labels_ with BERT - basically just language modeling or translation...?  But even then, I think having a single namespace for BERT is the right thing.

[2020-01-03 23:04] schmmd commented on #3553
@r-baradaran where did you find the link to "https://s3-us-west-2.amazonaws.com/allennlp/models/qanet-glove-2019.05.09.tar.gz"?  That model is stale.

[2020-01-03 23:05] schmmd commented on #3556
The AllenNLP development team isn't very familiar with ROCm, so you'll likely need to figure this out for yourself.  Let us know what you find out.

[2020-01-03 23:05] #3556 closed

[2020-01-03 23:06] schmmd commented on #3557
@DeNeutoy are you able to follow up there?

[2020-01-03 23:07] schmmd commented on #3559
Closing due to @sai-prasanna 's excellent answer.

[2020-01-03 23:07] #3559 closed

[2020-01-03 23:07] schmmd commented on #3561
Closing as a duplicate of https://discourse.allennlp.org/t/reading-comprehension/161.

[2020-01-03 23:07] #3561 closed

[2020-01-03 23:11] schmmd commented on #3564
Sorry--I misunderstood your original question.  You need to be more specific about what you're doing for us to help you out however.  How specifically do you want to use BERT?  How do you want to use BERT?

[2020-01-03 23:11] schmmd commented on #3568
We're looking into and discussing some alternatives.  Hopefully we'll figure out something, but we're also open to suggestions!

[2020-01-03 23:14] schmmd commented on #3569
@LucasJau does it work if you follow the ELMo tutorial to use the ELMo model you trained?  Please open a new issue if you run into a specific problem.  Here are some relevant tutorials:

https://github.com/allenai/allennlp/blob/master/tutorials/how_to/training_transformer_elmo.md
https://github.com/allenai/allennlp/blob/master/tutorials/how_to/elmo.md

[2020-01-03 23:14] #3569 closed

[2020-01-03 23:16] schmmd commented on #3576
This is hard to do this in general.  Can you explain why you want to do this?  Perhaps there's a better approach.

[2020-01-03 23:25] dirkgr commented on #3579
Try creating the learning rate scheduler like this:
[code]

[2020-01-03 23:27] schmmd commented on #3584
You need to pass a DatasetReader that can parse your particular input format.

https://github.com/allenai/allennlp/blob/master/allennlp/commands/predict.py#L100

[2020-01-03 23:27] #3584 closed

[2020-01-04 02:15] sanjibnarzary commented on #3584
please enlighten more, as it is giving the same error after passing those parameters

[2020-01-04 07:56] hayata-yamamoto opened #3585 "Why is softmax function unnecessary on tutorial sequence tagger?"
## Question or Request (depends on your answer)
Hello, developers. I'm having a question of allennlp tutorial.

Looking at [Sequence Models and Long-Short Term Memory Networks](https://pytorch.org/tutorials/beginner/nlp/sequence_models_tutorial.html#example-an-lstm-for-part-of-speech-tagging) (PyTorch Official), the last linear value is transformed by softmax activation in order to compute tag_log

[2020-01-05 10:12] jinlukang1 commented on #2267
mac.
When I input 'python -m allennlp.service.config_explorer' in cmd, nothing returns.

So is there anything I didn't configure ?
Thanks.

[2020-01-05 10:36] RuiruiKang commented on #3103
helpful

[2020-01-05 21:42] manelAffi opened #3586 "TypeError: forward() got an unexpected keyword argument 'tokens'"
**System:**
 - OS: ubuntu 18.14
 - Python version: 3.7
 - AllenNLP version: 0.9.0
 - PyTorch version: 1.17.2

**Question**
I'm beginner with allennlp. I'm trying to train  the **simple_seq2seq** model for **named entity recognition** task on the CoNLL 2003 dataset  using **BERT embeddings**. I always get the following error message:

 File "/home/manel/anaconda/bin/allennlp", line 10, in <module>

[2020-01-05 22:03] manelAffi commented on #3524
@mojesty @dirkgr thanks.
fixed like in #1942
Google Colab don't permit the change of package. Posting it here just in case this helps someone.

[2020-01-05 22:03] #3524 closed

[2020-01-06 17:47] matt-gardner commented on #2267
What version of allennlp are you using?  We recently moved the simple server and the config explorer to [allennlp-server](https://github.com/allenai/allennlp-server).  In general, we're going to need more detail in an issue in order to help you.  Please open a new issue (it's easier to track that way), with more detail, if you still are having trouble.

[2020-01-06 18:34] schmmd commented on #2175
Closing due to #3580

[2020-01-06 18:34] #2175 closed

[2020-01-06 18:42] DSLituiev commented on #3579
thank you @dirkgr , it did not work:

[code]

[code]

[code]

[2020-01-06 18:43] DSLituiev commented on #3579
For now using this:

[code]

I wish `_PyTorchLearningRateSchedulerWrapper` was a public method. Its usage is quite straightforward to me.

[2020-01-06 19:59] dirkgr commented on #3579
You're right, I think this is closer:
[code]

[2020-01-06 20:16] DSLituiev commented on #3579
Where do I get `Params` from? Can you please provide imports?

Anyone here is able to explain how is this superior to simply making `_PyTorchLearningRateSchedulerWrapper` public? It seems much more complicated and requiring more syntactic acrobatics.

[2020-01-06 21:28] schmmd commented on #3351
See github.com/allenai/allennlp-hub

[2020-01-06 21:28] #3351 closed

[2020-01-06 21:39] schmmd commented on #3519
Related: https://github.com/allenai/allennlp/issues/3420

[2020-01-06 21:41] schmmd commented on #3438
Some of this work may be duplicate with the AllenNLP course.

[2020-01-06 21:45] schmmd commented on #1289
This is a necessary precondition to better supporting using AllenNLP via python code vs. configuration.  Can we leverage PyTorch's `save` functionality?  Can we just use Python's `dill`?

[2020-01-06 21:48] schmmd commented on #1809
This may not need to be a breaking change--so we might not need to leave this in the 1.0 milestone.

[2020-01-06 21:54] schmmd commented on #3218
Related to https://github.com/allenai/allennlp/issues/3519

[2020-01-06 22:11] schmmd commented on #3380
Closing in favor of https://github.com/allenai/allennlp/issues/3519

[2020-01-06 22:11] #3380 closed

[2020-01-06 22:28] brendan-ai2 commented on #1675
Hey @ZhaofengWu, this should be a decent starter issue to help you get familiar with developing on the codebase. No particular rush -- the tutorials are more important. But do let me know if you have any questions!

[2020-01-06 22:55] dirkgr commented on #3579
`Params` is `allennlp.common.Params`.

Maybe that is the right thing to do, but we would want that to be part of a better strategy for the whole library, making it easy to use programmatically.

[2020-01-07 01:05] griff4692 opened #3590 "How to load a self-trained Transformer ELMo model for fine tuning"
I followed the [Training Transformer ELMo](https://github.com/allenai/allennlp/blob/master/tutorials/how_to/training_transformer_elmo.md) instructions.  The model has now been serialized in `model_state_epoch_x.th` files.  How do I load up the model (along with vocabulary) for fine-tuning on a separate task.  I basically just want to encode sentences with the fine tuned model.

Any help is much ap

[2020-01-07 01:06] brendan-ai2 commented on #2270
Updated description to reflect that we don't intend to maintain our own transformer implementation anymore.

[2020-01-07 06:15] r3dir3ct opened #3591 "Make `Token` class extensible."
**Is your feature request related to a problem? Please describe.**
I'd like to add additional task-specific tags(similar to pos/ner tags) which are not included in the attributes of the current `Token` class  to enrich the embeddings. Thus, I have to extend the `Token` class in AllenNLP.
However, it seems impossible to creating `MyToken` class that subclass the `Token` class (inheriance seems a mu

[2020-01-07 07:17] r3dir3ct commented on #3591
In Python 3.6, `dataclasses` module can be obtained by `pip`.
If necessary, I would like to contribute a PR.

[2020-01-07 14:22] matt-gardner commented on #3591
Yes, this sounds like a good idea, please make a PR. Joel did some profiling when he implemented it this way; it would be good to know if switching to a dataclass is dramatically slower than how it is now.

[2020-01-07 15:06] willfrey commented on #3562
I've found myself using `types.MappingProxyType` from time to time to provide immutable views for some sort of default mapping of objects such as a default mapping of token indexers. `mypy` will yell at me for this.

Additionally, annotating with `Dict` gives me no information about whether or not that dictionary is going to be mutated by the method. If it was annotated with `Mapping`, then I know

[2020-01-07 16:22] matt-gardner commented on #3562
Hmm, yeah, I get the concern.  I'm just worried that we're already pretty extreme in our python code style.  Pushing farther, going all the way to `Mapping` / `MutableMapping`, probably crosses a line for most readers of the code, making the type annotations confusing instead of helpful.  For instance: I've written python code for well over a decade, but I couldn't have told you that `Mapping` was

[2020-01-07 17:31] willfrey commented on #3562
I don't think it's extreme ☺️ I think it'd be more correct!

The `Mapping`/`MutableMapping` difference, for example, isn't really anything new. Those are just generic versions of their counterparts in `collections.abc`, which has been around for a while. I think it'd be similar to your use of annotating variables with the abstract base classes, such as `TokenEmbedder`, instead of a specific implem

[2020-01-07 17:55] sanjibnarzary commented on #3584
It's too rude that you are closing my issue without giving proper a solution. Atleast you could have open the issue so that others can view. BTW thanks, I will never use allenNLP. Unstar+Unfork. Going to huggingface.

[2020-01-07 17:58] schmmd commented on #3584
@sanjibnarzary sorry we don't mean to be rude, but we do rather aggressively manage our issues.  I missed your follow up but I also don't have enough details to give a meaningful reply.

Closing an issue doesn't make it invisible--it just flags it as being addressed by us.  Anyone can search and find a closed issue.  We're happy to help you out further, but we need more details about the exact cod

[2020-01-07 21:36] zhangguanheng66 commented on #2270
If you find any problems and difficulties when mitigating to pytorch transformer/multiheadattention, please ping me @zhangguaheng66 on pytorch Github. We are happy to provide some hands-on help.

[2020-01-07 22:56] ZhaofengWu commented on #3438
[The tutorial repo]((https://github.com/allenai/allennlp-as-a-library-example) currently uses WordTokenizer which will be replaced by SpacyTokenizer in v1.0. I have a [PR there](https://github.com/allenai/allennlp-as-a-library-example/pull/31) in place for this that can be merged after v1.0 is released.

[2020-01-07 23:51] matt-gardner commented on #3304
I will start on this tomorrow.

[2020-01-07 23:57] kernelmachine commented on #3585
We do the softmaxing in the cross_entropy_with_logits function: https://github.com/allenai/allennlp/blob/master/allennlp/nn/util.py#L741.

Does this answer your question?

[2020-01-08 00:09] kernelmachine commented on #3590
Hi there, with the `model.tar.gz` file you get after training the transformer ELMo, you can use `allennlp fine-tune` to fine-tune the LM on additional data https://github.com/allenai/allennlp/blob/master/allennlp/commands/fine_tune.py.

Closing for now, feel free to re-open if you have any additional questions.

[2020-01-08 00:09] #3590 closed

[2020-01-08 00:20] schmmd commented on #2270
@zhangguanheng66 fantastic and thanks for reaching back out.  I'm pretty sure we'll be doing this in the next two months.

[2020-01-08 03:17] hayata-yamamoto commented on #3585
Yes! Thanks. I completely resolved this question.

[2020-01-08 03:17] #3585 closed

[2020-01-08 10:19] tejanmehndiratta commented on #1149
Hi Matt,
What is the input to this task-specific LSTM layer and also how do you computer s_task from this? And also how do you compute lambda_task? It's not clear in the paper

[2020-01-08 22:27] #1675 closed

[2020-01-09 09:52] RikVN opened #3598 "Shape mismatch for stacked self attention model (possible bug?)"
I want to train a Transformer model (using StackedSelfAttentionEncoder) + BERT with batch_size 48 and 4 attention heads. I got the following error:

[code]

I did a bit of debugging, it should be that in this line of code:

[code]

timesteps should be the same size as the mask of source_tokens. This can be traced to _encode of ComposedSeq2seq:

[code]

So the shape should be max_input_sequence_len

[2020-01-09 10:06] RikVN commented on #3521
I use it! I'm not sure the use case is so narrow. In my case it helps a lot if you train on a mix of gold and silver standard data, and then finetune on only gold standard.

I can see users getting confused by the name "finetune", so changing that to a different name I'm fine with.

Of course I'm just a single user, but just letting you know that it is currently used ;-)

[2020-01-10 07:07] r3dir3ct opened #3599 "`LinearAttention` fails to give correct results when matrix length=1"
**Describe the bug**
In `linear_attention._forward_internal`, this line:
`return self._activation(combined_tensors.squeeze(1) + self._bias)`.
It seems `squeeze(1)` here is incorrect.
Because if the `matrix` has the shape `(batch_size, length, encoding_dim)`, the `combined_tensors` will have the shape of `(batch_size, length)`.
If the length>1, the `squeeze` operation is redundant, while the length

[2020-01-10 14:27] scarecrow1123 opened #3600 "Multi-node training: `allennlp.common.util.is_master` doesn't return the correct value"
**Describe the bug**
Currently [`allennlp.common.util.is_master`](https://github.com/allenai/allennlp/blob/master/allennlp/common/util.py#L507) returns `True` only for master process in the master node. The comments in the function mentions it handles multi-node case as well, but it is wrong. In multi-node training, each node has a logical master which will be responsible for showing training prog

[2020-01-10 20:28] brendan-ai2 commented on #3600
@scarecrow1123, thanks for pointing this out. Do you know of any other gotchas with the multi-node case? We didn't consider that particularly thoroughly (e.g. add comprehensive tests) last year, so it would be great to fix it up.

Also, if you have the time, could you flesh out the "To Reproduce" section? That would speed up investigating this bug.

[2020-01-10 20:50] manelAffi commented on #2528
hi,
I'm  beginner with allennlp. I'm trying to train the simple_seq2seq model for named entity recognition task on the CoNLL 2003 dataset using BERT embeddings. I always get the following error message:

File "/home/manel/anaconda/bin/allennlp", line 10, in
sys.exit(run())
File "/home/manel/anaconda/lib/python3.7/site-packages/allennlp/run.py", line 18, in run
main(prog="allennlp")
File "/home/man

[2020-01-10 20:57] manelAffi commented on #2528
hi,
I'm beginner with allennlp. I'm trying to train the simple_seq2seq model for named entity recognition task on the CoNLL 2003 dataset using BERT embeddings. I always get the following error message:

File "/home/manel/anaconda/bin/allennlp", line 10, in
sys.exit(run())
File "/home/manel/anaconda/lib/python3.7/site-packages/allennlp/run.py", line 18, in run
main(prog="allennlp")
File "/home/mane

[2020-01-10 20:57] manelAffi commented on #3377
hi,
I'm beginner with allennlp. I'm trying to train the simple_seq2seq model for named entity recognition task on the CoNLL 2003 dataset using BERT embeddings. I always get the following error message:

File "/home/manel/anaconda/bin/allennlp", line 10, in
sys.exit(run())
File "/home/manel/anaconda/lib/python3.7/site-packages/allennlp/run.py", line 18, in run
main(prog="allennlp")
File "/home/mane

[2020-01-10 21:13] kernelmachine commented on #3586
Hi there,

The seq_2_seq model expects `source_tokens` and `target_tokens` as input to its forward function: https://github.com/allenai/allennlp/blob/master/allennlp/models/encoder_decoders/simple_seq2seq.py#L202

The ConLL 2003 dataset reader outputs, `tokens` and `tags` : https://github.com/allenai/allennlp/blob/master/allennlp/data/dataset_readers/conll2003.py#L137

Instead of the seq_2_seq mod

[2020-01-10 21:13] #3586 closed

[2020-01-10 21:50] manelAffi commented on #3586
@kernelmachine thanks a lot for your response.
Is there any allennlp model  that develop the encoder decoder architecture for named entity recognition task?

[2020-01-10 22:00] kernelmachine commented on #3586
I don't believe so, sorry! You can probably modify the CoNLL 2003 dataset reader to output `tags` as `target tokens`, though, so you can make it work with the simple_seq2seq model.

[2020-01-10 22:28] DeNeutoy commented on #3562
I'm strongly opposed to this - type hints are already foreign to a lot of intermediate python users and covariant types makes them even harder.

[2020-01-10 23:03] #3579 closed

[2020-01-10 23:11] schmmd commented on #3599
We would welcome a PR removing that squeeze, as it's unexpected that passing a value of 1 for the dimension changes the number of dimensions in the return. Bear in mind that this might break many of the tests in the library so it might be a little difficult to fix.

[2020-01-10 23:22] dirkgr commented on #3302
I think `reading-comprehension` is finally done, now that `allennlp-hub` also works with it.

[2020-01-11 00:14] matt-gardner commented on #2079
#3603 makes this even easier. We now guess sorting keys when none are given.  The only thing that needs to be done is make it possible to not sort, which we could maybe do if you explicitly pass `[]` as the sorting keys, so we don't need to add another parameter (i.e., we'd check for `is None` in the right place, instead of `not self._sorting_keys`).  And then the bucket iterator completely subsum

[2020-01-11 00:22] willfrey commented on #3562
That’s totally fair. I’ll close this.

[2020-01-11 00:22] #3562 closed

[2020-01-11 00:32] DeNeutoy commented on #3562
Thanks for understanding!

[2020-01-12 10:43] c4n commented on #3576
probably not the best practice, I was thinking about using a function that only works for an instance not a batch for some of  the selected batches while training.  Perhaps, it's easier to make that function works on a batch instead of an instance.

[2020-01-13 10:15] nadgeri14 commented on #3416
Hi @nelson-liu, if this issue is still pending I would like to take this up.  The above description helped me to better understand the problem. What I am struggling with is how do I reproduce the error described above, since, it only comes up during the forward function.  What is the simplest code block I could refer to or write down so as to reproduce the error and also further test my bug-fix. I

[2020-01-13 10:55] scarecrow1123 commented on #3600
@brendan-ai2

I gave a couple of PRs for minor issues that popped up with distributed/multi-node training. They're already merged and this is the pending one from my personal setup. Hopefully there aren't more. I'm not entirely sure on how multi-node setups are tested, it would be interesting to know if you have come across such stuff.

I've added few more details. Thanks!

[2020-01-13 13:26] mojesty commented on #3564
AllenNLP relies on huggingfaces's `transformers` library and provides a convenient wrapper around `TokenEmbedder`. As long as your bert-like tokenizer and bert-like model are compatible with huggingface pretrained ones, you can use them simply by setting custom `pretrained_model` field in their part of your config with the path in your filesystem.

[2020-01-13 14:08] matt-gardner commented on #3576
It's pretty hard to have such a splitting function be general across all data types, and it's not generally useful, so we don't want to try to add one to the library.  If you can make assumptions about the data type, though, it's quite easy.  Once you have the tensors in your model, especially after the text has been embedded, you can just iterate over the batch dimension for whatever tensor(s) yo

[2020-01-13 14:08] #3576 closed

[2020-01-13 15:03] DeNeutoy commented on #3598
@RikVN This is a good point to raise, as it's not clear in our docs why this wouldn't work.

https://github.com/allenai/allennlp/blob/master/allennlp/modules/token_embedders/bert_token_embedder.py#L46

The problem here is that we are indexing using wordpieces, meaning we get a mask and token_offsets which correspond to the wordpiece length of the sentence. However, the `BertEmbedder` collapses the

[2020-01-13 16:24] schmmd commented on #3564
Closing due to inactivity, but please follow up if you have more questions!  Thanks @mojesty for the extra details.

[2020-01-13 16:24] #3564 closed

[2020-01-13 18:33] matt-gardner opened #3605 "Move dataset.py to batch.py"
We renamed the class a long time ago, we should rename the file to match.

[2020-01-13 18:39] DeNeutoy commented on #3568
@scarecrow1123 fixed by #3602 , thanks for raising this as it gave me additional motivation to fix it, something we should have done a while ago!

[2020-01-13 18:39] #3568 closed

[2020-01-13 19:04] matt-gardner opened #3606 "Add a "log once" function to our loggers."
It would be really nice if we could call something like `logger.warn_once(message)`.  There are *lots* of times where we want to do something like this.

If there isn't already a pre-baked solution for this, to implement this we probably need to have our own wrapper around around the calls to `logging.getLogger`, or instead of `import logging` do `from allennlp.common import logging`, and have our

[2020-01-13 19:43] nelson-liu commented on #3416
hi @nadgeri14 , yes it's still pending.

Here's a repro:

[code]

Note that the input_dim for the extractor is 7, even though the input dim actually passed in is 500—when `use_exclusive_start_indices=True` this causes an error, but when `use_exclusive_start_indices=False`, it silently just works.

[2020-01-13 21:46] loopylangur opened #3608 "test_auc_gold_labels_behaviour in auc_test.py fails intermittently"
**Describe the bug**
The `test_auc_gold_labels_behaviour` test in  `allennlp/tests/training/metrics/auc_test.py::AucTest` fails intermittently when the generated labels contains all `3s`.

Error message:

[code]

**To Reproduce**
This can be reproduced by setting the following seed in the test:
[code]

**Expected behavior**
The test should always pass

**System (please complete the following infor

[2020-01-14 00:48] matt-gardner opened #3609 "Create a text_field_util.py, pulling methods out from nn/util.py"
We have quite a few methods now for wrangling text field outputs (getting masks, getting tokens, etc.).  It's probably worth splitting them out into a separate utility, especially as `nn/util.py` is monstrously large.

Though, I could see counter arguments, that having one place for all util functions makes it easy to know where to find them, and IDEs should autocomplete the function if you know a

[2020-01-14 03:53] andrewschreiber opened #3610 "Remove reference to MODELS.md in README (and replace it with the right pointer, whatever that is)"
https://github.com/allenai/allennlp/blob/master/MODELS.md returns a 404 and https://allenai.github.io/allennlp-docs/MODELS.md is also broken (see below)

Is there a working link somewhere?

![image](https://user-images.githubusercontent.com/1892071/72312852-44e5bb00-363e-11ea-8ced-ed4220c69e88.png)

[2020-01-14 10:49] c4n commented on #3576
thank you! @matt-gardner

[2020-01-14 12:01] nadgeri14 commented on #3416
@nelson-liu Thankyou very much for the help. I have made the appropriate changes please have a look.
[pull request](https://github.com/allenai/allennlp/pull/3611)

[2020-01-14 16:24] RikVN commented on #3598
Thanks, that helped me a lot! Turns out that In general I was confused how BERT worked in combination with the tokenizer and token indexer, but I think I get it now. Indeed the mask is saved based on the offsets, and not on the wordpieces, which I use later. But that's easily fixable in the code.

[2020-01-14 16:29] matt-gardner opened #3612 "Make allennlp-server pip-installable"
This repo: github.com/allenai/allennlp-server.

[2020-01-14 16:42] matt-gardner commented on #3608
This is actually an expected failure.  The docstring of the method says that the label input should be 0 or 1, you're passing in a disallowed value (3), and the method is detecting this and crashing.

Hmm, actually, looking again, what should we do in a case where there is no gold answer?  Setting `positive_label` implies that you have multiple classes, so `3` should be an allowed input.  But it's

[2020-01-14 16:44] matt-gardner commented on #3608
If you are just running tests and checking for random seed inconsistencies, thanks, and I think the solution is to manually set one entry in the tensor to `4` before calling `auc()`.

[2020-01-14 16:47] matt-gardner commented on #3610
@schmmd, what did we do with that list?  And @DeNeutoy, looks like there's a file referenced in the docs that shouldn't be there.  Oh, that's coming from our README...

Changing the name of this issue and assigning it to @schmmd, as I think you have the most context on what happened here.

[2020-01-14 16:51] schmmd commented on #3610
See https://github.com/allenai/allennlp/pull/3530.  I moved that information into the docstrings of https://github.com/allenai/allennlp-hub/blob/master/allennlp_hub/pretrained/allennlp_pretrained.py.  I'll update the link reported.

[2020-01-14 17:34] #3610 closed

[2020-01-14 18:33] matt-gardner opened #3614 "FromParams: Look at superclass constructor for additional arguments when **kwargs is given"
It should be possible to have `FromParams` get arguments from the superclass, to make it easier to add parameters in a base class and not require modifying all subclasses to pass it through (e.g., the `lazy` parameter for `DatasetReaders`).  I think we can do this just by looking for a base class constructor, checking its arguments, and adding any unique ones to the list of things we're trying to

[2020-01-14 19:57] loopylangur commented on #3608
Hi @matt-gardner, I encountered this while I was running the tests. I have created a PR to fix the test by handling the special case. Please take a look.

[2020-01-14 20:36] #3608 closed

[2020-01-14 21:15] #3416 closed

[2020-01-14 21:45] dirkgr commented on #3599
Looks like this was fixed

[2020-01-14 21:45] #3599 closed

[2020-01-14 21:48] dirkgr commented on #3591
This guy says data class is faster: https://medium.com/@jacktator/dataclass-vs-namedtuple-vs-object-for-performance-optimization-in-python-691e234253b9

[2020-01-14 22:50] #2459 closed

[2020-01-14 22:59] matt-gardner commented on #3591
That also makes it look like named tuple would be slower than object, though Joel found the opposite for us (by a lot), so I'd still want to see some metrics in our typical use cases.

[2020-01-14 23:22] DeNeutoy commented on #1809
We should not do this, and instead if you need to do this, you should use allennlp as a library.

[2020-01-15 00:06] DeNeutoy commented on #2699
I did this! Closing.

[2020-01-15 00:06] #2699 closed

[2020-01-15 00:07] matt-gardner commented on #1809
By "as a library" you mean "write your own training loop"?  "As a library" also applies to the case where I'm just writing a dataset reader and a model and using a config file.

[2020-01-15 00:17] #3605 closed

[2020-01-15 00:28] DeNeutoy commented on #1809
It's easy if you write your own script - you just construct it separately, however it needs to be constructed, and set it as an attribute on whatever thing you have pre-constructed, or manually add it into a config you are loading. The point is, it's not going to be possible to do this in a general way, but it's very easy to do for a single project.

[2020-01-15 00:51] DeNeutoy commented on #2280
Marking this as fixed by adding dependabot to our repo, e.g #3623 . This doesn't directly fix this issue, as it's still possible to have conflicting version pins, but this should become more unlikely now the versions we pin to get updated automatically. Also, we didn't have a good alternative solution, because it's a hard problem in general.

Feel free to re-open if we think of a better way to do

[2020-01-15 00:51] #2280 closed

[2020-01-15 00:53] #3327 closed

[2020-01-15 00:54] matt-gardner commented on #1809
Yes, I think I agree with that.  This is a case where we should recommend writing your own equivalent of our train command.  We need to make sure that's easy to do.

[2020-01-15 00:58] DeNeutoy commented on #1809
Great, I think we can close this.

[2020-01-15 00:58] #1809 closed

[2020-01-15 01:06] DeNeutoy commented on #3598
Yes sorry, it's not very clear at the moment. It is something we are working on making substantially 1) clearer and 2) easier for the 1.0 release, e.g #2270 . I'll close this as there are other issues which track that work, and I think you're unblocked for now!

[2020-01-15 01:06] #3598 closed

[2020-01-15 01:14] DeNeutoy commented on #3609
i'm kind of cold on this, the new docs make it really easy to find new functions etc. https://allenai.github.io/allennlp-docs/api/nn/util/

I think there are some that could live elsewhere, like:

https://allenai.github.io/allennlp-docs/api/nn/util/#add_sentence_boundary_token_ids
https://allenai.github.io/allennlp-docs/api/nn/util/#remove_sentence_boundaries

are elmo specific,

https://allenai.g

[2020-01-15 08:58] nadgeri14 commented on #3458
@matt-gardner if this issue is still pending I would love to take this up. I might need your assistance as I am relatively new to the code base. As in if you could provide me a list of TODO's it will really help me.

[2020-01-15 15:03] willfrey commented on #3562
For what it's worth, I've run into one situation with dataset readers where the annotation matters for construction using `from_params(...)`.

[code]

Just posting this here to confirm one of my original suspicions that `FromParams` might rely on the invariant annotations!

Thanks again for all your work on this framework!

[2020-01-15 15:53] matt-gardner commented on #3562
Yeah, I thought that might happen.  This is one I'm happy to accept a PR for; it should be a simple one-line change in the relevant part of `FromParams`.  It doesn't hurt us at all to accept that annotation, we just don't want to use it ourselves.

[2020-01-15 15:55] matt-gardner commented on #3458
The new `tokenizers` library from huggingface tracks character offsets, so we don't need to add this ourselves.  We have someone here who's going to be fixing this very soon.  I'd recommend against picking up this issue.

[2020-01-15 16:14] guoquan commented on #2167
Maybe better to just put a warning instead of an error at L461.
And document the exact potential exception there.
https://github.com/allenai/allennlp/blob/55147761ca3b46a9ce994532e2451af95088258c/allennlp/common/util.py#L436-L462

[2020-01-15 16:29] nadgeri14 commented on #3458
@matt-gardner  Oh, thanks for the update.

[2020-01-15 17:43] willfrey commented on #3562
Great! I'll start working on a PR to fix this once I wrap up some work that's already on my plate.

For what it's worth, I tried to naively change [this line](https://github.com/allenai/allennlp/blob/master/allennlp/common/from_params.py#L263) to accept `Mapping` in addition to `dict` and `Dict` but it didn't fix the problem.

I'll give that block a more careful read to figure out how it's getting

[2020-01-15 18:05] matt-gardner commented on #3562
Hmm, I would have thought that would work. Not sure without digging into it more why it wouldn't.

[2020-01-15 18:37] willfrey commented on #3562
No worries. I'm happy to take a look at it!

On Wed, Jan 15, 2020 at 1:05 PM Matt Gardner <notifications@github.com>
wrote:

[2020-01-15 18:43] #3600 closed

[2020-01-15 21:44] mahnerak opened #3629 "Proper Bert Pooling"
The jsonnet configuration
 https://github.com/allenai/allennlp/blob/master/allennlp/tests/fixtures/bert/bert_pooler.jsonnet suggests using `bert_pooler` with `bert-pretrained` with `offsets` enabled, but the `BertEmbedder` returns embeddings for tokens (not wordpieces), so there's no `CLS` there.

To do a proper Bert pooling we need to disable `bert-offset`, isn't it?

[2020-01-15 22:37] DeNeutoy opened #3630 "Updates to the docs"
#3602 switched our docs from restructured text to markdown, which is a big improvement. However, there are some left over traces of rst formatting in the docstrings. It would be great if we could comb through these and update them.

- [ ] commands
- [x] common
- [ ] data
- [x] interpret
- [x] models
- [x] modules
- [x] nn
- [x] predictors
- [x] tools
- [x] training

# How to help

If you're intere

[2020-01-15 22:54] matt-gardner commented on #3629
I'm actually not sure what the right way is to do that with the old BERT code.  We are moving to using our `PretrainedTransformer*` classes instead.  Figuring out the right way to do this kind of pooling is on our list of things to do, but not at the top right now.  Contributions welcome here for now, until we get to it ourselves (which will realistically be at least a month, I think; we're doing

[2020-01-15 23:35] matt-gardner commented on #3521
Looking at #3404, and the work I'm planning on doing for #3627, I'm pretty sure we can remove the `fine-tune` command and just have a `"type": "from_archive"` model (which should be easy to register as a separate `@classmethod` on `Model`, using #3550).  The only difference between the two commands is where the model comes from.

[2020-01-15 23:39] matt-gardner commented on #2167
@guoquan (and @WindChimeRan), I agree with this. I'm re-opening this issue, and renaming it.  Should be an easy fix; PR welcome!

[2020-01-16 01:25] entslscheia opened #3631 "How to efficiently implement a decoder with character-level embedding?"
Considering we have a simple seq2seq model, and for the decoding side, I want to compute both the input embedding and output embedding using character-level representations (e.g, to embed a word we can apply a 1-d CNN filter over its characters, or even simpler, we directly use the average embeddings of its characters). It's convenient to use allennlp to implement the embedding layer, i.e., we can

[2020-01-16 01:40] matt-gardner commented on #3631
I think you basically want to get an embedding matrix for your vocabulary from the character CNN.  This means getting an indexed representation of your entire vocabulary, then passing it through your character CNN.  Then you can do a typical softmax over your vocabulary to get a distribution over the next word.  Pretty messy if you have to do this at training time, but not bad if you just do it on

[2020-01-16 02:35] entslscheia commented on #3631
Thanks a lot! But I don't quite get what you meant by **Pretty messy if you have to do this at training time, but not bad if you just do it once for decoding.** Apparently I am going to need this embedding matrix during training, but I don't see why computing this embedding matrix is messy during training?
Also, is the job of `_make_embedder_input` just to convert each input into the corresponding

[2020-01-16 15:25] nadgeri14 commented on #2292
@nelson-liu @matt-gardner If this issue is still pending, I would like to take this up. If so, should I go forward with the second approach to solve it?

[2020-01-16 16:54] matt-gardner commented on #3631
You could do it in the dataset reader, and pass a reference to the whole vocab object in every `Instance`.  The annoying thing is that it's really a global data object, and we don't have a good mechanism for passing this through to the model (see #1809). But adding the same object as a `Field` to every `Instance` would work, and you just embed it once per batch.  What I meant by "messy" is "expens

[2020-01-16 16:59] matt-gardner commented on #2292
Yes, @nadgeri14, that would be great.  The line numbers referenced above have changed, so the place to do it is probably right above this line, at the top of `_extend`: https://github.com/allenai/allennlp/blob/c9bd9b294df102fd35dc93b62f9c900a142ab297/allennlp/data/vocabulary.py#L436

[2020-01-16 18:58] nadgeri14 commented on #2292
@matt-gardner Thanks, that was really helpful.

**I need a small help**: Could you please provide a test case, as it will help me to validate my solution before submitting the PR.

Thanks in advance for the help.

[2020-01-16 19:14] entslscheia commented on #3631
But we need to re-compute the entire embedding matrix anyway right? So this is an inherent problem of using the character CNN for decoding.

[2020-01-16 20:07] matt-gardner commented on #3631
Depends on what you mean by "decoding".  You just have to recompute it when it changes.  After the model is trained, it's not going to change, and you can just compute it once.

[2020-01-16 20:11] matt-gardner commented on #2292
You just need a `counter` with some set of keys, and a `min_count` parameter that has keys not present in the `counter`.

[2020-01-16 20:57] #3631 closed

[2020-01-16 22:11] #3614 closed

[2020-01-17 00:51] DeNeutoy opened #3637 "Pytorch 1.4 breaks RNN drop connect"
Pytorch has released 1.4, and now this test consistently fails:
https://github.com/allenai/allennlp/blob/master/allennlp/tests/modules/drop_connect_test.py#L29

it's possibly to do with this commit:
https://github.com/pytorch/pytorch/pull/28562

This module does some super funky stuff with the weights of a submodule it is passed, and so does pytorch in the rnn case (flattening weights, unflattenin

[2020-01-17 00:52] matt-gardner commented on #3637
Related: https://github.com/allenai/allennlp/pull/3357#issuecomment-575308466

[2020-01-17 00:54] #3481 closed

[2020-01-17 05:56] mojivalipour opened #3640 "HF Transformers Model Conversion"
**System (please complete the following information):**
 - OS: [Linux]
 - Python version: [3.7.5]
 - AllenNLP version: ["I installed from master"]

**Question**
* Is it possible to convert HuggingFace Transformers GPT2 to the AllenNLP model to use in the AllenNLP Demo interface? next-token-lm?

[2020-01-17 14:03] Sxx1995 opened #3641 "Error when loading dependency-predictor: biaffine-dependency-parser-ptb-2018.08.23.tar.gz"
[code]

[2020-01-17 16:24] schmmd commented on #3641
I was able to reproduce the same error with the following command (copied from the demo):

[code]

[2020-01-17 16:51] matt-gardner commented on #3641
This is a known issue, hopefully to be fixed today: https://github.com/allenai/allennlp-hub/issues/12. Closing this one in favor of the already-existing issue.

[2020-01-17 16:51] #3641 closed

[2020-01-17 16:54] matt-gardner commented on #3640
This is what we did for the model in our demo, which you can find here: https://demo.allennlp.org/next-token-lm, with the model available at this link: https://storage.googleapis.com/allennlp-public-models/gpt2-next-word-lm-2019.09.19.tar.gz

(you can find the link to all demo models by looking in [this file](https://github.com/allenai/allennlp-demo/blob/3f913174dd887fa491eb3b27c68289935592a4ac/mo

[2020-01-17 16:54] #3640 closed

[2020-01-17 17:34] DeNeutoy commented on #3630
#3642 has done most of the double backtick cleanup for all directories.

[2020-01-17 17:43] mojivalipour commented on #3640
I just tried to replace weights and adapt the current gpt2 config that you've mentioned to the HF transformers model. However, it seems the model should be extracted from the AllenAI API directly because they have different outputs, including weights file. So, I think it would be awesome if you give me an insight into the process for converting my HF transformers model to something that can be run

[2020-01-17 18:31] matt-gardner commented on #3640
My recommendation: untar that model archive, find its config file.  Change the "model_name" from gpt-2 to a pointer to whatever your weights are (we just call huggingface's `AutoModel`, so if your weights can load from that, that's what you need).  Then, in python code, load the config file, instantiate the model from it, and save it.  That code will look something like this, though what I'm putti

[2020-01-17 18:35] mojivalipour commented on #3640
Nice, I was looking exactly for the saving method that you've already mentioned it. I will check it ASAP, and if there were any problems, I would let you know.

[2020-01-17 18:43] schmmd opened #3645 "Add a robust test that makes sure usage is accurate in the documentation"
See https://github.com/allenai/allennlp/pull/3642

[2020-01-17 18:59] matt-gardner commented on #3645
Maybe even better: have the script that generates our docs add this to the generated files, instead of having the usage live in the docstring.

[2020-01-17 23:08] matt-gardner commented on #3609
Maybe this would be useful, but it's not high enough priority or a big enough of a problem to actually do anything about right now.  Closing this issue.

[2020-01-17 23:08] #3609 closed

[2020-01-17 23:11] matt-gardner commented on #3629
This is basically duplicate with #3305; adding a note there and closing this issue.

[2020-01-17 23:11] #3629 closed

[2020-01-17 23:11] matt-gardner commented on #3305
We need to be sure that this also handles pooling for classification tasks.

[2020-01-18 01:08] brendan-ai2 opened #3649 "Regression tests for training_config."
**Is your feature request related to a problem? Please describe.**
We currently don't have tests that cover training end-to-end with real (or near real) training configs. This means that we have broken config in our repo. For instance:

https://github.com/allenai/allennlp/blob/2e811b2796f77e9e796fc3a91f6618fdac68973b/training_config/bidirectional_language_model.jsonnet#L52 no longer works as of ht

[2020-01-18 01:58] brendan-ai2 opened #3650 "Make GPU unit tests run on multiple GPUs."
We're currently seeing regressions due to only running on one GPU. We just need to bump the TC box up to two K80s. Cost looks pretty minor.

In particular, we don't run https://github.com/allenai/allennlp/blob/master/allennlp/tests/commands/train_test.py#L86 which would have caught the fact that https://github.com/allenai/allennlp/blob/2e811b2796f77e9e796fc3a91f6618fdac68973b/allennlp/commands/tra

[2020-01-18 18:34] matt-gardner commented on #3649
An easy alternative to full-on training would be to just validate the configuration files.  E.g., after #3627 is done, we could do this just by calling `TrainModel.from_params()` on the config file.  Hmm, we'd probably want to set the dataset readers to lazy before doing that.  But something like that should be a quick and easy test.

[2020-01-18 21:01] rloganiv commented on #3637
I am fine with deleting this module. I agree the implementation is very hacky (unfortunately by neccesity) and in my experience very unstable - I've been working with different versions of drop conenct since PyTorch 0.4.1 and every release seems to introduce a new issue.

[2020-01-18 21:49] entslscheia opened #3652 "How to get device in allennlp?"
For some reason, I need to get the device used by my current model in my code and assign it to `self._device`. The constructor of my model is as follows:
[code]
You can see that there is an `source_embedder` argument in my constructor. My idea is to get the device of source_embedder's weights, i.e.,
[code]
However, the device I get in this way is always `cpu`, which is different from how the train

[2020-01-19 22:50] matt-gardner commented on #3652
Can you just grab it in `forward()`? It'll be on the right device by then. Hard to give more help than that without more detail about the problem you're trying to solve.

[2020-01-19 23:29] STayinloves commented on #3480
I encounter a similar problem after enabling cached instances. It's probably not related to using both indexer and tokenizer under the same name because `PretrainedBertIndexer` should have the attribute `wordpiece_tokenizer`.

[2020-01-20 02:50] STayinloves commented on #3107
It's easy to implement caching an entire dataset, but it will lose track of the read/write progress.

I leave my implementation here for future reference.

[code]

[2020-01-20 08:22] himanshu140391 opened #3654 "Allennlp isn't installing right for me on windows"
[code]

[2020-01-20 15:17] matt-gardner commented on #3107
Thanks @STayinloves. The abstract methods to let you do this were added a long time ago, so I'm closing this issue. If you want to have this kind of cache, you can add @STayinloves's code to your dataset reader.

[2020-01-20 15:17] #3107 closed

[2020-01-20 16:00] matt-gardner commented on #3654
@himanshu140391, we don't support windows, so I'm closing this, but this issue might have some help: https://github.com/allenai/allennlp/issues/612.  Also, if it's trying to grab torch version 0.4.1, that means you're trying to install a *really* old allennlp version.  There are a few reasons that might happen, such as using an older python version (we now require at least 3.6).

[2020-01-20 16:00] #3654 closed

[2020-01-20 19:08] #3637 closed

[2020-01-20 19:39] brendan-ai2 commented on #3649
I like that idea a lot!

[2020-01-20 22:07] #3612 closed

[2020-01-21 01:24] matt-gardner opened #3657 "Remove files_to_add functionality"
Our ability to use and cache URLs should now be preferred over `files_to_archive`.  That old functionality is a main remaining cause of needing a custom `from_params` method, and it's causing headaches as I'm trying to update configs for https://github.com/allenai/allennlp-hub/pull/14.  It looks like if you untar the model archive, modify the config, then retar the archive, things that used to wor

[2020-01-21 01:55] brendan-ai2 opened #3658 "Make find_learning_rate compatible with DistributedDataParallel."
**Describe the bug**
`find-lr` cannot use multiple GPUs. This is a regression. Multi-GPU compat was intentionally added in https://github.com/allenai/allennlp/pull/2045. More specifically, allennlp/tests/commands/find_learning_rate_test.py::TestFindLearningRate::test_find_learning_rate_multi_gpu currently fails. In 79601fa6f09d3fb6fedc3965850e5df907b716ea, for instance.

**To Reproduce**
Run `pyte

[2020-01-21 03:54] sc1884 opened #3660 "how can i creates vocab from Instance with specified namespcace"
It's a machine translation task from Chinese to English, but I'm confused by my vocab which includes mixed tokens from two languages, e.g.
`
vocab.get_token_from_index(444)
output:
    'take'

vocab.get_token_from_index(101)
output:
    '需要'  # which is a Chinese word
`

The details are as follows:
I have implemented DatasetReader and in there, Instance has two TextField:1)src_sentence (chinese se

[2020-01-21 06:34] SephiHorse opened #3661 "Why do all the internal tutorials disappear? T^T"
![image](https://user-images.githubusercontent.com/47956194/72780908-001fdc80-3c5b-11ea-8cb1-a0507b356371.png)

[2020-01-21 06:35] SephiHorse commented on #3661
![image](https://user-images.githubusercontent.com/47956194/72781017-39f0e300-3c5b-11ea-810d-d6f58a305426.png)

[2020-01-21 10:46] sc1884 commented on #3660
[code]
the problem is in this line.
should be

[code]

[2020-01-21 10:46] #3660 closed

[2020-01-21 16:34] DeNeutoy commented on #3661
Hi, they now live in the docs folder:
https://github.com/allenai/allennlp/tree/master/docs/tutorials

However, you might like to view them on our new docs website:

https://allenai.github.io/allennlp-docs/tutorials/getting_started/predicting_paper_venues/predicting_paper_venues_pt1/

[2020-01-21 16:35] DeNeutoy commented on #3652
In more detail, you might want to try https://allenai.github.io/allennlp-docs/api/nn/util/#get_device_of

[2020-01-21 16:35] #3652 closed

[2020-01-21 16:38] DeNeutoy commented on #2701
This should probably be a script, closing