[2020-08-12 04:38] nitishgupta commented on #4550
@dirkgr - I saw that you recently added BART to the allennlp-models, hence you might be the best person to know about this.

[2020-08-12 09:01] wlhgtc opened #4551 "Can we support multi-dataset when training ？"
I am reproduce an seq2seq model in Open-NMT,
I wonder if we could  support param like `data weight`  in NMT, specifically:
  1.  support more than one datasets (share same vocabulary)
  2. could set weight to each dataset (e.g. 2:1 means 2 batch in the first one and 1 in another)
I find your discussion in  #4422. Multi-task seems need same feature like this.  Actually, multi-task needs two part: m

[2020-08-12 09:04] heytitle opened #4552 "Question regarding model interpretations"
Hi,

May I ask a couple of questions regarding model interpretations?
1. Is it common to use SmoothGrad in NLP? It's a bit counterintuitive to me because embeddings are static.
2. When visualizing contribution scores, is it common to select top K tokens for the visualization?
<img width="825" alt="image" src="https://user-images.githubusercontent.com/1214890/89996495-26ef4000-dc8b-11ea-8fc8-1b9e6a

[2020-08-12 14:18] nagumamta opened #4553 "Text to sql atis training set"
Hi,

I am working  on text to sql(atis),  i created model using experiment.json and sample.json,  present  in the tests\fixtures, used the same  model to predict,  but predicted values are 0 even for the  utterance present in sample.json

can u plz point out what  is wrong and can u plz provide entire training set (as i noticed that  sample.json has only 14 utterance)

[2020-08-12 15:24] lianna1016 opened #4554 "Training ELMo Transformer, and using it as an embedder"
Hello! I am trying to train transformer ELMo using my own dataset. I am trying to use [this tutorial](https://github.com/allenai/allennlp/blob/v0.9.0/tutorials/how_to/training_transformer_elmo.md) but it is proving a little difficult for me because of the older version. In particular I had a question regarding [the example config file](https://github.com/allenai/allennlp/blob/v0.9.0/training_confi

[2020-08-12 16:20] epwalsh commented on #4351
@JohnGiorgi thanks for that example.

And for everyone in this thread, where do you think would be the best place to document this? A couple of ideas (not necessarily mutually exclusive):

- put instructions in the docstring of `PretrainedTransformerEmbedder`
- write a short blog post, publish on medium, and link to this post in the `PretrainedTransformerEmbedder` docstring and also in our README

[2020-08-12 16:29] JohnGiorgi commented on #4351
@epwalsh No problem, there's just a couple of issues I ran into:

- `hf_serialization_dir` needs to be a `str`, (or cast to a `str`) before being passed to `save_pretrained` (see https://github.com/huggingface/transformers/pull/4650).
- By default, there is no way to access the HuggingFace `tokenizer` from `PretrainedTransformerEmbedder` (I think). In order to do that so that I could call `save_pr

[2020-08-12 16:36] epwalsh commented on #4351
Thanks @JohnGiorgi, that's helpful!

[2020-08-12 16:41] matt-gardner commented on #4351
Put a section in the guide instead of this?

[2020-08-12 16:43] epwalsh commented on #4351
@matt-gardner either way is fine with me, I just wasn't sure if this would be within the scope of the guide.

[2020-08-12 17:28] #4050 closed

[2020-08-13 09:36] lixiepeng opened #4555 "torch must be imported before import allennlp"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-08-13 09:57] foodiehack commented on #4536
Waiting for the same. If you can give the performance differences you observe.

[2020-08-13 16:58] epwalsh commented on #4351
After talking with @matt-gardner and @AkshitaB we decided that it would beneficial (and very little extra work) to publish mini tutorials like these on both Medium and the guide.

We want the guide to be the centralized source of truth for AllenNLP documentation, but cross-posting on Medium would make these tutorials easier to find and could ultimately help drive traffic to the guide as well.

[2020-08-13 18:32] shounakpaul95 opened #4557 "Metrics for Multi-label Classification Task"
Is there any built-in functionality to calculate metrics like Precision, Recall and F1-Score for the multi-label multi-class classification scenario (one or more target classes)?

The current implementation of FBeta Measure can only take inputs for the single-label scenario.

[2020-08-13 20:14] nitishgupta commented on #4550
Apologies for the false alarm -- I found a solution here: https://github.com/huggingface/transformers/issues/6353
One line fix; `use_cache=True` needs to be passed to the BART model's `forward`.

I tried to test the CNN/DM BART model here but, (1) I first ran into an issue with the data link in the config, (2) I downloaded the tar manually but the dataset reader was taking forever to untar and I k

[2020-08-13 23:25] matt-gardner commented on #4553
You definitely should not use the data in the test fixtures as actual training data for anything; those are very small datasets only used for testing.  The training data requires an LDC license; you'll need to go [here](https://github.com/lil-lab/atis) and ask Alane Suhr for access (she'll want to confirm that you have the appropriate LDC license, I imagine).

[2020-08-13 23:26] matt-gardner commented on #4553
If you're just interested in text to sql more generally, I don't think the spider dataset requires an LDC license, and there are allennlp models available for it [here](https://github.com/benbogin/spider-schema-gnn-global).

[2020-08-13 23:29] matt-gardner commented on #4552
1. I don't think either smooth grad or integrated gradients is "common" in NLP, nor would I say that simple gradient is either.  It's not really well understood how any of these interact with transformers, I don't think.  But, the library should at least let people explore this, which was our point, more than claiming that these were techniques we necessarily endorse.

2. We're not really in a pos

[2020-08-14 00:32] JohnGiorgi commented on #4557
We are actually working on exactly that! Our implementation subclasses `FBetaMeasure` and has (almost) all the same unit tests. Still stuck on a couple.

You can take a look at it [here](https://github.com/semantic-health/allennlp-multi-label) where we also have multi-label dataset reader and a multi-label text classificatio model. The metric specifically is [here](https://github.com/semantic-heal

[2020-08-14 01:34] foodiehack opened #4558 "Bulk predict for coreference with constant memory usage"
- So I want to use coreference resolution on more than 2000 stories. But every time I run the predict method the memory increases. Any way to use this with constant memory usage. I am using CPU for now. I have tried clearing the cache and running garbage collector. Please have a lot at the pseudo-code.
- And also is there a way to reduce the prediction for large data.
- I am also thinking of addin

[2020-08-14 01:42] foodiehack commented on #4557
I have made my custom function for calculating Precision, Recall, and F1-Score for the multi-label classification. It's a generic function that can be used with any algo or framework you are using for multilabel classification.

[2020-08-14 02:58] foodiehack commented on #4223
@datix-vishu hey did you find any solution or any workaround?

[2020-08-14 04:44] heytitle commented on #4552
@matt-gardner thank you very much for the answers!

[2020-08-14 04:44] #4552 closed

[2020-08-14 05:40] nagumamta commented on #4553
Thanks @matt-gardner  have done the same

[2020-08-14 05:41] nagumamta commented on #4553
@matt-gardner  sure will look into it

[2020-08-14 09:17] dirkgr commented on #4558
That's an interesting way of getting a "static" variable in a function. I might steal this in the future.

There is no way to create a "pipeline" in AllenNLP. By construction, our models for the various tasks don't work that way, though you could probably write your own model that does all the tasks you need, and pre-train the components separately.

I have checked your code for obvious problems w

[2020-08-14 09:20] dirkgr commented on #4557
@JohnGiorgi, we'd be excited to have this in the core library. I'm happy to review a PR or two :-)

[2020-08-14 09:23] dirkgr commented on #4555
Sorry, we don't officially support Windows.

Inofficially though I would hope this works. This is probably caused by some incompatibilities in your environment. How do you install torch, and the rest of the dependencies? Do you use virtualenv or conda?

[2020-08-14 09:30] dirkgr commented on #4554
The model still exists, but it was moved to the [allennlp-models](https://github.com/allenai/allennlp-models) repository. There is an updated config here: https://github.com/allenai/allennlp-models/blob/master/training_config/lm/bidirectional_language_model.jsonnet

Can you try that?

I don't know for sure that this config will train properly. It takes a long time to train this model, so we can't

[2020-08-14 09:33] dirkgr commented on #4551
We have a more detailed design for how to do multi-task learning in a Google Doc. I will clean it up and put it into the discussion at #4422 shortly.

I'll close this issue as a duplicate, but please follow the discussion at #4422 and make sure we hear your feedback before we write the code!

[2020-08-14 09:33] #4551 closed

[2020-08-14 09:38] dirkgr commented on #4550
I did not dig into the details, but is this something we should change on our end?

What was the issue with the data link in the config?

Untarring will indeed take a long time. It has to create many small files, which is never ideal. I'd be happy to look at various PRs that address this, for example:
 * change the data format so that the data lives in a few large files
 * show a progress bar whil

[2020-08-14 09:40] wlhgtc commented on #4551
Sure and I am looking forward to this new feature!

[2020-08-14 09:45] dirkgr commented on #4549
This code still fails in the latest version of AllenNLP, but it fails in a different way. I believe `tags` has to be an `int64` tensor, and then you should be good to go.

In short,
 1. Please upgrade to the latest version of AllenNLP.
 2. Make sure `tags` is `int64`.

[2020-08-14 14:28] #4553 closed

[2020-08-14 15:03] lianna1016 commented on #4554
Thank you!

I see that these lines were able to fix this problem
[code]

And I was able to do a quick training using the config file you pointed me too. However, now when trying to use these elmo embeddings in a different model, I run into the following error.

[code]

and trying to solve this problem, I am looking at [language_model_token_embedder.py](https://github.com/allenai/allennlp/blob/v0.9

[2020-08-14 17:04] nitishgupta commented on #4550
Yes, I think a one-line change would be needed. But before I could do that I am struggling with getting past the reader.

1. When I use the `tar.gz` URL given in the config I get the error:
[code]

2. When I download the `tar` locally and run I get a
[code]

I am running this on OpenSuse linux. Would you know what might be the issue.

[2020-08-14 20:19] epwalsh commented on #4351
Medium post on this here: https://medium.com/ai2-blog/tutorial-how-to-upload-transformer-weights-and-tokenizers-from-allennlp-to-huggingface-ecf6c0249bf.

I'll hold off on closing this issue until I've added it to the guide as well so I don't forget.

Thanks @JohnGiorgi for bringing this up!

[2020-08-14 20:57] epwalsh opened #4559 "Ignore this issue, I'm testing a bot to autoclose stale issues"

[2020-08-14 20:58] epwalsh commented on #4559
This is a test comment

[2020-08-14 21:54] #4559 closed

[2020-08-15 15:57] nitishgupta commented on #4550
Weirdly I do not get an error when I try to train this model, but get one doing something very similar.
I'm closing this now, will reopen if I face issues.

[2020-08-15 17:38] Mayar2009 opened #4563 "ImportError: cannot import name 'PretrainedBertIndexer'"
Hi!
I have this code
from allennlp.data.token_indexers import PretrainedBertIndexer

token_indexer = PretrainedBertIndexer(
    pretrained_model="bert-base-uncased",
    max_pieces=config.max_seq_len,
    do_lowercase=True,
 )
# apparently we need to truncate the sequence here, which is a stupid design decision
def tokenizer(s: str):
    return token_indexer.wordpiece_tokenizer(s)[:config.max_seq_

[2020-08-16 00:23] eladsegal opened #4564 "Wrong metrics calculations when running in distributed mode"
## Version
v1.1.0rc3

## Description
`BooleanAccuracy` and `CategoricalAccuracy` (and possibly other metrics) are not calculated correctly when running in distributed mode, causing them to return `nan`.

It is caused by repeated addition of an accumulated variable with itself with each call to update the metric, resulting in an exponential growth until it gets to a value of `inf` (and when `inf` i

[2020-08-17 11:27] calusbr opened #4565 "Corpus NER whitout Pos-Tag and Chunk-Tag"
Hello, I have a problem with my NER execution. I have a Corpus NER with only NER tag and no pos-tag and chunk-tag options, how can I run my experiment? Are there any parameters I can change in my .jsonnet?

[2020-08-17 12:04] dirkgr commented on #4550
Alright, but I am quite interested in the issue with the data link? We try pretty hard to make it so you can run the training configs out of the box (as long as the data isn't copyright protected, at least).

[2020-08-17 14:19] nitishgupta commented on #4550
Okay, yeah I just confirmed and trying to train using the URL provided does run into an issue:
[code]

This runs if I download the `.tar.gz` locally and point to that. Haven't dug into what the issue might be.

P.S. I'm using OpenSuse linux.

[2020-08-17 15:30] AkshitaB commented on #4564
@eladsegal Thank you for bringing this to our attention. I know what other metrics may have a similar problem, and can work on fixing those. Please feel free to go ahead and submit a PR for these two.

[2020-08-17 15:31] #2127 closed

[2020-08-17 16:17] dirkgr commented on #4422
I updated this issue's description to be basically a spec, ready to implement. @wlhgtc, does it address your concerns?

[2020-08-17 16:19] dirkgr opened #4566 "Jiasen's Dynamic Stop&Go"
In https://arxiv.org/abs/1912.02315, @jiasenlu et al. describe an algorithm that selects the next task based on the validation performance of the task. I believe we can implement this on top if #4422 with a combination of a multitask scheduler that remembers which task is in “stop” mode and which task is in “go” mode. MT schedulers can’t calculate validation performance, so that will have to happe

[2020-08-17 16:19] dirkgr commented on #4422
I put the description of Stop&Go into #4566, since we can do that separately from this.

[2020-08-17 16:20] dirkgr commented on #4566
@jiasenlu, you have existing code for this, right?

[2020-08-17 16:28] #3649 closed

[2020-08-17 16:28] dirkgr commented on #4563
It's called `PretrainedTransformerIndexer` in the latest version. The code you have there is quite old. The parameters have changed too and will need adjustment.

[2020-08-17 16:40] dirkgr opened #4567 "`batches_per_epoch` should not affect evaluation"
@HarshTrivedi noticed that `batches_per_epoch` affects evaluation, in that it only evaluates on the first `n` batches when this is set. While it's easy to see why this happens, that's almost always wrong. We should ignore that parameter for evaluations. If you want to restrict the dataset size for evaluations, you can do it with the `max_instances` parameter.

[2020-08-17 17:01] HarshTrivedi commented on #4567
Btw, this could also be a problem for validation evaluation happening after every checkpoint during the training.

For fixing only the post-training evaluation, my current hack is just to add the following line [here](https://github.com/allenai/allennlp/blob/master/allennlp/commands/evaluate.py#L148).

[code]
This doesn't fix the training phase evaluations though.

[2020-08-17 17:09] dirkgr commented on #4567
We talked about this during issue review.
 * We don't want to take away the ability to set `batches_per_epoch`.
 * We don't want to make the validation data loader act differently when it's specified in jsonnet vs. when we default-fallback to the train dataloader.
 * We want to be able to silence the warning if we print one.

[2020-08-17 17:22] #4535 closed

[2020-08-17 18:13] dirkgr commented on #4567
@HarshTrivedi, the proper way to fix this right now is to set the `validation_data_loader` in the config. You can use jsonnet to set it to a copy of `data_loader`, minus the `batches_per_epoch` parameter. It would look similar to this: https://github.com/allenai/allennlp-models/blob/master/training_config/classification/stanford_sentiment_treebank_roberta.jsonnet#L22

[2020-08-17 19:23] HarshTrivedi commented on #4567
Yep, thanks. I'm already doing that for training _new_ models. However, several of my models are already trained without the `validation_data_loader` being set. For config change to take affect, I'd have to do unarchive model.tar.gz, tweak config, rearchive for every trained model and only then use it. Other option's to just use overrides passing validation_data_loader for every evaluate command.

[2020-08-17 19:34] mojesty commented on #4565
The easiest way to do so will be forking `Conll2003DatasetReader` and removing all code that deals with additional columns.
After that, register your new class with `@DatasetReader.register('simple_conll')` and use in your jsonnet config file:
[code]
to make auto-importing work, you will either `--include-package module_name` or add `.allennlp_plugins` file to your repo, in which you should write

[2020-08-17 20:02] #4098 closed

[2020-08-17 20:26] AkshitaB commented on #4564
Reopening issue to keep track of adding tests and fixes to remaining metrics that will break.

[2020-08-18 00:03] wlhgtc commented on #4422
Sure.

[2020-08-18 00:26] jiasenlu commented on #4566
yes, we have code for this.

[2020-08-18 02:57] sysulx opened #4569 "The default value of `cuda_device` of the class `GradientDescentTrainer` in allennlp/training/trainer.py"
On the line 274 of the file [allennlp/training/trainer.py](https://github.com/allenai/allennlp/blob/master/allennlp/training/trainer.py) it says the the default value of `cuda_device`  in the class `GradientDescentTrainer` is `-1`, `cuda_device : int, optional (default = -1)`,  but actually, the default value is `None`, (on line 361: `cuda_device: Optional[Union[int, torch.device]] = None`),  a sm

[2020-08-18 09:33] heheda-sys opened #4571 "https://raw.githubusercontent.com/allenai/allennlp/master/tutorials/tagger/training.txt with status code 404"
Hi.

In the code that runs  **LSTM for Part-of-Speech Tagging**, I have an error here.
**OSError: HEAD request failed for url https://raw.githubusercontent.com/allenai/allennlp/master/tutorials/tagger/training.txt with status code 404**.
Where can I find the training files.

[2020-08-18 10:22] EazyReal commented on #2739
@matt-gardner I am working on using GNN with allennlp too, is there a way I can contact them? Thanks a lot!

[2020-08-18 11:41] dirkgr opened #4572 "Default `add_special_tokens` to `False` in the pretrained transformer tokenizer"
It should be `False` by default, with special tokens added using the `add_special_tokens` call. All the training configs will have to be updated accordingly, or better, the code should be updated to add special tokens, at least when we know that we'll only use transformer tokenizers. We didn't do this in 1.0 because of backwards compatibility.

[2020-08-18 11:57] dirkgr commented on #4550
That sounds like it's a case of #4501. You probably tried to run the config, and killed the extraction half-way through. Now it thinks the extraction is already there, even though only have the files are in it. You can fix this by removing the extraction directory, and then running the config again. You'll have to be patient until the extraction is complete.

I'll close this, but feel free to re-o

[2020-08-18 11:57] #4550 closed

[2020-08-18 12:14] dirkgr commented on #4554
@nelson-liu, do you know how this is supposed to be used? It says quite clearly in `LanguageModelTokenEmbedder` that you should use it with only one indexer, but isn't ELMo always trained with two indexers, one for tokens, and one for characters?

[2020-08-18 13:42] dirkgr commented on #4558
I simplified your code down to this:
[code]

My memory usage is constant when I do this.

Can you try running this, and report back? If you see a problem, can you paste the output of `pip freeze`?

[2020-08-18 15:35] epwalsh commented on #4539
@matt-gardner I can take this if you want. I'll ramp up the CI in the semparse repo to match what we've done with `allennp-models` CI.

[2020-08-18 15:46] epwalsh commented on #4571
Hi, what code are you talking about?

[2020-08-18 15:53] epwalsh commented on #4569
Hi @sysulx, so first of all the documentation is out-of-date. It should say that it defaults to the first cuda device that is available, if there is one. If you want to train on CPU you need to explicitly set `cuda_device = -1` in the trainer.

Would you be interested in making a PR to fix the docstring?

[2020-08-18 15:59] heheda-sys commented on #4571
In this https://allennlp.org/tutorials webpage,
![图片](https://user-images.githubusercontent.com/59784945/90536577-cf7f3180-e1ae-11ea-8aa3-a565ed5b921e.png),I can't find the files.

[2020-08-18 16:15] epwalsh commented on #4571
Oh I see. I think that tutorial may be badly out-of-date. I recommend you check out https://guide.allennlp.org/ instead.

@matt-gardner should we just remove that tutorial at this point?

[2020-08-18 16:18] #4467 closed

[2020-08-18 16:18] #4408 closed

[2020-08-18 16:18] #4404 closed

[2020-08-18 16:18] #4358 closed

[2020-08-18 16:18] #4335 closed

[2020-08-18 16:18] #4287 closed

[2020-08-18 16:18] #4258 closed

[2020-08-18 16:18] #4246 closed

[2020-08-18 16:18] #4065 closed

[2020-08-18 16:18] #4060 closed

[2020-08-18 16:18] #4037 closed

[2020-08-18 16:18] #4005 closed

[2020-08-18 16:18] #3909 closed

[2020-08-18 16:18] #3905 closed

[2020-08-18 16:18] #3802 closed

[2020-08-18 16:18] #3783 closed

[2020-08-18 16:18] #3733 closed

[2020-08-18 16:19] #3518 closed

[2020-08-18 16:19] #3436 closed

[2020-08-18 16:19] #3412 closed

[2020-08-18 16:34] epwalsh commented on #1629
This should probably re-opened since there's an open PR addressing it. The "Under development" tag will keep it from getting automatically closed again.

[2020-08-18 17:54] nelson-liu commented on #2373
I've got to admit that I've lost almost all context on this issue, and it feels like we've decided to not proceed forward with it—closing this for now, unsure how big of an issue this really is in the current day

[2020-08-18 17:54] #2373 closed

[2020-08-18 18:17] nelson-liu commented on #4554
Hmm, I know that I'm listed on the blame, but I think brendan might know more (he wrote this code originally https://github.com/allenai/allennlp/pull/2138 ). Sorry to not be of more help! @brendan-ai2

[2020-08-18 18:42] matt-gardner commented on #2739
@EazyReal, you can see the links above, and also check out [this repo](https://github.com/benbogin/spider-schema-gnn-global).

[2020-08-18 18:44] matt-gardner commented on #4572
I'm not sure I agree with this, as I don't see a way of doing this that lets you easily swap between tokenization schemes that don't use special tokens.  Unless you're saying this should be a method on our base `Tokenizer` class, that's a no-op by default?

[2020-08-18 18:45] matt-gardner commented on #4539
Thanks, that'd be great.

[2020-08-18 18:47] matt-gardner commented on #4571
We don't have any first party links to that page, but there are apparently third-party links to it.  We should perhaps have it re-direct to the guide, or put a big note at the top that the guide is now preferred, or something.  But, yeah, that page should be fixed.  Not super high priority, though, as we don't have anything linking to it anywhere, I don't think.

[2020-08-18 18:49] #4405 closed

[2020-08-18 18:50] tpanza commented on #4554
Appreciate the prompt attention to this.

There appears to be a fundamental incompatibility where we cannot use AllenNLP to train an ELMo langauge model on a custom corpus and then use that with, e.g., an NER tagger.

[2020-08-18 18:50] matt-gardner commented on #4369
Closing due to lack of activity.

[2020-08-18 18:50] #4369 closed

[2020-08-18 19:03] nelson-liu commented on #4554
Hmm, can you try running everything on the older version? i.e., `pip install allennlp==0.9.0`, and then follow the instructions from the tutorial (since it was written for v0.9.0)

[2020-08-18 19:06] mojesty opened #4574 "speedup predictor.capture_model_internals by specifying layers by a regexp"
**Is your feature request related to a problem? Please describe.**
It turns out that predictor.capture_model_internals works really slow when the model is large, e.g. with BERT. The bottleneck is call to `sanitize` to the outputs of each layer, which will cause a lot of memory copies from torch device to python list. It may be an unnecessary computation in many cases, because for transformers pred

[2020-08-18 19:40] matt-gardner commented on #4574
Something like this would be a great addition, PR welcome.

[2020-08-18 19:42] matt-gardner commented on #4360
I thought the issue might have been resolved with recent changes to the SST model / tokenization stuff.  But I just ran the model on master (both this and the models repo), and had the same issue.  This is still not resolved.

We're giving a tutorial at EMNLP on interpreting predictions, and this should definitely be fixed before then.  I'm putting this into the 1.2 milestone, but only so we don't

[2020-08-18 19:44] matt-gardner commented on #4355
I'm adding this to the 1.2 milestone so we don't forget about it, but it really belongs in 1.3 or 2.1 or something, with a target fix date of end of October.

[2020-08-18 20:40] matt-gardner commented on #4382
Closing in favor of https://github.com/allenai/allennlp-guide/issues/131.

[2020-08-18 20:40] #4382 closed

[2020-08-18 20:44] #2724 closed

[2020-08-18 21:06] #4351 closed

[2020-08-18 21:28] epwalsh commented on #4571
Okay I'm going to close this now, but let me know if you have additional questions @heheda-sys.

[2020-08-18 21:28] #4571 closed

[2020-08-19 06:25] EazyReal commented on #2739
@matt-gardner ,
Thanks for your reply!
I think I did not express my problem well enough, the point is that I want to use mini-batch on graphs (like in Pytorch Geometric, allennlp provides only (Dense)AdjacencyField).
It seems that the implementation of the link (https://github.com/pcyin/pytorch-gated-graph-neural-network/blob/master/gnn.py) does not support batch training.
And the repo you mention

[2020-08-19 10:50] sysulx commented on #4569
ok, I see, I feel very excited! I am very glad to make a contribution to allennlp, but I'm sorry, now I only know a litte about the git (I think I'm a novice), so I need some time to learn how to use git to make a PR. and this is my first time to make a issue in github, but I feel good.
thanks @epwalsh

[2020-08-19 11:50] dirkgr commented on #4554
I've looked at the code a little bit. It seems to me that it shouldn't be that difficult to make `LanguageModelTokenEmbedder` accept multiple indexers. I'd love to review a PR that fixes this!

[2020-08-19 12:21] dirkgr commented on #4572
I see that concern. I'm also not wild about making special tokens an aspect of tokenizers. It doesn't feel like a tokenization concern. It feels like it's an implementation detail of the embedder, but we don't want to do it there because we are worried about performance (though we have never measured it).

We could have the indexer add the special tokens instead?

What do we do about pairs of text

[2020-08-19 12:47] dirkgr commented on #3969
This discussion keeps coming up. I don't think we'll do anything for 1.x, and we are talking about a few variants for 2.x in another issue already. I'll close this one.

[2020-08-19 12:47] #3969 closed

[2020-08-19 12:48] dirkgr commented on #4463
This is fixed.

[2020-08-19 12:48] #4463 closed

[2020-08-19 15:11] epwalsh commented on #4569
Great! And if you haven’t seen it already, please have a look at the CONTRIBUTING.md document. You might find it helpful with getting started.

[2020-08-19 16:18] #4218 closed

[2020-08-19 16:18] #4135 closed

[2020-08-19 16:18] #4102 closed

[2020-08-19 16:18] #3269 closed

[2020-08-19 16:18] #3178 closed

[2020-08-19 16:18] #3137 closed

[2020-08-19 16:40] epwalsh commented on #4216
@vin-ivar are you still having issues?

[2020-08-19 21:52] #4564 closed

[2020-08-19 21:59] AkshitaB opened #4579 "Handle distributed case for metrics that do not currently support distributed setting"
Not supported at all
- [ ] Covariance
- [ ] PearsonCorrelation (dependent on Covariance)
- [ ] SpanBasedF1Measure

Not supported for unequal batch sizes
- [ ] SpearmanCorrelation
- [ ] AUC

[2020-08-20 03:22] wj-Mcat opened #4580 "a small pretrained model occurs error with `out of memory `"
When I run `bert+crf` model to complete sequence tagging task, it occurs RuntimeError:
[code]
Configuration file is:
[code]

My dataset is 2.3M. So this error make me confused.

refer to : [pretrained-model-gpu-memory-consumption](https://discourse.allennlp.org/t/pretrained-model-gpu-memory-consumption/356) , how to make pre-trained model run well for me ?

[2020-08-20 03:28] wj-Mcat commented on #4580
Customized Trainer can give me a hand ?

[2020-08-20 13:37] wj-Mcat opened #4581 "how to implement k-fold cross validation in allennlp-1.*"
refer to :
- pull request -> [K fold cross validation](https://github.com/allenai/allennlp/pull/2827)
- issue -> [K fold cross validation](https://github.com/allenai/allennlp/issues/1912)

so , how to implement k-fold cross validation in allennlp-1.* with patience mechanism ?

[2020-08-20 16:07] #4491 closed

[2020-08-20 16:39] epwalsh commented on #4580
16 is a rather large batch size for a BERT model on a GPU with only 10-11 GB of memory. I would try a batch size of 4 or 8 instead.

[2020-08-20 20:54] calusbr opened #4584 "ELMo RuntimeError: CUDA out of memory."
Hello I have a problem when running a Corpus NER with size 25 mb.

See my .jsonnet attachment

[code]

Log Error:

[code]

[2020-08-20 21:03] Mayar2009 commented on #4563
oo thanks for your response!
is there any tutorials that can help me?

[2020-08-20 21:49] matt-gardner commented on #4572
The contract is that each token in the `TextField` gets an embedding in the model.  So if you want to be able to use, e.g., the [CLS] token, you need to have it be a token, not something that's added in the indexer.

I've been thinking that the best way to handle this, which would solve several problems, is to have something like a `TextPairField`, or a `TextListField`, or something.  If you're us

[2020-08-20 22:36] epwalsh commented on #4539
`allennlp-semparse` is now on PyPI:

[code]

[2020-08-20 22:36] #4539 closed

[2020-08-22 22:01] transformerzhou opened #4588 "How to get output_hidden_states of bert?"
i want to outputs for all bert-layer，not only the last layer output.
i can achieve this goal from using BertModel.from_pretrained(pretrain_path, output_hidden_states=True) in transformers,but i dont know how to use allennlp to get it.

could you help me?

[2020-08-23 01:39] wj-Mcat opened #4589 "what't the differences between pretrained_transformer_mismatched and pretrained_transformer"
Is there a document which describes the differences between pretrained_transformer_mismatched and pretrained_transformer.  I can find the obvious differences from the code. Can you help me ? Thanks a lot

[2020-08-23 08:01] wj-Mcat opened #4590 "how to set segment_id in pretrained_transformer model"
I train my sequence tagging model, here is my configuration file.
[code]
And the data in `train_base_phrase_clear.txt` file is like: `word###label word###label [SEP]###O sentence-question-word###O sentence-question-word###O`.

My main problem is that the result from token_embedders doesn't contains type_ids info, which is all 0 value. I have set `[SEP]` word label in my trainning file, So I think

[2020-08-24 00:41] OhadRubin opened #4591 "Better caching"
Something along the lines of what fairseq has:
[Here](https://github.com/pytorch/fairseq/blob/master/fairseq/data/indexed_dataset.py
)
For example, in MMapIndexedDataset, they calculate the sizes for each field and then read exactly that size into an array.
[Here](https://github.com/allenai/allennlp/pull/4497#issuecomment-667314473), @matt-gardner mentions that this is the type of caching that you

[2020-08-24 07:06] EazyReal opened #4592 "**kwargs handling is not ideal when interfacing with non-FromParams code"
I am encountering

[code]
To my understanding, this is because **extras is passed to **kwargs, so the `__init__` of `MessagePassing` in pytorch_geometric reported an error.

Is there a way to prevent **extra to pass to a certain `Registrable`?  In my case, `Graph2GraphEncoder`.
Thanks!

Here is my code for `Graph2GraphEncoder`.
[code]

[2020-08-24 07:25] EazyReal commented on #4592
By the way,
I currently bypass the problem by simply modify RGCNConv from the source of pytorch_geometric.
But I think it is not a healthy way to do it (for every classes that takes `**kwargs`, I have to comment **kwargs` to use it).
Is there a better way to achieve a similar result?

[2020-08-24 13:19] aleSuglia opened #4593 "Support for make-vocab in latest version"
I've noticed that in the latest allennlp version has been removed the useful command `make-vocab`. What's the reason for it? How can we reintroduce it without breaking the current code? I think it was extremely useful when it comes to processing a *very big* dataset avoiding running the vocabulary creation process all the time. On a related note, I was wondering whether the vocabulary creation was

[2020-08-24 15:02] matt-gardner commented on #4593
We removed that command because the functionality is duplicated by the `--dry-run` flag that you can pass to the `train` command.  Let us know if you run into any issues using that flag.

[2020-08-24 15:02] #4593 closed

[2020-08-24 15:34] matt-gardner commented on #4592
I'm pretty sure that the problem is that the `torch_geometric` classes don't inherit from `FromParams`, so the code that we have that handles `**kwargs` and such isn't operating correctly, because it basically gives up with it encounters something that doesn't inherit from `FromParams`.  I checked the `torch_geometric` code, though, and it uses type annotations on its constructor arguments (yay!),

[2020-08-24 15:49] epwalsh commented on #4580
@wj-Mcat, there are a couple alternatives:

- Use gradient checkpointing, i.e. set `gradient_checkpointing` to `True` in your `pretrained_transformer_mismatched` embedder config.
- Use gradient accumulation, i.e. set `num_gradient_accumulation_steps` to an integer larger than 1 in your `trainer` config. For example, setting `batch_size` to 8 and `num_gradient_accumulation_steps` to `2` gives you a

[2020-08-24 16:05] matt-gardner commented on #4591
There is some initial work along these lines [here](https://github.com/allenai/allennlp/blob/0a4765c4e978374a6665139ccf9f235f833c0e7f/allennlp/common/file_utils.py#L333-L404) (used in a dataset reader [here](https://github.com/allenai/allennlp/blob/0a4765c4e978374a6665139ccf9f235f833c0e7f/allennlp/data/dataset_readers/nlvr2.py#L114-L116)).  I think we definitely want to figure out how to include t

[2020-08-24 16:17] #4536 closed

[2020-08-24 16:17] epwalsh commented on #4588
Hi @transformerzhou, there is currently a `last_layer_only` parameter in the `PretrainedTransformerEmbedder` class. Setting this to `False` means the output will be a scalar mix of all of the layers, instead of just the last layer. But there is currently not a setting for simply *returning* all of the layers.

[2020-08-24 16:24] epwalsh commented on #4591
@matt-gardner I don't think we had a separate issue tracking caching until now, so adding this to 2.0 sounds good to me.

[2020-08-24 16:28] #4574 closed

[2020-08-24 16:51] matt-gardner commented on #4589
Yes, the best place to read about that difference is [here in the guide](https://guide.allennlp.org/representing-text-as-features).

[2020-08-24 16:51] #4589 closed

[2020-08-24 16:55] matt-gardner commented on #4588
If you want this, then you're making model assumptions that make our `TextFieldEmbedder` abstraction moot anyway, so you might as well not use it.  That is, there's no problem with just putting `self.bert_encoder = BertModel.from_pretrained(...)` in your model class, and using it directly however you want.  You'll have to pull out keys from the text field output that you get directly and pass them

[2020-08-24 16:55] #4588 closed

[2020-08-24 17:09] matt-gardner commented on #4590
@dirkgr can correct me if I'm wrong, but I believe the right thing to do is to call `tokenizer.add_special_tokens(before_sep, after_sep)` on your `PretrainedTransformerTokenizer`.  You'll have to manually split on the `[SEP]` token.  If you just call `tokenizer.tokenize()`, we call huggingface's `encode_plus`, which does not detect `[SEP]` tokens to set type ids.  We used to have code that detecte

[2020-08-24 17:09] transformerzhou commented on #4588
thank you very much!

[2020-08-24 17:25] dirkgr commented on #4590
If you don't have pre-tokenized text, then calling `add_special_tokens()` like @matt-gardner said is correct. But that will not do the right thing when your text is already tokenized.

In fact, when you use the `PretrainedTransformerMismatchedIndexer`, we ignore the type ids that the reader might have set on the tokens, so there is no way to get the type ids to the right place. I think we should f

[2020-08-24 17:37] dirkgr commented on #4457
We're tracking the remaining issue in #4521.

[2020-08-24 17:37] #4457 closed

[2020-08-24 17:38] EazyReal commented on #4592
Thanks for your reply.
I now fixed it with way 3, which may not be the best way but is enough for my development of my experimental model now.

There is an additional question, though.
My model is now overfitting, and when I try to add `L2 Regularizer,` I found the document is almost empty.
I can inference the usage by the document provided by the `InitializerApplicator`.
But to my knowledge (from

[2020-08-24 17:42] dirkgr commented on #4521
@sanjayss34 is writing a new model that has better performance than the existing two models. We will replace the old ones with Sanjay's new one.

[2020-08-24 17:44] #4558 closed

[2020-08-24 18:21] matt-gardner commented on #4592
Some optimizers also have a "weight_decay" option, which is regularization that happens in the optimizer instead of the loss.  Several of the models have non-zero weight decay values.  If all you need is L2 regularization, that's the easiest way to get it.  If you want something different, you can use the other regularizers we have.

We have a [discourse forum](https://discourse.allennlp.org/) tha

[2020-08-24 23:59] OhadRubin commented on #4591
Should I create a .md page or a Google Docs?
Anyway, most of the logic will use the to_tensor method of each field, right?
What I was thinking was:
For each instance, call to_tensor on all of its fields and then either:
1. use TensorCache.
2. call .numpy() and record the sizes, flatten the data and use logic from MMapIndexedDataset.
For fields that don't have to_tensor, like MetadataField, use jso

[2020-08-25 01:41] taicaile opened #4594 "How I can use Masked Language Modeling in Python"
Hello,

I am running demo of  Masked Language Modeling task in <https://demo.allennlp.org/>,  I want to confirm if I can use the same model in Python by install allennlp?

Thanks.

[2020-08-25 09:12] dirkgr opened #4595 "Don't use Detectron config, only use Detectron classes"

[2020-08-25 11:40] dirkgr commented on #4590
I have looked at this a little bit closer, and found it's not that easy. The mismatched indexer also adds special tokens, but it has no way of knowing anything about sequence pairs. So even if we create a way to pass token type ids through to the mismatched indexer, we can't guarantee that it'll create the correct special tokens. @wj-Mcat is "solving" the problem by setting the middle special toke

[2020-08-25 15:20] OhadRubin opened #4596 "Add batched_index_fill to allennlp.nn.util"
Would you guys be interested in adding the following utility method to util.py?
[code]
Output:
[code]
Also, I think this can be extended to a general scatter operation as well.

[2020-08-25 16:12] OhadRubin commented on #4596
And a general scatter operation:
[code]
Output:
[code]

[2020-08-25 16:18] #4549 closed

[2020-08-25 16:18] #3047 closed

[2020-08-25 16:18] #2937 closed

[2020-08-25 16:18] #2890 closed

[2020-08-25 16:18] #2811 closed

[2020-08-25 16:19] #1839 closed

[2020-08-25 16:42] matt-gardner commented on #4594
Yes, you can!  The model can be found here: https://storage.googleapis.com/allennlp-public-models/bert-masked-lm-2019.09.17.tar.gz.  You load it with `predictor = Predictor.from_archive(the_url_above)`, and you can call `predictor.predict("some [MASK] string")`.

[2020-08-25 16:42] #4594 closed

[2020-08-25 16:59] epwalsh commented on #4591
Hey @OhadRubin, I've already started a design document which I'll link to on this thread once it's ready to be seen.

[2020-08-25 17:00] matt-gardner commented on #4596
Yes, @OhadRubin, we'd be happy to have these functions.  PR welcome.

[2020-08-25 17:03] OhadRubin commented on #4498
Fixed by #4511

[2020-08-25 17:03] #4498 closed

[2020-08-25 21:29] bwriordan opened #4599 "When loading archived fine-tuned models for prediction, prevent non-fine-tuned pretrained transformer models from being downloaded"
**Is your feature request related to a problem? Please describe.**
When loading an archived model with a pretrained transformer embedder for prediction, where the model has been fine-tuned on a dataset, a huggingface pretrained transformer model is always downloaded to ~/.cache/torch. Then the archived model is loaded and replaces the downloaded model. When doing prediction with an existing archiv

[2020-08-25 21:53] matt-gardner commented on #4599
Yes, the current behavior here is not ideal, but it doesn't actually have an easy solution, I don't think.  We get not just the weights from that call to `AutoModel.from_pretrained`, we get specifics of the architecture, also.  We don't know weight sizes, e.g., without that call.  It's not trivial to bypass it like how we do with a simple embedding layer.

This is pretty low priority for us, espec

[2020-08-26 06:40] aurora1625 opened #4602 "How to use wikitabels parser in v1.1.0v4"
Hi,

I have tested wikitabel parser on the demo page, and it works wonderfully. I have installed the latest version v1.1.0v4, and I can't import the wikitabel model in.
[code]

The error code I got is:
[code]

I noticed this function is in v0.9, does this mean if I want to use wikitable model, I need to use an older version? Could you help to give a pointer on how to use it on the latest version?

[2020-08-26 08:56] wj-Mcat commented on #4590
@dirkgr  I need to tokenize the sentence at character level, but `PretrainedTransformerMismatchedIndexer ` will tokenize the `2019.08.23` data to ['2019', '.', '08', '23'] data. And sometimes, it will ads `##` prefix to the token text. These features will make me hard to set character-level tag.  So, I tokenize the text before training.

[2020-08-26 09:36] dirkgr commented on #4590
To use the pretrained transformer, you have to tokenize exactly the way it was tokenized when BERT was trained. Otherwise the pre-trained BERT weights don't work. That is what `PretrainedTransformerTokenizer` does, and that is what `PretrainedTransformerIndexer` expects. This is why the date gets split up like that, and that's why you see the `"##"` prefix.

I understand that your tags use a diffe

[2020-08-26 14:00] matt-gardner commented on #4602
You need to run `pip install allennlp-semparse`, then in python `from allennlp_semparse import models`.  After that, this should work.

[2020-08-26 14:05] aurora1625 commented on #4602
Thanks, I will give it a shot!

[2020-08-26 14:20] aurora1625 commented on #4602
I noticed the code structure is quite different from the example in [here](https://github.com/allenai/allennlp/issues/2916). Also the [old tutorial page](https://github.com/allenai/allennlp/blob/master/tutorials/getting_started/semantic_parsing.md) doesn't work any more. I think I will wait for the new tutorial to test it out.

Thank you!

[2020-08-26 14:43] #4602 closed

[2020-08-26 15:28] HuipengXu opened #4603 "Training the model with our own script with multi / single-gpu"
According to the instructions in the document, I specified cuda_device in the trainer, but the following error occurred, I don’t know how to put the data into cuda：
[code]
And how to use trainer to use multi-gpus.
Thanks

[2020-08-26 16:09] tomsherborne opened #4604 "Allow BartEncoder to use pretrained embeddings"
The use case I am exploring is using the full BART Encoder (including embeddings for token and position) with a decoder trained from scratch on a different vocabulary.

The current `BartModel` uses the pretrained token representations and positional embeddings from HuggingFace however the `BartEncoder` overwrites these as a pass-through. I assume the embeddings are then meant to be implemented as

[2020-08-26 16:09] epwalsh commented on #4591
There is a good discussion here about `lmdb`: https://github.com/allenai/allennlp/pull/4578#issuecomment-680776842.

I'm working on an API design that would be agnostic to the backend or ser/deserialization method we use, so we can decide on that later.

[2020-08-26 16:10] epwalsh commented on #4603
Hi @HuipengXu, could you provide us with a full stacktrace?

[2020-08-26 17:54] OhadRubin commented on #4591
So it seems there are different use cases for caching, maybe I can write some code that extends `TensorCache`  into a `Registrable`  and implement a `MMapIndexedDataset` style `TensorCache`.
@epwalsh, what do you think?

[2020-08-26 18:00] epwalsh commented on #4591
@OhadRubin that would be great if you got started on that!

Right now just I'm focusing on the overall API, and how that would integrate into our data pipeline, so I don't think that collides with what you want to work on. Once I'm finished with the API skeleton we should be able to plug in the `TensorCache` / `MMapIndexedDataset` / whatever we go with.

[2020-08-26 18:20] OhadRubin opened #4606 "Merging allennlp-semparse into allennlp-models."
The original plan as I understand it was to have task specific repositories (rc,semparse), and to have a allennlp-hub that pip installs all of the task-specific repos.
But allennlp-hub turned into allennlp-models, and allennlp-rc was merged into it, and allennlp-semparse was not.

[2020-08-26 18:32] matt-gardner commented on #4606
The semantic parsing code has a substantial amount of separate, unrelated components.  There's a ton of stuff around defining grammars, transition functions, and other things.  I view it as a separate library that's built on top of allennlp, not a collection of models built with allennlp.  So, no, I don't think we're going to be merging the semparse repo into the models repo.

[2020-08-26 18:32] #4606 closed

[2020-08-26 19:23] OhadRubin commented on #4591
So I should inherit from DatasetReader and override _instances_to_cache_file, correct?
I understand there are plans to move caching to DataLoader, but for now, that should be ok, right?

[2020-08-26 19:25] epwalsh commented on #4591
@OhadRubin actually no, we're working off of the `vision` branch now, which will become AllenNLP 2.0. In that branch the caching mechanism in the `DatasetReader` has been removed. Maybe just start by implementing this in a standalone file?

[2020-08-26 19:30] OhadRubin commented on #4591
Ok, so I'll assume I am iterating over objects with a serialize method, is that ok?

[2020-08-26 19:43] epwalsh commented on #4591
Yes, but we can assume these objects are indexed `Instance`s.

[2020-08-27 01:37] HuipengXu commented on #4603
[code]
Thanks

[2020-08-27 01:54] matt-gardner commented on #4604
A `Seq2SeqEncoder` by definition operates on already-encoded inputs, not ids.  It looks like the `BartEncoder` has some hacks to make it easier to use the `BartModel` with minimal modification while matching this API.  If you want something that goes from input ids to contextualized vectors, then a `PretrainedTransformerEmbedder` is what you're looking for.  I'm reasonably confident that using `su

[2020-08-27 09:50] #4596 closed

[2020-08-27 12:57] uahmad235 opened #4610 "Demo results for Sentiment Analysis model does not yields same results as locally downloaded model"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-08-27 14:09] OhadRubin commented on #4591
Hey, @epwalsh, after looking a bit more into `MMapIndexedDataset`, much of the benefit of it comes from knowing the structure and sizes of everything, can I assume `serialize` returns a `Dict[str, Union[torch.Tensor, str]`?

[2020-08-27 14:38] epwalsh commented on #4591
Hey @OhadRubin, well after the talking with the team a little more yesterday we decided it would probably be more beneficial to cache tensor dicts instead of actual `Instance` objects. In other words, we want to be caching the result of [`Instance.as_tensor_dict()`](https://github.com/allenai/allennlp/blob/master/allennlp/data/instance.py#L87-L89).

So in most cases, this is a `Dict[str, torch.Ten

[2020-08-27 15:23] OhadRubin commented on #4591
I understand.

[2020-08-27 16:12] matt-gardner commented on #4610
I downloaded the model and got the same result that you see locally, so I can confirm this issue.  I even checked out the same version of the code that the demo is running, and it gives the same result.  I don't have any good ideas about what could be the cause, though; my best guess is that something is up with our permalink storage.

[2020-08-27 16:19] #4555 closed

[2020-08-27 16:57] OhadRubin commented on #4591
There is a overhead  of around 760 bytes for saving a `Tensor` with `torch.save`, compared to numpy.tobytes.
So i'll use numpy.
[code]
Output:
[code]

[2020-08-27 17:41] epwalsh commented on #4603
Looks like your version of AllenNLP is not up-to-date with what's on master. Could you update to the latest commit and try again? And if you have a small reproducible example you could post here, that would be great.

[2020-08-27 17:52] epwalsh commented on #4591
API design document (work in progress): https://docs.google.com/document/d/1EBAcPF19NM7bYuwDKmHN4Ws361p0Eo4vjIpSA67l1rQ/edit?usp=sharing

[2020-08-27 21:49] #4308 closed

[2020-08-28 00:59] dwadden opened #4612 "PretrainedTransformerMismatchedIndexer fails silently when given empty strings as input."
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-08-28 02:08] matt-gardner commented on #4612
Thanks for the thorough bug report!  Just FYI, I fixed the pip freeze output to be what was intended; you can see that it's now in a drop down, so it's not so annoying.

Can you also include what `print(tensor_dict)` looks like?  I'm not sure what will happen with that empty string.  Is it just all padding, and that's what's causing nans?  I'm guessing so.

I agree that throwing an error somewhere

[2020-08-28 09:59] uahmad235 commented on #4610
So how long until it is fixed, as the best results I can get is the one on Demo?

[2020-08-28 16:45] matt-gardner commented on #4610
I'm not sure what the difference is between the model you used and the model in the demo, but I found the model that's actually backing the demo right now: `"https://s3-us-west-2.amazonaws.com/allennlp/models/sst-2-basic-classifier-glove-2019.06.27.tar.gz"`.  It's possible that the one you linked to is using ELMo, which would easily explain the difference.  The one with the google storage link act

[2020-08-28 16:45] #4610 closed

[2020-08-28 22:19] dwadden commented on #4612
Ah, thanks for fixing pip freeze.

It turns out that, in addition to empty strings, weird unicode characters can also mess things up; presumably they're not recognized by the token indexer. I added an example in the code snippet above to show what happens.

I've included a `tensor_dict` printout below. I think it might be the `-1` entries in `offsets` that's messing things up. Let me know what you

[2020-08-28 22:21] akshay1123 commented on #612
+1 for windows

[2020-08-28 22:49] epwalsh opened #4614 "FromParams doesn't handle kwargs on base class"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-08-28 23:09] tpanza commented on #4554
Hi @dirkgr would you mind sharing a broad outline of what you are envisioning for extending the `LanguageModelTokenEmbedder` to accept multiple indexers?

[2020-08-28 23:44] matt-gardner commented on #4612
Ok, figured it out.  We need a `torch.clamp_min(..., 1)` on this line: https://github.com/allenai/allennlp/blob/e840a589afc4bfdac0165a8650145259a7603807/allennlp/modules/token_embedders/pretrained_transformer_mismatched_embedder.py#L108

That resolves the issue.  Can you open a PR for this that includes a simple test based on the minimal example you gave above?  That would be awesome.

[2020-08-29 09:47] TheresaSchmidt commented on #2821
This is such a friendly reply! I want to thank the whole team for taking the time for each and every issue that's submitted in here. This made my day better!!

[2020-08-30 04:10] dwadden commented on #4612
I changed that line to `orig_embeddings = torch.clamp_min(span_embeddings_sum / span_embeddings_len, 1)`, but I'm still getting `nan` gradients (I wrote a unit test for this). Is there something else that needs to be changed?

I've got a PR for this, but I didn't want to submit since the test suite wouldn't pass if the PR were accepted as is. Let me know if I should submit and revise.

[2020-08-30 06:03] matt-gardner commented on #4612
Sorry I wasn't specific enough; it's the division by zero that's the problem, so you need to clamp the lengths to a min of 1.  So, `orig_embeddings = span_embeddings_sum / torch.clamp_min(span_embeddings_len, 1)`.

[2020-08-30 08:20] wj-Mcat commented on #4590
When I review the transformers source code, I found that it support segment feature is supported.

[code]
I think `text_pair` is the mainly supported feature for segment_id, which is the `token_type_id` in allennlp.

But you haven't make the sentence pair tokenized by pair mode.  Am I right ?

[2020-08-30 23:45] dwadden commented on #4612
PR submitted: #4615

[2020-08-31 09:28] tomsherborne commented on #4604
Your suggestion works for my usecase so I'm sorted - thanks! I think that the `BartEncoder` model could still be  misleading if you can't use the pretrained embeddings or the positional embeddings. Could the docstring point users to `PretrainedTransformerEmbedder` if they want the full model with embeddings?

[2020-08-31 17:48] matt-gardner commented on #4604
Yes, a PR to update the docstring for that would be great.

[2020-08-31 19:57] #4592 closed

[2020-08-31 19:57] #4614 closed

[2020-09-01 00:59] calusbr opened #4619 "Handling unbalanced datasets in the CRF tagger"
I'm using an unbalanced Corpus NER and I would like to add weights to the entities in the training step via `nn.CrossEntropyLoss`, I would like to know which .py file can I call my own lib and pass the weights to the model ???

**Some tutorials point to**: https://github.com/allenai/allennlp/blob/052353ed62e3a54fd7b39a660e65fc5dd2f91c7d/allennlp/nn/util.py#L628
**Version Allennlp**: 0.9.0
**Script

[2020-09-01 07:44] Albert-Ma opened #4620 "How to save test result when use `evaluate_on_test` command?"
Thanks, new to allennlp!

[2020-09-01 09:55] vinayakathavale commented on #3442
@savinay as far is i can understand, in the output you get saliency scores of each token wrt. each entity predicted, so scores in instance_1 refer to saliency scores per token for entity "Grandpa Joes" and instance_2 is for "Deep Learning" which are the 2 entities in the sentence. Using this info you can easily construct your own visualization.

if you want to see the visualizations as shown in th

[2020-09-01 15:27] #4612 closed

[2020-09-01 16:21] #4569 closed

[2020-09-01 17:27] schmmd commented on #3706
Closing, as I'm not sure how needed this is an I have not been moving on it for quite a while ;-)

[2020-09-01 17:27] #3706 closed

[2020-09-01 17:29] schmmd commented on #4082
Closing, as a long time has passed and I wasn't able to reproduce the original issue.  @bikegirl I hope you figured something out to get the information back in April!  Please open a new issue if there's anything outstanding.

[2020-09-01 17:29] #4082 closed

[2020-09-02 09:02] #4604 closed

[2020-09-02 16:25] epwalsh commented on #3966
Shuffling + bucketing in lazy mode are now compatible with the new `DataLoader`. Currently this is only available on the `vision` branch, and is targeted to go out with our 2.0 release (no ETA on that yet) since it involves some minor breaking changes to the data loading / data reading API.

[2020-09-02 16:25] #3966 closed

[2020-09-02 16:43] dirkgr commented on #4590
You could also do this, yes.

[2020-09-02 17:58] dirkgr commented on #4554
I'm still a bit confused by this code, but I noticed the following: The output of the `"tokens"` indexer is completely ignored anyways, even during LM training. So why don't you just get rid of that one completely, run the whole thing only with `"elmo_characters"`, and then you have only one indexer when you get to `LanguageModelTokenEmbedder`?

[2020-09-02 18:04] dirkgr commented on #4554
Actually, this doesn't make sense. You don't really have multiple embedders anyways, because the embedder type for `"tokens"` is `"empty"`. So we just have to make sure the `LanguageModelTokenEmbedder` doesn't get confused by that.

On line 78, it reads out of `dict_config` the available embedders. It should be possible at that point to ignore all those that are `"empty"`. In a pinch, I'd accept a

[2020-09-03 04:06] tpanza commented on #4554
Hi @dirkgr please see allenai/allennlp-models/pull/129

However... after applying that patch to my environment consisting of

[code]

I am getting this bizarre error when trying to train an NER model that uses the `bidirectional_lm_token_embedder" :

[code]

[code]

The  `trainer` section of my jsonnet has this section. No idea why in the world it would be trying to use CPU.

[code]

Looks like a

[2020-09-03 09:11] NoahDrisort commented on #4205
![Annotation 2020-09-03 160404](https://user-images.githubusercontent.com/36092323/92095235-962a0100-edff-11ea-97ad-4140e8f96156.jpg)
![Annotation 2020-09-03 160609](https://user-images.githubusercontent.com/36092323/92095238-97f3c480-edff-11ea-9fc5-012b536c544e.jpg)
I am going to use pretrain of allennlp for training on my small dataset, the config as above, it seems I get the same problem, It co

[2020-09-03 16:02] matt-gardner commented on #4205
I'm adding this to the 1.2 milestone and assigning it to myself, as it's something I'd like to get fixed.  But, it might actually get pushed back to 1.3 (or 2.1, or however that works out), as I have other things to get to first.

[2020-09-03 16:09] #4501 closed

[2020-09-03 16:21] #4580 closed

[2020-09-03 17:10] epwalsh commented on #4216
Closing. Will re-open if I hear it's still an issue.

[2020-09-03 17:10] #4216 closed

[2020-09-03 20:59] dirkgr commented on #4554
Let me know if this still happens with the latest RC! If it does, it could very well be a bug on our end that I'll want to fix quickly.

[2020-09-03 21:31] tpanza opened #4623 "Cannot train language_model: RuntimeError: Tensors must be CUDA and dense"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-09-03 21:37] tpanza commented on #4623
If I fallback to an older environment with these version:

[code]
and
[code]

and use the same `configs/bidirectional_language_model_part_notes.jsonnet` provided above, the language model does train

[2020-09-03 21:43] tpanza commented on #4623
If, in my PyTorch 1.6 and AllenNLP 1.10RC4 environment, I try setting this environment variable:

[code]
and then try the same command with same jsonnet config file:

[code]

I still see the same `RuntimeError: Tensors must be CUDA and dense` error.

Output of `nvidia-smi`:

[code]

[2020-09-03 21:44] epwalsh commented on #4623
Thanks @tpanza, I think I found the issue. PR coming soon.

[2020-09-03 21:55] tpanza commented on #4554
Hi @dirkgr I am having a _different_ problem with the latest RC... With 1.1.0rc4, I cannot even train the language model, nevermind a downstream NER model that uses the LM. Opened allenai/allennlp/issues/4623 to track that issue.

As a workaround to _that_, I tried training the LM with PyTorch 1.5.1 + AllenNLP 1.0, and then tried the switched to back to PyTorch 1.6 + AllenNLP 1.1.0RC4. Then applie

[2020-09-03 22:10] AkshitaB commented on #4620
Hi @Albert-Ma , do you mean the test metrics? They are saved in the file `<serialization_dir>/metrics.json` with the prefix `test_` when using `evaluate_on_test`. Let me know if that helps!

[2020-09-03 23:27] #4392 closed

[2020-09-04 00:59] Albert-Ma commented on #4620
No, I mean the predict result of my test set, just like the `output_file` when use `allennlp predict`

[2020-09-04 16:09] AkshitaB commented on #4620
@Albert-Ma We recommend that you use `allennlp predict` for getting the prediction results.

@matt-gardner @dirkgr We discussed during standup that we want to keep the `evaluate_on_test` flag in the train command, and merge `evaluate` and `predict` commands.

[2020-09-04 16:09] matt-gardner commented on #4619
Hi @calusbr, the `CrfTagger` model doesn't currently have a way to specify these weights.  I would recommend copying the [code](https://github.com/allenai/allennlp-models/blob/master/allennlp_models/tagging/models/crf_tagger.py) to your own repo and modifying it to add in the weighting that you want.

[2020-09-04 16:10] schmmd opened #4626 "Add a flag to output predictions during evaluation"
We sometimes get requests from users that they would like to store predictions during evaluations (for examples see https://github.com/allenai/allennlp/issues/4620).  We are interested in adding a flag to evaluate that outputs predictions along with the final evaluation.

[2020-09-04 16:11] schmmd commented on #4626
@dirkgr @matt-peters @AkshitaB @matt-gardner in triage we mentioned merging `evaluate` and `predict`, but this seems confusing to me.  Do you actually think we should merge these commands, or simply add an option to evaluate that outputs predictions alongside the final metrics?

[2020-09-04 16:21] schmmd commented on #4626
After some discussion, we realized we don't actually fully understand what `predict` does, so we probably need to investigate the current behavior and make a recommendation before jumping into a change.

[2020-09-04 16:21] schmmd commented on #4620
Closing in favor of #4626

[2020-09-04 16:21] #4620 closed

[2020-09-04 16:23] schmmd commented on #4626
I use `predict` to test behavior of different versions of AllenNLP.  We have `predict` examples in our demo for each model, for example:

[code]

[2020-09-04 16:30] schmmd commented on #4626
Related: https://github.com/allenai/allennlp/issues/2576

[2020-09-05 01:15] wlhgtc commented on #4532
Case solved, close this issue

[2020-09-05 01:15] #4532 closed

[2020-09-05 14:03] juliahane opened #4627 "No module named allennlp.run"
Hi
I installed allennlp 1.0.0, and then I want to use it to run this repo:
https://github.com/mrqa/MRQA-Shared-Task-2019/tree/master/baseline
I write this command to run bert-base on some QA datasets:

python -m allennlp.run train https://multiqa.s3.amazonaws.com/config/MRQA_BERTbase.json -s Models/SQuAD -o "{'train_data_path': 'https://mrqa.s3.us-east-2.amazonaws.com/data/train/SQuAD.jsonl.gz', '

[2020-09-05 17:14] Mayar2009 opened #4628 "ERROR: No matching distribution found for torch<1.6.0,>=1.5.0 (from allennlp==1.0.0)"
I am trying to install allennlp ==1.0.0 on windows 10
but got this error
what should I do?

(allennlp) C:\WINDOWS\system32>pip install allennlp==1.0.0
Collecting allennlp==1.0.0
  Using cached allennlp-1.0.0-py3-none-any.whl (473 kB)
Collecting jsonpickle
  Using cached jsonpickle-1.4.1-py2.py3-none-any.whl (36 kB)
Collecting spacy<2.3,>=2.1.0
  Using cached spacy-2.2.4-cp37-cp37m-win_amd64.whl (9

[2020-09-06 09:33] eladsegal commented on #4614
Hi, I still have a related issue in the following (edge) case:
A child class with `**kwargs` in its constructor, that inherits from a class that doesn't have an explicit constructor.

The cause is that `inspect.signature` considers the signature to be `def __init__(self, *args, **kwargs)` when the constructor is not explicitly defined, and therefore FromParams think `*args` is required.

This simp

[2020-09-07 19:33] aleSuglia commented on #4428
This issue is still valid and keeps happening. Any plans to fix it? I can confirm that PYTHONPATH=. fixes.

[2020-09-07 20:20] Anuradha25 commented on #1379
ModuleNotFoundError: No module named 'allennlp.commands.elmo'
 same error on python 3.6 and allennlp==1.0.0
Any help is appreciated.

[2020-09-08 06:52] NoahDrisort commented on #3831
Sorry sir, how can I access this file, when I open the link, it is 404
Can you confirm that can I run multi GPU in version 1.0,?
Do I need to set any parameter in config file to run with multi GPU, or AllenNLP automate deal it for me?
Thank you, sir

[2020-09-08 15:48] epwalsh commented on #4627
Hi @juliahane, could you please provide a complete stack trace?

[2020-09-08 15:50] epwalsh commented on #4628
Did you try installing PyTorch first according to their instructions: https://pytorch.org/?

[2020-09-08 15:53] epwalsh commented on #3831
@NoahDrisort this tutorial should help: https://medium.com/ai2-blog/tutorial-how-to-train-with-multiple-gpus-in-allennlp-c4d7c17eb6d6

[2020-09-08 17:17] #4623 closed

[2020-09-08 20:38] #4428 closed

[2020-09-09 22:13] natny commented on #2884
It appears that the init method of ConditionalRandomFields allocates the initial self.transitions on the cpu. By the time the _joint_likelihood method is called, these are on the gpu. However, if the CRF is in  a container, this doesn't seem to happen and I get "RuntimeError: expected backend CUDA and dtype Float but got backend CPU and dtype Float"

[2020-09-09 23:46] epwalsh commented on #2884
@natny your issue sounds like it deserves it's own bug report. Could you please open one: https://github.com/allenai/allennlp/issues/new?assignees=&labels=bug&template=bug_report.md&title=

[2020-09-10 13:34] wolhandlerdeb opened #4631 "add cache_dir parameter to PretrainedTransformerEmbedder"
Hi,
I would like to set a custom cache_dir (like in hugging face model) when loading PretrainedTransformerEmbedder. Indeed, my cache directory by default has not enough memory.

add a cache_dir parameter to PretrainedTransformerEmbedder as in BertModel in HuggingFace
As I can write: BertModel.from_pretrained(bert_model_name, cache_dir = ""), I would like to be able to write
PretrainedTransformerEm

[2020-09-10 17:53] juliahane commented on #4627
Hi
The full stack trace is only this error:

(qa) julia@vgnh006:/user/julia/dev/MRQA-Shared-Task-2019$ python -m allennlp.run train https://multiqa.s3.amazonaws.com/config/MRQA_BERTbase.json -s Models/SQuAD -o "{'train_data_path': 'https://mrqa.s3.us-east-2.amazonaws.com/data/train/SQuAD.jsonl.gz', 'validation_data_path': 'https://mrqa.s3.us-east-2.amazonaws.com/data/dev/SQuAD.jsonl.gz', 'trainer'

[2020-09-10 18:46] juliahane commented on #4627
Hi
I am not sure what is the correct way to train models with allennlp bu if the command is "allennlp train" then I got the following errors:

allennlp train https://multiqa.s3.amazonaws.com/config/MRQA_BERTbase.json -s Models/SQuAD -o "{'train_data_path': 'https://mrqa.s3.us-east-2.amazonaws.com/data/train/SQuAD.jsonl.gz', 'validation_data_path': 'https://mrqa.s3.us-east-2.amazonaws.com/data/dev/

[2020-09-10 18:47] juliahane commented on #4627
Hi
I greatly appreciate if you could check this repo:
https://github.com/mrqa/MRQA-Shared-Task-2019/tree/master/baseline

and just run the BERT base command, and let me know how I can use allennlp
thanks.

[2020-09-10 20:11] dirkgr commented on #4626
Let's settle this issue.

It seems to me that `predict` is for processing one instance at a time, while `evaluate` runs over datasets. That seems like a useful distinction that we should keep. Can we make this more clear in the names? I can't think of better names, but we could easily spruce up the help text for those two commands.

With that in mind, we should resolve this issue by making `evalua

[2020-09-10 20:13] dirkgr commented on #2576
I don't think we should make `predict` more like `evaluate`. They have different purposes. Instead, we should fix `evaluate` do to what @WrRan wanted to do all along, i.e., create predictions for a whole dataset.

I'm closing this in favor of #4626.

[2020-09-10 20:13] #2576 closed

[2020-09-10 20:22] matt-gardner commented on #4626
The difference between these two commands was originally that one of them used a `DatasetReader` and one of them used a `Predictor` (hence `predict`).  The `Predictor` means that you take text/JSON inputs and produce text/JSON outputs, while `evaluate` doesn't have a `Predictor` and thus doesn't produce text/JSON outputs, it instead only computed metrics.  There's nothing in the difference between

[2020-09-10 22:37] dirkgr commented on #4626
I can drive to work in a truck, and I can bring bricks to a building site with my bicycle.

It makes sense that we'd have one command that runs readers, and one command that expects JSON. The difference between them is pretty big. Readers need configuration, and they don't even consistently take filenames to call. Meanwhile, `predict` can read from stdin. That's a pretty wide gap to bridge in a si

[2020-09-10 23:03] matt-gardner commented on #4626
In practice the only thing we need the `Predictor` for is to get inputs into the right format; the `Predictor` (typically) doesn't do much on the output side, and it'd be pretty easy to duplicate that inside of `evaluate` if that's what we want to do (I think it's just one call to `sanitize`).

I think the issue is that historically there were two differences between these two commands: `predict`

[2020-09-10 23:28] epwalsh commented on #4627
Please tell me what operating system you are using, and also paste the output of `pip freeze`.

[2020-09-11 00:27] dirkgr commented on #4631
You can just set the `TRANSFORMERS_CACHE` environment variable to point to the right directory. Does that help?

[2020-09-11 00:31] dirkgr commented on #4627
I am pretty sure the problem is that MRQA-Shared-Task-2019 depends on `allennlp<1.0`, but it just specifies `allennlp`.

@juliahane, can you run `pip install "allennlp<1.0"`, and check if that works?

[2020-09-11 01:05] dirkgr commented on #4591
`numpy.tobytes()` does not remember the data type, size, or value order of the tensor. There might be other stuff. `torch.save()` does, and we need that stuff to be preserved.

I would consider using `numpy.tobytes()` and `torch.from_numpy()` anyways because it allows us to create a torch tensor that's backed by memory-mapped bytes, no reading required. But we have some other hurdles to clear befo

[2020-09-11 01:15] dirkgr commented on #4619
Let me add to this: In case you develop a general way of giving class weights to `CrfTagger`, I'd love to review the pull request for it :-)

[2020-09-11 08:28] juliahane commented on #4627
Hi
thanks a lot, indeed with allennlp <1 it does not go to that issue, but now
this does not recognize the GPU, I tried with multiple gpus, and with all
it does not recognize it, I provide the command below and the error stack,
here is also the versions I used

allennlp                  0.9.0                     <pip>
pytorch-pretrained-bert   0.6.2                     <pip>
pytorch-transformers

[2020-09-11 08:43] juliahane commented on #1950
Hi
I have the same issue here, I did setup cuda_device to 0, and I am running the codes in https://github.com/mrqa/MRQA-Shared-Task-2019/tree/master/baseline for BERT base.

[2020-09-11 09:02] wolhandlerdeb commented on #4631
It's working!
Thanks

[2020-09-11 15:47] StrangeTcy commented on #2801
How about now?
While not as easy as writing `model.to(torch.device('tpu'))`, it's definitely not in alpha anymore. There are computer vision models one could train and run easily on colab/kaggle TPUs, as well as transformer models.

[2020-09-11 16:13] #4631 closed

[2020-09-11 16:19] dirkgr commented on #4627
It looks like your config is specifying a GPU, but you don't have one. Just switch `cuda_device: 0` out for `cuda_device: -1` in the config file!

[2020-09-11 16:21] #4590 closed

[2020-09-11 17:27] epwalsh commented on #2801
This is definitely worth revisiting.

[2020-09-11 20:25] dirkgr commented on #4627
Sorry, I did not read your message carefully enough. AllenNLP relies on torch for the GPUs. If torch sees the GPU, so do we. I suspect what happened is that it automatically installed an older version of pytorch, but one that doesn't have CUDA support.

[2020-09-11 20:41] #4554 closed

[2020-09-11 21:05] juliahane commented on #4627
Hi
I realized that the issue was that allennlp install pytorch by itself,
installing pytorch from pip is buggy, then I installed it with conda and it
worked.

On Fri, Sep 11, 2020 at 10:26 PM Dirk Groeneveld <notifications@github.com>
wrote:

[2020-09-11 21:16] dirkgr commented on #4627
Cool! Let us know if you have more problems with it.

[2020-09-11 21:16] #4627 closed

[2020-09-12 21:06] jacobdanovitch opened #4634 "[Contribution] DeepSpeed Integration"
**DeepSpeed background**

[DeepSpeed](https://www.deepspeed.ai/) is a distributed training engine for PyTorch, primarily for training very large language models with significantly less memory. For example, the [17.7 billion parameter Turing-NLG](https://www.microsoft.com/en-us/research/blog/turing-nlg-a-17-billion-parameter-language-model-by-microsoft/) was trained with DeepSpeed's ZeRO optimizer.

[2020-09-13 14:39] natny commented on #2884
Hi @epwalsh, thank you - with regard to part 2 of the issue, I think it is more of a pytorch thing - when I move the container to a ModuleDict, behaviour is as expected - i.e., all transitions get moved to the GPU when they are supposed to. So I'm not sure it warrants a bug report?

[2020-09-14 11:25] mayhewsw commented on #2723
FWIW, the path for training config files has changed, and is now [here](https://github.com/allenai/allennlp-models/blob/master/training_config/tagging/ner.jsonnet).

[2020-09-14 12:11] asvskartheek commented on #2804
This is a broken link, is there any working way to pass 2 files at once in read method?

[2020-09-14 16:07] epwalsh commented on #2884
Hey @natny, what do you mean by "move the container to a ModuleDict"?

[2020-09-14 16:19] CatarinaPC opened #4636 "What types of sequence labeling models are possible to train?"
I'm having a bit out trouble finding what types of sequence labeling models, in particular, for NER, are possible to train using AllenNLP?

In other words, what are all the architectures that one can use? For example, BI-LSTM-CRF.

[2020-09-14 20:20] epwalsh commented on #4636
Hi @CatarinaPC, if you haven't found the `CrfTagger` model yet, take a look here: https://github.com/allenai/allennlp-models/blob/master/allennlp_models/tagging/models/crf_tagger.py.

With this model you can use any `TextFieldEmbedder`, `Seq2SeqEncoder`, and additional `FeedForward` layers that you want.

[2020-09-14 20:26] epwalsh commented on #4634
Hi @jacobdanovitch, being able to integrate with DeepSpeed would be awesome.

I'm also worried about adding a new dependency and a new part of the library to maintain though. Another option is to keep this trainer in a separate repository as an official "AllenNLP plugin".

@AkshitaB, @dirkgr, @matt-gardner what are your thoughts?

[2020-09-14 22:34] AngledLuffa opened #4638 "The "Detailed Tutorial Available" link is broken"
There is a link with the text "detailed tutorial available" on the Elmo home page:

https://allennlp.org/elmo

That link goes to

https://github.com/allenai/allennlp/blob/master/tutorials/how_to/elmo.md

and is a dead link.

[2020-09-14 23:00] epwalsh commented on #4638
Thanks @AngledLuffa for the heads up.

[2020-09-15 08:55] GuanNiPiShi123 opened #4640 "'Predictor' object has no attribute 'predict'"
## Checklist

- [ ] I have verified that the issue exists against the `master` branch of AllenNLP.
- [ ] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [ ] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-09-15 09:08] GuanNiPiShi123 commented on #4031
Idid the same as you,but have the" AttributeError: 'Predictor' object has no attribute 'predict'"  ,how to solve it @schmmd

[2020-09-15 10:34] KwanWaiChung opened #4641 "Documentation of PytorchSeq2VecWrapper is confusing"
The Documentation says:
"Pytorch's RNNs have two outputs: the hidden state for every time step, and the hidden state at
    the last time step for every layer.  We just want the second one as a single output." However, this wrapper seems to return the hidden state at the last time step for the LAST layer instead of every layers?

[2020-09-15 16:34] #2663 closed

[2020-09-15 19:47] #4640 closed

[2020-09-16 04:44] NoahDrisort commented on #4205
![image](https://user-images.githubusercontent.com/36092323/93292618-290b6800-f810-11ea-90d2-cec2306473ff.png)

The warning was removed when I add vocabulary of the model pretrain like this 👍
![image](https://user-images.githubusercontent.com/36092323/93292894-ded6b680-f810-11ea-9652-d3371b6e246e.png)
But in the predict step, I still got the different type of Predict object, I am still debugging o

[2020-09-16 07:08] NoahDrisort commented on #4205
I think I have solved this problem
![predict_custom_pretrain](https://user-images.githubusercontent.com/36092323/93303472-b1e0ce80-f825-11ea-8807-95e86a6033fb.jpg)

I write an inheritance class for Prediction when The Model using pretrain that load previous model from achieve,

[2020-09-16 14:27] mulhod opened #4642 "Immediate removal of temp dir in load_archive"
**Is your feature request related to a problem? Please describe.**
In the `archival.load_archive` function, the archive file (if it is not a directory, that is) is extracted to a temporary directory and that directory’s removal is postponed till the interpreter exits (via `atexit`). This is done because the extracted directory’s contents are used outside this function in some cases. I have a use c

[2020-09-16 17:09] matt-gardner commented on #4634
If we had a nice place for advertising plugins and what's available, I would probably vote for a plugin for this kind of thing.  If we ever get around to implementing a pytorch lightning trainer, I would similarly vote for having it as a plugin.  I think that's a good option for integrations that depend on large third-party libraries.

[2020-09-16 17:17] #4638 closed

[2020-09-16 17:31] epwalsh commented on #4641
Hey @KwanWaiChung, thanks for pointing that out. Would you be interesting in opening a pull request to fix it?

[2020-09-16 18:15] #4626 closed

[2020-09-16 23:36] tpanza commented on #4623
Hi @epwalsh I have updated to `1.1.0` that includes the fix from #4624. Looks like I am now getting a different error, this time with the perplexity metric:

[code]

[2020-09-17 00:04] tpanza commented on #4623
Nevermind... looks like this was fixed by #4632 . I've applied that patch on top of the `1.1.0` code, and the language model was able to train.

[2020-09-17 00:16] tpanza commented on #4554
Hi @dirkgr , with this fix, looks like we are able to get a little further, but [the error referenced above](https://github.com/allenai/allennlp/issues/4554#issuecomment-686784001) is still happening...

My environment is:
[code]
plus patches for  allenai/allennlp-models#129 and #4632 applied.

After training the ELMo transformer language model, I still cannot use it as an embedder within an NER t

[2020-09-17 17:38] tpanza opened #4646 "Cannot train NER model that uses bidirectional_lm_token_embedder: RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu"
## Checklist

- [ ] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-09-17 18:18] epwalsh opened #4647 "[Feature request] subcommand for calling cached_path"
I think it would be nice to have a subcommand like `allennlp cached-path RESOURCE` so you could call `cached_path()` from the command line. This would be very useful when you want to inspect a dataset directly, for example. Like you could just call

[code]

I'd also appreciate an easy way to know where the cache directory is and what's in it. That could be done with

[code]

which could print out

[2020-09-17 18:19] epwalsh commented on #4642
Closing per #4643

[2020-09-17 18:19] #4642 closed

[2020-09-17 18:49] matt-gardner commented on #4647
As long as we're giving feature requests, I would add that it would be lovely if `cached-path --inspect` actually gave me information on what the individual things are in the cache, not just hashed identifiers, and when they were downloaded (and any other metadata we might have or want).  We could do this by storing something like a `[HASH].meta` next to every downloaded path, which `cached-path -

[2020-09-17 19:23] epwalsh commented on #4647
We already store some meta for each cached resource so that is definitely doable: https://github.com/allenai/allennlp/blob/master/allennlp/common/file_utils.py#L455

[2020-09-17 19:31] matt-gardner commented on #4647
Oh, even better!  I didn't know we already did that.

[2020-09-18 01:26] ianupright opened #4649 "Problem with PretrainedTransformerEmbedder and models such as T5"
In  PretrainedTransformerEmbedder and PretrainedTransformerTokenizer, there is the line:

        self._num_added_end_tokens = len(tokenizer.single_sequence_end_tokens)

In the case of models such as T5, the _num_added_tokens results in zero.

but then there is code like:

        embeddings = embeddings[
            :, :, self._num_added_start_tokens : -(self._num_added_end_tokens), :
        ]

[2020-09-18 04:06] KwanWaiChung commented on #4641
Of course!

[2020-09-18 14:47] mulhod opened #4650 "Enable passing through of arguments to transformers from_pretrained"
**Is your feature request related to a problem? Please describe.**
I have a use case where pretrained `transformers` models and tokenizers are downloaded to a particular cache that I would like to be able to pass through to `from_pretrained`. There are also other arguments that I would like to pass through such as `local_files_only` since the service that uses the model lacks an internet connectio

[2020-09-19 20:58] nelson-liu commented on #4584
(I'm going to reopen this issue, because I'm also weirdly seeing it):

We're training some SQuAD models with ELMo. To debug, we're training on a subsample of SQuAD 1.1 (1K sentences).

We're getting the following error:

[code]

What's weird, though, is that this happens on the _second_ epoch of training. I'd expect such a large memory allocation to happen on the first epoch / to hit the OOM on th

[2020-09-19 21:26] nelson-liu commented on #4584
Also: it looks like this happens only on Titan V. If we rerun on another GPU, things seem ok...

[2020-09-20 17:21] mahnerak opened #4653 "Closing the TensorBoard writer"
I had noticed that sometimes tensorboard fails to properly read the `tfevents` files.
They are mainly in case of runs which I decided to interrupt the training (not sure about other abortion scenarios).
Then, I wanted to make sure the tensorboard writer is properly closed. I found the `close()` is called only here, but not inside any `with` or `finally` construct:
https://github.com/allenai/allenn

[2020-09-21 16:22] #4603 closed

[2020-09-21 17:17] dirkgr commented on #4634
If there is a way to avoid making DeepSpeed a real dependency in `setup.py`, I'd be open to having it in the main library.

@jacobdanovitch, can you run that "Initial results" test you did with amp enabled? I wonder if that explains most of the advantage. If that's the case, we need some other capability or improvement to come from this to make it worthwhile.

DeepSpeed's big thing is distributed

[2020-09-21 17:19] epwalsh commented on #4634
We could put this dependency under an optional feature: https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies

[2020-09-21 18:11] jacobdanovitch commented on #4634
@dirkgr

Sure. So, Deepspeed has a few different modes. They have NVIDIA AMP, and they have the _"ZeRO memory optimization wrapper for FP16 Training_" (which is not compatible with NVIDIA AMP). I ran on both as well as with deepspeed disabled entirely (but still using my trainer).

Ran 1 epoch on SST using `roberta-base` and a batch size of 64.

<details>

<summary>Hardware:</summary>

[code]

</d

[2020-09-21 18:21] jacobdanovitch commented on #4634
I was going to suggest something like as well. Is this what some libraries use for installations like `pip install library[feature1, feature2]`?

I'm not sure how it works, but would this let users install the base library with `pip install allennlp`, excluding files like a potential deepspeed trainer by default? And then `pip install allennlp[deepspeed,...]` to select which plugins they'd like. T

[2020-09-21 18:53] epwalsh commented on #4634
@jacobdanovitch yeup, exactly!

[2020-09-21 20:23] tpanza commented on #4646
@dirkgr what can I do to help with this?

[2020-09-21 22:36] tpanza commented on #4584
I've also seen this on Tesla V100. Reducing batch size is only workaround I know of.

[2020-09-22 17:36] mulhod opened #4656 "Allow overrides to be JSON string or dict"
**Is your feature request related to a problem? Please describe.**
Currently, `overrides` expects a JSON string representing a dictionary. It would be nice to be able to pass in a Python `dict` or a JSON string. This would make it slightly easier if using Python directly to pass in a value to `overrides`.

**Describe the solution you'd like**
Enable `overrides` to accept either a JSON string or a

[2020-09-22 17:39] #4650 closed

[2020-09-22 17:42] epwalsh commented on #4653
Hi @mahnerak, that seems like an oversight on our part. Would you be interested in making a PR to fix that?

[2020-09-22 18:04] calusbr commented on #4619
@matt-gardner Thanks for the feedback! @dirkgr I believe it is possible to create a task for this problem. Do you have any idea how we can add weights?

@matt-gardner In case there is any tip on how we can add this weight without changing the official code, I await feedback!

[2020-09-22 18:34] DalilaB000 opened #4657 "No module named allennlp_models"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-09-22 18:38] DalilaB000 opened #4658 "No module named 'allennlp_models'"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-09-22 18:40] DalilaB000 commented on #4658
Cannot find allennlp_models
python 3.7
Mac OS 10.15

[code]

Error

_---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-7f905a1931f0> in <module>
      1 from allennlp.predictors.predictor import Predictor
----> 2 import allennlp_models.tagging
      3 predictor = Predictor.from_pa

[2020-09-22 19:56] matt-gardner commented on #4658
Did you run `pip install allennlp_models`?

[2020-09-22 20:32] mahnerak commented on #4653
Sure!

I just don't want to increase the indentation of the train-loop code by adding `try/finally` and `with` to `train()`.

One good option is to add `close()` method to `Trainer` so it can handle even multiple handles to be closed. And the trainer instance can be closed from:

https://github.com/allenai/allennlp/blob/fbd2ccca1dd767e919a62d344c6b6569fc38227a/allennlp/commands/train.py#L503-L506

[2020-09-22 20:54] epwalsh commented on #4653
Cool. I think maybe `Trainer.clean_up()` is a better/more general name for the method?

[2020-09-22 21:08] AngledLuffa opened #4659 "Transformer elmo link broken on elmo help page"
There is a link to a tutorial for transformer elmo on the elmo page:

https://allennlp.org/elmo

https://github.com/allenai/allennlp/blob/master/tutorials/how_to/training_transformer_elmo.md

Unfortunately, this tutorial is also missing.

[2020-09-22 21:13] AngledLuffa opened #4661 "How to pad words in elmo?"
Is there a standard way to pad words in elmo?  For example, if I have the following two sentences:

This is a long sentence
Short sentence

and I pass the tokens from these sentences to elmo.batch_to_ids, I get back some 0s.  However, suppose I have a model which needs a minimum sentence length of 5, and my only text is

Short sentence

If I pass in

['short', 'sentence', '', '', '']

I get back a

[2020-09-22 21:16] DalilaB000 commented on #4658
Yes I did install allennlp.

Regards,

Dalila

On Tue, Sep 22, 2020 at 3:56 PM Matt Gardner <notifications@github.com>
wrote:

Dalila Benachenhou

Execution Data Scientist

Phone 202-427-4631

DataRobot

Join us online: DataRobot.com <https://www.datarobot.com/> | LinkedIn
<https://www.linkedin.com/company/datarobot> | Facebook
<https://www.facebook.com/datarobotinc/> | Twitter
<https://twitter.co

[2020-09-22 21:17] DalilaB000 commented on #4658
On Tue, Sep 22, 2020 at 3:56 PM Matt Gardner <notifications@github.com>
wrote:

Dalila Benachenhou

Execution Data Scientist

Phone 202-427-4631

DataRobot

Join us online: DataRobot.com <https://www.datarobot.com/> | LinkedIn
<https://www.linkedin.com/company/datarobot> | Facebook
<https://www.facebook.com/datarobotinc/> | Twitter
<https://twitter.com/DataRobot> | Instagram
<https://www.instagram

[2020-09-22 21:38] matt-gardner commented on #4658
The error that you are seeing means that python can't find `allennlp_modules`.  This is a separate python package from `allennlp`.  You need to run both `pip install allennlp` and `pip install allennlp_modules`.  Your error can only happen when `pip install allennlp_modules` was not run, or something failed during installation.

[2020-09-23 06:59] kapeed1011 commented on #4238
I am to trying import BucketIterator using -"from allennlp.data.iterators import BucketIterator" in Google colab.But it is raising the same error again and again-
"ModuleNotFoundError: No module named 'allennlp.data.iterators"
After installing allennlp the imports like:
from allennlp.data.token_indexers import TokenIndexer, SingleIdTokenIndexer
from allennlp.data.tokenizers.character_tokenizer imp

[2020-09-23 07:21] kapeed1011 opened #4662 "ModuleNotFoundError: No module named 'allennlp.data.iterators'"
I am to trying import BucketIterator using -"from allennlp.data.iterators import BucketIterator" in Google colab.But it is raising the same error again and again-
"ModuleNotFoundError: No module named 'allennlp.data.iterators"
After installing allennlp the imports like:
from allennlp.data.token_indexers import TokenIndexer, SingleIdTokenIndexer
from allennlp.data.tokenizers.character_tokenizer imp

[2020-09-23 08:20] #4662 closed

[2020-09-23 16:01] epwalsh commented on #4657
Closing because duplicate of https://github.com/allenai/allennlp/issues/4658

[2020-09-23 16:01] #4657 closed

[2020-09-23 18:08] dirkgr commented on #4619
I did a quick Google of this problem, and unless I missed something, no major library has weighted CRFs. That tells me that a) it would be very cool if AllenNLP did, and b) it's not easy.

I did find this paper referenced a few times: https://perso.uclouvain.be/michel.verleysen/papers/ieeetbe12gdl.pdf

They give the math, but not code, on how to do it. I'd recommend copying the existing `CrfTagger

[2020-09-23 18:47] epwalsh commented on #4619
I glanced over the paper and it seems relatively straight-forward, but it would definitely take some refactoring of the `CrfTagger`, and I'm not sure what the performance implications are.

But this definitely interests me, so if no one else decides to work on it, I might eventually do it.

[2020-09-23 20:02] #4647 closed

[2020-09-23 22:31] dirkgr opened #4666 "When running multiple distributed runs on the same box, AllenNLP says "RuntimeError address already in use”"
The workaround is to set `"distributed" { "master_port": 29501 }` in the training config, but we can do better and automatically find a free port.

[2020-09-24 11:34] izaskr opened #4667 "from allennlp.data.dataset_readers.seq2seq import Seq2SeqDatasetReader in v 1.1.0"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-09-24 15:22] Mayar2009 opened #4668 "running allennlp script"
I am new to allennlp
Now Iam trying to upgrade a given code from allennlp 0.8.0 to 1.1.0
in the 0.8.0 version subcommands was in this way

    subcommands = {
            # Default commands
            "configure": Configure(),
            "train": Train(),
            "evaluate": Evaluate(),
            "predict": Predict(),
            "make-vocab": MakeVocab(),
            "elmo": Elmo(),

[2020-09-24 17:07] epwalsh opened #4669 "Officially support Python 3.8"

[2020-09-24 18:42] dirkgr commented on #4646
Sorry for the radio silence. This is on my radar, but the machine I wanted to use has developed problems and now we're debugging GPUs instead of tensors.

These wrong-device errors are usually easy. The problem is often that one of the tensors involved was created fresh without a `device` parameter, and so it defaults to CPU. I am a big fan of debuggers, so that's what I would use to find out wher

[2020-09-24 18:50] dirkgr commented on #4634
@jacobdanovitch, those are great results. What are the timings for those, i.e., how quickly did they get done? What model did you use to do this?

Do you have NVLink between the two cards?

[2020-09-24 19:43] epwalsh opened #4670 "Add memory pinning option to new data loader"
See
- https://pytorch.org/docs/stable/data.html#memory-pinning
- https://github.com/pytorch/pytorch/blob/master/torch/utils/data/_utils/pin_memory.py#L45
- https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataloader.py#L410

[2020-09-24 20:24] jacobdanovitch commented on #4634
Training is slow right now. FP16 trainer took about ~9s on average to get through 3520 instances at a batch size of 64. Deepspeed trainer takes a lot longer, about ~20-23s, but there's a lot of stuff going on in their model engine (logging, timing, tensorboard writing, etc). I'm sort of stuffing a trainer inside another trainer right now, so this should get faster when I wrap it nicely. Also, a lo

[2020-09-24 21:28] dirkgr commented on #4634
That all sounds promising, though some risks remain. If it was me, I'd want to make sure that the performance improvements actually materialize. At the end of the day, we want to have some new capability, i.e., either training faster, or at least training bigger models in the same amount of memory. But there is also a time when the investigation starts to take longer than just doing the thing. I'l

[2020-09-24 22:26] jacobdanovitch commented on #4634
What would be the best way to move forward on this? Should I start working it into a PR? Not sure what the consensus is if it belongs in the main library or a plugin library.

[2020-09-24 23:47] dirkgr commented on #4634
I'll say let's make it a separate trainer in the main library. If it turns out it's too weird with dependencies or something, then we'll move it into a plugin later.

[2020-09-25 16:25] schmmd commented on #4659
We didn't end up maintaining this tutorial for 1.0.  You can find it in the GitHub history (https://github.com/allenai/allennlp/blob/052353ed62e3a54fd7b39a660e65fc5dd2f91c7d/tutorials/how_to/training_transformer_elmo.md) but it will be somewhat out of date for the latest version of AllenNLP.

[2020-09-25 16:25] #4659 closed

[2020-09-25 16:41] matt-gardner commented on #4661
The way we handle this in our standard padding pipeline is to just add a padding tokens and make sure we use a mask that says which words should be ignored.  If you use our `TextFields` to do data processing this will happen for you automatically.

[2020-09-25 16:42] matt-gardner commented on #4667
As of version 1.0 that code moved to `allennlp_models`.  You'll need to run `pip install allennlp_models` and change your import location.

[2020-09-25 16:44] matt-gardner commented on #4668
Registering a subcommand should work, you just have to make sure that your code gets registered when you run an `allennlp` command.  See [this part of the guide](https://guide.allennlp.org/using-config-files#7) for some discussion of how that works.

[2020-09-25 20:27] #4669 closed

[2020-09-25 21:34] dirkgr commented on #4628
Closing due to inactivity

[2020-09-25 21:34] #4628 closed

[2020-09-25 23:00] dirkgr opened #4675 "Have a single `TrainerCallback` that can handle both `BatchCallback` and `EpochCallback`."
Also, add another call at the end of the whole training run.

This should make it easier to hang on to state inside the callback.

See the discussion at the end of this issue: https://github.com/allenai/allennlp/pull/3970

[2020-09-27 20:33] asvskartheek opened #4678 "Cuda check before vocabulary gets built"
**Is your feature request related to a problem? Please describe.**
Whenever there is a cuda related error like, you are on CPU so use -1 or anything else is given after the vocabulary gets created i.e, after the log and configuration folder gets created. So, changing this and running allennlp gives an error that there is a folder with the same name already present. So, it needs to be deleted and t

[2020-09-28 07:43] iliemihai commented on #4558
I am also facing the same issue. The problem appears when using different stories, not the same story. Memory usage is increasing when applying `predictor.predict(story)` in a while loop.

[2020-09-28 13:27] wu8320175 opened #4681 "A Error when I try the SRL-example"
Version：
allennlp            1.1.0
allennlp-models     1.1.0

![image](https://user-images.githubusercontent.com/24267883/94437924-00e91500-01d1-11eb-9d15-3ddd0af7e618.png)

My code here
[code]
I dont konw how to solve this, Is the downloaded model has broken?
[code]

[2020-09-28 16:18] epwalsh commented on #4678
@asvskartheek FYI if you leave the cuda device unspecified, AllenNLP will automatically use a GPU if one is available, otherwise it defaults to CPU.

[2020-09-28 16:23] #4636 closed

[2020-09-28 16:24] asvskartheek commented on #4678
@epwalsh Thank you for the suggestion, I'm aware of this feature. I'm curious as what would be the behaviour when there are multiple GPUs and nothing is specified? I feel it would also be better if all the system related checks are done before the vocabulary gets built or any other data specific operation is done.

[2020-09-28 16:48] epwalsh commented on #4678
Yea, that would definitely be helpful. I know I've had the same frustration at times.

I'm thinking the best way to solve this would be to have a `validate_config` function that is called here:https://github.com/allenai/allennlp/blob/55cfb47b5a0c84fa9ae97b792f82805919a0149a/allennlp/commands/train.py#L224

Within `validate_config` we could call [`check_for_gpu`](https://github.com/allenai/allennlp

[2020-09-28 16:49] epwalsh commented on #4678
@asvskartheek would you be interested in making a PR?

[2020-09-28 17:21] epwalsh commented on #4656
Closed via https://github.com/allenai/allennlp/pull/4680

[2020-09-28 17:21] #4656 closed

[2020-09-28 20:27] dirkgr opened #4683 "Model configs should work out of the box"
Whenever possible, our model configs should work out of the box with no changes. That means the datasets need to be publicly available, and specified with their URLs. That's impossible for copyrighted datasets, but we should strive to get there for public ones.

Most of our configs indirect datasets with environment variables. We do this so that tests work. We should stop doing this, and make the

[2020-09-28 21:31] dirkgr commented on #4558
[code]

This sends a different story each time. I am still not seeing any memory problems. Can you try running this and tell me what you see?

[2020-09-29 04:12] wu8320175 commented on #4681
I got another err after update allennlp version from source.
 [installing-from-source](https://docs.allennlp.org/master/#installing-from-source)
could you please help me how to solve this problem?
Package                    Version             Location
-------------------------- ------------------- ------------------------------------------------
allennlp                   1.2.0rc1            d:\w

[2020-09-29 05:32] asvskartheek commented on #4678
@epwalsh Oh! Yeah, sure. I'll be on it.

[2020-09-29 09:04] leonardyeoxl commented on #4536
Hi, there are some issues with the model. Here is the exact same code from https://demo.allennlp.org/coreference-resolution/MjMwNTcxNA==

[code]

Here are the results after running the script:
[code]

Kindly assist in this.

[2020-09-29 09:07] wu8320175 commented on #4681
I have solved This problem!
P1:srl_bert is not a registered name for Model
S1:  1.install allennlp-models;  then before use it we need
from allennlp_models.structured_prediction.models import srl_bert
P2: Unable to load weights from pytorch checkpoint file
S2: install transformer,and find the sys cache filepath(windows(mine): C:\Users\63288\.cache\torch\transformers) and Del all the file. then run

[2020-09-29 09:07] #4681 closed

[2020-09-29 12:29] snath99920 commented on #4086
I see that this issue was taken up and the elmo module was removed in v1.1.0. Can someone please tell me which version of allennlp would support elmo?

[2020-09-29 13:33] NinaTian98369 commented on #4594
Thanks @matt-gardner!

One additional question that would appreciate your answer: is it possible to get more than five predictions for each [MASK] in Python? Also curious if it's possible to get probability for a specific word, just like https://github.com/huggingface/transformers/issues/547#issuecomment-692616754. Thank you.

[2020-09-29 16:06] matt-gardner commented on #4594
You can see [here](https://github.com/allenai/allennlp-models/blob/dd368903a85a4590da5db92c17d1a429c15760a3/allennlp_models/lm/models/masked_language_model.py#L132) that the value of 5 is hard-coded into the model.  You'd have to change that in order to get more than 5 values out.  Perhaps best to just add a constructor parameter to set that threshold value.  Also you could imagine adding an outpu

[2020-09-30 10:40] izaskr commented on #4667
Thanks, this worked indeed:
`from allennlp_models.generation import Seq2SeqDatasetReader`

[2020-09-30 13:55] #4667 closed

[2020-09-30 16:24] #4584 closed

[2020-09-30 16:52] TheresaSchmidt commented on #3802
Hi, is this example still available? The link's outdated.
The other example also looks really helpful!

[2020-09-30 17:49] vikigenius opened #4687 "allennlp-models Seq2Seq dataset reader does not work with pretrained transformer tokenizers"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-09-30 19:18] vikigenius commented on #4687
Okay, I isolated the issue, you have to specify the correct start symbols and end symbols in the config for the pretrained transformer tokenizer, which are <s> and </s> respectively. Closing, since it's not a bug.

[2020-09-30 19:18] #4687 closed

[2020-09-30 19:24] epwalsh commented on #4687
I would still consider this a bug. Here's a fix: https://github.com/allenai/allennlp-models/pull/139

[2020-09-30 22:03] bratao commented on #4634
@jacobdanovitch did you have any update on this? Sorry for pinging you, but I´m right now evaluating the Deepspeed + Allennlp thanks to their Sparse Transformer implementation and would be nice to have a head start on this.

[2020-09-30 22:17] jacobdanovitch commented on #4634
Hey, no worries, I was gonna check in tonight anyway. I haven't had a second to open a PR so far this week but there's the repo that I linked to in my OP if you're looking to try it out, it's just two python files and a config or whatever (I forget if I pushed a few changes though). Feel free to email me too, I can help you get started.

[2020-10-01 04:50] Mayar2009 opened #4688 "Multi-task Learning in AllenNLP v. 1.1.0"
Hi!
It look understandable in this example [https://github.com/huggingface/hmtl](url)

how to use multitask training but the version was 0.8.x
Is there any complete  example for multi task training for the present version?

[2020-10-01 05:09] vikigenius opened #4689 "OOM with BART during validation even with low batch size and truncation"
I am training BART on a custom Seq2Seq dataset.
I am getting OOM errors during validation even when the batch size is 1.

Currently my training batch size is 3, with source_max_tokens=1022 and target_max_tokens=54.
My validation batch size is 1, with source_max_tokens=512 and target_max_tokens=54.

I am training on the 16GB Tesla V100.

Even with reduced source_max_tokens I am getting an OOM durin

[2020-10-01 10:58] pvcastro opened #4690 "Train a model with transformer embeddings and additional_special_tokens"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-10-01 15:26] izaskr opened #4691 "AttributeError: 'Tensor' object has no attribute 'keys' when using ComposedSeq2Seq"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-10-02 01:26] dirkgr commented on #3802
Yes, our models have moved to https://github.com/allenai/allennlp-models.

* The consituency parser config is now here: https://github.com/allenai/allennlp-models/blob/master/training_config/structured_prediction/constituency_parser.jsonnet
* The model is here: https://github.com/allenai/allennlp-models/blob/master/allennlp_models/structured_prediction/models/constituency_parser.py

[2020-10-02 14:39] jacobdanovitch commented on #4623
It looks like this is also an issue with categorical accuracy in `basic_classifier`. It seems to be a very easy fix, just change line 98 from:

[code]

to:

[code]

[2020-10-02 20:24] jacobdanovitch commented on #4634
First draft of this is linked above. I tried my best to get multi-node working as well but I can't even get it to work with the regular trainer (this is SLURM's fault, not allennlp). It might work OOB if you setup your config file properly with `num_nodes`, `master_address`, etc (as you would for the regular trainer), but for the moment i don't have a non-infuriating way of testing this.

Single n

[2020-10-02 20:27] viking-sudo-rm commented on #4675
I can take this on next week. If I understand correctly, the intended change is that a new `Callback` class should have three separate method callbacks for each event?

I don't quite understand the suggestion in #4674 that callbacks should be a context manager.

[2020-10-03 03:45] asvskartheek commented on #4678
@epwalsh In the validate_config method, I'm checking for
1. The serialization dir.
2. The Cuda check.
3. Check if all the parameters passed are appropriate. For example: if there is a custom data_reader written but it was not added using --include-package or maybe it was not even registered in the first place.

Do you have anything else to add to this checklist?

[2020-10-03 12:22] KwanWaiChung opened #4698 "pass loss function and metrics in config"
In the official [example](https://github.com/allenai/allennlp-guide-examples/blob/master/quick_start/my_text_classifier/models/simple_classifier.py), both metrics and loss function are hard coded. I am wondering if we can pass those in the config jsonnet, so I can reuse my model in different datasets with different metrics.

[2020-10-03 17:32] epwalsh commented on #4678
That sounds like a good start. If I think of anything else I will let you know!

[2020-10-04 05:01] entslscheia opened #4701 "Is there a way to differentiate validation and evaluation in AllenNLP?"
Sometimes we may want some minor different behaviors during validation (i.e, validation on dev set during training) and final evaluation. I am not sure whether there is a simple way to inform our model whether it's called by a `train` command or a `evaluate` command. Now what I can do is just to use `self.training` to distinguish them from training, but both validation and evaluation have `self.tr

[2020-10-04 07:50] RyoMazda commented on #3630
I love the documentation style a lot, especially the API part where we can see the source codes for the parameters of the functions and the classes!

I'm wondering if you guys have any plans for making this docs-functionality into a mkdocs plugin or a python package independent of AllenNLP?

If no, am I allowed to take the code like `scripts/py2md.py` and put it on the public repository of mine (o

[2020-10-05 02:36] cfregly opened #4703 "Simple/Smooth/Integrated Gradient examples are returning `'grad_input_1': [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]`"
## Description

Following the example in this Usage section:
 https://demo.allennlp.org/sentiment-analysis/MjMxMzE4Mw==

Here is my notebook:
https://github.com/data-science-on-aws/workshop/blob/925387e/07_train/wip/99_AllenNLP_RoBERTa_Prediction.ipynb

## Related issues or possible duplicates

- None

## Environment

OS:  Linux

Python version: 3.6.10

<details>
<summary><b>Output of <code>pip fr

[2020-10-05 02:40] cfregly commented on #4703
[code]
OUTPUT
[code]

[2020-10-05 02:41] cfregly commented on #4703
[code]
OUTPUT
[code]

[2020-10-05 18:17] epwalsh commented on #3630
Hi @RyoMazda, I think at some point it might make sense to pull `py2md` out into it's own repo, but it's not a priority at the moment.

You can definitely take the code from that script though and put it into your own repo. We use the Apache 2.0 license, which is very liberal.

[2020-10-05 18:53] Nikeshbajaj commented on #3405
Hi,
I also wanted to use Masked LM, I tried following three archived models, but got error each time. Don't know, what's wrong. If anyone can help out.

#----------------------------------------------------------------------
path1 = "https://storage.googleapis.com/allennlp-public-models/bert-masked-lm-2019.07.25.tar.gz"
BertMLM = Predictor.from_path(path1)

#---------------------------------------

[2020-10-06 09:22] RyoMazda commented on #3630
Hi @epwaish, I understood the situation. Thank you for the quick response!

[2020-10-06 18:08] epwalsh opened #4707 "Postponed evaluation of type hints"
https://www.python.org/dev/peps/pep-0563/

Need to `from __future__ import annotations` for Python < 3.10. This won't work for 3.6 and older, however, so this will involve dropping support for 3.6.

[2020-10-06 19:15] mahnerak commented on #4675
@viking-sudo-rm Maybe I was not clear.
Callbacks should have a method `close()` that is guaranteed to be called, so resources (say, we implement a logger with Callback) can be properly closed.
This may seem to be equivalent of having something like `on_training_end()`. In most cases it is true, but if the training is failed because of an error, we may want to close the files, but not to log the ru

[2020-10-06 20:42] viking-sudo-rm commented on #4675
I see, thanks for the clarification! That makes sense.

I've already started on a PR that doesn't include those changes, so I don't think I will address them, but a follow-up PR should.

[2020-10-06 23:24] dirkgr commented on #4634
What's next for this feature? Did you manage to address the slowdown?

[2020-10-07 00:07] jvstokes commented on #4689
Hi there,

I’m not able to reproduce this issue. It looks like the size of state stays consistent within that snippet (in the timestep loop). It’s expected that the state would be updated to consider each beam, not just a singular beam.

[2020-10-07 00:31] vikigenius commented on #4689
@jvstokes  What do you mean size of the state? That's a dictionary right? I am talking specifically about the GPU storage of `state['input_ids']`

Evaluate `state['input_ids'].storage()` before and after the gather step in line 364-368 it doubles.
Which at least for that specific key should not happen because `state[input_ids]` holds input_ids which should never change no matter what the beam is r

[2020-10-07 10:27] Riccorl commented on #4521
Hi, I'm trying to generalize myself the SRL model in the current release, but I have a problem. I hope you can help me figure it out. In the forward, [here](https://github.com/allenai/allennlp-models/blob/bcaf3c88eac5d60cf6885d35105e2772936d0862/allennlp_models/structured_prediction/models/srl_bert.py#L119), `token_type_ids` is assigned to `verb_indicator`. Since not every model support `token_typ

[2020-10-07 11:21] asvskartheek commented on #4678
@epwalsh I'm creating the validate_config() method in allennlp.common.checks and also can you help me where the pt. 3 is already implemented, so I can take that as a reference while writing.
Thanks :)

[2020-10-07 11:29] mateuszpieniak opened #4714 "Make the predictions more flexible"
**Is your feature request related to a problem? Please describe.**
I implemented a `DatasetReader` to handle the ConLL format file, trained the model, now it's time for inference on the external dataset. I run predictions on RIS files where one entity / object spans for a multiple lines.

In the current implementation of `Predictor` and `allennlp predict` I can:
  - work with a single line of the

[2020-10-07 16:27] #4661 closed

[2020-10-07 16:27] #4658 closed

[2020-10-07 16:32] jacobdanovitch commented on #4634
@dirkgr I think I might have finally identified the source of it. The slowdown (1) happens at about the same point every run, (2) isn't as much of a "slowdown" per se as it is _hanging_, and (3) seems to directly correlate to the number of gradient accumulation steps. My very uneducated guess would be that communication (in general) is the bottleneck here, and that accumulation alleviates this. A

[2020-10-07 17:23] vikigenius opened #4715 "Rouge metric incorrectly computed with distributed training"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-10-07 17:25] epwalsh commented on #4678
I don't think we have a function for this yet, but you could implement this by checking that the registered name is in the result of `.list_available()`:

https://github.com/allenai/allennlp/blob/321d4f48f6c14a559386afa4d19ae96b829fd025/allennlp/common/registrable.py#L193

For example, to check that the dataset reader is registered:

[code]

[2020-10-07 18:14] #4666 closed

[2020-10-07 18:21] jvstokes commented on #4689
Are you having the same issue with any other tensors within the state or just for that key? Can you provide a repro example?

[2020-10-07 18:45] nicolasahar opened #4716 "Docstring for AllenNlpTestCase is out-of-date"
https://github.com/allenai/allennlp/blob/ae7cf85b8f755f086341a087aeca1ba7c1df3769/allennlp/common/testing/test_case.py#L14

This docstring suggests that the TestCase class should subclass `unittest.TestCase` but it does not do so. Should this be updated or is this intentional?

[2020-10-07 18:53] epwalsh commented on #4716
The docstring is out-of-date. Would you be interested in making a PR to fix it?

[2020-10-07 20:06] vikigenius commented on #4689
@jvstokes
Use the following configuration copied from your test_fixtures with slight modification.

<details>
<summary><b>Configuration:</b></summary>
<p>

[code]
</p>
</details>

Now if you evaluate the following snippet: https://github.com/allenai/allennlp/blob/ae7cf85b8f755f086341a087aeca1ba7c1df3769/allennlp/nn/beam_search.py#L364-L368

Just add 2 variables to track the storage size

[code]

[2020-10-07 20:14] vikigenius commented on #4689
Ideally the reshape->gather->reshape call should not happen on tensors that we know are never going to change. Because why would you have 4 explicit copies of the same input_ids? Just an expanded tensor of shape [beam_size, seq_len] but occupying the memory of just seq_len should be enough.

[2020-10-07 20:26] epwalsh commented on #4689
@vikigenius the work-around to avoid the unnecessary `expand` / `reshape` calls on `state["input_ids"]` would be to leave `input_ids` of the `state`. You'd just have to modify the step function in BART (well, the step function would probably have to  be created dynamically as a closure, but that wouldn't be too hard).

By the way, are you sure this is the main reason you're getting OOM errors? It

[2020-10-07 20:32] vikigenius commented on #4689
@epwalsh

I am not sure this is the main reason I have OOM errors, but this could be a reason. Because reducing the max_decoding_steps and the beam_size helps me out.

Also, this storage increase does not happen when the batch_size > 1. So I think the whole thing could be avoided by expanding the state tensors properly.

[2020-10-07 20:37] epwalsh commented on #4715
Thanks @vikigenius, I believe the issue is that `_total_sequence_count` is not being aggregated across GPUs. Would you be interested in making a PR to fix it? If not, one of us will probably be able to get to it within the next few days.

[2020-10-07 21:03] vikigenius commented on #4689
Ultimately for my particular problem reducing the max_decoding_steps from 40 to 30 has helped prevent OOM errors. But after setting the validation batch_size to 1, I expected to be able to do at least a 40 step decoding.

[2020-10-07 21:05] vikigenius commented on #4715
@epwalsh Yeah, I will look into creating a PR. I don't have a lot of experience with distributed training yet. But I am excited to learn more.

[2020-10-08 05:22] #4715 closed

[2020-10-08 14:36] javierabosch opened #4718 "Support for transformers 3.1.0"
Are there any plans to support transformers 3.1 and above?

Currently, pip install allennlp will uninstall transformers version later than 3.0.2

[2020-10-08 16:14] epwalsh commented on #4718
We do: https://github.com/allenai/allennlp/blob/master/setup.py#L67. You can get this by installing the [latest nightly release](https://pypi.org/project/allennlp/#history) or installing directly from the master branch.

[2020-10-08 16:14] #4718 closed

[2020-10-08 16:27] #4668 closed

[2020-10-08 17:26] dirkgr commented on #4634
Don't worry about not making it a dependency yet. Let's get it to work first and then we'll see. Same goes for the namespace. Just put it into `allennlp.training.deepspeed` right now. If we have to move it later, we will do that. Those two things are not the hard problems to solve. Moving and renaming is easy :-)

[2020-10-08 17:55] iamsaurabhc commented on #1164
Hey @matt-gardner , for v1.0.0 how can we use this feature within the pipeline itself instead of running a separate command? Also, I do not see `fine_tune.py` in the commands folder either. Any help would be appreciated! :)

[2020-10-09 01:19] dirkgr commented on #4714
Did you look into the `allennlp evaluate` command? It uses a dataset reader to process instances.

[2020-10-09 01:38] dirkgr commented on #4701
Copy and pasting from Stack Overflow:

You could try overriding your `Model`'s `from_archive()` method to set a flag, something like `self._training = False`.

[2020-10-09 01:41] dirkgr commented on #4698
`Metric` is registrable, so you can easily add a parameter to you model of type `List[Metric]`, and then specify metrics in Jsonnet. You'll have to make sure those metrics take exactly the same input.

For the loss, this is a little bit harder. You would create your own `Registrable` base class, and then implement the losses you want to use this way. You can use the `Metric` class as an example of

[2020-10-09 11:13] mateuszpieniak commented on #4714
@dirkgr I didn't. How can I provide a different `DatasetReader` into evaluation?

                         [--weights-file WEIGHTS_FILE]
                         [--cuda-device CUDA_DEVICE] [-o OVERRIDES]
                         [--batch-size BATCH_SIZE]
                         [--batch-weight-key BATCH_WEIGHT_KEY]
                         [--extend-vocab]
                         [--embedding-s

[2020-10-09 16:14] dirkgr commented on #4714
Do you want to use a different class, or just a different input file? The input file is one of the parameters.

[2020-10-09 16:43] epwalsh opened #4720 "Display pretrained model / model card info in API docs"
(from our discussion in stand-up)

[2020-10-09 18:02] dirkgr commented on #4646
Thank you, @github-actions. I have not.

[2020-10-09 23:09] dirkgr commented on #4703
Closing as duplicate of https://github.com/allenai/allennlp/issues/4360.

[2020-10-09 23:09] #4703 closed

[2020-10-09 23:10] dirkgr commented on #4360
Just because it hasn't been mentioned yet: The problem is that it takes the gradients at the top of the transformer, not the bottom, when using the mismatched embedder. Since the pooler takes only the first token (`[CLS]`), all the gradients are there.

[2020-10-10 20:38] #4701 closed

[2020-10-10 22:38] johntiger1 opened #4721 "Thank you and acknowledgement"
Hi @matt-gardner , just wanted to say thanks for your help in answering my questions when using your framework. It was a big help for my experiments and research project. My project was recently accepted as an oral presentation at the workshop ClinicalNLP @EMNLP 2020; and I just thought I would give you an acknowledgement:

![image](https://user-images.githubusercontent.com/14852840/95666315-797f9

[2020-10-11 17:31] nicolasahar commented on #4716
Done. PR #4722 [here](https://github.com/allenai/allennlp/pull/4722)

[2020-10-12 00:27] matt-gardner commented on #4721
Glad it was helpful, and congrats on your acceptance!  Yes, that text seems fine.

[2020-10-12 00:27] #4721 closed

[2020-10-12 16:40] matt-gardner opened #4725 "Dependabot is running on forks"
See [here](https://github.com/matt-gardner/allennlp/pull/4) for a PR that was created by dependabot on my fork.  My guess is that this is because of [this file](https://github.com/allenai/allennlp/blob/master/.github/dependabot.yml), but it wasn't obvious to me how to disable this on forks (nothing in the [documentation](https://docs.github.com/en/free-pro-team@latest/github/administering-a-reposi

[2020-10-12 17:04] epwalsh commented on #4725
See [this thread](https://github.com/dependabot/dependabot-core/issues/2198) for some info, specifically [this comment](https://github.com/dependabot/dependabot-core/issues/2198#issuecomment-649444075). Sounds like the only solution at the moment is to re-fork AllenNLP.

[2020-10-12 17:07] #4716 closed

[2020-10-12 18:08] XiaZeng0223 commented on #612
+1 for windows.

[2020-10-13 00:21] tpanza commented on #4646
Hi @dirkgr please checkout #4727

[2020-10-13 11:18] rahulv1999 commented on #3136
@DeNeutoy the link you provided above is not valid anymore. Can you please update the link?

[2020-10-13 21:27] dirkgr commented on #4424
@AkshitaB, can we close this issue and open new, more detailed ones, for what we find is left to do on the toolkit?

[2020-10-13 21:32] #4424 closed

[2020-10-15 01:48] #4646 closed

[2020-10-15 21:39] dirkgr commented on #4567
The way we want to fix this is this:

When params for the validation data loader are not explicitly set, and therefore they are inherited from the training data loader, and the training data loader specifies `batches_per_epoch`, then we show a warning.

That is all.

[2020-10-15 21:40] dirkgr commented on #4360
@matt-gardner, do you have an idea of when you will get to this?

[2020-10-15 21:46] dirkgr commented on #4205
Closing for lack of activity (and clarity)

[2020-10-15 21:46] #4205 closed

[2020-10-15 22:15] matt-gardner commented on #4360
I have some thoughts on how to fix this.  If I'm lucky, I can maybe get to it tomorrow; if not, I'm not sure, but I might be able to make it happen next week.

[2020-10-15 22:27] dirkgr commented on #4675
This was done with $4708.

[2020-10-15 22:27] #4675 closed

[2020-10-15 23:15] dirkgr commented on #4521
@Riccorl, you can use token type IDs in a variety of ways. Indicating the verb is one of those ways. If the model does not have access to that information in any form, it makes sense to me that the performance would drop (though to understand why it drops by 40 point, I'd have to understand some more context).

Token type IDs just result in another embedding being added to the word piece embedding

[2020-10-16 15:40] schmmd commented on #4725
The settings here won't work? https://github.com/allenai/allennlp/settings/security_analysis

[2020-10-16 16:46] matt-gardner commented on #4725
@schmmd, those are for vulnerabilities, and they are not enabled on my fork.

[2020-10-16 22:00] #4641 closed

[2020-10-18 04:49] niansong1996 opened #4736 "logging information gets truncated for 1.1.0"
I am experiencing very weird logging issues with allennlp 1.1.0. The logging information gets truncated and it's refreshing every ~10s and burst out many lines all at once, see the screenshot below:
![image](https://user-images.githubusercontent.com/10934810/96358986-51baa200-10db-11eb-8889-9ec6df21bbbc.png)

And this is the behavior of the same run with allennlp 1.1.0rc1, which is far more pleasa

[2020-10-19 01:46] tshu-w commented on #3425
For those who wish to use the relative paths of the jsonnet files, here's a roundabout solution:
[code]

[2020-10-19 16:31] #4698 closed

[2020-10-19 18:12] jacobdanovitch commented on #4634
Whoops, still working on this, sorry. Have been busy with WWW coming up. I've taken the relevant bits of training code down from about 1500 LOC to 500 but still working on it. Lot to unpack to make stuff registrable properly.

[2020-10-19 18:32] #4653 closed

[2020-10-19 18:39] epwalsh commented on #4736
So far I haven't been able to reproduce this.

Are you using the `--file-friendly-logging` flag? And what operating system and terminal are you running this on? If possible, could you also provide a screen recording of your terminal when you run this?

[2020-10-19 19:05] niansong1996 commented on #4736
No, I did not add the flag `--file-friendly-logging` (which is `false` by default, I think).

The server's os is Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-45-generic x86_64) and I am using bash with tmux.

Can you confirm that you also can't reproduce the truncation problem even when there are many evaluation metrics that one line can not show it all (like the two screenshots I had)? I am wondering wha

[2020-10-19 23:30] MichalMalyska opened #4739 "Potential bug: The maxpool in cnn_encoder can be triggered by pad tokens."
## Description

When using a text_field_embedder -> cnn_encoder (without seq2seq_encoder), the output of the embedder (and mask) get fed directly into the cnn_encoder. The pad tokens will get masked (set to 0), but it's still possible that after applying the mask followed by the CNN, the PAD tokens are those with highest activations. This could lead to the same exact datapoint getting different pr

[2020-10-20 04:34] AkshitaB opened #4740 "Q4: Model card updates"
Prioritized fields:
* Model details
* Metrics
* Evaluation data
* Training data

Fill in the prioritized fields in all model cards:

- [x] coref-spanbert
- [x] generation-bart
- [x] glove-sst
- [x] lm-masked-language-model
- [x] lm-next-token-lm-gpt2
- [x] mc-roberta-commonsenseqa
- [x] mc-roberta-piqa
- [x] mc-roberta-swag
- [x] pair-classification-decomposable-attention-elmo
- [x] pair-classific

[2020-10-20 16:13] #4567 closed

[2020-10-20 16:56] epwalsh commented on #4736
So far I've tried reproducing in essentially the same environment and with making the screen width too small for the output, but I still don't see the output being truncated.

Can you try reproducing if you comment out this line: https://github.com/allenai/allennlp/blob/master/allennlp/common/tqdm.py#L85?

If you still see the same issue with that line commented, then it must be an issue with `Tqd

[2020-10-21 14:24] MichalMalyska commented on #4739
I created a google collab notebook that showcases how the problem arises and potential solution:
https://colab.research.google.com/drive/1i73ZCEdPGRjS_hKNlrqHBklITME2hGKL?usp=sharing

The solution I created creates an additive mask with large negative values for all filter activations that involved a pad token anywhere. It is a bit clunky so I would appreciate any ideas on how to make this more re

[2020-10-21 16:34] #4714 closed

[2020-10-21 18:05] epwalsh commented on #4739
Thanks for the detailed report @MichalMalyska. I'll take a look at this soon.

[2020-10-21 18:25] epwalsh commented on #4739
@MichalMalyska It seems like you have a reasonable solution, would you mind opening up a PR with your fix?

By the way, you can utilize `allennlp.nn.util.min_value_of_dtype()` to get an appropriate large negative number for the masked values instead of always using 10e-5.

[2020-10-21 19:04] MichalMalyska commented on #4739
Yeah, I'll make a PR + some tests on the new seq2vec to ensure the batched and non-batched predictions have the same results. Similar tests are probably in order for other seq2vec encoders that don't use the pack_padded_sequence and pad_packed_sequence methods, and for potentially seq2seq just to ensure masking is actually working as intended.

There is one design decision that needs to be made:
S

[2020-10-21 19:42] epwalsh opened #4742 "Our type checking should be stricter"
Currently we run `mypy` with the `--no-strict-optional` flag which is kind of crazy because it ends up ignoring a TON of typing errors.

[2020-10-21 20:20] epwalsh commented on #4739
If creating a mask of all ones significantly reduces the complexity, then I'm for it. It should be rare that `mask` is actually `None`, so I'm not too worried about the performance penalty.

[2020-10-22 18:06] #4484 closed

[2020-10-22 19:03] epwalsh opened #4745 "Interpret broken for GPT2 NextTokenLM"
<img width="1138" alt="image" src="https://user-images.githubusercontent.com/8812459/96914373-c08c5800-1459-11eb-9e87-0f6a2dda6e40.png">

Steps to reproduce:

[code]

[2020-10-23 20:50] Dhruv-Sabharwal opened #4747 "Getting a tensor with all zero values when trying to use the Elmo model for predictions."
I am using the Elmo model to get embeddings for a downstream task. I downloaded the following files:
(1) elmo_2x1024_128_2048cnn_1xhighway_weights.hdf5 from https://www.kaggle.com/valkling/elmo-pretrained-weights-for-nlp?select=elmo_2x1024_128_2048cnn_1xhighway_weights.hdf5
(2) elmo_2x1024_128_2048cnn_1xhighway_options.json from https://www.kaggle.com/ydliu5/elmo-pretrained-option-files-for-nlp?se

[2020-10-24 10:28] KwanWaiChung opened #4748 "BucketBatchSampler doesn't sort instances in descending order"
In order to pass it to pack_padded_sequence, the sequences should be sorted in descending order. I am wondering whether it is the expected behavior or there are some parameters I didn't set correctly.

Also, another question will be is there a way to retrieve the sequence length conveniently (i.e. tensor([3,4,])) in this case? My workaround is to compare each id to pad_id and take the sum. It's no

[2020-10-25 16:08] niansong1996 commented on #4736
Okay, I don't think this is an allennlp issue. I previously have some `print` statements with `flush=True`, this may be messing up with `tqdm` to trigger this stranger behavior. Once I removed it, the truncating problem disappears.

The underscore trick is also very neat, this is really helpful for my other tasks as well, thanks!

Sorry for the trouble and feel free to close this issue.

[2020-10-25 18:52] jacobdanovitch commented on #4675
Quick question about this: I noticed that `trainer_callbacks` is a parameter in `GradientDescentTrainer.__init__`, but not in `GradientDescentTrainer.from_partial_objects`. This makes it impossible to use our own `TrainerCallback` objects from config files - is this by design?

An example use case for this would be for implementing a logger for Wandb/mlflow/etc. Most of them share a central `run`

[2020-10-26 13:07] theashworld opened #4749 "Docker image instructions or command incorrect"
## Checklist

- [ X] I have verified that the issue exists against the `master` branch of AllenNLP.
- [ X] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [ X] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.

[2020-10-26 16:35] epwalsh commented on #4736
@niansong1996 thanks for the update, I'm glad you figured it out.

[2020-10-26 16:35] #4736 closed

[2020-10-26 16:40] epwalsh commented on #4749
I assume you want to run `bash` on the container. In order to do that, you need to specify `bash` as the `--entrypoint`, because otherwise it will use the default entrypoint which in this case is just the `allennlp` command. So the complete command would be:

[code]

[2020-10-26 16:40] #4749 closed

[2020-10-26 16:43] #4683 closed

[2020-10-26 17:18] epwalsh commented on #4748
Is there any reason you can't set `enforce_sorted=False` in the call to `pack_padded_sequence`? We also have a helper function called `sort_batch_by_length` in `allennlp.nn.util` which can be used to achieve the right sorting. You can see how this is used with `pack_padded_sequence` here: https://github.com/allenai/allennlp/blob/master/allennlp/modules/encoder_base.py

It does seems reasonable tho

[2020-10-26 17:21] epwalsh commented on #4675
@jacobdanovitch this was definitely an oversight. Would you be interested in making a PR to add that parameter to `from_partial_objects`?

[2020-10-26 17:22] jacobdanovitch commented on #4675
Absolutely, I'll get started.

[2020-10-26 17:23] epwalsh opened #4750 "trainer_callbacks parameter missing from GradientDescentTrainer.from_partial_objects"
Brought to our attention by @jacobdanovitch [here](https://github.com/allenai/allennlp/issues/4675#issuecomment-716193673).

[2020-10-26 18:44] #4750 closed

[2020-10-26 22:05] #4742 closed

[2020-10-27 06:25] KwanWaiChung commented on #4748
Because sometimes I worked with decoupled models that do `pack_padded_sequence` inside `forward`, i.e. it expects the data to be sorted already. Secondly, I think even if I set `enforce_sorted=False`, pytorch will still have to do the sorting before further calculations.

For the example, I am wondering if we are using Allennlp, then how do we get the binary masking? Do we have to do manually?

[2020-10-27 13:40] pvcastro commented on #4690
@dirkgr ? :sweat_smile:

[2020-10-27 13:46] tomsherborne commented on #4690
@pvcastro I've managed to approximately get something working like this by writing a wrapper Model class for the huggingface model that calls the HF function model.resize_token_embeddings(new_vocab_size) at the end of the constructor as well as forcibly creating a custom AllenNLP vocab and a Huggingface Vocab. My use case is Bart so I've modified the bart.py file in allennlp-models. I'm now just v

[2020-10-27 14:41] pvcastro commented on #4690
hi @tomsherborne !
So you had to hardcode tokenizer_kwargs directly in .py to pass additional_special_tokens?

[2020-10-27 14:45] tomsherborne commented on #4690
@pvcastro yes you could do that. i found it more stable/manageable to manually create an instance of the relevant HF tokenizer, use `add_tokens` to manually add each extra token i needed and save this to disk. Then in the ANLP config file I reference a local path under the "model_name" argument. I also converted this HF vocabulary into an ANLP vocabulary and reference this in the config as:
[code]

[2020-10-27 15:04] pvcastro commented on #4690
I see. I guess I'll do the same then, until this is supported by the library.
Thanks! @tomsherborne !

[2020-10-27 16:22] epwalsh commented on #4748
In many cases masks are created on the fly, but it's certainly possible to pre-compute masks as well in the form of an `ArrayField`.

[2020-10-27 16:37] epwalsh commented on #4690
@pvcastro just FYI, Dirk is currently on vacation and won't be back for another week.

@tomsherborne it seems like it would be useful to have a `from_pretrained_transformer` vocab type? Then you could just give it the model name or path:

[code]

This feature request has come up elsewhere as well (see [here](https://github.com/allenai/allennlp/issues/3097#issuecomment-606630394), for example).

[2020-10-27 16:39] #4725 closed

[2020-10-27 16:44] tomsherborne commented on #4690
@epwalsh i may have some aspects of the vocabulary API wrong here but I understood that a specific type was unneccessary right now because the `PretrainedTransformerIndexer` will force a copy of the pretrained vocabulary into the AllenNLP vocab namespace [here](https://github.com/allenai/allennlp/blob/0ad228d4cf7dee4bb782026de272866819d44654/allennlp/data/token_indexers/pretrained_transformer_inde

[2020-10-28 00:00] epwalsh opened #4755 "Installation issues due to PyPI version of dataclasses"
After installing the latest build with PyTorch 1.7 in a Python 3.7 or 3.8 environment, I'm getting this error after running `allennlp test-install`:

[code]

The issue only happens when the PyPI version of `dataclasses` is installed. The thing is, it shouldn't be installed when using Python >= 3.7, but it is because PyTorch 1.7 lists `dataclasses` as an **unconditional** dependency. This has since

[2020-10-28 07:46] mklimasz opened #4757 "PretrainedTransformerTokenizer fails when disabling "fast" tokenizer"
## Checklist

- [X] I have verified that the issue exists against the `master` branch of AllenNLP.
- [X] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [X] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-10-28 19:38] mklimasz commented on #4757
@epwalsh thanks for the merge. I'm closing this issue as solved.

[2020-10-28 19:38] #4757 closed

[2020-10-29 01:12] chenqiuyuan commented on #2724
Very nice comment on the parameter, thanks very much 👍

[2020-10-29 18:36] #4355 closed

[2020-10-30 04:34] theashworld commented on #3858
For people stumbling on this, we faced the same issue and it seems that this happens because each new Predictor creates a copy of the model in the `/tmp` folder. This by itself is not a problem, but we regularly start and stop our container and each time a new Predictor object is created. This blows up the `/tmp`

The solution we have is to launch the docker with `--tmpfs /tmp` and before creating

[2020-10-30 11:51] mohiitaa commented on #3990
Hi @mateuszpieniak, could you let me know how you used BatchCallback and EpochCallback to use external apps like Neptune.ai? Thanks in advance!

[2020-10-30 13:59] shimengfeng commented on #4451
Hi there,

Just want to tag along with this post since I am currently using copynet_seq2seq and would like to have the multi-layer decoder feature added since I would like to use a multi-layer bidirectional LSTM encoder. Is this functionality on the roadmap?  I would assume this is similar to #90 implementation mentioned above. Thank you!

[2020-10-30 15:16] 2509dk opened #4763 "Prediction output changes with same input as while calling multiple times."
I am using **ner-model-2020.02.10.tar.gz** model and i would like to predict.
but when i use the allen nlp object in loop then its behaviour is changing. below is the sample code

[code]

above you can see , for same input , for first line(TechMahindra) tagged as U-LOC but in second line (same line) you can see different output.

So why the behaviour is not consistent. as the output should be same

[2020-10-30 16:11] epwalsh commented on #3858
@theashworld this shouldn't be an issue anymore with 1.2. See https://github.com/allenai/allennlp/pull/4643.

[2020-10-30 16:16] epwalsh commented on #4763
This model uses ELMO, which is non-deterministic across runs.

[2020-10-30 16:16] #4763 closed

[2020-10-30 16:41] epwalsh commented on #4747
I'm not able to reproduce this. It seems to work fine:

[code]

The output is:

[code]

[2020-10-30 16:45] epwalsh commented on #4451
Hi @shimengfeng, it's not on our immediate roadmap to add this to CopyNet, but I think it would be a great feature to have. Contributions definitely welcome on this.

[2020-10-30 19:40] shimengfeng commented on #3579
Hi there,

I am still not sure how could I exactly using the scheduler. I am using 1.1 and it seems the from_params have been removed. Currently

[code]

Then I am not sure how could I use the `LearningRateScheduler ` or the code you provided above

[code]

I think I will need to add a param_groups in my optimizer, but I am not sure how exactly I can use it. I have visited this page: [https://docs

[2020-10-30 19:47] shimengfeng commented on #4451
Awesome, I will give it a try this weekend. Thank you for the confirmation

[2020-10-31 03:11] jacobdanovitch commented on #4634
Sorry this has taken so long but I have some actual initial results and should have a PR ready next week. I setup a wandb logger and created a report ([link](https://wandb.ai/jacobdanovitch/deepspeed/reports/AllenNLP-x-Deepspeed--VmlldzozMDA1MDk?accessToken=08a4uh8emixiz7s6pbzg3l8if695l4d2sg1lyaw8b2xonm9f8666h8lgk8u5gj21)) comparing the existing gradient descent trainer with/without FP16 to deepsp

[2020-11-01 09:05] elkhadirzyad opened #4765 "why AllenNlp character based Model does not give good prediction ?"
hello, In AllenNlp model, i tried to modify the forward method in order to predict the next caracter given a sentence, example for sentence = “distribution”
i got "distribution of the regression model with a continuous variables@@UNKNOWN@@redect statistical test in r@@UNKNOWN@@repect the same da"

here is the forward() method

`def forward(self, input_tokens, output_tokens):
        '''
        Th

[2020-11-01 13:12] Dhruv-Sabharwal commented on #4747
Yes, it works fine when I use the files from the links provided by you. The kaggle links seem to be broken. Thank you so much!
Also, can you please point me to some article/documentation which I can refer to if I want to train the ELMo model from scratch on a custom dataset. Thank you again.

[2020-11-01 23:52] shimengfeng opened #4766 "Allow Copynet models to use multiple decoder layers"
**Is your feature request related to a problem? Please describe.**
Current Copynet architecture only allows one LSTM decoder layer. This similar to #4451

**Describe the solution you'd like**
Give users the choice of having multiple decoder layers to have a more comprehensive copynet encoder-decoder architecture.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-11-02 04:59] 2509dk commented on #4763
@epwalsh  do we have any alternative solution for same , as we need to use the predictor object multiple times in loop and we need consistent prediction.

[2020-11-02 17:25] epwalsh commented on #4763
Then I would recommend either using a different model or using a cache on top of this model.

[2020-11-02 18:21] dirkgr commented on #4634
I was on vacation, but I'm back now. I'll take a look!

[2020-11-02 18:23] dirkgr commented on #4634
In that link, it looks like only the DeepSpeed stages learned anything, and the others stayed random. Am I reading that wrong?

[2020-11-02 19:20] dirkgr commented on #3579
You can take a look at https://github.com/allenai/allennlp-template-python-script/blob/master/my_project/train.py to see how all the components come together. Let me know if that helped!

[2020-11-02 19:36] dirkgr commented on #3990
You can look at how @dhruvdcoder did it here: https://github.com/dhruvdcoder/wandb-allennlp/blob/master/wandb_allennlp/training/callbacks/log_to_wandb.py. There is some extra code in there for compatibility that you probably don't need, but the principle should be the same.

[2020-11-02 21:07] jacobdanovitch commented on #4634
Yeah after looking into it I just needed to turn down the learning rate for the others and they get their accuracy to 93+ as well. I just had those plots in there to show that deepspeed does in fact converge (as FP16 training can be unstable sometimes), sorry for the confusion.

So in general, performance is even across all of them as suspected, and memory consumption is significantly lower with d

[2020-11-02 22:21] #4360 closed

[2020-11-02 23:19] dirkgr commented on #4360
I couldn't get the demo to work end-to-end, but I have confirmed that the example from in here works now as expected.

[2020-11-03 00:35] Jazzssmine opened #4767 "No super class method found for "decode""
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-11-03 03:36] ichiroex commented on #4691
I'm in the same situation. Has anyone solved this issue?

[2020-11-03 13:52] ichiroex commented on #4691
@izaskr
I've solved the issue. I think it is necessary to pass an Embedding object as target_embedder as below.
Please see the documentation for AutoRegressiveSeqDecoder. It requires an Embedding object for target_embedder, not a TextFieldEmbedder object.
https://docs.allennlp.org/models/master/models/generation/modules/seq_decoders/auto_regressive/

decoder = AutoRegressiveSeqDecoder(
　vocab=voca

[2020-11-03 19:42] AkshitaB commented on #4767
Hi @Jazzssmine Can you include the output of your `pip freeze` and a code snippet? Particularly, the code in `basic_classifier_with_f1.py`.

[2020-11-03 19:47] AkshitaB commented on #4765
Hi @elkhadirzyad Can you specify the model's definition (init function)?

[2020-11-03 20:00] Jazzssmine commented on #4767
Hi, I've updated the code and requirements. : )

[2020-11-03 20:14] elkhadirzyad commented on #4765
@AkshitaB here is the init()
` def __init__(self,
                 embedder: TextFieldEmbedder,
                 hidden_size: int,
                 max_len: int,
                 vocab: Vocabulary) -> None:
        super().__init__(vocab)

        self.embedder = embedder

        # initialize a Seq2Seq encoder, LSTM
        self.rnn = PytorchSeq2SeqWrapper(
            torch.nn.LSTM(EMBEDDING_SIZ

[2020-11-04 01:35] dirkgr commented on #4634
The runtimes are really short. This ran for only 2.5 minutes?

[2020-11-04 02:14] dirkgr commented on #4086
Nothing like removing a command to find someone who is still using it 😟.

I think the best version for using that command is still 0.9.

ELMo itself is still around in `allennlp-models` though!

[2020-11-04 02:17] dirkgr commented on #4554
Just to give closure here on this issue, @tpanza helpfully made another PR in #4761, and that's where we're continuing this saga.

[2020-11-04 02:21] dirkgr commented on #4031
@GuanNiPiShi123, same for you. AllenNLP has changed quite a bit since this issue was current. Can you make a new issue with our exact problem?

[2020-11-04 07:09] snath99920 commented on #4086
Haha. It's actually an implementation of a research paper published a couple years back. Just wanted to see the results there. Never mind though, found Elmo in allennlp-models like you mentioned @dirkgr :D

[2020-11-04 15:10] jacobdanovitch commented on #4634
Yes. This is on SST which is only about 10k instances iirc. Batch size 64; I think the config should be logged for each experiment there. I can run on a larger dataset, with bigger batch sizes, more epochs, varying levels of gradient accumulation, etc. if you'd like.

[2020-11-04 19:44] dirkgr commented on #4634
I don't remember how long SST takes to load, but I'd worry that it spends most of its time loading data, and so we don't get good numbers with such a short runtime. On the machines I typically run, it spends easy 10s just doing `import`. That's 7% of the whole runtime.

[2020-11-05 18:05] jacobdanovitch commented on #4634
I cranked it up a bit with SNLI. Charts [here](https://wandb.ai/jacobdanovitch/deepspeed/reports/AllenNLP-x-Deepspeed-SNLI--VmlldzozMDgxOTg?accessToken=o2zy36r2jo9yfirkugxjwenm16utzaz45jl2zyolhgobgzbm10284abvbns2mkmc). TLDR:

* Still RoBERTa base
* First 50k instances only (can do more but will obviously take time)
* Batch size 512, 5 epochs
* Only compared FP16 vs deepspeed this time
* Both conve

[2020-11-05 23:50] #4739 closed

[2020-11-06 08:26] AkshitaB commented on #4767
Hi @Jazzssmine , I believe it's because you are using the `@overrides` decorator for the `decode` function. The `Model` class, which is the parent class for your `basic_classifier_with_f1`, does not have a `decode` method, so there is nothing to override. Removing the decorator should remove the error. Hope this helps!

[2020-11-06 08:26] #4767 closed

[2020-11-06 11:08] Jazzssmine commented on #4767
ok, I'll try it, thx!

[2020-11-06 18:09] NicolasAG commented on #4690
Hi,
I just want to add my interest in seeing this issue resolved :)

I have the exact same issue as originally stated: trying to add special tokens to the T5 pretrained tokenizer with this extra argument in my tokenizer config:
[code]
but that fails because the list type is unhashable.

However, I am not sure to understand the trick of creating a Model wrapper, a new Vocab file, etc... as suggeste

[2020-11-06 18:21] pvcastro commented on #4690
Hi @NicolasAG . I ended up doing something similar. In my custom reader class I did this in init:
[code]

In the model I did this:

[code]

[2020-11-06 18:39] NicolasAG commented on #4690
Thanks for sharing! I'll try it out :)

[2020-11-06 23:55] dirkgr opened #4772 "GQA dataset reader"
GQA is here: https://cs.stanford.edu/people/dorarad/gqa/index.html

We want this reader to work much like the VQA reader, so it produces the same kind of output, and we can use the same models with it.

You might have to pull out components that are common to the two readers to avoid too much copy and paste.

[2020-11-07 00:01] cfregly commented on #4360
@dirkgr can you share which example works?  i am still having trouble getting this working.  i tried 1.0.0rc3 and see this error:  `ConfigurationError: Cannot register textual_entailment as Predictor; name already in use for TextualEntailmentPredictor`

i tried 1.1.0

i tried 1.1.0 and 1.2.0 and i see the incorrect array `[1.0, 0.0, 0.0, ...]`.

here is my code:  https://github.com/data-science-on

[2020-11-07 00:01] dirkgr opened #4773 "SNLI-VE dataset reader and model"
SNLI-VE is here: https://github.com/necla-ml/SNLI-VE

The VQA reader and model should serve as an example, but there will likely be significant differences.

[2020-11-07 00:16] AkshitaB commented on #4765
@elkhadirzyad Nothing pops out as an obvious issue with the code. Models do not always give perfect predictions! It may be helpful to train further, and judge the models based on metrics for downstream tasks.

[2020-11-07 00:16] #4765 closed

[2020-11-07 01:08] dirkgr commented on #4360
You have to install `master` from both allennlp and allennlp-models. Then copy-and-paste the code from the description above. When I do this, I see reasonable numbers. I also made a test for this here: https://github.com/allenai/allennlp-models/pull/163

[2020-11-07 13:25] himkt opened #4775 "Ask for further integration with Optuna"
Hello, I'm a member of Optuna dev and the author of the allennlp-guide chapter on hyperparameter optimization.

Recently, I created [allennlp-optuna](https://github.com/himkt/allennlp-optuna), a prototype of a wrapper for Optuna to enable users to optimize hyperparameter of AllenNLP model. It provides a way to use Optuna by `allennlp` subcommands.

For explaining `allennlp-optuna`, I made the quic

[2020-11-08 20:57] BinarySwami-10 commented on #4755
pip uninstall -y dataclasses
WORKED FOR ME, THANKS!

[2020-11-09 16:41] #4748 closed

[2020-11-09 16:41] #4747 closed

[2020-11-09 17:16] epwalsh commented on #4775
Hi @himkt, I think what we'd like to do is create a place to prominently display third-party plugins like `allennlp-optuna`. For now, the best place for this is probably in our README. We should also do better with documenting how to use third-party plugins. Would that suffice?

[2020-11-09 17:20] epwalsh commented on #4755
Hi @BinarySwami-10, I did add a note about this in the README (https://github.com/allenai/allennlp/pull/4754), but if there's somewhere we could display it, let me know.

[2020-11-10 13:45] himkt commented on #4775
Hi @epwalsh, thank you for your consideration.

It feels really nice!

I agree. For now, it's not easy to know we can register subcommand to `allennlp` as I understand. If how to use third-party plugins is documented (in guide.allennlp.org [chapter 2](https://guide.allennlp.org/writing-your-own-script)?), it would help people who want to expand/utilize AllenNLP a lot!

[2020-11-10 17:59] NicolasAG commented on #4088
I have the same issue when using `t5-base` encoder as a `pretrained_token_embedder`.
I first had to deal with adding additional special tokens and ended up using the latest proposed solution here: #4690
Now that this is done I get the same issue as stated above right at the beginning of training.
@ianupright did you find what was going on?
I still need to investigate a bit more and make sure that

[2020-11-11 00:12] #4775 closed

[2020-11-11 00:34] dirkgr commented on #4088
That's a fair bet. I finished the fix for #4649 (#4732). When that is merged, do you mind trying this with the new code?

[2020-11-11 00:44] #4649 closed

[2020-11-11 00:44] dirkgr commented on #4088
#4732 is merged now!

[2020-11-11 04:17] dirkgr commented on #4690
Can you see if #4781 fixes your original issue?

[2020-11-11 09:17] pvcastro commented on #4690
Hi @dirkgr , thanks. I'll give it a try and get back to you.

[2020-11-11 09:41] pvcastro commented on #4690
@dirkgr I think it would still be necessary to do something like was done here

otherwise we'll end up with other errors due to the transformer model having a different dimension, not adjusted to the new vocabulary

[2020-11-11 10:24] pvcastro commented on #4690
I did confirm that #4781 fixes the parsing of additional tokens from config, but, as I stated in the previous comment, it's still necessary to resize the embeddings layer to accomodate the new vocab.

[2020-11-11 10:35] galsk87 opened #4782 "Failure when loading SRL model from path"
I'm trying to do exactly as the usage example in the demo says:

[code]

I get the next error:

[code]
In issues  on the transformers repo I saw most solutions involved disk space, I have no disk space issues.

[2020-11-11 12:35] tomsherborne commented on #4690
@dirkgr would a PR which handles the special case of extending a pretrained HuggingFace model embedder be useful? The AllenNLP model class already does this ([here](https://github.com/allenai/allennlp/blob/01644caf4de31710a6614fb96a9d4ea291353486/allennlp/models/model.py#L408) I think) but this doesn't handle the HuggingFace model case since the HF embeddings don't have the "extend_vocab" attribut

[2020-11-11 15:31] NicolasAG commented on #4088
After adding the changes in #4732 the input sequence is not empty anymore :)
[code]

I have another issue after that:
`indexSelectLargeIndex: block: [84,0,0], thread: [32,0,0] Assertion srcIndex < srcSelectDimSize failed` but that's probably not related. It's probably because of the way I added special tokens in the vocab... which is related to #4690

[2020-11-11 18:13] schmmd commented on #4740
Model card information is stored here: https://github.com/allenai/allennlp-models/tree/master/allennlp_models/modelcards

[2020-11-11 23:04] dirkgr commented on #4690
@tomsherborne, yes, that would be a welcome addition. I'd be happy to review that PR. I think that's not enough by itself, since we still have to call those new methods then, but it would be easy to do so.

[2020-11-12 00:27] dirkgr commented on #4690
This is not closed yet. #4781 only goes part of the way.

[2020-11-12 00:28] dirkgr commented on #4088
I am almost certain that the special tokens are the problem you are seeing now. I'll close this issue, since we're tracking the special tokens issue in #4690.

[2020-11-12 00:28] #4088 closed

[2020-11-12 00:38] epwalsh opened #4785 "GumbelMaxSampler should return examples in descending order of log probability"
Should be a simple one-line fix somewhere.

[2020-11-12 01:01] dirkgr commented on #4782
Try running `BertModel.from_pretrained("bert-base-uncased")` directly. See if that loads.

I suspect there is some problem with your transformers installation, maybe a corrupted weights file?

[2020-11-12 04:16] hasfihawari opened #4787 "annotation tools for semantic role labeling"
hi,
i interested in semantic role labeling, I want to ask what tools are used for annotation data for semantic role labeling?
thank you

[2020-11-12 06:19] #4785 closed

[2020-11-12 10:15] simvetanylen opened #4788 "Installation of allennlp-server breaking allennlp command"
The installation of allennlp-server breaks the allennlp command.
OS : Ubuntu 20.04
Python version : 3.8

My procedure :
1) Create a freash env
[code]
2) Installing allennlp :

[code]
Here, allennlp command is working.

3) Installing allennlp server :

[code]

From now, all allennlp-commands are broken, even the simple allennlp --help :

[code]

[2020-11-13 01:36] AkshitaB opened #4790 "Interpret code should be usable for non-AllenNLP models"
* Currently, saliency interpreters assume that the input is an AllenNLP model and rely on the presence of `TextFieldEmbedder` to find the correct embedding layer to register hooks.
* We want to add the ability for the user to specify the right embedding layer for the cases when the model does not have a `TextFieldEmbedder`.

[2020-11-13 09:15] KYRIEZX opened #4791 "Question about allennlp.data.vocabulary"
If I set the cap of max_vocab_size with 1000 labels, will it result in 1000 most popular labels, or just sorted by their indexes?

[2020-11-13 17:47] epwalsh opened #4792 "Publish different Docker images for different CUDA versions"
Will need to install torch (and detectron2) differently in the images for each CUDA version.

[2020-11-13 18:13] epwalsh commented on #4791
Hi @KYRIEZX, it depends on how you're creating your fields. I assume you're talking about using a `LabelField`?

If that's the case, and you're creating the fields like `field = LabelField(7, skip_indexing=True)`, then the `max_vocab_size` option in your `Vocabulary` object will **not** apply to those label fields.

[2020-11-13 21:51] JohnGiorgi commented on #4766
This would be great!

[2020-11-14 02:11] dirkgr commented on #4787
All of our SRL models were trained on CoNLL data: https://demo.allennlp.org/semantic-role-labeling
So we did not do our own annotation for these.

Maybe @matt-gardner knows more about other sources of SRL data?

[2020-11-14 03:18] vikigenius opened #4794 "Multi GPU training deadlocks when using patience"
## Checklist

- [*] I have verified that the issue exists against the `master` branch of AllenNLP.
- [*] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [*] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-11-14 03:24] matt-gardner commented on #4787
You're correct @dirkgr.  The SRL data comes from the LDC; I don't know what tools were originally used to create it, though.

[2020-11-14 19:01] epwalsh commented on #4794
Hi @vikigenius, thanks for bringing this up. Would be able to include the logs from `worker5` and the main process as well to help me debug?

[2020-11-14 22:18] vikigenius commented on #4794
@epwalsh PFA the logs from worker 0 and worker 5. Goto EOF for both you can see almost at the exact same time worker 0 says best validation performance and worker 5 says ran out of patience.

[out_worker0.log](https://github.com/allenai/allennlp/files/5541521/out_worker0.log)
[out_worker5.log](https://github.com/allenai/allennlp/files/5541522/out_worker5.log)

[2020-11-15 15:22] BinarySwami-10 commented on #4755
hello!
if im correct,
you added a run command 'pip uninstall -y dataclasses' after installing core package in .github/workflow/ docker's .yml file.

i ran docker on AWS but i ran out of memory, had other technical  difficulties, so i made a proxy server to my local computer using nginx .

on my local computer (WINDOWS10,16GB RAM,i5) i used the method mentioned in "demo.allennlp" website where 2 si

[2020-11-16 06:36] hasfihawari commented on #4787
thank you

[2020-11-16 16:38] vikigenius commented on #4794
@epwalsh , were you able to reproduce this? This might be tough to reproduce across datasets and metrics because it might not always happen that one worker runs out of patience while the other thinks it's the best one yet. But for my dataset, I have managed to reliably reproduce this.

Also, I am not too familiar with the metric tracking mechanism, but why are multiple workers tracking patience? S

[2020-11-16 17:08] epwalsh commented on #4755
Thanks for pointing that out @BinarySwami-10. The installation instructions in the demo are definitely out-of-date. Maybe we should remove them and just link to the install instructions in our README. What do you think @AkshitaB @dirkgr?

[2020-11-16 18:08] schmmd commented on #4422
@dirkgr  is going to check if there's anything left to do.

[2020-11-16 21:12] tomsherborne commented on #4690
@dirkgr just to let you know that I will have time for this after EMNLP this week. To get ahead of things - where should I be writing tests for an addition to the Model class?

[2020-11-16 23:54] epwalsh commented on #4794
@vikigenius what metric are you using?

[2020-11-17 01:07] vikigenius commented on #4794
@epwalsh

Hmm, I am using a custom metric, could that be the issue. It's pretty simple. I am computing pairwise similarities and then getting the top 1 closest for each row and see if that matches the gold.

[code]

[2020-11-17 01:10] epwalsh commented on #4794
Ah, yes. The issue is that each worker computes the value of your metric independently.

So, to fix this, you need to have distributed communication within the metric. For example, see https://github.com/allenai/allennlp/blob/3cad5b416b865dd440ce2cf5b042aec0908fd44b/allennlp/training/metrics/average.py#L33

That said, I think we should do a much better job of detecting these kinds of errors. If yo

[2020-11-17 01:27] vikigenius commented on #4794
Ok, maybe I am missing the logic but does that mean all workers are supposed to report the same value for the metrics ? Does that mean the user is responsible for synchronizing the final metric value across all workers by doing something like the averaging you linked ?

How is that handled for loss computation for eg: ? Potentially each worker would also have a different loss value right ? Does al

[2020-11-17 01:31] JohnGiorgi opened #4798 "PretrainedTransformerTokenizer doesn't work with seq2seq dataset reader"
## Checklist

- [X] I have verified that the issue exists against the `master` branch of AllenNLP.
- [X] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [X] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-11-17 02:47] secsilm commented on #3132
@DeNeutoy Here is a example string parsed to `fromstring()`:

[code]

[2020-11-17 16:04] epwalsh commented on #4794
Yes

Synchronizing the loss in handled automatically, because we just have to average it across workers. We can't do that for arbitrary metrics though because different metrics require different ways of aggregating / reducing the metric value across workers.

For example, with F1 score, you can't just take the average F1 across workers. That would not give you the correct value. Instead you have t

[2020-11-17 16:05] epwalsh commented on #4794
We should definitely have better documentation around this.

[2020-11-17 16:09] epwalsh commented on #4798
What if you just disable adding start or end symbols? https://github.com/allenai/allennlp-models/blob/236034ff54ac3197ec4d710438cebdfa919c5a45/allennlp_models/generation/dataset_readers/seq2seq.py#L64-L67

If that doesn't work for your use case, you could also change the start and end symbols to something that you know is in your transformer's vocab, like `[SEP]` or `[CLS]`.

[2020-11-17 16:16] JohnGiorgi commented on #4798
At the very least, you would need `target_add_end_token` to be `True`, right? So that the decoder can stop before it hits the `max_decoding_length`? If thats correct, then the `ValueError` is still raised even if `source_add_start_token` and `source_add_end_token` are `False` (I confirmed this).

Is there a clean way to change AllenNLPs `START_SYMBOL` AND `END_SYMBOL`? i.e. in a config or otherwis

[2020-11-17 16:19] epwalsh commented on #4798
Not necessarily. If your tokenizer adds its own end symbol, then the decoder can just go off of that.

Yes, just set `start_symbol` and `end_symbol` in your dataset reader: https://github.com/allenai/allennlp-models/blob/236034ff54ac3197ec4d710438cebdfa919c5a45/allennlp_models/generation/dataset_readers/seq2seq.py#L68-L69

[2020-11-17 16:41] JohnGiorgi commented on #4798
Gotcha. That is probably the best solution for me.

Thanks. Not sure how I missed that.

---

It still seems like there is a bug here. BPE-based tokenizers will throw an error if at least one of `source_add_start_token`,
`source_add_end_token`, `target_add_start_token`, or `target_add_end_token` is `True`, even if you took care to add AllenNLPs start and end symbols to its vocabulary, and you disa

[2020-11-17 16:44] epwalsh commented on #4798
I think that's a good idea. Want to make a PR? Feel free to tag me as a reviewer. I also just realized the `start/end_symbol` parameters are missing from the docstring. Would be good to update the docstring as well.

[2020-11-17 16:45] JohnGiorgi commented on #4798
Sounds good, I'll do both!

[2020-11-17 17:44] JohnGiorgi commented on #4798
@epwalsh I took a closer look at the `start_symbol` and `end_symbol` arguments in `Seq2SeqDatasetReader`, and it looks like they are never used? Is this a bug or am I misundestanding?

[2020-11-17 18:04] epwalsh commented on #4798
Hmm, it's a weird way of doing it, but the result of https://github.com/allenai/allennlp-models/blob/236034ff54ac3197ec4d710438cebdfa919c5a45/allennlp_models/generation/dataset_readers/seq2seq.py#L95-L97 is essentially the same as

[code]

[2020-11-17 19:54] #4792 closed

[2020-11-18 16:09] #4798 closed

[2020-11-18 16:24] plroit opened #4803 "SRL model produces wrong outputs on the same examples taken from the official demo"
- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x] I have checked the [pull requests list](https://github.com/allenai/allennlp/pulls) for existing proposed fixes.
- [x] I have checked the [CHANGELOG](https://github.com/allenai/allennlp/blo

[2020-11-18 20:53] #4788 closed

[2020-11-19 00:51] dirkgr commented on #3166
Closing in favor of #4803.

[2020-11-19 00:51] #3166 closed

[2020-11-19 00:52] dirkgr commented on #4803
I think the problem is that we do constrained decoding on the word pieces, but we want to do it on tokens. I seem to remember this from a discussion with @DeNeutoy a long time ago.

[2020-11-19 01:13] dirkgr commented on #4803
I'm actually not seeing that problem in the output this time. I'll investigate if simply re-training turns out not to fix this.

[2020-11-19 18:27] dirkgr commented on #4803
The version we're advertising in the demo is curiously old. I'm getting much better results (though not identical ones) with a newer model. I made a pull request here: https://github.com/allenai/allennlp-demo/pull/629

As a workaround, you should be able to get good results by using `https://storage.googleapis.com/allennlp-public-models/bert-base-srl-2020.11.19.tar.gz` as your model URL.

[2020-11-19 19:15] dirkgr commented on #4803
That PR is now merged. Let me know if you find it still broken! I didn't test things exhaustively, just with your example.

[2020-11-19 19:15] #4803 closed

[2020-11-20 09:38] KYRIEZX commented on #4791
Is the "counter" in the code used for counting the number of vocabulary items? How can I get the specific number of vocabulary items during building them?

[2020-11-20 12:38] wlhgtc opened #4805 "CUDA OOV when use beam_search with amp"
Hi, there.
Thanks for your great job that add multiple samplers and reconstruct Beam Search.
But recently, I find a bug when use beam_search with amp.
I use the config in allennlp-models: [config](https://github.com/allenai/allennlp-models/blob/master/training_config/generation/bart_cnn_dm.jsonnet)
**And I construct the demo data: a sequence for 200 words source and 100 words target, then repeat i

[2020-11-20 17:11] epwalsh commented on #4805
Probably related to https://github.com/allenai/allennlp/issues/4689.

[2020-11-20 17:24] dirkgr opened #4806 "Writing distributed metrics is confusing"
Big approach: We could change the metrics API so that there are two methods to implement, one that produces an intermediate representation on each worker, and another that combines them. That way it's clear to the implementer what to do.

Small approach: Every metric gets a flag called `safe_for_distributed`, which is `False` by default, and needs to be set to `True` if the implementer has taken c

[2020-11-20 18:00] #4787 closed

[2020-11-20 18:02] epwalsh commented on #4806
This would prevent issues like https://github.com/allenai/allennlp/issues/4794.

[2020-11-20 21:43] dirkgr commented on #4791
This is not officially supported, but you can try using `Vocabulary._retained_counter` to get those counts.

[2020-11-20 22:45] dirkgr opened #4808 "Better management of detectron being there only some of the time"
Pete already put in some mechanism for only making classes with detectron dependencies available when we actually have detectron. But it doesn't work yet for multi-level dependencies. `allennlp/data/__init__.py` depends on `image_loader.py`, which depends on Detectron. This fails.

Here is my recommendation:
 - [ ] split `ImageLoader` and `DetectronImageLoader`, so that they are in two different m

[2020-11-21 01:55] wlhgtc commented on #4689
@vikigenius  I got a nearly same bug in #4805. I wonder if you use the param `use_amp:true`.
And it's fine when I remove this param.

[2020-11-22 01:35] bibocai commented on #4782
I face the same problem with this issue, and I solve it by downloading the bert-based-uncased folder from hugging face. After that, I can successfully running `BertModel.from_pretrained("bert-base-uncased")`. But a new problem comes as follows:
[code]
The model in the demo website is unpdated to 'bert-base-srl-2020.11.19.tar.gz'.
I have no idea to solve this, I'll appreciate your help.

[2020-11-22 01:37] dirkgr commented on #4782
It looks to me like you don't have an internet connection while it's trying to download something.

[2020-11-22 04:14] bibocai commented on #4782
Thanks for your reply!
 I've already solved the connection problem, so the error related to nltk is removed. However, the error message related to `Unexpected key(s) in state_dict: "bert_model.embeddings.position_ids` still exists.  Hope for your attention.

[2020-11-22 04:17] bibocai commented on #4782
Thanks for your reply!
I've already solved the connection problem, so the error related to nltk is removed. However, the error message related to `Unexpected key(s) in state_dict: "bert_model.embeddings.position_ids` still exists. And the error message is exactly the same. Hope for your attention.

[2020-11-22 13:02] galsk87 commented on #4782
It was because I was working with proxy.

Now my problem is similar to what @bibocai  said.

Here is my traceback:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ubuntu/anaconda3/envs/nlp/lib/python3.6/site-packages/allennlp/predictors/predictor.py", line 275, in from_path
    load_archive(archive_path, cuda_device=cuda_device),
  File "/home/ubuntu/anacond

[2020-11-22 15:15] IINemo opened #4810 "GradientDescentTrainer breaks when constructed with validation_data_loader==None and learning_rate_scheduler!=None"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-11-22 15:45] IINemo commented on #4810
I prepared a pull request to fix this issue: https://github.com/allenai/allennlp/pull/4811

[2020-11-23 02:34] #4810 closed

[2020-11-23 08:38] baiziyuandyufei opened #4813 "run coreference resolution demo error."
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-11-23 19:46] #4422 closed

[2020-11-23 19:46] dirkgr opened #4814 "Add a multi-task training config that works"
The tasks will be
 - [x] GQA
 - [x] VQA
 - [x] SNLI-VE

[2020-11-23 22:38] vikigenius commented on #4689
@wlhgtc Yes I do use use_amp: true

[2020-11-24 00:27] dirkgr opened #4816 "Make image sets easily accessible"
We don't want to automatically download large image sets with `cached_path()`, but we at least want to make it very easy to download them manually (download one archive, extract it, set the image path).

 - [x] VQA
 - [x] GQA
 - [x] SNLI-VE

[2020-11-24 02:12] baiziyuandyufei commented on #4813
@ZhaofengWu I seem to know the reason. the code download the "spanbert-large-cased" model failed.

[2020-11-24 03:43] baiziyuandyufei commented on #4813
@ZhaofengWu After download the "spanbert-large-cased" model, and modify the "coref-spanbert-large" model's config file, then everything is OK. The transformer cached model is too bad. The modified config file is below:
[code]

[2020-11-24 03:44] #4813 closed

[2020-11-25 01:41] KTRosenberg opened #4818 "SRL bert-base-srl predictor basic to be “is” verb examples return no results"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-11-25 17:31] tmcclintock opened #4819 "Rename token.py to avoid bugs in certain Python versions"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-11-25 17:57] epwalsh opened #4820 "Add NMN drop to allennlp-models"

[2020-11-25 18:28] epwalsh commented on #4819
Huh, that's interesting. The error still happens when you run

[code]

from the root of the repo, but doesn't happen when import from a Python interpreter:

[code]

[2020-11-25 19:28] tmcclintock commented on #4819
Yes, it's very subtle. The same error occurs in Python 3.9.0 (just checked).

I think it speaks to how "token" is overloaded. Collisions were inevitable I guess...

[2020-11-25 19:56] dirkgr commented on #4782
I just loaded this up fine on my box. I suspect there is a problem with the versions of your libraries. Can you paste the output of `pip freeze`?

[2020-11-25 21:14] epwalsh commented on #4819
Ok, yes, let's make that change. Would you like to make the PR @tmcclintock?

[2020-11-25 21:40] tmcclintock commented on #4819
Will do. May take until the weekend though.

[2020-11-25 21:41] epwalsh commented on #4819
No rush.

[2020-11-25 22:38] dirkgr commented on #4690
I think the best place is here: https://github.com/allenai/allennlp/blob/master/tests/models/model_test.py

There is already one test in there about extending vocabs!

[2020-11-25 22:50] dirkgr commented on #4755
You're talking about changing the "Installing AllenNLP" section in the demo? Those steps are sadly different from model to model (at least in principle. In practice they might all be the same right now.). Also, I really like the convenience of having everything I need to copy&paste in one place on the demo. Since this `data classes` issue is going to go away shortly, and ReViz is already working o

[2020-11-25 22:54] dirkgr commented on #4634
This is not closed. @jacobdanovitch is working on it in #4693!

[2020-11-26 13:56] hieudepchai commented on #4818
Hi @KTRosenberg, I don't know what's wrong with SRL module, it seems to work incorrectly with the new version of pretrained model (2020.11.19).
However, my case just works fine with Python 3.6.4, allennlp==1.2.0, allennlp-models==1.2.0 and bert-base-srl-2020.09.03.

[2020-11-26 14:04] KTRosenberg commented on #4818
I will double-check. Is it good enough to install those versions of allennlp using pip?

I hope we can arrive at a “best” version again. These seem to be severe breaking changes for rather simple examples.

[2020-11-26 17:37] KTRosenberg commented on #4818
Hi @hieudepchai I tried an install of those versions of allennlp and that particular model. Allennlp downloads the small dataset for spacy. I enter "I am here." and "This is a dog" and I still get no verbs. Are you sure it's not calling out somewhere in the background? I remember seeing printouts referring to Amazon AWS services of sorts.
Am I supposed to configure something else? It just seems li

[2020-11-26 18:20] tomsherborne opened #4823 "Add the Gaussian Error Linear Unit as an Activation option"
The [Gaussian Error Linear Unit](https://arxiv.org/pdf/1606.08415.pdf) activation is currently not a possible option from the set of registered Activations. Since this class just directly called the PyTorch classes - adding this in is a 1 line addition. Motivation is that models like BART/BERT use this activation in many places and elegant consistency of activation function across models that are

[2020-11-28 00:23] HaritzPuerto commented on #4782
How can we run the SRL model without an internet connection? I am required to not to use an internet connection in my application...

Conceptually, I do not understand why we need an internet connection when we give the path with the tar of the model weights.

Here you can see how I can load Bert base uncased (because I previously downloaded it), but I can't load the SRL model even though I have t

[2020-11-29 11:46] jianliu-ml commented on #4790
Hi, looking forward for this function!
Could you share ideas for how to impelement a interpret function for a pytroch-based model?

[2020-11-29 19:30] dirkgr commented on #4782
If you are doing this in a Docker container, the easiest thing to do it to
make a prediction once when you build the image, when you still have
internet. That will download all the required files and put them into the
cache. After that, it should work offline.

On Fri, Nov 27, 2020, 16:23 Haritz Puerto <notifications@github.com> wrote:

[2020-11-30 15:18] aleSuglia opened #4825 "ShardedDatasetReader doesn't inherit lazy from base reader"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-11-30 15:44] mahnerak opened #4826 "TrackEpochCallback is not an EpochCallback"
Is there any reason why `TrackEpochCallback` should not inherit from `EpochCallback`?
https://github.com/allenai/allennlp/blob/5b30658514a00e11000e648fec23be11a998bd92/allennlp/training/trainer.py#L179-L188

[2020-11-30 17:00] epwalsh commented on #4826
No, this was an oversight. Thanks for catching it. Would you like to make a PR to fix?

[2020-11-30 17:02] epwalsh commented on #4823
Hi @tomsherborne, yes please go ahead a submit a PR for this. Thanks!

[2020-11-30 17:06] mahnerak commented on #4826
Sure! I'll make a PR.

[2020-11-30 17:07] epwalsh commented on #4825
This seems like a good solution. Would you like to make a PR for this @aleSuglia?

[2020-11-30 17:10] aleSuglia commented on #4825
Happy to do it. I can work on it later today.

[2020-12-01 02:22] AkshitaB commented on #4818
@dirkgr It appears that [this](https://github.com/allenai/allennlp-demo/commit/7dd97dd05031fa7ac5d4ffb0efea0db30fd9ee41) update has broken the SRL model in the demo. (Also, the modelcard still has the old url; I'll update that once we fix this).

[2020-12-01 02:41] KTRosenberg commented on #4818
I tried switching to that older model, but I still had the same issue.

[2020-12-02 04:04] #4823 closed

[2020-12-02 16:41] #4689 closed

[2020-12-02 20:12] AkshitaB opened #4835 "Better documentation for creating training configs"
* The guide gives an example of a training config, but not an exhaustive list of what fields are possible to include.
* The `Vocabulary` and `Trainer` fields are general, while for the model and dataset reader, the fields will depend on specific classes.
* It will be useful to have this documented for someone looking to get started with AllenNLP.

Create a dedicated page in docs or add link [here]

[2020-12-03 02:29] AkshitaB commented on #4818
Ok, I digged in a bit more. Spacy's model tags "is" etc. as ["AUX"](https://universaldependencies.org/u/pos/all.html#:~:text=AUX%20%3A%20auxiliary&text=An%20auxiliary%20is%20a%20function,%2C%20aspect%2C%20voice%20or%20evidentiality.) while the predictor [uses the tag](https://github.com/allenai/allennlp-models/blob/master/allennlp_models/structured_prediction/predictors/srl.py#L108) "VERB" to crea

[2020-12-03 03:09] KTRosenberg commented on #4818
@AkshitaB It doesn't work with older versions of the library anymore--even AllenNLP 1.0 with the model I am sure I used with it. Around August or September, I had a remote server installed for a project on which AllenNLP 1.0.0 was installed. If I ssh onto that machine, I still get expected results.

When I did the installation, I think I was using an older version of Spacy. I wonder if something c

[2020-12-03 15:36] wangrat commented on #3467
@detuvoldo
![image](https://user-images.githubusercontent.com/16265888/101051075-fb1b0180-357c-11eb-9ad3-f504e514b24c.png)

Additionally, **B** is beginning of a span and **I** is inside or end of a span.

At least that's what I figured out by myself.

[2020-12-03 15:42] wangrat commented on #3467
Ah sorry, you meant BV, the answer is here: https://github.com/allenai/allennlp/issues/3392

[2020-12-03 16:39] danmaxis commented on #612
+1 for windows

[2020-12-04 05:16] vikigenius opened #4837 "model_save_interval and restoring checkpoints"
Say I have a very long running training process with a lot of data, where an epoch could take an hour.
So if i use model_save_interval to save the model every 30 minutes, can I restore the model to these intermediate training states? (if they get interrupted before a complete epoch)

If yes, then these intermediate states, do they restore the position of the batch as well (i.e do they start traini

[2020-12-04 14:38] theashworld opened #4838 "Can't load a model from a readonly file system because of Filelock"
Basically see here https://github.com/allenai/allennlp/blob/b7cec515448f46daec9a76551d0a3342ef51b27b/allennlp/data/vocabulary.py#L341 the `FileLock` tries to lock the file in the same directory as the model. This means that if the model is not on a writable file system, it will not be able to get a lock and fails. Existing code
[code]

This seems like an unnecessary restriction, why should we not

[2020-12-04 15:55] epwalsh commented on #4838
Thanks for bring this up @theashworld. I actually ran into this issue yesterday with `.lock` files that were in the cache directory (the root user was writing to the cache, but a non-root user needed to read from the cache).

I think a reasonable solution would be to issue a warning when we are trying to **read** a resource (like a vocab or something from the cache) but can't get a handle on the f

[2020-12-04 16:17] dcfidalgo opened #4839 "Superfluous warning when extending the vocab in the `Embedding`"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-12-04 16:29] bratao opened #4840 "Support SWA - Stochastic Weight Averaging optimizer"
**Is your feature request related to a problem? Please describe.**

The PyTorch starting from version 1.6 support a set of tools to implement the  Stochastic Weight Averaging (SWA) technique.

https://pytorch.org/blog/pytorch-1.6-now-includes-stochastic-weight-averaging/

They suggest that SWA can drastically improve the generalization performance and demonstrated to have a strong performance in s

[2020-12-04 16:36] #4634 closed

[2020-12-04 16:37] bratao commented on #4634
This is not closed. @jacobdanovitch is working on it in #4693!

[2020-12-04 17:25] AkshitaB commented on #4818
@KTRosenberg The issue appears to be because of an older version of Spacy. You can try specifying an older version or the medium or large version of the spacy tokenizer in the predictor.

[2020-12-04 17:27] #4825 closed

[2020-12-04 17:31] KTRosenberg commented on #4818
I can no longer install an older version of Spacy. How do you specify a larger version of the Spacy tokenizer in the predictor?

Will the issue be looked-into more? From what you just wrote, it sounds like AllenNLP doesn't play well with newer versions of Spacy.

[2020-12-04 17:31] AkshitaB commented on #4837
@vikigenius You can try using `batches_per_epoch` in the `DataLoader` setting to reduce the steps in the epoch itself.

[2020-12-04 17:43] AkshitaB commented on #4839
@dcfidalgo Hi, thanks for catching this! You are most welcome to submit a PR!

[2020-12-04 17:45] schmmd commented on #4818
@KTRosenberg I don't think we have time to look into this in the short term.  The issue is more subtle than "AllenNLP doesn't play well with newer versions of Spacy".  This particular discrepancy is specific to the SRL model.  The SRL is trained on the CONLL dataset, which uses Penn Treebank POS tags.  I believe in this scheme, "is" is labeled as a verb.  However Spacy uses universal dependencies,

[2020-12-04 17:46] schmmd commented on #4818
@dirkgr or @AkshitaB could you answer how to specify a different version of the Spacy tokenizer in the predictor?  You could certainly write a custom predictor (and start by copying the existing one) but there may be an easier way.

[2020-12-04 17:48] schmmd commented on #4818
Looks like someone made a PR: https://github.com/allenai/allennlp-models/pull/178

[2020-12-04 18:08] KTRosenberg commented on #4818
@schmmd For What it's worth, that pull request looks like exactly what is needed. "to have" should also be a verb.

[2020-12-05 03:28] vikigenius commented on #4837
@AkshitaB , that's an interesting idea. What happens to the rest of the data? This would only work well if the data is shuffled after each epoch right? My intent was more about understanding the recovery process if i am using something like the aws spot instances for example that can be interrupted anytime.

[2020-12-05 06:48] #4819 closed

[2020-12-05 06:53] tmcclintock commented on #4819
My bad. Got busy.

[2020-12-05 12:11] wangrat commented on #4818
@schmmd, you say:

If that is the case then my change in the PR isn't good enough, because it just includes all words labelled as VERB and AUX without filtering.

https://universaldependencies.org/u/pos/AUX_.html
From this description, it sounds like it's language-dependent. For English, my solution seems to make sense, but for some languages treating AUX as a VERB might make no sense. (I don't kn

[2020-12-05 15:48] hasfihawari opened #4844 "training method for semantic role labeling"
hi, i'm newbie in nlp, What methods and architectures are used for semantic role labeling training?
are u using lstm or another?
thank u

[2020-12-05 16:37] wangrat commented on #4818
Or we could add a boolean like `include_auxiliaries` to all the relevant methods and leave it for users to decide.

[2020-12-05 18:41] KTRosenberg commented on #4818
Does Spacy also consider “have” an auxiliary? As mentioned in that pull request, it seems odd that “have” would not be considered a verb. I wonder what should be done in cases such as “I have seen.” There are definitely exceptions to the rule.

[2020-12-06 01:22] yipliu opened #4845 "Could the latest version of allennlp run on RTX 3090?"
When I create a conda env python=3.8.5, allennlp=1.2.2, I cannot find any version of cudatoolkit. Is this right?
   And, when I run **allennlp test-install**, I get this:
    - INFO - allennlp.commands.test_install - AllenNLP version 1.2.2 installed to

    - INFO - allennlp.commands.test_install - Cuda devices available: 1

And when I run a example, I get this error:
    - RuntimeError: CUDA erro

[2020-12-06 18:01] epwalsh commented on #4845
See https://github.com/pytorch/pytorch/issues/31285#issuecomment-739139454. You may need to install torch differently.

[2020-12-06 18:01] #4845 closed

[2020-12-07 00:02] epwalsh opened #4847 "Multi-process data loader bug with TensorField (RuntimeError: received 0 items of ancdata)"
I discovered this issue while using the new `MultiprocessDataLoader` with `num_workers > 0` and `max_instances_in_memory` set to some high number (1000 in my case) to load batches that are built with instances that contain `TensorField`s.

[code]

The issue is stems from the fact that tensors are passed between processes using shared memory, but some systems (like the one I was on) may have strict

[2020-12-07 02:26] theashworld commented on #4838
That would be great! :-)

[2020-12-07 02:53] yipliu commented on #4845
Hi, epwalsh
I did a test about the env installation  based on RTX 3090
- First, I install pytorch=1.7 with cudatoolkit=11.0 according to the official website of Pytorch
- Then, I install allennlp and anllennlp-model
- Last, I run a example with cuda_device = 0
Luckly, the code work well on RTX 3090 this time.

For the result of "allennlp test-install",  there is no difference between my two differ

[2020-12-07 05:13] epwalsh opened #4848 "Multi-process data loading occasionally hangs when worker does tensor ops on CPU"
When using `num_workers > 0` and `start_method = "fork"` with the multi-process data loader, there is the potential for dead locks if the dataset reader does any tensor computations on CPU.

The solution is to set the `start_method` to "spawn" or set the environment variable `OMP_NUM_THREADS` to 1. See https://discuss.pytorch.org/t/pytorch-cpu-hangs-on-nn-linear/17748/4.

[2020-12-07 06:32] rudra0713 opened #4849 "No Fine-Tune/ Bert_token_embedder module inside Allennlp commands or token_embedders"
I have been working on a github project from here: https://github.com/jiacheng-xu/DiscoBERT According to the authors, it requires Allennlp 0.9.0. I created a virtual environment using pip and tried installing 0.9, but it gave an error. So, I tried Allennlp 1.2 which installed fine, but I am getting errors in the two following lines:
`from allennlp.commands.fine_tune import fine_tune_model_from_fil

[2020-12-07 16:12] schmmd commented on #4818
@wangrat if it's easy to condition on English, that makes a lot of sense.  I think your PR is good, given that it'd addressing a very real problem that two people ran into in the same week.

[2020-12-07 20:45] epwalsh opened #4850 "Have new multi-process data loader put batches directly on the target device from workers"

[2020-12-07 21:42] KTRosenberg commented on #4818
Or maybe it should be something else. "To have X". It would be easier for NLP systems to have a way to identify these together.

[2020-12-07 22:11] wangrat commented on #4818
Ok, tomorrow I will modify my PR to condition on English if possible. Then I just have to adjust some tests so the new behaviour passes them and it will be good to go.

We can continue this discussion and if someone comes up with a better solution to the problem we can introduce it later in a new PR. For now this seems to be a step forward.

[2020-12-07 22:13] schmmd commented on #4818
@wangrat this PR is clearly a step forward!  Thanks for putting it together, and I'll be glad when it's merged.

[2020-12-08 07:04] doudouzqx commented on #2590
Has your problem been solved? I also encountered this situation when used multiple GPUs.

[2020-12-08 09:52] tingkai-zhang commented on #2590
Sorry, I forgot how I solved the problem but I remember that's not the issue of AllenNLP in my case. @doudouzqx

[2020-12-08 11:42] wlhgtc commented on #4805
@epwalsh This bug was fixed in [pytorch](https://github.com/pytorch/pytorch/issues/48049). Seems like memory leak.

[2020-12-08 15:46] epwalsh commented on #4805
That's great to hear! Thanks @wlhgtc!

[2020-12-08 15:46] #4805 closed

[2020-12-08 20:17] yqw-vicki opened #4852 "When use Bert to fine tuning coreference resolution, mention recall is high, but coreference recall is very low."
Please ask questions on [Stack Overflow](https://stackoverflow.com/questions/tagged/allennlp) rather than on GitHub.  We monitor and triage questions on Stack Overflow with the AllenNLP label and questions there are more easily searchable for others.
Hi, I am now using coreference resolver to retrain Bert-based coreference model, but the result is not satisfied.
Here is my training code:
def build