[2021-04-16 02:28] nelson-liu opened #5128 "HuggingFace Tokenizers and multiprocess worker parallelism warnings"
If i use a multiprocess worker, i get the following warning when loading my data:

[code]

My dataloader config looks like:
[code]

and I'm using a pretrained transformer tokenizer like so:
[code]

[2021-04-16 16:10] #5090 closed

[2021-04-16 16:12] dirkgr commented on #4999
Done!

[2021-04-16 16:12] #4999 closed

[2021-04-16 16:22] ArjunSubramonian commented on #5044
We only have a partial solution: https://github.com/allenai/allennlp/pull/5085. Now, the pretrained weights are not downloaded, but the config file is still download (for the purpose of determining the architecture), if there are override weights.

[2021-04-16 18:29] NicolasAG commented on #4794
Hi,
I'm also having a deadlock when using multiple GPUs, but I'm not using any custom metrics.
Metrics I use are [Perplexity](https://docs.allennlp.org/main/api/training/metrics/perplexity/) and [Average](https://docs.allennlp.org/main/api/training/metrics/average/).
I am trying to debug and see what may cause this. These are the things I try to vary:
- data loader `num_workers`: 0, 1, or 6
- metr

[2021-04-16 19:50] NicolasAG commented on #5123
+1 on this.
see my comment here: https://github.com/allenai/allennlp/issues/4794#issuecomment-821424576

[2021-04-17 00:12] nelson-liu opened #5129 "MNLI BERT Transformer Model Is Not Using Token Type IDs"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-04-17 01:28] AkshitaB commented on #4794
@NicolasAG `Perplexity` actually uses `Average` under the hood, so ideally, both should work. Do you mind opening a new issue, and sharing your training config?

[2021-04-17 04:41] nelson-liu commented on #5129
Looks like the issue is here: https://github.com/allenai/allennlp/blob/main/allennlp/data/token_indexers/pretrained_transformer_indexer.py#L174-L176 . The token type IDs work just fine until they're overridden here.

When max_length is provided to the indexer (as it is in the config above), the token type IDs are overridden with all 0's. I'm not sure why this has to be the case. Seems like this wa

[2021-04-17 04:46] nelson-liu commented on #5129
Indeed, if i remove the `max_length` from the indexer / embedder, things seem to work (note the 1's and 0's in the type_ids):

[code]

[2021-04-17 04:49] nelson-liu commented on #5044
Seems pretty reasonable to me, I'm happy with not having to download pre-trained weights---the configs are tiny anyways. Thanks @ArjunSubramonian

[2021-04-17 04:49] #5044 closed

[2021-04-19 07:04] #5123 closed

[2021-04-19 14:37] aakashb95 opened #5131 "Coreference Resolution Model - Long sequence"
Thank you for such a wonderful tool for coreference resolution!
I have been testing your coreference resolution implementation on different texts of varied lengths of around 5000+ words and coreferences are being identified and resolved. How does this work? If my understanding is right, SpanBERT works only till 512 tokens right?
Are we using [sliding window](https://github.com/allenai/allennlp/pul

[2021-04-19 16:26] vikigenius opened #5132 "Multiprocess Data Loader with num_workers > 0 throws error about token_indexers already being applied"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-04-19 17:54] vikigenius commented on #5132
Additionally it seems like the Sharded Dataset Reader has no apply_token_indexers method, I manually implemented it myself to see if that was the issue, but that didn't fix the error either.

[code]

[2021-04-19 18:15] #5118 closed

[2021-04-19 22:50] epwalsh commented on #5132
Hi @vikigenius, https://github.com/allenai/allennlp/pull/5134 should fix. Can you confirm?

[2021-04-19 23:08] epwalsh opened #5135 "Fast influence functions"
Add an implementation of "FastIF" (https://arxiv.org/abs/2012.15781) to the `interpret.influence_functions` module.

[2021-04-20 03:04] vikigenius commented on #5132
Thanks @epwalsh I will try to run this tomorrow and get back to you. Just a quick question regarding the multiprocessing data loader, how does it interact with distributed training, the docs are not clear on this?

If I have 8 gpus and do distributed training and set num_workers=8, does that mean I have 64 workers in total, 8 per GPU ?

[2021-04-20 04:31] vikigenius commented on #5132
Ok, I just checked the fix works. Thanks.

[2021-04-20 04:45] aakashb95 commented on #1847
What would be the right format for coreference resolution?

[2021-04-20 10:45] wlhgtc commented on #5050
I just replace the original data process (by allennlp) with HF tokenizers, it works on my own service.
 So I don't do any search :<

[2021-04-20 10:53] wlhgtc commented on #5128
Maybe this would help:https://github.com/allenai/allennlp/discussions/4933#discussioncomment-317224.

[2021-04-20 15:09] VisualJoyce commented on #4590
I am facing a similar issue on version 2.0.0

I have to do the following:
[code]
Trimming the special tokens added by `_allennlp_tokenizer` on both ends and  then construct the `TextField`. Otherwise, the token indexer will add one more `[CLS]` and `[SEP]`.

[2021-04-20 16:05] epwalsh commented on #5132
Great!

[2021-04-20 16:17] #5132 closed

[2021-04-20 18:06] vikigenius opened #5136 "Setting max_instances_in_memory causes error in learning_rate_scheduler"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-04-20 21:17] vikigenius commented on #5136
The problem seems to stem from the fact that "batches_per_epoch" is not set and thus becomes None. This leads to an error in

https://github.com/allenai/allennlp/blob/a84b9b1aa7077419b92dd88446ab73235be1acb7/allennlp/data/data_loaders/multiprocess_data_loader.py#L298-L320

The docs are not very clear on the interaction between max_instances_in_memory and batches_per_epoch, so it is not very clear

[2021-04-21 07:43] styx97 commented on #4143
Hi, I am facing the same error as above while trying to use load_archive to load a locally trained model.

[code]

I have allennlp-models installed, (version 2.1.0)

[2021-04-21 12:29] smiles3983 commented on #5108
It looks like torch has the ability to load with io.bytesIO.  We will be pulling our model from an S3 bucket using s3.get_object().  So if we can convert that to what torch needs without touching the file system.

`
# Load tensor from io.BytesIO object

...     buffer = io.BytesIO(f.read())

`

[2021-04-21 16:10] #5094 closed

[2021-04-21 20:17] epwalsh commented on #4143
The `load_archive` function does not import plugins. So you either need to call `allennlp.common.plugins.load_plugins()` before `load_archive()`, or just use `Predictor.from_path("models/model.tar.gz")`.

[2021-04-21 20:38] aleSuglia commented on #5027
I'm currently not able to access the cluster so I wasn't able to reproduce the error in that setup. However, I had the same error when having multiple workers active and a *lockable* database inside a dataset reader. So I've managed to solve by having a first preprocessing step where I allow to write in the cache and a second "read-only" phase. My current solution is an hack. There must be a way t

[2021-04-21 22:25] dirkgr commented on #5027
We could try to fix it in the lmdb package. It would be a bit of work, but not too bad if you know C. But like I said, it might be easier to switch the whole thing over to HDF5.

[2021-04-21 22:38] #5072 closed

[2021-04-21 22:44] #5088 closed

[2021-04-21 22:44] #5086 closed

[2021-04-21 22:44] #5080 closed

[2021-04-21 23:34] styx97 commented on #4143
I can load the predictor from path, but while using it to make predictions, I am getting an error.

[code]

yields

`

[2021-04-21 23:39] epwalsh commented on #4143
You will need to specify the right predictor subclass to use:

[code]

[2021-04-21 23:41] styx97 commented on #4143
Thanks a lot!, it's working now.

[2021-04-21 23:43] epwalsh commented on #4143
Great :)

[2021-04-21 23:57] epwalsh commented on #5136
Setting `max_instances_in_memory` to 0 is not recommended.

The problem here is that the `PolynomialDelay` LR scheduler requires knowing the exact number of batches per epoch. But, when you set `max_instances_in_memory` to a non-zero integer in the data loader, the data loader will load the data lazily, `max_instances_in_memory` instances at a time. So the data loader doesn't know how many batches

[2021-04-22 00:52] dirkgr commented on #4590
Did you initialize `_allennlp_tokenizer` with `add_special_tokens=False`?

[2021-04-22 01:39] VisualJoyce commented on #4590
The special tokens are added by the inner tokenizer of `PretrainedTransformerIndexer`.

https://github.com/allenai/allennlp/blob/f877fdc30d18178b88c335fbd92722fb77c42d93/allennlp/data/token_indexers/pretrained_transformer_indexer.py#L57-L60

By default, it is initialized with `add_special_tokens=True`.

[2021-04-22 01:47] VisualJoyce commented on #4590
I am using a spacy tokenizer, the config is:
[code]

[2021-04-22 13:01] klaraesr opened #5144 "Coreference model CUDA out of memory on 16GB GPU"
I'm trying to reprod some coreference results on a 16GB GPU, using this config file: https://github.com/allenai/allennlp-models/blob/main/training_config/coref/coref_spanbert_large.jsonnet

I created train, test, and dev files using this script: https://github.com/allenai/allennlp-models/blob/main/allennlp_models/coref/tools/compile_coref_data.sh

I got CUDA out of memory almost instantly, so I tr

[2021-04-22 13:36] klaraesr commented on #5144
I also tried using bert-base but got the same problem, it works fine without bert though!

[2021-04-22 15:17] izhx opened #5145 "Refactoring span extractors to fix wrong span width calculation and unify forward arguments"
**Is your feature request related to a problem? Please describe.**
1. The calculated span widths (by `span_ends - span_starts`) in `EndpointSpanExtractor.forward` and `BidirectionalEndpointSpanExtractor.forward` are always 1 less than the real width since the `SpanField` use inclusive indices. (e.g., the width of the span `(2, 2)` will be `2 - 2 = 0` by `span_end - span_start`, but it is 1 actuall

[2021-04-22 21:01] dirkgr commented on #5129
Huh. That does not look like it happened by accident. But I can't imagine why?

[2021-04-22 21:26] dirkgr commented on #5131
The trick is in `PretrainedTransformerMismatchedIndexer` and `PretrainedTransformerMismatchedEmbedder`: http://docs.allennlp.org/main/api/data/token_indexers/pretrained_transformer_mismatched_indexer/#pretrainedtransformermismatchedindexer. Look for the `max_length` parameter. It looks like it will just cut the sequence into sub-sequences of 512 tokens each. The documentation doesn't say anything

[2021-04-22 21:27] dirkgr commented on #5135
This is not what @leo-liuzy was working on?

[2021-04-22 21:29] dirkgr commented on #5136
There is also an `allennlp count-instances` command you can use to find out how many instances you're going to have. Then plug that number into your training config.

[2021-04-22 21:33] epwalsh commented on #5135
Leo's main project was the "simple" implementation of Influence Functions. We discussed FastIF as a potential follow-up project, but didn't have time to get to it. I think it would be a valuable addition to the library though, so that's why I created this feature request.

[2021-04-22 21:38] dirkgr commented on #5144
This model needs a lot of memory. Try lowering `max_sentences` and see if that gets you in the window. In general, I suspect that long texts will use a lot of memory. The model will cut long texts into sequences of 512 tokens each and run them all. So even with a batch size of 1, you can still get a lot of sequences.

[2021-04-22 21:59] dirkgr commented on #5145
I would love to have these changes in AllenNLP, as long as they don't affect the performance of the original SpanBERT coref model. Feel free to tag me in the PR!

Out of curiosity, there is a lot of interest in our coref model lately. Any particular reason?

[2021-04-22 22:38] dirkgr commented on #5129
I think I know now why. This is not an easy problem.

Setting `max_length` on the indexer makes it fold long sequences into multiple smaller sequences. For token ids, that's well defined: You start with 600 word pieces, so you get two sequences:
 1. `[CLS] + 510 content word pieces + [SEP]`
 2. `[CLS] + 90 content word pieces + [SEP]`

But for token type IDs, what should we expect? What's the corr

[2021-04-23 00:09] #5067 closed

[2021-04-23 00:09] #5076 closed

[2021-04-23 00:27] AkshitaB commented on #5112
@gabrielStanovsky This was probably a while ago for you; do you remember if any pre-processing was done on the OIE dataset for the model?

[2021-04-23 03:58] izhx commented on #5145
I figured out why `span_ends - span_starts`. Since the embedding matrix is zero-indexed and initiated with `num_width_embeddings=max_span_width`. I'm being silly...

I think these changes will not affect the performance of the original SpanBERT coref model and will test it.

It is probably becoming a latest hotspot? 🤣
I'm just working on a research project similar to information extraction and cor

[2021-04-23 16:20] gabrielStanovsky commented on #5112
I haven't encountered this error before, @MM-Vianai , can you check if this issue is relevant and whether the solution there is helpful?

https://github.com/gabrielStanovsky/oie-benchmark/issues/18

[2021-04-23 17:13] epwalsh commented on #5129
Why not keep the type IDs for regular tokens the same, and then just infer the type ID for each added special token based on the type ID of the adjacent regular token. For example:

[code]

This may not be the most technically correct way (like, BERT doesn't usually see a "[CLS]" token with type ID "1"), but at least we're not removing any information from the input.

[2021-04-23 17:14] #5107 closed

[2021-04-23 19:05] dirkgr commented on #5129
I put a fix at https://github.com/allenai/allennlp/pull/5149.

That's not exactly what @epwalsh suggested. This instead pretends that the ids we got were part of a single sequence. That is almost always incorrect, but for some transformers it'll amount to the same thing, and either way it is better than losing the information completely.

[2021-04-23 22:55] epwalsh opened #5150 "cached_path should handle "gs://" (Google Cloud Storage) URLs just like it does for "s3://" or "hf://""
We could utilize https://github.com/googleapis/python-storage to make this robust.

[2021-04-24 09:01] ammaarahmad1999 opened #5151 "No module named allennlp.run"
Please ask questions on [Stack Overflow](https://stackoverflow.com/questions/tagged/allennlp) rather than on GitHub.  We monitor and triage questions on Stack Overflow with the AllenNLP label and questions there are more easily searchable for others.
I am trying to run allennlp with Scicite paper https://github.com/allenai/scicite but there is a issue called
**No module named allennlp.run**
I have

[2021-04-24 17:08] Aiah opened #5152 "Skip the train_step"
I have an issue that I want to skip a training step and I really cannot filter these instances in DataLoader. I am just wondering if it is possible to skip this batch and carry on with the next one with the allennlp framework?

[2021-04-24 21:44] niansong1996 opened #5153 "BART model performance not matching the paper or fairseq implementation"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-04-24 22:31] MM-Vianai commented on #5112
@gabrielStanovsky Thank you for the reply. Unfortunately that issue was not similar to my problem.

To clarify the error, this is what I have been trying (am i missing something?):
Follwoing [demo-page](https://demo.allennlp.org/open-information-extraction) I install allennlp:

`pip install allennlp==2.1.0 allennlp-models==2.1.0`

To prepare for running the training command I followed [oie-benchma

[2021-04-25 08:31] niansong1996 commented on #5153
So I have run some extra experiments to locate the potential issue, the caveat is that the following experiments are not conducted on CNN/DM, but on another smaller dataset.

1. The rouge evaluation is less likely to be the issue because I've tried to evaluate the same output with AllenNLP's rouge and other rouge packages, including the one with the original Perl implementation and the difference

[2021-04-26 03:33] nelson-liu opened #5155 "Evaluating and saving checkpoints within an epoch"
**Is your feature request related to a problem? Please describe.**

Right now, allennlp currently evaluates / saves checkpoints at the end of every epoch. However, it'd be nice if there was some way of evaluating within an epoch.  For example, say an epoch is 10,000 steps, and I want to evaluate / save a checkpoint every 500 steps.

This is especially important when fine-tuning pre-trained languag

[2021-04-26 03:45] nelson-liu commented on #5155
To be concrete: I'm trying to train BERT on the IMDb sentiment dataset (25K examples). It peaks after epoch 2 (and starts overfitting from epoch 3) but i'm sure that there are better checkpoints between the end of epoch 2 and the end of epoch 3. In general, these pre-trained language models aren't trained for very many epochs (e.g., 3-4), so only evaluating and saving 3 or 4 checkpoints seems like

[2021-04-26 10:53] gaozhiguang commented on #5050
when using allennlp-srl for predicting, the utilization rate of GPU is very low and it consumes more CPU, how can i speed up my predicting. i was trying to use multiprocessing, but because of the much consuming of CPU, parallelization reduces the speed.
Here is my code:
srl_predictor = Predictor.from_path("structured-prediction-srl-bert.2020.12.15.tar.gz",cuda_device=gpu_id)
# text_multi is a list

[2021-04-26 11:40] gaozhiguang commented on #5050
I just read the source code, util.py，the function move_to_device() can't put my generated string on GPU. How can I process my data into a tensor and put it into the model for predicting?

[2021-04-26 12:01] gaozhiguang opened #5156 "How to predict in batch"
when i using srl model for predicting, how should i process my data and batch it for predicting, is there a demo example for me to
use for reference.
here is my code now, how should i fix it.
srl_predictor = Predictor.from_path("structured-prediction-srl-bert.2020.12.15.tar.gz",cuda_device=gpu_id)
text_multi_srl = srl_predictor.predict_batch_json(text_multi)
# text_multi is a list where the elemen

[2021-04-26 12:03] jmelot commented on #5150
Newbie here, but this looks pretty straightforward - I'd like to implement this! Could take a look this week.

[2021-04-26 16:12] epwalsh commented on #5150
That would be great @jmelot!

[2021-04-26 17:00] md975 opened #5159 "sequence prediction using GPU"
Hi,

I found [this script](https://guide.allennlp.org/semantic-parsing-seq2seq#6) for sequence prediction from a pretrained seq2seq model. However, this is too slow and I'm having trouble and getting errors when changing it in a way that would use batches and also the GPU. What changes do I need to make to the original script to make it work on GPU?
I'm very new to this and would appreciate some h

[2021-04-26 23:02] dirkgr commented on #5129
Fixed in #5149.

[2021-04-26 23:02] #5129 closed

[2021-04-27 02:24] ArjunSubramonian commented on #5152
This feature does not currently exist, to the best of my knowledge. Could you explain your need in more detail? Are you running an AllenNLP command and do you want to potentially specify batches to skip as part of overriding the default experiment configuration?

Additionally, I'm unsure if this would be a good feature. There doesn't seem to be a good use case for skipping particular batches, even

[2021-04-27 02:33] ArjunSubramonian commented on #5153
Have you discovered anything else with your extra experiments? Assuming that the validation loss converges fine and doesn't immediately spike due to overfitting, warm-up shouldn't make a huge difference. The difference in number of allowed tokens could have an effect.

[2021-04-27 02:35] ArjunSubramonian commented on #5155
This would indeed be a great feature to have.

[2021-04-27 02:40] ArjunSubramonian commented on #5156
If your input is just plain text, you can do `text_multi_srl = srl_predictor.predict("i want to playing basketball.")`.

[2021-04-27 02:43] ArjunSubramonian commented on #5156
Your code looks fine to me. It follows the format described in the [doctoring](https://github.com/allenai/allennlp-models/blob/ab1e86a4319faf1d8a3ea7e259a342fefbd437b4/allennlp_models/structured_prediction/predictors/srl.py#L143). Are you running into any errors?

[2021-04-27 02:45] ArjunSubramonian commented on #5159
Could you elaborate on what errors you're running into and what changes you have tried?

[2021-04-27 02:46] gaozhiguang commented on #5156
Hi, it can run correctly, but i don't know how to fix my code for GPU, it is a little slow on CPU.

[2021-04-27 02:54] gaozhiguang commented on #5156
And something strange for me is that the srl_predictor can be put on specific GPU, but my data is just a string not tensor, and it can predict normally, just occupy a lot of GPU memory , the utilization rate of GPU is very low and  the utilization rate of CPU is very high.

[2021-04-27 03:03] gaozhiguang commented on #5156
In addition, allennlp's semantic role annotation model is the best I have ever seen, but I have to use it to process nearly 300000 cnndm samples. Any method to improve the speed is useful. I'm not very familiar with allennlp's API.

[2021-04-27 04:29] niansong1996 commented on #5153
@ArjunSubramonian I haven't got more updates than that on the experiments. But I've found that people usually extend the positional embedding of BART from 1024 to 2048 to adapt to longer input (in which case I think they did for CNN/DM). I haven't found the corresponding code in fairseq, but I've found [this code](https://github.com/allenai/longformer/blob/master/scripts/convert_bart_to_longformer

[2021-04-27 06:41] BramVanroy commented on #612
I don't quite understand the installation issues that people are having and it is hard to debug when everyone is just commenting +1. The steps to install are relatively straightforward, you just have to install the PyTorch wheels separately because (depending on your set up), PyPi will not install fetch the right/wanted wheels for your environmnent if you just do `pip install torch`. Instead,

- g

[2021-04-27 08:07] VisualJoyce commented on #4590
Now I switched to the head of the main branch and would like to offer more details:
[code]

In this way, I can ensure the tokenized source contains the correct number of [CLS] and [SEP].

However, I am facing the issue that `type_ids` are all zeros, which means these `type_ids` might have been changed during token indexing.

[2021-04-27 08:17] Aiah commented on #5152
Hi, I need to make a multi-label classification task first. Then a generation task is performed on the correctly classified data, so there may be batches that do not have the correctly classified data, and I need to skip this training step. Although it is possible to write the classification results into a file and then read them out so that the data that is not classified correctly can be filtere

[2021-04-27 13:44] VisualJoyce commented on #4590
My guess for the issue above is tokens lost their `type_id` in the `intra_word_tokenize`.

https://github.com/allenai/allennlp/blob/90915800d645c0e5a17e01e56f1fd4d02c5f4e43/allennlp/data/token_indexers/pretrained_transformer_mismatched_indexer.py#L74-L80

[2021-04-27 15:56] md975 commented on #5159
Thanks so much for your response.
So I think I figured out the errors and I have a script that runs ok, but it's still very slow and I think it's not using the gpu.
Here is what I have so far:
[code]
Am I missing something?

[2021-04-27 17:40] ArjunSubramonian commented on #5151
Have you upgraded to the latest release of allennlp?

[2021-04-27 17:51] ArjunSubramonian commented on #5152
Oh ok, I see. Are you alternating between the classification and generation tasks? You need to provide more details about your training procedure, and ideally include the high-level code you are running.

[2021-04-27 17:58] ArjunSubramonian commented on #5153
@niansong1996 would you be interested in implementing the sparse attention mechanism used by Longformer? I think it would be a great addition to our library.

There are a variety of reasons that people use LR warmup. You can read some of the responses [here](https://datascience.stackexchange.com/questions/55991/in-the-context-of-deep-learning-what-is-training-warmup-steps). People tend to use warm

[2021-04-27 18:06] prajaktakini-vmware commented on #5001
Hi, @dirkgr I added the reader and config file. Tried training 2-3 times with different LRs but accuracy didn't go beyond 54%.
In all the above cases, training stopped around 5th-6th epochs as the patience was reached
Would you like to suggest some ways to increase accuracy?

[2021-04-27 18:11] niansong1996 commented on #5153
I am not particularly familiar with Longformer and the sparse attention mechanism it uses. However, I can try to implement the positional embedding extension as an option for the BART model in AllenNLP, if such a thing hasn't been done yet. Can you or someone else confirm that this is needed?

Thanks a lot for the pointer and explanation for LR warmup!

[2021-04-27 18:57] ArjunSubramonian commented on #5153
@dirkgr thoughts on implementing the positional embedding extension as an option for the BART model in AllenNLP?

[2021-04-27 19:05] ArjunSubramonian commented on #5156
How many samples are you passing in per batch? Keep in mind that while everything you pass into `predict_batch_json` is treated as a single batch, each sentence can be converted into multiple Instances, which may contribute to the slow prediction.

Could you post the utilization rates? It's odd that the GPU utilization rate is low.

[2021-04-27 19:16] ArjunSubramonian commented on #5159
`forward_on_instances` moves the instances to the device on which the model is located. Have you tried printing out on which device `predictor._model` is located? I know you pass in `{'cuda_device':0}`, but from inspecting the predictor creation process, it looks like the predictor's device is set to be the model's device in the constructor and does not consider the extra kwargs you pass in. Poten

[2021-04-27 19:17] ArjunSubramonian commented on #5156
Also, `forward_on_instances` moves the instances to the device on which the model is located. Have you tried printing out on which device `predictor._model` is located? Potentially try explicitly moving `predictor._model.to(... device)`.

[2021-04-27 19:36] md975 commented on #5159
`predictor._model.to(device) `solved the problem. Thanks so much!

[2021-04-27 19:36] #5159 closed

[2021-04-27 19:43] johntiger1 commented on #4374
Is it possible to do this from a single file?

[2021-04-27 20:34] dirkgr commented on #5153
The extended positional embeddings would be great. I assume it would be relatively self-contained, just resizing the embedding matrix during model initialization?

[2021-04-27 22:34] #5136 closed

[2021-04-28 01:42] gaozhiguang commented on #5156
![image](https://user-images.githubusercontent.com/34132216/116331760-02c89480-a803-11eb-9c4c-93f2c09d3125.png)
the command is watch -n 1 nvidia-smi, and most of the time, the GPU utilization is 0, sometimes it jumps to 100% for a short time.
here is my CPU situation:
![image](https://user-images.githubusercontent.com/34132216/116332072-9e5a0500-a803-11eb-95ee-a096fc70699d.png)
And the the number

[2021-04-28 02:26] gaozhiguang commented on #5156
This time I reduced the size of the batch, but the utilization rate of GPU is still 0, the batch is 30,
![image](https://user-images.githubusercontent.com/34132216/116336971-03195d80-a80c-11eb-9967-3705b8038e5a.png)
![image](https://user-images.githubusercontent.com/34132216/116337049-247a4980-a80c-11eb-90c0-1afda8b55a76.png)
is it the reason that the latest model is based on Bert, so it is slow?

[2021-04-28 02:38] niansong1996 commented on #5153
@dirkgr Basically, yes. But it's a little bit more tricky than that, some say that if we want to extend 1024 to 2048, we need to copy the first 1024 embedding and initialize the rest, other people added that copying it two times works better. Also, BART has position 0,1 reserved so we need to account for that as well.

I will experiment a bit with different implementations and see what works.

[2021-04-28 13:34] ding00 opened #5164 "How can i add a new subcommand?"
I'm writing a transfer learning(domain adaptation) method in Allennlp, so I created a trainer by myself, and I wanted to write a new command( for example mytrain or mypredict) to begin the training and predict process.
How can I use the command:   allennlp mytrain xxx.jsonnet --including-package xxx  --serialization-dir xxxx ?

[2021-04-28 16:58] ArjunSubramonian commented on #5156
Could you provide some more information on how long the GPU is at 100%? This task could be CPU-bound, in which case what you're describing makes sense.

[2021-04-28 17:47] ArjunSubramonian commented on #5164
You can write your code in the style of [Train](https://github.com/allenai/allennlp/blob/5b57be292c7d193419d7c8436441aff907068d5e/allennlp/commands/train.py#L36). Make sure to annotate your class with `@Subcommand.register("mytrain")`.

[2021-04-28 21:27] epwalsh commented on #5155
In practice I always set [`data_loader.baches_per_epoch`](https://docs.allennlp.org/main/api/data/data_loaders/multiprocess_data_loader/#multiprocessdataloader.parameters) to a suitable number for this exact reason. Is there a reason that approach is sub-optimal for you use-case, @nelson-liu?

[2021-04-28 21:55] nelson-liu commented on #5155
The reason is that i either did not know about it, and/or forgot that this was a thing :) This seems to fit the bill perfectly, thanks @epwalsh .

[2021-04-28 21:55] #5155 closed

[2021-04-28 22:16] epwalsh commented on #5155
Great, no problem!

[2021-04-29 01:57] ding00 commented on #5164
Yes, I writed  mytrain.py and register it by @Subcommand.register("mytrain"), but when I  want to train my model, I use the command:   allennlp mytrain xxx.jsonnet --including-package xxx --serialization-dir xxxx , the error is that mytrain can not be find.
I guess that finding the  mytrain command is executed before than  the registering operation @Subcommand.register("mytrain").

[2021-04-29 04:57] ArjunSubramonian commented on #5164
Okay, so upon further inspection, there is a plugins feature with the following description in `allennlp/common/plugins.py`:

Could you please try creating such a file and listing your "mytrain" subcommand in there, if you haven't already?

[2021-04-29 05:05] gaozhiguang commented on #5156
Hi, Thank you for your reply. I don't know how to accurately get the utilization rate of GPU in each time period. But according to my observation, 0% of the time is far more than 100%. If we want to have a rough estimate, I think it's about 100 times. In addition, I have replaced the latest Bert model with the previous Elmo based model, which has greatly improved the speed, as well as the utilizat

[2021-04-29 13:20] MausamGaurav commented on #4056
Is there a workaround ?

[2021-04-29 17:32] ArjunSubramonian commented on #5156
That's interesting... I'm honestly unsure why ELMo's utilization is much higher. @epwalsh, do you have any insight into this?

[2021-04-29 18:09] vikigenius commented on #5021
I just revisited this and found out why the current abstraction cannot be used with VAEs> It is because, a VAE encoder is expected to produce the following shape. `[batch_size, latent_dim]` equivalent to a Seq2Vec encoder. However the SeqDecoder abstraction does the following

[code]

Which expects encoder_outputs to be from a Seq2Seq encoder with shape `[batch_size, num_tokens encoder_output_dim]

[2021-04-29 18:23] epwalsh commented on #5156
These SRL models use the Viterbi decoding algorithm during prediction, which is CPU intensive. That said, what batch size are you using? You could probably get away with a pretty large batch size. For example:

[code]

[2021-04-29 19:09] MausamGaurav opened #5170 "Cannot load the pre-trained models"
I want to load the pre-trained model. I have downloaded the model to my local drive since, I am unable to connect to https:// from command line due to corporate policy. When I try to load the model, it gives me a connection error. I have had this issue with the latest version 2.4 as well. What is the best practice to load pre-trained models saved on disk?

## Description

Trying to load the downlo

[2021-04-29 23:49] wcheung-code commented on #612
+1 Windows.

Specifically, my error is involving using the [don't stop pretraining repo](https://github.com/allenai/dont-stop-pretraining) when trying to build domains using `conda env create -f environment.yml` from the master branch.

I'm unsure if this is a Windows issue or not, but any resolution here would be greatly appreciated.

If the reproduction of don't stop pretraining can be done on C

[2021-04-30 03:32] ArjunSubramonian commented on #5170
We are unable to reproduce this issue with the [latest version](https://github.com/huggingface/transformers/blob/b29eb247d39b56d903ea36c4f6c272a7bb0c0b4c/src/transformers/file_utils.py#L1474-L1480) of AllenNLP.

[2021-04-30 03:54] niansong1996 commented on #5153
@dirkgr So I managed to extend the positional embedding for BART by looking at how Longformer did it. Now I am trying to mess with the `Tokenzier` and I can't seem to find a way to configure the tokenizer in the `.jsonnet` file for the `max_len` and `model_max_len` to be more than 1024, I think it will always be reset to whatever [here](https://github.com/huggingface/transformers/blob/master/src/t

[2021-04-30 04:27] epwalsh commented on #5170
@MausamGaurav, if you are still seeing this error with the latest version of both AllenNLP and transformers, could you post a full stack trace?

[2021-04-30 09:31] MausamGaurav commented on #5170
I upgraded AllenNLP to version 2.4.0. The below are the relevant version details:
[code]
This is what I did to again get the same error.

**Import libraries**:
[code]

**Try to load model from local file**:
[code]
I get the same error as before.
Please note that you need to turn off your internet connection to reproduce this error. As I already described, I am unable to download anything from the

[2021-04-30 14:32] epwalsh commented on #5128
It's safe to ignore that warning, but as I said in the thread @wlhgtc linked to, I would recommend just disabling parallelism in tokenizers (by setting the environment variable `TOKENIZERS_PARALLELISM` to `"false"`). In the benchmarks I ran that actually speed things up.

But if you really do want parallelism in the tokenizers lib, you can set "data_loader.start_method" to "spawn".

[2021-04-30 14:32] #5128 closed

[2021-04-30 17:11] mitra8814 opened #5171 "No module named 'allennlp.data.tokenizers.word_splitter'"
I'm using python 3.7 in google colab. I install allennlp=2.4.0 and allennlp-models.

When I run my code:

from allennlp.data.tokenizers.word_splitter import SpacyWordSplitter

 I get this error:

    ModuleNotFoundError: No module named 'allennlp.data.tokenizers.word_splitter'

help me please.

[2021-04-30 18:51] epwalsh commented on #5170
Ok, https://github.com/allenai/allennlp-models/pull/257 provides a work-around.

[2021-05-01 11:44] #5006 closed

[2021-05-01 15:13] JohnGiorgi commented on #5089
I implemented MLM in AllenNLP for my own project. Unfortunately its highly coupled to some other code, but these might be useful:

- Helper functions (mostly based on HF transformers) for BERT-like masking: https://github.com/JohnGiorgi/DeCLUTR/blob/master/declutr/common/masked_lm_utils.py
- MLM enabled text field embedder: https://github.com/JohnGiorgi/DeCLUTR/blob/master/declutr/modules/text_fie

[2021-05-01 19:30] ethch18 commented on #5089
@JohnGiorgi thank you!

[2021-05-02 08:36] Aiah commented on #5152
Hi, I let the batch without any train data return _None_, then modify train.py and trainer.py. If the batch output is _None_, then skip this batch. I think it works fine now, but I wonder it is correct.

[2021-05-02 15:48] AbhijayJ commented on #5150
Hey I would like to help in this if it hasn't been resolved yet

[2021-05-02 17:30] jmelot commented on #5150
Hey @AbhijayJ, I actually have some time blocked out to try and finish up on this this afternoon, but if I run out of time and need to hand it off I'll let you know!

[2021-05-02 20:53] MausamGaurav commented on #5170
Thanks for your efforts. This is finally working after I pasted the patched file "allennlp_models/structured_prediction/models/srl_bert.py" from  the new branch [srl-no-load-weights](https://github.com/allenai/allennlp-models/tree/srl-no-load-weights) into my local environment in the right location.
However, to make it work this is the sequence I had to follow (since I have to download all files m

[2021-05-02 21:50] epwalsh commented on #5170
@MausamGaurav I'm glad that worked for you. It's definitely not ideal, I'd like to have a better solution in the future. You shouldn't need to download the `pytorch_model.bin` file though. You could just do `json.loads("bert-base-uncased/config.json")` to get the config.

[2021-05-02 21:50] #5170 closed

[2021-05-02 21:51] #4599 closed

[2021-05-03 16:10] #5131 closed

[2021-05-03 17:08] jacob-morrison commented on #5171
Do you mean the `SpacySentenceSplitter`? If that's what you want, then you should change your import to:

`from allennlp.data.tokenizers.sentence_splitter import SpacySentenceSplitter`

[2021-05-03 17:53] #5150 closed

[2021-05-03 18:21] dirkgr commented on #5153
Is this just about the warning? I think the tokenizers will tokenize just fine, but they want to print that warning. If you know of a way to silence the warning, I'd love to put it in.

[2021-05-03 18:30] #5030 closed

[2021-05-03 18:43] #5145 closed

[2021-05-03 23:05] dirkgr commented on #5001
54% is almost random. There is certainly something wrong.

The most likely problem is the input data. I recommend you check what kind of data actually arrives at the model's `forward()` method. If you find something wrong there, we can work from there.

I like to do this in a debugger, but many people don't like debuggers. You can also add this to your trainer config to print the first batch:
[cod

[2021-05-03 23:19] dirkgr commented on #4590
The `*mismatched*` stuff does not support type ids. It would be a little difficult to do, because it operates on strings, not tokens, and strings don't have type IDs. You could probably fix this in `PretrainedTransformerMismatchedIndexer.tokens_to_indices`, because that function receives `Token`. We could put some code in there that preserves the type ids from the input. But usually those tokens w

[2021-05-05 08:50] dugudongfangshuo opened #5177 "I want load my model by own scripts how i do"
in your tutorial, you say:
see our chapter on writing your own scripts for pointers on how to save and load models if you aren't using configuration files.
but https://guide.allennlp.org/writing-your-own-script#3 is None  , can you give me some suggest

[2021-05-05 20:09] jacob-morrison commented on #5177
We have a template for a project that uses the API instead of configuration files here: https://github.com/allenai/allennlp-template-python-script, which should point you in the right direction.

[2021-05-06 02:58] ding00 commented on #5164
thank you! I will try this!

[2021-05-06 02:58] #5164 closed

[2021-05-06 20:20] orgadhadas opened #5184 "allennlp evaluate returns metrics per document, which doesn't agree with metric of connl-2012 task"
Hi,

The metrics Bcubed, ceaf and muc are computed and averaged over each document in the test set.
However, I couldn't find how to get the overall score on the test set, which is computed somewhat differently, by computing the percision and recall denominators on all of the test examples and then computing one number per metric (muc, bcubed, ceaf). This can be seen in the original score code from

[2021-05-07 00:16] david-waterworth opened #5186 "Input, output and indices must be on the current device"
Reading the documentation for the Trainer "If you are training your model using GPUs, your model should already be on the correct device. (If you are using our train command this will be handled for you.)" - https://docs.allennlp.org/main/api/training/trainer/

When I run the tutorial (https://github.com/allenai/allennlp-guide/blob/master/quick_start/train.py) the trainer throws `Input, output and

[2021-05-07 14:27] anoop-pm commented on #1265
howto find confidence score

[2021-05-07 17:06] epwalsh commented on #5186
Thanks @david-waterworth, the docstring for `cuda_device` is indeed out-of-date. This PR addresses that: https://github.com/allenai/allennlp/pull/5188. I'll follow up with another PR to update the guide.

[2021-05-07 17:21] #5186 closed

[2021-05-08 09:11] anoop-pm commented on #1265
How to find the confident score to find Very Confident, Somewhat Confident

[2021-05-08 16:38] #5184 closed

[2021-05-08 16:39] orgadhadas commented on #5184
Sorry, I misinterpreted the output.

[2021-05-10 14:03] MHDBST opened #5191 "Can not import allennlp.data.fields.array_field"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-05-10 15:35] DreamerDeo commented on #5191
+1

[2021-05-10 16:10] #5152 closed

[2021-05-10 16:10] #5151 closed

[2021-05-10 16:10] #5112 closed

[2021-05-10 16:42] blazejdolicki opened #5192 "Upgrading configuration from allennlp 0.9.0 to 1.3.0"
I'm trying to finetune a pretrained multilingual BERT model on dependency parsing using the Udify library. This library used allennlp==0.9.0, while I need to use allennlp=1.3.0 and I'm trying update the code for that. After making some changes in configuration file, I'm having an issue with input in the forward() method of the model. Namely, `tokens` are passed which in my case is a dictionary tha

[2021-05-10 21:00] MM-Vianai commented on #5112
@AkshitaB the issue is being closed however the original problem remains unsolved. Can this be opened again?

[2021-05-11 14:35] rkoystart opened #5196 "KeyError: 'Using PretrainedTransformerIndexer but field text_id is not set for the following token: [CLS]'"
I recently updated my allennlp version from 0.9.0 to 1.0.0. After this update when i run th following script

sample.py

[code]

i am getting the following error

[code]
Can anyone let me know , where i am making a mistake or missed out any things.
I am not getting any error when in run in allennlp 0.9.0 , i am getting an error when i run in allennlp 1.0.0
Thanks in advance!!!

[2021-05-11 23:33] david-waterworth opened #5197 "latest overrides package breaks allennlp"
The version of `overrides` dependency seems to have been bumped rapidly from `3.1.0` on 18 Jun 2020 to `6.1.0` 5 days ago (https://github.com/mkorpela/overrides/tags) with a release almost weekly. This seems to have added functionality to verify correctness of type annotations, which in turn throws exceptions on simple imports (see MRE below) which aren't annotated correctly such as `ArrayField.em

[2021-05-11 23:38] david-waterworth commented on #5191
As a workaround

`pip install overrides==3.1.0`

See https://github.com/allenai/allennlp/issues/5197

[2021-05-11 23:39] david-waterworth commented on #5197
Also see https://github.com/mkorpela/overrides/issues/77

[2021-05-12 07:17] #5192 closed

[2021-05-12 11:40] MHDBST opened #5198 "Pretrained model for RE on SciBert"
Hi,
I am new to allennlp. I was able to train a model using `train_allennlp_local.sh` with `DATASET='chemprot'` and `TASK='text_classification'` I have some issues on reproducing the same results as reported in the paper:

when I set `with_finetuning='_finetune'` the model is never improving while training. After a lot of epochs it converges at a `average F1 score = 0.05` which is ridiculously low

[2021-05-12 16:36] dirkgr commented on #5153
@niansong1996, any updates?

[2021-05-12 17:01] niansong1996 commented on #5153
@dirkgr Sorry for the delay. It seems to me that the model is now accepting 2048 tokens after the positional embedding extension, despite the warnings. However, I still can not match AllenNLP's BART to the fairseq version (on my task, ~2 points ROUGE-2 and ROUGE-L difference, which is quite large).

I am a little bit tied up with some paper deadlines, but I will make a PR about the positional embe

[2021-05-12 20:48] valiantljk commented on #4579
any update on this?

[2021-05-13 16:11] #4860 closed

[2021-05-13 22:13] epwalsh commented on #5197
Thanks for bringing this up and doing the digging @david-waterworth. Sounds like upgrading `overrides` will be a little tedious 😒

I'm putting "Contributions welcome" on this for now because I don't think any of us will be able to get to it in the immediate future.

[2021-05-13 22:15] epwalsh commented on #5191
It's interesting that this is popping up now. Are you all using some other package that pins `overrides` to this newer version?

[2021-05-13 22:21] david-waterworth commented on #5197
In the interim would it make sense to update setup.py to require overrides<=3.1.0? Otherwise, anyone who installs allennlp from pip gets a broken install atm. Also given the breaking nature of the change, maybe the overides developers have (or may consider) a way of turning this feature off - it must sure;y break many libraries which use the original version.

[2021-05-13 22:28] epwalsh commented on #5197
Oh, you must be using a really old version of allennlp then? We've had it pinned since 1.0.

[2021-05-13 22:30] david-waterworth commented on #5197
Yes I'm using a third-party library that had pinned to 0.8.4, which is part of the reason for my confusions as the library is fairly new so I'm not sure why they pinned such an old version of allennlp.

[2021-05-14 00:16] epwalsh commented on #5196
Can you post the code for your custom predictor, model, and dataset reader? Otherwise I won't be able to reproduce.

[2021-05-14 16:25] MHDBST commented on #5191
@epwalsh No, actually there are some version mismatches between the codes. I had to downgrade `allennlp` to one of the previous version to be able to run `train_allennlp_local.sh`

Needless to mention here, but when I install `allennlp` using the instructions [here](https://github.com/allenai/allennlp) via Conda, after running `train_allennlp_local.sh` I get this error:

`TypeError: '_NamespacePat

[2021-05-14 18:29] epwalsh commented on #5198
Pinging @kyleclo in case he has an answer

[2021-05-14 22:52] ericluo04 opened #5202 "Sentiment Analysis (RoBERTa) Prediction Error"
Hello! I'm working in a google colab notebook and find the below error when trying to predict using the RoBERTa pretrained sentiment analysis model:

[code]

My package installation code is:
[code]
Running this code (straight from the [documentation](https://demo.allennlp.org/sentiment-analysis/roberta-sentiment-analysis)) produces the mentioned error:
[code]

The model itself seems to load but th

[2021-05-16 07:42] TITC commented on #4384
version 0.9.0 not work for me,  any advice is welcome
[code]

[2021-05-16 07:54] TITC opened #5203 "'from allennlp.commands.elmo import ElmoEmbedder' not work even in 0.9.0"
version 0.9.0 not work for me,  any advice is welcome
[code]

_Originally posted by @TITC in https://github.com/allenai/allennlp/issues/4384#issuecomment-841781842_

[2021-05-17 10:03] thak123 opened #5204 "Example for fine-tunning or multi-task on huggingface transformers"
Hi

I am looking for examples of allennlps' latest features,
I can't seem to find one. Can anyone point me to the link?

[2021-05-17 15:24] danieldeutsch opened #5205 "Add features to beam search that are supported in other libraries"
**Is your feature request related to a problem? Please describe.**
Other libraries, like `transformers` and `fairseq`, have implemented several beam search options that aren't included in AllenNLP, which would be useful to have. For instance:

1. Minimum-length requirements
2. Scoring the final sequences by the average log probability per token instead of the sum of the log probs.
3. Normalizing t

[2021-05-17 15:30] Aktsvigun opened #5206 ""Overall statistics" for span_based_f1_measure"
For `span_based_f1_measure` metric it is written in `Return` in [docs](http://docs.allennlp.org/main/api/training/metrics/span_based_f1_measure/):

However, the overall statistics can be calculated using either _micro_, or _weighted_, or _macro_ methods. Which one is used in this case?

Thanks!

[2021-05-17 16:10] #5171 closed

[2021-05-17 16:54] danieldeutsch commented on #5205
Looks like #5113 is asking for 3 as well.

[2021-05-17 20:58] epwalsh commented on #5205
These would be all be great! Looks like you've got 1-3 covered (I'll finish reviewing shortly), and I think 4 could be implemented as a [`Sampler`](https://docs.allennlp.org/main/api/nn/beam_search/#sampler).

[2021-05-17 21:27] danieldeutsch commented on #5205
I do think 4 could be a `Sampler`, but blocking repeated ngrams and picking which sampling technique you use seem like they should be orthogonal decisions to me. I was imagining it could be implemented as an abstract `Constrant` class which would be able to zero-out predictions on each step. Each constraint could have its own state, which, in this case, would keep track of which ngrams have alread

[2021-05-17 21:38] epwalsh commented on #5205
Actually I really like this idea of having a `Constraint` abstract class. This would allow people to use our `BeamSearch` for constrained generation tasks like semantic parsing, where the generated tokens have to form valid SQL or whatever.

[2021-05-17 21:44] epwalsh commented on #5202
Can you try updating AllenNLP to 2.4.0?

[2021-05-17 21:53] AkshitaB commented on #5202
@ericluo04 As @epwalsh mentioned, the issue seems to be resolved in later versions. The instructions on the demo should be updated with: https://github.com/allenai/allennlp-models/pull/264

[2021-05-17 22:08] AkshitaB commented on #5206
@Aktsvigun The overall statistics are computed using micro-averaging. https://github.com/allenai/allennlp/blob/main/allennlp/training/metrics/span_based_f1_measure.py#L278

[2021-05-17 23:02] AkshitaB commented on #5204
Hi @thak123

Here's an allennlp config file that trains a multi-task vilbert model, where the tokenizer is a huggingface transformer.
https://github.com/allenai/allennlp-models/blob/main/training_config/vision/vilbert_multitask.jsonnet

Other relevant code can be found here:

Dataset reader: https://github.com/allenai/allennlp/blob/main/allennlp/data/dataset_readers/multitask.py
Data loader: https

[2021-05-18 06:15] flyangovoyang opened #5210 "miss O in allowed_transitions ?"
https://github.com/allenai/allennlp/blob/79d16af1f9d719934a1aa4a3506482c05e24aae6/allennlp/modules/conditional_random_field.py#L14-L56

https://github.com/allenai/allennlp/blob/79d16af1f9d719934a1aa4a3506482c05e24aae6/allennlp/modules/conditional_random_field.py#L138-L154

according to the codes above, O -> B-PER is not allowed when calling:

[code]

[2021-05-18 06:52] Aktsvigun commented on #5206
@AkshitaB Thanks!

[2021-05-18 06:52] #5206 closed

[2021-05-18 11:38] thak123 commented on #5204
Hi @AkshitaB

Thanks for the pointers.

[2021-05-18 16:28] #5113 closed

[2021-05-18 19:28] AkshitaB opened #5211 "Models loaded using the `from_archive` method need to be saved with original config"
When `allennlp train` is used to fine-tune a pretrained model (`model A`) using `from_archive(path_to_A)`, the finetuned model (`model B`) is saved with the config that contains `from_archive`. This means that if you try to now finetune the `model B`, it needs the original `model A` at the exact `path_to_A`, as well as `model B`. In the normal usecase, this will fail if the user does not have acce

[2021-05-19 16:15] #5177 closed

[2021-05-20 04:26] ericluo04 commented on #5202
Updating fixed the issue. Thanks so much @epwalsh @AkshitaB!

[2021-05-20 04:26] #5202 closed

[2021-05-20 21:00] danieldeutsch commented on #5153
@niansong1996 Check out the changes I made in #5207 and #5208. I was able to match the BART paper's scores using [these hyperparameters](https://github.com/pytorch/fairseq/blob/425c36eafff535fe7337f8bdd5ace22ebacc78cb/examples/bart/summarize.py#L10-L11) for min/max sequence length and the length penalties. I actually didn't need to implement the trigram blocking 🤷‍♂️

[2021-05-20 21:01] danieldeutsch commented on #5153
Also to reproduce the ROUGE-L result, you actually need to sentence split the summaries before running ROUGE.

[2021-05-20 22:01] niansong1996 commented on #5153
@danieldeutsch This is so cool! Thanks a lot!

About ROUGE-L, currently, the AllenNLP version directly takes the token ids in its tensor form [(see here)](https://github.com/allenai/allennlp/blob/main/allennlp/training/metrics/rouge.py#L165), are you using other packages for ROUGE computation or you have a workaround?

[2021-05-21 03:43] kaloon2009 opened #5217 "TypeError: ArrayField.empty_field: return type `None` is not a `<class 'allennlp.data.fields.field.Field'>"
I used Colab for my project.
I installed  _allennlp==0.9.0_
When I import _from allennlp.predictors.predictor import Predictor_

I get a error as below:

    ---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-20-f25591a9ae36> in <module>()
      2 nlp = spacy.load("en_core_web_sm")

[2021-05-21 10:58] wlhgtc opened #5218 "Can we convert collate_fn in Dataloader to a custom class(or function) ?"
For some task(such as masking ), we want to mask different pos in different epoch for the same record.
 Like the [code](https://github.com/huggingface/transformers/blob/1c06240e1b3477728129bb58e7b6c7734bb5074e/src/transformers/trainer.py#L546) in Transformers, we could pass a class to the collate_fn.
But now we only have a simple [allennlp_collate](https://github.com/allenai/allennlp/blob/b180d575

[2021-05-21 11:04] wlhgtc commented on #5218
@epwalsh

[2021-05-21 11:42] Qi-HuT commented on #5203
Did you solve the problem?

[2021-05-21 11:44] TITC commented on #5203
no

[2021-05-21 14:09] danieldeutsch commented on #5153
The AllenNLP ROUGE is fine for training, but you should really use the original package for calculating the final scores on the test set. I think the AllenNLP version operates on the token ids, which could be problematic if your model uses subtokens for its vocabulary. ROUGE is also typically calculated using a Porter Stemmer on the tokens, which also isn't done here.

Shameless plug: I use a libr

[2021-05-21 14:26] danieldeutsch opened #5219 "Remove `end_index` from `BeamSearch` constructor"
**Is your feature request related to a problem? Please describe.**
As far as I know, the only way to configure `BeamSearch` in a config file is by hard coding the `end_index` for the specific vocabulary. This is not desirable because then the config file isn't very generic. As a result, you have to add the `BeamSearch` parameters to your model's constructor, then create the `BeamSearch` object you

[2021-05-21 15:47] AkshitaB commented on #5217
@kaloon2009 It appears to be because the latest `overrides` package breaks the older versions of allennlp (please see https://github.com/allenai/allennlp/issues/5197).

If you must use allennlp `0.9.0`, as per a workaround suggested on that issue, can you try downgrading the version of `overrides` to `3.1.0`?

Otherwise, try upgrading to newer versions of allennlp.

[2021-05-21 15:48] AkshitaB commented on #5203
@TITC  It appears to be because the latest `overrides` package breaks the older versions of allennlp (please see https://github.com/allenai/allennlp/issues/5197).

If you must use allennlp `0.9.0`, as per a workaround suggested on that issue, can you try downgrading the version of `overrides` to `3.1.0`?

[2021-05-21 16:20] #5204 closed

[2021-05-21 16:28] kaloon2009 commented on #5217
Thanks @AkshitaB  I upgrade it to the last version by runing "_pip install allennlp_"
Now, I faced another error :

     ---------------------------------------------------------------------------
ConfigurationError                        Traceback (most recent call last)
<ipython-input-8-f25591a9ae36> in <module>()
      3
      4 from allennlp.predictors.predictor import Predictor
----> 5 predic

[2021-05-21 22:53] TITC commented on #5203
It works, great! Thanks for your kindly help.

[2021-05-21 22:53] #5203 closed

[2021-05-21 23:08] AkshitaB commented on #5210
@flyangovoyang Can you clarify a bit more? From my understanding, the `BMES` tagging scheme is character-based sequence labeling, rather than words. Each character in the text would either be the beginning, middle, or end character in a word, or else a single character word. So, for this tagging scheme, you would never expect to transition to/from `O`.

[2021-05-21 23:13] AkshitaB commented on #5217
@kaloon2009 You will also need to install the corresponding version of `allennlp-models`. You can refer to [this](https://demo.allennlp.org/constituency-parsing) for examples on usage.

[2021-05-23 01:19] kaloon2009 commented on #5217
Thanks @AkshitaB
It's working now by installing the _allennlp-models_

I was following an old guideline for allennlp. That why I got an error

[2021-05-23 13:17] #5210 closed

[2021-05-24 09:36] wlhgtc commented on #5218
Maybe just like what we have done in [optimizer](https://github.com/allenai/allennlp/blob/main/allennlp/training/optimizers.py), import `Collator` class from Transformers and use a custom base class to cover ?

[2021-05-24 16:13] #5191 closed

[2021-05-24 17:02] epwalsh commented on #5218
This would be a good feature to have, and easy to add without breaking backwards compat.

Would you like to make a PR?

[2021-05-24 23:20] nelson-liu commented on #5064
FWIW, this seems to be fixed with the 1.9.0 nightly.

[2021-05-24 23:20] #5064 closed

[2021-05-24 23:26] dirkgr commented on #5064
Took a while, but I'm always super happy when PyTorch fixes a bug for us :-)

[2021-05-25 02:31] wlhgtc commented on #5218
Well, I'll try it soon.

[2021-05-25 16:13] #5196 closed

[2021-05-25 20:57] AkshitaB commented on #5217
@kaloon2009 Perfect!

[2021-05-25 20:57] #5217 closed

[2021-05-25 23:11] AkshitaB commented on #4942
Closing.

[2021-05-25 23:11] #4942 closed

[2021-05-25 23:39] #4932 closed

[2021-05-26 05:15] yuhaia opened #5224 "Does version 0.9.0 can train model with multiple gpus?"
Hi, I'm running a [project](https://github.com/sebastian-hofstaetter/transformer-kernel-ranking) written with allennlp where the version is 0.9.0. And I want to use multiple gpus to accelerate the training process. I found a previous issue in [3831](https://github.com/allenai/allennlp/issues/3831). But it seems that version 0.9.0 can not support training with multiple gpus?

[2021-05-26 09:53] MSLars opened #5225 "Access the [CLS] token when using a pretrained_transformer_mismatched_embedder"
Is there a simple way to access the `[CLS]` Token after encoding a token-sequence using a `pretrained_transformer_mismatched_embedder`?

Using a `bert_pooler` `seq2vec` encoder leads to an additional forward pass through the transformer. My Intuition is, that this should be avoided.

In [pretrained_transformer_mismatched_embedder.py](https://github.com/allenai/allennlp/blob/main/allennlp/modules/t

[2021-05-26 16:16] #5198 closed

[2021-05-26 18:59] dirkgr commented on #5153
Is this something we could adopt as a metric in AllenNLP? The metric API would require that we pass in two strings (or two lists of strings), one with the actual results, and one with the target results. Inside the metric we'd have to tokenize, porter-stem, and calculate ROUGE.

"Wrapper around perl" sounds a bit scary to me though. That's going to generate a lot of questions on Stack Overflow and

[2021-05-26 19:14] danieldeutsch commented on #5153
This one is popular https://github.com/google-research/google-research/tree/master/rouge. It's included in this pip package https://pypi.org/project/rouge-score/ and used by Huggingface https://github.com/huggingface/datasets/blob/67574a8d74796bc065a8b9b49ec02f7b1200c172/metrics/rouge/rouge.py

[2021-05-27 01:04] offendo opened #5228 "Add option to set `find_unused_parameters` (if necessary?)"
Hello! Thanks for the fantastic work on this project.

## Problem
In the `Trainer` class, the `find_unused_parameters` flag for DDP is set to `True`, which causes the following warning when running distributed code.
[code]

(Issue #3574 and PR #3575 are related)

## Request

The warning states it can adversely affect performance, but I'm not clear on how much exactly. Simply traversing the graph s

[2021-05-27 17:35] dirkgr commented on #5228
I think I just want to turn that parameter off completely. It's not reliable with multitask models, it prints a warning, and it's weird that we get this check only in the distributed setting. If we want to provide this functionality, I'd rather do it in a `TrainerCallback`. @epwalsh, @AkshitaB, any concerns?

[2021-05-27 20:57] dirkgr commented on #5225
What's the situation that requires you to have both the mismatched embeddings, but also the CLS token?

[2021-05-27 21:00] dirkgr commented on #5225
I guess the easiest thing would be to add a flag to the embedder that allows you to keep the CLS token. I'd be happy to review a PR if you make one?

[2021-05-27 21:04] dirkgr commented on #5224
Sorry, it cannot. The original 1.0 release has an upgrade guide. Is that helpful? https://github.com/allenai/allennlp/releases/tag/v1.0.0

[2021-05-27 21:04] #5224 closed

[2021-05-27 21:06] dirkgr commented on #5219
@JohnGiorgi found a similar problem, with a different solution, at https://github.com/allenai/allennlp-models/pull/267. Does his approach make sense for you?

[2021-05-27 21:07] dirkgr commented on #5218
Done! Thank you!

[2021-05-27 21:07] #5218 closed

[2021-05-27 21:08] dirkgr commented on #5211
We need a `Model.to_params` API.

[2021-05-28 04:13] niansong1996 commented on #5153
Yes, I can confirm that the AllenNLP version of ROUGE somewhat differs from the original perl version, I observe ~1 point difference in ROUGE-1 and ROUGE-L. And I also agree with @danieldeutsch on the `rouge-score` package, which yields ~0.1 difference from the perl version for my experiments. Should we open another issue to talk about ROUGE score though?

On this issue, I am going to test on #520

[2021-05-28 05:40] dirkgr commented on #5153
There is no point in worrying about differences in the implementation of ROUGE while one method uses stemmed tokens, and another uses word pieces. Let's get a version running that also uses stemmed tokens, and then see if the numbers are still different.

[2021-05-28 06:55] MSLars commented on #5225
I want to implement a joint relation extraction model inspired by [this approach](https://github.com/lavis-nlp/spert). The approach enumerates text-spans as entity candidates. The candidate representation contains a concatenation of max-pooled token vectors and [CLS] token. The paper contains no concrete numbers regarding this design decision but it might be helpful to include some wider context i

[2021-05-28 08:14] c4n opened #5230 "FloatField for regression problem"
**Is your feature request related to a problem? Please describe.**
This library does not support regression tasks.  May be we can start with a data field that can handle continuous numerical value.  I already have a code for this feature, I'm not sure If this is something you would want in AllenNLP.

**Describe the solution you'd like**
data field/data reader that can handle continuous value.

**D

[2021-05-28 16:24] dirkgr commented on #5228
@epwalsh says he has this fixed in his work on T5.

[2021-05-28 16:35] dirkgr commented on #5230
Does `TensorField` solve the issue? You can just put a single value into the tensor.

[2021-05-28 19:00] dirkgr commented on #5225
Does that really need the mismatched embedder? The mismatched embedder is there to give you the ability to use some tokenization other than BERT word pieces with BERT. You can use it for arbitrary spans, but that's not what it was for originally.

Maybe you can just run the regular `PretrainedTransformerEmbedder`, and handle the spans yourself (with `batched_span_select`, or even by stealing the r

[2021-05-28 21:39] dirkgr commented on #5153
Oh, I see that https://pypi.org/project/rouge-score/ does all of it, tokenization, stemming, the lot. Then it should be easy to use it in an AllenNLP metric.

[2021-05-28 21:46] dirkgr commented on #5219
Sorry, I misunderstood what `end_index` is for when I first looked at these issues. I understand now.

@JohnGiorgi is going to make a PR that uses `Lazy` to let you specify a `BeamSearch` in a config file. I believe this will solve this issue, too. Feel free to re-open this if I'm wrong about that.

[2021-05-28 21:46] #5219 closed

[2021-05-28 21:47] dirkgr commented on #5228
Update: There is no PR yet for Pete's work, but we'll link the issue when there is one.

[2021-05-29 14:29] c4n commented on #5230
yes, it does! I didn't notice it because I was looking an older version of the documentation. Thanks!

[2021-05-29 14:29] #5230 closed

[2021-05-29 20:58] offendo commented on #5228
Thanks, appreciate it!

[2021-05-30 15:10] mahnerak opened #5232 "Vocabulary is not ready when the model is being initialized"
When the model is initialized (inside the `Model.__init__`), the `vocabulary` is provided, however, some parts of it are not ready.
For example - the vocabulary of the pretrained LM used by our model.
[code]

This is because `model.construct()` is called before `data_loader_.index_with(model_.vocab)`. Moving the model initialization after the `data_loader_.index_with(model_.vocab)` populated vocab

[2021-05-30 21:19] dirkgr commented on #5230
It used to be called "ArrayField", so if you don't want to upgrade, you
could use that.

On Sat, May 29, 2021, 07:29 Can Udomcharoenchaikit ***@***.***>
wrote:

[2021-05-31 03:29] Nitasophia opened #5233 "Can't install allennlp 0.5.0"
I want to use ElmoEmbedder from [Elmo](https://github.com/UKPLab/elmo-bilstm-cnn-crf/blob/master/Keras_ELMo_Tutorial.ipynb).

Requirements:
Python 3.6 - lower versions of Python do not work
AllenNLP 0.5.1 - to compute the ELMo representations
Keras 2.2.0 - For the creation of BiLSTM-CNN-CRF architecture

When i install allennlp 0.5.0, i got error like this.
`ERROR: Could not find a version that sa

[2021-05-31 11:27] MagiaSN opened #5234 "Tqdm logging into multiple files with allennlp-optuna"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-06-01 00:26] niansong1996 commented on #5153
@danieldeutsch I have just tried to use the latest AllenNLP version with #5207 and #5208 merged. I am using `rouge-score` as the package for computing ROUGE scores, but I still can't get the numbers reported by fairseq. My current ROUGE-1/2/L scores are 43.2/20.6/30.4. My configuration is as follows:

[code]

Does this look similar to the setting you were running? Also, you mentioned that sentence

[2021-06-01 17:42] #5205 closed

[2021-06-01 19:07] danieldeutsch commented on #5153
Yes, you need to use the length penalty of 2.0 via the [LengthNormalizedSequenceLogProbabilityScorer](https://github.com/allenai/allennlp/blob/39d7e5ae06551fe371d3e16f4d93162e55ec5dcc/allennlp/nn/beam_search.py#L491-L509). I think that should make the difference.

I have never used the Google ROUGE package myself, but the note in the [Readme](https://github.com/google-research/google-research/tree

[2021-06-02 01:03] ArjunSubramonian commented on #5234
Thanks for opening a PR! @epwalsh and I will take a look at it once it's done.

[2021-06-02 01:05] ArjunSubramonian commented on #5233
Did you run `pip install torch==0.4.0 -f https://download.pytorch.org/whl/torch_stable.html`?

[2021-06-02 03:11] Nitasophia commented on #5233
i got the same error like before

[2021-06-02 17:29] danieldeutsch opened #5237 "Accept compressed files as input to `predict` when using a `Predictor`"
**Is your feature request related to a problem? Please describe.**
I typically used compressed datasets (e.g. gzipped) to save disk space. This works fine with AllenNLP during training because I can write my dataset reader to load the compressed data. However, the `predict` command opens the file and reads lines for the `Predictor`. This fails when it tries to load data from my compressed files.

[2021-06-02 21:44] #5234 closed

[2021-06-03 03:15] david-waterworth commented on #5233
@Nitasophia you are using python 3.6? It was mentioned in your original post but torch 0.4.0 is only available for 3.6.

The following seems to work for me

[2021-06-03 05:01] ArjunSubramonian commented on #5237
I think this feature is a great idea! The latter design (passing a flag) seems better to me.

I am adding @epwalsh here to get his input as well.

[2021-06-03 05:06] ArjunSubramonian commented on #5232
Could you elaborate on how one could index `data_loader` without the lazy initialization of `Model` occurring first? You need access to `model_` (which is returned by `model.construct`) to index `data_loader`.

[2021-06-03 07:15] mahnerak commented on #5232
@ArjunSubramonian `model_.vocab` is not available yet, but can't we suppose it will be `vocabulary_` passed to the `Model.construct()`? So we can simply `data_loader_.index_with(vocabulary_)` and then pass the (possibly modified) `vocabulary_` to the model.

In our internal version (we need our model to have an access to the vocabulary on the initialization stage) we've done this like:
https://git

[2021-06-03 11:15] OhadRubin opened #5240 "Pre-trained initializer with a jsonnet config file"
Hey, how do you use the PretrainedModelInitializer with a config file?
See here https://github.com/OhadRubin/SmBop/issues/20

[2021-06-03 15:33] Nitasophia commented on #5233
i have, but still can't install allennlp 0.5.0 so i switch to use allennlp 0.8.5. Thanks

[2021-06-03 15:33] #5233 closed

[2021-06-03 16:42] ArjunSubramonian commented on #5240
Hey! Please let me know if I'm misunderstanding the issue, but if you're simply looking to load pretrained weights for an entire model from an archive model for the purpose of fine-tuning, you can do this:
[code]

[2021-06-03 18:26] ArjunSubramonian commented on #5232
Oh, I see. Thanks for explaining this. Yes, I guess that would be useful if the model's `output_dim` depended on `vocab_size`, for example.

I'm adding @AkshitaB here for a second opinion, but it seems reasonable to add a kwarg to `from_partial_objects` that indicates the relative ordering of data loader indexing and model construction (with the default being what we have currently: model construc

[2021-06-03 18:29] jasonyoun commented on #5064
I had the same issue with 1.8.0, CUDA 11.1. I'd like to also reassure people like me that updating to 1.9.0 nightly fixed the issue.

[2021-06-03 19:38] epwalsh commented on #5237
Yeup, this seems reasonable. I think we try to automatically detect the compression type, but also have the flag so that users can override it when the automatic detection fails.

You may find this helper function useful: https://github.com/allenai/allennlp/blob/7a5106d541006a5b7f544284aeedb03ba2b480d5/allennlp/common/file_utils.py#L1087

[2021-06-03 20:57] mahnerak commented on #5232
@ArjunSubramonian Do we have an example of a model that alters the vocab in `Model.__init__`?
The only such model I've found so far:

https://github.com/allenai/allennlp-models/blob/e395e6338ed96759e145063ce5e9a2864f51bff6/allennlp_models/generation/models/copynet_seq2seq.py#L95
[code]

In examples like this, do we really want to index with data loaders only after the model has added new tokens?
I

[2021-06-03 23:00] ArjunSubramonian commented on #5232
Even if it would keep the API simple, we need to guarantee backwards compatibility for all edge cases, so we should definitely use a flag.

[2021-06-04 04:27] AntoThomasK03 opened #5243 "ValueError while parsing the input file for OpenIE model"
I am using the Docker container for predicting the triple using the pretrained OpenIE model. While running the container I get this error
"ValueError: unable to parse C:/Users/a01thoma/Downloads/ClausIE-datasets/ClausIE-datasets/test.json as a URL or as a local path" (https://github.com/allenai/allennlp/blob/7a5106d541006a5b7f544284aeedb03ba2b480d5/allennlp/common/file_utils.py#L328)

In the json

[2021-06-04 06:26] AntoThomasK03 commented on #5243
Sorry. I solved the issue. It was something to do with the Docker.
It was beacuse I didn't bind mount my local folder.

[2021-06-04 11:21] MSLars commented on #5225
Thanks for this advice. In my specific case, this solves the problem. I will prepare the PR anyway since it might be useful for others for various reasons. Anyway, thank you very much for your help and the quick replies.

[2021-06-04 11:21] #5225 closed

[2021-06-04 12:34] ogunoz commented on #5197
@david-waterworth Same here. I had to use allennlp 0.8.3 and i had the latest overrides version by default. Downgrading overrides library to 3.1.0 solved it. Thanks for your helpful comments

[2021-06-04 15:47] epwalsh commented on #4862
Now that we're saving meta data in model archives, adding this should be pretty straightforward. We'd just need to add it to the [`Meta`](https://github.com/allenai/allennlp/blob/main/allennlp/common/meta.py) class.

[2021-06-04 15:54] epwalsh commented on #5232
Ideally `data_loader.index_with(vocab)` should **not** modify the `vocab`. But, as @mahnerak noted, sometimes the pretrained transformer indexer will in fact modify the `vocab` if the transformer model's namespace hasn't been added yet. Though you can avoid this by using the [`from_pretrained_transformer`](https://github.com/allenai/allennlp/blob/7a5106d541006a5b7f544284aeedb03ba2b480d5/allennlp/d

[2021-06-04 16:31] ArjunSubramonian commented on #5243
Can you try providing the input in JSON lines format? That is, could you structure your input file like so (each sentence separated by a newline):

[code]

[2021-06-05 04:34] tshu-w commented on #4862
@epwalsh Awesome, I think it's a more common solution.

[2021-06-05 07:49] AntoThomasK03 commented on #5243
Worked like a charm :) Thanks Arjun.

[2021-06-05 07:49] #5243 closed

[2021-06-06 10:04] OhadRubin commented on #5240
Thanks

[2021-06-06 10:04] #5240 closed

[2021-06-07 15:06] bhadreshpsavani opened #5244 "[Docs] Link is broken in the Doc of fairness_metrics"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-06-07 16:11] epwalsh commented on #4862
@tshu-w we're going to keep this open until the feature is added. Do you still want to make a PR?

[2021-06-07 17:03] jacob-morrison commented on #5244
Thanks for catching that, and for submitting a PR to fix it! I commented on your PR, so we can submit it once the checks are all passing and close this issue.

[2021-06-07 17:49] dirkgr commented on #5153
@niansong1996, your implementation of `NEW_ROUGE`, it uses the Google package? Can you point me to that code? I want to see how hard it would be to make it an official AllenNLP metric.

[2021-06-07 18:02] #5244 closed

[2021-06-07 21:55] dirkgr commented on #5050
@gaozhiguang, do you still need help with this?

[2021-06-08 06:03] tshu-w commented on #4862
@epwalsh I would love to, but I cannot promise.

[2021-06-09 07:42] niansong1996 commented on #5153
Yes, this is using the [https://pypi.org/project/rouge-score/](https://pypi.org/project/rouge-score/). So what I was doing in my code is to have a `Average` metric as a wrapper and call the `rouge-score` package in the forward function. I think it should be super easy to write an AllenNLP metric out of it.

[2021-06-10 16:36] venkag-amzn opened #5252 "Issue deserializing arrays & integers"
Hello, I am new to using AllenNLP and JSON Net. I am running into a weird issue when params.py calls evaluate_file of the jsonnet library. It appears deserialization of strings/boolean variables works fine but if I provide an integer/arrays in my jsonnet file, then those end up blank resulting in a JSONDecodeError expecting a value for the integer/array property in the transformed JSON file.

I wa

[2021-06-10 21:36] epwalsh opened #5253 "Upload coverage report from GPU tests and model tests"
Apparently this should just work, i.e. codecov will automatically handle merging the different reports. https://docs.codecov.io/docs/merging-reports

[2021-06-11 07:20] david-waterworth opened #5254 "pretrained_transformer_indexer sets token_ids and mask to different lengths"
In `pretrained_transformer_indexer` the method `tokens_to_indices` adds `token_ids`, `mask` and `type_ids` to the output dict.

https://github.com/allenai/allennlp/blob/a6cfb1221520fca7a5cc55bef001c6a79a6a3e2f/allennlp/data/token_indexers/pretrained_transformer_indexer.py#L94

This is then passed to `_postprocess_output` which potentially resizes token_ids and type_ids (i.e. # Strips original spec

[2021-06-11 21:02] dirkgr commented on #5254
The size of the `"mask"` tensor should match the size of the output from `pretrained_transformer_embedder`. Do you find that this is not the case?

Can you post a complete training config that I can run to take a closer look?

[2021-06-12 07:14] david-waterworth commented on #5254
I'm using a custom hugging face tokeniser I trained myself, with a data reader. I tied to reproduce using BERT and I cannot so there's something different about my setup. Maybe keep this open for a bit and I'll try and work out what's different and either way I'll report back what's causing the issue.

[2021-06-13 01:16] david-waterworth commented on #5254
@dirkgr I found the issue. In the `PretrainedTransformerIndexer` `_postprocess_output` method you call the huggingface tokenizers `build_inputs_with_special_tokens` method to reconstruct each segment after striping the specials.

The docstring for this method (in the PreTrainedTokenizerBase class) says:

`This implementation does not add special tokens and this method should be overridden in a sub

[2021-06-13 01:16] #5254 closed

[2021-06-13 14:11] theadammurphy opened #5258 "Add a conda install for Mac"
There is a [conda-forge](https://anaconda.org/conda-forge/allennlp) install for Linux. Could you please also add one for Mac?

https://conda-forge.org/#add_recipe

[2021-06-14 16:14] #5232 closed

[2021-06-14 19:45] wgantt opened #5259 "Initialization of InterleavingDatasetReader from Jsonnet"
**Is your feature request related to a problem? Please describe.**
It may be that it's possible to do this already, but it's unclear to me whether an `InterleavingDatasetReader` can be fully initialized from a Jsonnet config file, as it seems the `readers` parameter expects a dictionary whose values are already-constructed `DatasetReader`s.

**Describe the solution you'd like**
It would be nice if

[2021-06-15 02:41] WANGZhaowei-Wesley opened #5260 "I think the implementation of bimpm_mathcing is wrong"
## Checklist

- [ ] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [ ] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [ ]

[2021-06-15 06:31] nithinreddyy opened #5261 "Which is best pretrained model now in AllenNlp to use for Semantic search engine?"
**Which is best pretrained model now in AllenNlp to use for Semantic search engine?**

I have one pretrained model, but it's built in 2017. I think by this time we will have so many new pretrained models.

`predictor = Predictor.from_path("https://s3-us-west-2.amazonaws.com/allennlp/models/bidaf-model-2017.09.15-charpad.tar.gz")`

The above is the pretrained model i saw.

**Can anyone suggest the

[2021-06-15 09:17] vicky-abr opened #5262 "allennlp.common.checks.ConfigurationError:"
allennlp.common.checks.ConfigurationError: from_params was passed a `params` object that was not a `Params`. This probably indicates malformed parameters in a configuration file, where something that should have been a dictionary was actually a list, or something else. This happened when constructing an object of type <class 'allennlp.nn.initializers.InitializerApplicator'>.

[2021-06-15 17:41] Aasif-Multani opened #5263 "Passage limit for Reading comprehension by using Transformer QA pretrained model"
Please ask questions on [Stack Overflow](https://stackoverflow.com/questions/tagged/allennlp) rather than on GitHub.  We monitor and triage questions on Stack Overflow with the AllenNLP label and questions there are more easily searchable for others.

What is the max passage limit or hardware limit to use transformer-qa model for reading comprehension:
**Predictor.from_path('https://storage.google

[2021-06-15 18:28] dirkgr commented on #5254
I'd hate to leave a situation in the code where it works on some inputs but fails on some others. It's annoying when your training gets 90% through the epoch, and then it encounters some value that makes it fail.

If it's worth it for performance, then I'd consider a PR for it.

[2021-06-15 22:42] david-waterworth commented on #5254
Yes that's a good point, this code only runs when you supply max_length anyway so it's not particularly important.

[2021-06-15 22:49] #5253 closed

[2021-06-16 13:55] epwalsh commented on #5262
Could you please provide a code snippet that results in this error?

[2021-06-16 13:57] epwalsh commented on #5263
You'll probably need 2-4 GiB

[2021-06-16 13:57] #5263 closed

[2021-06-16 14:06] Aasif-Multani commented on #5263
my current system configuration is 16GB and i5 processor.

[2021-06-16 17:27] epwalsh commented on #5263
Well how much free memory do you have before running AllenNLP? You can use a tool like `top` to to monitor memory consumption.

[2021-06-16 18:03] ntnshrm commented on #5263
@epwalsh does it also depends on the size of passage one can pass. in terms of number of tokens/statements.  is there any limits on that.

@Aasif-Multani can you let us know how much data you are passing in passage (input)

[2021-06-16 22:57] mkyriakakis commented on #1614
They concat twice the first layer of the CNN-derived word embeddings (https://github.com/allenai/bilm-tf/blob/7cffee2b0986be51f5e2a747244836e1047657f4/bilm/model.py#L120) to make the first layer dimension
equal to 1024 as well.

[2021-06-17 00:33] david-waterworth commented on #2082
I have a similar requirement. I don't see any way of training a tagger using a different language, and then constructing an appropriate SentanceTaggerPredictor for it. In particular the SentanceTaggerPredictor takes a language parameter which defaults to "en_core_web_sm" (https://github.com/allenai/allennlp/blob/39c40fe38cd2fd36b3465b0b3c031f54ec824160/allennlp/predictors/sentence_tagger.py#L26).

[2021-06-17 11:39] Aasif-Multani commented on #5263
@ntnshrm for my current problem statement I'm passing 2427704 tokens of size.

[2021-06-18 16:27] schmmd commented on #5261
Is your goal to build a search engine that work based on question and answering?  I don't think the BiDAF model will be very effective.  Overall I think this is a very hard problem, and none of our models will get you to your goal easily.

[2021-06-19 10:42] nithinreddyy commented on #5261
Not exactly like question and answering. Just semantic search with good results

[2021-06-20 07:10] jeevana28 opened #5274 "allennlp.common.checks.ConfigurationError: srl not in acceptable choices for dataset_reader"
[code]

Loading the above mentioned model is thorwing this error:
allennlp.common.checks.ConfigurationError: srl not in acceptable choices for dataset_reader.type: ['babi', 'conll2003', 'interleaving', 'multitask', 'sequence_tagging', 'sharded', 'text_classification_json', 'multitask_shim']. You should either use the --include-package flag to make sure the correct module is loaded, or use a fully

[2021-06-21 17:43] dirkgr commented on #5258
@h-vetinari, do you know what it would take to get this done?

[2021-06-21 18:21] dirkgr commented on #5027
With no reliable repro, I'll have to close this. The real fix is to re-write `TensorCache` to use HDF5, which I should have done from the start. It's probably not even that much work, but hard to prioritize right now. I'd be happy to review a PR though.

[2021-06-21 20:02] h-vetinari commented on #5258
Hey all

Thanks for the ping, I've had a long-standing [PR](https://github.com/conda-forge/allennlp-feedstock/pull/19), but it was then still missing osx-builds for pytorch/torchvision. Those have since arrived, but there are still some errors in the test suite on OSX. Any help fixing those is appreciated. :)

[2021-06-21 20:56] dirkgr commented on #5258
Errors in the AllenNLP test suite, or in the torchvision test suite?

[2021-06-21 22:10] AkshitaB commented on #5274
@jeevana28 Do you have `allennlp-models` installed? `srl` is implemented there.

[2021-06-22 00:44] JohnGiorgi opened #5276 "Add label smoothing to CopyNetSeq2Seq"
**Is your feature request related to a problem? Please describe.**

I am wondering if it is possible to add label smoothing to [`CopyNetSeq2Seq`](https://github.com/allenai/allennlp-models/blob/main/allennlp_models/generation/models/copynet_seq2seq.py). Label smoothing is implemented for the other allennlp-models under the [`generation`](https://github.com/allenai/allennlp-models/tree/main/allennl

[2021-06-22 03:56] david-waterworth commented on #5025
@JohnGiorgi / @epwalsh I'm interested in CopyNext as well, I may be able to assist with 2 once I do a bit more research into what's involved.

[2021-06-22 07:03] h-vetinari commented on #5258
The AllenNLP test suite. For details, see the [CI results](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=340307&view=results) from https://github.com/conda-forge/allennlp-feedstock/pull/19

[2021-06-23 06:15] wangyuxinwhy opened #5279 "Vscode default language server `Pylance` can not auto-complete for allennlp"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-06-23 21:16] #5050 closed

[2021-06-23 21:19] dirkgr commented on #5258
It looks like the problem is that

I don't know why that is, but as long as that's the case, the AllenNLP tests won't run.

It's surprising though, because I'm running it on Mac right now, wit PyTorch installed from Conda, and it all works fine, including the distributed setup. Why doesn't it use this version when it runs the tests?

[2021-06-25 16:09] #5252 closed

[2021-06-25 17:16] lgessler opened #5285 "Stale docstring in constructor of `PytorchTransformer`"
The docstring of `allennlp.modules.seq2seq_encoders.PytorchTransformer`'s `__init__` describes a [`use_positional_encoding`](https://github.com/allenai/allennlp/blob/main/allennlp/modules/seq2seq_encoders/pytorch_transformer_wrapper.py#L33L37) parameter, when in fact this parameter has since been replaced by two parameters, [`positional_encoding` and `positional_embedding_size`](https://github.com

[2021-06-25 19:38] AkshitaB commented on #5276
@JohnGiorgi Thanks for the suggestion. I'll be happy to discuss the details in the contribution. I think the simplest thing would be to add label smoothing to`CopyNetSeq2Seq` directly. Since the scores for generation and copying are computed separately, I think the best place to add this would be for the generation part. Let me know if that makes sense.

[2021-06-28 13:19] JohnGiorgi commented on #5276
Cool! Opened a PR here: https://github.com/allenai/allennlp-models/pull/287

[2021-06-28 14:48] vikigenius commented on #2801
@epwalsh any further progress on this. It seems like to be able to use TPUs we need to use xla devices from the torch_xla package. https://pytorch.org/xla/release/1.9/index.html.

This would be a great feature to have.

[2021-06-28 16:19] epwalsh commented on #2801
@vikigenius no updates yet, but that's great news that the PyTorch XLA API seems to be stabilizing.

[2021-06-28 17:28] dirkgr commented on #5228
Have not forgotten. @epwalsh is still working on his PR.

[2021-06-29 10:36] Dbhasin1 commented on #5237
Hi, I'd like to try working on this. I'm relatively a noobie so are there any pointers I should keep in mind before raising a pull request?

[2021-06-29 16:14] #5262 closed

[2021-06-29 16:14] #5261 closed

[2021-06-29 16:32] epwalsh commented on #5237
Hi @Dbhasin1, check out https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#making-a-pull-request

[2021-06-30 23:40] dirkgr commented on #5285
I made a PR for it.

[2021-07-02 03:20] Aven26 opened #5297 "cannot import name 'LegacyAttention' from 'allennlp.modules.attention'"
Code:
from allennlp.modules.attention import LegacyAttention

[code]

I also can not find a file named 'LegacyAttention' under the 'attention' file.
I use the mirror https://pypi.tuna.tsinghua.edu.cn/simple to install allennlp.
Is there something wrong with my installation. Like, I need to change a mirror?

[2021-07-02 13:09] koren-v opened #5298 "Correctness of summing up embeddings by the sequence dimension in the `interpret` package"
I would like to discuss the implementation of Integrated Gradients as well as Smooth Grads or Simple Gradients in combination with the text models. I found that you sum IG outputs by the last dimension to get a single scalar for each token (e.g [here](https://github.com/allenai/allennlp/blob/main/allennlp/interpret/saliency_interpreters/integrated_gradient.py#L33)). But do we really can simply sum

[2021-07-05 23:46] zegnog opened #5300 "Error in interpreter when the input sequence is more than 1d"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-07-06 23:27] dirkgr commented on #5297
`LegacyAttention` was removed in https://github.com/allenai/allennlp/issues/3836. I recommend you install a version of allennlp from before February 2020 to get this to work.

[2021-07-06 23:27] #5297 closed

[2021-07-06 23:32] dirkgr commented on #5298
That sounds very reasonable, but I don't have the full overview of that code. You could implement the idea, I help you put it into the demo, and we see if the results look better?

[2021-07-07 01:34] #5285 closed

[2021-07-07 07:09] HenryPaik1 opened #5302 "allennlp.training.callbacks.confidence_checks.ConfidenceCheckError: The NormalizationBiasVerification check failed."
Hi,
1) What should check for this error? and how to set it False in config file?
[code]
I re write the `config.jsonnet` as below:
[code]
2) and I got error msg:
[code]

Would you give me some advice to solve 1) and 2), and where could I find the related documentation?

[2021-07-07 17:56] epwalsh commented on #5302
The error in (2) is because AllenNLP expects a new serialization directory for each run. So you can either delete the first directory or point AllenNLP to a different directory when you run it again.

[2021-07-07 17:58] epwalsh commented on #5300
Hi @zegnog, yes please submit a PR when you get a chance.

[2021-07-08 08:46] HenryPaik1 opened #5304 "how to manage memory for modeling seq2seq model using varaible length training dataset? (model:allenai/led-base-16384)"
I asked the same question on stackoverflow (https://stackoverflow.com/questions/68298295/allennlp-how-to-manage-memory-for-modeling-seq2seq-model-using-varaible-length)

--------------------------

## Environment info
- `transformers` version: 4.6.1
- Platform: Linux-5.4.0-74-generic-x86_64-with-glibc2.10
- Python version: 3.8.8
- PyTorch version (GPU?): 1.8.0 (True)
- GPU: GeForce RTX 3090; 24G;

[2021-07-08 09:11] HenryPaik1 commented on #5302
@epwalsh Thanks for reply. I am still struggling for finding the documents as for 1) issue, and cannot figure out the correct config setting for `run_confidence_checks: false`. I would be appreciate if you could provide a piece of advice.

[2021-07-08 09:11] #5302 closed

[2021-07-09 15:58] artidoro opened #5307 "Open IE separates auxiliary and participle into separate tuples"
## Description

<details>
<summary><b>OpenIE separates auxiliary and participle into separate tuples. This affects the online demo and my local installation of AllenNLP.</b></summary>
<p>
In the sentence "He is running to the store", my understanding is that there is only one predicate and that the output of OpenIE should be a single tuple:
[Arg0: He] [V: is running] [Arg1: to the store]

Instead,

[2021-07-09 16:28] epwalsh commented on #5304
Are you sure that when your training with AllenNLP, you're training on sequences up to the same length?

[2021-07-09 16:30] schmmd commented on #5307
@artidoro I agree that the output for that sentence is bad, but no model will work right 100% of the time.  I'm sure the Open IE model could be improved, but that's not presently on our roadmap.  We would definitely welcome contributions if someone was up for investing here!

[2021-07-09 17:03] artidoro commented on #5307
This seems like a bug, not an issue with the model. Thanks for your reply though. I hope someone finds the time to fix this.

[2021-07-09 20:25] #4899 closed

[2021-07-10 03:57] HenryPaik1 commented on #5304
@epwalsh Yes, I compare the case when using the same length. I add part of my `Trainer` code as follows (I checked the gpu memory usage by `torch.cuda.memory_allocated(), torch.cuda.memory_reserved()` and found mine use much larger gpu memory compared to `allennlp`)
[code]

[2021-07-10 12:57] HenryPaik1 commented on #5304
Sorry, I made a stupid mistakes:
[code]
It makes the memory usage twice larger than normal code.
I close the issue.

[2021-07-10 12:57] #5304 closed

[2021-07-11 15:17] OhadRubin commented on #5088
Hey, what is the status of this issue?

[2021-07-12 15:44] amitkparekh opened #5308 "TextFieldTensors are not supported as input to a model Head"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-07-12 16:39] jeevana28 commented on #5274
@AkshitaB  Yes, i have allennlp-models installed, but it didnot work, however using the following line worked
`predictor = load_predictor("structured-prediction-srl-bert")`
Thankyou

[2021-07-12 16:39] #5274 closed

[2021-07-13 09:51] KaiserWhoLearns commented on #4845
Using RTX3090, too. I experienced the same error when invoking any method with cuda after installing allennlp/allennlp-models. I am not sure if the installation caused the problem (may override my previous installation of CUDA 11.1?), but in case it may help anyone having the same error in the same scenario.

Roll back(or maybe upgrade?) my pytorch and cuda to the newest one on [their past release

[2021-07-14 17:56] bryant1410 opened #5310 "Move `cached_path` to a separate library"
What if we move `cached_path` to a separate library? It's useful on its own, without AllenNLP.

**Is your feature request related to a problem? Please describe.**
I find it very useful to just specify URLs around (outside AllenNLP) and have things automatically downloaded if needed. I feel that `allennlp.common.file_utils.cached_path` provides many useful features (e.g., download from S3 and Googl

[2021-07-14 18:32] JohnGiorgi commented on #5310
This would be awesome, I find `cached_path` really useful, and in the past, I have `added` allennlp as a dependency when really all I wanted was `cached_path`!

[2021-07-14 18:47] JohnGiorgi opened #5311 "Give BeamSearch access to the vocabulary for more useful Constraints"
**Is your feature request related to a problem? Please describe.**

The [`Contraint`](https://github.com/allenai/allennlp/blob/39d7e5ae06551fe371d3e16f4d93162e55ec5dcc/allennlp/nn/beam_search.py#L530) class was recently introduced as a way to constrain beam search. I think it would be more useful if the class had access to the same `vocab` object as the model.

To motivate this, imagine a semantic

[2021-07-16 08:02] alle-pawols opened #5313 "ConditionalRandomFields doesn't train on the GPU"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-07-16 16:14] #5298 closed

[2021-07-16 16:58] epwalsh commented on #5311
Hey @JohnGiorgi, your proposed solution sounds good as long as we can keep backwards compatibility.  The two main things for backwards compatibility are:

1. making the `vocab` argument optional (like you said), and
2. making the `constraints` argument `Optional[Union[List[Constraint], List[Lazy[Constraint]]]]`.

But (2) is not as big of a concern because `Optional[List[Constraint]]` will work the

[2021-07-18 11:39] ojomio opened #5318 "ConfigurationError exception is not deserializable"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-07-18 11:40] ojomio commented on #5318
This should be trivially fixable. I'll provide a PR

[2021-07-19 14:10] SuYanqi commented on #2844
so how to use Fasttext in Allennlp?

[2021-07-19 17:47] AkshitaB commented on #5310
@bryant1410 and @JohnGiorgi That's a really good point! We will move it to a separate library.

[2021-07-19 18:26] AkshitaB commented on #5308
@amitkparekh Thank you for identifying this issue. Your solution looks great; please feel free to submit a PR!

[2021-07-19 18:48] JohnGiorgi commented on #5311
@epwalsh Cool, thanks for the guidance! I opened a PR.

As for 2, I found that I had to use `Optional[List[Lazy[Constraint]]]` and then call `construct` on each constraint (whether or not `vocab` was provided). Otherwise, I get an `AttributeError` with a message like: `<Constraint> has no method `construct`.

[2021-07-19 18:55] epwalsh opened #5322 "Switch over to using torch.testing.assert_close in tests"
`assert_allclose` is being deprecated. See https://github.com/pytorch/pytorch/issues/61844.

[2021-07-19 19:28] epwalsh commented on #5260
I don't have much context here, but maybe @handsomezebra would like to weigh in.

[2021-07-19 19:31] epwalsh commented on #5311
@JohnGiorgi, ah, right. I guess `FromParams` will treat each item in the list as `Constraint` instead of `Lazy[Constraint]` if you give it that option. So yea, let's just go with `Optional[List[Lazy[Constraint]]]`.

[2021-07-19 19:31] #5313 closed

[2021-07-19 19:53] entslscheia opened #5323 "What is the recommended way to use different random seeds for my experiments?"
To reduce the variance in my experiments, sometimes I need to try different random seeds for my experiments. This is very straightforward if I am writing my own PyTorch code. For Allennlp, to achieve this, I need to hack its source code every time (i.e., change all the random seeds [here](https://github.com/allenai/allennlp/blob/56e1f49df918cff52707d64dcf894885250aaf89/allennlp/common/util.py#L224

[2021-07-19 21:08] handsomezebra commented on #5260
@WANGZhaowei-Wesley thanks for the comments on the implementation. Since I am not the author of the original paper so there might be some differences to the implementation in the paper. Please help to suggest the code, so we can compare, and also we can actually run the algorithm and evaluate the difference in the results.

[2021-07-19 21:28] handsomezebra commented on #5260
@WANGZhaowei-Wesley I looked at my code change history, my original code of the two lines looks like this:
[code]

That probably is what you were talking about. For some reason I chose the current code, probably because of performance reason or readability reason which I don't remember exactly. But I think I did the training/testing using them and didn't find any problem after the change. Thanks!

[2021-07-19 21:31] epwalsh commented on #5318
Thanks for the report and fix! I'm curious how you're using AllenNLP with Celery?

[2021-07-19 21:39] #5311 closed

[2021-07-19 21:54] epwalsh commented on #5323
In a configuration file, you should set these three options (at the top level):

[code]

[2021-07-19 22:08] ojomio commented on #5318
We actually use the `FromParams` part of the library to facilitate the building of our pipeline from the config.

[2021-07-19 22:10] ojomio commented on #5318
Sorry, I must have forgotten the import. Will fix it when return from my vacations

[2021-07-19 23:39] #5228 closed

[2021-07-20 04:12] #5323 closed

[2021-07-23 16:09] #5307 closed

[2021-07-23 18:06] #5318 closed

[2021-07-23 20:18] dirkgr commented on #5310
I'm open to this idea, but unless @AkshitaB or @epwalsh are really excited to do it, I don't think we can neglect our other responsibilities to do this. @bryant1410 or @JohnGiorgi, if you want to do it, I'll make you collaborators on a repo so you can get it done. Let me know!

`cached_path()` recently acquired new functionality, and it's now compatible with HuggingFace models and datasets. I also

[2021-07-23 20:23] amitkparekh commented on #5308
Sorry for the silence @AkshitaB; I was away for the week. Also, thank you @dirkgr for beating me to the punch and creating a PR for me; I'm sorry I didn't do it sooner!

[2021-07-23 20:41] dirkgr commented on #5322
The suggested replacement was only added in torch 1.9.0, so we need to wait until that is the oldest version we support before we tackle this.

[2021-07-26 17:54] schmmd opened #5333 "Datasets support in Tango, um it's not just Tango"

[2021-07-26 18:05] #5308 closed

[2021-07-26 18:30] epwalsh commented on #5322
I don't think this is a user-facing change but let me know if I'm wrong. Because as far as I know we only use this in internal tests, and we only run those tests against the latest version of PyTorch.

[2021-07-26 22:55] bryant1410 commented on #5310
@dirkgr I can allocate some (little) time for it. Can you create the repo and make me collab then? I'd be happy to have some help, esp. w code reviews.

[2021-07-27 10:14] c4n commented on #2663
Hi,
Does anyone is still working on this feature?

[2021-07-27 16:37] dirkgr commented on #5310
Can you see https://github.com/allenai/cached_path? You have write access there. Let me (or @AkshitaB, who has set all this up) know if you run into trouble with it!

[2021-07-27 16:55] bryant1410 commented on #5310
I can, thanks!

[2021-07-27 20:21] oroszgy commented on #2884
Hi there! I faced the same issue, and managed to resolve it by moving `transitions` and all the parameters to the proper device. I'm sending a PR soon.

[2021-07-28 16:13] #5260 closed

[2021-07-29 01:19] himkt opened #5338 "Consultation for collaboration: adding Optuna logic to `allennlp.commands.train` module"
**Is your feature request related to a problem? Please describe.**
I come here to ask the AllenNLP team to collaborate with Optuna.

**Describe the solution you'd like**
- Adding the Optuna related logic to `allennlp.commands.train`.

**Describe alternatives you've considered**
- Adding the logic to Optuna (https://github.com/optuna/optuna/pull/2796)

**Additional context**

---

Hello AllenNLP te

[2021-07-29 17:09] #5126 closed

[2021-07-30 05:45] c4n opened #5339 "Support passing multiple input_file parameters to ``evaluate'' command"
**Is your feature request related to a problem? Please describe.**
I want to evaluate multiple datasets (same formatting, they can share the same dataset reader). The "evaluate" command takes much longer to load the model than to evaluate.

**Describe the solution you'd like**
support passing multiple input files and output files to the "evaluate" command

**Describe alternatives you've considered

[2021-07-30 22:10] AkshitaB commented on #5339
Hi @c4n Thanks for bringing this up! This is a fairly simple addition to make. I'll be happy to review a PR.

[2021-08-01 07:56] c4n commented on #5339
Hi, I just submiited a PR.
Hope that it works fine.

[2021-08-02 19:27] AkshitaB commented on #5338
@himkt This sounds good. We would like to be able to support Optuna more directly. Please open a PR with the proposed changes in your fork!

[2021-08-02 21:04] dirkgr commented on #5258
Have not forgotten. Am waiting for the resolution on https://github.com/conda-forge/allennlp-feedstock/pull/19.

[2021-08-02 22:09] h-vetinari commented on #5258
Which Mac's are we talking about? The processor architecture changed with the M1, so building for pre-M1 is different. I'm currently looking to get the osx-x86_64 build running (equals pre-M1), but since conda-forge does not have M1 CI, we can only cross-compile, and I would need someone to test-run a candidate artefact before we can merge.

[2021-08-03 16:00] himkt commented on #5338
Thank you @AkshitaB, I'm so happy to hear the response!
I'll make a PR.

[2021-08-03 20:37] dirkgr commented on #5258
I am currently not concerned about the M1 Macs. As far as I know, AllenNLP works fine on those with the official PyTorch conda package, so people running that can use that. Of course it would be better if the conda version of PyTorch also worked, but let's get that to work on x86 first before we worry about M1.

[2021-08-03 20:39] dirkgr commented on #5088
Sorry for the delay! Can you make a new issue explaining what's going on? Everything in this issue is a bit dated now and the code has changed since then.

[2021-08-04 00:05] h-vetinari commented on #5258
osx-x86_64 builds are available now. :)

[2021-08-04 00:33] dirkgr commented on #5258
Does that mean we can close this issue?

[2021-08-04 02:32] wlhgtc opened #5342 "T5 mask bug when calculate loss."
The CrossEntropy loss used in T5 model would ignore pos where `idx = -100`.

According to the [code](https://github.com/huggingface/transformers/blob/master/src/transformers/data/data_collator.py#L277-L284) in transformers, they set all padding tokens to -100.
In our code we miss this operation, so we calculate these loss which is unnecessary and would lead a little bit drop(at least in my own tas

[2021-08-04 02:33] wlhgtc commented on #5342
@dirkgr @AkshitaB

[2021-08-04 07:04] h-vetinari commented on #5258
We can keep it for the M1 packages if you want.

[2021-08-04 13:26] martin-kirilov opened #5343 "Support for SpaCy version >= 3.1"
The latest versions (2.6.0) of allennlp and allennlp-models have a spacy version requirement <3.1.
Would you consider adding support for spacy 3.1, i.e. >=2.1.0,<3.2?

[2021-08-04 17:17] dirkgr commented on #5342
@AkshitaB, are you on top of this? I think padding correctly is becoming one of the more complicated things we do in AllenNLP 🤪.

[2021-08-04 18:31] dirkgr commented on #5258
Too many open issues. We'll wait until someone requests them. By that point, the fine folks at Apple and Facebook might have solved some of the problems we'd otherwise have already.

[2021-08-04 18:31] #5258 closed

[2021-08-05 17:48] AkshitaB commented on #5276
The PR has been merged. Closing.

[2021-08-05 17:48] #5276 closed

[2021-08-05 18:24] dirkgr commented on #5027
This has been a slow burn, but I actually think I figured out what caused this, and I fixed it in https://github.com/allenai/allennlp/pull/5162/files#diff-59b9ea62d76e2c7b6522d8d8660dae1497f7b181211e7b59788f6c48e969ba6b. @aleSuglia, can you try that?

[2021-08-05 18:24] #5027 closed

[2021-08-05 22:22] epwalsh commented on #5343
We already support spacy 3.1 on the main branch, so this will go out with the next release (coming soon).

[2021-08-05 22:22] #5343 closed

[2021-08-06 19:25] drussellmrichie commented on #3719
Hi, has this changed again? I'm getting this error again with the json below, which seems consistent with the syntax above. I'm using AllenNLP 2.6.0 on Linux.

[code]

[2021-08-08 13:55] gabeorlanski opened #5345 "Scaled Dot Product Attention matmul error"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-08-09 00:38] david-waterworth opened #5346 "'optional' multitask scheduler is not optional"
The docstring for the `MultiTaskDataLoader` indicates the `scheduler` argument is optional

https://github.com/allenai/allennlp/blob/311f1104bf4762b7b5c1172eb874276343d562c9/allennlp/data/data_loaders/multitask_data_loader.py#L54

However, it's declared as a required positional argument

https://github.com/allenai/allennlp/blob/311f1104bf4762b7b5c1172eb874276343d562c9/allennlp/data/data_loaders/mu

[2021-08-09 15:58] drussellmrichie commented on #3719
Ah, I see now from [here](https://github.com/allenai/allennlp-models/blob/main/training_config/structured_prediction/bert_base_srl.jsonnet) that it ought to be:

[code]

[2021-08-10 03:18] teffland opened #5351 "LogWriter log_batch missing metrics?"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-08-11 03:17] GregoryZeng opened #5354 "the last decoding step miscalculated in the forward_loss of CopyNet?"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-08-11 09:17] amitkparekh opened #5355 "Option for creating Vocabulary from pretrained transformers and instances"
**Is your feature request related to a problem? Please describe.**
I like removing boilerplate from code and using the training configs as much as possible.

The vocab created from instances with `PretrainedTransformerTokenzier` and `PretrainedTransformerIndexer` do not update the vocab with the model's entire vocab. I understand that this might not be desired behaviour, which is why `Vocabulary.f

[2021-08-11 09:34] amitkparekh commented on #5346
I don't work for AllenAI, but I was wondering the same thing.

For AllenNLP to work out-of-the-box, modules will have some necessary requirements. To reduce overhead for new people as they're likely to use defaults anyway so could omit it anyway.

Modules in AllenNLP are designed such that `Registrable`'s (like `MultiTaskScheduler`) have a `default_implementation` attribute. All modules from `Regi

[2021-08-12 06:13] david-waterworth commented on #5346
So are you saying that if the configuration doesn't contain `scheduler` then `from_params` will construct a `default_implementation` even though the type isn't annotated with Optional[MultiTaskScheduler]?

[2021-08-12 07:30] amitkparekh commented on #5346
Yup!

That's my understanding because the documentation indicates it's optional if building a model using the configs.

When you look at the class on it's own, it _needs_ a scheduler to work. If you import and use the `MultiTaskDataLoader` in a python module, then the `MultiTaskScheduler` is needed for it to work.

But since using configs are not strongly-typed, it's easier to use a common-sense d

[2021-08-12 09:06] david-waterworth commented on #5346
Cool thanks!

[2021-08-12 09:06] #5346 closed

[2021-08-15 22:59] seyeeet opened #5358 "provide simple examples for each module?"
Hello
I found that examples are missing from the provided documents. would it be apoosible to provide a simple examples for the models so we can use them while using the modules?
for example, I am interested in learning NER with [CRF](https://github.com/allenai/allennlp/blob/main/allennlp/modules/conditional_random_field.py), but I am not sure how I can do it and I cannot find any exmples in your

[2021-08-16 08:25] lenyabloko opened #5359 "Unable to open file"
## Checklist

- [x ] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x ] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x ] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [

[2021-08-16 18:43] dirkgr commented on #5345
@JohnGiorgi's PR is different in some other aspects as well, so we can't just merge it. But he got the dimensions right, so I'll make a PR that takes that part of the code.

[2021-08-17 15:35] gabeorlanski commented on #4835
Hi, I would be interested in contributing to this as trying to understand configs definitely was a pain point when trying to learn AllenNLP. What repo should I add the docs to?

[2021-08-17 18:48] dirkgr commented on #5345
There was a rat's tail of dependencies on this issue, since this class was used in the transformer toolkit. The transformer toolkit should have been using `MatrixAttention`, so I implemented scaled dot product matrix attention, converted the toolkit to use it, and then fixed this implementation to match the other `Attention` classes.

[2021-08-17 20:54] dirkgr commented on #5351
We talked about it, and could not remember why we did it this way. So I made a PR that logs all the metrics in #5362.

[2021-08-17 21:18] dirkgr commented on #5355
I think that would be a fine additional `Vocabulary` constructor. Can you make it into a PR, with a small test? I'd be happy to review it.

[2021-08-17 21:38] dirkgr commented on #5358
It takes a little bit of work, but you can start from the demo, and look at the parts from there. We have a NER demo here: https://demo.allennlp.org/named-entity-recognition/fine-grained-ner

It includes instructions of how to run the model, and how to train it. You can also check out how the components work together. The training config for this model is here: https://github.com/allenai/allennlp-

[2021-08-17 21:38] #5358 closed

[2021-08-17 21:53] dirkgr commented on #5359
I think your file got truncated during download. Can you clear the cache (`rm -r ~/.allennlp/cache/`), and try again?

[2021-08-17 22:50] david-waterworth opened #5363 "Cannot use ConllCorefScores for general coref tasks"
**Is your feature request related to a problem? Please describe.**
The coreference model implement in allennlp [coref.py](https://github.com/allenai/allennlp-models/blob/4eb7c27d7fad00ac886ffdefc6c152909fa28f23/allennlp_models/coref/models/coref.py#L24) is based on [Higher-order Coreference Resolution with Coarse-to-fine Inference](https://arxiv.org/pdf/1804.05392.pdf) by Lee et al., 2018.

This m

[2021-08-17 23:38] epwalsh commented on #5354
@GregoryZeng thank you for digging into this and posting such a clear, detailed bug report :)

I think you are absolutely right. Would you like to make a pull request to fix this? Once you've opened the pull request I can run a CopyNet experiment to validate that the generalization performance with this change either stays roughly the same or increases.

[2021-08-17 23:51] #5345 closed

[2021-08-18 09:56] ICanFlyGFC opened #5364 "gpu_memory_mb"
## Description

<details>
I use allennlp 0.9.0 and run my code without GPU.
I also use "cuda_device": -1
but:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/allennlp/common/util.py", line 378, in gpu_memory_mb
    encoding='utf-8')
  File "/usr/lib/python3.7/subprocess.py", line 411, in check_output
    **kwargs).stdout
  File "/usr/lib/python3.7/subprocess.py",

[2021-08-18 09:57] ICanFlyGFC commented on #5364
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/allennlp/common/util.py", line 378, in gpu_memory_mb
    encoding='utf-8')
  File "/usr/lib/python3.7/subprocess.py", line 411, in check_output
    **kwargs).stdout
  File "/usr/lib/python3.7/subprocess.py", line 512, in run
    output=stdout, stderr=stderr)
subprocess.CalledProcessError: Command '['nvidia-smi', '--q

[2021-08-18 09:57] ICanFlyGFC commented on #5364
I  already use "cuda_device": -1,

[2021-08-18 11:17] GregoryZeng commented on #5354
Sure, please have a look at the PR.

[2021-08-18 13:05] akbhuker commented on #5339
hey, can I have this issue?
I'm quite new to this so I might need some guidance

[2021-08-18 14:16] epwalsh commented on #5354
Thanks @GregoryZeng...

I was just thinking about this some more, and now I actually think the implementation correct, although this comment on [lines 495-496](https://github.com/allenai/allennlp-models/blob/31649f5776522ae60661499c595f73e1c019d72c/allennlp_models/generation/models/copynet_seq2seq.py#L495-L496) is misleading:

[code]

`target_tokens["tokens"]["tokens"]` includes a `START` token at

[2021-08-18 16:16] GregoryZeng commented on #5354
Oh sorry, I am not sure if I follow you. Do you mean that the original implementation is still correct and only the misleading comments need to be rephrased? Or that the change in my PR is correct and need extra changes on the comments？

[2021-08-18 16:32] epwalsh commented on #5354
Yes

[2021-08-18 17:17] GregoryZeng commented on #5354
It is still unclear to me...

If the original implementation was correct, then the conditional expression in [Line 526](https://github.com/allenai/allennlp-models/blob/31649f5776522ae60661499c595f73e1c019d72c/allennlp_models/generation/models/copynet_seq2seq.py#L526) is always false when `timestep == num_decoding_steps - 1`,  which makes it impossible for the `input_choices` (the token right befor

[2021-08-18 17:31] epwalsh commented on #5354
It's not super clear, but when `timestep` is used as an index, it's always incremented by 1. For example: [line 536](https://github.com/allenai/allennlp-models/blob/31649f5776522ae60661499c595f73e1c019d72c/allennlp_models/generation/models/copynet_seq2seq.py#L536). So were really looking into `target_tokens` shifted over by 1 to ignore the `START` symbol

[2021-08-18 19:07] #2884 closed

[2021-08-18 21:31] AkshitaB commented on #5364
@ICanFlyGFC Hi, is there a reason why you're using the `0.9.0` version? Can you try using latest allennlp version?

[2021-08-19 13:33] GregoryZeng commented on #5354
[Line 522](https://github.com/allenai/allennlp-models/blob/31649f5776522ae60661499c595f73e1c019d72c/allennlp_models/generation/models/copynet_seq2seq.py#L522) uses `timestep` as an index.
[code]

My point is that for every iteration in the for-loop, we are predicting `target_tokens["tokens"]["tokens"][:, timestep + 1]` using the `target_tokens["tokens"]["tokens"][:, timestep]` (or the `COPY` token

[2021-08-19 13:43] epwalsh commented on #5354
Ah yes, you're right. I misunderstood my own code 🤦😅

I'll give the PR a review today 🙂 Thanks for sticking with this!

[2021-08-19 13:50] GregoryZeng commented on #5354
Hahaha, nevermind. I learnt a lot from your code 😁

[2021-08-19 14:33] gabeorlanski opened #5367 "Populate the Config with default values before saving"
**Is your feature request related to a problem? Please describe.**
An issue I have encountered when using AllenNLP with Weights and Biases and more, in general, is that it is hard to replicate results without knowing the default values for non-specified keys. One solution is to comb the logs to find the default values, but that is very laborious. Take, for example, a config that uses the [`Transfo

[2021-08-19 18:10] #5354 closed

[2021-08-19 18:32] #5351 closed

[2021-08-19 21:45] dhruvdcoder opened #5369 "Possibility of a memory leak on gpu when using multi-process dataloader and executing `allennlp train` in a subprocess."
I post this as a question because I am not sure if something like this can happen. However, if you deem that something like this can, I can come up with a minimal reproducible example.

## Context

I use [wandb sweeps](https://docs.wandb.ai/guides/sweeps/quickstart) to tune the parameters of my model. The wandb client creates a sweep "agent" which communicates with the wandb server and receives hy

[2021-08-19 23:36] epwalsh commented on #5369
It sounds like the data loading workers are sticking around even after their parent training process is killed? The `daemon=True` argument here is supposed to prevent that from happening, but maybe it doesn't work the same when the original process is itself a subprocess 🤔

https://github.com/allenai/allennlp/blob/13de38d17dd5a1c67e5327328c01837c6e40f87d/allennlp/data/data_loaders/multiprocess_dat

[2021-08-19 23:39] epwalsh commented on #5369
But catching SIGTERM seems like a good idea anyway. Can you give that a try?

[2021-08-20 07:55] amitkparekh commented on #5355
@dirkgr — Just submitted a PR!

[2021-08-20 08:06] amitkparekh commented on #5367
This seems useful, but if implemented I'd ask that it's non-default behaviour as it would likely break my current training configs.

I also tried to be verbose with my configuration. However, with all the repeated code, I went all in on using the features of [Jsonnet](https://jsonnet.org/learning/tutorial.html), including functions and object-oriented compositions. I now compose my configs with fu

[2021-08-20 12:32] gabeorlanski commented on #5367
Breaking older configs is definitely problematic and thus I think now that this should not be a part of the default train loop, it would probably be better to have it as a `compose` command that users can use before `train`

[2021-08-23 02:38] AkshitaB commented on #5363
@david-waterworth Will it suffice to add an attribute to the metric class that describes whether the model produces singletons or not, and use that to check for that assertion?

[2021-08-23 02:45] AkshitaB commented on #5367
@gabeorlanski That's a good idea -- especially the point about reproducibility! When the config is saved in the model.tar.gz, things like `std.extVar(...)` are resolved to their actual values. We can make sure that the default values are also populated, similarly.

@amitkparekh Thank you for bringing up the point about using jsonnet functions and compositions. Can you give a short example of a con

[2021-08-23 03:09] david-waterworth commented on #5363
@AkshitaB yes that would be fine, in my case when there are singletons the assert could check `assert i >= predicted_index` and without singletons the existing check `assert i > predicted_index` would be retained. Not sure if there's other use cases.

[2021-08-23 03:21] AkshitaB commented on #5342
@wlhgtc @dirkgr I am looking into this. I don't quite understand why our tests that compare HF loss with our loss don't fail.

[2021-08-23 04:02] wlhgtc commented on #5342
It works all the same when `batch == 1` that means no mask. And if you show me the test code, I'm willing to help.

[2021-08-23 11:27] sandeepbhutani304 opened #5375 "AllenNLP installation issue - No matching distribution found for torchvision<0.9.0,>=0.8.1"
As per demos, we are expected to install AllenNLP using following command:
`pip install allennlp==2.1.0 allennlp-models==2.1.0
`
But it always throws error:
[code]

Have tried installing torchvision separately but the version demanded by AllenNLP is not available at all. As can be seen in error above the torchvision<0.9.0,>=0.8.1 is demanded, but the available versions are ... 0.5.0, 0.9.0 ...
Wha

[2021-08-23 22:06] dirkgr commented on #5364
I think in version 0.9 you have to specify no CUDA device at all.

[2021-08-23 22:17] AkshitaB commented on #5375
@sandeepbhutani304 Can you specify what python version you are using? I was able to successfully install `allennlp==2.1.0` and `allennlp-models==2.1.0` in a python3 environment. It was able to find and install `torchvision==0.8.2`.

[2021-08-23 23:33] AkshitaB commented on #5342
@wlhgtc Here's our test that compares to HF: https://github.com/allenai/allennlp/blob/main/tests/modules/transformer/t5_test.py#L45

The batch size is 2.

[2021-08-24 03:42] david-waterworth commented on #5375
How are you installing pytorch? You need to pass the -f argument to pip, i.e.

`pip3 install torch==1.8.2+cu111 torchvision==0.9.2+cu111 torchaudio==0.8.2 -f https://download.pytorch.org/whl/lts/1.8/torch_lts.html`

The easiest way is to go to https://pytorch.org/get-started/locally/ and select the appropriate options then copy the command.

[2021-08-24 06:56] wlhgtc commented on #5342
You miss some preprocess operation(the `DataCollatorForSeq2Seq `) when hf model.
This [method](https://github.com/huggingface/transformers/blob/master/src/transformers/data/data_collator.py#L237) was call before feed input to model , mask all padding tokens to -100.
But you feed the same inputs to the two models.

[2021-08-24 08:29] amitkparekh commented on #5367
@AkshitaB I created an [example config](https://github.com/amitkparekh/allennlp-training-config-example) which is very similar to what I am currently using. It's a multitask model with multiple heads, some of which I turn on/off for ablation study and finding/controlling confounding variables.

The `main.jsonnet` is the file that linked when running `allennlp train`. I use `config.jsonnet` to hand

[2021-08-24 12:27] dugudongfangshuo opened #5376 "what time you can sovle 'python code to configure experiments' can load a saved model"

[2021-08-24 12:47] dhruvdcoder commented on #5369
I have tried several things but no matter what I try, the children processes (children of `allennlp train`) do not seem to terminate. I am using the following script to launch the training run as a subprocess. This is how [wandb agent](https://github.com/wandb/client/blob/5cb3f50f64cb4ee5ec7389a7e8db8d6787d48108/wandb/wandb_agent.py#L30) starts a training run.

[code]
Things tried:

1. I have trie

[2021-08-24 13:18] dhruvdcoder commented on #5369
All right, the only thing that has worked is the following combination
1. Install SIGTERM handler before the creation of workers. Simply adding it in the `commands/train.py` works.
2. Call `queue.cancel_join_thread()` in the workers, i.e. first line of `_instance_worker` and `_batch_worker`.

Ref:
https://docs.python.org/3/library/multiprocessing.html#multiprocessing.Queue.cancel_join_thread

[2021-08-24 19:23] epwalsh commented on #5369
@dhruvdcoder thanks for all the details. Based on your code snippets I created a minimal reproducible example in this gist: https://gist.github.com/epwalsh/e43b8af900d01534cbf921ab52bc0d67.

This confirms that installing the SIGTERM handler will work (although if the main process is unexpectedly killed for other reasons, we'll probably still have an issue with zombie child processes, and I couldn'

[2021-08-24 20:41] #5355 closed

[2021-08-25 00:05] dhruvdcoder commented on #5369
Thank you @epwalsh, this indeed works as expected. The `queue.cancel_join_thread()` is not required.

I think this is happening because `worker.terminate()` is being called as part of the usual closing down of the workers. The `_join_workers` is reaching the `terminate` call more often than we suspect or expect. Essentially, I see a bunch of tracebacks after every training and validation epoch (at

[2021-08-25 06:52] xiaoqimiao7 opened #5377 "How can i retrain the elmo model using pytorch?"
Please ask questions on [Stack Overflow](https://stackoverflow.com/questions/tagged/allennlp) rather than on GitHub.  We monitor and triage questions on Stack Overflow with the AllenNLP label and questions there are more easily searchable for others.

[2021-08-26 07:49] blackbirt-5 opened #5379 "Cannot import name 'GradientDescentTrainer' from 'allennlp.training.trainer'"

[2021-08-26 08:22] #5379 closed, assigned to nobody

[2021-08-28 03:49] #5369 closed

[2021-08-28 07:19] david-waterworth opened #5384 "Runtime error with convolution classifier"
I've created a text classifier based on the `cnn-highway` encoder. It more or less works, but sometimes it crashes either during training or evaluation, the problem being that sometimes the input text isn't long enough for the CNN window size. It's mostly a problem during evaluation where I've been evaluating single strings, during training the batching tends to add enough padding to mask the issu

[2021-08-29 00:41] david-waterworth opened #5385 "PytorchSeq2VecWrapper documentation"
The docuemntation for PytorchSeq2VecWrapper states:

    Note that we *require* you to pass sequence lengths when you call this module, to avoid subtle
    bugs around masking.  If you already have a `PackedSequence` you can pass `None` as the
    second parameter.

https://github.com/allenai/allennlp/blob/28950215344900e5e04fa5c8a27e5753d4e8837e/allennlp/modules/seq2vec_encoders/pytorch_seq2vec_w

[2021-08-29 15:36] gabeorlanski commented on #5385
I _think_ that the documentation is equating `masks` to be sequence lengths as they functionally can be thought of as sequence lengths.

Say you have the following inputs:

[code]

Then the `mask` for  these would be:
[code]

Even though both are of shape `(3,4)`, the lengths for each sequence are `[4,2,1]`. These masks are used later in [`self.sort_and_run_forward`](https://github.com/allenai/all

[2021-08-29 23:39] david-waterworth commented on #5385
Thanks, BTW the Seq2Seq document is correct

    Note that we *require* you to pass a binary mask of shape (batch_size, sequence_length)
    when you call this module, to avoid subtle bugs around masking.  If you already have a
    `PackedSequence` you can pass `None` as the second parameter.

[2021-08-29 23:48] david-waterworth opened #5388 "Refactor Seq2Vec"
**Is your feature request related to a problem? Please describe.**
Arguably the best future of Allen NLP is the ability to compose models from components. But I feel that the Seq2Vec implementation isn't overly composable. It is essentially a Seq2Seq contextualiser followed by a Pooler but you cannot mix and match contextualisers and poolers. I feel that it could be refactored somewhat.

In partic

[2021-08-30 05:16] #5359 closed

[2021-08-30 11:57] gabeorlanski commented on #4995
@dirkgr I actually finished this some time ago (https://github.com/gabeorlanski/allennlp-readers-development) but forgot to make a pull request. Would it be better to make the PR with what I have (obviously ported to a fork of allennlp_models) first, or should I try to make it Tango compatible?

[2021-08-30 20:10] dirkgr commented on #4995
If you want to try doing it with Tango, please do! Tango is still very new, and you'd be the first one outside of AI2 trying it. It might be a little rough, but I would love your feedback, especially because you could bring an outside perspective.

[2021-08-30 20:10] dirkgr commented on #4995
If you don't have a ton of time though, I'd also be quite happy with your original version.

[2021-08-30 20:39] dirkgr commented on #5342
I think I found a bug in that HF code snippet you posted: https://github.com/huggingface/transformers/issues/13341

But that has nothing to do with this issue. I'm still investigating what the right thing to do is here.

[2021-08-30 21:22] dirkgr commented on #5342
It seems to me that the way to solve this in AllenNLP is to set the padding value for your labels to `-100`. We should make this more discoverable though, maybe even make it a default somewhere. @wlhgtc, can you share a few more details about your code? Where/how are you using this?

I don't want to just set all `0` to `-100`, because that's not the right thing in some cases (and even in HF, this

[2021-08-31 09:02] wlhgtc commented on #5342
@dirkgr
I use the code in [allennlp-models](https://github.com/allenai/allennlp-models/blob/main/allennlp_models/generation/models/t5.py#L104), just one line diff
[code]
But there is still another way, we could modify our loss function in [here:](https://github.com/allenai/allennlp/blob/main/allennlp/modules/transformer/t5.py#L799)
[code]

[2021-08-31 17:32] dirkgr commented on #5342
In principle I like the second one better, but worry about breaking the pact that we produce the same numbers that HF produces given the same input. I don't think we can safely break that assumption.

You must have some field that passes in your labels, right? Why can't you set the padding index on that field?

[2021-08-31 19:49] #5363 closed

[2021-09-01 15:24] himkt commented on #5338
@AkshitaB

I'm sorry for being inactive. :bow:

We're working on implementing a new callback for the data distributed situation on https://github.com/optuna/optuna/pull/2796.
And I opened this issue based on the discussion https://github.com/optuna/optuna/pull/2796#discussion_r678716480).

However, during the discussion with other committers of Optuna, we found that my approach introduces a bidire

[2021-09-01 15:25] #5338 closed

[2021-09-01 16:12] #5364 closed

[2021-09-02 16:14] #5367 closed

[2021-09-03 13:55] ozzypossie opened #5395 "PairedPCABiasDirection should not center difference vectors"
## Checklist

- [X] I have verified that the issue exists against the `main` branch of AllenNLP.
- [X] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [X] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [X]

[2021-09-06 11:49] guhur opened #5398 "`OrderedDict` typing breaks compatibility with Python 3.6"
The typing of `OrderedDict` is introduced in Python 3.7.2 and is not back-ported to 3.6.
I tested with latest versions of typing ( typing_extensions. I am using Python 3.6.12.

A recent update from July is introducing a typing checking of `OrderedDict`:
https://github.com/allenai/allennlp/blob/ca656fc6bac7be66e566e8f1ba3131f3aa3d7729/allennlp/nn/parallel/ddp_accelerator.py

As a consequence, `alle

[2021-09-06 16:09] #5375 closed

[2021-09-07 16:09] #5376 closed

[2021-09-07 21:09] epwalsh commented on #5398
Thanks for bringing this up @guhur!

Even though it seems like it would be an easy fix to maintain support for 3.6, we're only committed to officially supporting the 2 latest stable versions of Python, so I think we will just update the `setup.py` to require Python 3.7 or higher... unless there is a compelling reason to keep support for 3.6.

[2021-09-08 14:20] IHMCBrodie opened #5401 "How to train AllenNLP SRL on non-English languages?"
I know the description said to ask the question on stackoverflow with the allennlp tag rather than here, which is what I did, but some of the questions there have gone a couple weeks without any activity so I was hoping to make the question more visible here: https://stackoverflow.com/questions/69090025/how-to-train-allennlp-srl-on-non-english-languages.

I know you all are probably busy so if it'

[2021-09-08 16:09] #5377 closed

[2021-09-08 20:46] 12seetharaman opened #5402 "Does Allennlp have support for LayoutLMv2 Transoformer?"
[LayoutLMv2](https://huggingface.co/transformers/model_doc/layoutlmv2.html) is a visual-rich document understanding model in hugging face.
Is it compatible with Allennlp?

If not, please give me a direction in Allennlp design style. I would like to contribute.

[2021-09-08 21:03] #5398 closed

[2021-09-09 09:14] gohjiayi commented on #3698
Hi, @DeNeutoy. The link is no longer available, are you able to share the updated link? Thank you!

[2021-09-10 12:11] gabeorlanski commented on #5367
@AkshitaB so I got a basic version working here: https://github.com/gabeorlanski/allennlp-hydra/blob/main/allennlp_hydra/config/fill_defaults.py

But some weird things started occurring when actually training with the full config. Like instances would no longer be read, and some other odd stuff. I think that the only real solution to the messy recursive inspect implementation would be to save the

[2021-09-10 16:51] ranjita-naik opened #5404 "Coreference Resolution training is failing with CUDA out of memory error"
[code]

## Environment

OS:
NAME="Ubuntu"
VERSION="18.04.2 LTS (Bionic Beaver)"

Python version:
Python 3.7.11
<details>
<summary><b>Output of <code>pip freeze</code>:</b></summary>
<p>

[code]

</p>
</details>

## Steps to reproduce

[code]

[2021-09-10 18:46] AkshitaB commented on #5402
@12seetharaman Can you clarify what you mean by "compatible" with AllenNLP? You can always load a hugginface model with allennlp, and wrap your own allennlp code around it, for instance [here](https://github.com/allenai/allennlp-models/blob/main/allennlp_models/mc/models/transformer_mc_tt.py).

We will be happy to provide help if you would like to contribute this model. Feel free to open a PR wher

[2021-09-10 18:48] AkshitaB commented on #5404
@ranjita-naik It looks like your GPU may not have sufficient memory to train the model. Try reducing your batch size, or the `max_length` of the input text.

[2021-09-10 19:16] AkshitaB commented on #5384
@david-waterworth There is a field for `max_sequence_length` in the `text_classification_json` reader, but not a `min_sequence_length`. I think the simplest fix will be to add a field like that in the dataset reader (or create a new dataset reader), and deal with the padding accordingly.

[2021-09-10 19:17] AkshitaB commented on #5310
@bryant1410 We have created and released a version of `cached_path` here: https://github.com/allenai/cached_path .

[2021-09-10 19:17] #5310 closed

[2021-09-10 19:21] bryant1410 commented on #5310
Oh, awesome! Thanks! I was working on a branch called `pilot` there that I see it doesn't exist anymore. But it's fine cause I hadn't advanced much (mainly filter out which files should be kept from this repo).

[2021-09-10 19:43] ranjita-naik commented on #5404
@AkshitaB - thank you for taking a look. I'm using https://github.com/allenai/allennlp-models/blob/main/training_config/coref/coref_spanbert_large.jsonnet  for training. In the config, batch_size = 1 and max_length = 512 (as spanBERT was trained with sequences of at most 512 word pieces). I don't have any other process running.

[2021-09-12 13:17] gabeorlanski opened #5405 "Evaluator Class to allow more metrics and saving of input tokens during evaluation"
**Is your feature request related to a problem? Please describe.**
An `Evaluator` class similar would allow specifying more metrics to run and how to post-process the input batches for saving.

**Describe the solution you'd like**

An `Evaluator` class similar to [`Trainer`](https://github.com/allenai/allennlp/blob/main/allennlp/training/trainer.py) that would have a key `evaluator` in the config.

[2021-09-12 13:25] ranjita-naik commented on #5404
After changing the max_sentences from 110 to 95, I was able to train the model.

[code]
This is very close to the performance reported in the SpanBERT paper - https://arxiv.org/pdf/1907.10529.pdf

![image](https://user-images.githubusercontent.com/32549868/132989278-53b7d227-85f6-43e6-b65e-1c1a12b598a6.png)

[2021-09-12 21:06] 12seetharaman commented on #5402
@AkshitaB,
I meant, Can we use the [layoutlmv2](https://huggingface.co/microsoft/layoutlmv2-base-uncased) model with Allennlp.

I tried to test the model with Allennlp. But, I wasn't able to initialize the layoutlmv2 pretrained tokenizer in the dataset reader. Getting error on `_reverse_engineer_special_tokens`

Used below config for tokenizer,

`"tokenizer": {
	"type": "pretrained_transformer",

[2021-09-13 05:55] #5279 closed

[2021-09-13 09:51] amitkparekh opened #5406 "2.7.0 breaks multi-task training on CUDA"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-09-13 16:09] #5385 closed

[2021-09-14 08:28] #5404 closed

[2021-09-14 13:38] martin-kirilov opened #5409 "Add support for Spacy transformer models (GPU)"
Spacy 3 introduced new transformer-based models that can be run on GPU. I think it's a good idea to add support for these types of language models in AllenNLP, since now it doesn't work out-of-the-box.

My suggestion is to add an option to specify whether to load the model on CPU or GPU, and also use it accordingly.
This would require changes to both allennlp and allennlp-models, as in some models

[2021-09-15 10:43] chiarcos commented on #4065
Same problem, same message, same data (Ontonotes, CoNLL-2012 edition) [marginally different traceback]:

-   OS: Linux
-   Python version: 3.6.9
-   AllenNLP version: 2.6.0
-   PyTorch version: 1.9.0+cu102
-   Cudatoolkit-10.0.130

		Traceback (most recent call last):
		  File "/home/chiarcos/shallow-srl/parser/allen-nlp/venv/bin/allennlp", line 8, in <module>
		    sys.exit(run())
		  File "/home

[2021-09-15 11:08] chiarcos commented on #4065
NB: Quickfix is to catch the error in line 347 in `_conll_rows_to_sentence` and to produce a warning. With third-party data that has to be replicated locally using scripts provided by a fourth party, this is very likely to re-occur at different occasions.

[2021-09-15 11:15] chiarcos opened #5410 "Capture NLTK parsing errors in allennlp_models/common/ontonotes.py"
OntoNotes in CoNLL-2012 format is frequently used for training and evaluation. However, it cannot be directly disseminated but needs to be locally re-built by every individual user, using two different pieces of third-party content and external scripts. In this constellation, the build scripts often break, and result in parsing errors.

Feature request:
- Instead of escalating parsing errors from

[2021-09-15 12:23] beinborn commented on #3442
Thank you very much for making the "interpret" package available. I am currently trying out the gradient-based interpreters for masked language modeling and have two questions:

1) If I understand it correctly, the gradient is calculated with respect to the token for which the model assigns the highest probability in the [MASK] position. If I want to calculate the gradient with respect to the orig

[2021-09-15 13:20] AyushiNM opened #5411 "How do I finetune AllenNLP textual entailment model on my own dataset via transfer learning?"
I'd like to finetune the[ AllenNLP textual entailment](https://demo.allennlp.org/textual-entailment/elmo-snli) model on my own dataset by transfer learning, but I don't understand how to do that. I have reviewed the answers to these previously asked questions ([1](https://stackoverflow.com/questions/65840129/how-to-train-a-textual-entailment-model-with-my-own-training-set), [2](https://stackoverfl

[2021-09-15 14:59] rattlesnakey opened #5412 "cannot import name 'OrderedDict' from 'typing'"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [ ] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [ ] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [ ]

[2021-09-16 10:59] chiarcos commented on #5410
The problem re-occurs during evaluation:

	...
	  File "/home/chiarcos/shallow-srl/parser/allen-nlp/venv/lib/python3.6/site-packages/allennlp_models/structured_prediction/metrics/srl_eval_scorer.py", line 110, in __call__
		perl_script_command, stdout=subprocess.PIPE, universal_newlines=True, check=True
	  File "/usr/lib/python3.6/subprocess.py", line 438, in run
		output=stdout, stderr=stderr)
	s

[2021-09-16 21:41] AkshitaB commented on #5402
@12seetharaman Can you specify versions for `allennlp` and `transformers`? I'm getting a different error in loading the model; which seems like an issue on HF side.

[code]

[2021-09-17 16:09] #5395 closed

[2021-09-17 22:05] AkshitaB commented on #5412
@rattlesnakey Can you share what command/code snippet you are running that leads to this error?

[2021-09-17 22:12] AkshitaB commented on #5411
@AyushiNM If you would like to start with the AllenNLP model, you can use something like

[code]

This will load the allennlp model (or any other model that you are starting with), and then you can train it further.

[2021-09-17 23:37] schmmd commented on #5410
Hi @chiarcos thanks for reporting this!  Unfortunately this isn't very close to our roadmap right now, and so we're unlikely to make this change ourselves.  You could open a PR, but we wouldn't know how to evaluate it exactly.  The original code worked for the original author's use case, and generally it's not best practice to just emit warnings when the input is malformed.

[2021-09-18 12:06] gabeorlanski commented on #5405
@AkshitaB I had not thought of non-text data and agree it will get a lot more expensive. Maybe instead of saving the raw data, it saves an index of the corresponding instance? e.g.

[code]

Then, to align them, the user only needs to access the IDX of the dataset? That could have its issues, though, so maybe make one of the configurable properties of the `Evaluator` class be some id/key/way to sav

[2021-09-18 23:43] Switchsyj commented on #5412
I also run into this bug while run this snippet in conda command line:
`from allennlp.modules.conditional_random_field import ConditionalRandomField`
And it shows:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/syj/miniconda3/envs/medNER/lib/python3.7/site-packages/allennlp/modules/__init__.py", line 8, in <module>
    from allennlp.modules.backbones import

[2021-09-19 03:03] KaiserWhoLearns commented on #5054
From the MATH dataset paper, the authors mentioned that T5 removed a lot of Latex symbols thus they cannot get it working. (Page 6)
![image](https://user-images.githubusercontent.com/25028120/133913932-58d9ac7d-b25d-4144-93bc-d9d98466fafc.png)

An example of T5 tokenizer output on a sentence from MATH:
[code]
The tokenizer couldn't correctly tokenize `\boxed` (which is used for accuracy evaluation

[2021-09-19 07:35] Switchsyj commented on #5412
And I sloved this by deleting `from typing import OrderedDict`, and adding `from collections import OrderedDict`.

[2021-09-19 10:06] dirkgr commented on #5054
Aw, that sucks. So this is not straightforward. On the other hand, that makes it interesting.

I can think of three ways of doing it.
 1. Pre-process the text to replace the raw Latex with something that the T5 tokenizer can handle. Maybe it's good enough to add spaces where they make no difference to Latex, but do make a difference to T5?
 2. Expand the vocabulary. New word piece embeddings will

[2021-09-20 02:15] YKX-A opened #5413 "Concern about the implementation of gradient_clipping during fp16 training"
## Checklist

- [ x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x ] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x ] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [

[2021-09-20 16:09] #5384 closed

[2021-09-20 22:33] epwalsh commented on #5409
Hey @martin-kirilov, this sounds like a good feature to have. Feel free to submit a PR if you get a chance.

[2021-09-21 07:06] cyilu commented on #5412
Thanks. I solved this problem by your method. But I meet another problem:
"StateDictType = Union[Dict[str, torch.Tensor], OrderedDict[str, torch.Tensor]]
TypeError: 'type' object is not subscriptable"

Do you know how to solve it?

Any help will be appreciated.

[2021-09-21 07:07] rattlesnakey commented on #5412
I solve this problem by change the python version to 3.8, you you could have a try

| |
hengyuan_blcu
|
|
***@***.***
|
签名由网易邮箱大师定制

On 09/21/2021 15:06，Yilu ***@***.***> wrote：

And I sloved this by deleting from typing import OrderedDict, and adding from collections import OrderedDict.

Thanks. I solved this problem by your method. But I meet another problem:
"StateDictType = Union[Dict[str, tor

[2021-09-21 07:58] cyilu commented on #5412
@rattlesnakey Thanks. It can solve this problem. But I meet another problem:
 `return types.CodeType(
TypeError: an integer is required (got type bytes)`

In addition, before that, I meet a problem:
`from ._check_build import check_build  # noqa
ImportError: dlopen: cannot load any more object with static TLS`

I solve it by degrading scikit-learn to 0.20.3, how do you solve it?

Any help will be

[2021-09-21 14:05] 12seetharaman commented on #5402
Thanks a lot, @AkshitaB. Really helpful.
I used transformers 4.10 and Allennlp 2.7.
As you said, the issue is on the HF layoutlmv2 tokenizer itself.

[2021-09-21 14:05] #5402 closed

[2021-09-21 14:15] Switchsyj commented on #5412
Maybe you could rewrite `StateDictType = Union[Dict[str, torch.Tensor], OrderedDict[str, torch.Tensor]]` with `StateDictType = Union[Dict[str, torch.Tensor], OrderedDict`

[2021-09-22 02:45] cyilu opened #5417 "from ._check_build import check_build # noqa ImportError: dlopen: cannot load any more object with static TLS"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-09-24 08:37] chuckhope opened #5420 "The API to directly get the learned self-attention weight from pre-trained BERT."
**Is your feature request related to a problem? Please describe.**
Hello, I'm frustrated since I cannot directly extract the attention weight learned by the BERT from your API, and I found your BERT API's input and output are different from HuggingFace BERT. The latter allows me to directly get the attention weight of each layer.
**Describe the solution you'd like**
The API to directly get the lea

[2021-09-24 09:44] gohjiayi commented on #2590
I was faced with the following error although I have set `export CUDA_VISIBLE_DEVICES=0,1,2,3` on my CLI. Apparently it meant that I only had 1 GPU available (which was false as I had 4).

[code]

I was able to resolve this by editing the parameters .jsonnet file (available from [this tutorial here](https://towardsdatascience.com/pytorch-elmo-844d2391a0b2#b484)). This is part of the original param

[2021-09-24 11:36] gohjiayi commented on #3377
This may help future developers facing the same issue. I was developing my own custom DatasetReader to build on a ELMo model following other tutorials. In the parameters .jsonnet the "model" was indicated as "language-model" which i was able to find the [source code in allennlp-models](https://github.com/allenai/allennlp-models/blob/main/allennlp_models/lm/models/language_model.py), and under the

[2021-09-24 22:13] epwalsh commented on #5417
Hi, I'm a little confused because `allennlp.commands.elmo` was removed a while ago (long before version 2.7). Are you sure you have 2.7 installed? Can you try a clean install again to make sure?

The only elmo stuff still left is `allennlp.modules.token_embedders.elmo_token_embedder`. And it looks like you're using Ubuntu 14.04, which is pretty old. It's possible that newer version of torch/sklear

[2021-09-24 22:17] epwalsh commented on #5420
Hi @chuckhope, you should be able to just extract those weights from the state dictionary. Are you using the `PretrainedTransformerEmbedder`? If that's the case, the inner names of the weights in the state dictionary should be the same.

[2021-09-24 23:06] epwalsh commented on #5413
Hi @YKX-A, thanks for the details, I think you are right. Would you like to make a pull request to change the behavior?

[2021-09-25 12:45] YKX-A commented on #5413
I would like to list my changes below, but I have some trouble in determining necessary changes (I believe your team is more sutable to make the decision than me 😄):
    - handling `_ddp_wrapped_model`.
    - a more consistent way to handle `grad_norm` and `gradient_clip` (because both of the two functions need to unscale the gradient).

My changes are listed below:
    - I add a new method `clip_

[2021-09-29 05:37] rattlesnakey opened #5425 "allennlp version with torch version"
I would like to know the comparison table between the allennlp version and the torch version, can anyone help? thx so much

[2021-09-29 16:09] #5411 closed

[2021-09-29 21:02] epwalsh commented on #5413
Hey @YKX-A, this approach seems fine to me. Please start the PR whenever you're ready and give me a ping when you do.

[2021-09-30 00:32] epwalsh commented on #5425
We don't have that information on-hand anywhere, but you could find out fairly easily by checking out each release in the git repository and inspecting the `setup.py` file.

For example:

[code]

[2021-09-30 10:14] MohdWaqar commented on #3132
Hi guys, this worked for me,

I replaced /, (, ), { and } by "" in the tree string. Because it has their own meaning in the chunk tree string.

I had the same error in google colab pasted below.

ValueError: Tree.read(): expected ')' but got 'end-of-string' at index 4233. "...N) '/'')"

Have a nice day!

[2021-09-30 14:21] chiarcos commented on #5410
The problem here is that the data being processed is not the input, but an intermediate representation, so tracing it back to the actual input basically requires a lot of reverse-engineering. What would be better would be a validator for the input format. Then, the error could be prevented by fixing the data.

[2021-09-30 15:58] rattlesnakey opened #5428 "how to achieve epoch_callback in allennlp 2.7.0"
Hello, I use wandb callback in allennlp 2.7.0, and the dashboard on wandb show every batch, I wannna know how to change it into epoch level? also, I wanna know how can I add "learning rate" this hyperparamet into wandb ? thx so much !

[2021-10-01 16:41] epwalsh commented on #5428
Hi @rattlesnakey, in the W&B dashboard you can chose "Epoch" as the X axis in the graphs:

<img width="443" alt="image" src="https://user-images.githubusercontent.com/8812459/135657020-3cc7d4b2-72f7-49a3-8638-640ecab55b23.png">

To log the learning rate, just set `should_log_learning_rate` to `true` in the W&B callback section of your config.

[2021-10-02 04:44] rattlesnakey commented on #5428
Ok, thx so much!!

| |
hengyuan_blcu
|
|
***@***.***
|
签名由网易邮箱大师定制

On 10/2/2021 ***@***.***> wrote：

Hi @rattlesnakey, in the W&B dashboard you can chose "Epoch" as the X axis in the graphs:

how can I add "learning rate" this hyperparamet into wandb ?

To log the learning rate, just set should_log_learning_rate to true in the W&B callback section of your config.

—
You are receiving this because

[2021-10-03 13:00] gohjiayi commented on #1942
This might also be helpful for individuals not looking to edit the allennlp package directly.

The following is instructions from allenai/allennlp-template-config-files/my_project/__init\__.py seen [here](https://github.com/allenai/allennlp-template-config-files/blob/master/my_project/__init__.py). One can follow the repository structure to import your custom models and dataset instead.

[code]

[2021-10-04 16:09] #5412 closed

[2021-10-04 22:31] AkshitaB commented on #5405
@gabeorlanski ```For text specifically, I have found that there is no 'good' way to have a general-purpose decoder for the input and target. The biggest issue I ran into is sharing start, end, and pad tokens across the trainer, dataset_reader, and loader modules. This also applies to trying to share the necessary vocab namespaces as well.```

Why do we need to share these tokens with the trainer a

[2021-10-05 04:22] david-waterworth opened #5430 "MultiLabelField not being indexed correctly with pre-trained transformer"
This is probably a user error but I cannot find a jsonl vocab constructor which works correctly with a MultiLabelField (i.e. a multi-label classifier).

I need to set the vocabs `unk` and `pad` token as I'm using a huggingface transformer, and of course, I need to index the labels.

When I use `from_pretrained_transformer` to construct my vocabulary there are two issues, first, when `MultiLabelFie

[2021-10-05 06:50] david-waterworth commented on #5430
I got it working, rather than use `from_pretrained_transformer` I used the default (i.e. no vocab entry in the jsonl file).

It seems that indexes using from_instance, but then the PretrainedTransformerIndexer re-indexes the vocab (I noticed this happen with `from_pretrained_transformer` as well, `vocab.add_transformer_vocab` gets called twice, once by `from_pretrained_transformer`  and once by `P

[2021-10-05 13:33] guopeiming opened #5431 "`from_files_and_instances` is not registered in vocabulary.py"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-10-06 12:25] vinay1986 commented on #5274
Hey @jeevana28  - I'm facing the same issue, can you share the code?

[2021-10-06 12:36] vinay1986 opened #5432 "ConfigurationError: srl not in acceptable choices for dataset_reader.type"
Get the following error when I run the following code:

[code]

Same is the case for the code below:

[code]

### ERROR

ConfigurationError: srl not in acceptable choices for dataset_reader.type: ['babi', 'conll2003', 'interleaving', 'multitask', 'multitask_shim', 'sequence_tagging', 'sharded', 'text_classification_json', 'sst_tokens', 'boolq', 'coref', 'preco', 'winobias', 'masked_language_modeli

[2021-10-06 16:09] #5417 closed

[2021-10-07 00:11] epwalsh commented on #612
@viking-sudo-rm reported that he was able to get AllenNLP working on Windows by installing [jsonnetbin](https://pypi.org/project/jsonnetbin/).

[2021-10-07 01:19] duyvuleo opened #5434 "Serving for AllenNLP models with Triton"
Hi all,

The AllenNLP training process will archive a so-called model.tar.gz which comprises a *.th file.
I would like to serve the trained AllenNLP models with Triton (https://developer.nvidia.com/nvidia-triton-inference-server). But Triton does not understand the *.th model file from AllenNLP model output.

May I look for your advice on how to make AllenNLP models working with Triton? Thanks!

[2021-10-08 17:53] AkshitaB commented on #5432
@vinay1986 This error should go away if you `import allennlp_models`. However, you will face a different error that's specific to `srl`. I am looking into it.

[2021-10-09 04:00] guopeiming commented on #5431
@AkshitaB Oh, they are different names. I did not find it before.
The other classmethod names and their registered names are the same, but `from_files_and_instances`. It is confusing.
I think that it is better to clarify the different names and give an example like [`from_pretrained_transformer_and_instances`](https://docs.allennlp.org/main/api/data/vocabulary/#from_pretrained_transformer_and_inst

[2021-10-09 04:06] guopeiming commented on #5431
@AkshitaB you can close this issue now.

[2021-10-10 21:22] #5431 closed

[2021-10-11 09:48] Zessay opened #5436 "loading user-defined model needs to initialize twice (the pretrained model part)"
**Is your feature request related to a problem? Please describe.**
I'm frustrated when loading a user-defined model which using pretrained model, the pretrained model parameters part need to initialize twice, the first time is from `pytorch_model.bin` and the second from `model.tar.gz`. However, the first time is unnecessary and useless. Meanwhile, if I want to send my finetuned model to others, I

[2021-10-11 13:34] gabeorlanski commented on #5405
So the issue I have run into in the past is that when using transformers and their special tokens, I have been unable to automatically share them with the model so that it uses that instead of `END_SYMBOL`. For the loader, I guess it can be accessed through `loader.reader` attribute. But primarily this would be for the decoding and postprocessing in the `Evalutator` class.

I should have a draft P

[2021-10-13 08:32] zxteloiv commented on #2543
hi, you can find the file from the dated repo (v0.9) here, almost at the time when the issue was posted.
https://github.com/allenai/allennlp/blob/052353ed62e3a54fd7b39a660e65fc5dd2f91c7d/allennlp/tests/training/gan_trainer_test.py
I've not checked whether it could work.

[2021-10-15 03:49] AkshitaB commented on #5436
@Zessay There is a parameter called `load_weights` in cached_transformers, which can be set to False. `PretrainedTransformerEmbedder` also uses it:

```load_weights: `bool`, optional (default = `True`)
        Whether to load the pretrained weights. If you're loading your model/predictor from an AllenNLP archive
        it usually makes sense to set this to `False` (via the `overrides` parameter)

[2021-10-15 04:15] AkshitaB commented on #5401
Answered: https://stackoverflow.com/a/69230677/14421634

[2021-10-15 04:15] #5401 closed

[2021-10-15 10:54] #5436 closed

[2021-10-19 09:37] Li-Z-Q commented on #5151
I have the same issue, too

[2021-10-19 20:57] hoperiver commented on #5274
Same issue I encounterd too when I was trying to run constituency tree parser and load model from https://s3-us-west-2.amazonaws.com/allennlp/models/elmo-constituency-parser-2018.03.14.tar.gz
Seems the load_archive returnd a model name "ptb_trees" and a name containd "." was required, such as {"model": "my_module.models.MyModel"}
So I got ConfigurationError

Any suggestion? Thanks!

[2021-10-19 21:14] hoperiver opened #5439 "Load elmo-constituency-parser from archive failed"
## Checklist

- [ ] I have verified that the issue exists against the `main` branch of AllenNLP.
- [ ] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-10-20 05:09] aakashb95 opened #5440 "Coreference resolution on Litbank Coref dataset"
How can we use the allennlp coref training module on [litbank dataset](https://github.com/dbamman/litbank/tree/master/coref/conll) with conll files?

[2021-10-21 12:36] lwgkzl opened #5441 "A wrong about install allennlp"
When i run allennlp in cmd,  there was a wrong :

Traceback (most recent call last):
  File "/dockerdata/username/anaconda3/bin/allennlp", line 8, in <module>
    sys.exit(run())
  File "/dockerdata/username/anaconda3/lib/python3.8/site-packages/allennlp/__main__.py", line 40, in run
    from allennlp.commands import main  # noqa
  File "/dockerdata/username/anaconda3/lib/python3.8/site-packages/a

[2021-10-21 16:13] #5434 closed, assigned to nobody

[2021-10-22 15:32] ksteimel opened #5444 "Assertion error when keep_most_recent_by_count = 0 and moving_average = None"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-10-22 16:09] #5432 closed, assigned to nobody

[2021-10-23 00:29] ksteimel commented on #5444
I don't want any `model_state_epoch_2.th` and `training_state_epoch_2.th` files left when the training process is complete. If set to 1, there is only one set of these left behind, if set to two there are two sets of these. I have been using `num_serialized_models_to_keep` to prevent these files from lingering after training finishes.

[2021-10-24 00:54] Superhzf opened #5446 "Is the 4-layer ELM variant available?"
Hi,

I am reading the paper "Dissecting Contextual Word Embeddings: Architecture and Representation" by Allen Institute for AI, where the authors test a 4-layer ELMo variant. But I cannot find the weights and options on this page https://allennlp.org/elmo.

So, I would like to confirm whether this model is trained and available in this repo or not?

[2021-10-26 06:29] irshadbhat opened #5448 "Predictor.from_path('coref-spanbert-large-2021.03.10.tar.gz') downloads model into cache though I provide a local copy of the model"
I am trying to load a local copy of the `coref-spanbert` model using `Predictor.from_path` but it starts downloading the model again into cache/huggingface. How do I fix this.

    Downloading: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 414/414 [00:00<00:00, 436kB/s]
    Downloading

[2021-10-27 12:57] MSLars opened #5449 "Max Pooling Entity Extractor"
Several relation extraction approaches receive span representations through a max-pooling operation
Implementing such approaches (E.g. [RE-AGCN](https://github.com/cuhksz-nlp/RE-AGCN/blob/main/re_agcn_model.py) in lines 69 and 70) could benefit from a new module.

[code]
Currently, I can't find such a component or a related feature request and I would offer to prepare a Merge Request if the idea s

[2021-10-27 14:37] HOZHENWAI opened #5450 "Add support for transformers LayoutLMv2."
**Is your feature request related to a problem? Please describe.**
On the current version of 2.7.0 of allennlp and versions 4.11.3 of transformers, layoutlmv2 is not supported :

[code]
Error occurs since they added an argument `boxes` as second argument of the fast layoutlm_v2 tokenizer which breaks the reverse engineer of the special tokens of allennlp pretrained_transformer_tokenizer.

**Descri

[2021-10-28 18:54] JohnGiorgi opened #5451 "Check for bad start or end symbol in Seq2SeqDatasetReader considers only source tokenizer"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-10-29 21:05] epwalsh commented on #5197
IMO `DatasetReader` should really be a `Generic` class, so you'd have something like this:

[code]

That would probably resolve typing/overrides issues.

[2021-10-29 23:02] epwalsh commented on #5446
Hi @Superhzf, as far as I know we don't have those weights stored anywhere.

[2021-10-29 23:06] epwalsh commented on #5449
Hi @MSLars, once you have a working implementation feel free to open a pull request.

[2021-10-29 23:07] epwalsh commented on #5450
Hi @HOZHENWAI, yes this would be a good fix to have. Feel free to open a PR when you're ready.

[2021-10-29 23:12] epwalsh commented on #5451
Hey @JohnGiorgi, yea I think that makes sense. Feel free to open a PR and ping me.

[2021-10-30 00:22] Superhzf commented on #5446
@epwalsh Thanks for your reply.

[2021-10-30 00:22] #5446 closed

[2021-11-01 18:59] JohnGiorgi commented on #5451
@epwalsh, cool. Did that here: https://github.com/allenai/allennlp-models/pull/308/files

[2021-11-01 22:53] david-waterworth opened #5454 "Predictor `sanitize` is silently destructive"
I've implemented a NER model and since tokenization generally doesn't align exactly with the original text (i.e. addition of wordpiece prefixes ▁, converting to lowercase, dropping whitespace) it's not enough to simply return the list of tokens and concatenate, I need the start/end indices into the original text to decode the predicted span.

I thought this would be simple, I added a `MetadataFiel

[2021-11-01 23:06] #5451 closed

[2021-11-02 08:45] NGC2237-wei commented on #3103
hello, I have the same problem as you，but i don't know how to solve it

[2021-11-03 07:28] avinashpaul opened #5456 "Not able to load coref-spanbert-large-2021.03.10.tar.gz on a non internet system"
[code]

[2021-11-03 13:42] ksteimel commented on #5444
Yeah I guess I could do that. It just seems strange that this used to be possible but no longer is.

[2021-11-03 16:09] #5440 closed

[2021-11-03 17:27] pvcastro opened #5457 "AllenNLP Models 2.8"
I'm trying to upgrade AllenNLP to 2.8.0, but since AllenNLP models wasn't upgraded accordingly, I can't keep the new version. Isn't the models project going to get released to 2.8.0 too?

Thanks!

[2021-11-05 12:20] mateuszpieniak commented on #4422
How can we distribute a single instance to two or more heads?

[2021-11-05 15:11] jbrry commented on #4422
@mateuszpieniak A quick workaround I ended up doing was introducing a boolean value `multiple_heads_one_data_source` for the `multitask` model, where if specified, skips some of the dataset reader to task-head mapping logic.

It's not properly tested but served me for my needs. You can see some of the control flow [here](https://github.com/jbrry/IWPT-2021-shared-task/blob/cbabdb787ad186f64f5b9461b

[2021-11-05 19:23] seraphinatarrant opened #5458 "Fix for Issue with unbounded KL divergence in Fairness Metrics"
I've been using the Fairness Metrics (Independence, Separation, Sufficiency), the ones that were merged here: #5093.
And I've been having issues with the way they are implemented and am looking for suggestions.

Sufficiency is formally:
P(Y=y | R=r, Z=a) = P(Y=y | R=r, Z=b)  where Y is label, R is score, and Z is sensitive attribute (lets say a is female and b is male).
In allennlp it is implement

[2021-11-05 22:15] epwalsh commented on #5454
Hey @david-waterworth, I think you're right about this, and it is unfortunate. However I'm afraid that making this change could break a lot of things downstream 😕

The simplest work-around would probably be to just pre-serialize your tokens in the metadata fields, or when you return them from `Model.make_output_human_readable()`. Another option would be to use `SpanField` to encapsulate that infor

[2021-11-05 23:21] david-waterworth commented on #5454
Thanks @epwalsh, yes I guess adding tokens to metadata as a List[str] instead of List[Token] and a separate List[SpanField] for the offsets would achieve what I need for now.

[2021-11-06 00:59] AkshitaB commented on #5457
@pvcastro The 2.8.0 version is now released for Allennlp-models: https://github.com/allenai/allennlp-models/releases/tag/v2.8.0

[2021-11-06 00:59] #5457 closed

[2021-11-06 22:50] vinay1986 commented on #5432
@AkshitaB - wondering if there has been an update around this?

[2021-11-08 11:16] AlfredAM opened #5459 "Output more predictions including sub-optimal ones"
In news headline generation, it would be helpful to get more predictions in the model output for reference. However, current predict functions only provide one result, the optimal prediction.

It would be greatly appreciated if you could advice on this. Thanks in advance.

[2021-11-08 17:38] epwalsh commented on #5456
Hey @avinashpaul, to avoid `PretrainedTransformerTokenizer` from downloading it's vocab and config from HuggingFace, you'll need to have a copy of those files locally. Then just change the [`model_name`](https://github.com/allenai/allennlp/blob/4f9030f5a0081dee6e2ccdde7af5930752f58c17/allennlp/data/tokenizers/pretrained_transformer_tokenizer.py#L37) parameter to the path of the local directory whe

[2021-11-09 04:00] avinashpaul commented on #5456
sure will try and update here

[2021-11-09 06:03] #5459 closed

[2021-11-09 13:58] AlanQuille opened #5462 "Training coreference resolver using custom data"
Hi all,
Is it possible to train AllenNLP's coreference resolver with custom data? What format does the custom data have to be in? And finally, if it is possible how do I accomplish it? Thank you very much.

[2021-11-11 15:34] KooTQ opened #5463 "Improving documentation, where to start?"
Hi!
I love AllenNLP json/jsonnet config training process, the amount of models and available functionalities!
Unfortunately lacking documentation is in my opinion huge draw-back to understand and get into this library.
I would love to help with documenting - I spent a lot of time understanding context from code itself, it would be nice to reduce this hustle for the others.

In Your opinion, which

[2021-11-12 20:48] dirkgr commented on #5458
@AkshitaB, and update?

[2021-11-12 21:22] dirkgr commented on #5463
Hi @KooTQ, more docs are always welcome. https://docs.allennlp.org/main/ is completely generated from the code in this repo. Not everything has to be docstrings. Maybe it would make sense to create another .md file explaining the command line uses, and we'll build it into the build process for the docs?

[2021-11-12 22:04] dirkgr commented on #5462
Yes, you can train coref with custom data. The training instructions are at https://demo.allennlp.org/coreference-resolution. The hard part is that the original data is not freely available, so it's hard to look at.

<details>
<summary>Here is an example of the first two documents in the dev set.</summary>

[code]

</details>

You probably don't need all of that stuff. It'll be easier to modify th

[2021-11-12 22:05] #5454 closed

[2021-11-13 00:38] AkshitaB commented on #5458
@seraphinatarrant Thank you for bringing this up. I'm not extremely familiar with the nuances of both metrics;  @ArjunSubramonian , who is the original author may have more thoughts on this.

From an API standpoint, does having an option between KL divergence and Wasserstein distance work? The distance to be used can be defined when initializing the metric.

[2021-11-13 22:29] ArjunSubramonian commented on #5458
@seraphinatarrant thanks for your detailed issue! I agree that this is an issue given how frequently a label may not be predicted for instances belonging to a particular protected group. I think [this paper](https://arxiv.org/pdf/2102.10349.pdf) motivates using Wasserstein distance.

In line with what @AkshitaB said, I think we can modify the API to compute KL divergence, Wasserstein distance, or

[2021-11-14 20:05] AlanQuille commented on #5462
Thank you very much. I assume that allennlp can train custom data for relation extraction as well?

[2021-11-15 04:13] Young1993 opened #5465 "How to train first, then frozen some layers and fine-tune further?"
My allennlp==2.4.0
I use Roberta as encoder, mlp as decoder
my trainer config, I init train several epochs with this config
[code]
Then I add the **no_grad**, and resume the model
[code]
The model parameters without grad are removed
But the optimizer throws the error `ValueError: loaded state dict contains a parameter group that doesn't match the size of optimizer's group`

Then I change the "opti

[2021-11-15 12:36] AlanQuille commented on #5462
Hi, I'm facing an issue with training. I am running this command:

allennlp train coref_spanbert_large.jsonnet -s output/

I get the following error:

UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 157: character maps to <undefined>

I installed allennlp-2.8.0 allennlp-models-2.8.0 and my coref_spanbert_large.jsonnet file is the same as the link provided except I change the

[2021-11-15 22:07] epwalsh commented on #5448
Hey @irshadbhat, there are a couple other threads on this:
- https://github.com/allenai/allennlp/issues/5456
- https://github.com/allenai/allennlp/issues/5436
- https://github.com/allenai/allennlp/pull/5172

[2021-11-16 14:41] AlanQuille opened #5466 "Error when trying to install from source on Windows 10 using conda environment"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-11-16 17:26] eriktks opened #5467 "error message: "zipfile.BadZipFile: File is not a zip file" after installation"
After installing AllenNLP, the command `allennlp` failed with the error message `zipfile.BadZipFile: File is not a zip file`

The problem disappeared by installing the popular data sets of NLTK

It would be good if these datasets were added automatically during installation

[2021-11-17 15:05] AlanQuille commented on #5462
Hi, I have nearly successfully trained the coreference resolver. I did this on a Linux machine. I ran this command in coref/training_config in allennlp-models (I installed both allennlp and allennlp-models from source):

allennlp train coref_spanbert_large.jsonnet -s /test_output

I have this file (train.demo.v4_gold_conll) in train/, test/ and dev/ folders (just for a test train) in the same fold

[2021-11-17 17:51] AlanQuille opened #5470 "Custom data training for open information extraction/relation extraction"
Hi, I want to train AllenNLP with custom data for relation extraction e.g. John works at Apple (John = Entity1, relation = employedAt, Apple = Entity2). Is the training config file I have to change srl.jsonnet? What format does the custom data have to be in? Is there a sample one I can modify? Thank you very much.

[2021-11-17 21:05] amith-ananthram commented on #5156
if anyone else runs into this, here's a quick (and very dirty) change you can make to allennlp_models to speed up the viterbi decoding (basically split the work among a persistent process pool):

[code]

and then, comment out the for-loop in make_output_human_readable and add:
[code]

[2021-11-17 21:07] amith-ananthram commented on #5156
(pickling the work for the process pool comes at a cost so good idea to benchmark to make sure it actually works for you!)

[2021-11-18 00:54] david-waterworth opened #5472 "FBetaMultiLabelMeasure confusing docstring"
The docstring for the `threshold` parameter for `FBetaMultiLabelMeasure` states

    threshold: `float`, optional (default = `0.5`)
        Logits over this threshold will be considered predictions for the corresponding class.

This is slightly confusing, usually, you'd test if logits are greater than 0.0 or probabilities are greater than 0.5

The docstring implies that we should pass `logits` as

[2021-11-18 11:54] seraphinatarrant commented on #5458
Ah thank you for the paper pointer, it was really interesting! I'd be happy to make a PR for this! Will update over the next few days when I carve out some time to. (Also I realise my reply to this bounced, so sorry for delay!)

[2021-11-18 17:51] dirkgr commented on #5462
We use that to read environment variables. You can say `export MY_VARIABLE=foo` in your shell, and then read out the value in the config with `std.extVar("MY_VARIABLE")`.

[2021-11-18 17:52] dirkgr commented on #5462
There is likely something wrong with your input file, maybe a special character that's not encoded correctly? Either way, it sounds like you got past that problem?

[2021-11-18 17:57] dirkgr commented on #5462
I don't know exactly what's going wrong with your input file, but I have two observations:
 1. The original input files have many more columns than yours.
 2. The original input files have more than one column that look like `(S(NP*)`. The line that crashes tries to find the part to the left and to the right of the `*`. If there is no `*` at all, it will crash. All your columns, except for one, do

[2021-11-18 19:36] dirkgr commented on #4422
To support this properly I would write another version of `MultitaskModel` that supports this. `MultitaskModel` is not that big a class anyways. But if you have a workaround, that's good too.

[2021-11-18 21:21] dirkgr commented on #4247
That's a different model. The latest SRL model is https://storage.googleapis.com/allennlp-public-models/structured-prediction-srl-bert.2020.12.15.tar.gz.

I really want to know where you find those old links. Is there a place that we are forgetting to update?

[2021-11-19 14:37] AlanQuille commented on #5462
I used the Inception tool to create the ConLL-2012 files ([link here](https://inception-project.github.io/)), but the file that you showed above is slightly different from what I got using the Inception tool. I do not get the same columns with the asterisk. Do you think adding 2-3 columns using a script with **only** an asterisk can solve the issue? Thank you very much.

[2021-11-19 18:26] dirkgr commented on #5462
I don't know what the asterisk is used for in the reader. Probably for constructing parse trees, which you don't need for coref. I think it might be better to make a copy of the reader and modify it. You could get rid of a lot of code in there and only keep the bits you need for coref.

[2021-11-19 23:10] AkshitaB commented on #5467
@eriktks Can you share the entire stacktrace?

[2021-11-19 23:14] AkshitaB commented on #5470
@AlanQuille Yes, our OpenIE model uses the srl.jsonnet config. You can find the format of the data here: https://github.com/gabrielStanovsky/supervised-oie/tree/master/data

[2021-11-19 23:52] AkshitaB commented on #5465
@Young1993 I cannot reproduce the error without your entire config, but I found this: https://discuss.pytorch.org/t/error-when-loading-adam-optimizer-resume-training/50870

From the discussion linked, it's possible that you are not freezing the layers again when you resume training. Can you try checking your parameters before saving and after loading, as suggested in the link?

[2021-11-20 08:29] heibangbang commented on #5467
I also encountered this problem, can you explain the solution in detail

[2021-11-20 21:51] HarshTrivedi opened #5478 "Allow Embedding Extension for T5 Model"
I’m using T5 model implemented in allennlp, and need to add extra special tokens to its vocabulary.

I’ve added extra tokens in the tokenizer in my reader with `self._tokenizer.tokenizer.add_tokens(additional_tokens)`. But I also need to extend model’s token embeddings. Usually, when the transformer is loaded with `PretrainedTransformerEmbedder`, it’s taken care of by itself because of [this line]

[2021-11-22 15:08] AlanQuille commented on #5462
I tried to add 2 more columns with an asterisk, I ran into the same error as before (the start of the conll file I am using is as follows):
`#begin document (bc/cctv/00/cctv_0000); part 000
bc/cctv/00/cctv_0000   0   0      Alice     -            -         -    -   -          -         *        *        *             (3)
bc/cctv/00/cctv_0000   0   1    Spencer     -            -         -    -   -

[2021-11-23 00:36] #5472 closed

[2021-11-23 03:54] ValkyriaLenneth opened #5479 "Performance drop when increasing the input sequence length with Longformer."
Hello, I am using ALLENNLP and ALLENNLP-MODELS to evaluate the performance of Longformer(https://huggingface.co/transformers/model_doc/longformer.html) on Chinese Coreference task.
The command I used is `allennlp train`.
The training process is well when setting the max input sequence to 512.
However, when I set the max sequence length to 1024, the performance of Longformer model decreases.

Perfo

[2021-11-23 14:28] nickmagginas opened #5480 "EncoderBase pack padded sequence error"
## Checklist

- [ x ] I have verified that the issue exists against the `main` branch of AllenNLP.
- [ x ] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [ x ] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.

[2021-11-23 23:47] dirkgr commented on #5462
AllenNLP does not need the entire Ontonotes dataset, just a dataset in the right format. But the Ontonotes format is complicated, because it contains a lot of stuff that's unnecessary for training a coref model. I recommend writing your own `DatasetReader` that produces data in the right format for the model, but reads a different input format.

[2021-11-24 14:14] AlanQuille commented on #5462
I will attempt to write my own DatasetReader. However, in order to do so I need to start with data which trains successfully as a base for my code otherwise I cannot proceed. I humbly request a source for this sample data as the sample data you provided me is not working. If that is not possible, could you guide me for references for finding the data in the right format for the model. Thank you ve

[2021-11-24 16:09] #5448 closed

[2021-11-24 20:35] AkshitaB opened #5483 "Make checklist an optional dependency"

[2021-11-25 16:09] #5463 closed

[2021-11-26 16:09] #5444 closed

[2021-11-27 08:01] Vladimir-Chan commented on #5258
@dirkgr Hi, there is a [conda-forge](https://anaconda.org/conda-forge/allennlp) install of version 2.6.0. Could you please upgrade it to the stable version 2.8.0?

[2021-11-27 08:08] Vladimir-Chan commented on #5258
@dirkgr Hi, there is a [conda-forge](https://anaconda.org/conda-forge/allennlp) install of version 2.6.0. Could you please upgrade it to the stable version 2.8.0? If it is difficult to build a install for mac, could you please build it for linux?

[2021-11-27 08:30] 12seetharaman opened #5484 "OSError: [Errno 95] Operation not supported | gradient_descent_trainer"
I just recently updated my repository from Allennlp 2.3.0 to Allennlp 2.8.0.
Getting OSError while creating a link from model_state to best_model on Gradient descent trainer. Which is not in the 2.3 version.
I'm storing the model in fileshare.
`os.link(model_state_file, self._best_model_filename)`

[code]

Is this need to be fixed on the Allennlp?

[2021-11-27 15:56] anil1055 opened #5485 "Trying Other Transformers Model (BioBERT) - Error"
I tried to use the BioBERT model for a biomedical dataset with Allennlp. I used AllenNLP 2.1.0 version. Firstly, I downloaded this model via huggingface. Then I arranged my code according to this model. This model is in the Huggingface and this page's path is "dmis-lab/biobert-base-cased-v1.2".
model_name: 'monologg/biobert_v1.1_pubmed'
vocab_file: './vocab_file/biobert_v1.1_pubmed.txt'
BertPooler

[2021-11-30 02:14] h-vetinari commented on #5258
There's an effort [underway](https://github.com/conda-forge/allennlp-feedstock/pull/31) to do that, but due to the new dependencies added in 2.7 & 2.8, this is taking longer than expected. Also, if you have an M1, conda-forge is not building allennlp for osx-arm yet, but that could be done in principle.

PS. Posting on long-closed issues makes it very likely that your comment gets overlooked.

[2021-11-30 14:32] unikcc opened #5488 "Add a command to init AllenNLP project like spring-boot-starter"
**Is your feature request related to a problem? Please describe.**
I' a newbie for AllenNLP but I've fall in love with it to handle my own NLP task.
But each time I start a new project, I have to copy the previous code of other AllenNLP project since I can't remember the file architecture.
Then there will me much old code that is redundant for the new project and I have to delete so much lines tha

[2021-11-30 17:35] #5485 closed

[2021-11-30 21:31] JohnGiorgi opened #5491 "Re-initialize some layers of a PretrainedTransformerEmbedder"
**Is your feature request related to a problem? Please describe.**

The paper [Revisiting Few-sample BERT Fine-tuning](https://arxiv.org/abs/2006.05987v3) (published at ICLR 2021) demonstrated that re-initializing the last few layers of a pretrained transformer before fine-tuning can reduce the variance between re-runs, speed up convergence and improve final task performance, nicely summarized in

[2021-11-30 23:29] h-vetinari opened #5492 "Path.unlink(missing_ok=True) not supported on python 3.7 but used unconditionally"
The keyword-argument `missing_ok` to `Path.unlink` was only [added](https://docs.python.org/3/library/pathlib.html#pathlib.Path.unlink) in python 3.8, but is used unconditionally in the code base. This leads to test errors on the allennlp-feedstock for conda-forge for the python 3.7 builds ([1](https://github.com/conda-forge/allennlp-feedstock/pull/30), [2](https://github.com/conda-forge/allennlp-

[2021-12-01 01:54] #5466 closed

[2021-12-01 01:59] dirkgr commented on #5492
This will be fixed as part of https://github.com/allenai/allennlp/pull/5482.

If you want to backport the fix, look here: https://github.com/allenai/tango/pull/90/commits/d42629cc783961c0abc9afac779a06093fe7ccf4

[2021-12-01 01:59] #5492 closed

[2021-12-01 04:38] h-vetinari commented on #5258
Allennlp 2.8 is now in conda-forge.

[2021-12-01 07:07] dirkgr commented on #5258
Sweet, thank you!

[2021-12-01 16:09] #5467 closed

[2021-12-02 16:09] #5470 closed

[2021-12-02 16:09] #5462 closed

[2021-12-02 18:19] dirkgr opened #5494 "Upload QA models to HF"
- [x] bidaf
 - [x] bidaf-elmo
 - [x] transformer-qa
 - [x] naqanet

[2021-12-03 19:53] epwalsh commented on #5480
Thanks for bringing this, @nickmagginas! I see your point, but I still think this is a good check to have in general. So I think the best way forward would be to add a flag that disables this check. Would you like to make a PR for that?

[2021-12-03 20:00] epwalsh commented on #5479
Hi @ValkyriaLenneth, are you using the same hyperparameters for the 1024 model? While it's possible that there's a bug that's causing this performance drop, I think it's more likely that you just need to adjust the hyperparameters.

[2021-12-03 20:01] epwalsh commented on #5479
But to debug the model, I would run it on CPU with [pdb](https://docs.python.org/3/library/pdb.html).

[2021-12-03 20:03] epwalsh commented on #5484
Hmm maybe we could fall back to a symbolic link when this happens? @dirkgr, thoughts?

[2021-12-03 20:06] epwalsh commented on #5488
Hi @unikcc, we have a template repo for this purpose: https://github.com/allenai/allennlp-template-config-files. You could also make your own template repo if that one is not exactly what you're looking for.

[2021-12-03 20:08] epwalsh commented on #5491
Hey @JohnGiorgi, I do think this would be a good addition. Feel free to ping me when you start the PR!

[2021-12-03 21:03] nickmagginas commented on #5480
Yep I will try to get to this from Monday. I remember when I wrote a diff changing the check to only filter samples which only contained [PAD] I run into some problems. I will update the issue if I encounter them as I go about implementing the flag.

[2021-12-03 21:05] dirkgr commented on #5484
No, it would need to fall back to making a copy. If we make a symbolic link, it'll go stale when the original file gets deleted. It'll be slow, but at least it'll work. Maybe we print a warning in that case?

[2021-12-03 21:06] dirkgr commented on #5484
What file share is this that doesn't support hard links?

[2021-12-04 08:13] 12seetharaman commented on #5484
It is Azure file share @dirkgr

[2021-12-06 04:44] lgessler commented on #5488
I'd just like to add that I agree with @unikcc that this kind of a thing is a great boon for beginners. CLI template tools ([create-react-app](https://reactjs.org/docs/create-a-new-react-app.html) and [Leiningen's `lein new`](https://github.com/technomancy/leiningen/blob/master/doc/TEMPLATES.md) are the ones I'm most familiar with), when done well, can get a user straight into the "real code" they

[2021-12-06 05:13] aakashb95 commented on #5462
It seems you and I are looking for similar solutions. While I haven't started working on writing a custom DatasetReader yet, please check the litbank dataset I mentioned in [my issue](https://github.com/allenai/allennlp/issues/5440). Hope it helps.

[2021-12-06 05:26] aakashb95 opened #5495 "Updating model for Coreference Resolution"
I noticed a new SoTA on Ontonotes 5.0 Coreference task on [paperswithcode](https://paperswithcode.com/paper/word-level-coreference-resolution#code)

The author provides the model (.pt) file in [their git repo](https://github.com/vdobrovolskii/wl-coref#preparation) and claims it to be faster (since it uses RoBERTa) while having an improvement on avg F1 score over SpanBERT.
What would be the steps t

[2021-12-06 16:36] epwalsh commented on #5488
I think that's true. At least it would be easier to get up and running and faster to develop since you wouldn't have to wait for feedback from us to merge PRs. I'm happy to provide feedback / advice if you want it though.

[2021-12-08 17:29] dirkgr commented on #5494
TransformerQA and Naqanet don't converge when training with the instructions in the demo :-(

[2021-12-08 18:51] dirkgr commented on #5494
@osanseviero, why did you write the `push-to-hf` command so that it renames the weights file to `model.th`? We expect `best.th` or better `weights.th`. Like this we don't load properly when I try to use ` hf://` URL.

[2021-12-08 21:18] osanseviero commented on #5494
As discussed offline indeed this is an issue in the push-to-hf command. Fixing this is a minor change in the pushing script.

[2021-12-09 03:01] Zessay opened #5500 "`FBetaMultiLabelMeasure` can't process input dimension greater than 2"
The parameters' description of `__call__` function of `FBetaMultiLabelMeasure` is as following:
[code]
It means the `predictions` and other parameters with dimension greater than 2, e.g. `(batch_size, seq_len, num_classes)`, should be valid. Actually, the codes from lien 118 to 124 limit the input's dimension should be 2, because the dimension of `class_indices` is always 2.

[code]

If the input'

[2021-12-09 03:56] alizer commented on #4840
expects swa can be wraped into allennlp

[2021-12-09 23:07] dirkgr commented on #5500
You are right. I put a fix at #5501.

[2021-12-09 23:10] dirkgr commented on #5494
@osanseviero, I just uploaded a second version, and it did this: https://huggingface.co/allenai/bidaf/blob/main/README.md

That's probably not intended?

[2021-12-10 00:59] #5484 closed

[2021-12-10 01:46] dirkgr commented on #5495
A .pt file only contains the parameters for a model. To run the model, you need not only the parameters but also the code.

In this case, the easiest would be to wrap their model in an AllenNLP Model that uses the same input and output formats as our SpanBERT. It would be a moderate amount of work, but then you can use the rest of the AllenNLP code unchanged.

[2021-12-10 08:49] osanseviero commented on #5494
Hi @dirkgr. The [implementation](https://github.com/allenai/allennlp/blob/main/allennlp/common/push_to_hf.py#L29-L42) of the push command respects the existing model card to avoid deleting user-written model card data or metadata, so it just adds the template before. We're working in some wrapper for the metadata that will include validation and allow merging metadata, but this is still not done.

[2021-12-10 23:00] #5500 closed

[2021-12-11 02:07] dirkgr opened #5508 "`conda install allennlp==2.8.0 -c conda-forge` hangs forever"
When I run `conda install allennlp==2.8.0 -c conda-forge` in an environment with Python 3.8, it hangs forever.

@h-vetinari, do you know anything about that?

[2021-12-11 02:29] dirkgr commented on #5508
I should add that this happens on Linux.

[2021-12-11 03:57] h-vetinari commented on #5508
Are you trying to install this in CI without a terminal? It's possible that conda is waiting indefinitely to confirm the packages for download/installation? If so, you can pass `--yes` or `-y` to command and it should work. If that's not the case, then let me know (though effectively this exact operation is tested in the testing phase of the feedstock CI).