[2020-05-22 21:57] dirkgr commented on #4247
That version of the model is very old. Where did you find it?

The latest one is https://storage.googleapis.com/allennlp-public-models/ner-model-2020.02.10.tar.gz.

[2020-05-22 22:05] dirkgr commented on #4270
Better stack trace:
[code]

[2020-05-22 22:06] MeiqiGuo commented on #4248
@dirkgr Thank you so much, this is very helpful!
Do you know any code example which uses it for some similar purpose? Thanks in advance!

[2020-05-22 22:07] dirkgr commented on #4270
We're thinking we have to either prevent deep copy during interpret, or figure out a way to prevent it from trying to make a copy of the tokenizer.

[2020-05-22 22:11] #4247 closed

[2020-05-22 22:13] dirkgr commented on #4245
Renaming things is an API-breaking change. We don't want to do that this close to a release.

[2020-05-22 22:13] #4245 closed

[2020-05-22 22:17] dirkgr commented on #4234
I think there is enough information on the thread to solve the issue?

[2020-05-22 22:17] #4234 closed

[2020-05-22 22:42] dirkgr commented on #4248
We don't have great examples for this, but here is a test that uses `BatchCallback` end-to-end:

https://github.com/allenai/allennlp/blob/f27475aaeba87052e277df83beaadf002f4fd9da/tests/commands/train_test.py#L247

There is a model config in the test that you can adopt in your own code. The callback itself is here: https://github.com/allenai/allennlp/blob/f27475aaeba87052e277df83beaadf002f4fd9da/te

[2020-05-22 22:42] #4248 closed

[2020-05-22 23:01] dirkgr commented on #4273
The difference is that the old one would not train BERT, it would just run it. In other words, the BERT layers were frozen. That way, it doesn't have to store gradients or activations for those layers, but of course the performance will be worse.

The new version does not have this capability, but it will be quick to add. I'll try to get it done next week.

[2020-05-22 23:35] MeiqiGuo commented on #4248
@dirkgr It seems unclear for me how to use BatchCallBack to feed parameters to Model.forward(). I understand how to use it to do some loggings, however, it is different from intreating with other classes (such as Model). Would you please clarify it? Thanks!

[2020-05-22 23:59] pvcastro commented on #4273
I see. So @dirkgr , suppose I run this one with an appropriate batch in a V100. Does this mean the model with the trainable BERT would have a lot more parameters and would, thus, be a lot slower and less scalable than my current 0.9.1 setting?

[2020-05-23 00:16] dirkgr commented on #4273
Yes, that's what it means.

Technically speaking, the number of parameters it the same, but the ones from BERT are not trained and receive no updates.

[2020-05-23 00:30] pvcastro commented on #4273
If the parameters of a trained final model are the same as the current version, only being trained, this doesn't mean that at least for inference and predictions the model would have the same performance as in 0.9.1?

[2020-05-23 00:33] matt-gardner commented on #4248
In the `BatchCallback` (and `EpochCallback`), you can set `trainer.model.batch_num = counter` or `trainer.model.epoch_num = counter`, and then read that variable that you set inside `model.forward()`.

[2020-05-23 00:34] matt-gardner commented on #4248
This may not be a safe operation in a distributed setting; I'm not sure how this would interact.  Or maybe each thread would write to its own thread-local objects, so it all works out...?  🤷‍♂️ Not sure exactly how the multi-threading works here.

[2020-05-23 00:39] MeiqiGuo commented on #4248
I see. Thank you Matt @matt-gardner for your message!

[2020-05-23 01:30] dirkgr commented on #4273
It should, yes, but I'm not sure how easy it is to load the model correctly in the new version.

[2020-05-23 02:08] pvcastro commented on #4273
@dirkgr I managed to train with with a batch size 8 in a V100, but with the following outcome. Just switching the config to the new token indexer and embedder didn't manage to learn anything. Anything else I should be setting in the config?

[code]

[2020-05-23 04:40] mchari commented on #4276
Is there a new fine-grained NER model that I need to load or has

"
https://storage.googleapis.com/allennlp-public-models/fine-grained-ner-model-elmo-2020.02.10.tar.gz
"

been updated ?

thanks!

On Fri, May 22, 2020 at 2:41 PM Dirk Groeneveld <notifications@github.com>
wrote:

[2020-05-23 07:23] dirkgr commented on #4273
To train BERT, `1e-4` is a pretty high learning rate, and you are not using a LR scheduler, and no grad norm. Look at one of the transformer based training configs (I recommend TransformerQA.) to see the setup I usually use to train transformers.

[2020-05-23 10:38] peterhanlon commented on #4246
Thanks @epwalsh , replacing the imports did the trick :)

[2020-05-23 12:41] qw1243 commented on #1265
Has anyone got the solution to this problem.?I need to display confidence score of allennlp bidaf model for a QA system project I've made.

[2020-05-23 13:54] pvcastro commented on #4273
Thanks @dirkgr !
With this setting I'm able to train the model with a good performance. I'll use this as a base for allentune, as suggested in #4225 .

[code]

[2020-05-23 15:00] qw1243 opened #4279 "How to get Bidaf accuracy score"
I have built a QA system using one of the allennlp pretrained bidaf model.Is there any way that I can get the accuracy (or any other metrics) of the answer that the model has extracted using bidaf model?Attaching the code below.Any small help would be appreciated.

`
from rake_nltk import Rake
from string import punctuation
from nltk.corpus import stopwords
from allennlp.predictors.predictor impor

[2020-05-23 15:07] qw1243 opened #4280 "Retrieving answer accuracy in bidaf model"
I'm working on a Deep Learning project where I use a bidirectional attention flow model (allennlp pretrained model)to make a question answering system.It uses squad dataset.The bidaf model extracts the answer span from paragraph.Is there any way to determine the confidence score(accuracy)or any other metrics of the answer extracted by the model? I have used the subcommand evaluate from the allennl

[2020-05-23 17:05] qw1243 commented on #2095
Is there any way that I can compute the span score for the bidaf allennlp model?

[2020-05-23 19:36] bintaofeng commented on #3443
Matt, Glad to find this thread about Allennlp's fine-tuning support. I'm trying to use Allen NLP's predict  functionality. I was able to fine tune gpt2 model  2000 steps and obtained hparams.json along with other checkpoint files. How do I load them into an Allen NLP model? Do you have sample code?
Thank you!

[2020-05-23 23:44] bratao commented on #2808
@dirkgr @matt-gardner if I open a PR based on @mayhewsw work is something that would be accepted?

[2020-05-23 23:52] mayhewsw commented on #2808
(Fine with me, fwiw)

[2020-05-25 04:17] dirkgr commented on #2808
Browsing over the code in the gist, I assume the scope of this is just to create the embeddings, but not to make it trainable, right?

[2020-05-25 04:42] bratao commented on #2808
@dirkgr yes, this would a be embedding generator only.

It is possible but very tricky to implement it using only the AllenNLP. At least for me. As it is a char lm that use the embedding of the first white char after a word.

But the performance for NER is way better than anything else I tested.

[2020-05-25 06:24] dirkgr commented on #2808
I'm not wild about making Flair a dependency of the core allennlp library, but we could put this into `allennlp-models` as an NER model, and go from there? If we then decide to add the other Flair models, maybe we'll expand.

@mayhewsw's gist only provides the embedder. What's involved with making an NER model?

[2020-05-25 08:06] frascuchon commented on #4201
Just a brief comment about your implementation. What you do after `spacy_download` still failing when passing a shortcut name

You try to load model names as python module
[code]
and this only works for full named models.

You could load the model after download it in the same way that you do before, since spacy cli automatically links the model name with the shortcut version.

[code]

[2020-05-25 10:35] arthurdeschamps opened #4281 ""TypeError: not a sequence" on simple coreference resolution"
**Describe the bug**

I get a `TypeError: not a sequence` when trying to predict this simple string: "Besides its prominence in sports, Notre Dame is also a large, four-year, highly residential research University, and is consistently ranked among the top twenty universities in the United States  and as a major global university."

Full stacktrace:

[code]

**To Reproduce**
Run this simple piece o

[2020-05-26 01:40] johntiger1 opened #4285 "Model serialization and deserialization: ensuring vocabularization consistency?"
In this line, it says that we can use our model for inference by simply doing `torch.load(...)`.

https://github.com/allenai/allennlp/blob/e52fea2801fefc07808ee2039a086a9abbf21a1e/allennlp/training/trainer.py#L910

However, don't we need to ensure certain things are consistent? For instance the mapping from tokens to indices, the instances yielded by the `dataset_reader` etc.

I looked into here,

[2020-05-26 08:05] mateuszpieniak commented on #4143
@epwalsh I just downloaded `1rc4` and there is still no `SNLI` Dataset reader

[2020-05-26 10:14] #4273 closed

[2020-05-26 11:39] Sneriko opened #4287 "AllenNLP crf-tagger with BERT"
Hi!

I tried to add swedish BERT embeddings to the AllenNLP crf-tagger, with the config file below, but got really bad results, even though the same BERT-model got really high F1-score when evaluating with the transformer standard model for sequence tagging. I was just wondering if anyone had any idea of why the results are so low. With BERT I got an F1-score of about 0.54, but with ELMO and FastT

[2020-05-26 13:06] mateuszpieniak commented on #4147
As far as I know, you can always use `no_grad` regex from `Trainer` to freeze the layers you are interested in.

[2020-05-26 15:09] matt-gardner commented on #4285
What you linked is internal documentation of a private method (it begins with an underscore), and it is not complete.  It only points to what you would have to do to replace that particular method.  See the code example here for what goes into saving and loading a model: https://allennlp-course.apps.allenai.org/building-your-model#3.

The section on what to do if you're not using config files isn'

[2020-05-26 15:09] #4285 closed

[2020-05-26 15:21] matt-gardner commented on #4201
Ah, good point.  PR to fix this welcome!

[2020-05-26 15:22] johntiger1 commented on #4285
Thanks @matt-gardner . Will take a look. In the meantime I think I've found a way that simply pickles the dataset reader + vocab, but this is completely ad-hoc and likely brittle.

[2020-05-26 15:35] johntiger1 commented on #4285
Thanks @matt-gardner that makes sense. I have my own opinions on the config-based approach (for instance, memory blow-up using `allennlp-train` vs precise memory and garbage collection control via a code-first approach) but won't bore you with the details. Would love to give back and contribute something (a guide, opinion piece) after EMNLP though!

[2020-05-26 15:52] matt-gardner commented on #4285
The only memory difference between the two approaches should be which `Instances` are in memory when, and you *should* be able to control that with `lazy`.  If you're seeing drastic memory differences between the two, we'd like to know about them.

[2020-05-26 16:00] mateuszpieniak opened #4289 "Multi-GPU error related to process initialization?"
**System (please complete the following information):**
 - OS: Ubuntu 18.04
 - AllenNLP version: v1.0.0.rc4
 - PyTorch version: 1.4.0

**Question**
I tried to run some model using distributed computation:
[code]

but I failed :cry:

[code]

I suspect that the work is ongoing (I use `v1.0.0rc4`), but clearly I need to somehow initialize a process group like below, which is either missing in the cod

[2020-05-26 16:09] epwalsh commented on #4289
Hi @mateuszpieniak, sorry that our distributed training mechanism is a little opaque at the moment. We're have plans of adding a tutorial soon.

The issue here is with your configuration file. You shouldn't set "distributed", "cuda_device", or "world_size" in the "trainer" part of your config. Instead, should just specify distributed training at the top level of your config like this: https://gith

[2020-05-26 16:15] epwalsh commented on #4279
Closing because this is a duplicated of https://github.com/allenai/allennlp/issues/4280

[2020-05-26 16:15] #4279 closed

[2020-05-26 17:11] qw1243 commented on #4279
I haven't received answer for both the issues.

[2020-05-26 17:16] epwalsh commented on #4279
Is your question here different from your question in #4280? As far as I can tell you've asked the same question twice. Hence why I closed this.

[2020-05-26 17:31] matt-gardner commented on #4280
I'm a bit confused.  I see in your code that you accessed the `span_start_probs` and `span_end_probs` that are output by the model.  The probability that the model assigns to any particular span is just the product of these two values.  You have the information you need, and your code uses it.  What exactly are you still looking for?

[2020-05-26 17:38] epwalsh commented on #4281
Hi @arthurdeschamps, I did some debugging and a found that the root of the issue comes from there being some `None` values in the `offsets_tokens` list from your stacktrace, which causes `torch` to fail when trying to turn this list into a tensor because it doesn't know how to handle the `None` values. These `None` values come from this line:

https://github.com/allenai/allennlp/blob/master/allenn

[2020-05-26 17:55] mateuszpieniak commented on #4289
@epwalsh That's fine, thank you! I have a question though. Should `batch_size` be configured "per device"? I mean whether  `1 GPU, batch_size = 32` is equivalent to `4 GPU, batch_size = 8`? I guess it won't be precisely equivalent because `DDP` uses `average`, but I ask about the main rule.

[2020-05-26 18:03] epwalsh commented on #4289
Yes, `batch_size` should be interpreted as "per device batch size". With 4 GPUs, setting `batch_size = 8` means each individual worker uses a batch size of 8, making your "effective batch size" 32.

[2020-05-26 18:05] epwalsh commented on #4289
I think we can close this, but if you have any other issues feel free to reach out!

[2020-05-26 18:05] #4289 closed

[2020-05-26 18:26] qw1243 commented on #4280
Is there any way I can get the accuracy of the answer retrieved by the
model?I'm new to ML and so I haven't got even the smallest an idea about it.

On Tue, 26 May, 2020, 11:01 PM Matt Gardner, <notifications@github.com>
wrote:

[2020-05-26 18:27] qw1243 commented on #4280
I actually need to know how I can calculate the accuracy of the answer that is returned by the model.

[2020-05-26 19:08] matt-gardner commented on #4280
Do you know what the answer is supposed to be?

[2020-05-26 19:16] #4051 closed

[2020-05-26 20:49] dirkgr commented on #4281
This is something that has to be handled in the model.

Recall: `_intra_word_tokenize` takes an existing tokenization of a string, and cuts the tokens into word pieces suitable for a transformer. What should happen when the existing tokenization produces tokens that have zero word pieces? I can't answer that in general. It depends on your case.

If your answer is "That should never happen.", then

[2020-05-26 20:58] epwalsh commented on #4281
@dirkgr in any case, I think we need to improve our error message here. Seems to me like `_intra_word_tokenize` should raise an exception when a token results in zero word pieces?

[2020-05-26 21:34] epwalsh commented on #4281
@arthurdeschamps is this case you have extra whitespace in your document:

[code]

Nevertheless, the error message should be improved here. See https://github.com/allenai/allennlp/pull/4291

[2020-05-26 21:47] epwalsh commented on #4287
@Sneriko that's interesting. Could you also share your config that you used with ELMO so that we have something to compare this with?

[2020-05-26 21:52] dirkgr commented on #4281
Sometimes this is a case you want to handle specifically. If we throw an exception, you could never deal with that case.

[2020-05-26 22:15] epwalsh commented on #4281
My issue with **not** throwing an exception is that there are several places that rely on this function returning all non-Nonetype offsets. This issue brought to light one of these places.

`mypy` should really have caught this before in our CI checks because this is a typing error on our part.

That said, the other option would be to raise an exception downstream in all of the places that use the

[2020-05-26 23:45] dirkgr commented on #4281
What are all of those places that expect it?

[2020-05-26 23:49] epwalsh commented on #4281
- https://github.com/allenai/allennlp/blob/master/allennlp/data/token_indexers/pretrained_transformer_mismatched_indexer.py#L96
- https://github.com/allenai/allennlp-models/blob/master/allennlp_models/coref/util.py#L105

[2020-05-26 23:50] dirkgr commented on #4281
Can we fix it by adding a fixed embedding to the mismatched embedder for these cases, which gets substituted when there is nothing else to add?

I'm looking at the other case right now.

[2020-05-26 23:53] dirkgr commented on #4281
For the coref case, it would be pretty messed up if the mention starts or ends in a token that has no word pieces. I'd be OK just letting it crash in that case, or just throwing an exception right there.

We're losing a little bit of generality if we do this. The proper fix would be to scan forward from the start token until we find one that's not `None`, and scan backwards from the end token. But

[2020-05-27 02:50] ZhaofengWu commented on #4281
Might be relevant: #3779, esp. the part where it was re-opened. Specifically see https://github.com/allenai/allennlp/pull/3808/files#r381036253

[2020-05-27 02:53] ZhaofengWu commented on #4281
https://github.com/allenai/allennlp/blob/8ff47d34a5368fb85f27816aefa5739910a9e3e4/tests/data/tokenizers/pretrained_transformer_tokenizer_test.py#L225 was supposed to test this behavior.

[2020-05-27 05:47] Sneriko commented on #4287
yes, absolutely.

{
    "dataset_reader": {
        "type": "conll2003",
        "coding_scheme": "BIOUL",
        "tag_label": "ner",
        "token_indexers": {
            "elmo": {
                "type": "elmo_characters"
            },
            "token_characters": {
                "type": "characters",
                "min_padding_length": 3
            },
            "tokens": {

[2020-05-27 07:12] qw1243 commented on #4280
Yes,I'm displaying the answer but I don't know how I can measure how true the answer is based on the question.

[2020-05-27 14:29] matt-gardner commented on #4280
It's still not clear to me what exactly you're trying to do.  There's the answer the model predicted, and there's the correct answer to the question.  Do you have both of these?  If you don't, then there is no way that you can compute accuracy or any related metric.  If you have both, then you can format your data just like how our training data is formatted, and use `allennlp evaluate` or the `ev

[2020-05-27 15:59] #4270 closed

[2020-05-27 16:09] qw1243 commented on #4280
I'll give an example. Suppose I give a qn "what is photosynthesis" and my QA system displays the answer "the process by which green plants and some other organisms use sunlight to synthesize nutrients from carbon dioxide and water. Photosynthesis in plants generally involves the green pigment chlorophyll and generates oxygen as a by-product." I do know this answer is infact 100% accurate.But a per

[2020-05-27 16:12] epwalsh commented on #4287
Thanks @Sneriko, and could also tell me which version of AllenNLP you used? Or better yet, just paste the output of `pip freeze`.

[2020-05-27 16:14] qw1243 commented on #4280
Thanks😊

[2020-05-27 16:14] #4280 closed

[2020-05-27 16:34] epwalsh commented on #4287
I see a couple of differences between your two configs that stand out to me:
- In your BERT config, you are using `IOB1` coding scheme (the default), whereas in your ELMO config you're suing `BIOUL`.
- You're using a regularizer in the ELMO config but not the BERT config.

I don't think any of these differences on their own are enough to explain the performance gap, but it may be worth rectifying

[2020-05-27 18:40] xdwang0726 opened #4295 "Add read pre-trained bin file to Embedding"
For now, Embedding only take .txt and .hdf5 for pre-trained embedding format. Would it be possible to add .bin format as .bin is the most commonly used for pre-trained format. Thank you!

[2020-05-27 19:21] epwalsh commented on #4295
It's certainly possible and shouldn't be too difficult. Contributions welcome!

[2020-05-27 20:02] mateuszpieniak commented on #4289
@epwalsh Just a quick follow up

1) I have one node with 32 GB of RAM and 4 GPUs with 11 GB of memory each. I load the MNLI dataset and spawn into 4 processes. The spawned function for each process is `_train_worker`. It runs internally `TrainModel.from_params(...)`, which reads the whole dataset `datasets = training_util.read_all_datasets(...)`. My machine hangs out due to OOM. I think it's relat

[2020-05-27 20:43] #3757 closed

[2020-05-27 21:27] epwalsh commented on #4289
Hi @mateuszpieniak, would you mind making a PR to add to the docs to address # 3?

As for # 4, the vocab is created from all of the instances by the main process *before* any of the workers are spawned. See here: https://github.com/allenai/allennlp/blob/master/allennlp/commands/train.py#L271

The vocab is then saved to the serialization directory, and then the "vocab" params are modified so that t

[2020-05-27 21:47] epwalsh commented on #4289
Let me know if that doesn't make sense, I'm pretty new to the distributed code.

[2020-05-28 07:49] aoleiReiz opened #4297 "reading comprehension: 'Predictor' object has no attribute 'predict'"
## Checklist

- [ ] I have verified that the issue exists against the `master` branch of AllenNLP.
- [ ] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [ ] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-05-29 01:14] dirkgr commented on #4281
I proposed a fix at https://github.com/allenai/allennlp/pull/4301.

[2020-05-29 13:34] wj-Mcat opened #4303 "how can I custom my trainner?"
Our model output two type loss :
[code]
I will train my model in rotation. This is my customization, I can't see any document description it. Could you help me?

[2020-05-29 14:14] epwalsh commented on #4297
Closing as this is a duplicate and has been fixed, just update allennlp and allennlp-models: `pip install -—upgrade allennlp allennlp-models`

[2020-05-29 14:14] #4297 closed

[2020-05-29 14:43] matt-gardner commented on #4297
I think you also need `--pre` until we have a stable release.

[2020-05-29 15:56] matt-gardner commented on #4303
My recommendation for how to do this with current code (a recent pre-release of 1.0):

Use a `BatchCallback` to tell the model which loss to output, keeping a flag that alternates every batch (or however many batches you want to do for each loss in a row).  Then the model can just customize its output behavior based on that flag.  You could even output both, using those keys, for logging purposes,

[2020-05-29 22:34] epwalsh commented on #4266
Closing due to lack of response, please feel free to comment if you're still having an issue, or post on our discourse forum.

[2020-05-29 22:34] #4266 closed

[2020-05-29 22:39] epwalsh commented on #4287
You might want to have a look at this config: https://github.com/allenai/allennlp-models/blob/master/training_config/rc/transformer_qa.jsonnet

This could be a good starting point as far as learning rate and other hyper parameters for fine-tuning a BERT model.

[2020-05-29 22:41] schmmd commented on #4295
@xdwang0726 can you give a clear example of the type of file you are proposing adding support for?  We're not sure what `.bin` format is, and it'd be good for us to understand the format before anyone begins implementation on adding support.

[2020-05-29 22:42] epwalsh commented on #4303
Hi @wj-Mcat, thanks for the question. We're going to close this now because our discourse forum would be a better place for these types of questions. https://discourse.allennlp.org/

[2020-05-29 22:42] #4303 closed

[2020-05-29 23:28] wj-Mcat commented on #4303
Ok, thanks a lot for your reply.

[2020-05-30 13:54] joepalermo commented on #2302
It appears that this class now lives here: https://github.com/allenai/allennlp/blob/master/allennlp/modules/softmax_loss.py

From nelson's link, the ask is:
"Can you explicitly document here in the constructor that this class does not add a padding ID, and that the input targets to forward should not include the padding id?" -matt-peters

@matt-peters I'd like to do this and just want to make sure

[2020-05-30 18:25] dirkgr opened #4304 "allennlp prune command"
People using the library (@yakazimir) are ending up with lots of model directories that are full of checkpoints, wasting many TB of space. We could have an `allennlp prune` command that finds these and deletes them, leaving only the final model.

[2020-05-30 18:50] matt-gardner commented on #4304
Finding arbitrary directories that were used seems really challenging.  We could walk a directory looking for weights files, but how do we know which ones to keep...?

An alternative solution is to just change the number of serialized models that we keep around, which we did already: https://github.com/allenai/allennlp/blob/91d0fa1a51485c4118e48426d76328acd8049587/allennlp/training/checkpointer.py

[2020-05-30 19:06] ZhaofengWu commented on #4304
+1 to Matt's comment. I was having the same problem in 0.9 but with this change this shouldn't be a problem anymore.

Regardless, if we want to do this, it might be better to come up with a name other than `prune` to avoid confusion with model pruning.

[2020-05-31 05:12] Statham-stone commented on #1391
This code works, thank you very much.

[2020-05-31 05:13] Statham-stone commented on #1391
The ListField __init__() methos should add a parameter to specify field when the list is empty.

[2020-06-01 06:46] mattgathu commented on #4104
I'm having this issue with `1.0.0rc5`

[code]

[2020-06-01 15:28] epwalsh commented on #4104
@mattgathu thanks for catching this. This PR should fix it: https://github.com/allenai/allennlp-models/pull/67

[2020-06-01 22:01] epwalsh opened #4308 "Try using apex.DistributedDataParellel"
See https://nvidia.github.io/apex/parallel.html

[2020-06-02 08:34] nikitacs16 opened #4311 "Request for DistilBERT"
Hello,
An allennlp newbie here. I was wondering if the DistilBERT models are available in the encoders.
Any help will be appreciated.
Thank you

[2020-06-02 15:25] mateuszpieniak commented on #4289
@epwalsh Sure, I will do a PR. I think it makes sense if the training takes place on a single machine. Otherwise, the vocabulary should be sent over the network to the workers, because they cannot read `from_files`. Don't worry, I am also pretty new to distributed code :wink:

Btw, how does gradient accumulation work for distributed training? Is it the number of steps per worker before the gradien

[2020-06-02 16:05] epwalsh commented on #4289
You're right, this won't work over the network. Currently our distributed training will only work on a single machine (so, not exactly distributed, but in theory it's more efficient than the old multi-GPU training that used `DataParallel` instead of `DistributedDataParallel`).

And yes, the `num_gradient_accumulation_steps` parameter is given to each worker's trainer as-is. So in your example, eac

[2020-06-02 17:28] #3679 closed

[2020-06-02 17:31] matt-gardner commented on #4311
If you use the `PretrainedTransformer` text processing classes, then you can pass them any model name that's supported by the `transformers` library (including distilbert).  So, yes, you do this already.  Closing this issue, but feel free to comment if you have more questions.

[2020-06-02 17:31] #4311 closed

[2020-06-03 00:04] #4281 closed

[2020-06-03 00:05] dirkgr commented on #4281
#4301 fixes this issue, in the sense that you don't get an exception anymore. But instead it puts a zero vector into your embeddings. If the model isn't trained for that possibility, anything could happen. There is no guarantee it will give good performance.

[2020-06-03 06:36] varunmandiram opened #4314 "wanted to use allenNLP wiki table parser in our application ?"
wanted to access the pre-trained model  (which was trained on wikitables)using python.
wanted to add additional training to the existing model based on our requirement.
Kindly help us resolving in these  issues

[2020-06-03 11:39] ud2195 commented on #3966
has this problem been solved? facing a similar issue!
`ValueError: DataLoader with IterableDataset: expected unspecified batch_sampler option, but got batch_sampler=<allennlp.data.samplers.bucket_batch_sampler.BucketBatchSampler object at 0x7f1ad63b3d68>`

[2020-06-03 17:45] ud2195 opened #4317 "facing AssertionError when running my textual entailment training using roBERTa"
Hi , I am facing assertion error which didnt used to happen earlier while starting my training using roBERTa for textual entailment.

Please find the full traceback below:-
[code]
my config file:-
[code]
this is the same config.jsonnet given for roBERTa for training on mnli dataset except the fact that i removed
`"add_special_tokens": False` from tokenizer field in jsonnet. as it gave me a static

[2020-06-03 20:43] epwalsh opened #4318 "Peak CPU memory not reported correctly in distributed training"
I noticed this bug while benchmarking some distributed experiments on beaker. I think `allennlp.common.util.peak_memory_mb()` is only called from the master process, and it only reports the memory usage for the master process. This should really report the combined memory used across all workers.

[2020-06-03 20:57] matt-gardner commented on #4314
The code for that model lives in the [allennlp-semparse repository](https://github.com/allenai/allennlp-semparse).  You can see the location for a trained model [here](https://github.com/allenai/allennlp-demo/blob/master/api/allennlp_demo/wikitables_parser/model.json).

[2020-06-03 20:57] #4314 closed

[2020-06-03 21:02] matt-gardner commented on #3966
The `BucketBatchSampler` is not currently compatible with lazy datasets.  This is on our radar for things to do (@epwalsh, did you say you were thinking about this? I don't see an issue open for it), but we have no ETA yet.  You'll have to use a different sampler for now.

[2020-06-03 21:04] epwalsh commented on #3966
What I'm working on right now is improving the `BucketBatchSampler` for distributed training, but I'll start thinking about this as well.

[2020-06-03 21:13] matt-gardner commented on #4317
That error is because you need to set the flag that you removed (`"add_special_tokens": False`) in order for the MNLI data and model code to work properly.  If that flag is not set, you would get messed up special tokens in your model.  You didn't need that flag with 1.0.0rc3, but you do with rc5, due to some changes made in between those two releases..

[2020-06-03 21:13] #4317 closed

[2020-06-03 21:15] matt-gardner commented on #3966
In any case, I think we should re-open this issue and mark it as for the 1.1 milestone for now.  I'll update the issue name to cover shuffling and bucketing with lazy datasets.  We've solved lazy + distributed, and you're working on bucketing + distributed, but we haven't solved shuffling or bucketing with lazy yet.

[2020-06-04 06:14] ud2195 commented on #4317
Hi matt, thanks for your prompt response but i am still getting `RuntimeError: STATIC ERROR: /content/newconfig.jsonnet:11:29-34: Unknown variable: False
` when i include the flag.

[2020-06-04 06:46] ud2195 commented on #4317
@matt-gardner  Matt, the flag "add_special_tokens": should be set to 'false' instead of 'False'.Hence, was throwing the error. i.e.
`"add_special_tokens":false` instead of `"add_special_tokens":False` mentioned in the github repository here:-
[https://github.com/allenai/allennlp-models/blob/master/training_config/pair_classification/snli_roberta.jsonnet](url)

[2020-06-04 09:49] ud2195 commented on #3966
@matt-gardner @epwalsh can you please suggest some other data sampler that i can use with `lazy=true` ?

[2020-06-04 12:59] ud2195 opened #4319 "Predictor.from_path not loading my trained model"
Hi , After training my Textual entailment model successfully using roBERTa, I am unable to load the same:-

Traceback:-
[code]
[code]
code :-
[code]
allennlp and allennlp-model version is **1.0.0rc5**

will really appreciate some help on the same, Thank you

[2020-06-04 16:35] matt-gardner commented on #4317
Thanks for catching that!  PR opened to fix it: https://github.com/allenai/allennlp-models/pull/70.

[2020-06-04 16:38] matt-gardner commented on #3966
Thanks @JohnGiorgi. Yes, for now the recommended solution is either what @JohnGiorgi suggested just above, or what he suggested [farther up in the thread](https://github.com/allenai/allennlp/issues/3966#issuecomment-602046006).

[2020-06-04 16:44] matt-gardner commented on #4319
This looks like a duplicate of #4104, which I thought we already fixed.  You're not supposed to need to do any imports or anything to get the `allennlp-models` models and dataset readers registered.  @epwalsh, any idea why this isn't working in rc5?  Is it because we're not importing everything in `allennlp_modules.__init__`?

@ud2195, a simple workaround is to run `from allennlp_models import pai

[2020-06-04 17:48] ud2195 commented on #4319
@matt-gardner Thanks for replying matt. Model loaded successfully but when running the below function on my dataset i get `KeyError: 'hypothesis'`
function-
[code]
traceback:-

Traceback (most recent call last):
[code]
code:-
[code]

[2020-06-04 18:04] matt-gardner commented on #4319
For that model you have to specify a separate predictor:
[code]

[2020-06-04 18:43] schmmd opened #4320 "Sentiment evaluate command fails on AllenNLP RC5"
This code snippet is available on our demo.

[code]

[2020-06-04 18:45] ud2195 commented on #4319
thank you so much, really appreciate your prompt replies and the work that you guys do to build such packages :)

[2020-06-04 18:54] ud2195 commented on #3966
@JohnGiorgi Thank you so much :)

[2020-06-04 21:17] schmmd opened #4321 "Cannot predict with TransformerQA on 1.0.0rc5"
[code]

[2020-06-04 21:18] schmmd opened #4322 "Cannot predict with NAQANET on 1.0.0rc5"
[code]

[2020-06-04 22:50] #4318 closed

[2020-06-05 08:33] jankrepl opened #4324 "Upper limit on dependencies versions"
Similar issues:

- #2650

I was wondering why do you quite often limit the upper version of your dependencies. See below a list of all examples from the current `setup.py`

- `"torch>=1.5.0,<1.6.0"`
- `"spacy>=2.1.0,<2.3"`
- `"transformers>=2.9,<2.12"`
- `"filelock>=3.0,<3.1"`

Are you just afraid that the future versions of these packages are going to break `allennlp`? Or you already somehow know

[2020-06-05 10:18] mateuszpieniak commented on #4050
I think that it is related. I try to reproduce MNLI results using ALBERT & distributed training using the Siamese-BERT model. Accuracy is my evaluation metric. It doesn't work with distributed code but seems to work using a single GPU. The "effective" hyperparameters are the same.

For distributed training:

[code]

For single GPU:
[code]

![image](https://user-images.githubusercontent.com/3137542

[2020-06-05 11:30] ud2195 commented on #3966
@JohnGiorgi @matt-gardner
using john's code snippet along with `lazy=true` in my config file allennlp was reading instances from my data indefinitely and when i removed `num_workers`  from the snippet and incorporated it in my config file it read my instances pretty quickly and training started.

How is the above scenario possible?
this is my understanding of `num_workers`:-
pytorch's `num_workers

[2020-06-05 12:34] FelixLabelle opened #4325 "OpenIE demo not working with 1.0.0rc5"
## Description

I'm trying to run the [OpenIE demo](https://demo.allennlp.org/open-information-extraction) with a more recent release (1.0.0rc5 instead of 1.0.0rc3). There appears to have been a change in the layout of the AllenNLP modules (syntax no longer exists).

Originally I got an error to that effect and checked the layout of the files. I replaced "import allennlp_models.syntax.srl" with "a

[2020-06-05 15:49] matt-gardner commented on #4324
We do this because newer versions of these libraries have broken our build / made our code crash. We now use a bot to automatically update our dependencies when new versions come out, so we can see if something breaks.  This unfortunately doesn't help you with 0.9, but newer versions have more up-to-date dependencies.

[2020-06-05 15:49] #4324 closed

[2020-06-05 15:51] matt-gardner commented on #4050
@dhruvdcoder, sorry that it looks like somehow missed this issue originally.

@epwalsh, I haven't ever touched the distributed code, but you've been doing a bunch with this recently.  Care to take a look at this issue?

[2020-06-05 16:01] #4325 closed

[2020-06-05 16:43] epwalsh commented on #4050
Hey @mateuszpieniak, in those TensorBoard screenshots, is the orange line the distributed experiment and the red line the single GPU experiment?

[2020-06-05 16:57] epwalsh opened #4326 "Metric logging should be sorted for readability"
It would be nice if the metrics were logged in alphabetically order. It's not much of an issue on a single GPU experiment, but when training on multiple GPUs and I want to quickly look at the memory metrics, it's a little annoying trying to find what I'm looking for.

<img width="1025" alt="image" src="https://user-images.githubusercontent.com/8812459/83903287-b4a23280-a712-11ea-97a8-1949d0f5c8e2.

[2020-06-05 16:58] epwalsh commented on #3966
@ud2195 I'm looking into that.

[2020-06-05 17:28] epwalsh commented on #3966
@ud2195 could you share your full config? I'm trying to reproduce this

[2020-06-05 17:33] ud2195 commented on #3966
config when i removed `num_workers`  :
[code]
config file when i set `num_workers`=1 :
[code]

[2020-06-05 18:23] epwalsh commented on #3966
I think I know what's going on. It's due to this: https://github.com/huggingface/tokenizers/issues/187

[2020-06-05 18:28] epwalsh commented on #3966
@ud2195 could you open a separate issue for this? I want to make sure we keep tracking it.

[2020-06-05 18:49] ud2195 commented on #3966
@epwalsh sure ill do so, did you get the same results as well?

[2020-06-05 19:05] epwalsh commented on #3966
I haven't tried to reproduce your example exactly, but I've seen this before.

[2020-06-05 19:23] ud2195 commented on #3966
all right @epwalsh thank you for looking into it , really appreciate it.

[2020-06-05 21:02] epwalsh opened #4329 "TransformerQA has much lower performance with mixed precision training"
I've run a lot of benchmarks now on the TransformerQA model both with and without mixed precision training using Apex. While using Apex does result in a significant speed up, the loss and f1 metrics are significantly worse:

<img width="1555" alt="image" src="https://user-images.githubusercontent.com/8812459/83922326-fc39b600-a734-11ea-90d0-1a2dc7626376.png">

Per @matt-peters suggestion we should

[2020-06-05 21:06] #4326 closed

[2020-06-05 21:19] #4268 closed

[2020-06-05 21:47] #4035 closed

[2020-06-05 22:18] epwalsh opened #4330 "Transformer tokenizers cause deadlocks when dataset reader is lazy and dataloader num_workers > 0"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-06-05 22:18] epwalsh commented on #3966
@ud2195 okay yeup, just got around to running essentially the same config as yours and it's happening to me to. I went ahead and made an issue for it: https://github.com/allenai/allennlp/issues/4330

[2020-06-05 22:23] epwalsh commented on #4321
This is due to this: https://github.com/allenai/allennlp-models/blob/master/allennlp_models/rc/predictors/transformer_qa.py#L49

[2020-06-05 22:25] schmmd commented on #4321
Is it reasonable to consider it a bug that TransformerQA won't work with the CLI @epwalsh ?

[2020-06-05 22:29] epwalsh commented on #4321
Someone who's more familiar with TransformerQA should probably weigh in. I'm actually not sure why this model creates multiple instances per input.

[2020-06-05 22:34] matt-gardner commented on #4304
In issue review we thought we should just close this.  Please reopen @dirkgr if you want to discuss further.

[2020-06-05 22:34] #4304 closed

[2020-06-05 22:39] matt-gardner commented on #4319
From issue review: A simple solution is to just import default plugins in `allennlp.__init__`.  That has potential speed and memory implications that we want to measure before doing it.  Another solution is to do it when importing `Predictor`, because that's where this issue keeps coming up.

[2020-06-05 22:41] matt-gardner commented on #4321
Yes, this should definitely work.  Something needs to be fixed here.

[2020-06-05 22:42] matt-gardner commented on #4322
For some reason I'm not sure of, the default predictors dictionary either doesn't contain this model, or it isn't getting picked up.

[2020-06-05 22:45] matt-gardner commented on #4330
Our thinking is that we would have a very hard time resolving this issue ourselves, and it'll take work from huggingface's tokenizers repo to really fix this.  The suggested workaround is to just always avoid setting `num_workers` when using a huggingface tokenizer.

[2020-06-05 22:46] #3306 closed

[2020-06-05 22:54] schmmd opened #4331 "Predict doesn't work for Roberta MNLI on 1.0.0rc5"
[code]

[2020-06-05 22:57] schmmd opened #4332 "Predict doesn't work for SNLI on 1.0.0rc5"
[code]

[2020-06-05 23:24] epwalsh commented on #4319
I think importing plugins in `allennlp.__init__.py` could potentially result in some circular import issues. Anyway, here's a one potential solution: https://github.com/allenai/allennlp/pull/4333

[2020-06-05 23:38] #3438 closed

[2020-06-07 01:59] wj-Mcat opened #4335 "pretrained file from word2vec model"
I get pretrained embedding from word2vec model, which doesn't contains oov padding.  Allennlp must require oov padding in token.txt files. So, embedding file `word_idx `[0] is not `oov` index.

how to resolve this matching problems?

[2020-06-07 12:23] ducalpha opened #4336 "BERT SRL model: RuntimeError: Expected object of backend CPU but got backend CUDA for sequence element 1 in sequence argument at position #1 'tensors'"
Error: `RuntimeError: Expected object of backend CPU but got backend CUDA for sequence element 1 in sequence argument at position #1 'tensors'`

How to reproduce follow allennlp demo usage (https://demo.allennlp.org/semantic-role-labeling).

[code]

Spacy version 2.2.4

[code]

How to fix:
Remove `cpu()` on this file (https://github.com/allenai/allennlp-models/blob/master/allennlp_models/structure

[2020-06-07 21:07] ducalpha opened #4337 "SRL predictor misses "get" verb."
SRL Predictor only considers verbs with VERB Universal POS (https://github.com/allenai/allennlp-models/blob/master/allennlp_models/structured_prediction/predictors/srl.py#L108), but "get" commonly is tagged as AUX by Spacy. Therefore, the verb "get" in sentences is frequently ignored.

How to reproduce:
Trying the following sentence on SRL demo (https://demo.allennlp.org/semantic-role-labeling) wi

[2020-06-08 06:41] dirkgr opened #4339 "Make an AllenNLP Project Template"
We should have a template GitHub repo for people to get started with.

[2020-06-08 07:59] dirkgr commented on #4321
It's just missing the default predictor. Not sure how that got lost. I added them all when I changed how default predictors are found.

[2020-06-08 09:12] mateuszpieniak commented on #4050
@epwalsh Yes. I think you might try to use config files from `allennlp-models` (https://github.com/allenai/allennlp-models/blob/master/training_config/pair_classification/mnli_roberta.jsonnet) to reproduce the bug I encountered.

My example differs a bit from the mentioned config though.
- I don't combine `premise` and `hypothesis` using `[SEP]`, but I share the architecture for each input. as des

[2020-06-08 09:37] dirkgr commented on #4320
`sst-2-basic-classifier-glove-2019.06.27.tar.gz` is quite old and should not be in the demo. We should use a newer RoBERTa-based one.

I tried the latest RoBERTa based on that's online, and it fails with the same error.

I can probably just update the model config, but I wanted to make sure this still trains properly anyways, so I started a training run on allennlp-server3, and it that gives me a

[2020-06-08 12:43] dirkgr commented on #4331
I know what this is, but to be sure that the whole model still works, I'm retraining it. It should be done before any of y'all wake up.

[2020-06-08 12:44] dirkgr commented on #4332
I know what this is, but to be sure that the whole model still works, I'm retraining it.

[2020-06-08 12:44] dirkgr commented on #4331
https://github.com/allenai/allennlp-models/pull/72 is needed for retraining.

[2020-06-08 15:45] matt-gardner commented on #4335
How are you creating your vocabulary and your embedding layer?  Where exactly do you get an error?  We need a little bit more detail in order to help you.

[2020-06-08 15:49] matt-gardner commented on #4336
Yes, this looks like a bug to me (though I'm not sure what `spacy.require_gpu()` is doing in the code snippet you gave).  Care to submit a PR to fix it?

[2020-06-08 15:51] matt-gardner commented on #4337
This is not a bug in allennlp.  If you want to use a different tagger with our SRL model, you can replace the tagger in the SRL predictor.  If you have a recommendation for a better tagger to use by default, PR welcome.

[2020-06-08 15:51] #4337 closed

[2020-06-08 15:52] matt-gardner commented on #4339
Is this good enough as a template? https://github.com/allenai/allennlp-guide-examples/tree/master/quick_start

[2020-06-08 16:24] #4319 closed

[2020-06-08 16:32] #4147 closed

[2020-06-08 18:28] epwalsh commented on #4330
Here's an even simpler repro example btw:

[code]

[2020-06-08 20:39] epwalsh commented on #4039
I think the change to using slots classes for tokens, fields, and instances (especially tokens) has made a big impact.

But just so this is documented, I played around a little bit with `ListField` and `TextField` to see if using tuples instead of lists would result in significantly less memory consumption. Using an example similar to @nelson-liu's above, I only saw a 2% reduction in memory usage.

[2020-06-09 05:29] YKX-A opened #4345 "Can't run allennlp-server in 1.0.0 rc6"
environment
[code]

My target is to run a **simple server (web demo)**, like [this](https://github.com/YKX-A/allennlp_0.9.1_bk/blob/master/docs/tutorials/getting_started/predicting_paper_venues/predicting_paper_venues_pt2.md#running-a-web-demo). Following the installing guide on https://github.com/allenai/allennlp-server, **I can't see `configure ` and `serve` in `allennlp` command.**
[code]

I tr

[2020-06-09 07:27] dirkgr commented on #4320
It looks like the demo has both a RoBERTa based one and an LSTM. So now I'm updating both.

[2020-06-09 08:55] dirkgr commented on #4039
I didn't try @nelson-liu's example before the change, but I did try it just now. Memory usage on my Mac goes to 3GB with the code you have there. With `10000*3500` fields, that comes out to 92 bytes per span field.

The size of the `TextField` doesn't have much of a bearing in this example, because there is only one, which is shared.

[2020-06-09 11:54] mateuszpieniak commented on #3966
I will also mention annoying warnings from PyTorch using `num_workers=0`. In this case, I just don't know whether everything is working properly.

Btw, assuming that it works fine, is there a way to disable it in AllenNLP?

[2020-06-09 13:11] epwalsh commented on #4039
I should have mentioned that I modified the example to use a separate TextField for each instance.

[2020-06-09 13:14] epwalsh commented on #3966
Have you tried on master branch? I believe we fixed that issue.

[2020-06-09 15:44] mateuszpieniak commented on #3966
@epwalsh You're right. It's already fixed on the current master branch. I stopped using the master branch since one beautiful day  `CallbackTrainer` disappeared & my code stopped working ^^

[2020-06-09 15:48] matt-gardner commented on #3966
Have you tried using the `BatchCallback` and `EpochCallback` that are in the current trainer?

[2020-06-10 02:58] ZhaofengWu opened #4347 "Metrics under distributed training"
Currently metrics are simply being averages across GPUs -- this is probably not exact for most metrics. Should we do something smarter here? This will probably require a decent amount of work though, as each metric has to implement its own reduction function.
https://github.com/allenai/allennlp/blob/2012fea98bfbb1b60980cdd2760fdf56ae352006/allennlp/training/util.py#L299-L307

[2020-06-10 22:57] schmmd commented on #4339
@dirkgr great suggestion.  @matt-gardner possibly, but if we make it a GitHub template (e.g. https://github.com/allenai/skiff-template) it'd be even easier to get started...

[2020-06-11 01:50] JohnGiorgi opened #4351 "Provide documentation for uploading pretrained transformer weights to HuggingFace"
**Is your feature request related to a problem? Please describe.**

As per [my post on the forums](https://discourse.allennlp.org/t/upload-a-pretrained-transformer-to-huggingfaces-transformers/325), I think it would be very useful if there were instructions for uploading the weights of a transformer-based language model trained with AllenNLP to [HuggingFace's Models](https://huggingface.co/models)

[2020-06-11 05:02] HarshMultani opened #4352 "Wanted to use the allen nlp api"
I went through the text to sql (ATIS parser) demo : https://demo.allennlp.org/atis-parser
I was not able to find a place where I can get a documentation about how to use this api for my project. Can you provide any link that can give some starting procedure on how to do this?

[2020-06-11 07:57] wlhgtc opened #4353 "Questions about Problems with discriminative_fine_tuning"
Hi there,
Thanks for your great work, it's easy for me to do experiments.
But still few questions about the `discriminative_fine_tuning`：
I use the model in [https://github.com/allenai/allennlp/blob/v0.9.0/allennlp/models/bert_for_classification.py#L16](url)
And  I want to use the parameter  `discriminative_fine_tuning` to set  different learning rate.
Specifically, I want three groups like `[[lay

[2020-06-11 09:03] dirkgr commented on #4331
I don't know why the tokens are in the output at all. Maybe it's for `interpret` to work, or a visualization tool? If we have tokens in the output at all, they should have the `\u0120`. The tokens and token ids are a view into the internals of the model, and so is `\u0120`.

[2020-06-11 10:21] dirkgr commented on #4039
@nelson-liu, can we close this issue?

[2020-06-11 10:25] dirkgr commented on #4017
@nitishgupta, @francesca418, is there still an issue here? I know we had a discussion about training SRL in a different GitHub issue, but I don't remember if it was solved.

FWIW, `device-side assert triggered` can often be debugged by running on CPU (maybe overnight). You will get a better error message then. Most of the time the message is "tensor index out of range".

[2020-06-11 10:33] dirkgr commented on #3966
I'm moving this to the Performance milestone, since @epwalsh is working on this as part of his performance work. If performance is fine without solving this problem, let's move it back.

[2020-06-11 10:37] dirkgr commented on #4050
The issue title says this is about metrics that can't be aggregated by summing or averaging them, but those Tensorboard curves show that the loss doesn't improve either, and that has nothing to do with metrics. So what's the real issue? Is it that distributed training just doesn't work in this case?

[2020-06-11 16:14] schmmd commented on #4352
@harsh19 I'm unclear what you want to do exactly.  We don't host an API for the general public to use, but you can use the model programmatically from the AllenNLP library locally.

[2020-06-11 16:15] schmmd commented on #4351
@ZhaofengWu is this something you did with one of your models?  Apologies if I'm misremembering.

[2020-06-11 16:44] schmmd commented on #4345
Closing, as we believe this is fixed.

[2020-06-11 16:44] #4345 closed

[2020-06-11 16:49] matt-peters commented on #4353
allennlp supports regular expressions to define the parameter groups, this isn't particularly elegant but is better then listing all parameters separately.

[2020-06-11 16:52] schmmd commented on #4332
Fixed in demo.

[2020-06-11 16:52] #4332 closed

[2020-06-11 16:52] schmmd commented on #4331
Fixed in demo.

[2020-06-11 16:52] #4331 closed

[2020-06-11 17:19] dirkgr opened #4354 "Reported loss is confusing"
The loss we write into tensorboard is the average loss over the epoch. So the first number we get is not averaged at all, while the last number in the epoch is averaged over the entire epoch. Then we start the second epoch, and the next value reported is just the loss of the first batch of the second epoch. As a result, we always see a big drop in loss when the epoch changes. This makes no sense.

[2020-06-11 18:08] ZhaofengWu commented on #4351
I uploaded and only uploaded SpanBERT (https://huggingface.co/SpanBERT/spanbert-base-cased, https://huggingface.co/SpanBERT/spanbert-large-cased). It's not generated by AllenNLP and was already packaged in a way that huggingface recognizes, so it's probably not super relevant here.

[2020-06-11 18:11] ZhaofengWu commented on #4050
I think there're two separate issues discussed here. (1) loss not converging under DDP; (2) how should metrics be aggregated under DDP (the original question).

[2020-06-11 18:59] francesca418 commented on #4017
Resolved!!

[2020-06-11 19:02] matt-gardner commented on #4331
Yes, it's so that interpretations can actually be understood correctly.  We need to know the tokenization, which we can only get from the model.

[2020-06-11 19:03] nitishgupta commented on #4017
I haven't tried it personally, but seems like @francesca418 has.

[2020-06-11 19:06] nelson-liu commented on #4039
Yup, thanks!!

[2020-06-11 19:06] #4039 closed

[2020-06-11 19:17] #4017 closed

[2020-06-12 04:01] wlhgtc commented on #4353
@matt-peters  Thanks for your reply.
And could you provide me a demo about how to use it.
I can do it easily in python file, but hard to move it in config file(jsonnet).

[2020-06-12 04:13] matt-gardner commented on #4353
Config files just provide constructor parameters; there's a one-to-one mapping between keys in a config file and constructor parameters.  See [here](https://guide.allennlp.org/using-config-files) for some more material explaining this.

[2020-06-12 06:37] wlhgtc commented on #4353
Thanks for your advice, and I read this documents. Seem I have to list all name when I use Config files ?
Could  I write a new Optimizer and do it automatically ,  maybe a tricky solution ?

[2020-06-12 07:42] wlhgtc commented on #4353
I use the follow config
`
        "optimizer": {
            "type": "bert_adam",
            "lr": 1e-5,
            "parameter_groups": [
                [["layer.0.","layer.1.","layer.2.","layer.3."], {}],
                [['layer.4.','layer.5.','layer.6.','layer.7.'], {}],
                [['layer.8.','layer.9.','layer.10.','layer.11.'], {}]
            ]
        },
`
Seem all items in paramet

[2020-06-12 08:12] dirkgr commented on #4050
I think @epwalsh is working on several things involving distributed training already, so I'll declare that this issue is just about aggregating metrics properly.

[2020-06-12 15:48] epwalsh commented on #4050
Yeup, actually both of these issues are on my road map to investigate.

[2020-06-12 15:48] epwalsh commented on #4050
But if someone else wants to jump in, feel free.

[2020-06-12 16:03] schmmd commented on #4339
We might consider three templates:

1 - python template
2 - configuration file
3 - pytorch lightening

[2020-06-12 16:06] schmmd commented on #4351
@JohnGiorgi if you have a huggingface model in memory is that sufficient?  If so, we can give you some pointers on how to do that.  If not, we need to figure something bigger out.

[2020-06-12 16:08] schmmd commented on #4352
The code for ATIS is here: https://github.com/allenai/allennlp-semparse

[2020-06-12 16:09] schmmd commented on #4353
@wlhgtc can you give us a more detailed error message?

We're releasing 1.0 next week and that may make this easier.  Our 1.0.0rc6 is out presently and should be nearly identical to 1.0 if you want to try it now.

[2020-06-12 16:13] schmmd commented on #4354
We discussed and decided we should add a batch loss to our metrics.

[2020-06-12 16:20] dirkgr commented on #4203
We might need a system where other projects can register their model information in the pretrained model list.

[2020-06-12 16:26] dirkgr commented on #4033
Closed in favor of #4053.

[2020-06-12 16:26] #4033 closed

[2020-06-12 16:54] schmmd commented on #4322
Fixed in 1.0.0rc6.

[2020-06-12 16:54] #4322 closed

[2020-06-12 16:54] schmmd commented on #4321
Fixed in 1.0.0rc6.

[2020-06-12 16:54] #4321 closed

[2020-06-12 22:00] aimichal opened #4355 "hotflip api not working for some models"
Example request to NAQANET resulting in HTTP 500:

[code]

The logs show this stack trace:

[code]

And with bidaf-elmo:

[code]

The logs show this stack trace:

[code]

[2020-06-12 22:22] matt-gardner commented on #4355
@aimichal, I'd say that the UI should have some graceful way of handling 500s for various interpret results, because they tend to be less stable.  If they're not handled nicely in UI, that's a demo bug, but the underlying cause of the 500 is an allennlp bug.

[2020-06-12 22:22] matt-gardner commented on #4355
Thanks for finding these, also.  I will look into them (at some point...).

[2020-06-12 22:40] aimichal commented on #4355
I agree, and wanted to make that improvement quickly initially, at least, but the code was hard to follow so I stopped. I'll file a thing to make the UI more robust: https://github.com/allenai/allennlp-demo/issues/489

[2020-06-13 01:07] wlhgtc commented on #4353
Thanks for your advice. I will try it after reading doc.
And the error message is as follow:
I use optimizer config like this:
`        "optimizer": {
            "type": "bert_adam",
            "lr": 1e-5,
            "parameter_groups": [
                [["layer.0.","layer.1.","layer.2.","layer.3."], {}],
                [['layer.4.','layer.5.','layer.6.','layer.7.'], {}],
                [['l

[2020-06-14 23:39] nadia-felix commented on #2849
Could you show an example train.json in format of text_classification_json?

[2020-06-15 00:26] 12seetharaman opened #4357 "Bug on calculating "argmax_predictions". It increases the false positive count for last label."
File: https://github.com/allenai/allennlp/blob/master/allennlp/training/metrics/fbeta_measure.py
Line no: 132

Prediction tensor is all zero "[0, 0, 0, 0, 0, 0]", when a record is not classified to any of the labels.

`argmax_predictions = predictions.max(dim=-1)[1].float()`

Here, we are calculating argmax predictions by a max value index.
In the case of all zeros tensor, we will get the index of

[2020-06-15 10:21] koren-v commented on #4258
Hi, I'm trying to get simply the result as @savinay get, but I always get the following:
[code]
for any of the methods from SimpleGradient, SmoothGradient, IntegratedGradient.
The model I use is RoBerta for the sentiment. So what can be the reason of this problem?

[2020-06-15 11:46] ud2195 opened #4358 "Textual Entailment using roBERTa only predicting one category"
Hi, I followed the exact config file given here
https://github.com/allenai/allennlp-models/blob/master/training_config/pair_classification/snli_roberta.jsonnet
just changed `max_len` in my config file and now it looks like this:-

[code]
The objective is to do Textual entailment using roBERTa , but after training my model for 2 epochs the accuracy(roughly 79%)  hardly changed and then upon trying

[2020-06-15 14:10] koren-v opened #4360 "Can't get correct output using .saliency_interpret_from_json() from Interpret"
Hi, I'm trying to get the importance of each word in a sentence while sentiment classification but always get the same result for different inputs. The Code:
[code]
gives:
[code]
So what can be the reason of this problem?

[2020-06-15 14:56] matt-gardner commented on #4353
You probably need to escape the backslash, like this: `layer\\.0`.

[2020-06-15 15:07] JohnGiorgi commented on #4351
@schmmd Do you mean did I train a huggingface model with allennlp? If so then use, all my trainable weights are in a `PretrainedTransformerEmbedder`

[2020-06-15 15:22] matt-gardner commented on #4351
The question is, if you can get the in-memory `Model` from `tokenizers`, is that sufficient to follow their instructions to upload weights, or is something else needed?  I haven't done this before, but it looks like there's a [`.save_pretrained()`](https://huggingface.co/transformers/model_sharing.html) method that you can call on the in-memory `Model`, which you can pull out of our `Embedder` obj

[2020-06-15 15:25] JohnGiorgi commented on #4351
Oh sorry, I understand now. Yes that seems obvious in hindsight, I guess it is just a matter of figuring out where/when to call `.save_pretrained()` but I am sure I can figure that out. Thanks for the guidance!

[2020-06-15 16:00] matt-gardner commented on #4360
No idea what's causing the issue yet, but I have confirmed that this is a bug.  I get the correct output with rc3, but it's broken with rc6.

[2020-06-15 17:55] koren-v commented on #4360
@matt-gardner Thanks for your answer.

[2020-06-15 19:37] koren-v commented on #4360
@matt-gardner Is it possible way to load this model in rc3? Because using the same code with this version gives:
[code]

[2020-06-15 19:59] matt-gardner commented on #4360
Yeah, just include this line in your script: `from allennlp_models import sentiment`.

[2020-06-15 20:30] nadia-felix commented on #1095
Is it possible do this?

allennlp predict /home/model.tar.gz /home/teste.json --batch-size 32 --cuda-device 0 --output-file /home/results_seed1000/output.txt

[2020-06-15 22:27] epwalsh commented on #4330
There is a PR open now with tokenizers that provides a work-around for this: https://github.com/huggingface/tokenizers/pull/306

[2020-06-16 06:45] wlhgtc commented on #4353
Thanks, it works!

[2020-06-16 08:25] nikoletta-toth commented on #4276
Hi

I also want to use the fine grained ner model, but I cannot load it in. <br>
Can you give me some information how should I load this model? Or which model I should use?

To install AllenNLP I use:
`pip install allennlp==1.0.0rc5 allennlp-models==1.0.0rc5`

And to load the model:
`
from allennlp.predictors.predictor import Predictor`
`predictor = Predictor.from_path("https://storage.googleapis.

[2020-06-16 11:01] mateuszpieniak opened #4362 "Calculate validation loss more frequently"
**Is your feature request related to a problem? Please describe.**
I noticed that BERT-like architecture is usually fully fine-tuned, but very shortly (1-2 epochs) with some warm-up (to avoid catastrophic forgetting) - for example in https://arxiv.org/pdf/2004.07180.pdf. I believe that such a resolution is not enough for good validation score estimation i.e. you don't really know the curve's shape

[2020-06-16 11:47] #4353 closed

[2020-06-16 14:46] tomohideshibata opened #4363 "Word embedding in BERT can be the first/last subtoken embedding?"
In v0.9.0, when we use BERT, the contextualized word embedding is set to be the first (or last) subtoken embedding (in `BertEmbedder`).

However, in v1.0.0, the contextualized word embedding is set to be the average of all the embeddings of the subtokens in a word (in `PretrainedTransformerMismatchedEmbedder`).

The former treatment (v0.9.0) is adopted in the original BERT paper, and so this optio

[2020-06-16 17:23] epwalsh commented on #4362
I was actually just thinking about this as well. But I think it would be easiest to implement this at the `DataLoader` level. We already *kind of* have a setting for this: `DataLoader.batches_per_epoch`.

But this doesn't quite do what you're asking because if `batches_per_epoch` is less than the total number of batches in the dataset, then you're not guaranteed to see every unique instance:
https

[2020-06-17 11:58] apohllo opened #4367 "Make allennlp work with allentune once again"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-06-17 11:58] apohllo commented on #4367
So far reverting https://github.com/allenai/allennlp/commit/4a6023b3ee692da50ff27126f331546e7c2f284a makes the code run again.

[2020-06-17 12:05] apohllo commented on #4367
Running the tests in allentune also cases this error.

[2020-06-17 12:41] Sneriko opened #4369 "change pretrained model in coref model"
Hi!
I'm trying to build a Swedish coref model using distantly supervised machine learning. The idea is to run AllenNLP:s English coref model on a bilingual dataset (Europarl) and then use a word aligner to transfer the English coreference annotations to swedish annotations and then train the AllenNLP coref model on the Swedish Dataset, using a tiny Swedish coref dataset (17000 tokens, unfortunatel

[2020-06-17 12:45] Sneriko commented on #4369
Just a clarification, I used the allennlp coref-model both for creating the dataset, and training on this dataset.

[2020-06-17 16:12] mateuszpieniak commented on #4362
@epwalsh Super cool! In my case, I don't need such guarantees. I am not sure though whether `slanted_triangular` scheduler reads the proper number of batches, but I guess I will find out tomorrow.

Btw, out of curiosity, do you think it can be considered a regularization? In theory the bigger the dataset, the better generalization properties. On the other hand sampling data from the training, data

[2020-06-17 17:13] epwalsh commented on #4362
Hmm yea I suppose you could think of it that way. Kind of like dropout, except applied to training instances instead of individual weights.

[2020-06-18 04:36] MISabic opened #4373 "Predict is not working for pre-trained fine grained NER model"
## Description

Hi. I tried to load the pre-trained model of fine-grained NER model but Predictor.from_path is not working.

Here's my code

`!pip3 install allennlp`
`!pip3 install allennlp-models`
`from allennlp.predictors import Predictor`
`al = Predictor.from_path("https://storage.googleapis.com/allennlp-public-models/fine-grained-ner-model-elmo-2018.12.21.tar.gz")`

<details>
<summary><b>Pytho

[2020-06-18 10:57] semerekiros opened #4374 "how to set vocabulary (from another model) from a config file allennlp"
Hi I am new to allennlp. Instead of building my Vocabulary from instances which is the default implementation, I would like to build it from an external file that contains a list of words. What do I need to change in the config file?

[2020-06-18 11:28] mateuszpieniak commented on #4374
I don't know whether it's possible to build from an external file, but if the words are unique, then you can read the external vocabulary using  `Vocabulary.from_files`. If you use config files, then you need to add something like:
[code]

[2020-06-18 11:44] semerekiros commented on #4374
Thank you for your reply @mateuszpieniak . I actually have a list of word-freq pairs in a text file. Isn't the from files method used to  loads a Vocabulary that was serialized using save_to_files ?

[2020-06-18 13:08] yangboye commented on #4238
So has this problem been solved?

[2020-06-18 13:49] mateuszpieniak commented on #4374
@semerekiros Yes, it is, but I guess you could find a workaround:
1. Make sure that each line contains only a token in your `vocab.txt`
2. You will also need `non_padded_namespaces.txt` in the directory with a vocab, If you already have padding token in your dictionary, then you have to fill this file with `vocab` value.

It's a bit dirty. As far as I remember this discussion relates to the follow

[2020-06-18 14:56] schmmd commented on #4238
@yangboye see https://github.com/allenai/allennlp/issues/3438.  We removed the tutorials in favor of the course.

[2020-06-18 16:38] dhruvdcoder commented on #3369
Now the `pytorch.jit.trace` (which what tensorboardX uses to plot the graph) supports dictionaries as input to the model but AllenNLP now uses nested dictionaries for TextFields which again do not work. In any case, is there an easy way (with or without tensorboard) to get a visualization of AllenNLP model architecture? It will be very useful for documentation purposes.

[2020-06-18 19:04] butoialexandra opened #4376 "AllenNLP install failing on jsonnet"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-06-18 20:16] successar opened #4378 "PDB++ arrow/tab keys don't work with allennlp"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [ ] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-06-18 20:35] semerekiros commented on #4374
@mateuszpieniak  . The following adjustment in the config file did the job for me. Setting the "type" : "from_files" or "from_instances" raises an error. Thank you for the help.

"vocabulary": {
        "directory_path": "path/to/directory",

  }

[2020-06-18 22:04] #4374 closed

[2020-06-18 22:44] entslscheia commented on #3369
I managed to implement the visualization for my own AllenNLP model with some ad-hoc designs, but I found it didn't really help, and the model is not readable at all (I guess maybe this is because PyTorch doesn't really have an explicit way for namespacing different levels of parameters). Anyway, visualizing the computation graphs for PyTorch is not that necessary due to its eager execution feature

[2020-06-19 06:35] Crissman opened #4382 "Add tutorial on using Optuna with AllenNLP"
**Is your feature request related to a problem? Please describe.**
Optuna is a new hyperparameter optimization library, and we’ve written an integration module for AllenNLP to make it easy to use Optuna to search for good hyperparameter settings and prune unpromising trials. We’re looking for ways to let AllenNLP users know this is available and thought a badge to show Optuna integration is availa

[2020-06-19 12:38] dirkgr commented on #4382
That's pretty neat! I tried it for [my multiple choice models](https://github.com/allenai/allennlp-models/commit/0ea5f41b22d37a3dccbb653f7dcf6f8486ffdd4e). It's still running, but we'll see if it does better than my big aimless sweeps :-)

One piece of feedback: If you want to tune models from the `allennlp-models` repo, you have to add `include_package="allennlp_models"` to the `AllenNLPExecutor`

[2020-06-19 13:38] dirkgr commented on #4378
I put a workaround here: https://github.com/allenai/allennlp/pull/4383

With that PR, if you run with the `--no-redirect-std` flag, it won't do the redirection and arrow keys will work as expected. I'm trying to find out if we can just always run that way instead of having a new flag.

[2020-06-19 13:40] dirkgr commented on #4376
I don't know for sure what's going on here, but is it possible that your Xcode version is out of date? Can you make sure you are on the latest version and try again?

[2020-06-19 13:41] dirkgr commented on #4376
Oh, one more question: How do you create your Python environment? `conda`? `venv`? Some other way?

[2020-06-19 15:46] schmmd commented on #4382
I would propose we link out to external documentation from our README or https://docs.allennlp.org.

[2020-06-19 16:02] dirkgr commented on #4369
@ZhaofengWu, do you know these answers?

[2020-06-19 16:07] dirkgr commented on #4382
@Crissman, in addition to @matt-gardner's answer, can you make a PR that adds a link in the readme?

[2020-06-19 16:08] Dastgheyb opened #4384 "allennlp.commands.elmo doesn't exists anymore"
Hi :)
last weak my code works on the colab. but now after I install allennlp I get an error on the following line.
`from allennlp.commands.elmo import ElmoEmbedder`
and the error is : ModuleNotFoundError: No module named 'allennlp.commands.elmo'
I searched this repository for ElmoEmbedder but none found.

[2020-06-19 16:13] schmmd commented on #4384
We removed this command in v1.0.  If you want to use the `elmo` command then you need to check out v0.9.0.  We removed this command because `elmo` is becoming a bit old and we didn't think it made sense to continue supporting it as a top-level command.

What are you trying to do specifically?  You might still be able to accomplish your goals in 1.0, but I'm not sure exactly what you're trying to d

[2020-06-19 16:18] schmmd commented on #4367
@kernelmachine are you able to take a look at this?  We would like for AllenTune to work in 1.0.
 @matt-gardner is even interested in covering it in a chapter of the guide.

[2020-06-19 16:18] dirkgr commented on #4363
That's pretty easy to do. I'd love to review a pull request adding a flag that does this!

[2020-06-19 16:21] dirkgr commented on #4362
`batches_per_epoch` is the right answer here. If that does not guarantee that you'll see all instances, we have to fix it. Is that the case?

[2020-06-19 16:22] Dastgheyb commented on #4384
I am just playing with the code which I took from https://github.com/ohyicong/glove_elmo/blob/master/main.py and using the output of this code for another network that I have created.

[2020-06-19 16:30] Dastgheyb commented on #4384
version 0.9.0 worked fine. thx.

[2020-06-19 16:33] dirkgr commented on #4358
I think you just need to try some more hyperparameters. In particular, try a lower learning rate (I'm a fan of `1e-5`.), and set `"correct_bias": true` in the parameters for the optimizer.

Is it possible that your training set is really unbalanced, and that's why you get high accuracy with only one kind of output?

[2020-06-19 16:33] dirkgr commented on #4352
Closing due to lack of activity

[2020-06-19 16:33] #4352 closed

[2020-06-19 16:35] #4384 closed

[2020-06-19 17:28] ZhaofengWu commented on #4369
For your second question, yes you should be able to switch between any huggingface-compatible transformer models and expect the coref model to work. For your first question, in general loss should correlate with F1. I don't know what's happening without delving deeper. I suggest you look at intermediate results of different steps in the coref model and see where the problem is. Is it span filterin

[2020-06-19 18:12] schmmd commented on #4382
I made a PR: https://github.com/allenai/allennlp/pull/4385

[2020-06-19 18:15] matt-gardner commented on #4382
@Crissman, it would be great to have a chapter on hyperparameter tuning in the guide, and if that prominently features optuna as one of the ways of doing this (even the only one that's mentioned for now), that's fine with me.  Please feel free to open a PR on the [guide repo](https://github.com/allenai/allennlp-guide).

[2020-06-19 20:34] mateuszpieniak commented on #4362
@dirkgr Yes, that's the case. I am satisfied with the current implementation of `batches_per_epoch` for my purpose, but I think that such a guarantee should be more intuitive for a user.

[2020-06-20 10:33] namednil commented on #4216
Hi,

I encountered a similar issue. In AllenNLP 0.9, a learnt weighted average of the layers was computed, in version 1.0 only the last layer is used. I modified the new code accordingly (see https://gist.github.com/namednil/dae947a52629e7c9bbbb911e541f3126), and first results look very promising. Perhaps that also works for you? Potentially, the option of a weighted average of layers would be nic

[2020-06-20 21:28] Utomo88 commented on #1629
After almost 2 years. is there any update ? Many already beat SQuAD 2.0
https://rajpurkar.github.io/SQuAD-explorer/

[2020-06-20 21:37] nelson-liu commented on #1629
Hm, I have an implementation of BiDAF-no-answer / a SQuAD 2.0 dataset reader that I haven't bothered to push back upstream...but probably people would care most about a SQuAD 2.0 TransformerQA model? Not sure if this is in the works ( @epwalsh ? )

[2020-06-21 00:41] Utomo88 commented on #1629
can you please push it ?

[2020-06-21 02:00] epwalsh commented on #1629
@nelson-liu it's not on my radar but we would definitely love to have that!

[2020-06-21 02:03] epwalsh commented on #4216
@namednil I'm not sure when or why this changed in AllenNLP, but I think we should definitely still support it. Would you be interested in making a PR?

[2020-06-21 03:33] nelson-liu commented on #1629
Ok, I can open an allennlp-models PR sometime soon, but I don't think I have time / resources to train / tune it and turn it into a proper model that you could host—do you think you could help me with that?

[2020-06-21 03:57] epwalsh commented on #1629
Sure! That would be great to have for the demo. And also for our perf benchmarks that I’m working on

[2020-06-21 06:03] nelson-liu commented on #1629
I added what I have at https://github.com/allenai/allennlp-models/pull/77

[2020-06-21 06:30] mjj1094 commented on #1379
Also the same error on version python3.6,allennlp 1.0.0 ……

[2020-06-22 08:24] dirkgr opened #4387 "Weights and Biases integration"
@dhruvdcoder wrote this in #4385:

[2020-06-22 08:26] dirkgr commented on #4387
@dhruvdcoder, this is great! Can we get this all the way ready for 1.0? I see that you are only using the `EpochCallback` functionality. Is that enough? Don't you need information per batch too?

Does this work for things other than sweeps?

[2020-06-22 13:11] deanyan7 opened #4388 "SRL predictor misses Auxiliary verb"
System (please complete the following information):

OS: Linux
Python version: 3.6.9
AllenNLP version: 1.0.0
PyTorch version: 1.5.0

When I used the SRL model to predict sentences,
The inputs is “The new rights are nice enough.”

The result is:
[{'verbs': [], 'words': ['The', 'new', 'rights', 'are', 'nice', 'enough']}]

The Correct  result is：
[{"verbs": [{"verb": "are", "description": "[ARG1: The

[2020-06-22 13:48] dhruvdcoder commented on #4387
@dirkgr Logging batch metrics is not necessary for hyperparameter optimization and also I feel that logging metrics for each batch generates too much to plot on the W&B dashboard. Moreover, since the trainer (in v1.0) creates tensorboard logs with batch metrics, these are automatically picked up by W&B. If one wants to see the batch metrics, one can open the tensorboard for that particular run ins

[2020-06-22 14:05] edchengg commented on #4220
I can't reproduce this result with allennlp=1.0.0 using the same command:

`allennlp evaluate https://storage.googleapis.com/allennlp-public-models/bert-base-srl-2020.03.24.tar.gz /data/conll-formatted-ontonotes-5.0/conll-formatted-ontonotes-5.0-12/conll-formatted-ontonotes-5.0/data/conll-2012-test/data/english`

Not able to run evaluate it with allennlp==0.9 because the allennlp-models ==1.0

[2020-06-22 14:17] edchengg opened #4392 "Can't reproduce SRL result with allennlp==1.0.0"
System (please complete the following information):

OS: Ubuntu 18.04.3 LTS
Python version: 3.7
AllenNLP version: v1.0.0
PyTorch version: 1.5
Allennlp-models: v1.0.0

Question
Hi @DeNeutoy , I try to reproduce the results on the OntoNotes dataset (conll 2012) in the Shi et al., 2019 paper used in the SRL demo. However, I could only get F1 around 0.79.

Command I used:
[code]

I also tried to train

[2020-06-22 14:31] edchengg commented on #4216
I encountered a similar issue with Allennlp 1.0 SRL bert model. I can't reproduce the result with config file in both training and evaluation with a fine-tuned model. #4392

[2020-06-22 15:56] epwalsh opened #4393 "Unexpected behavior with DataLoader.batches_per_epoch"
From the discussion in https://github.com/allenai/allennlp/issues/4362.

If `batches_per_epochs` is less than the total number of batches in the dataset, there is no guarantee that all unique instances will be seen during training.

[2020-06-22 15:57] epwalsh commented on #4362
Ok, sounds like this one can be closed, but I've open up a separate issue to address the behavior with `batches_per_epoch`: https://github.com/allenai/allennlp/issues/4393.

[2020-06-22 15:58] #4362 closed

[2020-06-22 20:11] mchari commented on #4384
Hi,
  How can I get the embed_sentence() functionality in v1.0 ?

Thanks!

[2020-06-22 20:20] schmmd commented on #4384
That functionality does not exist in 1.0, although you could copy the code that provided this into your code without too much work.  See https://github.com/allenai/allennlp/blob/v0.9.0/allennlp/commands/elmo.py#L213.

[2020-06-22 20:33] mchari commented on #4384
Great ! I'll give it a try.

My real goal is to get sentence embeddings in a bilm-tf environment, where I have incrementally trained an Elmo model.

[2020-06-22 23:26] kernelmachine commented on #4367
Yes, will take a look in the next couple days, thanks @apohllo for raising the issue!

[2020-06-23 09:07] namednil commented on #4216
@epwalsh I'll try to find the time in the next couple of days. I don't see immediately how to write unit tests for this though.

[2020-06-23 14:56] apohllo commented on #4367
The problem is definitely in the commit  #4a6023b. I looked into it, but it was difficult to spot the problem, since the stack trace refers to an anonymous function.

[2020-06-24 00:17] dhruvdcoder opened #4397 "Option to extend the vocabulary of TokenEmbedder and Tokenizer."
**Is your feature request related to a problem? Please describe.**

I wish to use a pre-trained embedding layer in my model with possible vocabulary extension before finetuning. Currently, there is no way to do this using a config file unless I write my own train command. Such a feature would be really useful while finetuning a general Transformer in a `PretrainedTransformerEmbedder` layer for a s

[2020-06-24 07:42] Crissman commented on #4382
Great! We'll start on a PR for the guide.

[2020-06-24 19:25] JohnGiorgi commented on #4351
Okay, for anyone who lands on this issue, I have figured out how to do this with an `EpochCallback` object:

[code]

Of course, this implementation relied on knowing that for my model, `trainer.model._text_field_embedder._token_embedders["tokens"].transformer_model` exists and that is is a `PretrainedTransformerEmbedder`.

[2020-06-25 00:47] JohnGiorgi opened #4399 "TypeError: can't pickle Tokenizer objects when num_workers > 0 and lazy = true"
## Checklist

- [X] I have verified that the issue exists against the `master` branch of AllenNLP.
- [X] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [X] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-06-25 11:54] #4393 closed

[2020-06-25 13:38] edchengg commented on #3844
@entslscheia do you mind provide an example of config? thanks!

[2020-06-25 15:12] dirkgr commented on #4373
This works now with the URLs `"https://storage.googleapis.com/allennlp-public-models/fgner_transformer.2020-
   ...: 06-24.tar.gz"` or `"https://storage.googleapis.com/allennlp-public-models/fine-grained-ner.2020-06-24.tar.gz"`. The transformer one has slightly better performance.

[2020-06-25 15:33] arianhosseini commented on #2694
embeddings = Embedding.from_params(vocabulary, Params({"embedding_dim": embeddings_dimension,
                                                          "pretrained_file": file_path,
                                                          "vocab_namespace": "tokens",
                                                          "trainable": False}))

[2020-06-25 16:28] epwalsh commented on #4399
Hi @JohnGiorgi, can you share your config? Are you using the `num_workers` option with your data loader?

[2020-06-25 16:51] JohnGiorgi commented on #4399
Hi @epwalsh, yes, it looks like `num_workers > 0` was the culprit here. I just noticed that the logger prints:

[code]

so maybe my issue is unnecessary and I should leave `num_workers` at its default?

In any case, I have updated my original issue with a minimal example that triggers the error.

[2020-06-25 19:15] epwalsh commented on #4399
Gotcha. Yea, like the warning says there is probably no benefit to using `num_workers > 0` unless you implement some custom logic within `_read()` to handle that.

But even then, you'll probably still see his exception, which arises because each `TextField` within each of your data `Instance`s includes a `PretrainedTransformerIndexer`, which itself wraps a HuggingFace `Tokenizer` object.

Now when

[2020-06-25 19:21] epwalsh commented on #4399
That said, we are planning on making some changes to our data loading story soon. One of the proposed changes is to make `Instance`s / `Field`s pure data objects - i.e. with no references to tokenizers, token indexers, or anything else - which would solve this particular issue without requiring the HuggingFace tokenizers to be pickle-able.

[2020-06-25 19:54] JohnGiorgi commented on #4399
@epwalsh Gotcha, thanks for the detailed response.

For now, I will leave `num_workers` unset (I think I only set it to 1 in the first place as it gave me a small reduction in train time, but I don't actually remember).

I will lookout for the proposed changes to the `Instance`/`Field` objects :)

[2020-06-25 19:54] #4399 closed

[2020-06-26 02:15] entslscheia commented on #3844
Sure.
[code]
That's how I configure my optimizer to use a different learning rate for parameters in my 'source_embedder module'. I am using 0.9.0, not sure whether this has been changed or not. Does this help?

[2020-06-26 08:03] dirkgr commented on #4373
I would like to keep this open until we have it updated in the demo.

[2020-06-26 08:03] dirkgr commented on #4011
This works now with the URLs `"https://storage.googleapis.com/allennlp-public-models/fgner_transformer.2020-06-24.tar.gz"` or `"https://storage.googleapis.com/allennlp-public-models/fine-grained-ner.2020-06-24.tar.gz"`. The transformer one has slightly better performance.

[2020-06-26 09:22] pasinit opened #4404 "Logging Learning Rate"
Is there an easy way to log the learning rate (especially when using a scheduler) within the training progress bar?

[2020-06-26 16:03] dirkgr commented on #4376
Closing due to inactivity

[2020-06-26 16:03] #4376 closed

[2020-06-26 16:13] schmmd commented on #4388
@deanyan7 our models are not perfect, and we can not guarantee correct results for all examples.  I don't think there's anything we can do here.

[2020-06-26 16:13] #4388 closed

[2020-06-26 16:14] epwalsh commented on #4392
Possibly related to https://github.com/allenai/allennlp/issues/4216

[2020-06-26 16:16] nine09 opened #4405 "Is there any guide that writes a script to use trained model to predict?"
## Checklist

- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x] I have included in the "Description" section below a traceback from any exception

[2020-06-26 16:22] epwalsh commented on #4397
We should try to figure this out when / after we rethink our vocab. See https://github.com/allenai/allennlp/issues/3097.

But in the meantime if there's a quick fix for this, we are open to that.

[2020-06-26 16:40] epwalsh commented on #4404
Hey @pasinit, this could be possible if we passed batch metrics to `BatchCallback` (which for some reason we don't do right now). Then you could just have a `BatchCallback` that adds the LR statistics to the batch metrics dictionary.

[2020-06-26 16:41] epwalsh commented on #4404
If anyone wants to make a PR for passing batch metrics to batch callbacks, feel free to.

[2020-06-26 20:04] matt-gardner commented on #4405
I *think* all you need to do is `predictor = Predictor.from_archive("/path/to/saved/archive/file.tar.gz")`.  Then you can use the predictor in your script however you want.  Does that work for you?

[2020-06-27 04:18] nine09 commented on #4405
Thanks for your immediate replay. I successfully build a predictor by your codes:
[code]
But when I use the predictor by `predictor.predict` there is an NotInplementedError, this is because the predictor is a default Predictor and the predict function is not defined yet.

Then I use the `SentenceTaggerPredictor` Predictor which has the defined `predict` function:
[code]
But it return a default Pre

[2020-06-27 05:50] deanyan7 commented on #4388
I'm so sorry i didn't make this clear

When I compared the results of allennlp used by others, I found this question:
    Semantic role labelling model tags are all 'O'. No arguments are detected.

System:

- Python version: Python 3.6.9

- AllenNLP version: allennlp==1.0.0  allennlp-models==1.0.0

- PyTorch version: 1.5.0

Related Issue: [allenai/allennlp#4146](https://github.com/allenai/allennlp

[2020-06-27 06:11] deanyan7 commented on #4388
When making sample predictions, I found that the model filtered certain words (such as is, was, do, did, are, were and other specific types of words), but when others used it before, the result was normal.

sentence = "yeah i know and i did that all through college and it worked too"
result = {'verbs': [{'verb': 'know', 'description': 'yeah [ARG0: i] [V: know] and i did that all through college an

[2020-06-27 13:00] 14H034160212 commented on #3249
Hi DeNeutoy, this link looks not working right now. Can you update it? Thanks.

[2020-06-27 16:55] pasinit commented on #4404
Ok thanks. I've looked at the places where the code should be changed and these are very minimal changes. Does something like this still require a unit test?

[2020-06-27 19:03] edchengg commented on #3844
Thanks!
My case is a little bit complicated. I am trying to set different lr for BERT and a crf layer. But the parameter_groups already take weight decay so some params are overlapped in different groups.

[2020-06-27 19:05] edchengg commented on #4392
I guess there are some problems with pytorch_transformer and transformer lib. the SRL bert example doesn't use best embedded so

[2020-06-27 20:17] epwalsh opened #4406 "Home page of docs not rendering properly"
https://docs.allennlp.org/master/

[2020-06-27 23:11] entslscheia commented on #3844
I don't quite get it.
Hows the params overlapped in different groups? You group the params based on their definition in your model. For example, I define `source_embedder` in my model as
[code]
So to control the lr for BERT, I use group name `source_embedder`. Do you have a concrete example to show how things get overlapped?

[2020-06-27 23:24] edchengg commented on #3844
Sure, here is a config for BERT copied from allennlp(0.9) srl bert example.

[code]

If I set learning rate for BERT at 5e-5 and other layers at 5e-3.
`"optimizer": {
            "type": "bert_adam",
            "lr": 5e-3,
            "max_grad_norm": 1,
            "parameter_groups": [
                [
                    [
                        "bias",
                        "LayerNorm.bia

[2020-06-28 03:00] wlhgtc opened #4407 "How to use models in different epochs for test ?"
I set the `"num_serialized_models_to_keep": -1` .
So I got many serialized model in different epochs(files like `model_state_epoch_1.th`).
I tried to evaluate these models on test set, but I failed.
Could anyone guide me how to do it ? Seem I have to convert them to file like (model.tar.gz)?

[2020-06-28 03:27] wlhgtc commented on #4407
I find the function `archivel_model` in [https://github.com/allenai/allennlp/blob/4de68a42a0df89df01a999ee48f361f24c8c19d4/allennlp/models/archival.py#L91](url)
It works and I close this issue.

[2020-06-28 03:27] #4407 closed

[2020-06-28 16:47] edchengg commented on #4287
You might want to try downgrade allennlp to 0.9. The current 1.0 does not use transformers lib in a correct way. I encounter similar issue #4392

[2020-06-28 22:02] mmb1793 opened #4408 "Allennlp Predictor code giving an error."
Hi,
I am trying to run the following code -
from allennlp.predictors.predictor import Predictor
predictor = Predictor.from_path("https://s3-us-west-2.amazonaws.com/allennlp/models/bidaf-model-2017.09.15-charpad.tar.gz")

but it is giving me an error -
![image](https://user-images.githubusercontent.com/67561966/85959288-145dc780-b9b9-11ea-82fc-3f3c57f1fe6c.png)

I have tried installing the packages

[2020-06-28 23:31] 6desislava6 commented on #4336
I think specifying explicitly the gpu id fixes it: `spacy.util.use_gpu(id)`.

[2020-06-29 12:51] pinedbean opened #4409 "ElmoEmbedder seem missing from new version"
ElmoEmbedder seem missing from new version, how can I get embedding from ELMo (already have hdf5 weight)

[2020-06-29 14:38] BertieJim commented on #4409
same problem

[2020-06-29 16:20] epwalsh commented on #4404
I don't think this would require a test since we already have enough tests that run the trainer, and therefore would cover this change.

[2020-06-29 16:53] epwalsh commented on #4330
This is now fixed in the latest release of `tokenizers` (version `0.8.0`), but we'll have to wait until it makes it upstream into a `transformers` release.

[2020-06-29 17:10] matt-gardner commented on #4405
If you look at [the documentation for `Predictor`](http://docs.allennlp.org/master/api/predictors/predictor/#from_path), you'll see that there's a `predictor_name` argument to `from_path`.  The predictor name for `SentenceTaggerPredictor` is ["sentence_tagger"](http://docs.allennlp.org/master/api/predictors/sentence_tagger/#sentencetaggerpredictor-objects).

But I'm a bit confused about your secon

[2020-06-29 17:15] matt-gardner commented on #4388
This is due to a spacy version difference.  See, e.g., https://github.com/allenai/allennlp/issues/4337, https://github.com/allenai/allennlp/issues/3418#issuecomment-585251913.

[2020-06-29 17:16] matt-gardner commented on #3249
ESIM has moved to the [allennlp-models](https://github.com/allenai/allennlp-models) repo.

[2020-06-29 17:18] matt-gardner commented on #4287
If there is an issue with the BERT SRL model, it's isolated to the issue in #4392. The issue here is very different. We have plenty of models that train correctly with the transformers library.

[2020-06-29 17:20] matt-gardner commented on #4408
What if you just run `import spacy`, `import torch`, and `import numpy` from a python interpreter?  Do they work?  It looks to me like they would fail, and this is a problem with your local environment.  Can you check that?

[2020-06-29 17:25] matt-gardner commented on #4409
See here: https://github.com/allenai/allennlp/issues/4384. If you have a more specific question that's not addressed by that, or by our intro material in the [guide](https://guide.allennlp.org/representing-text-as-features), please open a new issue.

[2020-06-29 17:25] #4409 closed

[2020-06-30 06:07] harshnarang8 opened #4418 "AugmentedLSTM not working"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-06-30 09:17] pengshuang opened #4419 "QANet in allennlp-models still used the old version of regularizer"
As the ``Upgrade guide from v0.9.0`` said:

Regularization now needs another key in a config file. Instead of specifying regularization as ``"regularizer": [[regex1, regularizer_params], [regex2, regularizer_params]]``, it now must be specified as "regularizer": ``{"regexes": [[regex1, regularizer_params], [regex2, regularizer_params]]}``(https://github.com/allenai/allennlp/releases/tag/v1.0.0).

[2020-06-30 14:52] #4406 closed

[2020-06-30 17:09] dirkgr opened #4421 "Dataloading performance"
We will need more efficient data loading to work with images.

[2020-06-30 17:16] dirkgr opened #4422 "Multi-task learning"
# Goals

* Be able to train VilBERT as in https://arxiv.org/abs/1912.02315 (12-in-1: Multi-Task Vision and Language Representation Learning)
* Be able to do a similar thing for NLP, i.e., fine-tune BERT for 12 tasks the same way

# Data Readers

We’ll write a `MultitaskReader` that takes a `Dict[str, DatasetReader]` as one of its `__init__()` arguments. This way we define the different datasets we

[2020-06-30 17:40] dirkgr opened #4424 "Transformer Toolkit"
We want a collection of modules that form the building blocks of transformers, such as
 * self-attention
 * layer norm
 * feed-forward
 * positional embeddings
 * maybe memory layers like https://arxiv.org/abs/1907.05242?
(Not all of these really require code by themselves.)

We also want some useful combinations of these, like a combination of self-attention, layer-norm, and feed-forward, which f

[2020-06-30 17:44] matt-gardner commented on #4418
Yeah, this looks like a bug to me.  It looks, though, like we really should be using the `BiAugmentedLstm` instead of the `AugmentedLstm` for this, and that looks like it should work.  Care to submit a PR to change this?

[2020-06-30 17:45] matt-gardner commented on #4419
Yep, this is a bug.  Not sure how we missed this.  Care to submit a PR to fix it?

[2020-06-30 17:46] dirkgr opened #4425 "Flexible and configurable data loading and pre-processing"
In #4420 I put a sketch of what this could look like. That PR (right now) reads a static config for preparing images and produces `Instance`s that contain a `DetectronField`. AllenNLP knows how to handle that field so that the data arrives in the `Model.forward()` method in the right shape.

This issue is about making the data loading and pre-processing story configurable. I imagine we'll replace

[2020-06-30 17:56] dirkgr opened #4426 "Add an ImageEncoder abstraction, and a DetectronImageEncoder implementation of it"
#4420 loads up a detectron model and runs it, but it hard-codes which model it loads and how it's configured. This issue is about making this flexible and configurable. I want to be able to say in the configuration file something like this:

[code]

In order to set parameters individually (and not just load a yaml file), it would look like this:
[code]

[2020-06-30 21:54] matt-gardner commented on #4360
Possibly related: https://github.com/allenai/allennlp-models/pull/85

[2020-06-30 23:12] matt-gardner commented on #4426
Yes, I agree that the configuration you're talking about looks right to me.  I would maybe rename the issue to something like `Add an ImageEncoder abstraction, and a DetectronImageEncoder implementation of it`.

[2020-06-30 23:18] matt-gardner commented on #4425
I think it probably makes more sense to have transforms, instead of what's done for data here.  We should have a more in-depth conversation about options for doing this.  The way that detectron reader works makes me think that if you want that you should just be using detectron instead of allennlp.

[2020-06-30 23:40] matt-gardner commented on #4422
My first pass at how I would design something for this:

You have a `TextEncoder` or a `TextAndImageEncoder`, which goes from inputs to an encoded representation that's ready to have various task heads applied.  (Though, really, the `TextFieldEmbedder` already does what the `TextEncoder` would do, so we may not need anything new there, just for text+images.)  Then you have a `MultiTaskTextAndImage

[2020-07-01 00:08] jiasenlu commented on #4422
I think what @matt-gardner suggested about model forward pass makes sense. For multi-task dataloader, we can borrow the existing code from M3Transofrmers. What we need is to call `dataloader.set_task(i)` before each iteration, and it will output the batched data for different tasks.

[2020-07-01 00:12] jiasenlu commented on #4425
I think we should have our own data-preprocessing configurations and code for images. (by reusing detectron2 functions). We will need the data-loading the preprocessing configurable when adding other features (such as multi-task).

[2020-07-01 00:14] jiasenlu commented on #4424
do we want to focus on BERT? which transformer models in your mind we should include for now?

[2020-07-01 02:49] pengshuang commented on #4419
Thanks. I am glad to submit a PR.

[2020-07-01 03:36] matt-gardner commented on #4419
Awesome, thanks.

[2020-07-01 03:36] #4419 closed

[2020-07-01 06:31] reiyw opened #4427 "PretrainedModelInitializer fails to initialize a model with a 0-dim tensor"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-07-01 08:06] AutoTemp opened #4428 "ModuleNotFoundError when num_workers>0 & DistributeDataParallel & lazy read"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-07-01 08:52] zhuango opened #4429 "allowed_start_transitions and allowed_end_transitions don't actually enforce their constraints"
I working on a project that uses [viterbi_decode ](https://github.com/allenai/allennlp/blob/master/allennlp/nn/util.py#L403) function in allennlp.nn.util. viterbi_decode function has _allowed_start_transitions_/_allowed_end_transitions_ parameters, which aim to enable viterbi decoding process to take the start/end timestep restriction into account. But how it works confuses me.

Follows are what I

[2020-07-01 09:02] dirkgr commented on #4424
I don't think it matters much, since the way to load weights will be quite similar between the different models. That said, let's start with BERT and RoBERTa, and go from there?

[2020-07-01 11:31] williamFalcon commented on #4387
@dirkgr wondering if you guys are still considering lightning?
we already have these integrations out of the box with WB, comet and others.

In addition, we recently integrated TPU tests and continue to be adopted by facebook, nvidia, uber, etc...

[2020-07-01 13:19] harshnarang8 commented on #4418
Yep, it does look like the `BiAugmentedLstm` should work. Should I just change the line in the init method of `AugmentedLstmSeq2VecEncoder` to use `BiAugmentedLstm`? That would imply having to provide arguments slightly different from the `AugmentedLstm`, even though the required arguments remain the same, but may or may not break other stuff in the repository or somewhere else, which I'm not sure

[2020-07-01 15:15] dirkgr commented on #4378
This is now fixed as of #4383.

[2020-07-01 15:15] #4378 closed

[2020-07-01 15:18] matt-gardner commented on #4427
Yep, you're right, this looks like a bug to me, and I agree with your fix of just using `copy_`.  Can you submit a PR, adding your minimal repro as a test case so we don't have a regression?

[2020-07-01 15:21] epwalsh commented on #4428
Hi @AutoTemp, thank you for the detailed bug report :)

Could you tell me if that exception was raised before or after the `DistributedDataParallel` workers were spawned? Or if you could just share your training log output, I should be able to tell.

[2020-07-01 15:24] matt-gardner commented on #4418
Given that this has never worked and you're the first one to complain about it, I think we can safely say that this code is unused, so it's ok to change it.  Can you just change both `AugmentedLstmSeq2*Encoders` to be `BiAugmented...`, and point to the `BiAugmentedLstm` class?

[2020-07-01 15:41] matt-gardner commented on #4429
I'm going to give you a minimal explanation, but feel free to ask more questions if this isn't enough.

The place to look for an example for how this is used is our SRL model: [here](https://github.com/allenai/allennlp-models/blob/11c6814a1de2908ab34794640411c1c5f879705d/allennlp_models/structured_prediction/models/srl.py#L370-L372) and [here](https://github.com/allenai/allennlp-models/blob/11c681

[2020-07-01 17:22] j6mes opened #4430 "BERT sliding window embedding size smaller than number of tokens"
I have a question about the behaviour o embeddings generated by BERT for long token sequences.

I'm aware there is some functionality for generating embeddings using a sliding window approach (#2537) -- and in v1.0.0 of allennlp, I no longer get warnings about long sequences being truncated (so I assume that embeddings are now generated with a sliding window for long token sequences.

With a batch

[2020-07-01 17:27] matt-gardner commented on #4430
Whether that assertion should be valid depends entirely on the token indexer that you're using.  Can you tell me what that is?  If you're using a mismatched indexer (or, for pre-1.0 code, a BertIndexer, or whatever we called it), then this assertion will fail by design.  See [this chapter of the guide](https://guide.allennlp.org/representing-text-as-features) for how these options work.

If you're

[2020-07-01 17:34] mateuszpieniak commented on #4387
@dirkgr I raised a similar issue some time ago https://github.com/allenai/allennlp/issues/3990 and I got the impression like it is a bit out of the scope of AllenNLP's core. Correct me if I am wrong.

@dhruvdcoder Do you think it would be possible to modify your library to be an AllenNLP's plugin (like [allennlp-models](https://github.com/allenai/allennlp-models) or [allennlp-server](https://githu

[2020-07-01 18:02] j6mes commented on #4430
Hi @matt-gardner - thanks for the fast reply.  I'm running the following install and using the bert-base-uncased tokenizers.

[code]

With a config like this:

[code]

There might be something fishy with using part of the old squad reader from the archived `allennlp_rc` repo. But I've done a good job at porting it to 1.0, using the tokenizer and token indexer that are constructed from the config f

[2020-07-01 18:05] itsmemala commented on #3121
@ariecattan Did you manage to resolve this? I see the same error when I try to load modal from a local path using load_archive.

[2020-07-01 18:12] matt-gardner commented on #4430
Hmm, it's possible there's a bug somewhere when the contexts get really long.  Two thoughts:

1. You mention the `allennlp_rc` repo; we do still have a reader in the [`allennlp-models` repo](https://github.com/allenai/allennlp-models); we just changed our plans on how exactly we were going to split things.  Not sure if that's helpful for you or not.

2. Can you construct an input for which the cod

[2020-07-01 18:14] matt-gardner commented on #3121
@itsmemala, can you open a new issue?  It's a lot easier for us to track.  Before you do, though, can you confirm that you see this issue with the latest master?  There have been some fixes along this line recently, which may not have made it into a new release yet.

[2020-07-01 18:22] dhruvdcoder commented on #4387
@mateuszpieniak It is pretty much like a complete plugin right now -- does not touch any AllenNLP code, can be installed and uninstalled separately without affecting any core AllenNLP functionality. I am not sure what else is needed to make it a plugin. Can you give some specifics things you would like to have? I encourage you to try [this example](https://github.com/dhruvdcoder/wandb-allennlp/tre

[2020-07-01 18:42] ariecattan commented on #3121
@itsmemala and @matt-gardner, I did check with the new version, it works properly. There is only one thing, you should remove `import allennlp_models.syntax.srl` this does not work and the model works without that

[2020-07-01 19:45] itsmemala commented on #3121
I just tried again after installing through git clone allennlp v1.0.0 (I believe this is the latest master) and I still get the same error. i will open a new issue.

[2020-07-02 01:26] reiyw commented on #4427
Ok, I'll submit a PR within a day or two.

[2020-07-02 01:45] AutoTemp commented on #4428
For the above example, the outputs are as follow:
<details>
<summary><b>Python traceback:</b></summary>
<p>

[code]

</p>

[2020-07-02 02:00] AutoTemp commented on #4428
For my own experiments (not the simple example of reproduction above), the outputs are as follow:
<details>
<summary><b>Python traceback:</b></summary>
<p>

[code]
</p>
</details>
when revising num_workers=0, there are no errors.

I suspect the problem is in this code(train.py - GradientDescentTrainer - from_partial_objects):

[code]

since I wrap them with 'try except', it can catch an exception.

[2020-07-02 03:32] zhuango commented on #4429
Hi @matt-gardner, Thanks for your explanation very much. I'm just working on SRL model. As you mentioned, disallowed transitions will have a score of float('-inf'). Following is a simple example that confuses me:

Transition matrix (add allowed_start_transitions/allowed_end_transitions, [code](https://github.com/allenai/allennlp/blob/master/allennlp/nn/util.py#L467-L496)):
![image](https://user-im

[2020-07-02 03:56] matt-gardner commented on #4429
What you're missing is the broadcasting that's happening.  Your set of equations for `summed_potentials` is wrong, because it doesn't account for the `.unsqueeze()` that happens, and the associated broadcasting.  I'd recommend stepping through the execution of that code with your toy example to see exactly what happens; it's more complicated than it looks at first glance.

[2020-07-02 04:10] ducalpha commented on #4336
Yes, it works for me. This possibly means `spacy.require_gpu()` may have some side effect that allennlp does not handle (?)

[2020-07-02 04:32] zhuango commented on #4429
Thanks @matt-gardner, I notice the broadcasting. And I checked the toy example above. Following is my code. And the path it got is [0,1] when I set allowed_start_transitions=[-math.inf, 0.0] meaning first timestep cannot be 0.
[code]

[2020-07-02 04:41] zhuango commented on #4429
And I try another extreme case, start_allowed = [-math.inf, -math.inf]. I got same output ([0, 1], 1.7).

[code]

[2020-07-02 07:05] zhuango commented on #4429
I also check the _allowed_end_transitions_ parameter which has the same problem. Here is my code:
[code]
I add a restriction on end position (cannot end with '1' state, end_allowed = torch.Tensor([0.0, -math.inf])), and eliminate the start_allowed to allow any state at first timestep. So the first timestep would be '0' state because it has a higher log prob. And the second/end timestep can only be

[2020-07-02 08:50] dirkgr commented on #4011
The new model is in the demo now.

[2020-07-02 08:50] #4011 closed

[2020-07-02 08:51] dirkgr commented on #4373
The new model is in the demo now.

[2020-07-02 08:51] #4373 closed

[2020-07-02 08:57] matt-gardner commented on #4429
Ok, sorry for being obtuse earlier, I was trying to go too fast through the issues, and assumed the code was right and didn't pay enough attention to the points you made.  With your additional explanations, I now understand and agree with what you're saying.  I went back and looked at when that code got added, and I think it just never did what it was supposed to.

Can you submit a PR to change th

[2020-07-02 09:09] matt-gardner commented on #4336
Oh, wow, is `spacy.require_gpu()` changing the behavior of `torch.ones()`?  That's the only thing that makes sense to me for getting this error.  That seems really bad and dangerous, because it affects non-spacy code.  Or maybe that's something that `torch` supports natively that we're not aware of.

Either way, that line of code in `viterbi_decode` shouldn't just be calling `torch.ones()` anyway,

[2020-07-02 10:16] itsmemala opened #4431 "Error loading model using load_archive from local path"
## Checklist
- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [

[2020-07-02 10:39] matt-gardner commented on #4431
You need to be sure that your `discourse_classifier` model has been registered.  Assuming you did that with a `@Model.register` decorator, the easiest way to do that is just to import your model class in your script.  You'll likely also have to do the same for your dataset reader class.

[2020-07-02 11:05] zhuango commented on #4429
Sorry, I just find that the reason for the output in my last post is that I neglect the _tag_observations_. _allowed_start_transitions_ and _allowed_end_transitions_ work well when tag_observations is set at [this line](https://github.com/allenai/allennlp/blob/master/allennlp/nn/util.py#L510) and [this line](https://github.com/allenai/allennlp/blob/master/allennlp/nn/util.py#L520-L523), which can

[2020-07-02 11:05] #4429 closed

[2020-07-02 11:20] wlhgtc opened #4432 "How to add hand-craft feature in seq2seq model ?"
Hi there,
 I'm using allennlp for seq2seq task. And I use the `copynet_seq2seq`  .
Here are  part of my configs:

    "type":"copynet-seq2seq",
    "source_token_indexers": {
      "tokens": {
        "type": "single_id",
        "namespace": "source_tokens",
        "lowercase_tokens": true
      }
    },
     ....

I wonder if I want use pos(of a word) as another feature. How could I do it ?
 Sh

[2020-07-02 11:30] matt-gardner commented on #4429
Hmm, ok, I see now where I also missed something :).  Looks like this code could use some better comments in general, because the logic is not obvious.  I looked at it several times over the course of this discussion and missed things each time.

[2020-07-02 11:31] Zessay opened #4433 "Type hint error"
In the 94 line of the file `allennlp/allennlp/data/fields/text_field.py`, the output type should be `TextFieldTensors` rather than `Dict[str, torch.Tensor]`. Python doesn't inspect whether the type of the parameter is right, while I think it is important for us to understand the code.

![image](https://user-images.githubusercontent.com/39905704/86354090-fd5df480-bc9a-11ea-9dcf-66bc9fc4f02c.png)

[2020-07-02 11:33] matt-gardner commented on #4432
See [here](https://guide.allennlp.org/representing-text-as-features#3), particularly the part where it talks about combining multiple indexers.  If that isn't enough to solve your issue, feel free to ask more questions.

[2020-07-02 11:48] #4433 closed

[2020-07-02 11:48] matt-gardner commented on #4433
Thanks for reporting this!

[2020-07-02 11:54] mateuszpieniak commented on #4393
@epwalsh It seems like `batches_per_epoch` applies also to validation set. Is it expected behaviour?

[2020-07-02 12:25] mateuszpieniak commented on #4387
@dhruvdcoder I will take a closer look at the weekend. I meant that it looks like a wrapper to me (you have separate program `wandb_allennlp`). I don't claim it's bad, just wondering whether it's possible to extend AllenNLP functionality so you still use `allennlp train` - for example `allennlp-server` adds new subcommands. Anyway, I think it should be designed in such a way so people can integrat

[2020-07-02 12:44] j6mes commented on #4430
It's a tricky one to reproduce, but I've got a repeatable instances where it works and where it fails.

The `transformer_bug.py` in the zip file contains a set of unit tests that perform the tokenization and embedding for a single instance on the CPU and there doesn't appear to be any problem here with the sliding window for the text field embedder. But I did spot an issue with the `max_length` pr

[2020-07-02 13:29] wlhgtc commented on #4432
Thanks for the fast response.  Seem I could use code as follows ( for any features ):
[code]

Actually, the code that makes me confused is :
[code]
The `token_indexers` (may) contains many Indexer,  but `tokens`  seems contains only the word.
But  when I find the definition of `Token` in [https://github.com/allenai/allennlp/blob/master/allennlp/data/tokenizers/token.py#L6](url)

I got it : I could

[2020-07-02 16:34] dirkgr commented on #2300
This is done, no?

[2020-07-02 16:34] #2300 closed

[2020-07-02 16:36] dirkgr opened #4436 "Stop logging regularization loss of 0"
We now log (and show during training) the regularization loss. But in many configs, that loss is always 0. We should not show it in that case, at least not on the console.

[2020-07-02 17:28] bratao commented on #4418
I was the one to create the BiAugmented class in AllenNLP and I can confirm. You should use it instead of the AugmentedLstm. I just kept it for compatibility with some tests, but at the time I did not understood how it was used.

[2020-07-02 17:56] matt-gardner commented on #4432
Yes, there are several possible attributes of `Token` which can be used by the token indexer (and you can even set your own if you subclass `Token`).  It now seems a little bit odd to me to store POS tags and such on the `Token` object, but we did it this way because the main tokenizer we used was spacy's tokenizer, and that had the option of producing `Token` objects with these attributes, so we

[2020-07-02 17:57] #4432 closed

[2020-07-02 18:05] ducalpha commented on #4336
Sorry, it turns out that after `spacy.util.use_gpu(id)`, spacy processed sentences on CPUs instead of GPU. Therefore, I now use `spacy.require_gpu()` to make spacy run on GPU and modified `srl_bert.py` to make the AllenNlp work.

[2020-07-02 18:32] 6desislava6 commented on #4336
Ah, interesting. Thanks for looking into that!

[2020-07-02 23:08] matt-gardner commented on #4430
Ok, got it.  I wasn't really familiar with how we handled long sequences, but now I know a bit more.  The key issue is this: if you look at the number of tokens in your `TextField`, it's the same as the number of embeddings you get out of the `TextFieldEmbedder` (this is the fundamental contract that AllenNLP upholds).  So the reason there are extra tokens in the `'token_ids'` tensor is because th

[2020-07-02 23:08] #4430 closed

[2020-07-03 07:06] Zessay opened #4437 "Add new attribute in Token class"
In the dialogue task of NLP, we often need to know turn id  or role id so that we can get the turn embedding or role embedding of a token. In current `Token` class, the attributes are fixed. And we need to rewrite a subclass of `Token` to add our own attributes,  which is inconvenient. We
might need to fix all of the `Tokenizer`, `TokenIndexer` and `TokenEmbedder`, just because of one extra attrib

[2020-07-03 12:43] Zessay opened #4438 "A parameter problem"
In the file `pretrained_transformer_mismatched_embedder.py`, there is a `*` in the `__init__` (line 43). I haven't seen this parameter before (only know `*args` and `**kwargs`), and can't understand the use of this here.  Could you please explain the usage of this parameter? Thank you!

[2020-07-03 21:09] bratao commented on #4437
I had this problem before, and solved by setting Token as a dataclass. You can see on this PR https://github.com/allenai/allennlp/pull/3769

But an optimization latter (https://github.com/allenai/allennlp/pull/4312) set as slots.
But it was easy enough to extend the class to support the attributes you need, such as:
[code]

[2020-07-04 05:31] #4431 closed

[2020-07-04 07:38] Zessay commented on #4437
Yes, I am using this solution in my own code. While I think this is not elegant, if we define a subclass,  we may need to rewrite `Tokenizer` and `TokenIndexer` so that we can add new attributes in our `DataReader`, which is not convenient. Thus, I think the `Token` class should allow us to add new attributes according to specific task, this will be more flexible.

[2020-07-04 18:46] marskong88 opened #4440 "just can stay the original and nomore same like dog place"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-04 19:23] pavingblock1212 commented on #2302
jasa paving block [https://sentracon.co.id/](url)

[2020-07-04 21:03] #4440 closed

[2020-07-05 05:05] hugess opened #4441 "where is part of speech and proper name category label collection?"
A list like this:
https://github.com/baidu/lac

标签 | 含义 | 标签 | 含义 | 标签 | 含义 | 标签 | 含义
-- | -- | -- | -- | -- | -- | -- | --
n | 普通名词 | f | 方位名词 | s | 处所名词 | nw | 作品名
nz | 其他专名 | v | 普通动词 | vd | 动副词 | vn | 名动词
a | 形容词 | ad | 副形词 | an | 名形词 | d | 副词
m | 数量词 | q | 量词 | r | 代词 | p | 介词
c | 连词 | u | 助词 | xc | 其他虚词 | w | 标点符号
PER | 人名

I didn't find such instructions in the AllenNlP's doc
Is it consiste

[2020-07-06 02:21] nitishgupta commented on #4330
I'm facing the same issue; is the solution to just wait for huggingface's release that will be incorporated here?
Does this mean that AllenNLP 1.0 cannot be used for any code that uses the `PretrainedTransformerTokenizer`?

[2020-07-06 02:36] 563017732 opened #4442 "allennlp.common.checks.ConfigurationError: key "token_embedders" is required at location "model.text_field_embedder.""
**Describe the bug**

I0706 10:33:02.516595 140677189486400 archival.py:171] extracting archive file /home/jiawen/.allennlp/cache/60c14844468543e4329ce7e8d3444fa1f9f7057b4b0de5b3f4a597eb57113d32.73aa20bab6336a582588814d8458d040b59536ca1f60b6a769a2da61c7aa3c9a to temp dir /tmp/tmp15lrx2nb
I0706 10:33:06.706750 140677189486400 params.py:247] type = from_instances
I0706 10:33:06.706835 14067718948640

[2020-07-06 04:54] matt-gardner commented on #4330
Just don't set `num_workers > 0` with a lazy dataset.

[2020-07-06 04:55] nitishgupta commented on #4330
Someone from the group tried `num_workers = 0` and it didn't work. I will try and report.

[2020-07-06 04:58] matt-gardner commented on #4330
We have lots of models that train just fine with transformers, so it definitely is not a global problem. Make sure you have an up to date release, also.

[2020-07-06 14:12] matt-gardner commented on #4442
You're using an old model that is not compatible with allennlp 1.0.  An updated model can be found here: https://storage.googleapis.com/allennlp-public-models/elmo-constituency-parser-2020.02.10.tar.gz.

[2020-07-06 14:12] #4442 closed

[2020-07-06 14:14] matt-gardner commented on #4441
What model are you talking about?  The label space used depends on the data used to train the model.  For POS tags, we typically use spaCy to predict those.  Other syntax labels most often ultimately derive from the Penn Treebank.

[2020-07-06 14:15] #4427 closed

[2020-07-06 14:21] matt-gardner commented on #4438
It forces all following arguments to be passed by name (with the idea of minimizing accidental order swaps for long argument lists).  https://stackoverflow.com/questions/14301967/bare-asterisk-in-function-arguments

[2020-07-06 14:21] #4438 closed

[2020-07-06 14:26] matt-gardner commented on #4437
You should be able to just do something like `tokens = [MyToken(token.text, ...) for token in tokens]` in your dataset reader.  You shouldn't have to override tokenizers or token indexers at all.

[2020-07-06 15:11] hugess commented on #4441
Ok clear！ ths

[2020-07-06 15:11] #4441 closed

[2020-07-06 15:26] epwalsh commented on #4393
That is expected. If you only want `batches_per_epoch` set for training (like most use-cases, I assume) you can use a separate `validation_data_loader`.

[2020-07-06 18:35] mateuszpieniak commented on #4436
Btw, @dirkgr When I add `weight_decay` to my optimizer (e.g. Adam), then do I need to use `RegularizerApplicator`? I've just discovered that I only used `weight_decay` for optimizer in my config file. Reported `reg_loss` == 0 drew my attention that perhaps I have a bug?

[2020-07-06 22:34] epwalsh commented on #4428
I'm still 100% sure what is causing the issue, but I've narrowed it down and found a work-around.

The work-around is to ensure your custom modules (like `my_package` or `my_text_classifier` in these examples) are in your Python path. There are two ways to do this:

1. Append the parent directories of these modules to the `PYTHONPATH` environment variable. If you're running `allennlp` from the sam

[2020-07-07 02:08] 563017732 commented on #4442
Thank you so much, it works.

[2020-07-07 09:45] dirkgr commented on #4436
Hmm, this is a little bit confusing. When you use the `weight_decay` option of Adam, the regularization is applied directly in the optimizer. It bypasses the loss calculation, so there is no `reg_loss` reported when you do this. This is correct and you don't need to use the applicator.

[2020-07-07 10:33] dirkgr commented on #4387
I think the easiest thing we can do here is include @dhruvdcoder's library in the README. I'm happy to review a PR that does this.

Beyond that, it would be good to have the `EpochCallback` in a form where you can just reference it in a config and it will work from there. If it's easy enough, I'd love to have it as part of the core library. Then we don't have to worry about `--include-package`.

[2020-07-07 11:01] Zessay commented on #4437
Thanks for your reply ! This is actually a good solution without modifying the `Token` class.

[2020-07-07 11:01] #4437 closed

[2020-07-08 03:04] AutoTemp commented on #4428
@epwalsh Thanks for your detailed answer!!

[2020-07-08 04:21] tamuhey opened #4450 "Restrict the version of `boto3` for package manager"
Now allennlp depends on `boto3==*`, which sometimes causes a package manager `poetry` to get stuck in dependency resolution (see https://github.com/python-poetry/poetry/issues/771#issuecomment-630677036).
Users can avoid this by specifying `boto3` dependency, but it is not trivial.

I think it's good to rewrite the below line to, for example, `boto3>=1.14`

https://github.com/allenai/allennlp/blob

[2020-07-08 08:30] wlhgtc opened #4451 "[Model] Why use LSTMCell(rather than LSTM) in decoder(allennlp-model) ?"
Hi there,
I am doing some generation task with `allennlp-model`.

I find all the models in [seq2seq](https://github.com/allenai/allennlp-models/tree/11c6814a1de2908ab34794640411c1c5f879705d/allennlp_models/generation/models)  use LSTMCell for decoding. It makes me hard to use 2(or more) layers of LSTM. But the transformer decoder could be easily extend to more layers.

I wonder whether this settin

[2020-07-08 11:57] madcpt opened #4452 "Missing 'allennlp.data.fields.production_rule_field' in allennlp-1.0.0"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-07-08 12:13] madcpt commented on #4452
Finally, I found the explanations here #3625, so this is not a bug.
Looking forward to `allennlp_semparse`!

[2020-07-08 12:14] #4452 closed

[2020-07-08 15:03] matt-gardner commented on #4452
Not sure what you meant by "looking forward", but just in case you didn't know, that repo is available here: https://github.com/allenai/allennlp-semparse.

[2020-07-08 15:34] epwalsh commented on #4450
Ugh, for any project that uses boto3, botocore, or awscli there is almost always a dependency conflict for some reason 🤦

Would you mind submitting a pull request for this?

[2020-07-08 18:45] Unterbelichtet commented on #4031
I just tried your code from above to try allennlp out, I also installed all required libraries and followed your instructions from above, but I still got this error: ConfigurationError: key "matrix_attention" is required at location "model." I first installed those libraries: `!pip install allennlp
!pip install --pre allennlp-models` Here's my code: `import sys

from allennlp.predictors.predictor

[2020-07-08 20:53] schmmd commented on #4031
@Unterbelichtet please open a new issue if you have additional problems.  I'm not sure what version of AllenNLP you are using, but your code snippet looks out of date.  For example, you are using a version of the model that was uploaded in 2018, but we had some breaking changes before the 1.0 release.

I just copied this usage snippet from our demo, and it worked fine:

[code]

[2020-07-08 21:34] AkshitaB commented on #4059
It appears that it is possible to have different types of inputs for the `text_to_instance()` function in dataset_readers. Some of our sample dataset_readers require tokens (eg. [conll2003](https://github.com/allenai/allennlp/blob/master/allennlp/data/dataset_readers/conll2003.py)  -- used here), some require str (eg.  [text_classification_json](https://github.com/allenai/allennlp/blob/master/alle

[2020-07-08 21:39] epwalsh commented on #4216
Hey @namednil, just thought I'd ping you on this. I can take this over if you're too busy

[2020-07-09 09:54] Unterbelichtet commented on #4031
Thanks, that worked!

[2020-07-09 09:56] dirkgr commented on #4059
This code already only runs in the case where the reader doesn't have a tokenizer (though I am a bit horrified at [the way we detect that](https://github.com/allenai/allennlp/blob/master/allennlp/predictors/text_classifier.py#L33)).

`text_to_instance()` does not have a well-defined signature. Readers can implement it however they want (or not implement it at all). In general, readers, models, and

[2020-07-09 15:51] namednil commented on #4216
Oh, sorry! Yes, I'm quite busy at the moment. That would be great, if you don't mind doing this.

[2020-07-09 16:15] #4450 closed

[2020-07-09 16:19] epwalsh opened #4455 "Add option to use scalar mix of pretrained transformer layers as embedding, not just last layer"
See the discussion here: https://github.com/allenai/allennlp/issues/4216

[2020-07-09 16:19] epwalsh commented on #4216
@namednil no worries! I've created a separate feature request to track this by the way: https://github.com/allenai/allennlp/issues/4455

[2020-07-09 18:50] #4330 closed

[2020-07-09 19:23] epwalsh opened #4457 "Retrain transformer-based models in allennlp_models.pretrained"
Updates from the new transformers/tokenizers release has broken some of these.

- [x] Fine-grained NER transformer
- [x] RoBERTa SNLI @epwalsh - https://beaker.org/ex/ex_3xaw1xzw6689/tasks/tk_zxz18n8idbn0
- [x] RoBERTa MNLI @epwalsh - https://beaker.org/ex/ex_jbf2biqowfwa/tasks/tk_28u7smfn77o9
- [x] BERT SRL
- [x] RoBERTa SST @AkshitaB

[2020-07-09 20:28] suuuuuperrrr opened #4458 "ConfigurationError: from_params was passed a `params` object that was not a `Params` when loading SRL model"
Hi. I tried to load the pre-trained model of SRL model but Predictor.from_path is not working. My code is below:

[code]

The traceback is:

[code]

Environment:
Google colab;
allennlp==1.0.0rc3
allennlp-models==1.0.0rc3

Thanks!

[2020-07-09 20:39] bpben commented on #1737
Why is this closed? The link hasn't been fixed and it doesn't appear there's a clear tutorial on how to use ELMo with allennlp.  (Or tutorials generally, all of them seem to have disappeared.)

[2020-07-09 21:26] matt-gardner commented on #1737
@bpben, if that usage suits your purposes, then go for it.  If you use that method of getting ELMo embeddings, though, you'll have quite a hard time switching your code to use BERT, or whatever comes afterward.  If you don't care about that, then there are simpler things that you can do, such as what you listed.

[2020-07-09 23:26] schmmd commented on #4458
@suuuuuperrrr you are using a very old model (2018) with a quite new version of AllenNLP (1.0.0rc3).  Please see the usage information on our demo, which works: https://demo.allennlp.org/semantic-role-labeling

[2020-07-10 00:02] jiasenlu opened #4459 "Add vision and language dataset readers."
commits and discussions that add vision and language dataset reader

[2020-07-10 08:36] wlhgtc commented on #4451
@schmmd  I compared allennlp with Open-NMT, seem we use the same code in train and valid for generation.
This makes hard to use multi-layer decoder.  Any idea about solve it ?

[2020-07-10 10:36] chrisdoyleIE commented on #4281
I found that upgrading to huggingface transformers 3.0.0 facilitates this error

[2020-07-10 11:22] wlhgtc commented on #4451
@dirkgr @epwalsh Sorry for bother, could you give me some method about how to **construct a 2 layer LSTM decoder**  in allennlp-model ? I tried but failed.

[2020-07-10 12:04] dirkgr commented on #4281
What do you mean by "facilitates"?

[2020-07-10 12:17] dirkgr commented on #4451
I'm not super familiar with that code, but it seems to me that you'll have to modify `LstmCellDecoderNet` to use two `LSTMCell`s instead of just one. You can modify `previous_state` to carry the output from both cells, either as a concatenated tensor, or separately. Maybe @epwalsh knows more about it?

[2020-07-10 14:36] idoan commented on #3121
I got the same error and It is resolved after installing [allennlp-models](https://pypi.org/project/allennlp-models/) package.

[2020-07-10 15:11] bpben commented on #1737
Actually, I stand corrected: It seems like allennlp version 1.0 doesn't have allennlp.commands.elmo.  I'm a bit confused why that was removed in favor of the method outlined by the tutorial.  Maybe this is a separate issue.

[2020-07-10 15:59] matt-gardner commented on #1737
There have been other issues that brought this up, yes (and in general, opening new issues is much easier for us to keep track of than commenting on old ones).  We thought that this particular use case was not a common one, so we didn't want to continue supporting that code.  The method in the tutorial is how the library was designed to be used from the beginning for writing research code, while d

[2020-07-10 16:00] matt-gardner commented on #1737
If you want to continue using that method, it should be pretty simple for you to copy the old elmo command code into your own repo.  It should still work.

[2020-07-10 16:07] matt-gardner commented on #4451
You can see how we handled this in the semantic parsing code here: https://github.com/allenai/allennlp-semparse/blob/c8bbe4e9fdf4fcb82af4e7c5360e80d51e0898eb/allennlp_semparse/state_machines/transition_functions/basic_transition_function.py#L80-L85.  Making a similar change in the seq2seq code would be great, if you want to submit a PR for it.

[2020-07-10 16:23] #4059 closed

[2020-07-10 17:28] #4436 closed

[2020-07-10 18:07] chrisdoyleIE commented on #4281
Sorry I should have given you more to go off - really big fan of you guys!

I upgraded to transformers==3.0.1 without changing any code and got the same type error. When I reverted versions of transformers<3.0.0 the same code worked fine.

[2020-07-10 18:22] #4459 closed

[2020-07-10 19:34] #4455 closed

[2020-07-11 20:47] donpaul999 commented on #877
Hi! I have the same error but I can't manage to solve it. I have a MacOS device too.

[2020-07-12 03:54] wlhgtc commented on #4451
Hi there,
I add 2 new pr for this feature, one for  allennlp-models [#90](https://github.com/allenai/allennlp-models/pull/90) and the other for allennlp #4462  .

The changes in allenlp-models is easy. But I am not sure about my changes for #4462 (beam_search)
The state accepts tensors like `(batch, *)`, but the decoder state in multi-layer decoders is `(num_layers, batch_size, *)`. So I add a new

[2020-07-12 17:13] Riccorl opened #4463 "Missing srl-eval.pl in allennlp-models"
When installing allennlp-models 1.0.0 through pip with

[code]

[srl-eval.pl](https://github.com/allenai/allennlp-models/blob/master/allennlp_models/structured_prediction/tools/srl-eval.pl) file is missing.

[2020-07-13 08:39] linpan opened #4464 "not support python3.8"
bug:
 Downloading http://mirrors.aliyun.com/pypi/packages/c6/27/07b57d22496ed6c98b247e578712122402487f5c265ec70a747900f97060/gluonnlp-0.9.1.tar.gz (252 kB)
     |████████████████████████████████| 252 kB 317 kB/s
    ERROR: Command errored out with exit status 1:
     command: /Users/rct/.pyenv/versions/3.8-dev/envs/env-3.8/bin/python3 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/priva

[2020-07-13 08:41] pengshuang opened #4465 "Add `best_span_probs` to TransformerQA"
Now the calculated logic of ``best_span_scores`` in ``allennlp_models/rc/models/transformer_qa.py`` is:

https://github.com/allenai/allennlp-models/blob/b91333327976e8731bf6866db1308d3d1fc258f2/allennlp_models/rc/models/transformer_qa.py#L136

As the ``best_span_scores`` is the sum of the ``span_start_logits`` and ``span_end_logits`` in the ``best_span``,  **we will get a score that is greater tha

[2020-07-13 09:03] 731935354 opened #4466 "Encode candidates seperately when fine-tuning BERT to avoid CUDA out of memory error"
## Question
Hi, I want to build a 100-way classification model by fine-tuning BERT but get CUDA out of memory error. I tried to encode candidates separately but it seems not working as I expected.

## Environment
OS: Redhat
AllenNLP: 1.0.0
GPU: single Nvidia P100 16GB

## Task description
Each instance in my dataset contains
* a context sentence
* 100 candidate sentences
* an integer label that in

[2020-07-13 09:52] dirkgr commented on #4281
I just tried running the code from the issue description at the top on the latest `master` of allennlp and allennlp-models, and `transformers==3.0.2`. I had no problems. What are you running?

Thanks! We appreciate it :-)

[2020-07-13 09:53] dirkgr commented on #4281
Actually, if you could put repro steps into the description of a new issue, that would be great. Then we don't have to have a discussion on a closed issue, which might get lost easily.

[2020-07-13 12:26] panwarnaveen9 opened #4467 "Question on output of SRL model"
[code]

it returned me a shape of numpy array as follow

[code]

How can I use understand this ?
Sequence length is 8 and what is 130 ?

[2020-07-13 17:40] schmmd commented on #4339
Closinga s this is done.  @matt-gardner can you link to the other tempalte?

[2020-07-13 17:40] #4339 closed

[2020-07-13 17:41] schmmd commented on #4339
Templates are here: https://github.com/allenai/allennlp#getting-started-using-the-library

[2020-07-13 18:00] abubakar-ucr opened #4471 "How to get results up to 4 decimal points in SpanBasedF1Measure, CategoricalAccuracy and other metrics"
Hi, how can I get results up to 4 decimal points in SpanBasedF1Measure, CategoricalAccuracy and other metrics in evaluate(...) method? By default, it only shows up to 2 points, and I see other libs (e.g., scikit-learn) takes in an argument to specify the precision value? Does AllenNLP have something like this that I am not aware of?

[2020-07-13 20:54] #4357 closed

[2020-07-14 07:51] chrisdoyleIE commented on #4281
That's strange. I think transformers introduced a few tokenizer fixes between ```3.0.1``` and ```3.0.2```, but might also be something else. I can try repro this in the next week or two as have some hard deadlines approaching and have not recorded all the steps I took to fix this error as well as I could have...

[2020-07-14 08:53] dirkgr commented on #4457
I started doing BERT SRL too because I already had the environment for that spun up.

[2020-07-14 09:32] dirkgr commented on #4203
@AkshitaB, thanks for taking this on. Let me know if you want to talk about some more details regarding this. I feel like I didn't put enough info into the description.

[2020-07-14 15:33] dcfidalgo opened #4474 "[Models] Wrong usage of *cls_pooler* in the SST Roberta model"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-07-14 16:58] bratao commented on #4464
I think you sent to the wrong project. The error you have is related to the gluonnlp

[2020-07-14 17:41] #4124 closed

[2020-07-15 08:11] dirkgr commented on #4424
Matt has a bunch of code for this in https://github.com/allenai/allennlp/pull/4423. The work for this issue is about pulling that out into its own set of reusable modules.

[2020-07-15 11:48] flyangovoyang opened #4478 "loss computed by ConditionalRandomField.forward() exceeds 10^29"
Hello, I am doing a NER task with single entity class.
when training, the loss returned by `forward()` exceeds 10^29, and the result on evaluation dataset is terrible, F1 is nearly 0.
[code]
related hyper-parameters are: batch_size=128, and num_tags=3, max_seq_len=100, learing_rate=1e-5

I also tried CrossEntropy as my loss function, the loss of the first step is a normal value, about 1.3, which d

[2020-07-15 14:48] sukeshlaghate opened #4480 "Inconsistency in answers generated by ELMo-Bidaf( trained on SQuAD) Demo and downloaded"
**Describe the bug**
Inconsistent answers generated by `bidaf-elmo-model-2020.03.19.tar.gz` model when run in Allennlp demo website and when run on local machine after downloading the model.

**Steps to reproduce the behavior**
I followed instructions given in the usage section of online demo for reading comprehension

1. conda create --name allennlp python=3.7
2. conda activate allennlp
3. conda

[2020-07-15 21:33] successar opened #4482 "Allow training of specific layers of pretrained transformers"
**Is your feature request related to a problem? Please describe.**
Currently pretrained transformer embedders allow training of either or none of the parameters in a model. I would like to be able to training only specific layers -- say top 2 while keeping everything else fixed.

**Describe the solution you'd like**
Current the model takes in a boolean train_parameters option here https://github.c

[2020-07-15 22:29] matt-gardner commented on #4482
Seems a bit nicer to have some kind of initializer that freezes weights, and then use our existing regex mechanism to apply that initializer.  Does that sound like it would work?

[2020-07-15 22:55] successar commented on #4482
@matt-gardner Thanks for the suggestion. I will try initializer route too

[2020-07-15 23:06] epwalsh commented on #4482
Though this isn't documented, I think that's the purpose of this parameter: https://github.com/allenai/allennlp/blob/master/allennlp/training/trainer.py#L1056.

But I do like @matt-gardner's idea.

[2020-07-15 23:18] matt-gardner commented on #4482
Hmm, yeah, @epwalsh, you're right.  No strong opinion from me on which of the two options to use.  But it's pretty unfortunate that `no_grad` isn't documented, and only shows up in `from_partial_objects` and not `__init__`.  Cleaner probably to push that functionality into an initializer.

[2020-07-15 23:20] successar commented on #4482
Thanks, @epwalsh no_grad is exactly what I needed for now. Also I tried a new freeze_param initializer and that seems to be working too for me. Will try to generate a pull request for that this week.

[2020-07-16 08:05] dirkgr commented on #4354
@HarshTrivedi discovered that #4477 didn't really fix this. We want to log the actual loss of each individual batch, not the sum of the losses.

[2020-07-16 08:07] dirkgr opened #4484 "Fix the GPT2 demo"
@pclark425 reports that the GPT2 demo seems to be doing poorly right now. @matt-gardner suspects it has something to do with tokenization.

[2020-07-16 14:01] matt-gardner commented on #4484
To be more specific: trailing space at the end of the input box makes the predictions quite poor. If you remind the trailing space, or use the buttons to interact with the demo, things look fine. The trailing space behavior is unexpected and so seems wrong, even if according to the tokenization it might be "correct" behavior.

[2020-07-16 14:02] matt-gardner commented on #4484
Which also means this might just be a simple fix on the demo side, not something to fix here.

[2020-07-16 14:04] matt-gardner commented on #4484
It's tricky, because you probably *do* want to keep a trailing newline, just not a trailing space... One possible solution is just to have a note in the demo explaining this behavior.

[2020-07-16 17:29] dirkgr opened #4486 "Create dataset readers for all vision tasks"
- [ ] Conceptual Captions
 - [x] VQA 2.0 (@jiasenlu put this in #4461)
 - [ ] VCR (@jiasenlu put this in #4461)
 - [ ] RefCOCO
 - [ ] RefCOCO++
 - [ ] RefCOCOg
 - [ ] Flickr30k
 - [x] GQA
 - [ ] Visual Genome
 - [ ] COCO
 - [ ] Visual7W
 - [ ] GuessWhat
 - [ ] NLVR2 (part of #4481)
 - [x] SNLI-VE

[2020-07-16 17:31] dirkgr commented on #4426
Since we're preparing the images in the reader for now, I don't think we need this anymore.

[2020-07-16 17:31] #4426 closed

[2020-07-16 17:44] matt-gardner commented on #4426
I think that we'll want this eventually, just maybe not in our first version.

[2020-07-17 00:44] j-min opened #4489 "Set Detectron2 version as v0.2"
Let's fix Detectron2 version as v0.2, the latest release version.
In [setup.py](https://github.com/allenai/allennlp/blob/DetectronNLVR/setup.py#L71), we could change
`"detectron2 @ git+https://github.com/facebookresearch/detectron2"`
to `"detectron2 @ git+https://github.com/facebookresearch/detectron2@v0.2"`

[2020-07-17 01:59] lianna1016 opened #4490 "Using Word and Character level embeddings"
Hello!

I am very new to AllenNLP and am trying to create an NER LSTM model. I have gotten it to use the word2vec embeddings, but I am also trying to add character level embeddings as well for out of vocab words. I have been looking for examples on how to do this but cannot find a clear one. Are there any resources you could point me towards?

Below is a screenshot of an attempt with a config file

[2020-07-17 02:16] matt-gardner commented on #4490
Have you look at [the guide](https://guide.allennlp.org/representing-text-as-features)?  In sections 3 and 4 of the page I linked there are examples of how to do this.

[2020-07-17 02:24] lianna1016 commented on #4490
Thank you!

[2020-07-17 02:24] #4490 closed

[2020-07-17 08:44] #4354 closed

[2020-07-17 10:05] dirkgr commented on #4489
This is a good idea. Why don't you just make the change in a PR? Or just commit it directly to the `DetectronNLVR` branch? The Detectron stuff is so early still, we don't have to go through the official process all the time.

[2020-07-17 10:25] dirkgr commented on #4480
The ELMo model you are using does not guarantee the same results every time. That's a known characteristic of ELMo. Have you tried it with the TransformerQA model that's also there?

[2020-07-17 10:27] dirkgr commented on #4478
These kinds of issues usually happen because of the input data. Maybe you her zero non-masked tokens in the input? No tokens that can be classified?

[2020-07-17 10:30] sukeshlaghate commented on #4480
@dirkgr Thanks for your response.
Point duly noted.
However I have an observation; On the demo website it consistently returns correct answers not only for the passage given in example above but even for variety of other passages too. So you can understand why I was confused with the responses that were generated by downloaded model.

I will try out TransformerQA Model as suggested.

[2020-07-17 10:41] sukeshlaghate commented on #4480
@dirkgr Also noticed that there is NMN model but demo site does not provide information on its usage. Could you please provide example along with instructions on how to download and run NMN(drop) trained model. Thank you in advance for your help

[2020-07-17 11:22] dirkgr commented on #4474
The model is fine. [This line](https://github.com/allenai/allennlp/blob/master/allennlp/data/token_indexers/pretrained_transformer_mismatched_indexer.py#L79) adds the special tokens we need.

The pooler has `cls_is_last_token` set to `True`, which is a questionable choice for RoBERTa, but it just means we get the embedding of the `"</s>"` token instead of `"<s>"`. That's not the end of the world.

[2020-07-17 11:40] j-min commented on #4489
I see. I will commit directly to the DetectronNLVR branch.

[2020-07-17 11:50] marcos0318 commented on #3125
Hi, I also face this problem. How did you solve the out of memory issue? I have tried to minimize the spans_per_word and
max_antecedents to really small numbers and it still does not work. I am using 2080ti GPU with 11GB memory

[2020-07-17 12:12] #4489 closed

[2020-07-17 12:13] dirkgr commented on #4480
Unfortunately I don't know too much about the NMN models. I think they live at https://github.com/allenai/allennlp-semparse. @matt-gardner, do you know more?

[2020-07-17 12:18] dirkgr commented on #4471
During training, the results go into `metrics.json` files, with all the accuracy that we have.

When you say "evaluate(...) method", do you mean you are running `allennlp evaluate`?

[2020-07-17 12:24] dirkgr commented on #4467
I don't know the SRL model exactly, but I would guess there are 130 different classes that a token can be in, and each value gives you the probability that it's that class. `"probabilities"` is probably the softmax over `"logits"`, so they contain the same information.

[2020-07-17 12:36] dirkgr commented on #4466
I did not follow your model description completely, but it sounds like every instance contains 101 text sequences. With a batch size of 2, that means you want to hold 202 text sequences in memory at the same time. This will not work with 16 GB of memory. It does not matter if you do them separately, as you do in your `for` loop. PyTorch has to keep information from every loop to calculate gradient

[2020-07-17 12:43] dirkgr commented on #4465
For most uses, having a score instead of a probability is good enough, and it comes with extra accuracy in the float32 values to keep it that way. That said, feel free to add another field called `best_span_probs` to the output of `TransformerQA`.

[2020-07-17 12:46] dirkgr commented on #4464
OP didn't bother even formatting the input to be readable. I'm closing this. Feel free to reopen if there is a real problem.

[2020-07-17 12:46] #4464 closed

[2020-07-17 12:58] 731935354 commented on #4466
@dirkgr Thanks very much for your suggestions. Yesterday I set batch_size=1 and successfully fine-tuned the model using a 32G-RAM GPU. It shows that 22GB memory has been used.

Your explanation of the `for` loop is really helpful. I finally understand why `separate encoding` didn't do what I expected.

I will definitely try other options you mentioned tomorrow.

[2020-07-17 13:25] dirkgr commented on #4463
You are right! I made a fix in https://github.com/allenai/allennlp-models/pull/96.

[2020-07-17 13:25] dirkgr commented on #4458
Closing due to inactivity

[2020-07-17 13:25] #4458 closed

[2020-07-17 15:21] matt-gardner commented on #4480
The DROP NMN lives here: https://github.com/nitishgupta/nmn-drop.  It's based on the semparse repo, but it's not in that repo.

[2020-07-17 15:33] Riccorl commented on #4463
Thank you!

[2020-07-17 16:09] dirkgr commented on #4482
Let'a make an optimizer parameter that does this.

[2020-07-17 16:12] dirkgr commented on #4466
👍

[2020-07-17 16:12] #4466 closed

[2020-07-17 16:15] dirkgr commented on #4457
@AkshitaB, when you touch the `RoBERTa SST` model, try it without the `cls_is_last_token` setting. It's more correct to not have it.

[2020-07-17 16:23] dcfidalgo commented on #4474
Thanks @dirkgr for the clarification, and sorry to bother you again!
Maybe i do not get the full picture, but i would be super grateful if you could point me further in the right direction.

If i understand it correctly, the [`PretrainedTransformerIndexer._process_output()`](https://github.com/allenai/allennlp/blob/478bf46cb676524ee9b74fb271ec0a592d1c4a48/allennlp/data/token_indexers/pretrained_tr

[2020-07-17 21:15] ajorg-aws opened #4491 "Copyright notice?"
What is the correct copyright notice for this project? To use the project in some other project or product, we would normally add a copyright notice to an attribution document or third-party notices file, but I don't find any copyright notice in this project at all.

It looks like the Apache-2.0 license only requires that we attribute this project *if* the project includes a NOTICES file (conditio

[2020-07-18 00:47] colll78 commented on #4258
I assume that this question is asking for some means of generating a pdf or standalone html page for the model interpretation, such that when one uses the allennlp Python library, they can generate visualizations similar to the ones present in this demo without needing to host and run a web application. The LIME and BertViz libraries offer something like this, however, the implementation is not tr

[2020-07-18 05:31] panwarnaveen9 commented on #4467
Thanks for comment

I guessed same thing.. but where can I get the list of these SRL classes so that I can map each value to some class label.
Second question was regarding value `12` as `shape[0]` which is not directly map to sequence length - `8`

[2020-07-18 06:36] abubakar-ucr commented on #4471
yes. allennlp.training.util.evaluate. Specifically, I was talking about SpanBasedF1Measure
is there some other evaluation method as well?

[2020-07-18 07:15] faysalhossain2007 opened #4492 "Getting error while building Allennlp"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-07-18 12:18] #4053 closed

[2020-07-18 18:39] yongzx opened #4493 "Support for Multilingual Constituency Parser"
**Is your feature request related to a problem? Please describe.**
My feature request is related to the multilingual constituency parsing, where the current constituency parser in the  AllenNLP library only works for English and is no longer the SoTA parser.

**Describe the solution you'd like**
The ideal solution is to have a parser such as the implementation of [Berkeley Neural Parser](https://g

[2020-07-19 00:28] madcpt commented on #4452
Really nice work! I thought `allennlp-semparse` would become a sub-module of `allennlp`, did not realize it is a separated package.

[2020-07-19 13:10] WweiL opened #4494 "[Suggestion] One line change in the comments"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-07-20 10:04] dirkgr commented on #4471
`allennlp.training.util.evaluate()` is a function that returns metrics. None of those metrics are rounded. They come back with the full number of digits available.

Which metrics are included depends on the configuration of the model. Different models have different metrics.

[2020-07-20 10:15] dirkgr commented on #4467
BERT re-tokenizes the given string, and it adds special tokens. So in your case, you have 8 input tokens, but BERT adds a `[CLS]` token, a `[SEP]` token, and it probably uses word-pieces for words like "corporation" or "computers", for a total of 12 tokens in the output.

I don't know what the 130 classes are. You can probably find that information in the Ontonotes 5.0 dataset documentation.

[2020-07-20 10:27] dirkgr commented on #4474
You are right about these things, but I see the correct tokens in the debugger. The sequences that end up in the `forward()` method all start with `0`, as they should. I'm investigating ...

[2020-07-20 10:40] dirkgr commented on #4474
This is the line where the special tokens are added: https://github.com/allenai/allennlp/blob/master/allennlp/data/tokenizers/pretrained_transformer_tokenizer.py#L387

[2020-07-20 10:42] dirkgr commented on #4474
When I run your example, `print(tensor_dict)` also prints a tensor that starts with `"<s>"` (`0`) and ends with `"</s>"` (`2`). Looks like everything is alright?

[2020-07-20 10:43] #4480 closed

[2020-07-20 21:08] mateuszpieniak opened #4496 "Padding error for two ListFields in Instance object"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-07-21 02:16] OhadRubin opened #4498 "Question regarding util.batched_span_select"
[It states](https://github.com/allenai/allennlp/blob/478bf46cb676524ee9b74fb271ec0a592d1c4a48/allennlp/nn/util.py#L1267):

Why is that?
Thanks

[2020-07-21 15:18] epwalsh commented on #4494
@WweiL thanks for letting us know. Would you mind submitting a PR to fix this?

[2020-07-21 15:45] epwalsh commented on #4496
Thanks for the detail! I'll take a look at this today

[2020-07-22 02:35] ZhaofengWu commented on #4498
If you're referring to the second line (not guaranteeing order), IIRC it's because of some fancy tensor indexing logic. I imagine we could change the logic to make this guarantee if there's a demonstrated need.

[2020-07-22 04:06] flyangovoyang commented on #4478
Thank you for your time and instruction.
To reproduce the problem, I extract part of my model's output `input_logits`[batch_size=1, max_seq_len=100, num_tags=3] and related tensor `input_masks` [1, 100] and `tag_ids` [1, 100]:

[code]

and loss is still quite big, nearly 10^27, can I attribute it to the length of the sequence?

[2020-07-22 04:19] OhadRubin commented on #4498
Yes, for example in dialogue tasks you might want to go from [batch_size,num_uttrances*max_uttrance_len] to  [batch_size,num_uttrances, new_max_uttrance_len]

[2020-07-22 08:41] flyangovoyang commented on #4478
thank you very much for your time.

[code]

the output is

[code]

for the whole batch, i print the intermediate variable value:

[code]

[2020-07-22 09:09] dcfidalgo commented on #4474
Thank you @dirkgr for investigating further, and sorry for my delayed answer!
You are right, the output of the indexer does contain the word piece indexes, but i think key to the described behavior are the `offsets` and how the `PretrainedTransformerMismatchedEmbedder` uses them. If you set a breakpoint at the end of the [forward](https://github.com/allenai/allennlp/blob/1cab3bfef37ea25b9d019013e5

[2020-07-22 09:16] Riccorl commented on #4392
I saw in #4457 that the BERT SRL model is trained again. I evaluated it with `allennlp==1.1.0rc2.dev20200721` and it still produce F1 below 80. Is it normal to have this performance since the 1.1 is not stable yet or it should work by now?

Command
[code]

[2020-07-23 07:05] flyangovoyang commented on #4478
I found my problem when reading the source code in `_input_likelihood()` after calling `forward()`:

[code]
at first, I think `torch.logical_not` should be used here, 'cause `~` only apply to bool tensor, however when I find the official doc already asked the user to pass bool type mask, I realized I made a foolish mistake.

anyway, problem solved, thank you for your time.

[2020-07-23 07:05] #4478 closed

[2020-07-23 08:43] dirkgr commented on #4478
I'm glad you found it!

Please let us know if there is something we could do in the library to make this easier to debug. Are we missing a check that makes sure something is a bool tensor? Maybe something in the documentation?

[2020-07-23 11:54] flyangovoyang commented on #4478
haha, sure, I'd like to make a contribution to this work, I believe my mistake won't be happen again when we check `mask` whether is a bool tensor in line 327, especically when meeting carefuless people like me.

https://github.com/allenai/allennlp/blob/1cab3bfef37ea25b9d019013e5259a1669b19faa/allennlp/modules/conditional_random_field.py#L317-L327

otherwise, the long tensor `mask` filled with 0 a

[2020-07-23 15:37] dirkgr commented on #4474
I get it now. You are right! I put a fix at https://github.com/allenai/allennlp-models/pull/99.

[2020-07-23 16:11] epwalsh commented on #4269
Closing as we've decided to go a different direction

[2020-07-23 16:11] #4269 closed

[2020-07-23 18:24] dirkgr opened #4501 "When extracting an archive fails half-way through, it corrupts the cache"
`cached_path()` can extract archives, and now even get files from inside the archive. But if the process gets killed during the extraction process, we are left with a directory that contains some of the extracted files, and we never catch back up.

[2020-07-23 19:51] griff4692 opened #4503 "Coreference resolution help: from clusters to transformed text"
Are there any tips / scripts available for taking coreference output and transforming original text (replacing coreferent mentions with antecedent or longest span).

[2020-07-23 20:25] Riccorl commented on #4392
By changing the indexer in the dataset reader from  `SingleIdTokenIndexer` to `PretrainedTransformerIndexer` the model seems to work as intended. I cannot complete a full train at the moment but it the scores are definitely higher.

[2020-07-23 21:22] epwalsh commented on #4496
@mateuszpieniak I suspect the issue comes from the logic here: https://github.com/allenai/allennlp/blob/master/allennlp/data/token_indexers/pretrained_transformer_indexer.py#L207-L216

But I haven't been able to reproduce the error. Could provide example inputs / instances that lead to the error?

[2020-07-24 03:39] bratao opened #4504 "After #4470 the output is duplicated and Tqdm effect is lost"
## Checklist

- [X] I have verified that the issue exists against the `master` branch of AllenNLP.
- [X] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [X] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-07-24 08:52] dirkgr commented on #4478
I put a PR with a fix here: https://github.com/allenai/allennlp/pull/4505
Do you think that would have helped?

[2020-07-24 10:06] erncnerky opened #4506 "Coreference resolution out of memory error"
Hi,

I am using coreference resolution model (https://demo.allennlp.org/coreference-resolution)

[code]

After a certain period of time, I get CUDA out of memory error.

[code]

[2020-07-24 14:30] edchengg commented on #4392
Thanks! I will test it asap

[2020-07-24 15:24] epwalsh commented on #4504
Ugh, in hindsight, maybe getting rid of the `--file-friendly-logging` flag was a bad idea. But I guess the main issue is that `sys.stderr.isatty()` is too crude / not really what we want to check.

Maybe there's a better way to check when we should automatically switch to FFL? Otherwise I'd vote for re-instating the FFL flag.

[2020-07-24 15:38] epwalsh commented on #4504
@bratao the double output is just the last progress bar, i.e. when it gets to 100%. I've noticed this elsewhere. I think I have a fix for that.

[2020-07-24 15:42] epwalsh commented on #4506
Based on this:

`GPU 0; 11.17 GiB total capacity; 3.18 GiB already allocated; 1.14 GiB free; 3.19 GiB reserved in total by PyTorch`

It seems like there is another process running on your GPU that is taking up a lot of memory

[2020-07-24 15:45] epwalsh commented on #4492
This is a very old version of this model. See here for an up-to-date version: https://github.com/allenai/allennlp-models/blob/master/allennlp_models/pretrained.py#L37

[2020-07-24 15:45] #4492 closed

[2020-07-24 15:54] erncnerky commented on #4506
I am aware of the other process. The problem is that gpu memory consumption is gradually increasing as I call prediction function.

[2020-07-24 15:56] epwalsh commented on #4506
That's pretty typical for PyTorch. At some point it's memory will level-out, provided the model doesn't get any huge inputs.

[2020-07-24 16:18] dirkgr commented on #4506
If you can repro this with 16GB of GPU memory and no other processes, then I think we have a real problem we should investigate. Like this, it's not enough evidence to investigate. 12GB is not that much to start with for this model.

[2020-07-24 16:29] dirkgr commented on #4498
It would certainly be nice if we could guarantee the order in this function. I believe it is the way it is for performance, but I'm not sure it really makes that much of a difference. @ZhaofengWu, do you know? I'd be happy tor review a fix.

[2020-07-24 16:38] epwalsh commented on #4493
Hi @yongzx, while this isn't on our roadmap right now, it would be awesome to have. Contributions would be greatly appreciated!

[2020-07-24 16:57] bratao commented on #4504
Thanks @epwalsh . Yeah, I think a flag would be the best solution. Because `sys.stderr.isatty()` is too fragile. Maybe console emulators report a wrongly.

[2020-07-24 16:58] dirkgr commented on #4503
We have no such script, but I once wrote code that does this using spacy. I'll copy the code here. It's pretty involved:
[code]
If you can map the clusters from the AllenNLP model to the spacy clusters, you could use this code to do the actual replacement. You can also probably simplify it a bit if you don't care about the hotpot-specific stuff.

If you were to create a script or a tool that does

[2020-07-24 17:43] griff4692 commented on #4503
Hi Dirk - this was very helpful (and yes - very involved!) but I'm sure effective.  I wrote something simpler that I will paste here that uses the simple span cluster format provided by AllenNLP.  If you have more questions, feel free to email me at griffin.adams@columbia.edu and we can add it to the codebase.

[resolve_coref_clusters.py](https://github.com/griff4692/aqa/blob/squad/preprocessing/r

[2020-07-24 19:00] dirkgr commented on #4491
I don't know the answer to these questions, but I have forwarded them to the AI2 legal team.

[2020-07-24 20:30] ajorg-aws commented on #4491
Thank you!

[2020-07-24 20:35] #4482 closed

[2020-07-24 20:43] #4474 closed

[2020-07-24 21:17] #4203 closed

[2020-07-25 04:58] ZhaofengWu commented on #4498
Sorry I might not have time recently to resolve this. Looks like the biggest problem is from https://github.com/allenai/allennlp/blob/478bf46cb676524ee9b74fb271ec0a592d1c4a48/allennlp/nn/util.py#L1321
where the indices are reversed. It might work if we do something along the line of `raw_span_indices = span_starts + max_span_range_indices`. There may be edges cases to be taken care of though, but

[2020-07-26 00:59] yongzx commented on #4493
Would integrate the current Berkeley Neural Parser into AllenNLP pipeline be a useful contribution? Would love to work on it!

[2020-07-26 13:02] Rajwrita opened #4513 "Sticky top navbar"
A sticky navbar would probably be helpful to access the various pages on the website with ease.

[2020-07-27 02:12] flyangovoyang commented on #4478
Sure.

[2020-07-27 05:32] seongeun1 opened #4514 "Question regarding the sign of the hotflip implementation?"
Hi. Thanks for the great library you guys are providing.

I have a question about the implementation of the [hotflip](https://github.com/allenai/allennlp/blob/master/allennlp/interpret/attackers/hotflip.py)

According to the equation(3) from the [paper](https://arxiv.org/abs/1903.06620), Isn't it supposed to be "argmin" instead of "argmax" in the implemented function  "_first_order_taylor" because

[2020-07-27 08:39] OhadRubin opened #4515 "PretrainedTransformerMismatchedIndexer _add_encoding_to_vocabulary_if_needed is broken"
the tokenizers library doesn't take into account that self._tokenizer might be a dictionary
[code]

[2020-07-27 09:23] OhadRubin commented on #4515
A temporary fix is the following:
[code]

[2020-07-27 10:04] #4515 closed

[2020-07-27 10:05] OhadRubin commented on #4515
This is solved if I change the model to bert-base-uncased, so this is probably a bug in the hugginface code.
Closed.

[2020-07-27 14:47] matt-gardner commented on #4503
We do actually have [this function](https://docs.allennlp.org/models/master/models/coref/predictors/coref/#replace_corefs), which sounds like it already does what you want.

[2020-07-27 14:50] griff4692 commented on #4503
Thanks Matt - this is exactly what I'm looking for.  My apologies - I didn't come across this before.

[2020-07-27 14:50] matt-gardner commented on #4493
Yes, having that model available would be great!

[2020-07-27 14:55] griff4692 commented on #4503
I just looked at the source code and it looks great but does not explicitly handle nested co-referent spans and automatically chooses first mention as main entity (which sometimes, if rarely, is a pronoun).  I've addressed these in the above scripts (although I don't deal with POS issues as your code does!)

[2020-07-27 15:33] matt-gardner commented on #4503
If there are things that can be improved in that code, PRs to improve them are welcome!  I'm going close this issue as resolved, though.  If you (or anyone) wants specific improvements to our `replace_corefs` function, please open a new issue detailing them, or just submit a PR to the `allennlp-models` repo.

[2020-07-27 15:33] #4503 closed

[2020-07-27 15:45] matt-gardner commented on #4514
The code is written such that we can do attacks that either make the model change its prediction to anything other than what it currently predicted, or to any particular target that you provide, regardless of what is predicted.  You can see this in our [language modeling demos](https://demo.allennlp.org/masked-lm?text=The%20doctor%20ran%20to%20the%20emergency%20room%20to%20see%20%5BMASK%5D%20patie

[2020-07-27 15:58] matt-gardner commented on #4515
Can you tell me what huggingface model this failed with?

[2020-07-27 16:35] epwalsh commented on #4513
Hi @Rajwrita, I agree, I think that would be nice. I'm not sure if that's an easy change, maybe @jonborchardt would know?

[2020-07-27 16:41] jonborchardt commented on #4513
the demo has a sticky top bar...
what exactly are you wanting to see?
can you provide a screen shot of existing and let me know what you would like estimated?

[2020-07-27 16:45] epwalsh commented on #4513
@jonborchardt sorry, I think @Rajwrita was talking about https://allennlp.org/ and I saw you had some commits recently, so I thought you might be the best person to ping

[2020-07-27 16:55] jonborchardt commented on #4513
ok, the allennlp website will eventually be rolled into the ai2-website and
have a header that works like this:
https://allenai.org/aristo

so i would close this...
cheers

On Mon, Jul 27, 2020 at 9:45 AM Evan Pete Walsh <notifications@github.com>
wrote:

--

Cheers,
Jon Borchardt

[2020-07-27 16:57] matt-gardner commented on #4457
I see BERT SRL checked here, but there's this issue that says that performance actually doesn't match, with a solution that seems to fix it: https://github.com/allenai/allennlp/issues/4392#issuecomment-663214895.  Have you checked performance against the original reported performance?  Seems like a simple config file fix to get performance back up, if this is an issue.

I was just looking at the S

[2020-07-27 17:05] epwalsh commented on #4513
Oh, awesome. Thanks Jon!

Closing this then. @Rajwrita let me know if you were talking about something other than allennlp.org and I can re-open.

[2020-07-27 17:05] #4513 closed

[2020-07-27 23:46] kernelmachine commented on #4367
allentune now works with 1.0! @apohllo, feel free to submit an issue to the allentune repo if you run into additional issues.

[2020-07-27 23:46] #4367 closed

[2020-07-28 07:35] OhadRubin commented on #4515
distilbert-base-uncased

[2020-07-28 09:39] JJumSSu opened #4516 "How the 'hotflip' is applied to the BERT?"
Hi, this [hotflip](https://demo.allennlp.org/masked-lm?text=The%20doctor%20ran%20to%20the%20emergency%20room%20to%20see%20%5BMASK%5D%20patient.) demo is neat, thank you for providing such a nice library&demo.

However, I have a question. BERT uses wordpiece vocabulary and is subword-unit based language model. But in the demo, it seems that the token is flipped at the "word" level. Also, the hotfli

[2020-07-28 12:30] silvia596 opened #4517 "Textual Entailment - ROBERTa model trained on SNLI - Different results using the demo and the library"
I've just copied the usage snippet from your demo, and I obtained different results using the demo and the code (not only the probabilities are different, the results are completely different). Is the model different? How can I use the demo model in local?
I attach you a pair of images with a simple example.
<img width="439" alt="CaptureDemo" src="https://user-images.githubusercontent.com/68905372

[2020-07-28 16:41] legalspice commented on #4491
Hello! Thanks for checking!  I'm a little confused by this question.  The requirement about notice files appears to only apply to internal apache projects and otherwise seems that it's not required but rather recommended.  Attribution requirements still apply whether there's a notice file or not. I think the guidance you cite on how to apply the license to the work is appropriate here and works ju

[2020-07-28 16:45] matt-gardner commented on #4516
Whether we do attacks at the word or wordpiece level is actually model-dependent.  We do attacks at the _token_ level, which could be either words or wordpieces (or even characters; see [here](https://guide.allennlp.org/representing-text-as-features) for more info on how that works).

We get an embedding layer here: https://github.com/allenai/allennlp/blob/e53d18580807dabff707f618f7e148c98d25da18/

[2020-07-28 16:45] #4516 closed

[2020-07-28 16:53] ajorg-aws commented on #4491
Thanks for the response. With or without a notice, our question is how to attribute this work. The notice file is recommended because it triggers 4(d) which makes it clear how exactly to fill the attribution requirement. Our standard procedure is to create a document that lists Copyright notices and licenses for all open source works in a product. Since I can't find any copyright notice in this co

[2020-07-28 16:57] ajorg-aws commented on #4491
To put it another way, we want to comply with the attribution requirement. Who do we attribute this project to?

[2020-07-28 17:41] epwalsh commented on #4517
Hi @silvia596, the demo is using an older version of allennlp (1.0.0rc3). This could explain the difference. Also FWIW we're in the process of updating this model in the demo, see https://github.com/allenai/allennlp/issues/4457.

[2020-07-28 17:57] matt-gardner commented on #4515
It looks like you're using an older version of huggingface code; can you update and verify that you still see a problem with latest versions of allennlp and transformers?  If this doesn't work with distilbert, we'd like to know about it.

[2020-07-28 18:06] silvia596 commented on #4517
Thank you very much. Would there be any chance of being able to download the demo model? I did several tests and it fits better to my purpose. With my dataset, the old model is able to capture better the generalization relationship between pairs of phrases.

[2020-07-28 18:29] NicolasAG commented on #3966
Hi,
I tried to use the `BucketBatchSampler` with distributed training (`"distributed": {"cuda_devices": [0, 1]},`) but it fails. I see from the above discussion that there was some known issue with combinations involving `lazy`, `shuffle`, `distributed` and `BucketBatchSampler`. I wanted to know what is the status on that? and is there another issue / PR tracking the progress made on that problem?

[2020-07-28 18:47] matt-gardner commented on #4517
This makes me nervous that there might be a deeper problem that was introduced with the tokenization changes in rc4, that we never fully fixed.  See also this: https://github.com/allenai/allennlp/issues/4360#issuecomment-644222774.  You're using the same [model that's used in the demo](https://github.com/allenai/allennlp-demo/blob/4f9032c7e879a448c0de4bc29773c90acbf9908d/api/allennlp_demo/roberta_

[2020-07-28 19:02] epwalsh commented on #3966
Hi @NicolasAG, the `BucketBatchSampler` *should* work fine with distributed training, I've never seen this error before. What OS are you running on?

[2020-07-28 19:10] epwalsh commented on #4517
There were breaking changes to the RoBERTa tokenizer in recent HF releases. I hope that's what causing the discrepancy.

I just trained RoBERTa SNLI again on master and saw good results: https://beaker.org/ex/ex_3xaw1xzw6689/tasks/tk_zxz18n8idbn0 (validation acc of 0.9256).

But to add more confusion to the mix, my recent experiments with RoBERTa MNLI have had terrible performance. I'm in the proc

[2020-07-28 19:43] NicolasAG commented on #3966
@epwalsh I am running on Ubuntu most likely. I use the following Dockerfile to create my image:
[code]

[2020-07-28 21:27] epwalsh commented on #3966
I tried to repro with your Dockerfile, but with no luck. What happens if you just run this from your Docker image:

[code]

[2020-07-28 22:39] NicolasAG commented on #3966
This is the output of `import_plugins()`:
[code]

I'm having trouble reproducing the "working case" with distributed training. It turns out that I also get the same error without the `BucketBatchSampler` even though it worked once before... I will investigate more but I think this has become unrelated to the original issue so feel free to ignore my previous message.

[2020-07-29 00:17] epwalsh commented on #3966
@NicolasAG gotcha. Yea definitely seems like a separate issue. Feel free to open a new one if you get a change and assign me to it.

~Pete

[2020-07-29 01:15] JJumSSu commented on #4516
I appreciate it! :)

[2020-07-29 02:42] Nagin-Kim opened #4518 "lazy mode is helpful for us?"
When I try to pretrain the model , I found that the gpu memory are unsteady due to the reason of that i set the laze mode as True, however when i try to train it again with parameter --laze_mode=False, my cpu cache are only 50gb, which can't run this mode on my 30gb datasets with its code.
**Describe the solution you'd like**
Can we train the model with laze_mode =True, and the datareader can synt

[2020-07-29 06:07] abubakar-ucr commented on #4471
Nevermind, I figured it out. Thanks.

[2020-07-29 06:07] #4471 closed

[2020-07-29 10:49] apohllo commented on #4367
:clap:

[2020-07-29 12:03] silvia596 commented on #4517
Thank you so much. I used the version rc3 and I obtained the same results. However, I found a little bug. When you try to predict whether a word imply another word (for phrases consisting of a single word), I obtain this error:
[code]
I've verified that I also get an error using the demo.

[2020-07-29 16:24] iamsaurabhc opened #4520 "Iterators ➔ DataLoaders v1.0 upgrade: key "sampler" is required at location data_loader.batch_sampler"
## Checklist

- [ x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [ x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [ x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.

[2020-07-29 16:39] matt-gardner commented on #4520
We some some more context to help you.  Where did you run into this?  I'm guessing you were following something on the guide.  There was a bug there that was updated yesterday.  See [this page](https://guide.allennlp.org/next-steps#1) for the proper config.

[2020-07-29 16:40] epwalsh commented on #4517
I'm not sure what the cause of that bug is, but I might be fixed with the new model here: https://github.com/allenai/allennlp-models/pull/102.

After that PR is merged, you could use the predictor like this:

[code]

[2020-07-29 16:56] matt-gardner commented on #4518
I don't understand what you're asking here.  You can use lazy mode, but I don't know what you mean by "read the data from the cache", or "GPU memory are unsteady".

[2020-07-29 17:00] matt-gardner opened #4521 "Simplify BERT SRL / SRL models"
We currently have two SRL model classes, and we don't need two.  The `srl_bert.py` class is also stale, and won't let you use any transformer that you want, only BERT.  Now that we have built-in mismatched embedders, it seems like we should just remove the old `srl_bert.py` model, just use roberta or something with the more standard model, and update the model in the demo.  Should be pretty easy.

[2020-07-29 21:25] epwalsh commented on #4329
Trying again with torch's native amp: https://beaker.org/ex/ex_gujbczw50ujg/tasks/tk_pdpbwfl9ajak

[2020-07-29 23:07] #4329 closed

[2020-07-29 23:26] matt-gardner commented on #4329
Awesome!

[2020-07-30 02:55] Nagin-Kim commented on #4518
can you help me to explain what the lazy mode means with its advantage and disadvantage?

[2020-07-30 05:25] ScottishFold007 opened #4523 "ConfigurationError: Cannot register evaluate as Subcommand; name already in use for Evaluate"
![image](https://user-images.githubusercontent.com/36957508/88883941-1640d200-d268-11ea-8803-6e15f5b2c985.png)

[2020-07-30 06:04] bratao opened #4524 "Metric tracker should track a secondary metric when the primary metric is equal between epochs"
**Is your feature request related to a problem? Please describe.**
I want to train a model that maximize f-1, but when two epochs have the same f-1, check is loss decreased.

Some models that I'm training achieve a f-1 of 1.0. but there is still potential for a decrease in loss.

**Describe the solution you'd like**
That the metric tracker allows to use a secondary metric to track.

Would AllenNLP

[2020-07-30 07:33] ZhaofengWu commented on #1531
For other people encountering this issue, `find . -name '.*' -delete` also works if you already have the tarball generated.

[2020-07-30 15:02] matt-gardner commented on #4524
Yes, this is something we'd accept a PR for.  I would recommend changing the type of `metric_name` to `Union[str, List[str]]`.

[2020-07-30 15:04] matt-gardner commented on #4523
We need more context than this in order to help you.

It looks like you've gotten allennlp installed in two places in your environment somehow, because you're running the `@Subcommand.register("evaluate")` twice.

[2020-07-30 15:06] matt-gardner commented on #4518
See the "Lazy Mode" section [here](https://guide.allennlp.org/reading-data#2).

[2020-07-31 16:06] matt-gardner commented on #4506
Closing this due to lack of activity.  Feel free to follow up if there's still an issue.

[2020-07-31 16:06] #4506 closed

[2020-07-31 16:08] matt-gardner commented on #4517
It looks like this is now fixed (@epwalsh says that he tested those inputs after the PR got merged, and it's good); if you still see issues with current code and models, please open a new issue.

[2020-07-31 16:08] #4517 closed

[2020-07-31 16:09] matt-gardner commented on #4518
Closing this issue for now; feel free to comment again or open a new issue if you still see problems.

[2020-07-31 16:09] #4518 closed

[2020-07-31 16:10] matt-gardner commented on #4520
I'm guessing that the problem arose from outdated instructions in the guide, which has now been fixed.  Please feel free to comment if I got that wrong, or if there is some other issue here.

[2020-07-31 16:10] #4520 closed

[2020-07-31 16:12] matt-gardner commented on #4523
Closing, as I'm quite confident that this is an environment problem, but feel free to keep commenting if you still have issues.

[2020-07-31 16:12] #4523 closed

[2020-07-31 16:16] #4494 closed

[2020-07-31 16:16] #4504 closed

[2020-07-31 16:34] ajorg-aws commented on #4491
Any update?
Thanks!

[2020-07-31 16:45] legalspice commented on #4491
Please attribute the project to The Allen Institute for Artificial
Intelligence.

Please let me know if this answers your question or if you'd like to
discuss further.  thanks!

On Tue, Jul 28, 2020 at 10:07 AM Andrew Jorgensen <notifications@github.com>
wrote:

--
*Jennifer Dumas - Senior Legal Counsel*
206-200-4324
jend@allenai.org

https://allenai.org
___________________________________________

[2020-07-31 16:59] ajorg-aws commented on #4491
My only further comment is that it may help others if this information was provided in the source code somewhere. Even in the README would be good enough.

Thanks!

[2020-07-31 17:23] legalspice commented on #4491
Noted and good point. I'll check in with the NLP team about that.  Thanks
for your comments and engagement!

On Fri, Jul 31, 2020 at 9:59 AM Andrew Jorgensen <notifications@github.com>
wrote:

--
*Jennifer Dumas - Senior Legal Counsel*
206-200-4324
jend@allenai.org

https://allenai.org
_______________________________________________________
*This e-mail message and any attachments are solely for i

[2020-08-03 09:45] PrettyPrettyMeng opened #4528 "To train the model without specifying a GPU."
For the cluster that I'm using, it does not allow specifying cuda device in my code. I think it's pretty common in many different clusters. I have not found how to do it for current allennlp library. Does there exist one that I have not noticed or can you add a feature like this? For example, by setting some config parameters, we can use model.cuda() instead of model.to(device). Thanks in advance!

[2020-08-03 16:24] dirkgr commented on #4457
The `srl_bert.py` code is simpler though. It's a much more transformer-native implementation. If we can get that one to perform as well as `srl.py`, I might argue for keeping `srl_bert.py` and removing the other one.

[2020-08-03 16:54] epwalsh commented on #4528
Hey @PrettyPrettyMeng, we changed the behavior of the `train` command recently to automatically detect and use a GPU when it can if you don't explicitly set the "cuda_device" parameter in the trainer. Have you tried that?

[2020-08-03 17:26] matt-gardner commented on #4457
"transformer-native" means "I have to use transformers, and I can't even try using anything else."  It kind of goes against the whole point of the abstractions that we have.

[2020-08-03 17:52] dirkgr commented on #4457
While that's true, it's hard to argue in print for a solution that's more complicated and different from the standard if it doesn't also improve results.

In principle the `srl_bert.py` approach should work with any token embedder, but it might not do as well as a custom architecture.

[2020-08-03 18:22] matt-gardner commented on #4521
Moving discussion here from #4457 (specifically, this is responding to [this comment](https://github.com/allenai/allennlp/issues/4457#issuecomment-668158116); cc @dirkgr).

Ok, looking at the implementations, I see the core modeling logic happening in both models here:

https://github.com/allenai/allennlp-models/blob/5d9098f6084a12da77b02d40e0d9392113aeb805/allennlp_models/structured_prediction/mo

[2020-08-04 00:54] PrettyPrettyMeng commented on #4528
That's great! Thanks. Maybe I'm using some older version and it automatically use CPU when I don't explicitly set the "cuda_device" parameter in the trainer.

[2020-08-04 00:54] #4528 closed

[2020-08-04 02:55] entslscheia opened #4530 "Is this a bug of using BERT in version 0.9.0?"
First of all, I know the usage of BERT has been changed drastically since 0.9.0. But since I am still working on my old project, I am still sticking to 0.9.0 (updating to 1.0 will make many of my codes totally unusable...).

In version 0.9.0, it seems like padding is not handled at all when using `PretrainedTransformerEmbedder`:
[code]
You can see in `forward` method, there is only one argument `t

[2020-08-04 09:15] wlhgtc opened #4532 "How can we tokenize sentence pair with 'PretrainedTransformerTokenizer'"
@dirkgr  Seem the new version code remove  @ZhaofengWu 's changes to support sentence pairs in #3868
How can we tokenizer sentence pair in 1.1.0 ?

[2020-08-04 09:27] wlhgtc commented on #4532
@ZhaofengWu  I read your discussion in #3868, but still confused with the change.
What changes leads no support for sentence pair  or  any other ways to do it ? Maybe you could help me ?

[2020-08-04 10:01] dirkgr commented on #4532
Use `PretrainedTransformerTokenizer.add_special_tokens()`. Make sure that the input you pass to that function doesn't have special tokens in it already.

The reason I split it this way is because we were on the path of creating a single `tokenize()` call that does everything, like huggingface has. I don't think that's a good design. I think we need to have separate functions for tokenization, addi

[2020-08-04 10:15] wlhgtc commented on #4532
@dirkgr   Thanks for your quickly reply.

In my view, suppose the 2 part is  `tokens2` and `tokens2` code is as follows ?
[code]

[2020-08-04 10:24] mateuszpieniak commented on #4496
@epwalsh Sorry for the trouble. I don't really know what happened, but I cannot reproduce the error I had as well :rofl:

[2020-08-04 10:24] #4496 closed

[2020-08-04 15:08] navidmdn commented on #2473
Same worked on python 3.7 for me:
[code]

[2020-08-04 15:42] dirkgr commented on #4532
That is correct!

[2020-08-04 18:01] matt-gardner commented on #4530
The `PretrainedTransformerEmbedder` wasn't fully implemented until version 1.0.  In 0.9, we only really had the `BertIndexer` and embedder classes (which aren't compatible with current transformers).  Your best bet is probably to copy our current `Pretrained` classes into your code.

I'm closing this issue, though, as it's not a problem that we can fix, seeing as how it's about old code.

[2020-08-04 18:01] #4530 closed

[2020-08-05 05:18] davidatbu opened #4535 "A "py.typed" marker"
Hi all,

I was wondering if there's a specific reason that neither `allennlp`, nor `allennlp-models` include an empty marker file named `py.typed` in their respective python package root directories, as that file is required to mark a package as "PEP-561 compliant", which gives static code analysis tools like mypy the go-ahead to do type inference.

Otherwise, I am currently forced to clone the re

[2020-08-05 10:39] BabyCodr opened #4536 "Error loading coreference model"
I am currently running the following commands

[code]

and I get this following error. The model still works on the whole however I am noticing some performance differences when comparing output to allennlp demo and wonder if this error is the cause

WARNING:allennlp.nn.initializers:Did not use initialization regex that was passed: _context_layer._module.weight_ih.*
WARNING:allennlp.nn.initializer

[2020-08-05 16:24] iamsaurabhc commented on #4520
Thanks Matt, this issue has been resolved through the documentation! :+1:

[2020-08-05 16:32] iamsaurabhc opened #4539 "Release allennlp-semparse to pypi"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-08-05 18:04] griff4692 commented on #4503
Hi Matt - FWIW, I ended up releasing it as a standalone package (https://pypi.org/project/nested-coref-resolver/) because I was sheepish about integrating un-rigorously tested code into your codebase.  If there's interest, happy to issue a PR.  I just don't have time to write tests for it at the moment, unfortunately.

[2020-08-05 20:17] matt-gardner commented on #4539
That model is in the [allennlp-semparse](https://github.com/allenai/allennlp-semparse) repo.  You'll need to do `pip install allennlp-semparse` in order for that to work (though I'm not sure we have an up-to-date release; you may need to clone the repo and run `pip install -e .` instead...).

[2020-08-05 20:18] matt-gardner commented on #4539
You may also have to explicitly import the model, to make sure it gets registered; I'm not sure if the semparse repo is included in our default set of plugins to check for.

[2020-08-06 05:03] iamsaurabhc commented on #4539
Hey @matt-gardner , Thanks for the quick response. `pip install allennlp-semparse` didn't work so I proceeded with `pip install -e` after cloning `allennlp-semparse` inside our repository. Then I built the package using the command `python setup.py develop` being inside the dir allennlp-semparse, but still I'm unable to import the semparse models explicitly into my codebase. Am I missing something

[2020-08-06 05:10] PrettyPrettyMeng opened #4541 "Convert AllenNLP model to transformers model"
It seems that in current AllenNLP, the model we save and create cannot interact with apis in transformers. (because we have different keys in model.state_dict()) I think it will be highly helpful if we can convert a trained AllenNLP model to a transformers model. This will provide more flexibility in applications and researchs.

[2020-08-06 09:02] iamsaurabhc commented on #4539
![Screenshot from 2020-08-06 14-29-38](https://user-images.githubusercontent.com/19235748/89512817-62a08a80-d7f1-11ea-8235-1d8f179a64fa.png)
Added the following packages from `allennlp-semparse` and the error is gone! Thanks again @matt-gardner  :smile:

[2020-08-06 09:07] wj-Mcat commented on #4541
Waiting for this feature.

[2020-08-06 09:29] iamsaurabhc commented on #4539
Hey @matt-gardner , do you guys have any plans to release `allennlp-semparse` to the pip? if not, how would you suggest we incorporate the same into our codebase?

[2020-08-06 10:18] NoahDrisort commented on #1365
Can I have a question that when you train your model with Squad+your Data, what is your configuration?  I mean the file json used for training includes Squad or not, or only your new data and weight provided from glove and elmo/squad

[2020-08-06 14:55] matt-gardner commented on #4541
In general, this isn't possible, because, e.g., they don't have coref or SRL models.  We do want to make it easy to do this when it is possible, though.  For instance, you could take the base transformer weights and save them.  This isn't very hard right now, just a few lines in a simple script, but we could document it / make it one line instead.  Can you give more detail on what exactly you want

[2020-08-06 14:57] matt-gardner commented on #4539
Yes, we should be releasing this to pypi, we just haven't gotten to it yet.  I'll rename and re-open this issue, so we don't forget about it, though it isn't super high priority for us.  For now, you can just do `pip install git+https://github.com/allenai/allennlp-semparse`

[2020-08-06 15:09] PrettyPrettyMeng commented on #4541
Thanks for your quick reply! For example, if I want to run some example scripts from transformers on a trained AllenNLP Roberta model, it seems to be troublesome in my case. It would also be great if there is more example scripts in AllenNLP.

[2020-08-06 15:15] matt-gardner commented on #4541
That's still not enough detail.  What exactly do you want to do?  Which scripts?  "Roberta" isn't a single model.

[2020-08-06 15:25] PrettyPrettyMeng commented on #4541
For example, I have finetuned Roberta to train a text classifier. Based on this, I want to run language modeling on this trained model, using this [https://github.com/huggingface/transformers/blob/master/examples/language-modeling/run_language_modeling.py](script). It would be great if we can directly apply an AllenNLP model to scripts like this.

[2020-08-06 15:45] suki7 commented on #2201
I met a problem like yours, how to solve the problem ?

[2020-08-07 09:12] dirkgr commented on #4503
@griff4692, if you make a PR that replaces our `replace_corefs` function with yours, I'll add tests to it. I would appreciate some examples that show-case the differences between the old and the new. That would be helpful for the tests.

[2020-08-07 16:08] AkshitaB commented on #4535
Hi, thanks for bringing this to our attention. Please feel free to submit a pull request!

[2020-08-07 16:10] AkshitaB commented on #4536
Hi, can you give an example of the performance differences you observe?

[2020-08-07 16:13] AkshitaB commented on #4541
Closing as a duplicate of #4351

[2020-08-07 16:13] #4541 closed

[2020-08-08 11:57] lixinsu opened #4546 "This line may cause mask tensor change to type LongTensor"
https://github.com/allenai/allennlp/blob/f639336a2c721a2efc575397c009c958f02d9d91/allennlp/modules/token_embedders/pretrained_transformer_embedder.py#L220

This line causes the null mask tensor change to type long, and error raises when calling torch.stack(tensor_list) during batching.

[2020-08-08 12:06] #4546 closed

[2020-08-11 09:31] MHaoYun commented on #4233
Hello, I encounter the same problem, have you solved it? Could you tell me how you solved it?

[2020-08-11 14:23] someAdjectiveNoun opened #4549 "RuntimeError: expected device cpu and dtype Float but got device cpu and dtype Bool"
## Checklist

- [ ] I have verified that the issue exists against the `master` branch of AllenNLP.
- [ ] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [ ] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-08-12 04:29] nitishgupta opened #4550 "[Models] BART model output is incorrect shape"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-