[2018-12-14 20:20] rangwani-harsh commented on #1890
@brendan-ai2 Any updates on this?

[2018-12-14 20:53] brendan-ai2 commented on #1890
Hi @rangwani-harsh, thanks for the ping. For now I've discarded my code that parallelizes counting the tokens. Getting an API for that that fits with the existing AllenNLP codebase is challenging. Instead I've pre-generated a vocabulary (which can be done with `dry-run` or `make-vocab`) and I'm pointing my model at it during training time with the `directory_path` option. See https://github.com/al

[2018-12-15 02:56] YuxianMeng opened #2185 "Reduce memory use of multi-head self-attention"
**Is your feature request related to a problem? Please describe.**
Since self-attention complexity is O(timestep * timestep * heads), the attention_dropout and mask_softmax  layer consumes lots of memory in a model where self_attention is heavily used. For example, QANet uses 3*7=21 self attention layer in its Model Encoder Layer. Is it possible to make it more memory efficient?

**Describe the so

[2018-12-15 06:43] matt-gardner commented on #2185
@yizhongw has a memory-optimized version of QANet, with some improvements to the self-attention code, that we'll work on merging in the near future.

[2018-12-15 07:59] YuxianMeng commented on #2185
Nice improvements! Good to know others are implementing QANet. Thanks!

[2018-12-15 11:22] ahmadmagdy opened #2186 "How to disable info logging?"
I am using bidaf model, after the last release an info message logging start to appear which make it difficult to track the progress of training, example:
"/usr/bin/python3.6 /home/amagdy/Downloads/allennlp-as-a-library-example-master/new_main.py
12/15/2018 13:18:46 - INFO - allennlp.common.params -   random_seed = 13370
12/15/2018 13:18:46 - INFO - allennlp.common.params -   numpy_seed = 1337
12/

[2018-12-15 12:52] rangwani-harsh commented on #1890
@brendan-ai2 I still can't get through as ```allennlp train``` breaks down when we specify 0 as num_of_epochs.

[2018-12-15 15:53] matt-gardner commented on #2186
Those logging messages have been there the whole time.  This is where the logging level gets set: https://github.com/allenai/allennlp/blob/89cef2f08c97510c6f098e9381fdc22116ad5b1a/allennlp/run.py#L6-L13

That script is very short (and it's what you're running when you run `allennlp train`).  You could easily write your own script that configures logging differently.  For example, here's a differen

[2018-12-15 15:53] #2186 closed

[2018-12-15 16:17] tingkai-zhang opened #2187 "How to get the number of updates easily?"
Hi, i would like to visualize the loss, learning rate, accuracy against the number of updates in allennlp.
How can i easily get the number of updates?

My current workaround is create a `updates` variable in optimizer file and increment it at each step(). Then import `updates` in model file and use that for visualization in forward() where loss, accuracy are generated.

 - AllenNLP version:  v0.7.

[2018-12-15 16:25] rangwani-harsh opened #2188 "Structured-Self-Attentive-Sentence-Embedding"
Hi team,
I have written an implementation for Structured-Self-Attentive-Sentence-Embedding https://arxiv.org/pdf/1703.03130.pdf which is basically a Seq2Vec method. I was not sure of how good it would be to include that as a part of Allennlp but now after [pytext](https://github.com/facebookresearch/pytext) have released it as a part of their library. I think it would be better to have it as a par

[2018-12-15 17:12] matt-gardner commented on #2187
Are you able to use tensorboard?  All of this is logged by default to tensorboard, for easy visualization.

[2018-12-15 17:19] matt-gardner commented on #2188
Seems like a reasonable thing to include to me.  If you're willing to match our style guide and write tests, we'd be happy to have the contribution!

[2018-12-15 20:36] bryant1410 opened #2189 "Model training should be in GPU but model parameters are in CPU"
**Describe the bug**
I'm trying to train a model using `allennlp train` in GPU in v0.7.2 but it fails when it's about to start training with the following stack trace:

[code]

It works if I set the device to -1 (CPU) or if I use allennlp v0.7.1.

Debugging a bit, I found that this is the change that breaks my code:

https://github.com/allenai/allennlp/pull/1944/files/3bed856fafa07a2a47d512a6102da

[2018-12-15 20:38] bryant1410 commented on #2189
(I checked while debugging that the parameters remain in CPU instead of GPU, and then in torch's `adagrad.py`, the line `state['sum'] = torch.full_like(p.data, initial_accumulator_value)` is assigned a tensor in CPU, but then in `state['sum'].addcmul_(1, grad, grad)` is trying to operate with one in GPU.

The model is never taken to the CUDA device from CPU.

[2018-12-16 04:46] matt-gardner commented on #2189
The problem is just with adagrad; most other optimizers will be ok.  See also #2182, and [this conversation](https://github.com/allenai/allennlp/pull/1944#discussion_r241967638).

[2018-12-16 09:15] r-clancy opened #2191 "NER Offsets Similar to spaCy"
**System (please complete the following information):**
 - OS: Linux
 - Python version: 3.7.1
 - AllenNLP version: v0.7.2

**Question**

I'm doing NER on paragraphs (which I've segmented into sentences using `spaCy`) and, instead of returning an array of entity types (O, B-ORG, L-ORG, etc.), I'd like to get the entity type, start offset, and end offset of the entity of the sentence - i.e. returnin

[2018-12-16 21:52] tingkai-zhang commented on #2187
Tensorboard still needs global steps(or number of updates) to record.
`add_scalar(tag, scalar_value, global_step=None, walltime=None)`

[2018-12-16 22:11] RXminuS commented on #1075
We've actually come across https://polyaxon.com/ which seems to do everything we were building ourselves and more. We've made some initial "config generation scripts" and if it works nicely I'll make sure to write a Medium post about it :-) But we're going to pause our work on this feature as a PR for AllenNLP for the moment.

[2018-12-17 10:24] tingkai-zhang commented on #2187
aha, i see tensorboardx is already integrated within allennlp!
Thanks!

[2018-12-17 10:24] #2187 closed

[2018-12-17 10:55] rcourivaud opened #2193 "DataBaseReader"
**Describe the solution you'd like**
Make Dataset more agnostic and make possible to use Postgres, Mongo or ElasticSearch Source

**Describe alternatives you've considered**
Create New DatabaseReader using SQLAlchemy, pyMongo, pyElasticsearch clients.

I'm on it

[2018-12-17 15:13] phiresky opened #2195 "allennlp (0.7.2) depends on cffi (1.11.2), gevent (1.3.6) is incompatible wi th allennlp (0.7.2)."
this issue still happens (or happens again) with allennlp v0.7.2

[code]

_Originally posted by @phiresky in https://github.com/allenai/allennlp/issues/1824#issuecomment-445872785_

[2018-12-17 16:34] sandtemp01 opened #2197 "How to avoid sending passage every time for MC"
Hi,
I am using following code for machine comprehension as per [https://allennlp.org/models](https://allennlp.org/models)
[code]

In this I have to send passage everytime to the predictor. Is it necessary? My article is fixed and questions vary. Sending a big passage everytime slows down the process.
Please suggest

[2018-12-17 16:40] sandtemp01 opened #2198 "Multiple documents for Machine comprehension"
Please first search our GitHub repository for similar questions.  If you don't find a similar example you can use the following template:

**System (please complete the following information):**
 - OS: [e.g. OSX, Linux] Linux
 - Python version: [e.g. 3.6.1] 3.6.2
 - AllenNLP version: [e.g. v0.7.2, or "I installed from master"] I installed from master
 - PyTorch version: (if you installed it yourse

[2018-12-17 17:14] rangwani-harsh commented on #2188
There are two essential things that I require on clarity before raising the PR.

1) As a Seq2Vec encoder, the input of shape [batch_size, time_steps, hidden_dims] needs to be converted to the output of shape [batch_size, dims].  If we use multiple attention_heads we will finally have the representation of the shape [batch_size, attention_heads, hidden_dims]. So there are essentially two methods:
-

[2018-12-17 18:00] #2178 closed

[2018-12-17 18:52] matt-gardner commented on #2197
BiDAF encodes the passage and the question together for every question, so there is no way to save time by pre-encoding the passage (technically, you could do one small piece of the model once, but I'd expect the time savings to be minimal).  If you want to do what you suggest, you need a different model that encodes the passage separately from the question.  There has been some work that tries th

[2018-12-17 18:52] #2197 closed

[2018-12-17 19:02] matt-gardner commented on #2198
See [this paper](https://www.semanticscholar.org/paper/Simple-and-Effective-Multi-Paragraph-Reading-Clark-Gardner/3c78c6df5eb1695b6a399e346dde880af27d1016), implemented [here](https://github.com/allenai/document-qa).  We worked on re-implementing this in allennlp (see [here](https://github.com/allenai/allennlp/pull/804)), but that work stalled due to some training complexities.

There may also be

[2018-12-17 19:02] #2198 closed

[2018-12-17 19:11] sandtemp01 commented on #2197
Thanks for reply. Can you please give links on "batching questions together". i will follow.
is it asking multiple question on same document? In actual my use case is opposite.. multiple documents but one question at a time.

[2018-12-17 19:16] matt-gardner commented on #2197
Make your instances into a list of dictionaries, and call [`predictor.predict_batch_json(instances)`](https://github.com/allenai/allennlp/blob/12d32972a05036f5be7cf152a00afad02da8cd16/allennlp/predictors/predictor.py#L69).  Each dictionary should be formatted like this: https://github.com/allenai/allennlp/blob/12d32972a05036f5be7cf152a00afad02da8cd16/allennlp/predictors/bidaf.py#L31

[2018-12-17 19:24] matt-gardner commented on #2188
1. Either option seems reasonable; I'd default to the second one you suggested, though you could have an option for either if you feel so inclined.
2. Yes, you're right that returning an additional penalty breaks the Seq2Vec API.  I can think of two ways to handle this:
- Have a flag that enables the computation (and return) of this penalty, and only return a dictionary in that case.  This lets yo

[2018-12-17 21:52] matt-gardner commented on #2193
Our `DatasetReaders` are all specific to a particular input/output spec for a model - a different input/output spec typically requires a new `DatasetReader`, by design.  How exactly are you proposing to build a general database `DatasetReader`?

[2018-12-17 21:57] matt-gardner commented on #2191
This is just a function that takes our NER output and converts it to the spacy-style output, right?  Seems like a reasonable thing to implement, but I don't think we currently have anything that does it.  Contributions welcome!

[2018-12-17 22:40] tingkai-zhang commented on #1585
Hi,  I got the same error
[code]
after i change the `cuda_device` from an int to a list of int. It works fine when i assign the model when i assign it to only one gpu with anything else unchanged.
This problem happens at the end of one epoch training. That is, it occurs when the model processing the last batch of an epoch.
It was calculating the loss of last batch and i check that the `label` i pa

[2018-12-17 22:44] matt-gardner commented on #1585
@tingkai-zhang, this looks like a problem, but a different one from what's described above.  Can you open a new issue for this?

[2018-12-17 22:47] #2189 closed

[2018-12-18 00:05] matt-gardner commented on #1607
Fixed by #2043.  If there are further issues, or that PR doesn't cover a desired use case, feel free to open another issue describing what's missing or wrong.

[2018-12-18 00:05] #1607 closed

[2018-12-18 01:00] matt-gardner commented on #2057
See #2199; not a fix yet, but I've at least diagnosed the problem.

[2018-12-18 01:47] tingkai-zhang opened #2201 "RuntimeError: dimension specified as 0 but tensor has no dimensions"
Hi, I got the error after i change the `cuda_device` in `Trainer` from an int to a list of int.

[code]

It works fine when i assign the model to only one gpu with anything else unchanged.
This problem happens at the end of one epoch training. That is, it occurs when the model processing the last batch of an epoch.
It was calculating the loss of last batch and i check that the label i passed to th

[2018-12-18 01:48] tingkai-zhang commented on #1585
OK.
Opened #2201

[2018-12-18 08:19] rcourivaud commented on #2193
I don't finished to design it properly but these clients make possible to use lazy cursors on each Databases.

For now, I redefine a `DatabaseReader` which take a connection url and a query in parameters.
Users only needs (as today) to redefine `text_to_instance` but `cursor_to_instance` or `object_to_instance`.

What do you think ?

[2018-12-18 09:50] rcourivaud commented on #2193
It will cause problems with the current implementation of predictors

[2018-12-18 15:31] matt-gardner commented on #2201
@brendan-ai2, this seems like it would also be solved by switching to one batch per GPU (#2200), though we'd have to be careful about what to do when you get to the end of an epoch and there aren't as many batches left as there are GPUs.

[2018-12-18 15:34] matt-gardner commented on #2193
Hmm, this sounds like it could work.  If you open a work-in-progress PR with what you have, we could give some better feedback about how to fit this better into our API - I'm pretty sure the predictors shouldn't be a problem.

[2018-12-18 16:40] dvsrepo opened #2204 "Potential issue with do_lower_case parameter being ignored in PretrainedBertIndexer"
**System:**
 - OS: OSX
 - Python version: 3.6.5
 - AllenNLP version: 0.7.2
 - PyTorch version: 0.4.1

**Question**

We are testing a simple Sequence classifier using the PretrainedBertEmbedder.

For that, we are using the PretrainedBertIndexer with the `bert-base-uncased` pre-trained model, as follows:

[code]
Unfortunately, after debugging the code, we have seen the following:

- ``PretrainedBert

[2018-12-18 17:15] schmmd commented on #1878
Closing a @joelgrus fixed these when migrating to PyTorch 1.0

[2018-12-18 17:15] #1878 closed

[2018-12-18 17:15] schmmd commented on #1803
Closed in https://github.com/allenai/allennlp/pull/2165

[2018-12-18 17:15] #1803 closed

[2018-12-18 18:51] #1739 closed

[2018-12-18 18:51] #1689 closed

[2018-12-18 18:53] #2201 closed

[2018-12-18 19:58] #2204 closed

[2018-12-18 21:55] lpricePARC opened #2210 "NER predictor failing on "2 .""
**Describe the bug**
Rather than give a prediction, the system is generating an error:

**To Reproduce**
from allennlp.predictors.predictor import Predictor
predictor = Predictor.from_path(
            "https://s3-us-west-2.amazonaws.com/allennlp/models/ner-model-2018.04.26.tar.gz")
predictor.predict("2 .")

Error
Traceback (most recent call last):
  File "/tilde/lprice/anaconda3/lib/python3.6/uni

[2018-12-18 23:21] lpricePARC commented on #2210
Thank you, Matt.

[2018-12-19 06:32] faizan86 commented on #2019
Thanks @nelson-liu

[2018-12-19 14:45] coylz opened #2216 "ELMo padding using vocab_to_cache"
Hello,

First, I've already seen issue #1810  but it does not answer my question.

I am using ELMo as a replacement for W2V, GloVe, etc. in my PyTorch model.

For performance and convenience purpose, and because my input vocabulary is fixed during training, I do not have clear text in my training data but indices and a vocabulary as a list of strings.

With the classic torch.nn.Embedding class of

[2018-12-19 15:53] #1663 closed

[2018-12-19 19:43] schmmd commented on #2195
@phiresky I'm unfamiliar with poetry.  Can you explain to me how I can repeat the error you are seeing on my own laptop?

[2018-12-19 19:49] pvcastro opened #2219 "Replicating CoNLL 2003 NER training"
**System (please complete the following information):**
 - OS: Linux
 - Python version: 3.6.3
 - AllenNLP version: I installed from master
 - PyTorch version: 0.4.1

**Question**
What is the exact jsonnet config you used for the CoNLL 2003 NER training, as described in the ELMo paper? I just used the same setup as is in training_config/ner.jsonnet and training_config/ner_elmo.jsonnet and the best

[2018-12-19 19:58] matt-peters commented on #2219
The validation metric +f1-metric-overall is the same as the CoNLL script, for this task.  We don't have a config file for the exact version in the ELMo paper as that was implemented in tensorflow.  Are you saying that the allennlp version has higher dev F1 then the version we reported in the paper?  It's probably a little more carefully tuned.  Also, note that there is significant variation with t

[2018-12-19 20:09] pvcastro commented on #2219
OK, thanks. I made a confusion here with eng.testa and eng.testb :sweat_smile:

eng.testb is the test dataset and eng.testa is the dev dataset, right?

ner.jsonnet explicitly defines all 3, but it doesn't seem to print any evaluation results on test dataset, only on validation. In order for test dataset to be evaluated, we need to define evaluate_on_test = True explicitly, right? Just leaving the

[2018-12-19 20:13] matt-peters commented on #2216
We use 0 as the padding id: (https://github.com/allenai/allennlp/blob/master/allennlp/modules/elmo.py#L683)

Our embedding code also sets these embeddings to 0, although I wouldn't rely on it as this is an implementation detail and subject to change.  If your downstream code assumes the embeddings for PAD are 0.0, then I'd recommend explicitly zeroing it out yourself.

[2018-12-19 20:13] #2216 closed

[2018-12-19 20:16] matt-peters commented on #2219
Yes, testa is dev and testb is test.

Recommend best practice is to leave `evaluate_on_test=False`, and instead run `allennlp evaluate` with the best model evaluated on the dev set.

[2018-12-19 20:21] phiresky commented on #2195
Sorry, I don't have a computer right now but this should work:

pip install poetry
mkdir x && cd x
poetry init -n
poetry add allennlp

(Might have to change the min py version in pyproject.toml to ^3.6.1)

On Wed, Dec 19, 2018, 20:43 Michael Schmitz <notifications@github.com wrote:

[2018-12-20 08:36] pvcastro commented on #2219
OK, great! Even if it was just a single run, now it got consistent with the reported results in the paper, 92.27% F1 Score.

Looks like setting `evaluate_on_test=True` already does exactly this, picking the best model evaluated on the dev set. Any reason why doing it with the evaluate command would be a better approach?

Thanks!

[2018-12-20 12:14] rajurajvijay619 commented on #1265
Given n passages and a query, can we get the confidence scores of how correctly a passage answers a query?
Ex. Query - Q.
Candidate passages - p1,p2,p3,.....pn.
Rank them in order of relevancy/confidence scores(how correctly they answer the score)
p4
p2
p8
p1
.......
Is there any similar provision in allennlp, or anywhere? Thank you.

[2018-12-20 12:53] valsworthen opened #2220 "Replicate BiDAF SQuAD results"
**System (please complete the following information):**
 - OS: Linux
 - Python version: 3.7.1
 - AllenNLP version: 0.7.2
 - PyTorch version: 0.4.1

Hello,

I have retrained BiDAF on SQuAD twice with [the proposed jsonnet](https://github.com/allenai/allennlp/blob/master/training_config/bidaf.jsonnet) and I can't reach the performance of the pre-trained model available [here](https://allennlp.org/mo

[2018-12-20 17:16] schmmd opened #2221 "Demo results don't match CLI results (fine grained NER)"
https://demo.allennlp.org/named-entity-recognition/NTMxOTU2
![image](https://user-images.githubusercontent.com/954798/50298798-ddf2d400-0434-11e9-989e-1688b7d061ed.png)

With v0.7.2:

[code]

Same results for eff25a3085aa9976a7650d30d8961c3626ddc411 (last SHA that will work with this model due to a breaking change).

[2018-12-20 17:17] schmmd commented on #2221
If you call predict a second time you get the same result in the demo:

[code]

I think the reason is because ELMo is stateful and performs best once it's warmed up.  Unfortunately this explanation isn't the most satisfying to our users!

[2018-12-20 17:19] schmmd commented on #2221
@DeNeutoy does the above explanation make sense to you?

[2018-12-20 17:51] rangwani-harsh commented on #2188
In response to the second method that you have mentioned, I think if we will be using any attention based encoders in the neural network pipeline there might be a use case that for visualizing attention we might have to return attention weights. So having a generic way of passing any additional data that may be required can be done in this way. If we think this is a good way I can go about to thin

[2018-12-20 18:18] DeNeutoy commented on #2221
Yes, seems possible.

[2018-12-20 19:02] DSLituiev opened #2222 "cannot save model with Vocabulary: Can't pickle lambda"
**Describe the bug**
a model using Vocabulary cannot be serialized and saved using `torch.save(model, filename)` due to `lambda` in `Vocabulary.from_instances`

    AttributeError: Can't pickle local object 'Vocabulary.from_instances.<locals>.<lambda>'

**To Reproduce**
Steps to reproduce the behavior
1. train a model following the [AllenNLP tutorial](https://allennlp.org/tutorials)
2. run `torch.

[2018-12-20 20:41] joelgrus commented on #2188
I think my preferred solution would actually be something like the following:

(1) a Structured-Self-Attentive-Sentence-Embedding `Module` that returns a dict with the embedding and the loss function and whatever else
(2) a separate Structured-Self-Attentive-Sentence-Embedding `Seq2VecEncoder` that just wraps the module but respects the `Seq2VecEncoder` API

that way you have to be pretty explicit

[2018-12-20 21:03] matt-gardner commented on #2188
That sounds totally reasonable to me.

[2018-12-20 23:32] matt-gardner commented on #2220
BiDAF has a particularly high training variance.  We ended up training it a bunch of times as we were developing it, and that was the run that had the highest performance.  It's not surprising to me that you didn't get performance that high with only two samples.

[2018-12-20 23:32] #2220 closed

[2018-12-20 23:34] matt-gardner commented on #1265
The output of `model.forward()` (or `predictor.predict()`) returns the logits for each span, which you can use to recover what you're looking for.  There is nothing built-in that does exactly what you want, but it shouldn't be hard to do it with what's there.

[2018-12-21 02:43] enod opened #2225 "cuda set to 0 but still returns RuntimeError"
**System (please complete the following information):**
 - OS: Linux
 - Python version: 3.6.5
 - AllenNLP version: 0.7.2
 - PyTorch version: 0.4.1

**Question**
I'm following the [tutorial](https://github.com/allenai/allennlp/blob/master/tutorials/getting_started/predicting_paper_venues/predicting_paper_venues_pt1.md) and customized a bit. Below is my configuration and runtime error.

[code]

As y

[2018-12-21 02:59] joelgrus commented on #2225
this is possibly this bug:

https://github.com/allenai/allennlp/issues/2189

it should be fixed in the latest release 0.8 (and also should not happen if you use a different optimizer)

[2018-12-21 03:37] enod commented on #2225
changed to adam and it's working. Thanks!

[2018-12-21 03:37] #2225 closed

[2018-12-21 06:51] jihunchoi opened #2227 "About the get_output_dim() of ElmoTokenEmbedder"
**Describe the bug**
`get_output_dim()` of `ElmoTokenEmbedder` returns the dimension of the LSTM hidden state even when the `projection_dim` parameter is given.
I'm not sure that it is intended behavior or a bug, but I think it would be more natural to return the `projection_dim` instead.

**To Reproduce**
[code]

[2018-12-21 12:48] WrRan opened #2228 "Is a bug or a feature? Something about `BooleanAccuracy`"
**System (please complete the following information):**
 - OS: Linux
 - Python version: 3.6.7
 - AllenNLP version: 0.8.1-unreleased
 - PyTorch version: 1.0.0

**Question**
There is a test case producing errors:
[code]

Run this test case, and you will get an error as follow:
[code]

But I do not know whether it is right to use `mask` as above. So is a bug or a misuse?

[2018-12-21 15:18] joelgrus commented on #2228
I think your test is wrong, `correct_count` should be 4 here. `predictions[0]` and `predictions[2]` are both exactly correct, and `predictions[1]` and `predictions[3]` are both totally masked (which means they agree with the target in all non-masked positions), so they're both correct too.

[2018-12-21 15:34] matt-gardner commented on #2228
Isn't it 4 because there are two values in each batch? Masked values should definitely not be counted in the metrics.

[2018-12-21 15:40] joelgrus commented on #2228
the code is somewhat confusing, but it looks like it's actually checking for each of the `batch_size` predictions "is it the case that every non-masked prediction is equal to the corresponding target"

so it's counting the number of totally correct *prediction tensors*. here there are 4 prediction tensors, two are correct, and two are fully masked.

I don't know if that's what `BooleanAccuracy` is

[2018-12-21 15:44] joelgrus commented on #2228
but if you look at the code it's very explicit that `count` is the `batch_size` dimension

[2018-12-21 15:51] matt-gardner commented on #2228
Ok, thanks for the description, I'm on a phone and didn't look at the code. That behavior sounds like a bug to me.

[2018-12-21 16:37] joelgrus commented on #2228
it should be an easy fix, just so I'm clear, the desired behavior is

(# of non-masked tensor entries that are correct) / (# of non-masked tensor entries)

?

(that's what I expected when I looked at the code, but it was so explicitly doing something else that I figured it was intentional)

[2018-12-21 17:01] schmmd commented on #2221
@brendan-ai2 mentioned that the transformer ELMo model doesn't have state.  Potentially it might avoid such issues in the future.

[2018-12-21 18:20] DeNeutoy commented on #2219
Because if you continuously train models with different hyperparameters, you will be looking at the test set results every time, which is not good practice. You should perform validation on the _validation_ set and then run the best model once on the test set.

[2018-12-21 18:20] #2219 closed

[2018-12-21 18:21] DeNeutoy commented on #2221
Could do yes - it's unlikely i'll work on this soon and the behaviour is essentially expected, so i'll close this.

[2018-12-21 18:21] #2221 closed

[2018-12-21 18:34] pvcastro commented on #2219
I see that @DeNeutoy. My point is that evaluate_on_test doesn't cause the validation to switch to the test dataset, it only performs an evaluation on the test dataset once the training finishes, only once. The same thing that is done with the evaluate command.

Thanks!

[2018-12-21 18:36] matt-gardner commented on #2228
Yeah, that's what I would expect the behavior to be.  And either way it should be well-documented what the intended behavior is - completely masked instances are an edge case that needs documentation.

[2018-12-21 19:44] joelgrus commented on #2228
ok, after discussing with markn, I think the current "all or nothing" behavior is correct, but the way it handles completely masked instances is not, so I'll make a PR for that and make the docs clearer

[2018-12-21 20:05] brendan-ai2 commented on #2221
Any objections to me leaving this open at low priority, @DeNeutoy? If it's simply a matter of re-training https://github.com/allenai/allennlp/blob/master/training_config/ner_elmo.jsonnet with the transformer embeddings, then this shouldn't be too hard. I'd be happy to do it.

[2018-12-22 16:13] #2228 closed

[2018-12-22 16:54] DeNeutoy commented on #2227
Hi, this is a bug - would you mind submitting a fix?

You'll need to change [this method](https://github.com/allenai/allennlp/blob/master/allennlp/modules/token_embedders/elmo_token_embedder.py#L71) and add a test (you could just add an `assert` to [this test](https://github.com/allenai/allennlp/blob/master/allennlp/tests/modules/token_embedders/elmo_token_embedder_test.py#L73))

Thanks!

[2018-12-22 17:01] DeNeutoy commented on #2222
Hi, you need to save the state dict from the model like
[code]

Also note to reload an allennlp model you will also need the `config.json` and the `vocabulary` directory that were saved during training.

[2018-12-22 17:01] #2222 closed

[2018-12-22 17:06] DeNeutoy commented on #2177
Hi - our models are not compatible with ONNX because they have state which is not contained in neural network weights (such as vocabularies). Additionally, ONNX essentially doesn't support models which contain python control flow. You will likely have more luck using `torchscript` from Pytorch 1.0, but even then I think it will be difficult to trace many of our models.

[2018-12-22 17:06] #2177 closed

[2018-12-22 17:08] #2168 closed

[2018-12-22 17:09] DeNeutoy commented on #2167
This isn't critical functionality and we actually expect it to fail occasionally, which is why we just continue when it happens. We probably won't be able to fix this, sorry!

[2018-12-22 17:11] DeNeutoy commented on #2089
This is essentially the correct behaviour in 99.99% of use cases - I think hotwiring it is actually fine.

[2018-12-22 17:11] #2089 closed

[2018-12-22 17:14] DeNeutoy commented on #1644
This behaviour is essentially ill-defined and if you really want this, you can use @zfang's code here.

[2018-12-22 17:14] #1644 closed

[2018-12-22 17:57] sodre commented on #2195
We experienced the same problem when building the AllenNLP package for conda-forge/staged-recipes#7324. Our solution to that problem was to relax the pinning on `cffi` to `1.11.*`.

This brings me to a slightly larger question of whether the pinnings in AllenNLP are too strict. This issue came up during the peer-review process that every new conda-forge package goes through.  Please see comments [

[2018-12-22 19:43] tingkai-zhang commented on #2152
@susht3  Can you explain a little more about the situation you are using 3-D one hot?
I usually use `ListField ` to feed high dimensional data to neural network in allennlp. It works well for me.
What is the specific problem you have encountered?

[2018-12-22 22:39] DSLituiev commented on #2222
@DeNeutoy is there a good tutorial on saving models mentioning how to get `config.json` and the `vocabulary` directory? It is not obvious why a `nn.Model` subclass does not support `nn.save` method and I could not see steps you are describing in that tutorial or its refs. Thank you

[2018-12-23 02:53] WrRan opened #2233 "How to use BERT as a model?"
**Is your feature request related to a problem? Please describe.**
I want to fine-tune BERT in `allennlp`, but I find BERT is not a registered model of this library and what I can do at present is to generate embeddings using it (#2140), which may be a little inflexible for me.
Do I miss anything?

**Describe the solution you'd like**
Make BERT more `allennlp`ic, so we can treat it as a normal com

[2018-12-23 03:40] #2233 closed

[2018-12-23 03:58] tingkai-zhang commented on #2227
Hi, I have submitted a fix! Please tell if it is good to go or i should change anything :)

[2018-12-23 09:59] koolcoder007 opened #2235 "ConfigurationError: Extra parameters passed to CrfTagger"
allennlp.common.checks.ConfigurationError: "Extra parameters passed to CrfTagger: {'constraint_type': 'BIOUL'}"

[2018-12-23 10:48] rajurajvijay619 commented on #1265
Thank you @matt-gardner .

[2018-12-23 12:37] koolcoder007 commented on #2235
Solution - Please use https://s3-us-west-2.amazonaws.com/allennlp/models/ner-model-2018.12.18.tar.gz as  link for NER model

[2018-12-23 12:37] #2235 closed

[2018-12-24 13:31] valsworthen opened #2236 "Build a BertTextFieldEmbedder"
Hello,

I am trying to use BERT for QA. In the paper, the authors explain that in this case they format the input data to be `Question tokens [SEP] Passage tokens`. Then a "mask" vector is also passed to distinguish between the question and the passage.

If I want to do the same using AllenNLP. I figured out from the code, that, when the `BertTokenEmbedder` is called [it can use the `token_type_id

[2018-12-24 19:13] luckytoilet commented on #2176
Any thoughts on this? @joelgrus

[2018-12-25 09:19] djshowtime opened #2238 "Segementation Fault during training"
I was trying to run crf_tagger with bi-lstm for NER task, based on the tutorial.
Everything goes well in testing (running in a script).

However, When I used command and configuration file to train the model. It failed.

Then command line:
`allennlp train bilstm_crf_ner.json -s model_save --include-package ner_lib
`
in ner_lib I only change the way reading the file in _reader in dataset_reader.

T

[2018-12-25 09:41] nelson-liu commented on #2238
Can you paste the changes you made to the `dataset_reader`? This looks like an out of memory (RAM) error, and i'd guess that the culprit is some aspect of your modified dataset reader.

[2018-12-25 21:43] generall commented on #2097
I am working on related NLP problems as a side-project and I am interested in possibility to contribute to AllenNLP. I am wondering if there are any progress on this since last comment here.  It looks like a large modification required to implement this issue, so maybe a little coordination required. Is there any fork with initial attempts or something like this?

[2018-12-26 01:01] WrRan commented on #2236
I am working on it. Hope my solution (https://github.com/WrRan/allennlp/tree/enhance-bert) helps you.

I modify two allennlp library files:
`allennlp/data/token_indexers/wordpiece_indexer.py`(https://github.com/WrRan/allennlp/blob/6d42b903f2d60148e4f8c7ca387889ed0e6fa49b/allennlp/data/token_indexers/wordpiece_indexer.py#L255)
[code]
and `allennlp/modules/text_field_embedders/basic_text_field_embed

[2018-12-26 01:12] djshowtime commented on #2238
@DatasetReader.register("emr_datasetreader")
class EMRDatasetReader(SequenceTaggingDatasetReader):
    def __init__(self):
        super(EMRDatasetReader, self).__init__()

    def _read(self, file_path):
        # if `file_path` is a URL, redirect to the cache
        file_path = cached_path(file_path)

        with open(file_path, "r", encoding = 'utf-8') as data_file:

            logger.info("

[2018-12-26 07:07] SparkJiao commented on #2236
@WrRan Very appreciate to your work, will this be merged into soon?

[2018-12-26 07:52] SivilTaram opened #2239 "Bug in initializer uniform_unit_scaling"
**Describe the bug**
bug in allennlp.nn.initializers.uniform_unit_scaling

**To Reproduce**
Using the latest version of allennlp and pytorch(0.4.1), initialize parameters of LSTM/GRU via uniform_unit_scaling function

**Expected behavior**
Exception throw:
[code]

**Potential Solution**
Fix the line to `return tensor.data.uniform_(-max_value, max_value)` [link](https://github.com/allenai/allennlp/

[2018-12-26 14:27] nikhilweee opened #2240 "Check for existing vocabulary before creating a new one."
**Is your feature request related to a problem? Please describe.**
Every time I recover from an incomplete training session using the `--recover` flag, allennlp creates a fresh vocabulary. This is redundant and time consuming.

**Describe the solution you'd like**
Since the `train` command already saves the vocabulary to disk ([`allennlp/commands/train.py`](https://github.com/allenai/allennlp/blob

[2018-12-26 16:09] epwalsh commented on #2097
As far as I’m aware there hasn’t been a fork started yet, but I think it might be a good time to get that going. That would at least help get the ball rolling. Maybe we could start working off of a separate branch here?

[2018-12-26 20:29] tsengchan opened #2241 "ConfigurationError: 'Cannot register simple_tagger as Model; name already in use for SimpleTagger'"
- Ubuntu 16.04
 - Python version: 3.6.
 - allennlp 0.7.2
 - PyTorch version: 0.4.1
- Jupyter 4.4.0

I am getting the error:
ConfigurationError: 'Cannot register simple_tagger as Model; name already in use for SimpleTagger'

I am trying to reproduce code from:
https://github.com/allenai/allennlp/blob/master/allennlp/models/simple_tagger.py

[2018-12-27 00:10] epwalsh commented on #2097
@sai-prasanna I don't mind starting it off, unless one of the maintainers here can create a new branch for us. In any case, I probably won't be able to get to this started until after new years. So I'll start it off then unless someone else takes it up before that. Happy holidays!

[2018-12-27 00:47] nelson-liu commented on #2238
Thanks, your code itself looks ok. Perhaps your dataset is just too large for your system's memory?

I'd recommend adding the `lazy` parameter to your `EMRDatasetReader`, passing it to `SequenceTaggingDatasetReader`, and setting it to true in your config. This should reduce training RAM usage.

[2018-12-27 00:48] nelson-liu commented on #2238
Oops, here's a document with more info about lazy dataset readers: https://github.com/allenai/allennlp/blob/master/tutorials/getting_started/laziness.md

[2018-12-27 01:43] SparkJiao opened #2244 "How do you save memory while using bert text field embedder?"
**System (please complete the following information):**
 - OS: [Linux]
 - Python version: [3.7.1]
 - AllenNLP version: [v0.7.2]
 - PyTorch version: (0.4.0)
 - GPU: TITAN XP 12G

**Question**

* Do you have used any trick while using bert or elmo embedder? I have used bert text field embedder with `batch_size=1` to train a model but while using the bert-for-question-answering from hugging-face I me

[2018-12-27 03:21] ShomyLiu opened #2245 "How to get token embedding and the weighted vector in ELMo?"
**System (please complete the following information):**
 - OS:  Ubuntu 18.04
 - Python version: 3.6.1
 - AllenNLP version: v0.8.0
 - PyTorch version: 1.0

**Question**
There are two questions about the output of `allennlp.modules.elmo`
there are two outputs:
- elmo_representations
- mask

(1)  How to get the token embedding $x_k$? since in practice, we need to combine the token embedding with the

[2018-12-27 06:54] sai-prasanna commented on #2097
@matt-gardner You could take a look, but sadly we didn't conclude with a consensus on an API design covering all that's needed in the document discussion (https://docs.google.com/document/d/1tr_q0Czal4xdMWzwd0K-Tf3mBCk-_tckKcZtdzIM4P0). I think that a good design (for the decoder) would evolve once we start implementing the RNN, CNN, Transformer backends for the abstract decoder.

@epwalsh After n

[2018-12-27 13:18] nelson-liu opened #2246 "BidirectionalLanguageModel registered name is inconsistent"
Minor nit: `BidirectionalLanguageModel` is registered as `"bidirectional-language-model"`. I think we've tended to use underscores for multi-word model names (i.e., `bidirectional_language_model`)?

Happy to make this change, but not sure how to raise a `DeprecationWarning` if we detect that the `bidirectional-language-model` name is used? Maybe @joelgrus would know?

[2018-12-27 14:16] nelson-liu opened #2250 "Circular import with allennlp.modules"
**System (please complete the following information):**
 - OS: OSX
 - Python version: 3.6.6
 - AllenNLP version: master
 - PyTorch version: 0.4.1

**Question**
Maybe I'm missing something, but importing from modules seems to break on my machine, but only from the REPL. Seems like tests work fine?

[code]

[2018-12-27 14:24] nelson-liu opened #2251 "Remove docs check exception for old semantic parsing dataset readers"
Was fixing #2248 and saw https://github.com/allenai/allennlp/blob/3f0953d19de3676ea82e642659fc96d90690e34d/scripts/check_docs.py#L32-L35 . Not too sure what needs to be done here, since i've never touched the semantic parsing code, but raising an issue so we don't forget about this now that version 0.8 has come around. maybe just removing these lines, since it looks like #1739 already removed the

[2018-12-27 14:35] nelson-liu opened #2252 "Timeline for deprecating top-level token_embedders?"
Specifying token embedders for a BasicTextFieldEmbedder as top-level key-value pairs has been deprecated for awhile now---when are we thinking of removing it for good? Perhaps soon, since the config wizard is out?

Regardless, if we aren't going to immediately remove it, we should probably update the warning https://github.com/allenai/allennlp/blob/3f0953d19de3676ea82e642659fc96d90690e34d/allennlp

[2018-12-27 16:54] sethah commented on #2099
I've successfully converted a project of mine to use the Allen NLP training tools in a computer vision application, with no modifications to source code. Overall, the current tools, though designed for NLP, are general enough to work well for CV. This conversion simplified my hand-written PyTorch code *a lot*.

I must admit I am still learning the Allen NLP APIs. I used a collection of `ArrayField

[2018-12-27 17:09] joelgrus commented on #2099
This actually is something we're thinking about (at least, it's something I'm thinking about), if you have code you're able to share that would be helpful.

[2018-12-27 17:19] epwalsh commented on #2097
I definitely want to avoid one huge PR, so I think the most efficient way forward is for us to work on our own fork (which I, or someone else can start), and then incrementally submit PRs here as we go. Like @sai-prasanna said, I think a good first step (and first PR) would be to implement a generic base decoder class with some of the features we talked about in the doc (beam search, attention, et

[2018-12-27 17:33] matt-gardner commented on #2099
Awesome, this is great to hear.  I'd love to hear more about your experience - do you have any data loading bottlenecks, or anything?  Would multi-processing on the data side speed things up?  Would a separate `ImageField` be helpful?  As for `get_padding_lengths`, you just mean that some kinds of `Fields` just return an empty dictionary there?  `ArrayField` is designed to need padding, which is o

[2018-12-27 17:37] matt-gardner commented on #2097
@epwalsh that sounds like a good plan.  If you'd like feedback on your fork at any point before submitting the PR here, just ping me, and I'll take a look.

[2018-12-27 17:48] nelson-liu commented on #2246
looks like it works. re: `boe`, i suppose you just want `bag_of_embeddings` as another name for `boe` (i.e., don't deprecate anything)?

For further thought: maybe there's a nicer way to indicate that things are aliases of each other, in a way that might even be possible to expose through the config wizard?

[2018-12-27 17:51] matt-gardner commented on #2246
Hmm, good point on the config wizard.  @joelgrus is probably the right person to answer that.  If we don't want to deal with the headache of aliases, I'd just deprecate the `boe` name.

[2018-12-27 17:55] joelgrus commented on #2246
I believe the config wizard doesn't explicitly expose the registered names to the user -- it exposes the *class* names and then just sticks the "registered name" keys in the output json. but off the top of my head it's not obvious what will happen if a class is registered twice with two different names -- it seems likely it will show up twice in the dropdowns, so that would need to be fixed, and w

[2018-12-27 18:18] nelson-liu commented on #2245
Hi, maybe this document helps? https://github.com/allenai/allennlp/blob/master/tutorials/how_to/elmo.md#using-elmo-as-a-pytorch-module-to-train-a-new-model

If you just want per-token embeddings in an AllenNLP model, you can use the elmo `TokenEmbedder` (https://github.com/allenai/allennlp/blob/master/tutorials/how_to/elmo.md#using-elmo-with-existing-allennlp-models). If you want per-token embeddi

[2018-12-27 18:18] #2245 closed

[2018-12-27 18:31] nelson-liu commented on #2250
ah, i see that @brendan-ai2 already put something to make it work for typechecking ( https://github.com/allenai/allennlp/blob/master/allennlp/modules/token_embedders/bidirectional_language_model_token_embedder.py#L13-L15 ). I think this needs to be a bit broader, though, as it currently breaks for anyone using allennlp as a library.

[2018-12-27 23:29] nelson-liu opened #2255 "Contributing a unidirectional language model / working with non-shuffled data"
I'm interested in implementing a unidirectional LM. Is it preferable to:

1. Create a new `UnidirectionalLanguageModel` class to match the current `BidirectionalLanguageModel`?
2. Think about refactoring `BidirectionalLanguageModel` into a single `LanguageModel` class, and adding a `bidirectional` constructor parameter.

@brendan-ai2 kindly went over the `BidirectionalLanguageModel` code with me,

[2018-12-28 05:10] ShomyLiu commented on #2245
@nelson-liu  Thanks for your nice reply!

The parameter `1`  in `Elmo(options_file, weight_file, 1, dropout=0)`  means  one output representation for each token according to your comments.

That's to say this representation is **exact** the final weighted embedding of the 3 layers (character-convnet output, first layer lstm output, second layer lstm output) mentioned in the paper (Eq (1)).

![imag

[2018-12-28 05:15] nelson-liu commented on #2245
yeah, exactly --- multiple output representations means that you're learning a different linear combination of the 3 layers. For instance, if you want to use elmo twice in your model, it's inefficient to run the forward pass of the LSTM twice just so you can re-weight the layers differently.

For instance, the `BiattentiveClassificationNetwork` uses Elmo in two parts of the model. To handle this i

[2018-12-28 06:47] scarecrow1123 commented on #2099
I've been thinking something of this sorts recently, especially to try to adopt AllenNLP for speech models. I'm just starting with speech recognition and the elegance of AllenNLP's abstractions and DI would be greatly missed just because I'm doing something out of regular NLP problems if I'm going with some other toolkit.
Perhaps, individual forks of the base library specific to respective areas s

[2018-12-28 08:50] brendan-ai2 commented on #2250
Fix in https://github.com/allenai/allennlp/pull/2257. I don't understand why this was only an issue when using `ipython`. If any Python gurus would like to chime in, I'd appreciate it!

[2018-12-28 15:34] WrRan commented on #2236
I am willing to create a PR.
But before that, @joelgrus do you have a suggestion or a better solution?

[2018-12-28 15:54] joelgrus commented on #2236
here's what I would probably do:

1. change the wordpiece indexer to (always) return token_type_ids
2. in the wordpiece indexer constructor, take an optional `separator: str = "[SEP]"` character
3. use that separator to construct the appropriate token_type_ids
4. have your dataset reader create a text field that has both sentences and the separator like you did

but in this case I'm not sure what

[2018-12-28 16:41] SparkJiao commented on #2236
For longer sequence, may be you could see this: [27](https://github.com/google-research/bert/issues/27) ?
We could make a scalar mix for the boundary words or choose the hidden state where it has the longest context ? But I think both will be a difficult work while implementing...

[2018-12-28 16:47] joelgrus commented on #2236
I see, the `embedder(*tensors)` is really unfortunate, I wish it were doing something like

[code]

and then

[code]

but I'm sure that would break things. let me think about it, I don't like having to stick nulls in the `embedder_to_indexer_map`, it seems fragile and confusing, but I'm not sure if there's a better way.

[2018-12-28 18:54] sethah commented on #2099
@joelgrus Sure, the relevant AllenNLP parts are mostly [here](https://github.com/sethah/deeptennis/blob/master/src/models/train_fpn.py), [here](https://github.com/sethah/deeptennis/blob/master/src/models/models.py#L377), and [here](https://github.com/sethah/deeptennis/blob/master/src/models/predict_fpn.py). This was basically a first pass at stuffing things into Allen NLP abstractions so that I co

[2018-12-28 20:30] nelson-liu commented on #2250
Thanks for the fix @brendan-ai2 , we should probably make a new release after the holidays with this fix?

Maybe this was only an issue when using `python` because when using the `allennlp` commands the importing occurs in a different order that doesn't result in a circular dependency (since `load_archive` or something is already imported earlier)?

[2018-12-28 22:17] brendan-ai2 commented on #2250
Yes, after the holidays is probably best.

Ah, that makes sense. Thanks! So when you import a model first, you also import `load_archive` via allennlp/allennlp/models/__init__.py. I checked this by running the following on master before #2257:

[code]

We should find a way to test for or systematically prevent this sort of import brittleness.

[2018-12-30 01:32] stefan-it opened #2258 "PoS tagging with Transformer-based ELMo model"
Hi,

I would like to ask if it's possible to train a model PoS tagging model with a transformer-based ELMo model? I recently trained a transformer-based ELMo model for a new language and it worked perfectly.

I wasn't able to find any configuration in `training_config` for PoS tagging with a transformer-based ELMo model, so I really like to know if someone can provide such a configuration?

Thanks

[2018-12-30 02:10] robbine opened #2259 "allennlp train seems got trapped at somewhere"
I am running "allennlp train"  on a very large dataset. The command seems got trapped and last few lines printed are
2018-12-30 05:51:12,151 - INFO - allennlp.training.trainer - Training
  0%|          | 0/1 [00:00<?, ?it/s]

Since the dataset is very large, I choose lazy mode for my DatasetReader. The cpu is almost 100% occupied.
I don't know where exactly the program is running at? Any suggestio

[2018-12-30 12:20] nadre commented on #2123
The datareaders support lazy loading which (besides being more memory efficient) takes away the pain of waiting for the dataset being processed at the beginning. The problem is that the whole dataset usually is needed to extract the vocab. What you can do is extract the vocab once and save it using vocab.save_to_files() and then load from disk instead of using Vocabulary.from_instances(). Hope thi

[2018-12-30 20:34] matt-gardner commented on #2255
Option 2 sounds reasonable to me, though others probably have stronger opinions than me about this.

[2018-12-30 20:39] matt-gardner commented on #2240
This seems like a reasonable thing to do if we're given the `--recover` flag.  PRs welcome.  Though, it sounds like you might be developing your model on full datasets instead of using test fixtures.  I have never had reason to use `--recover`, because I test my models on test fixtures, so they generally work when giving them the full data.  Using very small test fixtures and developing your model

[2018-12-31 01:18] aguglani opened #2260 "Embeddings from Elmo() and ElmoEmbedder() are very different"
## Could be conceptual misunderstanding on my part or a bug

I generated Elmo embeddings for a sentence using two different methods:
* first by using the Elmo object
* second by using the embed_sentence() in the ElmoEmbedder object

Here is the code:
[code]

The embeddings from both the methods is very different and the cosine_similarity is 0.68. Not able to understand why these two methods produc

[2018-12-31 01:35] aguglani commented on #2260
@nelson-liu thanks for the clarification.

Since the ```len(embeddings_allennlp['elmo_representations'] ==2```, I thought it gives tho top two LSTM layers.

[2018-12-31 01:38] nelson-liu commented on #2260
yeah, the length of the list indicates how many _different_ weighted-average elmo representations are learned. There's an open pr to make the docs clearer at #2256 .

Closing this for now, feel free to re-open if you have further questions.

[2018-12-31 01:38] #2260 closed

[2018-12-31 09:37] YuxianMeng commented on #2244
@SparkJiao Are you using BERT in AllenNLP for question-answering? I don't think they use any tricks, maybe the main cause is from length truncation

[2018-12-31 11:06] nelson-liu commented on #2244
They had this "trick" to make things work for long sequences on SQuAD (https://github.com/google-research/bert/issues/66#issuecomment-436378461), not sure if the huggingface code you mentioned uses it. Just mentioning it because I thought it might be relevant.

[2018-12-31 11:44] nelson-liu commented on #2227
#2234 should have fixed this. thanks again, @jihunchoi and @tingkai-zhang

[2018-12-31 11:44] #2227 closed

[2018-12-31 16:38] SparkJiao commented on #2244
@nelson-liu @YuxianMeng Yes I agree with that. Huggingface uses the sliding window too. I think the reason why I can combine a context and its all questions (like CoQA, not SQuAD) into a single batch with AllenNLP is that in AllenNLP they doesn't make question and context into a single sequence so that I only need to compute the hidden state for context for only several times which depending on th

[2018-12-31 16:58] tahseen09 commented on #1164
@matt-gardner Hey if I want to fine-tune a model by passing parameters through a function. Which function I shall use in the allenNLP GitHub source code?

[2018-12-31 17:37] matt-gardner commented on #1164
@tahseen09 I'm not sure what you mean. Can you be more specific?

[2018-12-31 17:40] tahseen09 commented on #1164
@matt-gardner I don't want to fine-tune using the command but by passing parameters in the fine_tune.py file. Which function should I use?

[2018-12-31 21:20] nikhilweee commented on #2240
Thanks for your suggestion Matt! As you rightly guessed, perhaps I haven't been developing the way it's supposed to be done. I usually make some quick changes and re-run the training script again and again on the entire dataset until all possible errors have been addressed. That explaines the need to user the `--recover` flag and my frustration with wait times. I wish I was aware of the test fixtu

[2019-01-01 22:11] abitofalchemy opened #2262 "nn util is not a package and can't access `arrays_to_variables`"
**Describe the bug**
`allennlp.nn.util.arrays_to_variables` is broken when running on python3.7 and I get this error:
`ImportError: cannot import name 'arrays_to_variables' from 'allennlp.nn.util' (/home/sa686/anaconda3/envs/allennlp_spacy/lib/python3.7/site-packages/allennlp/nn/util.py)`

and this returns null: `grep -R 'arrays_to_variables' /home/sa686/anaconda3/envs/allennlp_spacy/lib/python3.7

[2019-01-01 22:14] matt-gardner commented on #2262
`arrays_to_variables` was removed more than a year ago, so this is expected behavior.  Where did you see a reference to this function?

[2019-01-01 22:14] #2262 closed

[2019-01-01 23:14] matt-gardner commented on #1164
Whichever one best suits your needs - there are only a few functions in that file, just use the one that takes the arguments that you want to pass.

[2019-01-01 23:15] matt-gardner commented on #2250
Fixed by #2257.  (re-open if I missed some reason that you didn't close this earlier)

[2019-01-01 23:15] #2250 closed

[2019-01-02 00:11] nelson-liu opened #2263 "Test for import brittleness"
Follow up to #2250 , @brendan-ai2 suggested in https://github.com/allenai/allennlp/issues/2250#issuecomment-450436176 that we should find a way to test for and prevent future import issues.

I think this is a great idea, opening an issue so we can track this suggestion.

[2019-01-02 01:42] djshowtime commented on #2238
Thanks. Yes, it is the out of memory problem. Either `lazy` or changing to a server can solve the problem.

[2019-01-02 01:45] nelson-liu commented on #2238
closing this for now, feel free to ask if you have further questions

[2019-01-02 01:45] #2238 closed

[2019-01-02 06:17] #2259 closed

[2019-01-02 07:35] robbine opened #2265 "multiple gpu training question"
I tried to use multiple gpu training feature. It seems my module has not been replicated successfully across different gpus.
    q = self._projection(query_antecedent)
  File "/anaconda3/lib/python3.7/site-packages/torch/nn/modules/module.py", line 489, in __call__
    result = self.forward(*input, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/torch/nn/modules/linear.py", line 67, in fo

[2019-01-02 08:31] valsworthen commented on #2236
@WrRan thanks for your work, I think this solves the problem! However, regarding the dataset reader, don't you think that it also needs to add a `[CLS]` token at the beginning and another `[SEP]` token at the end of the example? I think this is done by Google and HuggingFace: [see here](https://github.com/huggingface/pytorch-pretrained-BERT/blob/8da280ebbeca5ebd7561fd05af78c65df9161f92/examples/ex

[2019-01-02 17:08] matt-gardner commented on #2244
It looks to me like the main question here is answered, right?  I'm closing this issue; feel free to re-open it if you have more questions.

[2019-01-02 17:08] #2244 closed

[2019-01-02 18:47] joelgrus commented on #2176
ok, a hacky solution is to un-redefine stdout before calling set_trace

[code]

Let me know if that doesn't work. In the meantime I'll leave this open and maybe I can find a better solution. (But with the workaround it's low priority.)

[2019-01-02 20:48] epwalsh commented on #2097
Ok so I've set up [a branch on my fork called "decoder"](https://github.com/epwalsh/allennlp/tree/decoder) and started [a PR into that branch](https://github.com/epwalsh/allennlp/pull/2) that sets up some basic structure. I figured our workflow could go like this:
1. we all contribute through PRs or direct commits to the "decoder" branch on my fork, and we can continue the discussion of the detail

[2019-01-02 20:50] #2240 closed

[2019-01-03 02:34] brendan-ai2 commented on #2255
Exploring option 2 first sounds reasonable, but I would timebox it. My suspicion is that you could make that work with a few fairly surgical modifications. But if it starts to get messy and time consuming, then I would suggest just duplicating the code and modifying it as needed.

Let me know if you hit any snags!

[2019-01-03 02:35] nelson-liu commented on #2255
@brendan-ai2 , i've implemented option 2 in #2264 . Just need to properly deprecate some classes (would like #2253 in beforehand), and it should be ready for review.

[2019-01-03 02:43] brendan-ai2 commented on #2246
Devil's Advocate: Is this worth the churn?

[2019-01-03 02:48] nelson-liu commented on #2246
my thinking: if we're deprecating `"bidirectional-language-model"` in #2264 anyway, might as well add the extra alias for `"bidirectional_language_model"` while we're at it?

The reason I want to merge this first is because i thought we were going to make a minor release to get #2257 out, and not sure that #2264 will be done before then.

[2019-01-03 04:31] sethah commented on #1706
This seems like a weird design choice to me. Taking the running average with infinite history per epoch produces this weird stepped signal, as below, which badly overestimates the loss in early training.

![image](https://user-images.githubusercontent.com/7275795/50623661-05ce4700-0ecd-11e9-9786-e900535c48bb.png)

I would vote to change this to showing the average over the last `summary_interval`

[2019-01-03 04:38] matt-gardner commented on #1706
No objections to this change from me, I think what you suggest is better than what we have.

[2019-01-03 04:39] sethah commented on #1706
Cool, I'll work on it.

[2019-01-03 09:05] Whu-wxy opened #2267 "config_explorer can't start service"
window7.
When I input 'python -m allennlp.service.config_explorer' in cmd, it returns "[]".

So is there anything I didn't configure ?

[2019-01-03 15:07] matt-gardner commented on #2267
Sorry, we don't support windows.

[2019-01-03 15:07] #2267 closed

[2019-01-03 16:44] #1988 closed

[2019-01-03 16:46] schmmd commented on #1894
@brendan-ai2 can we close this out now?  If there's remaining work that this helpfully captures then maybe we can move those items to their own issues?

[2019-01-03 18:33] #2246 closed

[2019-01-03 18:34] nelson-liu commented on #2246
will raise issues for the two points brought up in the discussion.

[2019-01-03 18:36] nelson-liu opened #2268 "Add bag_of_embeddings as an alternate name for the boe encoder"
Following up from https://github.com/allenai/allennlp/issues/2246#issuecomment-450171162 , we should add `bag_of_embeddings` as another registered name for the `boe` encoder.

[2019-01-03 18:46] nelson-liu opened #2269 "Investigate interaction between config wizard & models registered under multiple names"
See https://github.com/allenai/allennlp/issues/2246#issuecomment-450200393

[2019-01-03 20:40] brendan-ai2 opened #2270 "Remove / move internal transformer implementations"
We currently have a handful of transformer implementations. At least the following:

https://github.com/allenai/allennlp/blob/master/allennlp/modules/seq2seq_encoders/multi_head_self_attention.py
https://github.com/allenai/allennlp/blob/master/allennlp/modules/seq2seq_encoders/bidirectional_language_model_transformer.py#L139
https://github.com/allenai/allennlp/blob/master/allennlp/modules/openai_t

[2019-01-03 20:41] brendan-ai2 commented on #1894
Yep, I'll close this out. Cleanup ticket here: https://github.com/allenai/allennlp/issues/2270

[2019-01-03 20:41] #1894 closed

[2019-01-03 20:57] brendan-ai2 commented on #2246
@nelson-liu, I don't think we should be deprecating public names like this. They serve as an API and users should be able to rely on them. The consistency benefit of having underscores is nice, but minor compared to users being able to rely on code that used to work continuing to work.

[2019-01-03 23:09] schmmd commented on #2005
Fixed by #2166

[2019-01-03 23:09] #2005 closed

[2019-01-03 23:18] schmmd commented on #2084
@brendan-ai2 now that we've ported the ELMo training to AllenNLP--is this still an issue?

Documentation: https://github.com/allenai/allennlp/blob/master/tutorials/how_to/training_transformer_elmo.md

[2019-01-03 23:22] schmmd commented on #2163
Closing as we have an answer.  Please re-open if the solution above doesn't work for you.

[2019-01-03 23:22] #2163 closed

[2019-01-03 23:23] schmmd commented on #2164
@mataney @kernelmachine do either of you have an implementation we can host in our model gallery?

[2019-01-03 23:34] schmmd commented on #2193
I think it's unfortunate that DatasetReaders take a file as an argument since it really limits the backend we have.  I tried changing it to something more generic once but I ran into problems with the [Penn Treebank Reader](https://github.com/allenai/allennlp/blob/master/allennlp/data/dataset_readers/penn_tree_bank.py#L67), since it requires file input.

[2019-01-03 23:38] schmmd commented on #2195
Closing, since we have a new issue with 0.8.0 (#771).

[2019-01-03 23:43] sodre commented on #2195
Sorry, but how is this issue related to #771? 771 is about codecov and this one is about package pinning.

[2019-01-03 23:43] schmmd commented on #2239
@DeNeutoy does this look like a good fix to you?  You added this code in https://github.com/allenai/allennlp/pull/640.

[2019-01-03 23:44] schmmd commented on #2241
Closing, as it sounds like @SparkJiao's suggestion solved your issue!  Thanks @SparkJiao!

[2019-01-03 23:44] #2241 closed

[2019-01-03 23:46] matt-gardner commented on #2239
@DeNeutoy is out for another little while; yes, this looks like a good fix.  PR welcome.

[2019-01-03 23:46] matt-peters commented on #2159
All of the parameters in your model need to be included in one of the parameter groups, including those in the text_field_embedder. One way to accomplish this is to construct the model and print all parameter names with `print([name for name, param in model.named_parameters()])` then write regex to form the groups.

[2019-01-03 23:48] schmmd commented on #2258
@stefan-it does the instructions in https://github.com/allenai/allennlp/blob/master/tutorials/how_to/training_transformer_elmo.md help?  We also have a tutorial about creating a basic part of speech tagger: https://github.com/allenai/allennlp/tree/master/tutorials/tagger

[2019-01-03 23:54] luckytoilet commented on #2176
This doesn't work for me. When it hits the breakpoint, and I type any command, it crashes with a segmentation fault now.

[2019-01-03 23:55] schmmd commented on #2195
Sorry @sodre--I got confused when I followed the link to https://github.com/sdispater/poetry/issues/771.  It seems like this is still a problem for AllenNLP 0.8.0 and we should relax our bounds on cffi.  I'm confused however on how relaxing our bounds on cffi fixes the issue since @phiresky reports that `gevent (1.3.6)` requires `cffi (>=1.11.5)` and AllenNLP directly depends on `gevent==1.3.6`.

[2019-01-03 23:57] brendan-ai2 commented on #2084
@qiuwei, @schmmd, while training the Transformer ELMo reimplementation I used the `elmo_characters` token indexer. It's definitely plenty efficient. When I used the `characters` indexer (and thus the `CharacterTokenizer`) I did hit issues with memory usage during training. My hypothesis was that this was due to the tokenizer not truncating long words, but this is unverified. I'd suggest using `elm

[2019-01-04 00:00] brendan-ai2 commented on #1580
This work is complete. Sorry for the delay! Please see the documentation at https://github.com/allenai/allennlp/blob/master/tutorials/how_to/training_transformer_elmo.md and let me know if you have any questions!

[2019-01-04 00:02] #1580 closed

[2019-01-04 00:10] sodre commented on #2195
No problem.

By relaxing allennlp's requirement on cffi to 0.11.* instead of 0.11.2 while keeping gevent at 1.3.6 allows the solver to pick cffi 0.11.5 to solve the package dependency graph.

[2019-01-04 00:38] sodre commented on #2195
@schmmd, The original issue was for AllenNLP 0.7.2, which had it pinned at 0.11.2.
https://github.com/allenai/allennlp/blob/bf04f1dae80eba09ac7f260873ff3ab277698370/setup.py#L112

As far as a suggestion, here is what gevent [uses](https://github.com/gevent/gevent/blob/340a3625b1e8edd96c0ad83c3b8ce09730893892/setup.py#L213-L218).

[code]

I have not tried to do a build against 0.8.0 yet in conda fo

[2019-01-04 00:58] stefan-it commented on #2258
Thanks for that hint! I will try that :)

[2019-01-04 00:58] #2258 closed

[2019-01-04 08:49] qiuwei commented on #2084
@brendan-ai2 I will try elmo_characters  out and keep you posted.

[2019-01-04 14:44] rajarsheem opened #2274 "training elmo from scratch inside another model"
Hi,
I am trying to use the elmo module inside my own model and want the embeddings to get jointly trained from scratch along with the parameters of the main model ABC without using the pre-initialized vectors (and then fine-tuning it).
What I have done below is that I have loaded elmo module with pre-trained vectors as usual followed by re-initializing the weights inside the elmo module with the n

[2019-01-04 16:37] andreaferretti opened #2276 "Cannot load example NER model"
**Describe the bug**
I am trying to run the included NER model, using the provided example code. I get the error

[code]

**To Reproduce**

Run the example code

[code]

**Expected behavior**
Not to get an exception

**System (please complete the following information):**
 - OS: OSX
 - Python version: 3.6.8 (Anaconda)
 - AllenNLP version: 0.8.0, installed with pip
 - PyTorch version: error happens

[2019-01-04 17:35] matt-gardner commented on #2276
We've deprecated that parameter, so the old model doesn't work anymore.  There's a new model that should work here: https://s3-us-west-2.amazonaws.com/allennlp/models/ner-model-2018.04.26.tar.gz.

One point in favor of @brendan-ai2's arguments about deprecating things...

[2019-01-04 17:35] #2276 closed

[2019-01-04 17:37] rangwani-harsh commented on #2188
Hi team,
I needed some suggestions before I implement the wrapper. As we wont be able to use the forbenius regularization loss in the Seq2Vec encoder. So at present I am not sure how much will be the effect of implementing multi headed attention will be there. As we wont be able to use regularization to penalise attending of heads on the same parts of sentence. So there are now potentially two way

[2019-01-04 17:37] #2239 closed

[2019-01-04 18:01] joelgrus commented on #2176
it works for me, can you maybe try a clean environment and installing the latest version?

here's what I did

1. create a fresh python 3.6 environment
2. `pip install ipython allennlp`
3. add a set_trace here: https://github.com/allenai/allennlp-as-a-library-example/blob/master/my_library/models/academic_paper_classifier.py#L106

specifically, I added

[code]

4. train the model

[code]

5. get dr

[2019-01-04 18:52] test9723497834565 opened #2278 "Procedure to create conda package"
Hi,

I would like to install version 0.8 with conda but this version is not currently available on https://anaconda.org/allennlp/allennlp

Do you know which step I would have to follow to create the conda package?

I've tried to do "conda skeleton pypi allennlp" but there was an error in my ubuntu on Windows.

Thank you very much.

[2019-01-04 18:54] nelson-liu commented on #2278
hi sorry, i haven't been able to upload a conda package from 0.8 yet. maybe raise an issue on the conda-forge repo? https://github.com/conda-forge/allennlp-feedstock

[2019-01-04 18:55] test9723497834565 commented on #2278
ok I will do.

[2019-01-04 18:55] #2278 closed

[2019-01-04 19:50] luckytoilet commented on #2176
Hmm, I'm not sure why it's working for you and not for me. I updated AllenNLP to the latest version (8.0) and put the breakpoint in the same place, but I'm still getting a segfault ([pastebin](https://pastebin.com/RXCbK7sM)).

The only thing I'm doing differently is I'm using conda instead of pip, but this shouldn't affect anything.

[2019-01-04 20:38] schmmd opened #2280 "Add CI tests for dependency conflicts"
Occasionally AllenNLP has dependency conflicts, see https://github.com/allenai/allennlp/issues/1824 and https://github.com/allenai/allennlp/issues/2195.  We don't catch these conflicts ourselves because pip is rather flexible about how it resolves dependencies, but when we publish releases some of our users run into them (either because they use `poetry` or run conda forge).

Ideally we would run

[2019-01-04 20:39] schmmd commented on #2280
@sodre @phireski do either of you have a suggestion about a tool we should use to identify dependency conflicts earlier?

[2019-01-04 20:40] schmmd commented on #2195
Since we're not even sure this is a problem with the latest release (0.8.0) I'm going to close this issue in favor of the one I just opened (https://github.com/allenai/allennlp/issues/2280) about creating a continuous integration check for dependency conflicts.  I'd love suggestions about what tool we could use to do such a check.

[2019-01-04 20:40] #2195 closed

[2019-01-04 20:44] sodre commented on #2280
@schmmd, I asked in the conda-forge gitter channel. I'll report back once I get something.

[2019-01-04 20:49] brendan-ai2 commented on #2148
I believe this was the result of some multi-GPU fixes I made in https://github.com/allenai/allennlp/pull/1944/files#diff-8f018044da0180b1f5c2aa4a0368d1b8. Do you still hit these problems when you use the model stored at https://s3-us-west-2.amazonaws.com/allennlp/models/event2mind-2018.10.26.tar.gz?

[2019-01-04 21:01] schmmd commented on #2155
Closing--#1809 tracks the longer-term issue.

[2019-01-04 21:01] #2155 closed

[2019-01-04 21:02] schmmd commented on #2164
@kernelmachine sorry I didn't realize you were Suchin ;-)

[2019-01-04 21:07] schmmd commented on #2263
We are going to assume these are rare for now, and fix them as we find them.  However, if you hit a similar issue please let us know so we can get more data!

[2019-01-04 21:07] #2263 closed

[2019-01-04 21:10] schmmd commented on #2270
@matt-peters during issue review it came up that you might propose standardizing on the openai transformer (assuming experiments work out).  Is that accurate?

[2019-01-04 21:12] epwalsh commented on #2280
FWIW I currently use [pipdeptree](https://github.com/naiquevin/pipdeptree) for this purpose in some of my projects as part of my CI pipeline.

[2019-01-04 21:58] matt-gardner commented on #2274
@rajarsheem, yes, this could work, except `normal` isn't the best initialization for these things (e.g., we use [`block_orthogonal` and other options](https://github.com/allenai/allennlp/blob/259ce3221b5ed35c94ba4eaae070e22947f23f7b/allennlp/modules/lstm_cell_with_projection.py#L83-L91)).  You'd probably be better off if we just make the `weights_file` an optional argument to `Elmo`.  PRs welcome

[2019-01-04 21:59] matt-gardner commented on #2274
You may also be able to dig in to the internal fields and call that `reset_parameters` function yourself, instead of the `normal` init that you're doing.

[2019-01-04 22:12] matt-peters commented on #2274
You could do that, but you'll probably get subpar results.  The Elmo class returns a linear combination of the layers, but if you are training from scratch (or fine tuning) just use the top layer.  You can accomplish this by passing `scalar_mix_parameters=[0.0, 0.0, 20.0]` when constructing `Elmo` class, see: https://github.com/allenai/allennlp/blob/master/allennlp/modules/elmo.py#L74  (we take so

[2019-01-05 03:07] WrRan commented on #2236
I have supported what you said in PR #2279. Do you have any suggestions?

[2019-01-05 12:13] nelson-liu opened #2284 "Tutorials README doesn't link to all available tutorials"
The file https://github.com/allenai/allennlp/blob/master/tutorials/README.md doesn't seem to link to all tutorials, including (but maybe not limited to, didn't look closely) https://github.com/allenai/allennlp/blob/master/tutorials/how_to/create_a_configuration.md

[2019-01-05 12:57] WrRan opened #2285 "[Bug] The type of `MultiLabelField.as_tensor`'s returned value is not always `LongTensor`"
**Describe the bug**
There is a test case producing errors:
[code]

Run this test case, and you will get an error as follow:
[code]

**System (please complete the following information):**
- OS: Linux
- Python version: 3.6.7
- AllenNLP version: 0.8.1-unreleased
- PyTorch version: 1.0.0

**Additional context**
PR is coming soon.

[2019-01-05 23:58] #2285 closed

[2019-01-06 06:20] Yupei-Du commented on #1061
sorry but is there a pytorch implementation for retraining Elmo BiLM? I would like to fit elmo pretrain model with corpus in other domains

[2019-01-06 06:59] WrRan opened #2287 "[Suggestion] Warn default value of `min_padding_length` when using `TokenCharactersIndexer`"
**Is your feature request related to a problem? Please describe.**
This issue is related to #1954, #2210 and #2044.

**Describe the solution you'd like**
I think it is a better idea to provide _no_ default value of `min_padding_length` in this method, but due to backward compatibility, its default value of `0` is provided.
It may be more friendly to warn users when they use default_value unconscio

[2019-01-06 08:29] WrRan opened #2288 "[Bug] Wrong help text for `find-lr` subcommand."
**To Reproduce**
[code]

**System (please complete the following information):**
- OS: Linux
- Python version: 3.6.7
- AllenNLP version: 0.8.1-unreleased
- PyTorch version: 1.0.0

[2019-01-06 12:03] #2288 closed

[2019-01-06 17:39] nelson-liu opened #2291 "Vocabulary min_count is not logged during training"
It seems like the `min_count` for `Vocabulary` is not automatically logged to the console---any clue why?

[2019-01-06 17:42] nelson-liu opened #2292 "Vocabulary min_count should error when using a nonexistent namespace"
If you use the `min_count` parameter of the `Vocabulary`, but you specify a namespace that does not exist, the vocabulary creation will just silently proceed. It'd be great if it could error in this case, perhaps by popping off the namespaces in `min_count` and erroring if any are left at the end of vocab creation (would probably go at the end of https://github.com/allenai/allennlp/blob/master/all

[2019-01-06 19:08] Hyperparticle commented on #2149
I played around with apex/amp and found that integrating it into allennlp is straightforward, with a measurable performance boost on a large CRF tagger model (RTX GPU).

After cloning and installing [apex](https://github.com/NVIDIA/apex), you only need to modify [allennlp/training/trainer.py](https://github.com/allenai/allennlp/blob/master/allennlp/training/trainer.py) (or create your own trainer)

[2019-01-06 19:15] matt-gardner commented on #2149
Awesome, thanks for trying this out!  @joelgrus is currently thinking about how to make the `Trainer` easier to modify, and this is another thing to keep in mind for that, I think.  He can probably give better advice than me on what exactly to put into a PR.

For functions that aren't stable, this is because of hard-coded values that were made with fp32 in mind, right?  Like `1e-13` in `masked_sof

[2019-01-06 21:06] joelgrus commented on #2149
I'm still not 100% sure what I'm going to do about the trainer. In the meantime, if you wanted to do a PR, I would probably do the following (once you've done the correctness checking that mattg pointed out):

(1) give the current trainer a private method

[code]

(2) replace the call to `loss.backward()` in `_train_epoch` with a call to that method

(3) create a subclass `ApexTrainer(Trainer)` th

[2019-01-07 11:00] robbine commented on #2265
updates：
I assume that parallel gpu training only require setting "cuda_device": [0, 1]
Is this correct ?

[2019-01-07 11:13] enod opened #2294 "Possibly greatly increasing memory usage"
**Describe the bug**
I'm trying to reproduce [SST-2](https://github.com/allenai/allennlp/blob/master/training_config/biattentive_classification_network_elmo.jsonnet) with my own dataset.

**To Reproduce**
My configuration file has following content:
[code]

**System (please complete the following information):**
- OS: Linux
- Python version: 3.6.5
- AllenNLP version: 0.7.2
- PyTorch version: 0.4.1

[2019-01-07 11:15] nelson-liu commented on #2294
what gpu are you using? looks like you might have to either reduce the batch size or the size of the model, since you're running out of gpu memory.

[2019-01-07 11:18] nelson-liu commented on #2294
looks like @swabhs ran into this as well (#2135). I think this only happens when using multiple GPUs --- would it work for you to just use 1 gpu?

[2019-01-07 11:21] enod commented on #2294
I'm running on 2 x Geforce GTX 1080 ti
I made batch size smaller to see what happens. So far it's running fine on the first epoch. If it's not working, I'll try with 1 gpu as you suggested. Thanks a lot!

[2019-01-07 11:49] nelson-liu commented on #2294
ok! fwiw i was able to train the model on a single gtx 1080 ti. closing this issue now, feel free to ping if you run into further issues.

[2019-01-07 11:49] #2294 closed

[2019-01-07 13:56] WrRan opened #2295 "Check for train/dev/test-data before processing them."
**Is your feature request related to a problem? Please describe.**
Sometimes I config the *wrong* test datapath. And I don't know this error until allennlp has processed all the training and validation datasets, which is a little waste of time.

**Describe the solution you'd like**
It may be a good idea to first check the validity of the datapaths before processing them (not including download).

[2019-01-07 14:37] robbine commented on #2177
Facebook recently released a pytext platform which states that it supports model exporting feature by using onnx, They also explains why caffe2 is more stable. Do you think it's a must for allennlp ?

[2019-01-07 17:44] joelgrus commented on #2276
oops, should be https://s3-us-west-2.amazonaws.com/allennlp/models/ner-model-2018.12.18.tar.gz

[2019-01-07 17:45] joelgrus commented on #2276
we should probably direct people to `allennlp.pretrained`

[2019-01-07 19:08] matt-gardner commented on #2287
Having a warning about that min padding length seems fine to me.  PR welcome!

[2019-01-07 19:09] matt-gardner commented on #2295
Seems fine to me.  PR welcome!

[2019-01-07 19:19] swabhs commented on #2294
@nelson-liu Yes, I was also encountering similar issues. The problem with using multiple GPUs is that one GPU does most of the heavy lifting in terms of memory, with the other GPUs maintaining only copies of relevant parameters. And since my model was quite large, the first GPU was OOMing out. Reducing the model size helped quite a lot. Obviously, reducing the batch size might help all GPUs involv

[2019-01-07 20:16] brendan-ai2 commented on #2265
@robbine, that's usually the only change required, but sometimes small changes are required in your model code. In particular, if you have any aggregate data structures like dictionaries or lists in your model that themselves contain PyTorch modules, you should be sure to use `ModuleList` or `ModuleDict`. Similarly, if you have a custom class containing modules, be sure to subclass `Module`.

Anot

[2019-01-07 21:02] piercefreeman commented on #1052
Running into the same issue as @sai-prasanna, also with re-serializing files in a dataset reader that were previously saved with `files_to_archive`.  Is there any workaround right now?

@DeNeutoy Any thoughts on a more permanent fix?

[2019-01-07 21:08] joelgrus commented on #1052
wasn't this fixed by #2184, or is this a different bug?

[2019-01-07 23:14] matt-peters opened #2300 "Feature request: separate logging for model computed loss and regularization loss in tensorboard"
It would be nice to separately log model computed loss from regularization loss in tensorboard. Involves minor changes to the Trainer.

[2019-01-08 00:09] matthew-z commented on #2149
I have tested  `masked_softmax` and `masked_log_softmax`, and their current implementation will not work in pure fp16 mode, but in apex.amp mode they will be converted into fp32 automatically, so we don't need to worry them.

[2019-01-08 00:19] matthew-z commented on #2149
@Hyperparticle

I guess there is no need to wrap the optimizer, just

[code]

[2019-01-08 00:23] nelson-liu opened #2302 "Improve documentation of _SoftmaxLoss"
more details at: https://github.com/allenai/allennlp/pull/2264#discussion_r245162745

[2019-01-08 00:24] nelson-liu opened #2303 "Deprecate LanguageModel loss_scale construction parameter"
ref: https://github.com/allenai/allennlp/pull/2264#discussion_r245163258

[2019-01-08 00:42] #2255 closed

[2019-01-08 02:12] enod commented on #2294
@swabhs Thanks for the helpful information. I have successfully trained on 2 GPUs.
I also tried your patch but got following error:
[code]

[2019-01-08 02:44] ducalpha opened #2306 "Possibly dead code in model.py"
**System:**
 - Python version: 3.6
 - AllenNLP version: master branch

**Question**
I believe [line 172 in model.py](https://github.com/allenai/allennlp/blob/088f0bb685231a17320bf916c091dfa8e60e3ce5/allennlp/models/model.py#L172) is redundant. In a past version, the function returns `outputs` so the line is necessary but now the function no longer returns `outputs`.

Also, I think the `list()` wra

[2019-01-08 05:35] robbine commented on #2265
Thanks @brendan-ai2 , here is the line https://github.com/robbine/allennlp-as-a-library-example/blob/dfb08444dcf71850f9a018063a8de206f4ab7d1e/my_library/modules/layers/common_attention.py#L158
Actually it's a bert implementation which I intended to contribute to allennlp, however allennlp has already used the pytorch-pretrained-bert. I tried to add these following two lines, and find that input te

[2019-01-08 07:33] nelson-liu commented on #2294
maybe @brendan-ai2 would have more thoughts on this issue? should we be calling `flatten_parameters()` in the multigpu case, or just leave it alone?

[2019-01-08 07:58] sai-prasanna commented on #1052
@joelgrus  - For my case its fixed by atexit hook in #2184

[2019-01-08 08:51] Hyperparticle commented on #2149
@matthew-z

Calling `amp_handler.scale_loss()` is an alternative to wrapping the optimizer, but this assumes there is only one optimizer. This assumption holds currently, but in the future, you may want multiple optimizers or backward passes (in which case, you must wrap the optimizer). Just something to consider.

[2019-01-08 09:01] Hyperparticle commented on #2149
Also, I ran a similar experiment with amp on/off with a Transformer-based tagger. For some reason, I'm getting ~5% slower training times on RTX with mixed precision enabled despite Transformer being most suitable for tensor cores. Tested this on a vanilla PyTorch Transformer tagger as well, and I'm seeing something similar. There's got to be some bottleneck I'm missing, as [fairseq](https://github

[2019-01-08 09:14] matthew-z commented on #2149
@Hyperparticle
In my tests, apex can achieve 1.8x speed for BERT-large model, but nearly no speed up for RNN models.

fp16 provides about 200% ~ 250% speed over fp32 in very simple matrix multiplication and CNN with V100 in pytorch. I guess some special CUDA code required to achieve more speed up (5x sounds too surprising to me)

BTW, RTX game card's tensor cores are much lower than titan or V100

[2019-01-08 11:02] rajarsheem commented on #2274
Hey, I made just two changes: When ```weight_file``` is not ```None```, only then load weights for ```_ElmoCharacterEncoder``` and ```_ElmoBiLm``` . This passes when I provide ```weight_file``` as None and ```options_file``` containing the default parameters that have been provided.

Assuming that the initializations are fine, this should work right?

[2019-01-08 11:18] rajarsheem commented on #2274
@matt-peters , Can you please explain a bit why you are suggesting to use only the top layer when one is trying to initialize and train from scratch?

[2019-01-08 11:37] rajarsheem commented on #2274
Hi, @matt-gardner , I am trying to make ```weights_file``` optional.
I noticed that there is no code for initialization of the weights for ```_ElmoCharacterEncoder``` -- only for loading is given.

How do you suggest I initialize them?

[2019-01-08 11:54] rajarsheem commented on #2274
@matt-peters Can you please explain a bit why you are suggesting to use only the top layer when one wants to initialize and train from scratch?

[2019-01-08 12:53] DumbMachine commented on #2284
If Im not mistaken, this asks for providing links for more tutorials at https://github.com/allenai/allennlp/blob/master/tutorials/README.md ?

[2019-01-08 13:23] rajarsheem commented on #2274
As a temporary solution, I have sort of re-initialized post loading the pre-trained weights:

[code]

I have kept the initializers same as what used in [bilm-tf](https://github.com/allenai/bilm-tf/blob/master/bilm/model.py)

[2019-01-08 15:09] nelson-liu commented on #2284
yeah, that file doesn't seem to contain all the available tutorials we have in https://github.com/allenai/allennlp/tree/master/tutorials/how_to

[2019-01-08 15:11] DumbMachine commented on #2284
Can I take up this issue?

[2019-01-08 15:12] nelson-liu commented on #2284
sure, go for it! thanks

[2019-01-08 17:52] matt-gardner commented on #2276
Thanks, I didn't realize the website was out of date.  PR submitted.

[2019-01-08 18:21] matt-gardner commented on #2274
That temporary solution looks fine to me, assuming you got all of the initializers right (I didn't check that).  If you're up to it, we'd also be happy to take a PR that adds in the initialization for whatever's missing it, and makes the weights file optional.

[2019-01-08 19:31] swabhs commented on #2294
Oops - I thought I removed my patch, didn't realize it was still around. `flatten_parameters()` only works for the inbuilt `pytorch` RNN, I believe. For other modules, it throws an exception. Hope that helps, @enod!

[2019-01-08 20:48] jgc128 opened #2311 "Add support for loading and saving models that were created from code"
**Describe the bug**
If a model has an `__init__(self, *args, **kwargs)` method that introduce some additional behavior (note the `*args` or `**kwargs` arguments), `Model.from_params` raises an error `ConfigurationError: 'key "kwargs" is required at location ""'`

**To Reproduce**
Run the code below:
[code]

**Expected behavior**
An object of the class SecondModel is created

**System (please comp

[2019-01-08 20:56] matt-gardner commented on #2311
Yeah, this is unfortunately expected behavior when using `from_params`.  Maybe we could do some magic in checking for `*args` and `**kwargs` in the default `from_params`, and going to a super class, or something, but that's a bunch of work that's not high on our priority list.  Contributions welcome!

[2019-01-08 20:57] matt-gardner commented on #2311
I should note that the workaround is just to duplicate all of the parameters in the subclass.  Unfortunately verbose, but it works.

[2019-01-08 20:58] joelgrus commented on #2311
isn't another solution just to explicitly implement `from_params` in the subclass?

[2019-01-08 21:00] matt-gardner commented on #2311
You mean something like this?

[code]

That returns an object of the superclass's type.  If you mean explicitly popping all of the parameters yourself in `from_params`, it's probably a lot easier to just duplicate the constructor parameters.

[2019-01-08 21:15] joelgrus commented on #2311
I see. I'm pretty sure I would like to encourage people to be explicit about their parameters anyway.

[2019-01-08 21:55] matt-gardner commented on #2311
Yeah, I agree that explicit is good.  On the other hand, if someone wants to subclass your new `SingleTaskTrainer` and tweak the constructor a bit, that's a whole lot of boilerplate they have to worry about, when standard python lets you just do `*args, **kwargs`.

[2019-01-08 22:11] matt-peters commented on #2274
+1 on the PR, this is a great addition.

[2019-01-09 03:01] #2295 closed

[2019-01-09 03:46] joelgrus opened #2314 "optimizers can't handle params set from environment variables"
this was raised in #447 with no resolution but `--overrides` as a workaround.

it should be easy enough to basically look at the params fed to an optimizer and recursively cast them: if it looks like a float, it's a float; etc...

I guess that could go wrong, but I can't think of when it would

[2019-01-09 07:45] guotong1988 commented on #1918
THX!

[2019-01-09 11:19] tahseen09 commented on #2276
I am loading my own trained model and getting the same error. Can you please tell me to overcome it?

[2019-01-09 15:02] jgc128 commented on #2311
Thank you - overriding `from_params` in the base class worked!
[code]

[2019-01-09 15:08] matt-gardner commented on #2311
Glad it worked for you! I'm pretty sure that will not work in cases where you recursively construct objects in `from_params` - you're just passing a json dictionary to the constructor, which only works for primitive objects.

[2019-01-09 15:13] jgc128 commented on #2311
Yeah - in my case I create objects (like Embeddings and LSTMs) beforehand and pass them in the extras; params contains only numerical arguments.

[2019-01-09 15:16] joelgrus commented on #2276
in the 0.8.0 release, the CrfTagger `constraint_type` parameter was renamed to `label_encoding`. But I don't think you should be getting this error in 0.7.2, can you post the full stack trace?

[2019-01-09 15:22] matt-gardner commented on #2311
Why set things up that way? If you are constructing some things yourself, why not just call the constructor directly? What does using our parameter stuff get you in your case?

[2019-01-09 15:34] rajarsheem commented on #2274
Yeah, I will probably make the changes for the PR once I get free
@matt-peters , still curious about why you suggested to use only the top layer!

[2019-01-09 17:52] apmoore1 opened #2316 "Stacked Bi-Directional LSTM to be compatible with the Seq2Vec wrapper"
**Problem/Solution:**
I would like to have an LSTM that is compatible with the [Seq2Vec wrapper](https://github.com/allenai/allennlp/blob/master/allennlp/modules/seq2vec_encoders/pytorch_seq2vec_wrapper.py) that has recurrent dropout which the [torch.nn.LSTM](https://pytorch.org/docs/stable/nn.html#lstm) does not have and can be stack-able which the [Augmented LSTM](https://github.com/allenai/alle

[2019-01-09 18:06] jgc128 commented on #2311
Well, initially I just had creation of the model in the code as described in the tutorial here: https://allennlp.org/tutorials

After I trained the model, I wanted to save it and the most logical choice seemed to be the `archive_model` [function](https://allenai.github.io/allennlp-docs/api/allennlp.models.archival.html#allennlp.models.archival.archive_model). However, it turned out that it require

[2019-01-09 18:20] joelgrus commented on #2316
that seems like a bug, I think the return should be a tuple, PR welcome 😀

[2019-01-09 18:27] schmmd opened #2317 "Update regex if Huggingface fixes a presumed bug in the OpenAI implementation"
https://github.com/allenai/allennlp/pull/2310 changed our regular expressions to match Huggingface's, but it's possible they have a bug in their regular expressions (see https://github.com/huggingface/pytorch-openai-transformer-lm/issues/48).  If https://github.com/huggingface/pytorch-openai-transformer-lm/issues/48 is resolved we should update https://github.com/allenai/allennlp/blob/a83eb8d3f22b

[2019-01-09 18:51] apmoore1 commented on #2316
PR done, thanks for the quick reply :smile:

[2019-01-09 18:53] matt-gardner commented on #2311
Ah, ok, yes, that's a really good point, and an omission that hadn't even occurred to me.  We should fix this and make a way to save and load models without config files.  This sounds very tricky, though, because when we load the model we don't know how it's configured without a config file, so the answer is probably just to save and load the state dictionary, assuming that you've constructed the

[2019-01-09 19:34] apmoore1 opened #2320 "Variational dropout in Augmented LSTM"
**This is more a question and feature/bug I think**
From what I can tell from the [Augmented LSTM](https://github.com/allenai/allennlp/blob/master/allennlp/modules/augmented_lstm.py) the same variational dropout mask is applied to the recurrent state as well as the output of each LSTM cell. I don't think this is the same dropout principal that is stated in the [reference paper](https://arxiv.org/a

[2019-01-09 20:51] matt-gardner commented on #2320
I would definitely do 2, to be consistent with our other encoders.  It's a problem if you have to change your code when you swap out a `Seq2SeqEncoders`.  PR welcome.

[2019-01-09 21:04] #2284 closed

[2019-01-09 22:35] joelgrus opened #2325 "consider using `black`"
[black](https://github.com/ambv/black) is an "uncompromising" python code formatter.

[code]

this might be preferable to trying to keep pylint happy, which is a never-ending pain. and it would be nice if formatting were consistent.

I tried running `black` on allennlp, it resulted in a huge number of changes, which you can see here:

https://github.com/allenai/allennlp/compare/master...joelgrus:b

[2019-01-09 22:43] joelgrus commented on #2325
https://ljvmiranda921.github.io/notebook/2018/06/21/precommits-using-black-and-flake8/

[2019-01-09 22:48] matt-peters commented on #2325
In my experience, making massive changes to the code base like this (56K lines of changes) make it difficult for anyone working on a fork to update their branch to the current master without resolving a large amount of merge conflicts.

[2019-01-09 22:53] joelgrus commented on #2325
in general I agree with you, but in theory they'd just have to run `black` on their code and then it would be a small diff?

[2019-01-09 22:54] joelgrus commented on #2325
although possibly not if we end up having to fix a fair number of pylint ignores 🤷‍♀️

[2019-01-09 23:20] kdexd opened #2326 "LstmCellWithProjection can't be wrapped with PytorchSeq2seqWrapper"
**Steps to Reproduce**

[code]

This is the error I get:
[code]

**Expected behavior**

The inline comments in `LstmCellWithProjection.__init__()` state that it should be fit to be wrapped by a `PytorchSeq2SeqWrapper`. I am not sure which one of the two options is feasible/sensible — removing those inline comments, or introducing support as described.

**System (please complete the following infor

[2019-01-09 23:21] matt-gardner commented on #2325
I don't really understand what we gain by using an automatic formatter, and I think we lose a lot.

My vim settings automatically do everything pylint wants, except for "bad practice" things that an automatic formatter wouldn't catch anyway.  I presume that any reasonable IDE can be similarly configured to format code in a way that pylint is happy with.  So I don't really see what practical benefi

[2019-01-10 01:50] brendan-ai2 commented on #2265
Thanks for the links, but I can't easily reconcile this with your stack trace.

- Neither of the files you linked matches the line `self._projection(query_antecedent)` in the stack trace.
- It's not immediately clear where `multihead_attention` (which calls `compute_qkv` which contains the line you linked as being broken) is called.

If you could provide a full stack trace matching the linked code

[2019-01-10 02:57] robbine commented on #2265
sorry, my bad. I've made several commits since then. changing from `self._projection(query_antecedent)` to `query_projection(query_antecedent)` is one of those.
Also `multihead_attention` is called from https://github.com/robbine/allennlp-as-a-library-example/blob/5b1e4e74b2ee11d7c8502cc61c8c5d46302ca7c9/my_library/modules/seq2seq_encoders/multi_head_attention.py#L188
The good news is that the pro

[2019-01-10 13:58] sidneyaraujomelo opened #2328 "Feeding new sentences to enhance a existing model"
Hello. First, thanks a lot for this amazing library! I'm beginning to study NLP and so far I'm having a very nice experience with AllenNLP.

My question is about feeding new data to a model in order to enhance it.
For example, I trained a model for a tagging sentences using allennlp.train and that took some time. Now, I've got lots new sentences that I want to feed to this existing model so that i

[2019-01-10 14:26] WrRan opened #2329 "doing archive surgery from cmdline"
**Is your feature request related to a problem? Please describe.**
It relates to #2223, but I want to modify a model.tar.gz from cmdlines instead.

**Describe the solution you'd like**
I am working on it (https://github.com/WrRan/allennlp/blob/f9ca812d16f572fe08021fc5fb7d225ce579e994/scripts/archive_surgery.py). And now it allows users to modify the config file in model.tar.gz:
- adding a new key-

[2019-01-10 15:32] matt-gardner commented on #2328
First, you should upgrade to a more recent version of allennlp - it's really hard for us to support old versions.  We're currently at 0.8.1.

Second, does the `fine-tune` command do what you want?

[2019-01-10 15:41] sidneyaraujomelo commented on #2328
That's exactly what I need, I think I just missed it when looking through the documentation. Thanks a lot!

[2019-01-10 15:41] #2328 closed

[2019-01-10 16:18] jgc128 commented on #2311
That's great! `jsonnet` can solve some problems, but the configuration file would still be pretty big and not easily maintainable.

You'd have to save the configuration parameters somewhere by yourself. Right now I copy my config file to the serialization dir. It would be great to have a way of automatic creation of the config file for the model create from the code. I understand, although, that i

[2019-01-10 17:40] joelgrus commented on #1052
I see. What is the desired behavior here? If you're working from a serialization dir, then necessarily you don't have those files archived?

So one simple solution would be that if you're passed in a directory, we simply don't do that replacement. But is that the behavior you want?

[2019-01-10 17:47] DeNeutoy commented on #1052
Yeah, i'm not sure, which is partly why I haven't fixed it. I think that would work? It doesn't support the case that you move the folder around, but in that case you should probably be using a model archive anyway.

[2019-01-10 19:06] asaluja opened #2333 "Separate embedders for multiple inputs"
**System (please complete the following information):**
 - OS: Linux
 - Python version: 3.6.5
 - AllenNLP version: 0.7.1
 - PyTorch version: 0.4.1

**Question**
I have a multi-modal model of sorts (two different types of inputs) - the first is a standard text input, and the second input is a set of tags associated with the instance e.g., "genre:horror" or "tone:dark".

As a first step, I want to u

[2019-01-10 19:44] #1456 closed

[2019-01-10 19:46] nelson-liu commented on #2326
I think introducing support (by enabling `forward` to take `PackedSequence` input) would be the right fix here.

[2019-01-10 19:57] #2314 closed

[2019-01-10 20:06] joelgrus commented on #2333
by default the instantiation of `Embedding.from_params` assumes that you want to use the "tokens" namespace of your vocabulary as the number of embeddings:

https://github.com/allenai/allennlp/blob/master/allennlp/modules/token_embedders/embedding.py#L176

in the second embedding config, add another key

[code]

and that should do what you want.

it's unfortunate that this isn't more discoverable.

[2019-01-10 20:06] #2333 closed

[2019-01-10 20:17] brendan-ai2 commented on #2265
Excellent, I'm glad it worked out! Marking this as closed, but do let us know if you hit other issues. Cheers!

[2019-01-10 20:17] #2265 closed

[2019-01-10 20:17] epwalsh opened #2334 "Feature request: momentum schedulers"
Hey all,

I think it would be useful if we had a similar framework for momentum schedulers as we do for learning rate schedulers. The implementation would probably be pretty easy, and almost identical to the learning rate schedulers since the `momentum` value is just stored alongside the learning rate in each `param_group` dict. This would allow someone to imitate Leslie Smith's 1 cycle policy, fo

[2019-01-10 21:16] matt-peters commented on #2334
Is this as simple as implementing a new "learning rate scheduler" that instead of modifying the learning rate instead changes the momentum?  Or does this require introducing a new abstraction and API for momentum scheduling?

[2019-01-10 21:32] epwalsh commented on #2334
@matt-peters it could be. It might also make sense to create something like a "BaseScheduler" that both the learning rate and momentum schedulers could inherit from, then it's just a matter of which field in the `param_group` to update

[2019-01-10 21:38] matt-peters commented on #2334
Makes sense.  This would be a good addition, I'm on board 👍

[2019-01-10 22:13] tingkai-zhang opened #2335 "Make `tokens_to_add` accept file path as signature in `OpenaiTransformerBytePairIndexer`?"
Hi, I have a task that will add many special tokens to the vocabulary. Some of the special tokens are stored as `List` in a pickle file. Some of the special tokens are like '\_start\_' and '\_calssify\_'.

The `tokens_to_add` signature in `OpenaiTransformerBytePairIndexer` only requires `List[str]`, which means i can't modify the json file to make it work.

https://github.com/allenai/allennlp/blob

[2019-01-10 23:31] asaluja commented on #2333
Thank you! Yes I did look around quite a bit for a line like that but I missed it.

[2019-01-11 05:24] brendan-ai2 opened #2337 "Checks for files break when used with globs."
This PR adds checks for filepaths in `train.py`: https://github.com/allenai/allennlp/pull/2308

Unfortunately, dataset readers can interpret the path string in different way. The MultiprocessDatasetReader, in particular, expects a glob.

We should revert PR #2308 and add a test that actually trains with the MultiprocessDatasetReader.

Trace:
[code]

[2019-01-11 05:27] nelson-liu opened #2338 "Make AllenNLP work with pip3 / python3"
It seems like, if your system has `python` linked to python 2.x and `python3` linked to python 3.x, the `allennlp` command fails because it implicitly calls `python` (and thus tries to run allennlp with python 2.x). It should be possible to fall back to `python3` if `python` is detected to be python 2.x?

[2019-01-11 05:43] kdexd commented on #2326
I'll be happy to take this up after 23 January if it still remains open. If someone is willing to take it up before that, feel free to.

[2019-01-11 06:34] nelson-liu commented on #2338
hmm, that logic would have to go in https://github.com/allenai/allennlp/blob/master/bin/allennlp , which is a bash executable. maybe this is also affected by https://github.com/allenai/allennlp/pull/2232

[2019-01-11 06:34] joelgrus commented on #2338
our instructions are pretty explicit about setting up a Python 3.6 virtual environment. is it still possible to run into this problem if you do that?

[2019-01-11 06:37] nelson-liu commented on #2338
no, it isn't. Context is that several students in the nlp class at uw have side-by-side installs of python 2 and python 3, and they're all running into issues when they try to `pip3` install. we're recommending that they just go use conda, but it might be nice to make this work as well? if it's nontrivial, it's no big deal. Just seems like a rather odd limitation of the library, that `python` has

[2019-01-11 14:25] raghadsuliman opened #2340 "Elmo embeddings to find most similar words"
Hi,

I know that ELMo is intended to be used with  downstream tasks, but I am working on a task to find to similar/related words to a given word. I used to experiment with word2vec to find most similar/closer words to a given word in the embedding space according to cosine similarity.  However, I am wondering if it is possible to approach the problem using ELMo model as a source to find most simil

[2019-01-11 14:56] nelson-liu opened #2341 "A list of all classes -> names they're registered as would be useful"
Maybe this is me, but I've realized that it's pretty hard to figure out what various classes are registered as unless you go spelunking into the actual library code.

We should expose this information in a more user-friendly manner (and something simpler than running the config wizard), maybe a list in the docs or something?

[2019-01-11 14:56] nelson-liu commented on #2341
also: it seems like the docs for the classes themselves don't mention what they're registered as in the library, so it would be great to add that as well.

[2019-01-11 15:04] matt-gardner commented on #2341
We can clearly auto-generate this, as the config wizard does it. So whatever the solution is, it should not be maintained by hand.

[2019-01-11 15:10] joelgrus commented on #2341
[code]

😉

[2019-01-11 15:52] DeNeutoy commented on #2341
Could be good to expose this as a high level api, e.g:

[code]
or something similar

[2019-01-11 16:33] joelgrus commented on #2341
for the second, probably makes sense to add it as a method on Registrable itself, so you could do like

[code]

or something like that (probably with a better name)

the challenge for the former is that they're not "known" until those modules load, so if you just `import allennlp` top level the registry is empty, so we'd have to do something ugly to force loading.

[2019-01-11 16:36] DeNeutoy commented on #2341
Maybe that's overkill and we just need something in the docs.

[2019-01-11 16:41] schmmd commented on #2340
@raghadsuliman yes it is possible.  Using ELMo will be quite similar to word2vec, but with the benefit that ELMo takes a words context into consideration.

[2019-01-11 16:41] #2340 closed

[2019-01-11 16:44] schmmd commented on #2338
It'd be nice to fix if there's a clear solution.  I wonder if https://github.com/allenai/allennlp/pull/2232 addresses this at all.  I have not tried it out, but it doesn't explicitly call `python` so it might not have the same issue.

[2019-01-11 16:46] schmmd commented on #2329
@WrRan what do you mean by edit "from cmdlines instead"?

Do note that @joelgrus had quite a different solution back in the version history.  We decided that popping into a text editor would be easier.

[2019-01-11 16:54] schmmd commented on #2325
I'm a huge proponent of having an automatic formatter that's external to IDEs.  It gives everyone a formatter that conforms to our guidelines, rather than requiring each to configure their environment to conform to PyLint.  PyLint is also exceedingly slow and has some quite bizarre suggestions which do not make the code look reasonable to this human (particularly when indenting JSON).

I previousl

[2019-01-11 17:48] vinayshekharcmu opened #2342 "Hi,"
Please first search our GitHub repository for similar questions.  If you don't find a similar example you can use the following template:

**System (please complete the following information):**
 - OS: [e.g. OSX, Linux]
 - Python version: [e.g. 3.6.1]
 - AllenNLP version: [e.g. v0.8.1, or "I installed from master"]
 - PyTorch version: (if you installed it yourself)

**Question**
Ask about somethin

[2019-01-11 17:48] vinayshekharcmu opened #2343 "How do I access the input token representation and representation from the first hidden layer in elmo?"
I am unable to understand how to use the character embedding when I have to scale the vectors. ELMO embeddings given by the default code has 1024 dimensions. I am guessing this is because of the concatenation of the last layer in the BiLm. If I want to use all the layers including the character convolution layer, how do I access it?

I am using the following piece of code as present in the github

[2019-01-11 17:54] matt-gardner commented on #2329
I think @WrRan is suggesting that the original solution was preferable.  @WrRan, if you like that solution, you could easily get the file from that PR and include it in your repo.

[2019-01-11 17:56] #2342 closed

[2019-01-11 18:00] vinayshekharcmu commented on #2342
Sorry for the typo. Accidentally created the issue. I closed it now. Please delete it.

[2019-01-11 18:52] sai-prasanna opened #2346 "Update pretrained BERT to fix unwanted log handler being attached issue."
When `allennlp.data.tokenizers.word_splitter` is imported, it imports from `pytorch_pretrained_bert.tokenization`

https://github.com/allenai/allennlp/blob/236876017ada9eba060106ca02394c9d6c09605b/allennlp/data/tokenizers/word_splitter.py#L8

In the current version (0.3.0) of `pytorch_pretrained/tokenization.py` , a logging handler is attached to root logger using logger.basicConfig.

This makes a

[2019-01-11 19:30] matt-peters commented on #2340
Yes, you can use the contextual representations from the ELMo biLM compute contextual similarity.  See e.g. the word sense disambiguation experiments in the paper (https://aclweb.org/anthology/N18-1202, Table 5) that uses a simple nearest neighbor approach.

[2019-01-12 05:13] WrRan commented on #2329
Sorry about my unclear statement. :sob:

When I tried to squelch warnings caused by #2309, I found the script `scripts/archive_surgery.py` (#2223) helpful. But at first I thought it might be more convenient to edit the configuration file in the archive without launching the editor, so I edited the script so that we can edit it like this.
[code]

However, I find this "enhancement" may be kind of un

[2019-01-12 06:17] matt-gardner commented on #2329
For small things, it is just fine to skip opening an issue and just submit a PR. That's easier on us, because it is fewer emails to deal with. For bigger changes, it's a good idea to ask us about them first, so you don't end up doing a bunch of work that needs fixing, or that isn't going to be accepted anyway.

[2019-01-12 06:18] matt-gardner commented on #2329
Also, I think your original issue has been resolved, so I'm going to close this. Feel free to reopen if you think there's more here.

[2019-01-12 06:18] #2329 closed

[2019-01-12 11:51] r3dir3ct opened #2348 "param_file reader can't deal with unrelated environment variable which contains non utf-8 character"
**Describe the bug**
when I trained with `allennlp train some_config_file -s results_dir --include my_library`,
the program crashed and reported `UnicodeEncodeError: 'utf-8' codec can't encode characters in position 7-12: surrogates not allowed`. The weird thing was, it's ok when I run with Pycharm remote interpreter（my local machine is MacbookPro, and remote server is Linux).

Then I found that i

[2019-01-12 22:21] stefan-it opened #2351 "Embeddings from ELMo Transformer"
Hi,

I have the following question regarding to the ELMo transformer model. I trained an own model and a `model.tar.gz` was created successfully :)

With the "normal" ELMo model I would do the following to get the embeddings:

[code]

Could you provide a small snippet of how to get the embeddings from a transformer-based ELMo model 🤔

---

Some more questions:

* The `model.tar.gz` contains `confi

[2019-01-13 18:09] #2287 closed

[2019-01-14 09:04] brandyljy commented on #1486
Hi, have you fixed this issue? I'm facing the exact same one.

[2019-01-14 09:45] Hyperparticle commented on #2233
I'm having trouble integrating BERT into my POS tagger model. I think my trouble stems from the fact BERT uses wordpieces: the output doesn't match what the input of the POS model expects, i.e., one embedding per word. I believe that is what the `offsets` parameter can be useful, but it's not entirely clear to me how to configure it properly.

It would be much clearer if there were an example in A

[2019-01-14 11:53] guotong1988 opened #2353 "How to edit the config for CoQA, Thank you!"
**System (please complete the following information):**
 - OS: [e.g. OSX, Linux]
win10
 - Python version: [e.g. 3.6.1]
3.6
 - AllenNLP version: [e.g. v0.8.1, or "I installed from master"]
master
 - PyTorch version: (if you installed it yourself)
1.0.0

**Question**
* I search the keyword 'coqa' and can not find something.

[2019-01-14 11:58] guotong1988 opened #2354 "Where is the code for abstractive answer? Thank you very much!"
![image](https://user-images.githubusercontent.com/4702353/51111263-862e6980-1836-11e9-87ab-b9f32f181bb4.png)

**System (please complete the following information):**
 - OS: [e.g. OSX, Linux]
win10
 - Python version: [e.g. 3.6.1]
3.6
 - AllenNLP version: [e.g. v0.8.1, or "I installed from master"]
master
 - PyTorch version: (if you installed it yourself)
1.0.0

**Question**
* I read the `dialog_qa

[2019-01-14 14:59] joelgrus commented on #2233
there's not an example per se, but here's the config I used to train the NER model using BERT embeddings:

https://gist.github.com/joelgrus/7cdb8fb2d81483a8d9ca121d9c617514

hopefully that's helpful

[2019-01-14 15:06] Chuanqi1992 opened #2355 "How to set the configuration file for using bert"
Is there an example file for using bert with the configuration file?

For example, in a sequence tagging task, how to modify the configuration file in
(allennlp/tutorials/getting_started/walk_through_allennlp/simple_tagger.json) to change the lstm encoder with the embedding to the bert pretrained model?

Could you please show me an example?
1. the sentence is original without split to word piece.

[2019-01-14 15:17] joelgrus commented on #2355
here's the config I used to train an NER model using BERT embeddings, hope that's helpful:

https://gist.github.com/joelgrus/7cdb8fb2d81483a8d9ca121d9c617514

[2019-01-14 15:17] #2355 closed

[2019-01-14 15:54] Chuanqi1992 commented on #2355
Thanks very much!
It is really helpful!

[2019-01-14 16:24] schmmd commented on #2329
@WrRan don't worry about it--your English is much better than my Chinese!  When communicating online I ask for clarification when I don't understand since otherwise I might interpret incorrectly (and it's really easy to miscommunicate online).  Your follow up was very clear, thank you.

[2019-01-14 16:37] tbmihailov opened #2356 "SRL model trained with ELMo Small"
Is the SRL model trained with ELMo Small [1] available for download for use with AllenNLP? If not, do you have an estimation of how much time (epochs and time) would it take to train it from scratch with ELMo Small?

[1] https://allennlp.org/elmo

[2019-01-14 16:59] schmmd commented on #2356
@tbmihailov I don't think we have such a model available and I think it takes several days to train, but @DeNeutoy can follow up with a more authoritative answer.

[2019-01-14 17:24] matt-gardner commented on #2354
Hi @guotong1988.  We did not write the CoQA paper or any model for it.  I suggest you ask Siva Reddy, the main author of the CoQA paper, for the code that he used.  Though, I also suggest giving more detail in any question you send to him - it's hard to answer such a vague request.

[2019-01-14 17:24] #2354 closed

[2019-01-14 18:04] joelgrus commented on #2348
I'll create a fix for this. In the meantime, I *think* you could workaround by overriding that env variable as part of your command, e.g.

[code]

[2019-01-14 18:16] DeNeutoy commented on #2353
This question is too broad - please read some of our documentation/tutorials, find out which model you want to change and then re-open this issue.

[2019-01-14 18:16] #2353 closed

[2019-01-14 20:56] matt-peters commented on #2351
See: https://github.com/allenai/allennlp/blob/master/tutorials/how_to/training_transformer_elmo.md#using-transformer-elmo-with-existing-allennlp-models

The transformer and LSTM architectures are sufficiently different that it is not possible to convert the torch `weights.th` to hdf5 and use the `ElmoEmbedder`.

[2019-01-14 21:56] stefan-it commented on #2351
Thanks for the explanation :) Unfortunately, the Transformer ELMo documentation only shows how to this via a `jsonnet` configuration. But how can this be done programmatically using the API?

[2019-01-15 00:43] brendan-ai2 commented on #2351
Hey @stefan-it, here's a code snippet:

[code]

Two things to note:

1) This sidesteps our data loading and batching mechanisms for brevity. In case you or another reader aren't familiar with them, we have a tutorial at https://allennlp.org/tutorials that ties together our various abstractions.

2) The `BidirectionalLanguageModelTokenEmbedder` returns a scalar mix of the layers in the language mod

[2019-01-15 01:20] guotong1988 commented on #2354
Thank you very much!

[2019-01-15 01:20] guotong1988 commented on #2353
Thank you very much!

[2019-01-15 01:36] guotong1988 commented on #1968
Thank you. Same question: The eval of ELMo speed.

[2019-01-15 03:52] enod commented on #2294
@nelson-liu / @brendan-ai2
I've added `self. flatten_parameters() ` on forward method and now the warning is gone.

[2019-01-15 06:21] robbine opened #2360 "How does allennlp support transfer learning ?"
I trained a bert model using some Chinese article data with a Chinese dataset reader and a masked LM loss. Now my new task is a ner problem which I hope to introduce the transformer part from the bert model , Does allennlp support this kind of transfer learning ? Obviously ner problem requires a different dataset reader and crf loss.
torch provides load/save function like this
`checkpoint = torch.

[2019-01-15 12:53] #2348 closed

[2019-01-15 15:38] matt-gardner commented on #2360
I would recommend using the [`pretrained` initializer](https://github.com/allenai/allennlp/blob/6bd59751e994f18251f69ed432c5f045991c90ed/allennlp/nn/initializers.py#L193-L233) (introduced in #2043).

[2019-01-15 20:18] nijianmo opened #2362 "Coding scheme "BIO" corresponds to IOB2 format?"
https://github.com/allenai/allennlp/blob/6bd59751e994f18251f69ed432c5f045991c90ed/allennlp/data/dataset_readers/conll2000.py#L51

I found there are different coding scheme defined in conll2000.py ("BIO") and conll2003.py ("IOB1"). The naming of code schemes is not very consistent. Does "BIO" correspond to the IOB2 format?

Thanks!

[2019-01-15 20:49] HarshTrivedi opened #2363 "Add support for extending Embeddings/Embedders with Extended Vocabulary."
## Problem

In fine-tuning/transfer-learning scenarios, one needs to extend the original vocabulary with vocabulary from new dataset. This already has support (#1416). However, we also need to make the original model compatible with the new extended vocabulary, or else it results in issues like (#1596): Eg. model's embedding matrix is the size of original dataset vocabulary, but the indexing of ne

[2019-01-15 23:32] #2251 closed

[2019-01-15 23:57] #2346 closed

[2019-01-16 00:39] brendan-ai2 commented on #2325
tl;dr:

1) I like auto-formatters in principle.
2) No opinion on `black` in particular.
3) Global cleanup reduces the utility of `git blame`.

I think 3) is actually very important. So much so that I'd prefer we not introduce an auto-formatter if the only way was to hit every file. I recall a rule from a previous employer that was something along the lines of "Only make style fixes if you fully gr

[2019-01-16 00:50] matt-gardner commented on #2325
More context on "care and domain understanding": consider this block of code: https://github.com/matt-gardner/allennlp/blob/1702b4c2314b58d9cd1c042e0dbc19235f364a66/allennlp/tests/semparse/domain_languages/wikitables_language_test.py#L612-L621

One of the items in that list is too long.  How would an automatic formatter handle it?  I'm not really sure, but almost certainly in a different way than

[2019-01-16 01:08] schmmd commented on #2325
@matt-gardner you can disable the formatter too ;-)

[2019-01-16 01:54] brendan-ai2 commented on #2325
Thanks, @matt-gardner. That's a useful example. I do like the formatting you used there. `black` turned that into:

[code]

Not as clean as yours certainly, but perhaps an acceptable tradeoff for consistency and time savings. As @schmmd points out, the following works too:

[code]

[2019-01-16 01:54] vha14 commented on #2325
+1 to auto-formatter. The downside of dumb behavior is rare, and even if
happens, let's take it in strides and avoid being a beauty nazi. Fast.ai's
code is ugly as hell to me but I quickly learned to tune it out.

Thumbdown to pylint - still having PTSD from briefly trying it. Slow,
buggy, not up-to-date on recent Python versions. The list goes on.

On Tue, Jan 15, 2019 at 5:08 PM Michael Schmitz

[2019-01-16 03:13] matt-gardner commented on #2325
@brendan-ai2, you're giving `black` an unfair advantage - I already broke up the string. What it started out as was a single string that was way too long for the line. I'm guessing `black` would have done crazy rearrangement of the preceding lines to make it fit.

But, to make this practical: it seems like there is enough opposition to using `black` as-is on the whole codebase that it's a non-star

[2019-01-16 10:14] stefan-it commented on #2351
Thanks so much! It is perfectly working :) Whenever I'll have questions about getting access to specific layers, I'll open a follow-up issue!

[2019-01-16 10:14] #2351 closed

[2019-01-16 13:03] fengliangwang commented on #2276
hi @joelgrus,
when I use https://s3-us-west-2.amazonaws.com/allennlp/models/fine-grained-ner-model-elmo-2018.08.31.tar.gz, I get the same error , any model updated?

[2019-01-16 13:04] fengliangwang commented on #2276
hi @joelgrus,
when I use https://s3-us-west-2.amazonaws.com/allennlp/models/fine-grained-ner-model-elmo-2018.08.31.tar.gz, I get the same error , any model updated?

[2019-01-16 14:43] phimit commented on #1289
The tricky part right now is providing a config during save for a custom model. I cant even find an example.

[2019-01-16 15:02] joelgrus commented on #2276
sorry, use

https://s3-us-west-2.amazonaws.com/allennlp/models/fine-grained-ner-model-elmo-2018.12.21.tar.gz

[2019-01-16 15:03] joelgrus opened #2368 "check to make sure `allennlp.pretrained` models aren't stale"
maybe we should replace our sniff test with a test that does this?

(right now the `fine-grained-ner` pretrained model is pointing at an old archive)

[2019-01-16 15:05] joelgrus commented on #2368
should be pointing at

https://s3-us-west-2.amazonaws.com/allennlp/models/fine-grained-ner-model-elmo-2018.12.21.tar.gz

[2019-01-16 15:15] matt-gardner commented on #2368
It'd be good to also check the website models somehow...

[2019-01-16 16:09] matt-gardner commented on #2363
This general approach seems reasonable to me.  I'd probably tweak the name a bit (I'd prefer `extend_embedder_vocabulary` or `extend_embedder_vocab`), but it looks like it should work.  We know when we extend the vocabulary with new data, and we can call this method in those places.  Seems ok.

The only issue is making this also work with, e.g., pre-trained glove vectors.  If you initialized your

[2019-01-16 16:12] matt-gardner commented on #2363
We could even be fancy about it and not make concrete `Models` have to implement this method at all.  You could use pytorch's module registration to just look at all of the modules on `self`, see if they have an `extend_vocabulary` method, and call it if they do.  Except you'd also have to know what namespace they use, which is problematic.  Hmm, maybe this wouldn't work...

[2019-01-16 17:05] HarshTrivedi commented on #2363
Sure, I'ill change the name.

Let me see if I can weave in pre-trained glove initialization for extension in this PR.

What you suggest (in next comment) should work. But register-hook might be unnecessary; might be better to discuss it in PR. Knowing what `namespace` was used at the time of construction of `TokenEmbedder` like `Embedding` is necessary to extend it correctly. But we haven't been s

[2019-01-16 19:00] matt-gardner commented on #2363
Getting the glove initialization is hard, because you have to save the glove file to the model archive, then re-read it later.  I would definitely recommend leaving it for a subsequent PR; it'll have a lot of moving pieces.

[2019-01-16 19:56] rajarsheem opened #2371 "embeddings are different on same input: is this common?"
The embeddings are slightly different when run on same input multiple times. Can you please explain why? Am I missing something?

[code]

Output:

[code]

[2019-01-16 21:07] matt-peters commented on #2371
See https://github.com/allenai/allennlp/blob/master/tutorials/how_to/elmo.md#notes-on-statefulness-and-non-determinism

[2019-01-16 21:07] #2371 closed

[2019-01-16 21:43] rajarsheem commented on #2371
Thanks, got it.

On Thu, Jan 17, 2019, 02:38 Matthew Peters <notifications@github.com wrote:

[2019-01-16 21:45] hohoCode opened #2372 "Possible problem in BERT tokenizer."
I do not understand this line in BertTokenizer:
from pytorch_pretrained_bert.tokenization import BasicTokenizer as BertTokenizer

This only does basic tokenization instead of Bert's WorldPiece/BPE tokenization.

Shouldn't this just be?
from pytorch_pretrained_bert.tokenization import BertTokenizer

[2019-01-16 21:51] matt-gardner commented on #2372
For BERT, we split tokenization into two steps: splitting sentences into words, then splitting words into wordpieces.  We do this because it matches the rest of our API better.  You can see the code for doing the wordpiece tokenization in [this class](https://github.com/allenai/allennlp/blob/master/allennlp/data/token_indexers/wordpiece_indexer.py).

[2019-01-16 21:51] #2372 closed

[2019-01-16 22:50] schmmd commented on #2368
@joelgrus by stale do you mean "load without an exception"?

I'd like to merge https://allennlp.org/models with the demo so we don't list the models in too many places.  This would also give us a way to test them out (we actually execute them in the demo).

[2019-01-16 22:58] joelgrus commented on #2368
yes, I mean load without an exception

[2019-01-16 23:33] brendan-ai2 opened #2373 "Fix LanguageModel API to easily handle bidirectional contextualizers."
**Is your feature request related to a problem? Please describe.**
Currently `LanguageModel` takes a single contextualizer. All our normal `Seq2SeqEncoder`s work here in the unidirectional case. In the bidirectional case, however, our normal `Seq2SeqEncoder`s are broken when they contain more than one layer. See https://github.com/allenai/allennlp/blob/master/allennlp/models/language_model.py#L61.

[2019-01-16 23:34] brendan-ai2 commented on #2373
fyi @nelson-liu

[2019-01-16 23:59] matt-gardner commented on #2373
Quick note: you'd definitely need two `Seq2SeqEncoders`, otherwise you'd have a single encoder with backward and forward parameters tied, which is almost certainly not what you want.

[2019-01-17 01:03] brendan-ai2 commented on #2373
@matt-gardner, sorry I was unclear. What I meant was two _types_ of encoders vs one type of encoder. We very definitely need to instantiate two different instances. :)

[2019-01-17 01:06] brendan-ai2 commented on #2373
Updated description: "It would accept an underlying `Seq2SeqEncoder` that would be duplicated to prevent parameter sharing or perhaps two entirely separate encoders."

[2019-01-17 01:41] anna-anisienia commented on #2159
thank you very much!

[2019-01-17 01:41] #2159 closed

[2019-01-17 01:42] fengliangwang commented on #2276
Thanks

[2019-01-17 07:06] rajarsheem commented on #2371
I tried to pass a single batch multiple times to my fine-tuned elmo for warming it up and then started making the actual predictions on a different batch. When the second batch was fed multiple times, the predictions were highly varying. Do you know why this might be happening?

[2019-01-17 09:48] rajarsheem commented on #2371
One more thing I wanted to add:
embeddings are mostly consistent when I do the same above thing with the public pre-trained elmo model and not my fine-tuned one.

[2019-01-17 13:49] ynandwan opened #2377 "How to create config.json automatically from in-memory objects in order to archive the model?"
**Question**
I followed the tutorial at https://allennlp.org/tutorials and at the end of it, I have a model object. I now want to archive it to be able to use later. However, archiving it (using ``` archival.archive_model```) requires a config file in the serialization directory. Is there a way to create the config file from all the objects(model, vocab etc) that I have in memory?

[2019-01-17 13:57] robbine opened #2378 "Save embedding when training is done or add a command to extract embedding from weighs file"
Is it possible to save embedding file when train is done ? perhaps we can add an option to specify whether to export trained embeddings and save it in a zipped file. so that we can share it with others.
Or more generally we can add an allennlp command to do the job. for example "allennlp export-embedding" to extract from a serialization folder.

[2019-01-17 14:07] robbine commented on #2360
Thanks ！
I guess all I need is to modify my training config file.
Does it mean to put the following part in the 'model' section ?
`"initializer" : ["linear_1.weight|linear_2.weight",
           {
               "type": "pretrained",
               "weights_file_path": "best.th",
               "parameter_name_overrides": {
                   "linear_2.weight": "linear_3.weight"
               }

[2019-01-17 15:20] matt-gardner commented on #2360
I suggest you look through the documentation and/or code to figure out what exactly those parameters do, then try to modify them for your particular use case.  Those values certainly won't work for you without modification.

[2019-01-17 15:22] matt-gardner commented on #2378
This would be pretty easy to do in a script yourself, if you know what your model looks like, and basically impossible to do in general, for any model.  If you're interested in this functionality, just write a script to do it.

[2019-01-17 15:22] #2378 closed

[2019-01-17 15:31] joelgrus commented on #2377
no, there's no way to do this. (there's no explicit specification for what a config file looks like, its structure is implicitly defined by the `from_params` methods, and even if you had that structure there's still be no programmatic way to extract that data from your classes).

what probably should be done is

(1) add a final section to that tutorial about how to save the weights and vocabulary

[2019-01-17 15:31] #2377 closed

[2019-01-17 15:33] joelgrus opened #2379 "intro tutorial should include serialization + config files"
people using the intro tutorial are confused (rightly so) about how to serialize the model and re-use it later. we could

(1) add a section at the end about saving it explicitly, and then
(2) point people to the config file section of the readme, and also
(3) caveat the tutorial with "this isn't how you'd do things in practice" (which is in the README.md tutorial but got lost in translation)

see

[2019-01-17 17:36] schmmd commented on #2252
@brendan-ai2 is planning on putting together a proposed deprecation policy--I thought I'd wait for that before moving forward on this (plus I'm not sure why I self-assigned exactly).

@nelson-liu how would you change the warning text?

[2019-01-17 17:38] nelson-liu commented on #2252
@schmmd i'd add to the version it was deprecated, and the version it will be removed, just so folks have a heads up

[2019-01-17 17:39] nelson-liu commented on #2252
and ok, sounds good! looking forward to it @brendan-ai2 , let me know if i can be of help.

[2019-01-17 18:10] pitrack opened #2380 "default coref model performance issue?"
**Describe the bug**
On both 1) py3.6.8+allennlp0.8.0+pytorch1.0.0 and 2) py3.7.1+v0.8.1+pytorch0.4.1, coref model results in low dev/test `coref_f1` scores with the out-of-the-box `coref.jsonnet` config file, e.g.
(from config 1; cpu/gpu info removed)
[code]

or (from config 2)
[code]

**To Reproduce**
Fresh install allennlp+pytorch (in my case, these are in a conda environment; allennlp was pip

[2019-01-17 18:14] nelson-liu commented on #2380
hmm, i remember from investigating #1545 that the loss should be much lower...will look into it.

[2019-01-17 19:14] nelson-liu commented on #2380
i must have misremembered, sorry. i think this is actually intentional, this is the output from the pretrained coref model we have (https://allennlp.org/models):

[code]

it's known that we're off from the 67.2 reported in the elmo paper, see https://github.com/allenai/allennlp/blob/master/tutorials/how_to/elmo.md#reproducing-the-results-from-deep-contextualized-word-representations for more detai

[2019-01-17 19:32] pitrack commented on #2380
Thanks for checking it out! I assumed the other thread resolved to something much higher - I didn't expect the difference between this implementation and the original Lee model to be this large.

[2019-01-17 21:47] nelson-liu commented on #2380
Yeah, unfortunately the implementation here is missing quite a few features vs. the original code / isn't as memory-efficient, so we need to use less antecedents. closing this now, feel free to reopen if you have further questions.

[2019-01-17 21:47] #2380 closed

[2019-01-17 22:45] zhaoyanpeng opened #2382 "incompatible with py 3.7.x"
ImportError: cannot import 'CallableMeta' and 'GenericMeta' from 'typing'. See line 2 in `allennlp/allennlp/semparse/domain_languages/domain_language.py`.

Reason: `typing` module in 3.7.x deprecated 'CallableMeta' and 'GenericMeta'.

[2019-01-17 22:54] asaluja opened #2383 "Only compute metric on validation set"
**System (please complete the following information):**
 - OS: Linux
 - Python version: 3.6.5
 - AllenNLP version: 0.7.1
 - PyTorch version: 0.4.1

**Question**
I have defined a particular metric that is expensive to compute. I don't need to compute it during training, so I'd only like to compute the metric on the validation set. Is there a way I can put this into the config file?

Thanks,
Avneesh

[2019-01-17 23:38] nelson-liu commented on #2291
usually the `from_params` logs all of the things that go in, no? I don't think this happens for `Vocabulary` and `min_count`

[2019-01-17 23:41] asaluja commented on #2383
Thanks this answers the question. A follow-up - I wasn't aware of a class variable `self.training` as this is not easily discoverable. Where/how exactly is this set (for my own curiosity)?

[2019-01-17 23:41] joelgrus commented on #2291
the last experiment I ran (which was a month) ago, it was logged

[code]

it's hard to see why it wouldn't be now

[2019-01-17 23:43] schmmd commented on #2291
It's also in https://beaker-internal.allenai.org/ex/ex_rkb1qj35ejqt/tasks which I got from http://model-ci.allennlp.org/ (click on a data point to launch the Beaker experiment).

[2019-01-17 23:45] joelgrus commented on #2383
this is a feature of `torch.nn.Module` (which our `Model` is a subclass of)

when you call `model.train()` it's set to true, and when you call `model.eval()` it's set to false. these both happen in the trainer.

https://pytorch.org/docs/stable/nn.html#torch.nn.Module.train

[2019-01-17 23:45] #2383 closed

[2019-01-17 23:48] schmmd commented on #2306
I made a PR for your first point, but in general PRs are welcome!

[2019-01-17 23:51] schmmd commented on #2379
Also related: https://github.com/allenai/allennlp/issues/2311

[2019-01-17 23:58] schmmd commented on #2152
Closing due to inactivity.  Feel free to re-open @susht3 if this is still a concern of yours.

[2019-01-17 23:58] #2152 closed

[2019-01-17 23:58] schmmd commented on #2147
Closing due to inactivity.

[2019-01-17 23:58] #2147 closed

[2019-01-18 00:00] schmmd commented on #2146
@qiuwei we hope to see a PR from you.  Feel free to re-open if you have any more questions about how to contribute!

[2019-01-18 00:00] #2146 closed

[2019-01-18 01:12] matt-gardner commented on #2382
Ack, I'll look into this, thanks for letting me know.  I thought our CI was running on python 3.7, but I guess not.

[2019-01-18 03:08] robbine commented on #2360
Sure, Thanks ! This method works!
One more advice would be to add a parameter to specify which device the pretrained model is loaded .
Or else an exception is raised if cuda device is busy.
torch.load has a map_location parameter to do this.

File "/anaconda3/lib/python3.7/site-packages/allennlp/nn/initializers.py", line 238, in __init__
    self.weights: Dict[str, torch.Tensor] = torch.load(weigh

[2019-01-18 03:30] tingkai-zhang opened #2388 "Tensorboard summary of learning rate"
Hi, i am using cosine with restart with the following configuration:
[code]
The training has 1.2k steps per epoch.
I think what that the tensorboard summary shows that there is minor change of learning rate(0.001e-5) and not giving a cosine-like shape curve? Does the graph make sense?
![image](https://user-images.githubusercontent.com/20318562/51363397-c5162680-1aa5-11e9-9c96-bfddeec51170.png)

[2019-01-18 04:31] matt-gardner commented on #2360
I think moving the model to the gpu happens after the model is loaded, so I'm surprised this is an issue. Can you give a full stack trace?

[2019-01-18 04:50] rajarsheem commented on #2371
@matt-gardner @matt-peters can you please help me with this.

[2019-01-18 06:06] robbine commented on #2360
The full stack trace is lost.
I check the source code in  /anaconda3/lib/python3.7/site-packages/torch/serialization.py
and find these two lines.
register_package(10, _cpu_tag, _cpu_deserialize)
register_package(20, _cuda_tag, _cuda_deserialize)
It seems that cuda has a higher priority than cpu, so the exception is raised.

[2019-01-18 12:24] stefan-it opened #2389 "Pickle vocab of LanguageModel"
Hi,

for an integration into a library, I really need to pickle and un-pickle the `BidirectionalLanguageModelTokenEmbedder` and the vocab of its `LanguageModel`.

Here's a code snippet of what I'm trying:

[code]

But in the un-pickle step the following error message is thrown:

[code]

I think these positional arguments (which are not set by default) also came up in a code review: https://github.

[2019-01-18 14:42] matt-gardner commented on #2360
This is not enough information for me to understand the problem, so I can't really help you fix it.  I'm going to close this issue, as your original question has been answered.  If you're still having trouble with loading the model, please open a new issue and follow the issue template, giving us enough information that we can help you solve the problem.

[2019-01-18 14:42] #2360 closed

[2019-01-18 15:28] TamouzeAssi opened #2390 "where can i get pre-training embeddig vectors?"
Hello,

I have a task which needs to use pretrained word embedding as a black box. Just give an input word and get back its vector (no trainning needed). I was used pretrained from fasttext. I want to know if there is an already pretrained published according to ELMO.  Does this vectors can be used by gensim library for example.
Thank you in advance

[2019-01-18 16:38] schmmd commented on #2390
@TamouzeAssi please see https://allennlp.org/elmo and specifically https://github.com/allenai/allennlp/blob/master/tutorials/how_to/elmo.md#using-elmo-interactively.

[2019-01-18 16:38] #2390 closed

[2019-01-18 16:44] schmmd commented on #2382
@matt-gardner until recently we were using an old version of Python 3.6 (see https://github.com/allenai/allennlp/pull/2298).  I asked @joelgrus whether we should upgrade to 3.7 but he emphasized that most people are still on 3.6.  Perhaps we should test each?

[2019-01-18 16:45] DeNeutoy commented on #2389
This looks possibly like a problem with pickling the `lambdas` [here](https://github.com/allenai/allennlp/blob/master/allennlp/data/vocabulary.py#L91) which we use internally in our `Vocabulary` class. Are you able to try using `dill`, which I believe is able to pickle lambdas?

[2019-01-18 16:51] schmmd commented on #2343
@vinayshekharcmu I think https://github.com/allenai/allennlp/blob/master/tutorials/how_to/elmo.md will answer your question.  ELMo returns 3 length 1024 vectors in a batch_size x 3 x 1024 matrix.

[2019-01-18 16:51] #2343 closed

[2019-01-18 16:52] joelgrus commented on #2389
I think I know how to fix this, PR forthcoming

[2019-01-18 17:02] schmmd commented on #2291
Closing for now--but please re-open if you have a log where the `min_count` is missing.

[2019-01-18 18:48] joelgrus commented on #2335
I would rather not modify that method. We use jsonnet for our configuration files, it seems like a simpler solution would be to use jsonnet imports (see https://jsonnet.org/learning/tutorial.html) to import that list into your config directly. Then everything should work without any code changes?

[2019-01-18 18:58] nelson-liu opened #2392 "Elmo scalar_mix_parameters should take normalized weights"
Currently, the `scalar_mix_parameters` constructor argument of the `Elmo` class takes unnormalized (pre-softmax) weights for each of the Elmo layers (https://github.com/allenai/allennlp/blob/master/allennlp/modules/elmo.py#L74).

It should instead take post-softmax weights for each of the Elmo layers (i.e., `scalar_mix_parameters` should sum to 1).

[2019-01-18 19:21] #2389 closed

[2019-01-18 19:38] #2306 closed

[2019-01-18 19:49] matt-gardner commented on #2382
Our CI already takes quite a long time; I wouldn't recommend duplicating it for python 3.7.  I'm not sure what the right thing to do for CI is - maybe we could just run CI on 3.7?  But then we run the risk of using 3.7-specific features and losing support for 3.6...  I don't know.

[2019-01-18 20:55] joelgrus commented on #2382
we could add a 3.7 step that runs for master commits, then we'd know soon-ish if we broke 3.7 but not have to check it with every commit.

alternatively, we could have a bunch of "once a week" checks (e.g. the models on the website) that don't stop us from committing but at least alert us when things are subtlely wrong (and that we can check before we release)

[2019-01-18 21:05] schmmd commented on #2292
We agree it'd be great to have a fix here, since a number of us have hit it, but we're not sure what the right solution is presently.

[2019-01-18 21:09] schmmd commented on #2303
@brendan-ai2 thinks this might have been deprecated already and will take a look.

[2019-01-18 21:11] schmmd commented on #2311
Closing since we're tracking this in #2379

[2019-01-18 21:11] #2311 closed

[2019-01-18 21:15] schmmd commented on #2337
Brendan reverted the PR that broke this so this is now fixed.

[2019-01-18 21:15] #2337 closed

[2019-01-18 21:20] schmmd commented on #2341
We think the right fix here is to have a script that lists the registered names.

[2019-01-18 21:21] schmmd commented on #2356
@DeNeutoy will follow up.

[2019-01-18 21:28] schmmd opened #2394 "Add a test for Python 3.7 on merges to master"

[2019-01-18 22:23] #2303 closed, assigned to brendan-ai2

[2019-01-19 00:46] epwalsh commented on #2388
This learning rate scheduler only updates at the end of each epoch, which is why it is flat through the 1.2K steps within each epoch. Does that answer your question? (there's no particular reason why it doesn't update "smoothly" instead of only at the end of each epoch, other than it was just easier to implement, TBH)

[2019-01-19 00:49] epwalsh commented on #2280
@schmmd did you happen to look at pipdeptree? This is the exact script I run in CI to check for conflicts:

[code]

[2019-01-19 01:00] brendan-ai2 commented on #2388
Thanks, @epwalsh!

@tingkai-zhang , If desired you can update per-step by making your own learning rate scheduler. See, for instance, https://github.com/allenai/allennlp/blob/master/allennlp/training/learning_rate_schedulers.py#L138.

[2019-01-19 01:24] A-Rain opened #2397 "can elmo generate phrase embeddings?"
Recently I'm working on sentiment analysis, and I want to use phrase embeddings rather than single word emebddings. So I'm not sure the following code is correct:
[code]
Also, When training my model, should I freeze all elmo parameters or make it trainable?

[2019-01-19 01:41] tingkai-zhang commented on #2388
@epwalsh  Hi, thanks for answering!

If i understand it properly, you mean the `lr` is updated each iteration but only logged to tensorboard each epoch, am i right?

If the updated learning rate is only logged at the end of each epoch, the learning rate should be `eta_min` which should not be `3e-5` in my case, right?

@brendan-ai2  Thanks for your advice! I will look into that!
When i use slanted

[2019-01-19 12:05] rajarsheem opened #2398 "embedding is different on same input after loading from fine-tuned model"
Hi,

I have raised this issue before but unfortunately that didn't help me.
I have a model which uses elmo and after training my model (fine-tuning elmo alongside), I load my trained model.

[code]

Then I try to check the embedding of the fine-tuned elmo from inside the trained model. I get the embedding on a sample input repeatedly and print the embedding sum after every 10 steps. The sum is var

[2019-01-19 20:43] nelson-liu commented on #2398
have you seen this? https://github.com/allenai/allennlp/blob/master/tutorials/how_to/elmo.md#notes-on-statefulness-and-non-determinism

seems expected to me, since your context is being filled up with `"uses of iphone 4s"` as you iterate

[2019-01-19 21:38] nelson-liu opened #2400 "LanguageModel should output perplexity"
Is there a reason why `allennlp evaluate` doesn't already output the perplexity? This should be fairly easy to do, since you just take `exp(loss)`.

Seems like it might be tricky during training (@brendan-ai2 made a few notes about it in the code), but for evaluation we'd just need to override `get_metrics`, right?

[2019-01-20 02:55] nelson-liu opened #2402 "Config Wizard incorrectly infers type of Vocabulary min_count"
It looks like `Vocabulary`'s `min_count` expects a `Dict[str, int]`. But when running the config wizard, the web UI says it expects an `int` (not the right type).

cc: @joelgrus

[2019-01-20 04:48] rajarsheem commented on #2398
Yes, I have followed that but warming up (if I am doing that right) didn't help. Isn't there a way to make the embedding consistent?

[2019-01-20 05:08] matt-gardner commented on #2398
Theoretically, the RNN is stateful, and in general will have output that depends on the entire history of what it has seen before (i.e., not consistent). There's no way around that, theoretically. Empirically, because of the way ELMo is trained, we observe consistency across inputs after a warmup period, though this is not guaranteed theoretically. It seems likely that your fine-tuning of it upset

[2019-01-20 05:38] rajarsheem commented on #2398
Okay, so do you mean no matter what the inputs are, the embedding of my 5th training example (a query) will be dependent on the previous 4 examples ? Is it preserving the state across training examples or batches?

[2019-01-20 05:53] rajarsheem commented on #2398
So, it is preserving the state across examples. Same batch with changed order causes different embedding in the next run.

[2019-01-20 06:56] rajarsheem commented on #2398
Hey I just discovered that `_EncoderBase` has attribute `stateful` which when set to False can prevent preserving the state and zeroes out the initial state between forwards.

It seems to solve my issue. Is this recommended?

[2019-01-20 13:14] woyijkl1 opened #2403 "how to save weights if I have fine tuned an elmo model?"
hello, I have searched for the answer to this question? but I can not find it.
thx

[2019-01-20 14:54] matt-gardner commented on #2398
As I said, no one really understands what's going on inside these RNNs, so there is no "recommended" setup if you've fine tuned an ELMo model. This is an open research area. Just do whatever you think works best for what you want to do with it.

[2019-01-20 15:39] rajarsheem commented on #2398
Agreed. But turning off `stateful` resets the lstm states after every forward pass. Is that understanding correct?

If this doesn't have any other undesirable consequences somewhere else, then it solves my problem and also closes this issue!

[2019-01-20 15:45] joelgrus commented on #2402
there is one-off logic for handling vocabulary, and it seems like it's become wrong:

https://github.com/allenai/allennlp/blob/master/allennlp/common/configuration.py#L471

I need to try to remember why Vocabulary needs one-off logic and either fix it or get rid of it

[2019-01-20 15:48] matt-gardner commented on #2398
Yes, that's what the `stateful` parameter does.  Turning it off will mean that your model gets different input at test time than you gave it at training time, which could adversely affect your performance.  But, that's something that you'll have to evaluate yourself - I have no intuition for how much it will matter.

I'm glad that this solves your problem, and I'm closing the issue.  Feel free to

[2019-01-20 15:48] #2398 closed

[2019-01-20 15:52] matt-gardner commented on #2402
It's one-off logic because any class that has a custom `from_params` could take parameters that aren't inferable from the constructor, and this is true for `Vocabulary`.  Looks like you just accidentally got the type wrong on `min_count` when you made that one-off logic.

This, and the documentation / discoverability issue, and talking with @nelson-liu about new users' experience with `from_params

[2019-01-20 19:24] nelson-liu opened #2404 "Feature request: metric for official CoNLL SRL evaluation"
Related to #667 , context is that the `SpanBasedF1Measure` does not exactly match the official conll evaluation perl script's output.

Since we wrap the `evalb` C program in an metric, why can't we do the same for the [`srl-eval.pl`](https://github.com/allenai/allennlp/blob/master/allennlp/tools/srl-eval.pl) script? We can turn it into another metric, and just have it run at validation time (just

[2019-01-20 19:39] joelgrus commented on #2404
it has 0 github stars, but here's someone who's written a python version

https://github.com/jgung/srleval

if you trust it, that's even easier

[2019-01-20 19:40] nelson-liu commented on #2404
"Note, the official evaluation script should be used for any published results." in the README has me worried 😅

[2019-01-21 08:02] woyijkl1 commented on #2026
so, how can i use elmo on gpu, and I have the same problem when run:
sentences = [['First', 'sentence', 'first','second'], ['Another', '.']]
character_ids = batch_to_ids(sentences)
character_ids = character_ids.cuda(3)
elmo = elmo.cuda(3)
embedding = elmo(character_ids)

RuntimeError: Expected object of type torch.LongTensor but found type torch.cuda.LongTensor for argument #3 'index'

[2019-01-21 08:52] bianca2319 opened #2407 "Training fails with KeyError exception"
**System**
 - OS: Linux
 - Python version: 3.6
 - AllenNLP version: 0.8.1

**Question**
If I try to execute a training on GPU server via `allennlp train ../config/mdb_crf.json -s ../experiments/test,` the calculation stops with an KeyError exception, because the model output doesn't contain the loss element:

`2019-01-21 09:47:30,835 - INFO - allennlp.training.trainer - Training
  0%|          | 0

[2019-01-21 09:33] zhusleep commented on #1061
Finally found it!

[2019-01-21 13:02] sandhiya18 opened #2408 "Machine Comprehension"
How can I use the model obtained after training on a SQUAD data set onto an unsupervised training machine comprehension task? I am expecting a unsupervised fine-tuning task(Transfer Learning). Is this possible or do we always require a supervised task for fine-tuning?

[2019-01-21 14:53] joelgrus commented on #2407
your model output needs to contain a `"loss"` key with the loss in it, that's what the trainer is trying to optimize.

[2019-01-21 14:53] #2407 closed

[2019-01-21 15:05] matt-gardner commented on #2408
There are no off-the-shelf methods for unsupervised fine tuning of a reading comprehension model. You can fine tune using a supervised dataset with `allennlp fine-tune`, but that's it.

[2019-01-21 15:05] #2408 closed

[2019-01-21 17:48] bryant1410 opened #2410 "TimeDistributed's forward method doesn't support some arguments"
I see 2 problems with `TimeDistributed`'s `forward` method. They can be seen as 2 separate issues, but as they're strongly correlated, I believe they should be solved together.

The first one is that it doesn't support passing named arguments when calling it. The second one is that it doesn't work with some parameters of the `forward` method of certain wrapped module classes. I'll elaborate on the

[2019-01-21 17:53] schmmd commented on #2280
@epwalsh thanks for the reminder.  I'll take a look.  I assumed (for some reason) that it draws a tree rather than checks for conflicts.

[2019-01-21 17:57] schmmd commented on #2280
https://github.com/allenai/allennlp/issues/2195 claimed that v0.7.2 had a dependency conflict that we should have caught.  Unfortunately `pipdeptree --warn fail` does not catch this.

[2019-01-21 18:42] bryant1410 opened #2411 "How to obtain the final hidden states for all layers of a seq2vec encoder?"
This is something I think it cannot be done with AllenNLP currently, so it can turn into a feature request. Or maybe it's just that I don't know how to do it. It's about getting the final hidden states for all layers of a seqvec encoder.

I'm trying to implement a model such as the [one from TGIF-QA](https://arxiv.org/abs/1604.02748). The thing is that, if I encode the video with a 2-layer LSTM wi

[2019-01-21 18:45] bryant1410 commented on #2411
Also (maybe it should be another issue?), if using LSTM particularly (instead of other RNN types), I'd want to get the final cell state of each layer (not hidden state) and input it as the initial cell state of the following one. What would be the best way to introduce this change?

[2019-01-21 19:05] brendan-ai2 commented on #2400
Isn't perplexity `exp(loss)` only when your loss is entropy? Since this isn't true in general it seems like it would make more sense to have users add perplexity as a metric explicitly. Please correct me if I'm wrong!

[2019-01-21 19:10] joelgrus opened #2413 "replace `allennlp elmo` with `allennlp dump-embeddings` or similar"
wanting to get the embeddings for some inputs is useful for more than just ELMo, we should consider exposing it

[2019-01-21 19:10] nelson-liu commented on #2400
I see, that seems reasonable. so seems like the fix would be make a `Perplexity` metric, add a new arg to the `LanguageModel` that specifies whether to calculate perplexity or not, and then log the perplexity if said argument is true?

[2019-01-21 19:13] joelgrus commented on #2368
actually, the sniff tests are already using `allennlp.pretrained`, they just don't cover every single model in it

[2019-01-21 19:16] brendan-ai2 commented on #2400
If you'd like! Having a perplexity metric doesn't seem strictly necessary to me, but maybe it's more user friendly to display it. Seems fine to just add it too, no need for a boolean arg. (Should be entirely backwards compatible, no?)

[2019-01-21 19:39] matt-peters commented on #2398
I'd strongly recommend checking performance before / after switching the `stateful` flag.  Without fine tuning, switching `stateful=False` will likely have an adverse impact on performance of ELMo.  After fine tuning who knows as MattG said.

[2019-01-21 19:45] matt-peters commented on #2397
To compute phrase embeddings you will need to pool over the individual words in the phrase somehow.  Options here include summing over the words, max pooling, attentive pooling, use the hidden states of the first / last word in the phrase, etc.

[2019-01-21 19:54] nelson-liu commented on #2400
yeah, should be backwards compatible, but wasn't your earlier concern that `"perplexity exp(loss) only when your loss is entropy?"` ? Or is that not an issue now, since we're limiting it to `LanguageModel`?

[2019-01-21 19:56] brendan-ai2 commented on #2400
Exactly. This works in `LanguageModel`. Doesn't necessarily work elsewhere. Easy to make this change only there.

[2019-01-21 20:52] schmmd commented on #1563
We're removing our Java dependency in march, which should fix this.

[2019-01-21 21:08] matt-gardner commented on #2410
These are good issues and questions you raise.  My gut reaction, though, is that it's probably not worth the complexity to try to handle all of these cases inside of `TimeDistributed`, when it's relatively simple for someone with a complex use-case to just write a few lines of custom code in their model to handle it.

That is, I think our recommendation should be, if `TimeDistributed` already does

[2019-01-21 21:17] matt-gardner commented on #2411
We can't have this functionality in the `Seq2VecEncoder` and `Seq2SeqEncoder` APIs, because not all encoders that match the API have layers like you're describing.  That's the whole point of the abstraction - anything that conforms to the abstraction is interchangeable as far as the model is concerned.

It sounds like you should just be using a pytorch `LSTM` or whatever encoder you want directly,

[2019-01-21 22:18] schmmd commented on #2338
@nelson-liu I think this is fixed, but I don't have an easy way to test it.

[2019-01-21 22:19] nelson-liu commented on #2338
i think i can test it, i'll close if fixed.

[2019-01-21 22:19] schmmd commented on #2338
OK--I actually just had an idea too.

[2019-01-21 23:13] schmmd commented on #2338
Presently I'm pretty sure you'll get an error if your default `python` is 2.

[code]

[2019-01-21 23:43] #2379 closed

[2019-01-22 01:19] HarshTrivedi commented on #2410
I also find current `TimeDistributed` to be restrictive because of the mentioned reasons. Most of the times, I had to write extra lines for the special cases. So, +1 for `pass_through` and `**kwargs` solution. This should surely simplify and cleanup some of my code.

[2019-01-22 03:10] julianmichael opened #2415 "MultiLabelField's `empty_field` method always fails"
**Describe the bug**
MultiLabelField's `empty` method always fails, preventing it from being used with padding.

**To Reproduce**
[code]
Prints error:
[code]
Also,
[code]
throws the same error.

**Expected behavior**
Basically I think the implementation of `empty_field(self)` should be something like:
[code]
This way it would bypass the indexing step when possible (i.e., `num_labels` is already kn

[2019-01-22 03:38] sandhiya18 commented on #2408
Thanks @matt-gardner

[2019-01-22 05:08] robbine opened #2416 "How to export model and apply it on production ?"
Hi, Does allennlp provide a way to convert a trained model to a serialized representation that can be loaded and executed purely from C++, because of low latencies and strict deployment requirements like on production. I think it would be a big step forward to move on from science experiments to online production if we can add this function.
There is a Torch Script to do the job, but I'm facing so

[2019-01-22 06:30] rajarsheem commented on #2398
@matt-peters :
The reason I need to keep the model as stateless because my task represents like a standard sequence classification task where I need to encode batch of sentences and finally predict a label for each of them.

As you can understand, embedding of 4th sentence in the batch should be independent of the previous examples (1 to 3) in the batch. Setting `stateful=True` preserves the LSTM

[2019-01-22 08:49] robbine commented on #2416
It seems that allennlp modules only accepts a dict object as input parameter in a forward function.
torch.jit.trace does not support this format.

[2019-01-22 11:48] Arjunsankarlal commented on #2168
I tried updating with `pip install -U allennlp`, `pip install allennlp --upgrade`. I tried uninstalling completely and installing it again, but the issue persisted. But then I used a different venv which had the latest version installed.

But now I am facing the same issue again in a different system. In a new venv when I executed the command, `pip install allennlp` it installs 0.6.0 version. And

[2019-01-22 12:51] nika2312 opened #2417 "Different behavior of dataset reader during training and validation"
I'm working on a dataset which I would like to be read differently during training and validation (different behavior when the context length is longer than max_context_size, for example).
What is the best way to run such kind of training? I thought of the following options:

1. Passing a boolean parameter to the dataset_reader constructor.
2. Creating 2 separate dataset_readers, one for the train

[2019-01-22 14:59] matt-gardner commented on #2168
This is because we require python >= 3.6.1 starting in AllenNLP version 0.6.1. It appears you are using python 3.6.0. Upgrade your python version to use the latest AllenNLP.

[2019-01-22 15:01] bryant1410 commented on #2410
I like that `pass_through` approach.

I also think that the documentation should leave it clear, regardless of adding the pass_through approach or not. For example, if we leave it as it's now, we should say something like "kwargs are not supported", even though it can be deducted from the function header, and maybe also warning that "some args won't work with it, such as 'hidden_state' from Pytorc

[2019-01-22 15:01] matt-gardner commented on #2417
You can specify a validation dataset reader in the config file.

[2019-01-22 15:06] bryant1410 commented on #2411
Oh, don't all implementations have a concept of "return the final hidden state for each layer"? Could you please point out which ones?

I agree that what you said applies to what I said after, the thing about obtaining the final cell state of the LSTMs. Although it could be seen as part of the "final hidden state".

Yeah, I agree that AllenNLP cannot support every corner case and that it's okay no

[2019-01-22 15:11] matt-gardner commented on #2410
@bryant1410, can you send a PR with the above approach?  Make sure you add simple test cases for all of the uses you mentioned in the original issue.

[2019-01-22 15:12] bryant1410 commented on #2410
Sure.

[2019-01-22 15:25] matt-gardner commented on #2411
Not all of these encoders even have layers - the `CnnEncoder` and the `BagOfEmbeddings` encoder, for instance.

It's not that "AllenNLP doesn't support this use case" - it does, because you can just use a regular LSTM.  It's that "this use case doesn't fit the `Seq2VecEncoder` or the `Seq2SeqEncoder` abstractions".  That's fine.  The abstractions are useful precisely because they do just one thing

[2019-01-22 15:51] matt-gardner commented on #2415
Thanks for finding this; PR welcome!

[2019-01-22 16:19] mhagiwara commented on #2177
I wrote a tutorial on this topic, FYI @onetonfoot @robbine http://www.realworldnlpbook.com/blog/how-to-convert-an-allennlp-model-and-deploy-on-caffe2-and-tensorflow.html

[2019-01-22 18:08] joelgrus opened #2419 "remove all custom from_params"
ideally none of our classes would need custom from_params. this would require changing constructors to match the fields that from_params is looking for.

so, for instance, you'd have to change `Vocabulary.__init__` to match the things that are happening in `Vocabulary.from_params` -- the current constructor could be moved to a factory method `Vocabulary.from_counts` or similar.

This would be a br

[2019-01-22 19:08] bryant1410 commented on #2411
Then, do you think it's worth it to add a function to `RNNBase` to obtain the final hidden state for each layer (and maybe also cell state?)? Or is it too application-specific for AllenNLP?

I haven't run into this yet (haven't even tried). Are you suggesting to add a PyTorch LSTM wrapper to AllenNLP, or just to my project?

[2019-01-22 19:31] joelgrus commented on #2419
this is complicated by the fact that some things get constructed in a way that depends on earlier things (there was an issue or comment about that somewhere but I can't find it now)
this will require cleverness

[2019-01-22 19:40] matt-gardner commented on #2419
https://github.com/allenai/allennlp/pull/2304#discussion_r247355998

[2019-01-22 19:44] bryant1410 commented on #2411
Ok, thank you @matt-gardner. I'll work on this and get back to this issue. So I'll leave it open meanwhile if you don't mind.

[2019-01-22 19:49] joelgrus commented on #2419
thanks

[2019-01-22 21:02] nelson-liu opened #2420 "Config wizard adds extraneous required field for plateau LR Scheduler"
the `ReduceLROnPlateau` scheduler shouldn't require an optimizer, but its entry in the config wizard suggests that it does:

<img width="947" alt="screen shot 2019-01-22 at 1 01 57 pm" src="https://user-images.githubusercontent.com/7272031/51565110-eb411b00-1e45-11e9-81c7-a3e48cf43994.png">

Seems like the same category as #2402?

[2019-01-22 21:14] joelgrus commented on #2420
it seems like it does?

https://pytorch.org/docs/stable/optim.html#torch.optim.lr_scheduler.ReduceLROnPlateau

the config wizard doesn't really know what to do with pytorch types, because they're not type annotated

[2019-01-22 21:17] nelson-liu commented on #2420
Ah yeah, i meant the allennlp-wrapped version. i.e., there's no need to specify a key for optimizer here:

https://github.com/allenai/allennlp/blob/8ff832471364b09278d5863f31c47fa32662dd08/training_config/quarel_parser_elmo.json#L83-L88

Probably hard to fix, but would be nice to have / consider?

[2019-01-22 21:19] joelgrus commented on #2420
I see, yeah, that would require one-off logic somewhere

[2019-01-22 22:13] matt-gardner commented on #2420
This is actually related to the sequential dependencies issue, for the same reason that you wouldn't want the `Model` to take a `Vocabulary` specification in the config wizard, even though the `Model` has a `Vocabulary` argument.  I'm not at all sure how to handle this in a general way in the config wizard, though.

[2019-01-23 00:39] julianmichael opened #2422 "Generalize Predictor to allow multiple instances per JSON object"
**Is your feature request related to a problem? Please describe.**
The Predictor API requires that each input JSON corresponds to a single Instance. In my case (QA-SRL), each JSON object corresponds to any number of instances: on the top-level of the object I have the sentence, and then I have a sub-object with a set of verbs, each of which becomes an instance. In some cases I have even more insta

[2019-01-23 01:39] DeNeutoy commented on #2422
Hi Julian,

Your main point here, that one input json must correspond to one allennlp `Instance`, is actually not the case - you might want to take a look at how we've handled this in [Luheng's SRL model](https://github.com/allenai/allennlp/blob/master/allennlp/predictors/semantic_role_labeler.py#L225
):

as this also takes in a sentence and a list of verbs. The way we've conceptualised this, pred

[2019-01-23 01:44] DeNeutoy commented on #2422
Oh I see, you are saying "I would like the return format of predict_json to be exactly the same as the dataset my existing dataset reader reads in". Hmm, I'm not sure we're going to do that, sorry. One idea: `predict_batch_json` has an API which is `List[JsonDict] -> List[JsonDict]`. There is no reason that these have to be the same length though - perhaps you could override this method to return

[2019-01-23 01:51] DeNeutoy commented on #2422
P.P.S you could always override `dump_lines` to take in your predicted json blob, separate it out and write it to file. Not sure if that works for you!

[2019-01-23 02:10] sfuzhenqiz opened #2423 "ModuleNotFoundError: No module named '/project/dataset_readers'"
**Describe the bug**
The problem is simple, I can't load my own code.

**To Reproduce**
1. I created a clean anaconda python 3.7 environment
2. I install allennlp via this command
"pip install --target=/cs/natlang-expts/zhenqiz/pip --no-cache-dir allennlp"
3. Then I cd to "/cs/natlang-expts/zhenqiz/pip" and run "python -m allennlp.run test-install". It seems normal so far.
4. Then I tried to run m

[2019-01-23 02:53] joelgrus commented on #2423
for `--include-package` you need to supply the package *name*, not the path, so (assuming your module structure is set up this way) you should do something like `--include-package project.models`

[2019-01-23 03:50] sfuzhenqiz commented on #2423
Hi Joel thank you for the quick reply.

I tried to move those "models", "dataset_readers" folder out of the "project" directory to the current path, and run this command:"python3 -m allennlp.run train project/config_dec4.json --serialization-dir project/new_checkpoints/ --include-package dataset_readers --include-package models", which to some extents it's something similar to your fix right?
But

[2019-01-23 04:13] joelgrus commented on #2423
I *suspect* this error is caused by you not having an __init__.py in your `models` and/or `dataset_readers` folders, and I guess it's maybe sort of a bug in that the library should be more robust to that

[2019-01-23 06:43] sfuzhenqiz commented on #2423
Yes, there is no init.py file inside the folder. However, some other guys in my lab can run the model without having the init.py file. Would an empty __init__.py file help?

[2019-01-23 06:59] Whu-wxy commented on #2416
How to Convert an AllenNLP model and Deploy on Caffe2 and TensorFlow[http://www.realworldnlpbook.com/blog/how-to-convert-an-allennlp-model-and-deploy-on-caffe2-and-tensorflow.html](url)

[2019-01-23 07:04] Whu-wxy commented on #2416
If we can apply on product without any modification in the future, it will be very convenient.

[2019-01-23 07:11] DeNeutoy commented on #2422
Hmm yes I do see that is confusing. The `predict_instance` really is a strict API - it allows us to have the `allennlp predict <model> <dataset>` command, so long as the model knows how to create instances from the dataset reader directly. But I do see your point, thanks for the feedback.

[2019-01-23 15:02] joelgrus commented on #2423
I can't promise it would help, but my theory on what's happening is that if you call `importlib.import_module` on a package that has an `__init__.py` in it, the resulting module has a `__path__` attribute that's just a list (and in particular can be indexed), but that if you call it on a package that has no `__init__py`, then the module's `__path__` attribute is a `_NamespacePath` object, which ca

[2019-01-23 16:27] ethanjperez opened #2426 "Incorrect mask size when tokens truncated to fit in BERT?"
**Describe the bug**
Input tokens are truncated to <512 tokens long to fit into BERT. When this happens, the mask associated with that sample appears to not also be truncated. This causes an error to be thrown downstream when the mask is used; in my case, this happens with a BiDAF model running on SQuAD over BERT tokenization/embeddings.

The specific line I think is causing the issue is in wordpi

[2019-01-23 16:37] joelgrus commented on #2426
I think that is the correct solution, want to submit a PR? :smiley:

[2019-01-23 18:44] joelgrus commented on #2426
fixed in #2429

[2019-01-23 18:44] #2426 closed

[2019-01-24 00:35] #2185 closed

[2019-01-24 04:20] HarshTrivedi opened #2433 "Confusing behaviour for models with and without including test vocabulary."
I have trained two ESIM entailment models with exact same config file, except one with test vocabulary included and one without.

[code]

 I understand that their test performances should be different because one would have UNKs and other won't, when indexed. However,  even their validation loss/metrics (and also train loss/metrics) don't go 100% parallel. With either test included or excluded, th

[2019-01-24 04:38] HarshTrivedi commented on #2433
Thanks! However, following check seems contradictory:

[code]

[code]

and I get:

[code]

[2019-01-24 04:40] HarshTrivedi commented on #2433
Let me load the model and check that in fact their embedding matrix are exactly the same.

[2019-01-24 04:45] HarshTrivedi commented on #2433
Oops, I think we use different function to initialize matrix - not `torch.randn`. Let check that again.

[2019-01-24 04:48] nelson-liu commented on #2373
Given the discussion in #2414 , it seems like a solution would be to have the user instantiate two _forward direction_ contextualizers. The LM would then use one for the forward direction, and another for the backward direction.

[2019-01-24 04:50] matt-gardner commented on #2433
The issue is the random state _after_ the initialization.  You have a different number of draws in those two cases, so if you have, e.g., a dataset shuffle after each one, you'll end up with a different ordering.

[2019-01-24 04:58] HarshTrivedi commented on #2433
We use `normal_` to initialize. I tried above check1 and check2 with `torch.FloatTensor(5, 2).normal_(5, 0.2)`, vs  `torch.FloatTensor(6, 2).normal_(5, 0.2)` and results are similar - first 5 rows same. However, we take the mean and SD of embedding-matrix to make this initialization. So in case 1, it will be mean, std of train-num + val-num  and in case 2, of train-num + val-num + test-num : (

@m

[2019-01-24 05:04] matt-gardner commented on #2433
Training performance depends on the order that you see your training examples.  The order that you see your training examples depends on the random state at the time of the training data shuffle.  This random state depends on the size of the matrices that get initialized using the random state.  The sizes are different in your two cases, which results in different random states after initializatio

[2019-01-24 05:04] HarshTrivedi commented on #2433
Okay, I understand. I guess there are both these reasons. Thank You for help!!

[2019-01-24 05:05] #2433 closed

[2019-01-24 05:08] HarshTrivedi commented on #2433
I did check1 and check2 printing the numbers twice and they are no longer same:

[code]

[code]

Thanks for help!

[2019-01-24 05:54] lazyprgmr opened #2434 "Unable to create ELMO object - OS Error or HTTPS error"
I am having two sets of problems when trying to create an ELMO object

1)

2)

Kindly help.

[2019-01-24 13:49] ynandwan opened #2435 "How to run a custom function at the end of each epoch while using Trainer?"
While using the Trainer class to train the model, I want to run a custom function after the end of each epoch. For example, I want to dynamically change the weight for each training sample based on certain criteria and in order to do that I want to iterate over the entire training set at the end of each epoch with ```torch.no_grad()```.
To achieve this, I ended up extending Trainer class and added

[2019-01-24 17:22] joelgrus commented on #2435
right now that's probably the best way to do that.

[2019-01-24 17:55] mingtan888 opened #2436 "How to reproduce the supervised openie paper number on openie2016?"
Hi,

I am trying to reproduce the numbers of `supervised open information extraction` `http://www.aclweb.org/anthology/N18-1081`, which show the 62% F1-score (61% precision, 64% recall), and 48% AUC  on `https://allennlp.org/models#open-information-extraction`
However I met following issues:

1. The prediction output from `https://allennlp.org/models#open-information-extraction` don't have the con

[2019-01-24 18:42] aleSuglia commented on #2423
I can confirm that seems to be a problem. I am getting the same error as the one reported by the OP when the main library folder doesn't have an `__init__` file.

By adding an empty `__init__` file the problem is solved.

[2019-01-24 19:38] DeNeutoy commented on #2434
The Elmo model downloads weights if you don't specify a path - it looks like your connection was interrupted when you downloaded them and they have become corrupted. please remove `~/.allennlp` and try again - you need connection to the internet also.

[2019-01-24 19:38] #2434 closed

[2019-01-24 21:53] brendan-ai2 commented on #2373
For the record, @nelson-liu and I chatted offline about this in some detail. His solution is definitely necessary given that contiguous language models need to provide distinct targets for the forward and backward contextualizers. Sounds like a PR is incoming... :)

[2019-01-25 03:53] ynandwan commented on #2435
Thanks Joel, for the quick response. I really appreciate it.

[2019-01-25 08:41] robbine commented on #2416
This is so great , thanks a lot !

[2019-01-25 08:41] #2416 closed

[2019-01-25 16:13] shyamupa opened #2437 "SpanBasedF1Measure throws ValueError"
I am using the `semantic_role_labeler` for training on the CONLL 2005 dataset, which uses the `SpanBasedF1Measure`. I noticed that the `_handle_continued_spans` method throws the following error for some `predicted_spans`.

[code]
I found that the offending `predicted_string_labels` (from which the `predicted_spans` are extracted) that lead to the above behavior  was the following
[code]
I am sure

[2019-01-25 16:32] schmmd commented on #2413
I *might* be able to get around to this sometime, so I'll self-assign for now.  Although it would be `allennlp embeddings` without the `dump` ;-)

[2019-01-25 16:40] schmmd commented on #2436
@gabrielStanovsky are you able to answer this question?  Also--I'm curious--what do the PR numbers for Open IE on http://model-ci.allennlp.org/ correspond to?

[2019-01-25 16:41] schmmd commented on #2394
Added to TeamCity for master commits.  We'll see if this adds too much time...

[2019-01-25 16:41] #2394 closed

[2019-01-25 17:07] gabrielStanovsky commented on #2436
Yes, looking into it now.

[2019-01-25 20:06] gabrielStanovsky commented on #2436
@mingtan888
1.) Precision and recall metrics are trained to maximize F1 (@schmmd, that's how the F1 score reported in that link is computed, per token prediction). The AUC metric requires a confidence score, which is currently indeed not reported. I think that's a good feature request.

2.) The syntactic head metric was originally used to get the results reported in the paper. Later on, I simplifi

[2019-01-27 07:20] mkaze opened #2440 "AllenNLP MC model: how the speedup has been achieved?"
**Question**

In the Models section of AllenNLP website, it has been stated that: "AllenNLP MC model is a **reimplementation** of BiDAF (Seo et al, 2017) ... The AllenNLP BIDAF model achieves an EM score of 68.3 on the SQuAD dev set, just **slightly ahead** of the original BIDAF system’s score of 67.7, while also training at a **10x speedup**" (emphasis mine)

So the way I understand it is that th

[2019-01-27 18:18] WrRan opened #2442 "Is it appropriate to instantiate the class `Activation` directly?"
**System (please complete the following information):**
- OS: Linux
- Python version: 3.6.7
- AllenNLP version: 0.8.1-unreleased
- PyTorch version: 1.0.0

**Question**
When I tried to add some modules that depend on `FeedForward` for this library, I found that it was not possible to instantiate this class properly and quickly due to its parameter `activations` of class `Activation`.

Details:
Foll

[2019-01-27 18:41] WrRan commented on #2442
I created a patch for this in my repo (https://github.com/WrRan/allennlp/tree/correct_feedforward_init). So I will create a PR if you think it is a good idea.

PS: I am going to sleep. It is 2:40 a.m. now. =(

[2019-01-27 18:44] nelson-liu commented on #2442
Sure, sounds good! goodnight 🌔
i'll close this issue for now, feel free to make the PR whenever is convenient for you / ping me for review

[2019-01-27 18:44] #2442 closed

[2019-01-27 20:13] DeNeutoy commented on #2440
Hi,

The training speedup from Bidaf was actually achieved by intelligent batching. The original implementation batched instances randomly, whereas in AllenNLP, they are sorted by length (with some random noise added) and then batched, meaning there is much less padding, as instances batched together are of roughly the same length.

[2019-01-27 20:13] #2440 closed

[2019-01-28 07:28] odek53r opened #2445 "How to train a dependency parsing model with my new dataset?"
I want to train my own dependency parsing model, but I can't find examples. In the document, I find a command called as allennlp.commands.train with many parameters. I don't know how to set the parameters and what data should look like. If anyone can help, I will appreciate it.

[2019-01-28 10:13] Oneplus commented on #2445
You can download the parser model, unzip it, modify the `config.json`, then run `allennlp train -s model_path config.json`

You need to specify the paths to your treebank (in CoNLL-X/CoNLL-U format) in the `"train_data_path"` and `"validation_data_path"` fields.

I've attached a config.json, hope it help.
[config.json.txt](https://github.com/allenai/allennlp/files/2802424/config.json.txt)

[2019-01-28 14:46] RanganThaya opened #2449 "Using pre-trained models for training"
**Question**

How can I use an existing pre trained model inside my model ? For instance, can I use the NER model inside a model I am building and back propagate the loss through the pre trained model as well.

[2019-01-28 16:31] mrdrozdov opened #2450 "Logging is being duplicated."
**Describe the bug**
It looks like the allennlp logger is duplicating my code's logger.

**To Reproduce**
Steps to reproduce the behavior
1. `from allennlp.modules.elmo import Elmo`
2.  Create logger.
[code]
3. Try to log something:
[code]
4. See error
[code]

**Expected behavior**
The allennlp logger should not be copying my logger. In other words, only the first line should be printed.

**System

[2019-01-28 16:39] mrdrozdov commented on #2450
Btw, calling `logger.parent.handlers.pop()` fixes this problem, but I'm not sure why. Does `allennlp` modify the global logger?

[2019-01-28 16:41] mrdrozdov commented on #2450
Some more info:

[code]

[2019-01-28 19:53] matt-gardner commented on #2449
AllenNLP `Models` are pytorch `Modules`, so you should be able to instantiate and use a `Model` just as you would any other `Module`.  You just have to be careful about giving it the right inputs and extracting the right outputs, and saving the `Model` as a member variable so it gets gradients propagated correctly.

[2019-01-28 19:53] #2449 closed

[2019-01-28 22:43] Hyperparticle opened #2452 "Running train_model() multiple times without exiting will keep logging new runs to old files"
When running [`train_model()`](https://github.com/allenai/allennlp/blob/e08ade81ff6684869883ce3da66941b9d3a37503/allennlp/commands/train.py#L138), the file handle to old log files will stay open after exiting the function and keep writing subsequent logs to it. This is problematic since it will clutter older log files with log output from newer training runs, as well as write GBs of data to disk a

[2019-01-28 23:57] matt-gardner commented on #2452
Seems reasonable to me to add a parallel `cleanup_global_logging()` method, that contains whatever logic is necessary and is called at the end of `train_model()`.  PRs welcome.

[2019-01-29 00:03] Hyperparticle commented on #2452
Cool, I'll try a PR tomorrow. The only potential obstacle I see is to remove the `stdout_handler`, which is currently discarded. Should it be returned from `prepare_global_logging()`?

[2019-01-29 02:06] nelson-liu opened #2453 "max_vocab_size does not account for @@UNKNOWN@@"
It seems like `max_vocab_size` does not account for `@@UNKNOWN@@` when building the vocab --- is this intentional, or should it be counted as a bug?

[2019-01-29 06:54] odek53r commented on #2445
It's very helpful for me. Thank your very much. The script can work well now with CPU, but it seems very slow. Do you know how to set paramaters for GPU version?

[2019-01-29 07:14] odek53r commented on #2445
I find the cuda_device parameter in the config file. Thank you.

[2019-01-29 07:14] #2445 closed

[2019-01-29 12:05] festeh opened #2454 "Unnecessary cast to float32 in ArrayField"
**Describe the bug**
    ArrayField silently casts the array to float32 during as_tensor call

**To Reproduce**
[code]

**Expected behavior**
    I would expect that padding operation generally should not change array type. I suppose that `self.array.dtype` information should be used, if available.

[2019-01-29 13:25] pvcastro opened #2455 "Problem Training Transformer ELMo"
I'm having problems training the Transformer version of ELMo. I'm using the same dataset I used for training the portuguese bilm-tf version of ELMo, but I'm following exactly the steps and files mentioned in [the tutorial](https://github.com/allenai/allennlp/blob/master/tutorials/how_to/training_transformer_elmo.md).

This is the command I'm running:

`allennlp train /home/models/elmo/training_con

[2019-01-29 13:32] valsworthen opened #2456 "F1 in DialogQA"
Hello,

I have a question regarding the computation of F1 score in DialogQA (see [there](https://github.com/allenai/allennlp/blob/5560466e46266568ade2f86179fe0049cf31a981/allennlp/data/dataset_readers/reading_comprehension/util.py#L198)).

From what I understand the metric computed here is the _unfiltered F1_ from the official script. Compared to the _overall F1_, this version does not filter out

[2019-01-29 14:15] nelson-liu opened #2457 "predicting paper venues tutorial has mismatch between md and code"
We have a markdown version of the predicting paper venues tutorial at https://github.com/allenai/allennlp/blob/master/tutorials/getting_started/predicting_paper_venues/predicting_paper_venues_pt1.md , but we also host the code at https://github.com/allenai/allennlp-as-a-library-example/blob/master/my_library/models/academic_paper_classifier.py .

A student pointed out that there are differences be

[2019-01-29 14:15] stefan-it commented on #2455
To test it locally, you shoud reduce the size of the vocabulary.

For the IBM setup: I had one experiment, where the training process stuck. Then I used `"output_queue_size": 100` and it was working.

[2019-01-29 15:49] pvcastro commented on #2455
Thanks @stefan-it ! Do you mean the output_queue_size in the iterator part? There are two, the other one is in dataset_reader.

[2019-01-29 16:05] stefan-it commented on #2455
@pvcastro Oh, sorry, I mean the `output_queue_size` in the iterator, so the section looks like:

[code]

Normally, the data loader is very fast. It is definitely not normal that you have to wait a few days to get any progress.

[2019-01-29 17:36] pvcastro commented on #2455
Tried that for both 1 and 4 GPUs but ended up getting the same problem. Just got it sooner. Not sure if it's relevant, but my vocab size is over 800k. The same vocab and corpus were trained OK in bilm-tf.

[2019-01-29 17:56] joelgrus opened #2459 "remove matplotlib dependency (just don't produce plots if it isn't available)"
I heard from someone who would like to run allennlp but without taking the flask dependency. Unfortunately, now that `allennlp configure` is a top-level command, it's impossible to run the `allennlp` command without flask being imported.

It should be a simple (if slightly ugly) fix to make this import conditional on flask being available.

[2019-01-29 18:11] my89 commented on #2456
Hi, yes, it is computing unfiltered F1.

[2019-01-29 18:46] pvcastro commented on #2455
Ran the notebook there to train the multi-gpu and the training was OK, using the 4 GPUs.

I'll try reducing the vocab size to run locally. Do you have an estimate of how much it should be for GTX 1070 with 8Gb?

[2019-01-29 22:15] #2452 closed

[2019-01-29 22:18] matt-gardner commented on #2454
Looks like the problem might be this line: https://github.com/allenai/allennlp/blob/dddcbf243e9931a5ab0241435b39613117e20acf/allennlp/data/fields/array_field.py#L31

PRs welcome!

[2019-01-30 11:04] stefan-it commented on #2455
The training corpus has a size of 37,926,708 tokens. One epoch (ELMo Transformer) took ~ 2 hours on a RTX 2080 TI. A RTX 2070 is ~ 30 % slower than a RTX 2080 TI, but I have no comparison experience for a GTX 1070.

[2019-01-30 11:52] sandtemp01 opened #2461 "AllenNLP with bert with latest model"
Please first search our GitHub repository for similar questions.  If you don't find a similar example you can use the following template:

**System (please complete the following information):**
 - OS: [e.g. OSX, Linux] Windows, Linux
 - Python version: [e.g. 3.6.1] 3.6
 - AllenNLP version: [e.g. v0.8.1, or "I installed from master"] 0.8.1
 - PyTorch version: (if you installed it yourself)

**Ques

[2019-01-30 13:20] pvcastro commented on #2455
I see. So, did you mean that the **vocabulary size** should be smaller, or the **training corpus** altogether?

[2019-01-30 13:36] stefan-it commented on #2455
When the vocab size is too large, you normally get torch error messages saying that you should be new RAM (means local RAM not GPU RAM). My setup has only 32 GB of RAM, so on larger datasets I had to limit the vocab size.

But when you're getting CUDA out of memory errors then you should use a smaller batch size for the data loader configuration :)

[2019-01-30 13:41] pvcastro commented on #2455
Yeah, I was getting CUDA out of memory errors. I tried going all the way down to a batch_size 1 and still got out of memory errors with my local setup. What other parameter in the jsonnet config would contribute to decreasing the batch size?

[2019-01-30 15:45] matt-gardner commented on #2461
The BiDAF model does not use BERT.

On the new demos you mentioned - we haven't updated the models page with them yet; we're thinking of redesigning some things so they are less likely to get out of sync like they are now.  Those models in particular are not useful unless you are doing in research in those areas.  In absolute terms, the performance is quite poor (as are all models on those tasks;

[2019-01-30 15:45] #2461 closed

[2019-01-30 18:29] nelson-liu opened #2462 "bidirectional_language_model_transformer is registered in an odd location"
Looks like `BidirectionalLanguageModelTransformer` is being registered as `bidirectional_language_model_transformer` in the `__init__.py` of `seq2seq_encoders` (https://github.com/allenai/allennlp/blob/5560466e46266568ade2f86179fe0049cf31a981/allennlp/modules/seq2seq_encoders/__init__.py#L96-L98) .

why not just use the `@Model.register("bidirectional_language_model_transformer")` decorator? If th

[2019-01-30 21:34] matt-peters commented on #2398
Since the language model was trained on shuffled sentences, the forward language model learned to reset its own internal states after seeing the token sequence `</S> <S>` (end of sentence, beginning of sentence).  The backward model does something similar after seeing `<S> </S>`.  These tokens are added automatically by the allennlp code, so as long as each instance in your batch is one complete s

[2019-01-31 22:16] #2410 closed

[2019-01-31 22:31] shyamupa commented on #2437
Found out that I had a rogue "I-" tag that was messing things up. Closing.

[2019-02-01 06:05] zhenqiz opened #2470 "Out of memory after running several epochs"
**System (please complete the following information):**
 - OS: Ubuntu 16.04
 - Python version: 3.7
 - AllenNLP version: 0.8.1
 - PyTorch version: (if you installed it yourself)

**Question**
I constructed a simple Bi-LSTM model for predicting some tags and trained it with CPU. It was running perfectly for first 5 epochs, but it failed at epoch 6, where it ran out of memory. I noticed that the peak

[2019-02-01 09:50] pvcastro commented on #2455
I got run locally using a batch size of 2, keeping everything else the same. However, it ran for 33 hours, just loading data from the DatasetReaders, and ended up throwing a CUDA out of memory error. I don't think an epoch actually ended.
As for the IBM setup, I recreated the docker environment again, installing AllenNLP from master instead of pip, and started with a batch size of 4 and all 4 GPUs

[2019-02-01 12:45] rubenseggers opened #2472 "CSQA dataset and Dialog-to-Action model"
Hi all,

I'm working on a project with a group and we want to use AllenNLP. We have been working on extending the [MAPO paper](https://arxiv.org/abs/1807.02322), and our next goal is to reimplement an existing model on a graph based dataset in a more extendable framework.

Therefore, we would like to contribute to the addition of the the Complex Sequential Question Answering dataset: [CSQA](https:

[2019-02-01 13:18] #2437 closed

[2019-02-01 14:57] ichn-hu opened #2473 "Installing allennlp through pip using conda virtual environment fails"
**Describe the bug**

I am trying to install allennlp through pip under conda virtual environment, however it fails and leave error message like this:

[code]

**To Reproduce**

I am using conda 5.3.1 under archlinux with pytorch==1.0.0 preinstalled as part of the environment, and gcc of version

[code]

also tried install gcc through conda and then rerun

`pip install allennlp`

but fails as well

[2019-02-01 15:49] matt-gardner commented on #2472
Hi Ruben,

I'd be thrilled to see this implemented in AllenNLP.  Probably the easiest way to communicate for in depth questions like this is to use the #allennlp channel in the pytorch slack.  Be sure to @ mention me so I see it - I don't check that slack often, unless I get a direct message.

One thing to note - I've recently re-written how the grammar / executor / world stuff works, so it is now

[2019-02-01 21:02] joelgrus opened #2474 "create PHILOSOPHY.md"
allennlp is an opinionated library, it would probably be a good idea to make the principles behind it explicit

[2019-02-01 23:18] zhenqiz commented on #2470
My config:

    "dataset_reader": {
        "type": "supertagging",
        "token_indexers": {
            "token_characters": {
                "type": "characters"
            },
            "tokens": {
                "type": "single_id",
                "lowercase_tokens": true
            }
        },
        "word_tag_delimiter": " "
    },
    "iterator": {
        "type": "basic",

[2019-02-01 23:21] zhenqiz commented on #2470
My Model:

import numpy
from overrides import overrides
import torch
from torch.nn.modules.linear import Linear
import torch.nn.functional as F

from allennlp.common.checks import check_dimensions_match
from allennlp.data import Vocabulary
from allennlp.modules import Seq2SeqEncoder, TimeDistributed, TextFieldEmbedder
from allennlp.models.model import Model
from allennlp.nn import InitializerAppli

[2019-02-02 18:52] tingkai-zhang opened #2475 "Reproducibility of BERT on SST-2 dataset"
Hi! I was wondering what is the accuracy you get using `Bert token Embedder`?
I add a classification layer on top of `Bert oken Embedder`, which is the same as the `BertForSentenceClassification` in huggingface repo.
I have tried both `bert-base-uncased` and `bert-base-cased`
The best test accuracy I get is 91.927%, the best validation accuracy is 93.224%
The original paper says the performance on

[2019-02-03 19:50] r-clancy opened #2477 "AllenNLP Stuck on "Initializing ELMo" with PySpark"
**Describe the bug**
When using PySpark locally with more than 1 worker, AllenNLP hangs on the following: `02/03/2019 14:39:51 - INFO - allennlp.modules.elmo -   Initializing ELMo`

When using a single worker, everything works as expected. For example, using `--master "local[1]"` (use 1 worker) when submitting the job or calling `repartition(1)` (shuffle data around so it's sent to one worker) bef

[2019-02-04 17:42] koenvanderveen commented on #2472
Hi Matt,

Thanks for you quick response, we really appreciate it. I am working with Ruben on this project, and as we do not have access to the pytorch slack yet (requested access today), I would like to ask another question here. Does the DomainLanguage class totally replace grammar / executor / world instances? If we do not have a world, where do track state?

We worked on the datasetreader class

[2019-02-04 18:52] matt-gardner commented on #2472
Yes, the `DomainLanguage` replaces all three of those (the `type_declaration` / grammar, the `executor`, and the `world`), because you define an executor (that gets initialized with whatever instance-specific state it needs - see the WikiTables language for an example of this), and we infer the grammar from the executor.  In my quick look at the paper, it looked like you didn't have any instance-s

[2019-02-04 20:41] pitrack opened #2478 "sentence_id in ontonotes reader class/documentation"
Not really a question/bug/feature request, just a minor comment.

In general, the `sentence_id` variable https://github.com/allenai/allennlp/blob/e5a74abccb969efe33001e20b8c749780d8f657e/allennlp/data/dataset_readers/dataset_utils/ontonotes.py#L22-L23 should be more accurately named something like `part_num`, following the spec for ontonotes 5.0. https://github.com/allenai/allennlp/blob/e5a74abccb

[2019-02-05 08:54] generall opened #2480 "ReactDOM is not defined in configuration wizard"
**Describe the bug**
Configuration wizard GUI not working. It shows only single title on web page

**To Reproduce**
Steps to reproduce the behavior
1. install allennlp into clear virtualenv.
2. Run `allennlp configure`
3. Open browser `http://localhost:8123/`
4. See empty screen

**Expected behavior**
See configuration wizard with input forms e.t.c.

**System (please complete the following informa

[2019-02-05 15:56] joelgrus commented on #2480
I believe this is the issue fixed by #2476. I guess we need to do a new release.

[2019-02-05 16:03] HarshTrivedi commented on #2480
@joelgrus  Unrelated to this, but before doing a release, it would be better to have #2395 merged.
 In it, I have removed unncessary public extension method introduced in #2374. If #2395 is merged after the release, we might have to take trouble of deprecating them first.

[2019-02-05 21:22] DeNeutoy commented on #2477
I doubt that this is allennlp specific - I don't think Pytorch functions that well under multiprocessing scenarios, e.g https://pytorch.org/docs/stable/notes/multiprocessing.html#best-practices-and-tips. Either way, I'm not sure we're going to be too much help in fixing the issue unfortunately, as we don't use Spark locally. AllenNLP is first and foremost a research library, so we haven't explored

[2019-02-05 21:22] #2477 closed

[2019-02-05 22:42] schmmd commented on #2473
I ran this on a mac, but I wasn't able to reproduce your issue:

[code]

Our CI runs pip installs for each commit, although on an ubuntu instance and with Python 3.6.

[2019-02-06 17:00] schmmd commented on #2473
Not sure if this helps:

[code]

I won't be able to troubleshoot the GCC problems you're having.  Maybe you could try using our Docker image as a workaround?

[2019-02-06 17:04] schmmd commented on #2457
I think @nelson-liu addressed this in https://github.com/allenai/allennlp-as-a-library-example/pull/20 through https://github.com/allenai/allennlp-as-a-library-example/pull/27.

[2019-02-06 17:04] #2457 closed

[2019-02-06 17:06] schmmd commented on #2455
@brendan-ai2 any idea why the GPUs would look very underused?

[2019-02-06 17:07] schmmd commented on #2453
@matt-gardner would you consider this a bug?