[2020-12-08 20:19] #4852 closed

[2020-12-08 20:29] yqw-vicki opened #4853 "When retrain bert-based coreference resolution, the coreference recall is very low. How to solve it?"
Hi, I am now using coreference resolver to retrain bert-based coreference model with ontonote5.0. But the result is not satisfied.Even if the mention recall is very high, but the coreference recall still low. The below is the result:
![image](https://user-images.githubusercontent.com/58431323/101537384-ac65d100-399b-11eb-8009-54965b83a121.png)
And my training code is show here:
[code]

[code]

Is

[2020-12-09 14:16] frcnt opened #4855 "Models: missing None check in PrecoReader's text_to_instance method."
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-12-09 15:12] psawa commented on #2473
This one solved the problem on my machine (Ubuntu)

[2020-12-09 16:13] epwalsh opened #4856 "Make configuring learning rate schedulers more flexible"
In particular, it would be great if you do something like this:

[code]

[2020-12-09 18:38] AkshitaB commented on #4818
The [PR](https://github.com/allenai/allennlp-models/pull/178) has been merged. Thanks @KTRosenberg and @wangrat for bringing up the issue, and the discussion!

[2020-12-09 18:38] #4818 closed

[2020-12-09 20:32] mlpotter opened #4857 "In Open Information Extraction Model have output option for triples of form (subject,verb,object)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I find it difficult to acquire a list of triples of the form (subject,predicate,object) or (arg0,verb,arg1) from the json file output of the AllenNLP Open Information Extraction model which provides the bio-tags (which may be argument modif

[2020-12-10 15:07] wangrat commented on #4857
I'm doing something like that for the project I'm working on currently, I will keep this in mind and if I have a nice piece of code solving this problem well I can do a PR. But no promises ;)

[2020-12-10 15:52] mlpotter commented on #4857
Yes it would be ideal to postprocess this output from the SRL method
![image](https://user-images.githubusercontent.com/35242331/101795270-969bfd00-3abc-11eb-95d4-bebb7eddcfbb.png)
Into clean triples (for example I do not want the arg-modifier in a triple output).

Good luck with your project, perhaps you will be the authors to a solution.

[2020-12-10 17:57] schmmd commented on #4857
@mlpotter you could write a custom predictor which formats Open IE triples to your liking.  I think @gabrielStanovsky chose this format so he could add additional information, such as temporal information.

[code]

In any case, I'm glad you find the Open IE 5.1 output intuitive, as I'm the original author of that codebase 😄

[2020-12-10 18:12] dirkgr commented on #4690
@tomsherborne, did you get anywhere with this?

[2020-12-10 19:07] #4791 closed

[2020-12-10 19:37] gabrielStanovsky commented on #4857
Hi all, yes, this indeed was a flexible format to work with, and I agree that adding my wrapper to the codebase makes sense, even more so now that the models are separate from the main repo. Thanks!

[2020-12-10 19:44] #4790 closed

[2020-12-10 19:53] dirkgr commented on #4856
I think we'd use one LR scheduler that calls into others to make this as flexible as possible.

[2020-12-10 20:30] #4855 closed

[2020-12-11 04:14] serser commented on #1090
unset CUDA_VISIBLE_DEVICES

[2020-12-11 11:42] tomsherborne commented on #4690
@dirkgr Yes apologies - it's in the works and I'll open a PR when its done.

[2020-12-12 02:39] dirkgr commented on #4853
It sounds to me like you're trying to replicate the experiment in this config file: https://github.com/allenai/allennlp-models/blob/master/training_config/coref/coref_bert_lstm.jsonnet. Can you adapt your code to use the parameters from this config, and try again first? I didn't look to find all the differences, but your learning rate scheduler is different, and so is the number of epochs.

[2020-12-12 02:46] dirkgr commented on #4849
We removed the `file_tune` command. You can now create your model with [the `from_archive()` constructor](https://github.com/allenai/allennlp/blob/master/allennlp/models/model.py#L438) (either with code, or from the config file), and train that way.

`bert_token_embedder` has also gone away. We unified the support for huggingface models in the `pretrained_transformer_*` classes. So there is now a

[2020-12-12 04:27] KTRosenberg opened #4860 "Provide Way to Expose Spacy Document Backend"
**Is your feature request related to a problem? Please describe.**
I use AllenNLP for SRL in conjunction with raw Spacy dependency parsing. However, AllenNLP uses Spacy to compute the SRL output, as far as I can tell. My system would benefit from a speed-up if there were some way to avoid redundantly calling Spacy again to get its dependency parse.

**Describe the solution you'd like**
Provide a f

[2020-12-12 13:34] yqw-vicki commented on #4853
Thank you very much! I follow the config to modify my model again, now it work.

[2020-12-12 13:34] #4853 closed

[2020-12-12 23:25] ethch18 opened #4861 "Self-supervision/distillation in AllenNLP"
Hi!  I'm trying to train a model in a self-supervised/distilling manner, in the following setting:
* Model A is a normal AllenNLP model (e.g., biaffine dependency parser) specified with a standard config and trained on standard data
* Model B is an AllenNLP model similar to Model A (e.g., also a biaffine dependency parser, but with some slight changes) trained on the label distributions of Model A

[2020-12-14 11:30] tshu-w opened #4862 "save git status when run commands"
Sometimes after changing many versions of the code, I'm confused about how I got this result. It would be nice if allennlp could log the current git status to `serialization_dir` when running `train` command.

Here is an example of a transformers record(`git_log.json`)：
[code]

[2020-12-14 17:40] epwalsh commented on #4862
Something like this would be very good to have.

[2020-12-14 17:46] epwalsh commented on #4861
I think you've got it covered.

And for the case when you're NOT using a pretrained transformer model and therefore need another way to ensure the  vocabularies match, you can set the vocab part of Model B's config to: `"vocabulary": {"type": "from_files", "directory": "model_A.tar.gz"}`.

[2020-12-14 18:10] dirkgr commented on #4773
Anything left to do?

[2020-12-14 18:14] dirkgr commented on #4772
Anything left to do?

[2020-12-14 18:22] jvstokes commented on #4772
No! And I believe it's merged so I'll close

[2020-12-14 18:22] #4772 closed

[2020-12-14 19:26] ethch18 commented on #4861
Great, thanks!  Follow up question, is there a way to ingest a dataset with mixed labeling, i.e., have some of the data be unlabeled and some of it labeled?  Ideally, I'd be able to check if the label field was None or not, and use that to determine whether to train on label distributions vs. hard labels.

It seems that this could be done through a custom dataset reader, but I get the sense that t

[2020-12-14 19:49] dirkgr commented on #4595
We're not doing this anymore.

[2020-12-14 19:49] #4595 closed

[2020-12-14 20:09] epwalsh commented on #4861
Hmm yea batching would be an issue. We're actually working on making it much easier to do multi-task learning, but that API isn't stable yet (it's currently on the [`vision`](https://github.com/allenai/allennlp/tree/vision) branch). You could try it out though, or at least take a look at it to get some ideas. Basically, the multi-task stuff involves a custom [`DataLoader`](https://github.com/allen

[2020-12-14 21:51] AkshitaB opened #4864 "Move ModelCard and TaskCard abstractions to the main repository"

[2020-12-15 05:41] ethch18 commented on #4861
Thanks, Evan!  I'll take a look at these.

[2020-12-15 05:41] #4861 closed

[2020-12-15 06:44] tshu-w commented on #3909
I had a similar problem, beam search was especially slow. Is there any way to improve it, I'm not very familiar with generation.

[2020-12-15 07:27] tshu-w commented on #4862
here is toy code for reference
[code]

[2020-12-15 17:46] epwalsh commented on #4826
Hey @mahnerak are you still planning on making a PR for this? If not I can do it.

[2020-12-15 19:54] epwalsh commented on #3909
One simple thing you can do is increase the batch size in validation data loader. You could probably get away with at least twice the batch size compared to train.

[2020-12-15 19:59] bryant1410 commented on #3909
Note however in beam search you already have a larger batch size than in training.

[2020-12-15 20:31] epwalsh commented on #3909
That's true, but even so I've been able to run at least 2x the train batch size in validation with the CopyNet model.

[2020-12-15 23:49] mahnerak commented on #4826
Yes, I do. I was just preparing a couple of other notes on Callbacks and wanted to submit them as a single PR.

[2020-12-15 23:55] mahnerak commented on #4826
@epwalsh The `end` callbacks are called within the `try` block.
https://github.com/allenai/allennlp/blob/1ca478ab674dd412447b2f11c820ca5664737cc2/allennlp/training/trainer.py#L1111
However, I was expecting `end` callbacks to be called even in case of an error. Or, IDK, maybe there should be another way to inform the callback about the end of the training (so it can do a cleanup).

[2020-12-16 00:15] mahnerak commented on #4826
As there are no many third-party callbacks implemented for AllenNLP (yet) and the backwards-compatibility is not an issue right now, I think it's better to revisit the callback API.
For example, we may need `on_start()` callback instead of firing `on_epoch(epoch=-1)`.

Also, I don't get why there should be separate `BatchCallback`, `EndCallback`, `EpochCallback`, and a metaclass `TrainCallback` to

[2020-12-16 00:31] mahnerak opened #4868 "Make sure tensors have dimensions multiple of 8"
The `torch.amp` automatically enabled mixed-precision training but on the latest GPUs, it's faster (according to the documentation) because of Tensor Cores. But latter is enabled (almost) for fp16 calculations if the tensor dimensions are multiple of 8.

The embedding size and the batch size is easy to maintain as multiples of 8 manually.
However, we may need to modify `TokenIndexer` to pad it aut

[2020-12-16 01:22] dirkgr commented on #4844
To answer your question specifically, our best SRL model is based on BERT, as described in https://arxiv.org/abs/1904.05255.

In general, for a beginner we recommend the courses at https://course.fast.ai to get started. There are courses about deep learning in general, NLP, as well as [transformer architectures](https://www.youtube.com/watch?v=AFkGPmU16QA&list=PLtmWHNX-gukKocXQOkQjuVxglSDYWsSh9&in

[2020-12-16 01:22] #4844 closed

[2020-12-16 02:09] #4839 closed

[2020-12-16 19:19] epwalsh commented on #4826
Yea... this was kind of a half-baked feature to compromise with the folks (including me) who wanted to stick with the `CallbackTrainer`. So I'm all for making improvements, but we're committed to strictly adhering to Semantic Versioning, and so any breaking changes will have to go into our next major release: v2.0.

We are already working towards our v2.0 release though on a separate branch, so yo

[2020-12-16 19:24] mahnerak commented on #4826
Okay, so I'll try to make a PR on non-breaking changes and after that will make major changes on `vision` branch.

[2020-12-16 19:24] epwalsh commented on #4826
Sounds great

[2020-12-17 16:33] SarneetGit commented on #612
+1 for windows

[2020-12-18 08:01] a414351664 commented on #4782
Yes, I got the same problem.

[2020-12-18 16:46] #4837 closed

[2020-12-18 17:19] #4849 closed

[2020-12-18 17:52] epwalsh commented on #4868
Thanks for pointing that out @mahnerak! This is pretty important so I'm putting it on our 1.4 release milestone. We're all tied up with other stuff at the moment though, so we might not be able to get to this until the new year, but I'd be happy to review a PR if you or anyone else is interesting.

For anyone else coming upon this, NVIDIA provides some more info here: https://developer.nvidia.com/

[2020-12-18 17:58] dirkgr commented on #4782
Did you try the same solution?

[2020-12-19 00:49] dirkgr commented on #4808
@epwalsh, this is now expected to get closed by your work on the allennlp-detectron repo, right?

[2020-12-19 03:26] epwalsh commented on #4808
I think we can close this.

[2020-12-19 03:26] #4808 closed

[2020-12-19 03:26] #4856 closed

[2020-12-21 15:08] yonatanbitton opened #4875 "ViLBERT demo not working: vqav2 not in acceptable choices for dataset_reader.type when loading model"
Hey

I want to try to ViLBERT demo:
https://demo.allennlp.org/visual-question-answering

I cannot install the repo from the link you provided:
`pip install git+git://github.com/allenai/allennlp.git@0b20f80c1ea700766fe53d2eaf1c28de764f9710`,
because I receieve:
[code]

So I installed allennlp with pip.

When this command runs:
`predictor = Predictor.from_path("https://storage.googleapis.com/allennl

[2020-12-21 15:28] mgiardinelli opened #4876 "Running SRL example is giving me - Errors in loading state_dict for SrlBert"
## Checklist

- [X ] I have verified that the issue exists against the `master` branch of AllenNLP.
- [ ] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [ ] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-12-21 16:47] #4847 closed

[2020-12-21 17:14] epwalsh commented on #4862
@tshu-w would you be interested in making a PR for this? It would also be good to include the AllenNLP version in this meta-data.

[2020-12-21 17:19] epwalsh commented on #4838
Thank you @github-actions, can't you see that I made a PR???

[2020-12-21 17:22] epwalsh commented on #4794
I'm going to close this since we have #4806, which, when implemented, should prevent users from accidentally using a non-distributed metric in the distributing setting.

[2020-12-21 17:22] #4794 closed

[2020-12-21 17:23] epwalsh commented on #4862
Another detail: we should make sure this meta data is included in the model archive.

[2020-12-21 18:40] schmmd commented on #4773
We need to add the predictor, model card, and task card.

[2020-12-21 18:41] schmmd commented on #4816
We need to make some minor changes to the training config to make it easier to work out of the box.

[2020-12-21 18:46] schmmd opened #4877 "Potentially: add Detectron support to AllenNLP"
@dirkgr is going to investigate whether we need this and get back to @epwalsh.

[2020-12-22 00:34] tshu-w commented on #4862
@epwalsh I would be glad to make a pull request. I will take a look when I have time.

[2020-12-22 00:48] dirkgr commented on #4877
The model we want is ResNext-152 trained on Visual Genome. Neither torchvision nor detectron has this, so we'll hold off for now. We might still need detectron if it turns out to be the easiest way to get that model.

[2020-12-22 00:48] #4877 closed

[2020-12-22 01:14] epwalsh commented on #4875
Hey @yonatanbitton, sorry about that. That commit SHA was squashed in a PR merge and so no longer exists, and the latest release of AllenNLP doesn't yet support this vision stuff. Try installing from this commit instead: 7aa7e0e9537cc1e3f854e11b276c6d7063d02edc.

[2020-12-22 22:00] #4864 closed

[2020-12-22 22:51] AkshitaB commented on #4876
Hi @mgiardinelli This should be fixed in the latest allennlp 1.3 release. Also, the latest archive file is `structured-prediction-srl-bert.2020.12.15.tar.gz`.

[2020-12-23 12:49] gladuo opened #4886 "[Model] The RC model training just hung there"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2020-12-23 15:21] mgiardinelli commented on #4876
AWesome AkshitaB! I really appreciate it. When will that be released?

[2020-12-23 15:23] mgiardinelli commented on #4876
nevermind :). It is already released. I will install that version.

[2020-12-23 15:23] #4876 closed

[2020-12-23 22:43] epwalsh commented on #4886
Which exact model / metric are you using? Can you share your training config?

[2020-12-24 00:31] AkshitaB commented on #4773
Done. https://github.com/allenai/allennlp-models/commit/debf15aeb6321fc4d671768411e73948493917da

[2020-12-24 00:31] #4773 closed

[2020-12-26 05:11] sevenights opened #4892 "distributed training got stuck at the beginning"
I have also asked the question on stackoverflow
https://stackoverflow.com/questions/65446142/distributed-training-got-stuck-at-the-beginning

I use allennlp frame for nlp learning. When using single gpu, it works. But when I change it to multi gpus, it will get stuck at the beginning.

The configuration works fine with single gpu.

**environment**
[code]

And I use 1080ti * 2 and AMD Ryzen 5 1600

[2021-01-01 18:10] Omarnabk commented on #4782
I had the same problem and I solved it by updating Transformers to the latest version 4.1.1

[2021-01-02 04:49] coco-pa opened #4894 "Does allennlp textual entailment model work when hypothesis and premise both include multiple sentences?"
On allennlp textual entailment [demo website][1], the hypothesis and premise in examples always only consist of one sentence. Does allennlp textual entailment model work when hypothesis and premise both include multiple sentences? Is it theoretically practical? Or could I train the model on my own labeled dataset to make it work on paragraph texts?

For example:

- Premise: "Whenever Jack is asked

[2021-01-02 20:24] mahnerak opened #4895 "Option to run PretrainedTransformer in eval mode"
While setting `train_parameters` to `False` very often we also may consider disabling dropout/batchnorm, in other words, to run the pretrained model in eval mode.
We've done a little modification to `PretrainedTransformerEmbedder` that allows providing whether the token embedder should be forced to `eval` mode during the training phase.

Do you this feature might be handy? Should I open a PR?

[2021-01-04 16:41] rigoramos opened #4896 "ELMo Pubmed Model specifications"
Is there a more extended specification about pubmed pre-trained model? I know the options for the training, but I would like to know about the training corpus. Something like your mention for the original model:
"All models except for the 5.5B model were trained on the 1 Billion Word Benchmark, approximately 800M tokens of news crawl data from WMT 2011. The ELMo 5.5B model was trained on a dataset

[2021-01-04 16:50] epwalsh commented on #4892
What model / metric are you using? Is it a custom metric? I'm guessing this is the same issue as https://github.com/allenai/allennlp/issues/4794.

[2021-01-04 16:50] epwalsh commented on #4886
I'm guessing this is the same issue as https://github.com/allenai/allennlp/issues/4794.

[2021-01-04 16:57] #4875 closed

[2021-01-04 19:13] dirkgr opened #4897 "Configure Uptime Robot to check our demo APIs"

[2021-01-04 21:39] dirkgr commented on #4816
Done!

[2021-01-04 21:39] #4816 closed

[2021-01-05 01:20] #4740 closed

[2021-01-05 10:08] ZhaofengWu commented on #4894
The demo models were trained with sentence-level texts. In some sense, they will probably work reasonably with few short sentences out of the box, but they definitely wouldn't perform as well as a model specifically trained under this setting using your labeled dataset. Do be careful that some models limit the max number of tokens, e.g., the RoBERTa ones on the demo. I can't remember if ELMo has t

[2021-01-05 11:39] gladuo commented on #4886
@epwalsh sorry for not replying soon. I used transformer_qa there, and the default metrics like f1, em. I end up bypassing the problem using something like drop_last.
BTW, there are a few extra critical bugs in the rc module, I hope I have some time to pull a pr later this week.

[2021-01-05 17:25] epwalsh commented on #4886
Thanks @gladuo. One more question: did it hang during the training loop or the validation loop?

[2021-01-05 21:57] #4838 closed

[2021-01-05 22:09] #4894 closed

[2021-01-06 03:46] gud111 opened #4899 "Coreference Resolutions fails when input passage is "short""
## Checklist

- [ ] I have verified that the issue exists against the `master` branch of AllenNLP.
- [ ] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [ ] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2021-01-07 18:56] rohanp965 opened #4903 "Constituency Parser and Dependency Parser .tar.gz files"
Hi

Can someone please link me the .tar.gz files used for Constituency Parser and the Biaffine Dependency Parser and please specify which version of AllenNLP version do they work with ? Thanks!

[2021-01-07 23:57] leo-liuzy commented on #4745
This issue is fixed on `interpret` branch
In the current version (allennlp=1.3.0, allennlp-models=1.3.0), the error log is this:
[code]
This is caused by GPT2 decoding with beam search (beam_size=5). The bug is the forward() of next_token_lm (in allennlp-models), where target_ids may be a 2-dim tensor (batch_size, x), where x > 1; that’s why `xxx.view(batch_size)` fails. `NextTokenLMPredictor`'s o

[2021-01-07 23:57] #4745 closed

[2021-01-08 02:21] AkshitaB commented on #4899
It appears that the issue is the absence of a full-stop, rather than the length of the input passage. "Instant Death." should return the original text (as there are no clusters). I will debug further.

[2021-01-08 02:25] AkshitaB commented on #4903
Hi @rohanp965 The tar.gz files and the allennlp versions for all the models can be found under the `Usage` tab on the demo. For Constituency Parser and the Biaffine Dependency Parser, the tar.gz files are `https://storage.googleapis.com/allennlp-public-models/elmo-constituency-parser-2020.02.10.tar.gz` and `https://storage.googleapis.com/allennlp-public-models/biaffine-dependency-parser-ptb-2020.0

[2021-01-08 02:25] #4903 closed

[2021-01-08 16:47] epwalsh opened #4904 "Prepare data loading for 2.0"
- [x] Remove `PyTorchDataLoader`. I wouldn't recommend anyone use this, and it doesn't provide any benefit over `MultiProcessDataLoader`. (https://github.com/allenai/allennlp/pull/4907)
- [x] Make submodule names consistent. Currently we have `multi_process_data_loader.py` and `multitask_*.py`. We should either rename `multi_process_*` to `multiprocess_*` or rename `multitask_*` to `multi_task_*`.

[2021-01-08 18:21] epwalsh commented on #4670
We tried memory pinning and found that it actually resulted in an overall slow down of training time. The faster CPU to GPU transfer speeds did not make up for the additional overhead of copying the CPU tensors to pinned memory first.

In theory, running the memory pinning operation in a worker thread should make the additional overhead a non-issue. But if you're going to do that, you might as wel

[2021-01-08 23:10] AkshitaB commented on #4896
I believe this is referring to the PubMed model here: https://allennlp.org/elmo. @matt-peters Will you be able to share this information?

[2021-01-08 23:19] AkshitaB commented on #4895
@mahnerak It does make sense to disable dropout/batchnorm when using a pretrained model as a token embedder. Please feel free to open a PR!

[2021-01-08 23:48] matt-peters commented on #4896
It was trained on a random selection of PubMed abstracts, the total corpus size was 797M tokens.

[2021-01-08 23:48] #4896 closed

[2021-01-09 19:04] coco-pa commented on #4894
Thank you very much!

[2021-01-10 15:22] gladuo commented on #4886
![image](https://user-images.githubusercontent.com/5893628/104126921-35f13000-539a-11eb-96fe-5df4fe7c4ac1.png)

@epwalsh Hey there, I rerun the training process without drop_last, and it is stable recurrence. It just appears by the end of validation process.

[2021-01-10 15:57] gladuo commented on #4886
https://github.com/allenai/allennlp-models/pull/191 pr is here

[2021-01-11 06:17] sevenights commented on #4892
I thought it was not a allennlp bug or something. Because I just ran a pytorch official distributed demo, it also got suck at bebginning.

I close this issue and sorry for disturbing.

[2021-01-11 06:17] #4892 closed

[2021-01-11 21:05] ethch18 opened #4905 "Using Pretrained Transformer Indexer/Embedder/Tokenizer with models that aren't on the Transformers hub"
Hi!  I'm trying to use a Transformer I've trained myself (using the HuggingFace framework) as input to a downstream model.  I've taken a look at the `PretrainedTransformerIndexer/Embedder/Tokenizer` classes, and it seems that they all look for a single `model_name` param that gets forwarded onto Transformers.  However, my model is split up into the various files that are outputted by HuggingFace (

[2021-01-12 03:06] DhruvAwasthi commented on #4503
Thank you for this great work. I really appreciate this.
The page no longer exists. Can you please repost the link please?

[2021-01-12 03:59] gladuo commented on #4886
@epwalsh
This pr is only for some other critical bugs, I have not fixed the dead lock above. Using drop_last in the data_loader could bypass the problem, that may be a start to debug it.

[2021-01-12 04:01] gladuo commented on #4886
The WARNING above in the picture may also help.

[2021-01-13 15:58] jbrry commented on #4905
I was able to train using a locally-stored BERT model which I had trained myself. I am not fully sure if this is the correct approach as I haven't verified that I get similar scores in AllenNLP `v 1+` using this approach compared to using `v 0.9.0` using the approach you have mentioned above.

In any case, what I did was specify the local path to the directory which contains your pre-trained model

[2021-01-13 18:31] jbrry opened #4911 "Separate Optimizers for each Head in the MultiTaskModel"
**Is your feature request related to a problem? Please describe.**
I'm using the `multitask` model which consists of multiple `heads`. At the moment, the loss from each head is summed together and is then jointly optimized using a single optimizer. I currently have a head where the input is only a word-level feature and another head where the input is only characters. The heads have comparable per

[2021-01-13 21:18] NicolasAG commented on #4690
Hi,
I am also trying to figure out a way to work around this issue.
I recently updated my allennlp library to version 1.3 and I can also confirm that #4781 fixes the parsing of additional tokens from config, but I am not sure if we need to call the `pretrained_model.resize_token_embeddings(new_vocab_size)` method. Indeed, when I print (form my model class constructor) `text_field_embedder.token_em

[2021-01-14 01:06] dirkgr commented on #3682
For anyone who gets here from Google, we now have a `TrackEpochCallback` here: https://github.com/allenai/allennlp/blob/2623c4bfb24d917ac36454dc202d1ddfd536b36b/allennlp/training/trainer.py#L181

Documentation for it is here: https://docs.allennlp.org/main/api/training/trainer/#trackepochcallback

[2021-01-14 11:30] pvcastro commented on #4690
@NicolasAG doesn't this work if you do the resize?
In my scenario I used the tokenizer_kwargs for both the tokenizer and indexer in the dataset reader and for the embedder in the actual model. In the model, only using tokenizer_kwargs wasn't enough, I had to do the resize_token_embeddings as well.

[2021-01-14 16:13] NicolasAG commented on #4690
@pvcastro Thanks! you reminded me that I forgot using `tokenizer_kwargs` in the TokenIndexer and the TokenEmbedder! in my config file I only specified the extra tokens to the Tokenizer but not the indexer nor the embedder... This is my config now:
[code]
and it works fine without doing the resize ✔️

[2021-01-14 17:19] #3557 closed

[2021-01-14 17:32] epwalsh commented on #4826
Closing via #4893

@mahnerak would you still like to propose changes to the callback API? Now would be good time since we are trying to wrap things up for 2.0. After the 2.0 release we won't be making any breaking changes for a while.

[2021-01-14 17:32] #4826 closed

[2021-01-14 22:50] dirkgr commented on #4911
The concerns
--

It seems theoretically unsound to do this unless the backbone is fixed. This is the problem I see: Most optimizers will keep track of statistics like momentum for each parameter. If you then run another optimizer over the same weights, it will move the weights and thus invalidate the momentum, but the first optimizer is none the wiser and just keeps on trucking with the momentum v

[2021-01-14 22:53] dirkgr commented on #4905
Yes, this is the way.

[2021-01-14 23:13] dirkgr commented on #4387
We're considering this for inclusion in the next minor release, but it'll compete with a number of other priorities.

[2021-01-14 23:20] MichalMalyska commented on #4387
^ I have been using the wanb-allennlp for quite some time now and it works very well so if you take community votes into consideration, I guess here's mine.

[2021-01-14 23:51] dhruvdcoder commented on #4387
I have been playing around with the plugin interface of AllenNLP, and I think the functionality of wandb-allennlp can be converted into a plugin. There are some issues with multi-node training though that need to be fixed. I was thinking of taking a stab at this after the first week of Feb.

[2021-01-15 02:51] dirkgr commented on #4904
@epwalsh, is this done?

[2021-01-15 06:00] ethch18 commented on #4905
Thank you!

[2021-01-15 06:00] #4905 closed

[2021-01-15 15:27] #4904 closed

[2021-01-15 15:58] jbrry commented on #4911
Thanks for your insights Dirk. I agree that one needs to be cautious about how the backbone or any other shared components are optimized, e.g. you do not want multiple optimizers operating on the same set of parameters as you have mentioned.

I think in theory you could have head-specific optimizers which optimize the parameters related to that head. You could then also include a shared optimizer

[2021-01-15 18:51] ignacioct commented on #2779
For anyone with this problem in MacOS 11.1 Big Sur, one solution that worked for me with Mojave and stills works (I re-encountered this same problem) is the following:

- Install Command Line Tools
- `export MACOSX_DEPLOYMENT_TARGET=11.1` as [@pedrocolon93](https://github.com/google/jsonnet/issues/573#issuecomment-608503476) pointed out (or whichever version of the CLT is out).
- `conda install js

[2021-01-15 19:10] dirkgr commented on #4897
Uptimerobot has no obvious way to configure HTTP POST requests. I sent them a note and am expecting an answer from their support.

Also, Sam thinks we should configure CI instead that checks all the endpoints during a deploy, or when we make changes. That's better, but it's also a lot more work.

[2021-01-15 20:51] nelson-liu opened #4915 "Timeline for 2.0?"
Hi all,

I've noticed that there are mentions of a 2.0 release---while I understand that it's probably hard to estimate a particular release date, do you think it'll be on the order of days? weeks? months? Would be nice to have some information to better plan some new projects I'm currently starting now.

Thanks!

[2021-01-15 20:56] epwalsh commented on #4915
We are just finalizing some new APIs and finishing up some bugs fixes. If all goes well we'll do a release candidate next week, and then the full release will follow shortly after that 🙂

[2021-01-15 20:58] nelson-liu commented on #4915
amazing, thanks! I must say that I was still using pre-1.0 for previous work :grimacing: , so I figured that I might as well just leapfrog to 2.0 if possible. Thanks again for the response!

[2021-01-15 20:58] #4915 closed

[2021-01-15 21:00] epwalsh commented on #4915
Pre-1.0?! Yikes! I think you will enjoy 2.0 😝

[2021-01-16 02:26] dirkgr commented on #4387
For the logging functionality I would think that's pretty easy. We could log to wandb from a `BatchCallback`.

The sweeping functionality would need a new command, maybe `allennlp wandb-sweep`. Commands can be added in plugins same as any other `Registrable` component.

[2021-01-16 02:55] dirkgr commented on #4911
I have looked at this again, and I think there is a better solution: Write a custom optimizer that defers to other optimizers.

When optimizers are initialized, they already get a set of parameters that they work on. So the big optimizer could take an argument much like the existing optimizer takes `"parameter_groups"`. For each regex you specify, you can set a different optimizer. `optimizer.step

[2021-01-16 16:33] c0ntradicti0n commented on #3366
Hello again,

now I come back to my question: I found a paper, that scrutinizes "Enriching BERT with Knowledge Graph Embeddings for Document Classification" (https://arxiv.org/pdf/1909.08402.pdf) as well as the code on this (https://github.com/malteos/pytorch-bert-document-classification)
The downward tasks, classifying some test based on labels, is something else than a tagger, that my question h

[2021-01-17 19:05] mahnerak commented on #4826
I'll try to make a PR on:

- Removing separate EpochCallback, BatchCallback in favour of a unified TrainerCallback with methods `on_epoch_end()`, `on_batch_end()`.
- Not calling EpochCallback at first step with `epoch = -1` in favour of `on_train_start()`
- End callbacks are called with method `on_train_end()`. If an error has occurred, it is provided as an argument.

I'll prepare a PR for these c

[2021-01-18 14:33] rahular commented on #4017
@francesca418 I am facing the same problem. How did you resolve it?

[2021-01-18 18:48] dirkgr commented on #4826
These sound like good changes, but it breaks the API, and we are very close to releasing 2.0. Unless the PR is perfect by Tuesday night, we'll have to ship it in 2.1, and make sure it's backwards compatible.

[2021-01-18 19:21] dirkgr commented on #4897
Uptimerobot does support HTTP POST when you pay for it, but you cannot specify a custom request body. So that's a bust. We can either find another vendor, or do what Sam suggested.

[2021-01-18 20:08] dirkgr commented on #4820
Doing this means we also need to port the whole -semparse project to -models.

[2021-01-18 20:10] epwalsh commented on #4820
What if we put it in semparse instead of models?

[2021-01-18 21:29] dirkgr commented on #4820
What do we gain?

[2021-01-19 19:49] VivaLaRobo2 commented on #2779
I get the following error when running conda install:

[code]

[2021-01-19 21:20] ignacioct commented on #2779
This thread refers to an error of the C++ compiler of MacOS. Maybe you should create a separate thread for that error to address it in an isolated way.

[2021-01-20 19:30] thanhtuongit commented on #2233
Please let me ask this problem. How to pre-process data as input to BERT? Thanks.

[2021-01-20 20:59] #4886 closed

[2021-01-22 01:21] wxs1208 opened #4925 "This problem occurs when running the script：allennlp.common.checks.ConfigurationError:key 'data_loader' is required"
[code]

During handling of the above exception, another exception occurred:

[code]

the script is :
[code]

[2021-01-22 06:10] coco-pa opened #4926 "How to train a textual entailment model with my own training set?"
I'd like to train the [decomposable attention + ELMo; SNLI](https://demo.allennlp.org/textual-entailment) model on the demo with my own dataset. I'm new to nlp. After going through the [guide](https://guide.allennlp.org/), I still have no idea of how to start off with my own training set consisting of plain text premise, hypothesis, and label. The data format is displayed below.

Based on the trai

[2021-01-22 14:20] mahnerak commented on #4926
This is the modified version of `snli.py` I used for SuperGLUE CB/RTE NLI tasks.

[2021-01-22 17:20] epwalsh commented on #4925
Hi, can you post the config you're using? And what version of AllenNLP are you using? In the future, could you please use the issue template that we provide and follow the checklist.

[2021-01-22 17:21] epwalsh commented on #4926
Also answered here on StackOverflow: https://stackoverflow.com/a/65849352/4151392

[2021-01-22 17:21] #4926 closed

[2021-01-22 17:28] coco-pa commented on #4926
Thanks!

[2021-01-25 17:19] #4782 closed

[2021-01-25 17:19] #4678 closed

[2021-01-25 18:34] #4814 closed

[2021-01-25 19:00] schmmd opened #4930 "Finish the migration guide for 2.0"

[2021-01-25 21:50] epwalsh commented on #4930
Draft is here: https://github.com/allenai/allennlp-internal/pull/151

[2021-01-26 15:19] epwalsh opened #4931 "Investigate plotext as alternative to matplotlib for find-lr command output"
See https://pypi.org/project/plotext/.

Plots right in terminal with ASCII. Would be nice to see the results right in the terminal, especially when you're working on a remote server.

[2021-01-26 19:09] mchari opened #4932 "get user warning when I try to run NER demo code"
I am trying to run the NER demo as instructed :

pip install allennlp==1.0.0 allennlp-models==1.0.0

from allennlp.predictors.predictor import Predictor
import allennlp_models.tagging

predictor = Predictor.from_path("https://storage.googleapis.com/allennlp-public-models/fine-grained-ner.2020-06-24.tar.gz")
predictor.predict(
    sentence="Did Uriah honestly think he could beat The Legend of Zelda

[2021-01-26 21:46] jbrry commented on #4911
Hi Dirk, just to give you an update on this:

I created a RegexOptimizer [here](https://github.com/jbrry/allennlp/blob/98ed2a4a0b2e889741329ad7b7a060f1c33d442e/allennlp/training/optimizers.py#L200). Like in your example above, it takes in an argument `optimizers` which specifies the regexes to use and the corresponding optimizer. It creates an object `self._grouped_optimizers` which is a dictionar

[2021-01-27 00:58] jbrry commented on #4932
This error occurs when no `min_padding_length` is specified when using the [`TokenCharactersIndexer`](https://github.com/allenai/allennlp/blob/fa1dc7b8a3899ee9ec1f51146251dccb378e1f5e/allennlp/data/token_indexers/token_characters_indexer.py#L53).

That is indeed the case in the `config.json` file from the NER model you have linked where this argument wasn't passed when the model was trained:

[cod

[2021-01-27 01:59] dirkgr commented on #4911
I thought the `RegexOptimizer` would override `step()` (and `zero_grad()`, `state_dict()`, and `load_state_dict()`) to call its inner optimizers, but behave like a normal optimizer on the outside. Did you try this and it didn't work?

[2021-01-27 02:14] jbrry commented on #4911
Sorry, I kind of overlooked how the `RegexOptimizer` could implement these methods so I didn't try it. This would be a better solution so I will try to implement these inside of the `RegexOptimizer` class. I can then update you with how that goes!

[2021-01-27 05:44] mchari commented on #4932
I would hope that the config.json file in the tar file could be edited and "re-tarred" to save every user from doing it.

[2021-01-27 20:51] leonleeldc commented on #4550
Hey, when I run bart model, I got errors, assert len(layer_cache) == 4 in decoder_cache_dict = self._decoder_cache_to_dict(decoder_cache). Not sure what wrong? May you give help there?

[2021-01-27 20:53] epwalsh commented on #4550
What version of transformers are you using?

[2021-01-27 20:54] leonleeldc commented on #4550
'4.0.1'

[2021-01-27 20:55] epwalsh commented on #4550
You need at least 4.1: https://github.com/allenai/allennlp/blob/main/setup.py#L68

[2021-01-27 20:56] leonleeldc commented on #4550
Oh, I see. Let me update my transformers then. Thanks a lot!

[2021-01-27 22:06] allenciox opened #4936 "Issue: text_classification_json dataset class does not do what it says it does"
Unfortunately, I can't find any examples of what it "does" do, but it appears to take a file that is NOT in json format, but has a complete json representation on every single line of the file, with two keys:  "text" and "label".

The code showing that is in its _read method:
....
def _read(self, file_path):
        with open(cached_path(file_path), "r") as data_file:
            for line in self.

[2021-01-27 22:51] IHMCBrodie commented on #4782
I know that this issue has been closed and I see the proposed solution above of upgrading the Transformers library, but I wonder if there is still not an issue. I am using
`pip install allennlp==1.0.0 allennlp-models==1.0.0`

`from allennlp.predictors.predictor import Predictor
import allennlp_models.tagging
predictor = Predictor.from_path("https://storage.googleapis.com/allennlp-public-models/str

[2021-01-27 22:54] dirkgr commented on #4782
Yes, it should. AllenNLP depends on some internals of `transformers`, and so we usually have to specify an exact version. Are you finding that the version of `transformers` that's installed by default with AllenNLP 1.0.0 doesn't work?

[2021-01-27 22:57] IHMCBrodie commented on #4782
That's correct. The default it installs is transformers-2.11.0 Which gave me the `RuntimeError: Error(s) in loading state_dict for SrlBert: Unexpected key(s) in state_dict: "bert_model.embeddings.position_ids".` error.

I just upgraded transformers to it's latest version (transformers-4.2.2) and when trying to load the predictor again I got the falling:
`ModuleNotFoundError: No module named 'trans

[2021-01-27 23:01] dirkgr commented on #4782
Yes, upgrading to the latest version of `transformers` will certainly not work.

I see that in AllenNLP 1.0.0, the version string for `transformers` was [`transformers>=2.9,<2.12`](https://github.com/allenai/allennlp/blob/29f3b6c36cab1b3d9e347f4d985253e9c9c9e6de/setup.py#L67). Maybe that's too permissive? Does it work if you try some other versions within that window?

[2021-01-27 23:21] IHMCBrodie commented on #4782
Just tried both version 2.9 and 2.10 of `transformers` and got the same `Unexpected key(s)` error

[2021-01-27 23:45] dirkgr commented on #4782
I can only guess then that this slipped through the cracks when we released 1.0. Do you still have a problem if you upgrade to later versions of AllenNLP (and upgrade to the appropriate transformers version with it)?

[2021-01-27 23:55] IHMCBrodie commented on #4782
So I have issues in the past trying to use the model suggested in the SRL demo with newer version of AllenNLP which is why I have been using 1.0.0 for both AllenNLP and `allennlp-models`. I will try and upgrade both `allennlp` and `allen-nlp` models now and see what happens.

[2021-01-28 00:01] IHMCBrodie commented on #4782
I just installed the latest of `allennlp` (2.0.0) `allennlp-models` (1.4.0) and everything worked without any errors

[2021-01-28 00:01] dirkgr commented on #4782
I am reluctant to fix old versions, since it's a lot of effort on our side for not a lot of gain, but if you have an issue with AllenNLP 1.4 or 2.0, we can bake a fix quickly and put it into the next version.

[2021-01-28 00:02] dirkgr commented on #4782
Hah, looks like you fell exactly into the 30 minute period where `allennlp` is already updated, but `allennlp-models` is not updated yet. `allennlp-models` 2.0.0 is building right now as we speak. Sorry for the inconvenience there!

[2021-01-28 01:34] IHMCBrodie commented on #4782
I understand the effort issue for sure. I just worry because the "model usage" tab for the SRL demo, and I think most all the other demos instructs users to `pip install allennlp==1.0.0 allennlp-models==1.0.0` and doing so with the combination of certain models i.e. `predictor = Predictor.from_path("https://storage.googleapis.com/allennlp-public-models/structured-prediction-srl-bert.2020.12.15.tar

[2021-01-28 02:49] allenciox commented on #4936
Ok, here is my subclass definition.  It appears to work.

@DatasetReader.register("text_classification_jsonfile")
class TextClassificationJsonFileReader( TextClassificationJsonReader) :
    """
    Reads tokens and their labels from a labeled json-formatted text classification file.
    Expects that each of the document instances are either at the top level of the file inside
       a list [] spec

[2021-01-28 13:44] wlhgtc opened #4937 "Empty vocab when use multiprocess dataloader"
I use a [BART](https://github.com/allenai/allennlp-models/blob/main/training_config/generation/bart_cnn_dm.jsonnet) like config. And I got a Key Error when convert idx to token, cause I got an empty vocab in [here]( https://github.com/allenai/allennlp-models/blob/main/allennlp_models/generation/models/bart.py#L369).
[code]
But when I set `num_workers=0` , all things go well.
[code]

[2021-01-28 13:49] lenyabloko opened #4938 "Demo pages don't scroll right"
Since this morning Jan 28, the Demo pages no longer allow to scroll right when overflow

[2021-01-28 15:18] himkt opened #4939 "A serialization directory isn't created in v2.0.0 GradientDescentTrainer?"
- reproduce code: https://gist.github.com/himkt/beda05df92699de726a527bd1ad64d71

In AllenNLP v2.0.0, `GradientDescentTrainer.train()` doesn't create a serialization directory, which is inconsistent with v1.x.x, I think. I couldn't find any mention of this behavior in the release note. Is this an intended change?

[2021-01-28 15:29] epwalsh commented on #4939
This was not intended. I'm guessing the only reason `GradientDescentTraininer.train()` created the directory before was because the `TensorBoardWriter` class would create the directory if it didn't exist, but now the `TensorBoardWriter` isn't used by default.

But if you'd like to make a PR on the `GradientDescientTrainer` to create the directory when it's instantiated, I think that would be good

[2021-01-28 16:20] epwalsh commented on #4937
Could you post a full stack trace when you get a chance?

[2021-01-28 18:04] epwalsh commented on #4937
So far I haven't been able to reproduce this. If you can provide a minimal reproducible example that would be great.

[2021-01-28 18:28] jbrry commented on #4911
I was able to implement the methods, `step()`, `state_dict()` and `load_state_dict()` in the [`RegexOptimizer`](https://github.com/jbrry/allennlp/blob/40aef6017f8c83680efd38952fe0765481970ad7/allennlp/training/optimizers.py#L258). I also tried training with the `--recover` flag to make sure `load_state_dict()` works ok, which it does. This means there are now no changes to the code in `trainer.py`

[2021-01-28 22:02] halnegheimish opened #4942 "allennlp evaluate on naqanet error - key 'dataloader' is required"
Hi, I followed instructions on the demo website to run the command evaluate https://demo.allennlp.org/reading-comprehension/naqanet

namely:

`allennlp evaluate naqanet-2020.02.19.tar.gz drop_dataset/drop_dataset_dev.json`

On both allennlp & allennlp-models versions 1.0.0 and 2.0.0, but both result in the following error (this is V2). Please advise on how to rectify it, thank you.

[code]

[2021-01-28 22:45] dirkgr commented on #4911
I think what's going on is that you have `self.param_groups` in the parent optimizer that points to all the parameters, and `self.param_groups` in the child optimizers pointing only to their own parameters. Every parameter is pointed to twice. And from the looks of it, that is fine. I wouldn't mind getting rid of the `p.grad = None` optimization, but doing that with the scaler would be harder.

Le

[2021-01-29 00:11] jbrry commented on #4911
Thanks, I'll look into ways I can avoid any duplication where possible.

Regarding `p.grad = None`, it seems that the [`zero_grad()`](https://github.com/pytorch/pytorch/blob/9f6e0de5485900eed3d5e2438b4797e8744ce088/torch/optim/optimizer.py#L193) method in the base Optimizer class in PyTorch has a `set_to_none` argument which enables either setting the gradient to zero or `None`, so this could actu

[2021-01-29 00:34] wlhgtc commented on #4937
Sure, here are the code.
Model:
[code]

DatasetReader:
[code]
Config:
[code]
The data contains nearly 5000 lines as follows:
[code]

[2021-01-29 01:59] dirkgr commented on #4911
I don't think there is a problem with pointing to the parameter tensors twice. That sounds like a really elegant solution actually. If that's really the situation, I don't think it needs fixing.

[2021-01-29 06:28] Tharu87 opened #4943 "Different results when running Open IE using online demo vs python code"
The results from the online demo version of Open IE is different from the results I get when calling the model from python code, even it is using the exact same model stated on the demo page (openie-model.2020.03.26.tar.gz).

For example, the sentence "Yellowstone National Park is in the United States of America." yields the following results when using the online demo:

[2021-01-29 06:45] AkshitaB commented on #4936
@allenciox Generalizing to specify `text_key` and `label_key` is a good idea. I'll be happy to review a PR. Do take a look [here](https://github.com/allenai/allennlp/blob/501b0ab43c1b5fca35e99fc788885b19cf08f29e/allennlp/data/dataset_readers/dataset_reader.py#L278); `shard_iterable` is needed for the reader to work in distributed settings.

[2021-01-29 06:47] AkshitaB commented on #4938
@lenyabloko Can you provide more details? Which task pages have this issue?

[2021-01-29 06:59] AkshitaB commented on #4942
@halnegheimish This certainly fails in v2.0 right now, but it shouldn't fail for v1.0. Can you post the exact error for v1.0?

[2021-01-29 07:23] AkshitaB commented on #4943
@Tharu87 Thank you for pointing this out. The issue is caused by the latest update to `SpacyTokenizer`, which tags auxiliary verbs like "is" as `AUX` instead of `VERB`. This should be resolved by this [fix](https://github.com/allenai/allennlp-models/pull/206).

[2021-01-29 13:43] halnegheimish commented on #4942
Sure, please see below, that's using allennlp 1.0.0 and allennlp-models 1.0.0

[code]

[2021-01-29 17:18] #4930 closed

[2021-01-29 18:24] epwalsh commented on #4937
I can see why you'd get an error in your example. You haven't given the indexer a chance to add the transformer's vocab to your model's vocab, which happens when [this](https://github.com/allenai/allennlp/blob/main/allennlp/data/token_indexers/pretrained_transformer_indexer.py#L76) is called.

But that doesn't explain why you got a key error [here](https://github.com/allenai/allennlp-models/blob/4

[2021-01-29 19:04] #4943 closed

[2021-01-29 19:49] LennertDefauw1 commented on #612
Create a virtual environement in python and just run the following command:

`pip install allennlp==1.0.0 allennlp-models==1.0.0`

This worked for me on Windows.

[2021-01-29 20:02] Martin36 commented on #612
+1 for Windows

[2021-01-30 00:51] wlhgtc commented on #4937
I run the code in [here](https://gist.github.com/wlhgtc/2684924c3cf7a662b9119a18b4729877#file-rep-py-L42-L43) by
[code]

When set `num_workers=1` and in [here](https://gist.github.com/wlhgtc/2684924c3cf7a662b9119a18b4729877#file-rep-py-L42-L43):
I got a vocab  `{0: '@@PADDING@@', 1: '@@UNKNOWN@@'}` for line 42 and `KeyError: 123` for line 43.

But when set `num_workers=0` in same position:
I got a

[2021-01-30 03:03] himkt commented on #4939
Closed in #4940. Thank you for the quick review!

[2021-01-30 03:03] #4939 closed

[2021-01-31 23:29] leonleeldc commented on #4550
Hey, the problem for Bart is resolved. But I have a new problem in deploying DDP. When the data size is as high as 50m (the input is a pair of sentences (10 tokens each)), the CPU memory will be a problem. I am using V100 gpu workers with 8 gpu nodes (16G for each). The cpu memory is 480G. I am deploying an DNN model. Even if I only use 4 gpu nodes with batch size as small as 256. After running so

[2021-02-01 01:03] leonleeldc commented on #4550
I am trying to use allennlp 2.0. But I found that there are quite minor changes. For example, token becomes token_class, Tensorboard becomes TensorBoard, dataloaders becomes data_loaders. For those changes, I have found and replaced them. But for the following, not sure what I should do.
And I didn't find where similarity_function is now.
    from allennlp.modules.similarity_functions import Simil

[2021-02-01 10:04] wlhgtc commented on #4937
@epwalsh  And I wonder when(and where)we run `apply_token_indexers` in multi-process dataloader if needed?

[2021-02-01 13:56] jackcrane opened #4948 "Textual Entailment fails following demo code for RoBERTa MNLI"
Following the code sample at https://demo.allennlp.org/textual-entailmenti, I stumbled across an issue (discussed in #4192 ), but has not been solved:

[code]

[code]

And it returns an error:

[code]

It should just return the values.

[2021-02-01 13:57] jackcrane commented on #4948
Wrong label.

[2021-02-01 13:57] #4948 closed

[2021-02-01 13:58] jackcrane opened #4949 "Unexpected keyword arguments with textual entailment"
Following the code sample at https://demo.allennlp.org/textual-entailment, I stumbled across an issue (discussed in #4192 ), but has not been solved:
[code]
And it returns an error:
[code]
It should just return the values.

[2021-02-01 17:49] epwalsh commented on #4550
I'm not sure what `SimilarityFunction` was exactly. What version of AllenNLP were you using? Sounds like you might be looking for [Attention](https://github.com/allenai/allennlp/blob/main/allennlp/modules/attention/attention.py) or [MatrixAttention](https://github.com/allenai/allennlp/blob/main/allennlp/modules/matrix_attention/matrix_attention.py)?

[2021-02-01 18:00] epwalsh commented on #4937
A more elegant approach might be to instantiate your vocab in a way that includes the transformer model vocab. For example, if we had a registered class method on the `Vocabulary` class like this:

[code]

Then in your config you could do:

[code]

I think this would actually be a good feature to have.

[2021-02-01 18:14] epwalsh commented on #4949
Hey @jackcrane, looks like the wrong predictor is being loaded, probably because these usage instructions are woefully out of date 😞 We're in the process of checking and updating all of these. This should work for you with the latest version of AllenNLP:

[code]

[2021-02-01 18:23] jackcrane commented on #4949
Thank you @epwalsh! I have made some progress given your tips:
[code]

[code]
And it still returns with an error:
[code]

[2021-02-01 18:40] bratao opened #4950 "Support spaCy v3"
spaCy released the version v3, with great improvements. https://github.com/explosion/spaCy/releases/tag/v3.0.0
Unfortunately allennlp is limiting to spacy<2.4 and the dependency resolver do not allow allennlp and spaCy v3 to be used in the same project.

Would be great to bump the requirement.

[2021-02-01 18:45] epwalsh commented on #4949
Hmm can you post the output of `pip freeze`?

[2021-02-01 18:46] jackcrane commented on #4949
[code]

[2021-02-01 19:11] epwalsh commented on #4949
@jackcrane thanks, I just realized this issue has already been fixed on the `main` branch of `allennlp-models`, but hasn't made it into a stable release yet. If you upgrade `allennlp-models` to the last nightly release (`pip install allennlp-models==2.0.1.dev20210201`) it should work. I'll also release the stable 2.0.1 today for `allennlp-models`.

[2021-02-01 19:19] epwalsh commented on #4950
Hey @bratao, dependabot should open up a PR for this update by tomorrow morning, but if you want to get a head-start on this you could open one sooner. If this upgrade doesn't break anything then we can merge ASAP.

[2021-02-01 23:24] leonleeldc commented on #4550
I had a check and found that SimilarityFunction is in fact from allennlp_0.9. I just copied them into new version (v1.3). I copied them into allennlp_2.0. Looks no problem for it. I am still trying to make 2.0 work though.

[2021-02-02 00:51] Tharu87 commented on #4943
Works like a charm, thank you @AkshitaB!

[2021-02-02 04:49] ananyagup opened #4951 "Add a warning on the Masked Language Modeling demo that BERT contains gender biases in pronoun predictions (was there earlier but has now been removed and request to re-add this feature). Please raise awareness about AI biases!"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-02 10:52] wlhgtc commented on #4937
@epwalsh  thanks for your advice and here are my code:
[code]
I tried to use `_add_encoding_to_vocabulary_if_needed` method but failed, cause there is an mutual import between `Vocabulary` and `Indexer` if import `Indexer` in vocab.

Any advice ? :)

[2021-02-02 15:52] epwalsh commented on #4937
@wlhgtc you could import the indexer within the `from_pretrained_transformer` classmethod to avoid circular imports. But a cleaner option may be to just move the logic in `_add_encoding_to_voculary_if_needed` somewhere else. Would you like to make a PR with this?

[2021-02-02 21:26] bratao opened #4955 "Learning rate scheduler do not work on AllenNLP v2"
Hello, I´m porting my code to the v2 version, and realized that the Learning rate scheduler was not working.

After inspecting the training code, I realized that on def _try_train(self) the variable:

`this_epoch_val_metric: float = 0.0` never changes it values

However the scheduler API requires a validation metric

[code]

I guess it is related to _metric_tracker change, that now receives a list

[2021-02-03 09:10] wlhgtc commented on #4955
Not all  scheduler need metric , you could see code in [here](https://github.com/allenai/allennlp/blob/main/allennlp/training/learning_rate_schedulers/slanted_triangular.py#L97).
Only class based on `_PyTorchLearningRateSchedulerWithMetricsWrapper ` like  [`ReduceOnPlateauLearningRateScheduler `](https://github.com/allenai/allennlp/blob/main/allennlp/training/learning_rate_schedulers/learning_rate

[2021-02-03 11:45] bratao commented on #4955
@wlhgtc yeah, you right. I use ReduceOnPlateauLearningRateScheduler , and in the latest version it was not detecting sn improvement because this_epoch_val_metric was stuck on 0

[2021-02-03 18:15] dirkgr commented on #4955
Haha, I love the confidence, but maybe I just screwed up. Let me take a look and understand this :-)

[2021-02-04 19:21] dirkgr commented on #4955
Fixed in #4959.

[2021-02-04 19:21] #4955 closed

[2021-02-04 19:27] dirkgr commented on #4550
Similarity functions were already removed in AllenNLP 1.0. I don't know why. I'm afraid that was even before my time. Maybe @matt-gardner remembers?

[2021-02-04 20:06] matt-gardner commented on #4550
`SimilarityFunction` was an attempt to let you experiment with different similarity functions when computing attentions and similar operations.  The trouble was that it was implemented very inefficiently.  We ended up pushing each of the `SimilarityFunction` implementations directly to subclasses of `Attention` and `MatrixAttention`, where they could be done much more efficiently.  Same functional

[2021-02-05 16:40] #4925 closed

[2021-02-05 17:34] aleSuglia opened #4962 "Integration with Huggingface datasets"
Huggingface [Datasets](https://github.com/huggingface/datasets) has nicely gathered popularity over the last few months and it has a very simple API for accessing the most common NLP datasets. In addition, it has the potential to support multi-modal datasets as well (see [related issue](https://github.com/huggingface/datasets/issues/263)). At the moment, AllenNLP integrates datasets by downloading

[2021-02-05 18:03] epwalsh commented on #4962
It would be great to add support for `Datasets`. I was thinking about this a while ago and then it kind of fell off the map. I'm not sure yet how we'd integrate it, but I'm thinking it would either be through a new `DatasetReader` or `DataLoader` class that wraps it.

[2021-02-05 18:14] #1941 closed

[2021-02-05 20:26] leonleeldc commented on #4550
Thanks, I see. I will not use them then. I am starting to transfer to use allennlp 2.0 for deploying the cool data loading features.

[2021-02-06 01:22] pvcastro commented on #4690
Now that #4946 got merged, even though I was the one that opened this issue, I'd like your input before closing it. What do you think @dirkgr and @tomsherborne ?

[2021-02-06 01:28] dirkgr commented on #4690
I think both sub-issues have been resolved, but I never had a local repro of the problem. Does it work now end-to-end?

[2021-02-06 01:41] pvcastro commented on #4690
For me it's all good now. I was just wondering because @tomsherborne was preparing an additional contribution.

[2021-02-06 02:30] nelson-liu opened #4963 "Include evaluation metrics of officially-supported models in model cards"
I think it'd be useful for the model cards of officially-supported models to report the evaluation metrics / model performance. I know I can check for myself with `allennlp evaluate`, it's nice to have this sort of information on-hand (e.g., in this case I want to see  whether a model is ~ the published performance)

[2021-02-06 05:32] VaryYoung opened #4965 "how can we get word from vec that mens elmo2sents?"
Please ask questions on [Stack Overflow](https://stackoverflow.com/questions/tagged/allennlp) rather than on GitHub.  We monitor and triage questions on Stack Overflow with the AllenNLP label and questions there are more easily searchable for others.

[2021-02-06 19:16] ZZZZZch opened #4966 "AllenNLP: Different Constituency Parsing Using Taskdemo and Python Library"
thank you for sharing your fantastic tool with us. Very excellent job.

Just a question, why I got different constituency parsing result between online task demo and local python library? I think both of them are based on the model "https://storage.googleapis.com/allennlp-public-models/elmo-constituency-parser-2020.02.10.tar.gz"?

For example, input the same sentence,

"They quickly ran to the pla

[2021-02-08 18:42] jbrry commented on #4911
I have updated some of the code which now allows for multiple optimizers and losses in this commit: https://github.com/jbrry/allennlp/commit/de9c6ec1d82c302ea69abf3d0c7c49123af2ae2d. I am working on the branch [`separate_optimizers_and_losses`](https://github.com/jbrry/allennlp/tree/separate_optimizers_and_losses) in my AllenNLP fork.

Regarding the `RegexOptimizer`, there are some changes: The `o

[2021-02-08 19:51] dirkgr commented on #4911
Thank you for doing this! I'd love to have the `RegexOptimizer` in a separate PR. I think that would be a cool addition to the optimizers.

I am not yet sold on multiple losses. What's the problem you're solving that way?

Either way, those should be separate PRs, since they are separate features, and at least `RegexOptimizer` is quite large as it is.

[2021-02-09 00:36] jbrry commented on #4911
Ok great! I will submit a PR soon. Should I add a few tests to `https://github.com/allenai/allennlp/blob/main/tests/training/optimizer_test.py` to make sure everything's working as expected as part of the PR?

My thinking was that having separate losses would mean that each optimizer would only know about the gradients of a particular loss so it wouldn't be influenced by the gradients in another l

[2021-02-09 05:08] #4937 closed

[2021-02-09 10:03] tomsherborne commented on #4690
@pvcastro I think your solution is good. I was working on something but other commitments have ended up taking higher priority. Apologies that this never came to fruition.

[2021-02-09 10:30] pvcastro commented on #4690
Thanks for the effort @tomsherborne !

[2021-02-09 10:30] #4690 closed

[2021-02-09 22:58] dirkgr commented on #4911
Yes please :-)

[2021-02-11 13:30] yy147 opened #4971 "Failed to import WordTokenizer"
Hello, I'm using Allennlp 1.4.0 and Allen-model 1.4.0 on my proiect. I run the command as `allennlp serve --archive-path <path> --predictor <predictor> --include-package <pacakge_name>`. And then I got an error of `Failed to import WordTokenizer from allennlp.data.tokenizers.word_tokenizer`.

I've looked at the WordTokenizer from version 0.9.0 to the latest one. Only version 0.9.0 contains WordTok

[2021-02-11 16:40] #4938 closed

[2021-02-11 19:00] namednil opened #4972 "Write metrics in TrainerCallback"
Hi! Is there a particular reason why it is not possible to write information into the `metrics` dictionary in the `on_epoch` callback (that is, why writing has no effect)?

This could be useful to collect predictions on the validation set and then run an external evaluation script and collect the results, so the metrics become available for logging and early stopping.

If that doesn't make sense,

[2021-02-11 23:02] dirkgr commented on #4782
I'm going through the various model instructions we have online right now, making sure they are all correct.

[2021-02-11 23:12] dirkgr commented on #4972
You can modify the metrics in a callback, but the callback is called after the metrics are logged, so you'll see your modification one epoch later than you think. We could probably move that callback call earlier, so you have a chance to modify the metrics before they are logged. You will not be able to make early-stopping decisions based on those modified metrics though.

I would rather recommend

[2021-02-11 23:16] dirkgr commented on #4971
What model are you trying to serve?

`WordTokenizer` has been replaced with `SpacyTokenizer`. It often work if you just substitute one for the other. However, if you have a model that is so old it still requires `WordTokenizer`, then there are probably other incompatibilities.

[2021-02-11 23:31] dirkgr commented on #4966
The demo and the library sometimes go out of sync, because we update the library more often than the demo. Right now I'm in the middle of an effort to update all the demo usage information to use the new AllenNLP 2.0 version.

In your example the demo is indeed better, but your example is ungrammatical, so I would not put too much stock into the results anyways. Essentially, this is an out-of-doma

[2021-02-11 23:32] dirkgr commented on #4965
What happened here? I don't know what the title means, and the description is some of our own instruction?

[2021-02-11 23:32] #4965 closed

[2021-02-11 23:58] namednil commented on #4972
Thanks for the quick answer!

I see, then that's not optimal. Thanks for the heads-up!

Doesn't the interface require tensors? That would be quite inconvenient because I would basically have to encode the gold data from a string into a tensor and back into a string to run a metric like [Smatch](https://github.com/snowblink14/smatch) or [fuzzing accuracy](https://github.com/taoyds/test-suite-sql-ev

[2021-02-12 00:20] dirkgr commented on #4963
This is not a bad idea, though sometimes the numbers are a little hard to get because you need more than just a model.

[2021-02-12 00:41] dirkgr commented on #4972
You could do it in `Model.get_metrics()`?

[2021-02-12 00:42] dirkgr commented on #4962
Same for TensorFlow Datasets. TFDS datasets have a schema, so we could automatically read it into `TextField`, `LabelField`, and so on.

[2021-02-12 00:43] IHMCBrodie commented on #4782
I appreciate you coming back to this and the attention to detail! Thank you!

[2021-02-12 00:44] dirkgr commented on #4421
I don't think we need this issue to track this.

[2021-02-12 00:44] #4421 closed

[2021-02-12 00:45] #4425 closed

[2021-02-12 00:46] dirkgr commented on #4850
@epwalsh, is this done?

[2021-02-12 00:47] epwalsh commented on #4850
Yeup

[2021-02-12 00:47] #4850 closed

[2021-02-12 00:47] dirkgr commented on #4806
Metrics now have a `supports_distributed` flag.

[2021-02-12 00:47] #4806 closed

[2021-02-12 00:54] dirkgr opened #4973 "`allennlp predict` is broken for multitask models"
See https://stackoverflow.com/questions/66156046/allennlp-2-0-using-allennlp-predict-with-multitaskdatasetreader-leads-to-runt.

[2021-02-12 01:03] dirkgr opened #4974 "Publish allennlp-server to pypi"
It's annoying that it's separate. It doesn't get proper test coverage this way. We should either support this feature properly, or not at all.

[2021-02-12 01:06] epwalsh commented on #4974
I was talking to Michael about this earlier today and said I would look into updating it (I don't even know if it works anymore). FWIW I'm on board with bringing it into the core repo as long as we make the extra dependencies (Flask and idk what else) optional.

[2021-02-12 09:27] namednil commented on #4972
Ah, yes, thanks!

[2021-02-12 09:27] #4972 closed

[2021-02-12 17:23] dirkgr commented on #4966
I didn't notice this the first time. This is al ELMo model. ELMo is not deterministic, and might give you different results when you run it multiple time. ELMo works better if it's warmed up first, i.e., if you send it a few sentences before doing your actual predictions. The demo is always warmed up.

[2021-02-12 17:28] ZZZZZch commented on #4966
Many thanks for your kindly reply.

Very helpful. I will try it later. Hope the problem could be solved.

Best wishes,
Chenghao

Tel: +86 17801190520(CHINA)/+60 1123254061(MALAYSIA)
Email: zhu_cheng_hao@163.com
On 2/13/2021 01:23，Dirk Groeneveld<notifications@github.com> wrote：

I didn't notice this the first time. This is al ELMo model. ELMo is not deterministic, and might give you different resu

[2021-02-12 21:41] epwalsh commented on #4974
Okay, so after some more thought, I don't see the value in bringing it (back) into the main.

I just made some updates in https://github.com/allenai/allennlp-server/pull/14. It all works. Actually I don't think anything was really broken in the first place. And in theory, nothing should break in the future, because we're not going to make breaking API changes in AllenNLP (at least until 3.0, whene

[2021-02-12 22:27] dirkgr commented on #4974
It's harder for users, and we have to remember to release this every time we make a release?

[2021-02-13 01:11] vikigenius opened #4977 "BART model make_output_human_readable produces special characters that are not removed"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2021-02-13 01:25] vikigenius commented on #4977
For now, I am using the following workaround.

[code]

[2021-02-13 02:53] dirkgr opened #4978 "We cache 404 responses"
When you do `cached_path("https://raw.githubusercontent.com/allenai/allennlp-models/main/training_config/snli_roberta.jsonnet")`, we get a 404 response with a body. We cache the body as if nothing had happened. We should throw an exception in this case.

[2021-02-15 16:29] gabeorlanski opened #4982 "Nesting Issue on the 'Reading Data' section of the Guide"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2021-02-15 17:06] benoit-intrw commented on #4974
What would be nice is to push it on the pypi, this way it would be installable with pip as suggested in the guide here https://guide.allennlp.org/next-steps#2

By the way, I can confirm, the server was working on version 2.0 before the modification.

Thanks for all your hard work,
regards

[2021-02-15 18:11] epwalsh commented on #4974
@dirkgr there's no reason to do a release on `allennlp-server` when we do a release in `allennlp`. At least until 3.0.

@benoit-intrw I agree it would be good to put on PyPI. I'll add that to my TODO list if we agree to keep it in its own repo.

[2021-02-15 19:56] epwalsh commented on #4982
@gabeorlanski thanks for pointing that out! I must have accidentally removed a closing tag when I updated the guide for 2.0. Should be a quick fix.

[2021-02-15 20:22] epwalsh commented on #4978
Oh wow, I'm really surprised we haven't caught this bug before.

[2021-02-15 20:23] #4982 closed

[2021-02-15 21:22] epwalsh commented on #4977
Would you like to make a PR for this?

Instead of calling the field "generations" I think "predicted_text" would be better. Also maybe you want to use the `skip_special_tokens` option to `batch_decode` (https://github.com/huggingface/transformers/blob/1c8c2d9ab34b8c8d326db9e0608f8e54cfccb885/src/transformers/tokenization_utils_base.py#L3069)?

[2021-02-15 21:27] gabeorlanski commented on #4295
I have encountered issues (*not* in AllenNLP but python in general) where `.bin` files would not load in python because they were made on a different os than the one I was using. Mostly it was Windows vs. Linux, but I even had issues in WSL vs. pure Linux. So any implementation may have to deal with this.

Also, @schmmd, I would assume the `.bin` he refers to is just pickled data from python's `pi

[2021-02-15 23:46] #4978 closed

[2021-02-16 15:12] vikigenius commented on #4977
Yeah, sure give me 1 or 2 days. I will put something together.

[2021-02-17 19:01] #4977 closed

[2021-02-17 23:19] epwalsh opened #4989 "Use isort in CI"
https://pypi.org/project/isort/

Sorts imports according to [PEP 8](https://www.python.org/dev/peps/pep-0008/#imports). Compatible with black.

[2021-02-18 22:45] dirkgr opened #4992 "RoBERTa on SuperGLUE's Broadcoverage Diagnostics task."
Broadcoverage Diagnostics is one of the tasks of the [SuperGLUE](https://super.gluebenchmark.com) benchmark. The task is to re-trace the steps of Facebook's RoBERTa paper (https://arxiv.org/pdf/1907.11692.pdf) and build an AllenNLP config that reads the Broadcoverage Diagnostics data and fine-tunes a model on it. We expect scores in the range of their entry on the [SuperGLUE leaderboard](https://s

[2021-02-18 22:57] #3630 closed

[2021-02-18 22:59] epwalsh commented on #2167
This should no longer be an issue

[2021-02-18 22:59] #2167 closed

[2021-02-18 23:46] dirkgr opened #4994 "RoBERTa on SuperGLUE's 'Winogender Schema Diagnostics' task"
Winogender Schema Diagnostics (AX-g) is one of the tasks of the [SuperGLUE](https://super.gluebenchmark.com) benchmark. The task is to re-trace the steps of Facebook's RoBERTa paper (https://arxiv.org/pdf/1907.11692.pdf) and build an AllenNLP config that reads the AX-g data and fine-tunes a model on it. We expect scores in the range of their entry on the [SuperGLUE leaderboard](https://super.glueb

[2021-02-18 23:46] dirkgr opened #4995 "RoBERTa on SuperGLUE's 'Reading Comprehension with Commonsense Reasoning' task"
ReCoRD is one of the tasks of the [SuperGLUE](https://super.gluebenchmark.com) benchmark. The task is to re-trace the steps of Facebook's RoBERTa paper (https://arxiv.org/pdf/1907.11692.pdf) and build an AllenNLP config that reads the ReCoRD data and fine-tunes a model on it. We expect scores in the range of their entry on the [SuperGLUE leaderboard](https://super.gluebenchmark.com/leaderboard).

[2021-02-18 23:46] dirkgr opened #4996 "RoBERTa on SuperGLUE's BoolQ task"
BoolQ is one of the tasks of the [SuperGLUE](https://super.gluebenchmark.com) benchmark. The task is to re-trace the steps of Facebook's RoBERTa paper (https://arxiv.org/pdf/1907.11692.pdf) and build an AllenNLP config that reads the BoolQ data and fine-tunes a model on it. We expect scores in the range of their entry on the [SuperGLUE leaderboard](https://super.gluebenchmark.com/leaderboard).

We

[2021-02-18 23:46] dirkgr opened #4997 "RoBERTa on SuperGLUE's 'Winograd Schema Challenge' task"
WSC is one of the tasks of the [SuperGLUE](https://super.gluebenchmark.com) benchmark. The task is to re-trace the steps of Facebook's RoBERTa paper (https://arxiv.org/pdf/1907.11692.pdf) and build an AllenNLP config that reads the WSC data and fine-tunes a model on it. We expect scores in the range of their entry on the [SuperGLUE leaderboard](https://super.gluebenchmark.com/leaderboard).

We rec

[2021-02-18 23:46] dirkgr opened #4998 "RoBERTa on SuperGLUE's 'Words in Context' task"
WiC is one of the tasks of the [SuperGLUE](https://super.gluebenchmark.com) benchmark. The task is to re-trace the steps of Facebook's RoBERTa paper (https://arxiv.org/pdf/1907.11692.pdf) and build an AllenNLP config that reads the WiC data and fine-tunes a model on it. We expect scores in the range of their entry on the [SuperGLUE leaderboard](https://super.gluebenchmark.com/leaderboard).

We rec

[2021-02-18 23:46] dirkgr opened #4999 "RoBERTa on SuperGLUE's 'Recognizing Textual Entailment' task"
RTE is one of the tasks of the [SuperGLUE](https://super.gluebenchmark.com) benchmark. The task is to re-trace the steps of Facebook's RoBERTa paper (https://arxiv.org/pdf/1907.11692.pdf) and build an AllenNLP config that reads the RTE data and fine-tunes a model on it. We expect scores in the range of their entry on the [SuperGLUE leaderboard](https://super.gluebenchmark.com/leaderboard).

We rec

[2021-02-18 23:47] dirkgr opened #5000 "RoBERTa on SuperGLUE's 'Multi-Sentence Reading Comprehension' task"
MultiRC is one of the tasks of the [SuperGLUE](https://super.gluebenchmark.com) benchmark. The task is to re-trace the steps of Facebook's RoBERTa paper (https://arxiv.org/pdf/1907.11692.pdf) and build an AllenNLP config that reads the MultiRC data and fine-tunes a model on it. We expect scores in the range of their entry on the [SuperGLUE leaderboard](https://super.gluebenchmark.com/leaderboard).

[2021-02-18 23:47] dirkgr opened #5001 "RoBERTa on SuperGLUE's 'Choice of Plausible Alternatives' task"
COPA is one of the tasks of the [SuperGLUE](https://super.gluebenchmark.com) benchmark. The task is to re-trace the steps of Facebook's RoBERTa paper (https://arxiv.org/pdf/1907.11692.pdf) and build an AllenNLP config that reads the COPA data and fine-tunes a model on it. We expect scores in the range of their entry on the [SuperGLUE leaderboard](https://super.gluebenchmark.com/leaderboard).

We r

[2021-02-18 23:47] dirkgr opened #5002 "RoBERTa on SuperGLUE's CommitmentBank task"
CommitmentBank is one of the tasks of the [SuperGLUE](https://super.gluebenchmark.com) benchmark. The task is to re-trace the steps of Facebook's RoBERTa paper (https://arxiv.org/pdf/1907.11692.pdf) and build an AllenNLP config that reads the CommitmentBank data and fine-tunes a model on it. We expect scores in the range of their entry on the [SuperGLUE leaderboard](https://super.gluebenchmark.com

[2021-02-18 23:58] #4670 closed

[2021-02-18 23:59] #1629 closed

[2021-02-19 03:01] dirkgr opened #5003 "Train a region detector on the features from Visual Genome"
This is a project in computer vision, rather than natural language processing. It is here because we have found this `RegionEmbedder` to be important for down-stream tasks that combine vision and language features.

In AllenNLP, `RegionDetector`s take an image and predict "regions of interest". Each region is represented by some coordinates and a vector expressing the contents of the region.

[Vis

[2021-02-19 23:57] #4950 closed

[2021-02-20 17:36] ekdnam commented on #5001
Hi! Can I work on this issue?

[2021-02-21 14:08] xdwang0726 commented on #4295
For example, the google pretrained word2vec is in .bin file (GoogleNews-vectors-negative300.bin)

[2021-02-22 00:19] dirkgr commented on #5001
Absolutely! Do you know how to get started?

[2021-02-22 10:49] manelAffi opened #5006 "KeyError: 'elmo'"
System:
OS: linux
Python version: 3.7
AllenNLP version: 0.9.0
PyTorch version: 1.7.2
Question:
I'm trying to train crf-tagger model for named entity recognition task on CoNLL 2003 dataset using BERT and elmo embeddings.I got the following error message:

**KeyError: 'elmo'**

**_here is the config file code:_**
[code]
Is there any idea what should be the problem?

[2021-02-22 15:34] ekdnam commented on #5001
That is great!

I would be very glad if you can give some pointers. Currently, I am going through the links given in the issue \([AllenNLP Repository Template](https://github.com/allenai/allennlp-template-config-files) and others\).

[2021-02-22 16:41] #4566 closed

[2021-02-22 18:15] dirkgr commented on #5001
Most of the work will be in writing the reader, which makes `Instance` objects out of the data from disk.

The CoPA data looks like this:

The best way to encode this for RoBERTa is to create two `TextField`s, one containing the string "The man broke his toe. What was the CAUSE of this? He got a hole in his sock.", and the other one with "The man broke his toe. What was the CAUSE of this? He dropp

[2021-02-22 18:23] dirkgr commented on #3097
I continue to have thoughts about this, but I don't think a GitHub issue is the right place for them right now.

[2021-02-22 18:23] #3097 closed

[2021-02-22 18:44] dirkgr commented on #4572
Close as wont fix. We are scared of the silent backwards compatibility issues.

[2021-02-22 18:44] #4572 closed

[2021-02-22 18:44] dirkgr commented on #4591
Since reading is so much faster now, the case for caching is pretty weak. We're abandoning this issue for now.

[2021-02-22 18:44] #4591 closed

[2021-02-22 18:48] dirkgr opened #5008 "Officially support Python 3.7 and 3.8 only"
This means abandoning 3.6.

[2021-02-22 18:51] epwalsh commented on #4707
Requires dropping 3.6, see https://github.com/allenai/allennlp/issues/5008

[2021-02-22 19:04] dirkgr commented on #4820
While we all think this is a good idea, we also think it's not worth the work.

[2021-02-22 19:04] #4820 closed

[2021-02-22 19:09] AkshitaB commented on #4951
This is done.
<img width="967" alt="Screen Shot 2021-02-22 at 11 07 35 AM" src="https://user-images.githubusercontent.com/6500683/108757243-6e8a3a80-74fe-11eb-9430-ca4ebe1fdf11.png">

[2021-02-22 19:09] #4951 closed

[2021-02-22 19:11] dirkgr commented on #4868
We don't really need the issue as well as the draft PR.

[2021-02-22 19:11] #4868 closed

[2021-02-22 19:11] dirkgr commented on #4897
Uptime robot doesn't have enough functionality for us.

[2021-02-22 19:11] #4897 closed

[2021-02-22 19:13] dirkgr commented on #4974
We resolved that should put allennlp-server into pypi but not bring it into the main repo.

[2021-02-22 19:16] willfrey opened #5009 "@Registrable.register decorator hinders annotation-based suggestions in IDEs"
I have a fix for your consideration that I'll open a PR for.

## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/all

[2021-02-22 22:13] epwalsh commented on #4755
This has been fixed in PyTorch 1.7.1.

[2021-02-22 22:13] #4755 closed

[2021-02-22 23:45] epwalsh commented on #4989
I looked into this. All we really care about is adhering to PEP 8, which for imports just means they are grouped by module type (std lib, third party, and local). We don't care about the ordering within groups.

`isort` has a flag `--only-sections` which sounds like what we want, i.e. to only enforce that imports are grouped together by module type. But when using this flag, `isort` still sorts by

[2021-02-23 00:54] dirkgr commented on #4989
So we sit tight until we hear back about the issue? In that case I'll assign this to milestone 2.2 so we don't forget about it.

[2021-02-23 00:55] #5008 closed

[2021-02-23 03:00] epwalsh commented on #4989
Yeup, 2.2 sounds good.

[2021-02-23 05:03] michaelcohen-dev commented on #4949
Hi @epwalsh,   I am also having problems getting this piece of code running (called simple_test.py below).  I installed  allennlp==2.0.1 and allennlp-models==2.0.1 (python version 3.7.9) and I'm a trying to run the code from above:

[code]

I am getting the error:

[code]

Here is my pip freeze:
[code]

[2021-02-23 08:40] ekdnam commented on #5001
Thanks a lot for the detailed response!

Have gone through it, will ping you here in case I run into some issues while implementation

[2021-02-23 09:49] aleSuglia opened #5014 "Better device handling in VisionReader"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2021-02-23 17:47] #4936 closed

[2021-02-23 19:14] epwalsh commented on #4707
Closing this since we're going to keep 3.6 after all.

[2021-02-23 19:14] #4707 closed

[2021-02-23 19:37] epwalsh commented on #4949
@michaelcohen-dev I believe this is because you don't have [`jsonnet`](https://pypi.org/project/jsonnet/) installed.

[2021-02-23 21:25] ankh6 commented on #4465
Hi @dirkgr @epwalsh Does someone work on that ? I'd like to make my first contribution to the project

[2021-02-23 21:27] epwalsh commented on #4465
@ankh6 no one has claimed it so far! So please go ahead if you'd like

[2021-02-24 01:37] #5009 closed

[2021-02-24 03:15] #4973 closed

[2021-02-24 04:31] ekdnam opened #5017 "A guide with the updated API"
**Is your feature request related to a problem? Please describe.**

- As someone who is trying to get to know the library, I was looking at the documentation, which links to the guide [guide.allennlp.org](https://guide.allennlp.org/). It utilizes some APIs that seem to be deprecated in the later versions.
- It is sometimes a difficult task to try to look at the code given in `Setup` and `Source`.

[2021-02-24 05:01] epwalsh commented on #5017
Hi @ekdnam, I recently went through the guide to update everything to work with the latest version of AllenNLP. But it's possible I missed something. Can you point me to specific examples in the guide that use old / deprecated parts of the API?

[2021-02-24 05:41] ekdnam commented on #5017
Hi @epwalsh .

At first while trying to run the code, I was copying and pasting the contents of `Source` and `Setup` which may have led to some errors while running it. My bad, and sorry for the inconvenience caused. This resolves the first point of my issue.

Later (ie after creating the issue) I was perusing the guide once again, and I found a link to the repo [allenai/allennlp-guide-examples](h

[2021-02-24 05:49] ekdnam commented on #5017
Can perhaps a google colab notebook be created? Which makes it easier to interact with the example?

[2021-02-24 11:58] jbrry commented on #4911
Thanks for all your help with this @dirkgr and for spending the extra time improving it!

[2021-02-24 11:58] #4911 closed

[2021-02-24 22:40] dirkgr opened #5018 "Visual Genome Question Answering"
Visual Genome has a set of questions for every image, 1.7M in total. This task is about writing a `DatasetReader` that brings the Visual Genome QA data into the same format as produced by the [VQA](https://github.com/allenai/allennlp-models/blob/main/allennlp_models/vision/dataset_readers/vqav2.py) and [GQA](https://github.com/allenai/allennlp-models/blob/main/allennlp_models/vision/dataset_reader

[2021-02-24 23:05] dirkgr opened #5019 "Caption-Based Image Retrieval Model"
We want to implement the Caption-Based Image Retrieval task from https://api.semanticscholar.org/CorpusID:199453025.

The [COCO](https://cocodataset.org/) and [Flickr30k](https://www.kaggle.com/hsankesara/flickr-image-dataset) datasets contain a large number of images with image captions. The task here is to train a model to pick the right image given the caption. The image must be picked from fou

[2021-02-25 00:45] dirkgr opened #5020 "Try the DETR object detection model with our vision+language tasks"
[DETR](https://github.com/facebookresearch/detr) is an interesting object detection model that fits into our `RegionDetector` abstraction. This task is about porting the DETR model to AllenNLP and trying it on all the vision+language tasks that are implemented right now. At the moment, this is VQAv2, GQA, and Visual Entailment, but by the time this gets picked up there could be more.

DETR comes w

[2021-02-25 01:28] vikigenius opened #5021 "SeqDecoder abstraction and Variational Autoencoders"
I was taking a look at the composed seq2seq models and their abstractions.
Is the `SeqDecoder` suitable for implementing Variational Autoencoders for generation tasks ?

Because it seems like `SeqDecoder` assumes that the encoder output in forward is the output from a `Seq2SeqEncoder`, however in a Variational Autoencoder wouldn't the better option for an encoder be a `Seq2VecEncoder` ?

The docum

[2021-02-25 01:48] shinyemimalef opened #5022 "The SRL predictor doesn't work with the following error message"
## Checklist

- [x ] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x ] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x ] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.

[2021-02-25 17:16] epwalsh commented on #5017
Ah, well actually it looks like https://github.com/allenai/allennlp-guide-examples may be out-of-date. I missed that while updating the guide, so I'll that to my to-do list.

What would like to see in a Google Colab notebook? The guide is already interactive, so I'm not sure what benefit that would have other than GPU access and maybe quicker runtime?

[2021-02-25 23:46] AkshitaB commented on #5006
@manelAffi Can you post the entire traceback? Also, make sure that the `bert-pretrained`, `elmo`, etc. are registered modules, otherwise, you'll get a `ConfigurationError` like this:

[code]

[2021-02-26 00:29] chrisroat commented on #4108
I was just passing by and interested what you ended up doing here.  I see the strike-out and the later merge to setup a self-hosted runner.  Did you mitigate the issues raised in the link?

[2021-02-26 00:35] dirkgr opened #5023 "Referring Expressions with COCO, COCO+, and COCOg"
In the referring expressions task, the model is given an image and an expression, and has to find a bounding box in the image for the thing that the expression refers to.

Here is an example of some images with expressions:
<table width="100%">
<tr>
<td><img src="http://bvisionweb1.cs.unc.edu/licheng/referit/refer_example.jpg"></td>
</tr>
</table>

To do this, we need the following components:
 1.

[2021-02-26 00:41] epwalsh commented on #4108
There are still some security issues, but the worst someone could do is disable/corrupt our cloud machine that the runner is on. This would be annoying but not catastrophic.

[2021-02-26 09:49] manelAffi commented on #5006
@AkshitaB thanks for your replay.
I have successfully trained elmo as well as bert with crf-tagger but when I try to combine them I get **"KeyError: 'elmo'"** error.

**Here is the full traceback:**
[code]

[2021-02-26 16:09] AkshitaB commented on #5022
@shinyemimalef The latest archive file that you're using works with allennlp 2.0. You can upgrade the allennlp version. If you would like to continue using allennlp 1.0, then the right archive file is `https://storage.googleapis.com/allennlp-public-models/bert-base-srl-2020.03.24.tar.gz` .

@dirkgr This may have been missed in the demo model sweep. I think the `install_instructions` need to be upd

[2021-02-26 16:32] epwalsh commented on #5017
@ekdnam, the code in `allennlp-guide-examples` has now been moved over to `allennlp-guide` (https://github.com/allenai/allennlp-guide/pull/156). This PR also fixed an issue with the interactive environment in the guide where an older version of AllenNLP was installed instead of the latest 2.x release.

I'm going to close this issue to avoid confusion, but feel free to open another issue as a featu

[2021-02-26 16:32] #5017 closed

[2021-02-26 16:41] ekdnam commented on #5017
Just as I was commenting, the issue got resolved. Thanks!

[2021-02-26 16:42] ekdnam commented on #5017
Okay, will open a feature request

[2021-02-26 16:43] epwalsh commented on #5021
Hey @vikigenius, I think `encoder_out` can be anything as long as your [`DecoderNet`](https://github.com/allenai/allennlp-models/blob/5feb88606926065737b7719c3965c657ce83b7b9/allennlp_models/generation/modules/decoder_nets/decoder_net.py#L6) can handle it.

[2021-02-26 16:47] epwalsh commented on #5021
I'm not super familiar with this API though and like you said, it was probably not intended to be used with VAEs. But so far I don't see any reason why it can't be.

Either way, the documentation could definitely be improved.

[2021-02-26 16:51] ekdnam opened #5024 "A google colab for the guide"
**Is your feature request related to a problem? Please describe.**
(Continuing the discussion from here https://github.com/allenai/allennlp/issues/5017)
- While going through the guide, I felt that it would be a great addition if a google colab notebook can be created.
- As one begins to go through a new ML library / framework, it is very helpful to run the code side by side as going through the g

[2021-02-26 16:52] ekdnam commented on #5024
cc @epwalsh

[2021-02-26 17:13] epwalsh commented on #5024
The more learning resources, the better.

I do really like the guide, but I could see a tutorial in Google Colab being valuable for people looking for a shorter, more interactive walk-through.

I'm putting the "Contributions welcome" tag on this because we are all pretty busy at the moment with larger goals, but if someone else put in most of the work on this we'd be glad to give feed back through

[2021-02-26 18:30] ekdnam commented on #5024
Okay, thanks!

Anyways, I am trying to get acquainted with the library and then work on an another issue (https://github.com/allenai/allennlp/issues/5001), I will look into this over the weekend!

[2021-02-26 18:38] epwalsh commented on #5024
@ekdnam great!

[2021-02-26 20:17] yy147 commented on #4971
Sorry, @dirkgr I forgot to reply. Yes, It works, I've updated my code with `SpacyTokenizer`. Thanks for all your help.

[2021-02-26 20:17] #4971 closed

[2021-02-26 20:21] epwalsh opened #5025 "Implement CopyNext model"
https://api.semanticscholar.org/CorpusID:225103260

This is very similar to [`CopyNet`](https://docs.allennlp.org/models/main/models/generation/models/copynet_seq2seq/#copynetseq2seq) from [Gu et al., 2016](https://api.semanticscholar.org/CorpusID:8174613), but adds an inductive bias for copying contiguous tokens.  The implementation is actually just a simple extension of `CopyNet`: `CopyNext` int

[2021-02-26 22:56] dirkgr commented on #5014
I tried this myself locally, and had no problems with it. But nevertheless, a possible fix is easy enough: #5026

Note that this fix only applies when storing the tensors, so you'd have to re-create all the caches before you can stop using your workaround.

[2021-02-27 11:00] aleSuglia commented on #5014
@dirkgr it is very weird indeed. Glad you find a nice and tidy workaround to it. You can close this issue if you wish!

[2021-02-27 11:53] Soumyajain29 commented on #4998
Hi,
I am GSoC '21 aspirant and an NLP enthusiastic. I find this project interesting and want to work on it. It will be my first contribution, and help with getting me started will be highly appreciated.

[2021-02-28 17:32] aleSuglia opened #5027 "lmdb.BadRslotError: mdb_txn_begin: MDB_BAD_RSLOT: Invalid reuse of reader locktable slot"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2021-02-28 23:19] styx97 commented on #4143
Hi, I'm trying to use the snli dataset reader and it still shows the same error

I am using the latest version of allenai (2.1.0).

[2021-03-01 02:02] MM-Vianai opened #5028 "Open Information Extraction Training fails with "status code 404""
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2021-03-01 14:17] GR4HAM opened #5029 "MultiProcessDataLoader copies data to all workers (regardless of max_instances_in_memory value)"
I tried implementing a simple MultiProcessDataLoader according to the new documentation. The dataloading does appear to speed up significantly through the use of multiple processors, however, the entire dataset appears to be copied to each worker.

I am using many large data files so would like to avoid copying the entire dataset to each worker. My understanding is that this can be avoided by e.g.

[2021-03-01 16:40] epwalsh commented on #4143
@styx97 do you have `allennlp-models` installed?

[2021-03-01 16:49] aleSuglia opened #5030 "Questions about TensorCache implementation details"
Hi there,

I am currently using your `TensorCache` implementation for storing visual features. However, there are a few implementation details that are not clear to me. I'll write a list here:

- Why is the number of `max_readers=cpu_count * 2` and  `max_spare_txns=cpu_count * 2`? I believe this will incredibly limit the concurrent access to the database.
- Why is the additional cache `self.cache_

[2021-03-01 17:16] epwalsh commented on #5029
Hi @GR4HAM, your example code looks good. I don't see any issues with it.

Could you elaborate on what you mean by this:

What dataset?

[2021-03-01 17:50] styx97 commented on #4143
My bad, I didn't know it was in allennlp-models, that fixed it! Thanks a lot!

[2021-03-01 17:53] #5014 closed

[2021-03-01 17:59] dirkgr commented on #5030
* `max_readers` and `max_spare_txns` are just heuristically chosen. In our scenario you'd almost never have more readers than CPUs. If your scenario is different, there is no problem with setting those values higher.
* `self.cache_cache` is required for the situation when you get the same tensor out of the `TensorCache` twice. We want to make sure you get the same tensor object each time. Basicall

[2021-03-01 18:26] #4966 closed

[2021-03-01 19:17] aleSuglia commented on #5030
Thanks @dirkgr for your answers. I only have one question about the second point. Even if you create a copy of the object at that time, wouldn't that be garbage collected the moment the `Instance` object goes of the scope? Maybe I'm missing some details about the LMDB design.

Regarding the multiprocess scenario. Let me give you more context about it. I have N different dataset readers that I comb

[2021-03-01 21:47] GR4HAM commented on #5029
In the above example it is just a dummy dataset containing 10 million instances saying "dummy text", however in my real life use case it is of course a large dataset containing text. The point is that I would not expect the entire dataset to be copied for each worker I create. Thus if I would use 10 workers, I would run out of memory on the server where I am running the computations. In my mind, t

[2021-03-02 00:37] dirkgr commented on #5030
Maybe, maybe not. We want it to be safe to say `tensor_cache["key"]` multiple times even in the same function. Let's say you're using it in a loop. It might make 1000 copies of that tensor very quickly. There is no guarantee when any of these get collected. This has nothing to do with LMDB. It would be an issue with any object serialization.

As for the maximum number of readers, I think we should

[2021-03-02 00:39] epwalsh commented on #5029
So it sounds like you have the dataset loaded in memory in the main Python process _before_ starting the workers?

[2021-03-02 00:56] dirkgr commented on #4998
Wonderful!

If you've never used AllenNLP, I recommend you start with the [guide](https://guide.allennlp.org). With what you learned there, you can probably train one of our multiple choice models. Those training configs are at https://github.com/allenai/allennlp-models/tree/main/training_config/mc. Multiple choice is arguably the closest thing we have to WiC (which is a binary classification task

[2021-03-02 00:59] dirkgr commented on #5001
I just realized that COPA is a Multiple Choice task, and we already have a multiple-choice model at https://github.com/allenai/allennlp-models/blob/main/allennlp_models/mc/models/transformer_mc.py. So all you have to do is write a correct reader (following the examples at https://github.com/allenai/allennlp-models/tree/main/allennlp_models/mc/dataset_readers), and write a training config that uses

[2021-03-02 01:04] dirkgr commented on #4963
We're filling these in now every time we touch a model. No need for a special issue.

[2021-03-02 01:04] #4963 closed

[2021-03-02 01:05] dirkgr commented on #5022
The model sweep is not yet up on the website. I hope to get to that today or tomorrow.

[2021-03-02 09:06] ekdnam commented on #5001
That is great! Thanks a lot for the tip!

[2021-03-02 09:33] aleSuglia commented on #5030
When the second epoch is completed the code hangs and this is the stacktrace:
[code]
This seems to happen right before starting the validation step for the second epoch. And inspecting the workers logs I've found this:

[code]
First of all, why is this happening? Is it due to the laziness of the data loader? Second, how can I disable this behaviour during validation? I want all the instances to be

[2021-03-02 09:33] Soumyajain29 commented on #4998
Hi,
Thanks for providing pointers. I am very comfortable with python and PyTorch. I am a bit familiar with AllenNLP too.
I have started looking into them and working on a multiple-choice model. I will get back here in few days after finishing all these.

You will be the mentor for this GSoC project, right?
Is it possible for you to give me a brief idea about entering GSoC'21 formally, what the exp

[2021-03-02 09:54] GR4HAM commented on #5029
Indeed I load the dataset into a dataframe in the _read method (similar to how the data is put in a list in the _read method in the dummy example above). Is that not the correct way to go about it?

[2021-03-02 10:54] gwakjaeha commented on #4892
I got same error, is it pytorch version problem?

[2021-03-02 15:24] epwalsh commented on #5029
When the data loader starts its workers, each worker has a it's own clone of the dataset reader. Then each worker individually calls `.read()` (and therefore `_read()`) on its dataset reader. So in your case, each worker will have to load the dataset into the dataframe.

The recommended way to implement the `_read()` method here would be to *lazily* read from the csv file line-by-line:

[code]

[2021-03-02 16:17] AlexanderBelfort opened #5032 "Textual Entailment PREDICTION code for Python missing a comma on the official demo page"
As this is not a bug or just a mistake, I found a syntax error while researching the Textual Entailment feature on the website (https://demo.allennlp.org/textual-entailment/elmo-snli).

The snippet for the predictor is missing a comma and will yield a syntax error:

[code]

[2021-03-02 17:32] epwalsh commented on #5030
The trainer requires there to be an equal number of batches (both for training and validation) across distributed workers. So, for example, if your batch size is 1, you are training on 4 GPUs, and you only have 7 instances, then 3 instances will have to be ignored.

I would recommend against setting `batches_per_epoch` in your validation loader. This could result in having a different validation s

[2021-03-02 18:12] epwalsh opened #5033 "Publish info about each model implementation in models repo"
From our discussion on Slack.

This could be markdown docs, ideally automatically generated. Could also publish to our API docs.

Kind of related to #4720

[2021-03-02 19:28] dirkgr commented on #5030
So it seems like @aleSuglia's validation set produces one batch too many/too few in one of the workers, and thus they go out of sync?

[2021-03-02 19:40] epwalsh commented on #5030
The trainer prevents itself from getting out of sync by stopping early as soon as one worker has completely its last batch. Hence the warning. So that doesn't explain why the code hangs.

The hang could be caused by a bug in whatever metric you're using if the metric can't handle unequal batch sizes across distributed workers. I recently found (and fixed) a bug like that in the SQuAD EM+F1 metric

[2021-03-02 19:43] dirkgr commented on #4998
You can definitely email us! If you have questions that you think might be interesting to many people, you can also create a topic on the discussions page: https://github.com/allenai/allennlp/discussions/categories/google-summer-of-code

I will be one of the mentors, yes. I don't know if I will be the mentor for this particular task. We won't know this until the GSoC selection process has happened

[2021-03-02 19:45] dirkgr commented on #5030
@aleSuglia, what are the metrics you're using at validation time? If we have a bug in those, that would be quite important to fix.

[2021-03-02 20:20] aleSuglia commented on #5030
I'm using BLEU and ROUGE. Let me know if you need more information about my setup. I would love to get this sorted!

[2021-03-02 20:57] epwalsh commented on #5030
I just looked through the implementation of BLEU and ROUGE carefully. I don't think there's any issue there.

@aleSuglia how are you calling those metrics? I'm assuming you only call them once per batch with the batch tensors (this is how they're supposed to be called). But if instead you called the metrics `batch_size` times per batch, that would certainly cause a dead lock. If my question isn't

[2021-03-02 22:59] aleSuglia commented on #5030
Oh no I call the metrics once per batch and only during validation (mainly because I have a generative model).

[2021-03-02 23:13] epwalsh commented on #5030
Hmm okay. Can you try to widdle your code down to a minimal reproducible example? Or if you can find the exact line where the hang occurs, that should give me enough information to figure out what's going on.

[2021-03-03 03:46] wangyuxinwhy commented on #4996
I'm very interested in this contribution and I have 2 years experience using allennlp.But there is one thing to be mentioned, I am from China.I'm afraid that my poor English skills will limit it, but I will try my best.Do you mind？

Now I have two questions to clarify

1.  use allennlp 2.0 api ?
2. I create a project in my own repositories that fully runs the BoolQ task and show it to you? Or fork

[2021-03-03 06:40] dirkgr commented on #4996
No problem about your English skills. Judging by this message, you're doing alright :-)

1. Yes please, these should work with the latest version.
2. Please create a project in your own repository. We have templates ([with config files](https://github.com/allenai/allennlp-template-config-files) and [with the API directly](https://github.com/allenai/allennlp-template-python-script)), and if you are

[2021-03-03 08:42] wangyuxinwhy commented on #4996
OK, let's do it.I find two related statements about "BoolQ & RoBERTa".

1. from fairseq issue, https://github.com/pytorch/fairseq/issues/1027

2. from allenai EMNLP'20, https://arxiv.org/pdf/2004.04849.pdf

The first , BoolQ as a binary classification task.
The second, BoolQ as a MC task.

which way should i follow? what’s your opinion?

[2021-03-03 11:09] aleSuglia commented on #5030
So my total number of instances is 2276328 (that I computed using the `count-instances` utility). I have 5 dataset readers that are used in my training using `InterleavingDatasetReader` (with round robin scheme). Three of these datasets have a size which is around 100k. The other two dataset reader generate around 900k. As you can see, the dataset is heavily imbalanced in terms of number of instan

[2021-03-03 11:49] GR4HAM commented on #5029
Ok thank you for that suggestion but there are a few use cases where one would want to load the dataset first. For example, one might want to resample based on label occurrence or one might want to simply shuffle the dataset.

Is there no way that I could load the dataset into a dataframe and then achieve something similar to what you suggest (preferably without having to write everything back int

[2021-03-03 16:42] #4521 closed

[2021-03-03 16:42] #4486 closed

[2021-03-03 17:14] epwalsh commented on #5029
These use-cases fit into the purpose of the [`BatchSampler`](https://docs.allennlp.org/main/api/data/samplers/batch_sampler/#batchsampler) API. Or, for simple shuffling, you can just set `data_loader.shuffle` to `true`.

That said, if you're loading data lazily (i.e. when you have `max_instances_in_memory` set) the benefit of using more than 1 worker is usually marginal at best, since the bottlene

[2021-03-03 18:30] dirkgr commented on #4996
They are both binary classification tasks. The MC model works by feeding in one sequence for every answer choice, for example, "[cls] question [sep] answer1", "[cls] question [sep] answer2", and so on. Then they compute a score for each answer choice based on the [cls]. I don't think that would work very well in this case, since the answers would only be "yes" or "no".

So it makes more sense to j

[2021-03-03 21:09] dirkgr commented on #4486
We're still interested in this, and some of these are part of our [model wishlist](https://github.com/allenai/allennlp/issues?q=is%3Aissue+is%3Aopen+label%3AModels), but we don't have active work going on with these datasets that isn't being tracked elsewhere already.

[2021-03-04 02:53] wangyuxinwhy commented on #4996
Thank you for your advice and support. I will do it as soon as possible. 🤗

[2021-03-04 12:10] GR4HAM commented on #5029
Ok thank you very much, I didn't realize BatchSampler would work with lazy loading . Any chance you can direct me to an example of how to implement BatchSampler for lazy loading?

[2021-03-04 14:06] arleyprates commented on #3484
Hello, I am also looking for this. I will be grateful

[2021-03-04 14:44] gabrielStanovsky commented on #3484
Hi, that sounds like the correct setup, what numbers are you getting? Do you compare it directly with the pretrained model at allennlp?

[2021-03-04 21:39] nelson-liu opened #5036 "spacy 3.0 warnings about lemmatization and POS"
I'm training a model (https://github.com/allenai/allennlp-models/blob/main/training_config/pair_classification/mnli_roberta.jsonnet) with allennlp 2.1.0, using SpaCy 3.

There are a bunch of warnings that show up (I'm not sure if these were here before, but I noticed them now because my log files are now massive):

[code]

I think this is because `allennlp.common.util.get_spacy_model` (https://git

[2021-03-05 00:42] dirkgr commented on #4997
It looks like this can be cast as a QA model, and thus does not need any model code. It will need
1. a dataset reader that produces data in the format that `TransformerQA` expects
2. a model config that combines the new dataset reader with the `TransformerQA` model

[2021-03-05 00:46] leo-liuzy opened #5038 "Minor question on comment"
https://github.com/allenai/allennlp/blob/96415b2bab6d8c70a0fa80ca4a8b9d1dc988720e/allennlp/interpret/saliency_interpreters/integrated_gradient.py#L85

Shouldn't this be a right point approximation? Because we are storing the unmodified output for $\alpha = 0$ (see [here](https://github.com/allenai/allennlp/blob/96415b2bab6d8c70a0fa80ca4a8b9d1dc988720e/allennlp/interpret/saliency_interpreters/integ

[2021-03-05 00:47] dirkgr commented on #4995
It looks like this can be cast as a QA model, and thus does not need any model code. It will need
1. a dataset reader that produces data in the format that `TransformerQA` expects
2. a model config that combines the new dataset reader with the `TransformerQA` model

[2021-03-05 03:53] nelson-liu commented on #5036
I did a bit of digging, and I feel like this issue is really hard to solve in a way that's perfectly backwards-compatible.

So, before SpaCy 3.0, a pipeline without a tagger but with a lemmatizer would use a lookup-table based lemmatizer (e.g., see below):

[code]

So in this case, `looking` is lemmatized to `look`.

However, in 3.0, this no longer works. If you try to lemmatize something that doe

[2021-03-05 03:54] nelson-liu commented on #5036
(personally, as someone who doesn't use the lemmatizer / lemma information, i'd be in favor of just disabling it by default when spacy > 3. If you're relying on the lemmas, you shouldn't be expecting them to be implicitly set by spacy anyway, and you can go turn it on in your tokenizer.)

[2021-03-05 14:49] gabeorlanski commented on #4995
I would like to work on this issue.

[2021-03-05 15:26] leo-liuzy commented on #5028
I tried to use this [link](https://github.com/allenai/allennlp-models/blob/main/training_config/structured_prediction/srl.jsonnet) to get the file, but receive this error message:
[code]

### Traceback
[code]

[2021-03-05 15:32] leo-liuzy commented on #5032
Yes! Thanks for pointing that out!

[2021-03-05 15:44] leo-liuzy commented on #5036
When I am in a similar situation (not using spaCy, but conceptually similar), I always like more information produced than less, do you see any bad side of doing so?

[2021-03-05 17:32] leo-liuzy commented on #5028
The correct file is: `https://raw.githubusercontent.com/allenai/allennlp-models/main/training_config/structured_prediction/srl.jsonnet`

[2021-03-05 17:34] leo-liuzy commented on #5028
We are also noticing you are not using open IE jsonnet, which we realize was lost on our site. Looking for it.

[2021-03-05 18:27] matt-gardner commented on #5038
This is breaking the integral into `steps` chunks, and using the top left corner of the rectangle to approximate the integral.  See [here](https://www.emathhelp.net/notes/calculus-2/numerical-approximate-integration/left-endpoint-right-endpoint-and-midpoint-rules/).

[2021-03-05 18:44] nelson-liu commented on #5036
In this case, a log message gets printed for literally every token (note: not every type) in my dataset, which pollutes the stderr and stdout. I also save both files, and both of these files are now 1 GB+ simply because of this one warning (when they should be in the hundreds of KBs).

[2021-03-05 19:55] leo-liuzy commented on #5036
I thought the warning is generated bc the PoS tagger is not on? And I was thinking that always keeping the tagger on doesn't increase the computation much.

[2021-03-05 21:30] leo-liuzy commented on #5038
I thought for left point approximation, we would have input embedding multiplied by `alpha` taking the value `[0, 0.1, 0.2, ...., 0.9]`. However, what is currently in the code seems to be `[0.1, 0.2, ...., 1]`; this is because of the [line](https://github.com/allenai/allennlp/blob/96415b2bab6d8c70a0fa80ca4a8b9d1dc988720e/allennlp/interpret/saliency_interpreters/integrated_gradient.py#L53)
[code]
T

[2021-03-05 22:52] matt-gardner commented on #5038
If you notice, on that line, we are just saving the unmodified embeddings.  There is no `else` clause.  The multiplication by `alpha` happens below, using the values from the call to `linspace`.  So we get `embeddings * alpha`  (`for alpha in [0, 0.1, ..., 0.9]`) when computing gradients, and we save `embeddings` as-is for later.

[2021-03-05 22:59] leo-liuzy commented on #5038
Yep, thanks for confirming!!!

[2021-03-05 22:59] #5038 closed

[2021-03-06 03:04] dirkgr commented on #4995
Let us know if you run into any trouble!

[2021-03-06 03:13] dirkgr commented on #5030
I don't know where we're at with this now.

Did you try these fixes? Did they fix something?

I don't think there is anything wrong with your reader.

`InterleavingDatasetReader` will instantiate one copy of `FasterRCNN` for each of the child readers. Are you running out of GPU memory because of this?

What happens when you don't set `num_workers`? You should get far fewer processes trying to do t

[2021-03-06 12:40] aleSuglia commented on #5030
@dirkgr I have tried to apply those changes but I still have this error: `MDB_BAD_RSLOT: Invalid reuse of reader locktable slot`. Any ideas about how to fix it?

Yes, the `InterleavingDatasetReader` has a small batch size (equal to 2) at the moment so that I do not run out of memory. I thought it would be beneficial to have multiple workers so that, once the features have been properly generated,

[2021-03-07 06:55] AmazingAbhi commented on #612
+1 for Windows

I am getting this error in Windows:
![image](https://user-images.githubusercontent.com/29841993/110231815-24627980-7f40-11eb-9ce3-2f7c1853e6a3.png)

[2021-03-07 19:01] AlexanderBelfort commented on #5032
Thank you for taking care of it!

[2021-03-07 19:01] #5032 closed

[2021-03-07 20:50] apsiriwat opened #5042 "issueThis issue is being closed due to lack of activity. If you think it still needs to be addressed, please comment on this thread 👇"
This issue is being closed due to lack of activity. If you think it still needs to be addressed, please comment on this thread 👇

_Originally posted by @github-actions[bot] in https://github.com/allenai/allennlp/issues/4848#issuecomment-749072473_

[2021-03-07 20:51] apsiriwat commented on #4848
#5042

[2021-03-07 20:52] apsiriwat commented on #4848
issue

[2021-03-07 20:52] apsiriwat commented on #4848
#5042

[2021-03-07 20:52] apsiriwat commented on #5042
#5042

[2021-03-07 20:54] apsiriwat commented on #4848
$4848

[2021-03-07 20:54] apsiriwat commented on #4848
bug

[2021-03-07 20:54] apsiriwat commented on #4848
https://github.com/allenai/allennlp/issues/4848#issuecomment-792351186

[2021-03-07 20:55] apsiriwat opened #5043 "bug"
## Checklist

- [ ] I have verified that the issue exists against the `master` branch of AllenNLP.
- [ ] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [ ] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2021-03-08 07:01] nelson-liu opened #5044 "Allennlp unnecessarily downloading huggingface models during evaluation"
Hi!

I trained a model with BERT (base) on MNLI, using the config in `allennlp-models`. I offhandedly noticed this, and I'm not sure if it's a bug.

When I moved the output of the allennlp run to another machine (without a huggingface or allennlp cache) and ran `allennlp evaluate` with it, I noticed that downloads were happening. I've put the full evaluation log below, but it seems like these are

[2021-03-08 18:46] manishkumar771 commented on #4992
Hi.....Can i work on this task?

[2021-03-08 18:57] epwalsh commented on #5029
You can look at the implementation of `BucketBatchSampler` for an example: https://github.com/allenai/allennlp/blob/main/allennlp/data/samplers/bucket_batch_sampler.py#L22

[2021-03-08 19:06] #5043 closed

[2021-03-08 20:08] yqw-vicki opened #5045 "Coreference resolution model performance"
I have trained coreference resolution model with spanbert-base-cased model. But only obtain F1 score as 69%, The following is my training model.

[code]

[2021-03-08 21:44] dirkgr commented on #5030
Is it possible that you are creating a `TensorCache` before `fork`ing the process?

Have you tried @epwalsh's suggestion to "set `data_loader.start_method` to 'spawn'"?

`num_workers` has very little to do with the batch size. You should not set `num_workers` until you see that data loading is a bottleneck. Pre-processing images is already parallelized without setting `num_workers`. There is no be

[2021-03-08 21:47] dirkgr commented on #5027
I suspect this happens when you
1. create an instance of `TensorCache` in the main process
2. forking the process (with `multiprocessing` or by setting up multiple workers in the data loader and having the start method set to `fork`)
3. use the instance of `TensorCache` in the forked process

Can you confirm that this happens?

[2021-03-08 23:55] aleSuglia commented on #5027
The thing that I don't understand is why it is happening to me when I'm just using the vision reader almost as it is (just changed the 'text_to_instance').

[2021-03-09 00:06] dirkgr commented on #5027
I don't know. That's why we'll have to dig in. But I suspect your problem will go away, without loss of performance, if you don't use multiple workers.

[2021-03-09 08:16] ekdnam commented on #5001
Hi @dirkgr! Is this issue going to be considered for GSoC?

[2021-03-09 17:17] mcleanalec opened #5046 "Fine tune reading comprehension model"
**System**

OS: Ubuntu
Python version: 3.6.7
AllenNLP version: 1.0.0

**QUESTION**: With the command below I am able to train the model but I can't tell if the weights are being updated for fine-tuning or its just training a new model?

I am trying to fine tune a reading comprehension model on new data (that is in SQuAD format) using the following command

`allennlp train fine_tune_config.json -s

[2021-03-09 23:40] dirkgr commented on #4992
Absolutely! This is a binary classification task, so you'll need a dataset reader and a model. The model will probably be quite similar to the [multiple choice models](https://github.com/allenai/allennlp-models/tree/main/allennlp_models/mc) we already have.

Also, I don't believe we have the Matthew's Correlation metric, but it should not be hard to implement.

[2021-03-09 23:49] dirkgr commented on #5001
![dsmGaKWMeHXe9QuJtq_ys30PNfTGnMsRuHuo_MUzGCg](https://user-images.githubusercontent.com/920638/110553772-603b4180-80ee-11eb-8f37-19d787dc2fdc.jpg)

We did not get chosen as one of the organizations in Google Summer of Code 2021, so, no. But these issues are still a great way to get started in NLP, and useful for AllenNLP users! We'll think about other ways of engaging the wider AllenNLP community

[2021-03-10 05:16] vishwas31 commented on #4506
I get out of memory error when I am running allen coreference resolution model  on CPU. I have two systems, one is 16GB RAM and other is 32GB RAM. When I start flask server and shoot the query to get prediction, it occupies full memory gradually and then process get killed automatically because memory is full.
Any Idea why this is happening?

[2021-03-10 05:43] Wufang1997 commented on #3398
You can refer to https://github.com/TensorUI/relative-position-pytorch/blob/master/relative_position.py. It's a good practice of RPE.

[2021-03-10 10:58] philinew opened #5047 "Run older SRL model with latest allennlp (v2.1.0)"
Using the latest version of allennlp (v2.1.0), I am trying to use a SRL model from 2018:

[code]
However, I get this error:
[code]

(How) Can I use the old model with the latest version of the allennlp?

Edit: the exact same code works like a charm if I use this model:
https://storage.googleapis.com/allennlp-public-models/openie-model.2020.03.26.tar.gz

[2021-03-10 11:03] matyaspjuhasz opened #5048 "Coreference model: clusters removed with more text being added."
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2021-03-10 17:17] aleSuglia commented on #5030
Sorry for the delay in my answer.

As I'm creating a dataset reader that extends `VisionReader`, I don't think I'm creating a `TensorCache` before `fork`ing the process. When extending the `VisionReader`, I'm only changing the `_read` and `text_to_instance` method.

Regarding @epwalsh suggestion of using "spawn". If I tried that with 4 workers I get the following stacktrace:

[code]
I just wanted

[2021-03-10 18:32] epwalsh commented on #5030
@aleSuglia hm I think that error is because the vision reader stores these `Lazy`/`FromParams` objects:

https://github.com/allenai/allennlp-models/blob/3624fdc4b249d3b515269ee99e1b1e15bf876829/allennlp_models/vision/dataset_readers/vision_reader.py#L90-L91

And these objects internally have some locally defined functions, which can't be serialized by pickle. I'm looking into this more to see if t

[2021-03-10 18:44] dirkgr commented on #4506
What version of AllenNLP are you running? Just to confirm, you have 16GB of GPU memory?

[2021-03-10 19:56] MM-Vianai commented on #5028
@leo-liuzy Using the url you provided results in the following error. Also how may I use openIE jsonnet?

`$ allennlp train \
https://raw.githubusercontent.com/allenai/allennlp-models/main/training_config/structured_prediction/srl.jsonnet \
-s /path/to/output
`

Traceback

`File "/Users/mmir/Desktop/Explorations/allennlp_openie/venv/bin/allennlp", line 8, in <module>
    sys.exit(run())
  File "/U

[2021-03-10 20:38] aleSuglia commented on #5030
@epwalsh Yeah that makes sense. Because I tried in a simple example to instantiate directly the most specific classes (e.g. `ImageLoader`, `ResnetBackbone`, and `FasterRcnnRegionDetector`) and it works just fine.
Also, any ideas about the reasons why the training hangs? It looks like I can get it to work when I set `batches_per_epoch` on the training. Any ideas as to how I can try to simplify the

[2021-03-10 21:28] epwalsh commented on #5030
https://github.com/allenai/allennlp/pull/5049 should fix the pickling error.

Debugging multiprocessing code is hard. I would just throw logging / print statements in until I find the exact line that hangs. If you can find that line, I should be able to tell what the issue is.

[2021-03-10 23:18] dirkgr commented on #4992
@wangyuxinwhy put together a similar model at https://github.com/wangyuxinwhy/SuperGLUE. In [his model config](https://github.com/wangyuxinwhy/SuperGLUE/blob/master/BoolQ/training_config/boolq.jsonnet), you can see he just used the existing `basic_classifier` and didn't write his own model at all. You can do the same thing and save a bunch of work!

[2021-03-11 02:41] wangyuxinwhy commented on #4996
Great, I would love to make a PR to allennlp-models.

[2021-03-11 11:14] wlhgtc opened #5050 "How can we support text_to_instance running in parallel?"
Though we have a multi-process data-loader, we use for loops in [predictor](https://github.com/allenai/allennlp/blob/main/allennlp/predictors/predictor.py#L299).

It will make the process hard and slow when we have many inputs( especially when this predictor as a server).

I mean can we use or add some method to make this call(`text_to_instance`) support multi-process ?

@epwalsh  @dirkgr maybe yo

[2021-03-11 14:31] manishkumar771 commented on #4992
thanks for helping. I will look into it.

[2021-03-11 16:49] #5021 closed

[2021-03-11 22:21] dirkgr commented on #5050
`text_to_instance()` is not well typed. Different readers us a different signature for that method. It is not a pretty part of the API.

Right now, the way to achieve what you want to do is to override parts of the predictor to call `text_to_instance()` with batches, and make sure that `text_to_instance()` itself supports batches of course. I think the vision readers do this?

[2021-03-11 22:38] aleSuglia commented on #5030
Mmmm even with the latest code release I get the following error:
[code]

[2021-03-12 00:47] epwalsh commented on #5030
https://github.com/allenai/allennlp/pull/5051 should ensure ROUGE can be pickled.

[2021-03-12 01:15] wlhgtc commented on #5050
@dirkgr  Thanks for your advice, but all I found in vision readers is a for [loop](https://github.com/allenai/allennlp-models/blob/main/allennlp_models/vision/dataset_readers/visual_entailment.py#L69-L74)
Here are my demo code and any better solution:
[code]

[2021-03-12 09:03] aleSuglia commented on #5027
Sorry I forgot to reply to this one as well. At the moment I'm not using multiple workers. However, when I run on a SLURM cluster multiple jobs that are trying to write on the same cache, I get the same error.

[2021-03-12 09:19] haibin-chen commented on #4899
The reason is that the span to extract will become zero if the input is too short.
[https://github.com/allenai/allennlp-models/blob/3624fdc4b249d3b515269ee99e1b1e15bf876829/allennlp_models/coref/models/coref.py#L213](url)
`
num_spans_to_keep = int(math.floor(self._spans_per_word * document_length))
`

The hyperparameter `self._spans_per_word` that filters candidate mention is set to 0.4 here. So i

[2021-03-12 16:58] dirkgr commented on #5050
If you're on Linux or Mac, try https://github.com/allenai/bettermap instead of `Pool`.

If that works for you, please report back. I have been wondering for a while if we should make bettermap a more official part of our offering. Unfortunately there is no way to make it work on Windows.

[2021-03-12 17:25] dirkgr commented on #5047
One reason we update the models is when they are no longer compatible with new code. Why do you need to run the 2018 version?

Did you try running it on the 1.5 version of AllenNLP?

[2021-03-12 17:32] dirkgr commented on #5044
We know it does this, but it is not a big priority for most of the work that people do with these. Is it a big problem for you?

[2021-03-12 17:34] dirkgr commented on #5044
We don't know an easy way to address this problem. We have to load HF models just to get the shape of the model, even if we don't care about the weights. If you can think of a quick fix we'd be interested.

[2021-03-12 17:35] dirkgr commented on #5042
Sorry, I re-opened the other issue.

[2021-03-12 17:35] #5042 closed

[2021-03-12 17:36] dirkgr commented on #4848
@apsiriwat, what is the actual problem you're having? Did setting the start method to `"spawn"` not work?

[2021-03-12 17:38] dirkgr commented on #5036
@leo-liuzy will make a PR that turns on tagging by default.

[2021-03-12 17:47] leo-liuzy commented on #5028
It seems you need to specify path to your training dataset as environment variable
[code]

[2021-03-13 00:59] dirkgr commented on #5050
The other solution is to change `text_to_instance()` so it can accept multiple inputs in addition to just one. That does not solve the problem by itself, but it gives you options to do fast things inside of the function.

[2021-03-13 01:00] wlhgtc commented on #5050
@dirkgr  Thanks for your advice, I will try it later！

[2021-03-13 01:08] dirkgr commented on #5048
In general, we cannot guarantee that a longer text always produces a strict superset of clusters compared to a shorter text.

Imagine the following text: "I am very happy here. The city is sunny." You would expect that "here" and "the city" cluster together.

But what if I add text? "I am very happy here. The city is sunny. But I enjoy the countryside more." Now you would expect "here" and "countr

[2021-03-13 01:11] dirkgr commented on #5046
Your training config will use the pre-trained ELMo weights and start from there. I am not sure about commenting out the `"options_file"` line though.

There are other weights in your model, weights which are not part of ELMo. Those will be randomly initialized and then trained.

[2021-03-13 01:16] dirkgr commented on #5045
I did not read through all your code here, but I also re-trained this model recently, and found that it is sensitive to the pre-processing of the input data.

@ZhaofengWu, what did you do to create your pre-trained data?

[2021-03-13 01:21] ZhaofengWu commented on #5045
I think I just used the original Ontonotes data without doing anything special. @yqw-vicki I recommend you to compare your code with our training config, which I believe does train well.

[2021-03-13 01:28] dirkgr commented on #5022
This will work once https://github.com/allenai/allennlp-models/pull/227 and https://github.com/allenai/allennlp-demo/pull/888 are merged.

[2021-03-13 08:33] yqw-vicki commented on #5045
I am sure all my code following the training config. The only difference is I use spanbert-base model not spanbert-large model. But even for spanbert base model, 69% is still a little low. That is why I am confused.

[2021-03-13 16:28] apsiriwat commented on #4848
ในวันที่ ส. 13 มี.ค. 2021 00:36 Dirk Groeneveld ***@***.***>
เขียนว่า:

[2021-03-13 16:29] apsiriwat commented on #5042
ในวันที่ ส. 13 มี.ค. 2021 00:35 Dirk Groeneveld ***@***.***>
เขียนว่า:

[2021-03-13 18:11] ZhaofengWu commented on #5045
Can you get the desired performance with the config without writing any code?

[2021-03-13 20:56] yqw-vicki commented on #5045
I haven't try that. I could test, but considering I want to do some modification later, so I prefer to run it with code.

[2021-03-13 21:07] ZhaofengWu commented on #5045
Please try that. If you get good performance with the config, it means that there's something wrong with your code setup.

[2021-03-14 09:53] yqw-vicki commented on #5045
I tried to run config jsonnet on ontonotes, the conll-formatted folder structured  is same as the one in https://docs.allennlp.org/models/v2.0.1/models/common/ontonotes/. Then I take "conll-formatted-ontonotes-5.0/data/train" as training path. But I got the error "IsADirectoryError:[Errno 21] Is a directory".
Could you please tell me what is the correct training path?

[2021-03-14 18:03] ZhaofengWu commented on #5045
I don't have a copy of the data by me at the moment -- @dirkgr can you help confirm this?

[2021-03-14 21:25] dirkgr commented on #5045
I have the data, but we are legally not allowed to share it. The question is, how do we go from `conll-formatted-ontonotes-5.0/data/train` to the input you used?

[2021-03-14 21:46] yqw-vicki commented on #5045
Should I collect all seperate training files into one conll-formatted file? What I am doing now in the python code is use "dataset_path_iterator" to get all filepath which end with ".gold_conll".

[2021-03-14 22:16] dirkgr commented on #5045
@DeNeutoy, I hear the original data that we train the coref model on came from you, when you wrote the old coref model. Do you remember how you prepared it?

[2021-03-14 23:48] wcheung-code commented on #4925
Reopening this ticket because I am currently running into this same issue. My config (default settings from `latest-allennlp` branch) is shown below:

[code]

For more context, the error message received when running the following:

[code]

is the following error message:
[code]

Thanks in advance!

[2021-03-15 02:46] JohnGiorgi commented on #5025
I'd be very interested in using this model for my own project. I think I could probably take this on. Do you have a rough idea on where the modifications would go and what they would look like?

In the meantime I'll dig into the existing code and CopyNet/CopyNext.

[2021-03-15 09:06] wlhgtc commented on #5050
@dirkgr
I hav tried bettermap, but it only works when normal call, like
[code]
But if I use this predictor in parallel client, it would crash.

[2021-03-15 11:47] wlhgtc commented on #5050
And @dirkgr  a more wired thing:

[code]
This process lower my service, and I wonder can we speed up this process.

[2021-03-15 17:15] dirkgr commented on #5045
When I did it, I just concatenated them into one large file. But I also got your degraded performance when I did this.

[2021-03-15 18:35] epwalsh commented on #5025
That would be great @JohnGiorgi!

So, I think you want to start by adding a parameter to the `CopyNetDatasetReader` and `CopyNet` model classes for the "CN" token: `copy_next_token: Optional[str] = None` (or something like that). By default this is `None`, meaning the model is just regular `CopyNet`.

Now I could be wrong, but I think the only place in the model implementation that would need to b

[2021-03-15 20:27] JohnGiorgi commented on #5025
Okay I think I get the basic idea,

Introduce a `copy_next_token: Optional[str] = None` as an additional argument to `CopyNet`. I believe this token would need to be added to `self._target_namespace` (right?). So in `__init__`, call

[code]

Modify `_get_predicted_tokens` so that when `self._copy_next_index` is predicted, we take the predicted token to be the immediate next token in the source as

[2021-03-15 20:55] epwalsh commented on #5025
Yeup!

Exactly.

For your questions:
1.  For a copied token, `adjusted_index` is the index of the token with respect to the source sequence: https://github.com/allenai/allennlp-models/blob/3624fdc4b249d3b515269ee99e1b1e15bf876829/allennlp_models/generation/models/copynet_seq2seq.py#L877. So then you could just increment that when the next token is a `copy_next_token` (would have to keep track of w

[2021-03-15 21:10] dirkgr opened #5054 "Train T5 on MATH"
@epwalsh is working on getting a native version of T5 training right now. Once that is working, we should try to train on the MATH dataset (https://arxiv.org/abs/2103.03874). Performance is expected to be poor: GPT2 gets under 7%. This dataset was specifically constructed to thwart transformer models, so this is expected. This model will serve as a baseline for later attempts.

More details on the

[2021-03-15 21:38] JohnGiorgi commented on #5025
Got it, thanks for the guidance. I think next steps are clear, I will work on this and open a PR to `allennlp-models` soon!

[2021-03-15 21:39] gabeorlanski commented on #4995
I have a couple of quick questions that arose while implementing the reader:

* Should I implement both a generic and a transformer reader? ([squad.py](https://github.com/allenai/allennlp-models/blob/2d4c437857a0444a65479456bfa6ec767b58d2b9/allennlp_models/rc/dataset_readers/squad.py) vs [transformer_squad.py](https://github.com/allenai/allennlp-models/blob/2d4c437857a0444a65479456bfa6ec767b58d2b9

[2021-03-15 22:26] JohnGiorgi commented on #5025
Actually, I am thinking this might be a good bit more complicated than just updating `_get_predicted_tokens`.

In CopyNext, the model assigns a score to the copy next operation by passing the decoder's current hidden state through a linear layer. If we wanted to match this, we would need to:

Add a new linear layer at model initialization:

[code]

Add a method to compute the copy next score:

[co

[2021-03-15 22:57] epwalsh commented on #5025
Ah, yes you're right. Their implementation actually seems a lot simpler than CopyNet. And I think this is because they don't worry about the case where tokens in the source sequence may be in the target vocabulary ($\mathcal{L}$), which makes sense for the task they applied it to.

So I think we have a couple options:

1. Continue with the original plan, doing a simple modification to CopyNet. Thi

[2021-03-15 23:09] JohnGiorgi commented on #5025
What if I go for 1. right now? I think I could do this inside a week. I could test it on my own task, joint NER and RE, that I currently use CopyNet for. I can see if there's a performance boost.

I think I would still be interested in trying out CopyNext, so I could attempt to implement it from scratch as well. This might take me a little longer though. The authors list a GitHub in the paper (htt

[2021-03-15 23:11] epwalsh commented on #5025
Sounds good @JohnGiorgi!

[2021-03-16 08:49] CharizardAcademy commented on #3259
Is there a way to load the model.tar.gz online and do predictions? I have done:
`from allennlp.predictors.text_classifier import TextClassifierPredictor`
`predictor = TextClassifierPredictor.from_path("/checkpoints/model.tar.gz")`
and get the same error:
`ConfigurationError: 'text_classifier is not a registered name for Model'`

[2021-03-16 08:55] CharizardAcademy commented on #3259
I have checked the config.json, and indeed I see `"model": {"type": "text_classifier", ...}`. I train my model with `scibert/scripts/train_allennlp_local.sh` for text classification task with customized dataset, and this is the config file I got.

[2021-03-16 11:22] McKracken opened #5055 "from_pretrained_transformer not called in commnad line predict mode with BasicClassifier"
## Checklist

- [X] I have verified that the issue exists against the `master` branch of AllenNLP.
- [X] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [X] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2021-03-16 13:32] philinew commented on #5047
Thanks. The 2018 model seems to perform better on our corpus.

Just checked, I get the same error with allennlp==1.5.0. So the conclusion then is that, to use newer versions of allennlp, we'll have to switch the model..?

[2021-03-16 21:33] MM-Vianai commented on #5028
@leo-liuzy Thank you for the reply. Getting the proper training set has been a challenge for me so far.

Following the link on the bottom of [Model Usage/Training section](https://demo.allennlp.org/open-information-extraction) redirects me to [this repo](https://github.com/gabrielStanovsky/oie-benchmark) with instructions on how to convert QA-SRL annotations to Open-IE so that we obtain the right

[2021-03-17 00:33] dirkgr commented on #4995
* No, just the equivalent of transformer_squad.py is enough.
* I don't remember exactly, but I know for sure that the QA model expects indices/spans as labels, since it also predicts those. When it generates the output, the model finds the tokens associated with the indices and makes a proper string out of them. It's possible that we compare that final string with the gold string (instead of the g

[2021-03-17 01:16] dirkgr commented on #5050
How does it crash?

[2021-03-17 01:24] dirkgr commented on #5050
The first code uses AllenNLP tokens, whereas the second only uses PyTorch tensors. I am not surprised the second approach is faster. It's a tradeoff between speed and flexibility. The AllenNLP `Token` class knows the offsets of the tokens in the source text, it can be used with a `mismatched_embedder`, etc. Tokenizing separately and then adding the special tokens later gives you flexibility to con

[2021-03-17 01:30] dirkgr commented on #5047
Can you fine-tune on your corpus? There should not have been any real changes in the model since 2018, but things move around over time. You change an unrelated line of code and now random numbers are consumed in a different order, so the model initialization is different, pytorch fixes some bug that affected numbers, maybe we fixed a bug in the trainer, etc. A lot of things can happen in three ye

[2021-03-17 02:28] dirkgr commented on #4848
I don't understand. There is no content in your email. Is something wrong with your email client?

[2021-03-17 16:49] #5029 closed

[2021-03-17 22:48] #4848 closed

[2021-03-18 00:28] tarohi24 opened #5058 "When using`Trainer`, is it possible to pass additional arguments to `forward` of the model trained?"
I'm using `allennlp_models.tagging.models.crf_tagger.CrfTagger`. Its `forward` function accepts the `ignore_loss_on_o_tags` option, and I want to set it. However, `GradientDescentTrainer` doesn't seem to have an option to pass such arguments. Should I create a subclass of `CrfTagger` to set it, or is there another way?

Thanks,

[2021-03-18 11:12] wlhgtc commented on #5058
Cause these parameters comes from dataset reader,  maybe it would vary from different batches ?

[2021-03-18 11:22] wlhgtc commented on #5055
Maybe more details about the error would help.
I guess you only change the config (like `xxx.jsonnet`), but you use the config file in `xx.tar.gz`.
So your changes doesn't work. The simple way is re-train your model with new config.

[2021-03-18 13:09] gaozhiguang opened #5060 "When using AllenNLP DEMO 'Semantic Role Labeling',it doesn't work."
**My code is as same as the demo:**
from allennlp.predictors.predictor import Predictor
import allennlp_models.tagging

predictor = Predictor.from_path("https://storage.googleapis.com/allennlp-public-models/structured-prediction-srl-bert.2020.12.15.tar.gz")
predictor.predict(
    sentence="Did Uriah honestly think he could beat the game in under three hours?."
)
**But this bug happens:**
Traceback

[2021-03-18 13:12] McKracken commented on #5055
So, it's a basic text classification task, and given the class and config file in Step to reproduce:
1. I train a model via command line with `allennlp predict experiments/bert_train__max_512__batch_16/model.tar.gz data/test.jsonl --include-package my_allennlp_pkg -f`. Model trains without problem. Please note that the token indexer used (and the tokenizer) comes from a pre-trained model (`bert-ba

[2021-03-18 13:20] #5060 closed

[2021-03-18 13:24] gaozhiguang commented on #5060
Sorry to interrupte, i have fixed my problem when i browse the issues, if anyone meets the same problem , please check [https://github.com/allenai/allennlp/issues/5022](url)

[2021-03-18 13:34] wlhgtc commented on #5055
We don't save the vocab to tokens.txt.
The Vocabulary class is initialized by code in [here](https://github.com/allenai/allennlp/blob/main/allennlp/data/vocabulary.py#L263)
Can you provide your jsonnet config and a full stack trace about your error.

[2021-03-18 14:55] McKracken commented on #5055
I think I already reported these in my initial description, under the `Python traceback` and `Example source` items (which need to be expanded). I don't know if you're referring to something more than what I already reported, in which case what do you need more than that?

<img width="949" alt="Screenshot 2021-03-18 at 15 50 16" src="https://user-images.githubusercontent.com/7049505/111646290-cf59

[2021-03-18 14:59] wlhgtc commented on #5055
Sorry for my reckless, I would reply later.

[2021-03-18 17:16] tarohi24 commented on #5058
For example, `Conll2003DatasetReader` doesn't provide the potion.
And I think handling such training parameters is out of scope of `DatasetReader`.
Then I'll make a PR for adding a model param. Thanks @wlhgtc !

[2021-03-18 17:16] #5058 closed

[2021-03-18 21:09] dirkgr commented on #5001
@ekdnam, are you still interested in this task? Otherwise I would like to make it clear that it is free for the taking for others.

[2021-03-18 22:24] dirkgr commented on #4998
@Soumyajain29, since we are not going to be part of Google Summer of Code, are you still interested in this task? Otherwise I'd like to make it available to someone else.

[2021-03-18 22:55] nelson-liu opened #5062 "New point release?"
Hi! Do you think it'd be possible to get a new point release sometime soon (I'm aware that I can install from master, but it's been awhile since the last release)? Sorry if this is already on the radar, just thought I'd check in.

Thanks!

[2021-03-18 23:45] sanjayss34 opened #5063 "Vocabulary `from_files` requires write access when given directory"
When I pass a read-only vocabulary directory to `from_files`, I get the following traceback:
[code]

[2021-03-19 00:06] sanjayss34 commented on #5063
Closing because this issue is fixed in the latest version by https://github.com/allenai/allennlp/commit/1d21c759e289751754b7f82fd68b7c9951b34e60 (thanks @epwalsh for telling me)

[2021-03-19 00:06] #5063 closed

[2021-03-19 04:06] ekdnam commented on #5001
Oh okay!

Yes, I am still interested in this task. But, since the last few weeks, I have been busy, the study workload has increased, and thus I don't think I will be able to deliver on the PR in the near future. Once all the work gets over, I will surely work on it. But till then, I won't be able to do so. If anyone wants to give this task a try, no worries!

[2021-03-19 05:03] wlhgtc commented on #5055
@McKracken  I re-produce your error, the reason you missed a name space param in `token_indexers`, it should be :
[code]
Case it has a default value "tags"(the code could be found in [here](https://github.com/allenai/allennlp/blob/main/allennlp/data/token_indexers/pretrained_transformer_indexer.py#L31)), but your model has a namespace `token`, here are the code trace:
<img width="949" alt="截屏2021-

[2021-03-19 11:05] wlhgtc commented on #5050
Yeah, it's about 20% when inference.
To be honest, the original idea is that : we could support multi `num_workers` to call `text_to_instance`  by `_read` method, which read data from file line by line. Why could we use the same method to support `text_to_instance`  in parallel . The only diff is input is a file or a list of json.

[2021-03-19 11:32] wlhgtc commented on #5044
@nelson-liu  Maybe you could download it and save to a path, then add this path to param, like:
[code]

[2021-03-19 14:49] epwalsh commented on #5062
Yeup! We'll do one next week, I'm hoping to get the Weights & Biases integration finished first (https://github.com/allenai/allennlp/pull/5061)

[2021-03-19 16:59] nelson-liu commented on #5062
yay, great to hear!

[2021-03-19 16:59] #5062 closed

[2021-03-19 20:25] nelson-liu opened #5064 "RuntimeError: CUDA error: CUBLAS_STATUS_EXECUTION_FAILED when calling cublasSgemm"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2021-03-19 20:35] nelson-liu commented on #5064
I should also note that I've seen this when running the sample on GTX TITAN X (so it doesn't seem like an issue that's isolated to that particular GPU / that particular GPU has gone bad). I could not reproduce the issue when running with a Titan RTX.

[2021-03-19 21:32] paras2612 commented on #3442
Hi, I am trying to get the saliency score for sentiment analysis task. Every time I run the code I get different saliency scores. Should this be the case? I am attaching my code for more `reference.

`from allennlp.predictors.predictor import Predictor
import nltk
from allennlp.interpret.saliency_interpreters import SmoothGradient

data = "purchase costume year old grandson halloween arrive one we

[2021-03-20 08:40] nelson-liu commented on #5064
This error doesn't seem to occur if I use the HF Transformer `run_glue` script.

[2021-03-22 02:57] wangyuxinwhy commented on #4996
@dirkgr Maybe we can close this issue.

I am almost familiar with how to participate in the development of allenNLP models, and I hope to do more for allenNLP. For example, I can implement all the models related to SuperGlue, and I can also help AllenNLP with Chinese translation.

Do you have any suggestions for me to participate in the construction of AllenNLP community?

[2021-03-22 16:14] Abhishek-P commented on #4465
Hi Guys, considering this is a "Good First Issue" I will pick it up.
I have made the changes as mentioned above locally and plan to post the PR in the next few days.
Please assign the issue to me.

[2021-03-23 14:09] philinew commented on #5047
We'll have to think it through. Thanks for your help.

[2021-03-23 14:09] #5047 closed

[2021-03-24 14:07] soerenetler commented on #4336
Hi everyone, I got the same error with allennlp v2.1.0 and spaCy v3.0.5. Is there a plan to fix this issue? Switching to CPU is not an option for me and changing the code locally seems bad for reproduceability on other computers. What would be your recommendation?

[2021-03-24 15:03] McKracken commented on #5055
@wlhgtc Yes, this solved the issue. Sorry, I completely missed that namespace.
It actually worked also by only adding the `namespace` field to my old `config.json`, and re-tarring `config.json`, `weights.th` and `vocabulary/` into `model.tar.gz`.
Thanks!

[2021-03-24 15:03] #5055 closed

[2021-03-24 22:28] #5036 closed

[2021-03-25 11:50] alanwang93 opened #5067 "Training state of last epoch not saved due to early stopping"
`trainer.py` line 1006 will break the loop, and `dump_metrics` on line 1030 & `save_checkpoint` on line 1043 are skipped.

[code]

[2021-03-25 16:17] #5028 closed

[2021-03-25 20:44] dirkgr commented on #5045
I looked into this a bit more. It seems that `conll-formatted-ontonotes-5.0` is a strict superset of the data that this model was trained on. That includes the test and validation sets. They are different in `conll-formatted-ontonotes-5.0`, so the numbers are not directly comparable.

Since `conll-formatted-ontonotes-5.0` is bigger, I would guess that the trained model turns out better, even if th

[2021-03-25 20:53] dirkgr commented on #4465
It doesn't look like @ankh6 is still working on it, so go ahead! Thanks!

[2021-03-25 21:00] dirkgr commented on #4996
Yes, I think this issue is done. Thank you for your work! Do you mind if we credit you on https://gallery.allennlp.org? I'm thinking about making a page there for the project of SuperGLUE on AllenNLP.

We have done some work trying to find out what's most important to researchers, and we find that the most important thing is always baselines. Not having to implement somebody else's model saves res

[2021-03-25 21:01] #4996 closed

[2021-03-25 21:05] dirkgr commented on #4996
Oh, I forgot to answer the question about Chinese. I don't know how interesting Chinese translation is for AllenNLP users, since most of the models themselves only work on English text. Is it useful to have Chinese documentation for models that do question answering in English?

It would be cool though to re-train a bunch of the models to work in other languages. I don't know much about that space

[2021-03-25 21:23] #4387 closed

[2021-03-25 23:25] dirkgr commented on #5050
To solve this properly, and for all models at the same time, we'll need a major re-design of the `Predictor` API. I'm thinking about some of these things, but nothing is ready to code up yet. In the meantime, to fix your issue, you will have to fix the individual predictor. Predictors usually are tied to a specific reader, so you can change the reader to do parallel `text_to_instance`, and then us

[2021-03-26 01:51] coco-pa opened #5068 "How to write the config file for pair classification model in AllenNLP git repo?"
I'm trying to run the [pair classification model in AllenNLP repo][1] via config file.

It is appreciated that the repo gives sample of datareader and model file. But without a corresponding config file, I cannot really run the model.

The [example config file of simpleclassification model][2] does't describe enough detailed parameters for pair classification config.

How should write the config f

[2021-03-26 10:48] AkshitaB commented on #5068
@coco-pa Sample config files for pair classification models can be found here: https://github.com/allenai/allennlp-models/tree/main/training_config/pair_classification

[2021-03-26 10:52] DeNeutoy commented on #5045
[this script](https://github.com/allenai/allennlp/blob/main/scripts/compile_coref_data.sh) converts the conll formatted ontonotes data into the format used for training. The preparation of that data is gross - from memory, it uses some combination of the conll v4.0 annotations and the v5.0 text, or something like that. Also, there is one whole split in ontonotes (one of the 2 char directories, lik

[2021-03-26 16:14] #5068 closed

[2021-03-28 02:22] yqw-vicki commented on #5045
I am a bit confused. Do you mean the dataset should includes conll v4.0 annotations and v5.0 text?

[2021-03-28 17:12] DeNeutoy commented on #5045
I can't exactly remember, but that script does something quite odd internally I think. It will download all the correct stuff, you just need to run it, supplying the path to the Ontonotes 5.0 directory.

[2021-03-29 05:46] wangyuxinwhy commented on #4996
@dirkgr It is my honor to join https://gallery.allennlp.org , I also think SuperGlue is a good place to start, and I will implement all the baseline models it includes in the near future. I will try to make a preliminary version first, and then I need your help to review it and see what needs to be improved.

I have used allenNLP as the main framework in many Chinese and English NLP competitions,

[2021-03-29 09:42] Aktsvigun opened #5071 "Model performance on validation is not deterministic in GradientDescentTrainer"
Apologizes, my mistake, please delete the issue.

[2021-03-29 11:44] gaozhiguang opened #5072 "How to use multi GPU to speed up model prediction"
When i was trying to use the "AllenNLP demo--Semantic Role Labeling", Because we have to deal with a large amount of data, I would like to ask how to use multi GPU to speed up the processing speed.
how can i fix the code follows:

[code]

[2021-03-30 12:36] pab-vmware commented on #4295
@xdwang0726
I see that the .bin you have pointed to  is from https://code.google.com/archive/p/word2vec/downloads
I remembered trying word2vec from gensim in 2016 I think.

I can see that gensim comment to load the bin file indicates that it is in a Word2Vec only C-based format

https://github.com/RaRe-Technologies/gensim/blob/ee3d6fd1e33fe39fc7aa31ebd56bd63b1a2a2ed6/gensim/models/keyedvectors.py#

[2021-03-30 15:14] pab-vmware commented on #4840
I plan to work on this in the next couple of days and have a PR ready this week 🤞.

[2021-03-30 15:32] agururajvais commented on #4974
I along with couple of folks am planning to work on this in the next couple of days and have a PR ready this week.

[2021-03-30 16:03] pab-vmware commented on #4524
We were checking to see if we could implement this but,
@dirkgr you seem to have implemented it in https://github.com/allenai/allennlp/pull/4800/files.
Please check.

[2021-03-30 16:34] annajung commented on #4766
Hi all, I am planning on working on this and will update the issue again when a PR is ready for review. Thanks!

[2021-03-30 17:28] mcleanalec commented on #5046
@dirkgr Yikes, sorry for not responding. Thanks for clarifying that for me!

[2021-03-30 17:28] #5046 closed

[2021-03-30 17:38] prajaktakini-vmware commented on #4363
@dirkgr I would like to work on this issue.
What would you suggest, should we go with flag based approach where based on flag passed in args, returning first subtoken embedding instead of returning an average of all subtoken embeddings?
In v0.9.0, we have followed an offset based approach. I could not understand that pretty well. Would you like to shed some light on it?
Do we want to follow the sa

[2021-03-30 17:39] bratao commented on #4524
For me, yes!

[2021-03-30 18:09] prajaktakini-vmware commented on #4363
Sure, thanks. I would go with flag based approach with possible value as "first". If the flag not specified, it would fall back to the current sum based approach.

Please assign it to me. I would hopefully raise PR in next few days

[2021-03-30 20:57] dirkgr commented on #4996
I think the main entry point for getting started with AllenNLP is the guide at http://guide.allennlp.org. If you want to translate the guide into Chinese, we'll figure out how to host it. I'd say it would go on the same site, and we'll put little flags in the corner for every page so people can switch language?

[2021-03-30 21:27] dirkgr commented on #5022
This works now, except the model card is out of date. I put in a PR to show the new model card in the demo.

[2021-03-30 21:37] #5022 closed

[2021-03-30 21:47] ksteimel opened #5076 "1 model state file left when num_serialized_models_to_keep=0 and patience used"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2021-03-30 23:02] #2302 closed

[2021-03-30 23:32] dirkgr commented on #5045
Cool. I confirmed that the script produces the correct data, fixed it to work when you have python3, and added it to allennlp-models here: https://github.com/allenai/allennlp-models/pull/239

[2021-03-31 02:50] agururajvais commented on #4974
Yes!

[2021-03-31 03:18] agururajvais commented on #4974
I will try to do the same. But would it be better you create a PyPI project and mark me as a collaborator?

[2021-03-31 03:26] pab-vmware commented on #4840
https://pytorch.org/docs/master/optim.html#stochastic-weight-averaging indicates that it does not fit into the way SGD or ASGD is implemented in pytorch - https://pytorch.org/docs/master/optim.html#torch.optim.ASGD.
AllenNLP optimizers - https://github.com/allenai/allennlp/blob/main/allennlp/training/optimizers.py wrap around this.

SWA implementation - the other hand wraps around pytorch Module(/

[2021-03-31 03:33] hockeybro12 opened #5079 "Trouble Finetuning Decomposable Attention Model in AllenNLP"
I also asked this question on Stack Overflow (https://stackoverflow.com/questions/66844202/trouble-finetuning-decomposable-attention-model-in-allennlp), but didn't get much traction, so posting it here:

I'm having trouble fine-tuning the decomposable-attention-elmo model. I have been able to download the model: `wget https://s3-us-west-2.amazonaws.com/allennlp/models/decomposable-attention-elmo-2

[2021-03-31 03:39] shihuanting opened #5080 "error output"
I havr a problem,hope you can give me some advice

[code]

error output:      `allennlp.common.checks.ConfigurationError: srl not in acceptable choices for dataset_reader.type: ['babi', 'conll2003', 'interleaving', 'multitask', 'sequence_tagging', 'sharded', 'text_classification_json', 'multitask_shim', 'ccgbank', 'conll2000', 'ontonotes_ner']. You should either use the --include-package flag to m

[2021-03-31 06:49] yqw-vicki commented on #5045
I have runned the script. The new f1 score is 76%. It definitely improved.

[2021-03-31 09:54] aleSuglia opened #5081 "FeedForward not pickable"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/master/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
-

[2021-03-31 11:46] divijbajaj commented on #4962
I'm trying to add a DataSetReader which can generically make instances from the huggingface dataset interface.
It will have limitations and may not work for all datasets in which case, a child can be added for it with selective overrides to take care of the missing gaps.

[2021-03-31 14:30] annajung commented on #4766
Hi @JohnGiorgi I was wondering if you could help undertstand the copy score functionality changes when there is more than one decoder layer. Would it be correct to grab the last layer from `state["decoder_hidden"]`?

https://github.com/allenai/allennlp-models/blob/abc7e1991127540af4a9cd3f7d49129401ae47b9/allennlp_models/generation/models/copynet_seq2seq.py#L357

[2021-03-31 16:21] epwalsh commented on #4962
@divijbajaj great! Looking forward to seeing what you come up with.

[2021-03-31 17:21] #5045 closed

[2021-03-31 20:07] epwalsh commented on #5081
Thanks for bringing this up @aleSuglia, and we appreciate the reproducible example! #5083 should fix this.

[2021-03-31 20:33] #4895 closed

[2021-03-31 20:46] dirkgr commented on #4974
Done! What's your PyPI name?

[2021-03-31 21:01] #4044 closed

[2021-03-31 21:02] #2292 closed

[2021-03-31 21:26] #5081 closed

[2021-03-31 22:34] MM-Vianai commented on #3484
@gabrielStanovsky
I am also facing similar problem. There have been some updates to the config file since the original post. based on answer provided for [this](https://github.com/allenai/allennlp/issues/5028) issue the correct config file to be used is :

[https://raw.githubusercontent.com/allenai/allennlp-models/main/training_config/structured_prediction/srl.jsonnet](https://raw.githubuserconten

[2021-04-01 06:29] agururajvais commented on #4974
PyPI Username: gururajakuthota

[2021-04-01 06:49] gaozhiguang opened #5086 "How to use GPU for allennlp-demo"
Hi, when i was trying to use the demo“https://demo.allennlp.org/semantic-role-labeling” ， it is a little slow , maybe it uses the cpu , how can i use gpu to run the demo.

[2021-04-01 20:49] aleSuglia opened #5088 "Multi-GPU training hangs"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-04-01 20:56] epwalsh commented on #5088
What version of AllenNLP?

[2021-04-01 21:01] aleSuglia commented on #5088
Last one on the branch `main`.

[2021-04-01 21:53] epwalsh commented on #5088
So far I haven't been able to reproduce, but I've only ran it on CPU (I set `"cuda_devices": [-1, -1, -1, -1]`).

[2021-04-01 22:24] dirkgr commented on #4974
Done, added you

[2021-04-01 22:54] aleSuglia commented on #5088
Yeah I think there is something weird going on the GPU. Could it be something that has to do with gradient accumulation?

[2021-04-02 00:00] epwalsh commented on #5088
Can you also reproduce it on 2 GPUs? It would be much easier for me to debug on just 2 GPUs.

[2021-04-02 00:31] dirkgr commented on #5088
I just reproed a hang while testing https://github.com/allenai/allennlp/pull/5077, so now I'm trying it without those changes to see if it still hangs.

[2021-04-02 00:34] dirkgr commented on #5064
I assume this also doesn't happen when you run on CPU? Usually you get better error messages on CPU.

[2021-04-02 00:49] dirkgr commented on #5064
We don't have any Titans anymore outside the vision team. I'm trying to reproduce it on allennlp-server4, which has Quadro RTX.

[2021-04-02 00:52] dirkgr commented on #5064
@nelson-liu, if I don't reproduce it, can you set the `CUDA_LAUNCH_BLOCKING` environment variable and see if you get a better error?

If this is a general problem with AllenNLP, it becomes my top priority. But in general, I'm not keen on debugging a specific bug in CUDA that only occurs with a specific combination of CUDA and GPU. Can you run an older version of CUDA, or on a different GPU, to get

[2021-04-02 00:53] dirkgr commented on #5088
I'm seeing a hang when training the PIQA model. Happens at the end of the first epoch. The GPUs stay busy though. That's a little suspicious. With a proper hang, they should go to 0%.

[2021-04-02 01:05] dirkgr commented on #5071
Haha, no problem :-)

[2021-04-02 01:05] #5071 closed

[2021-04-02 01:06] dirkgr commented on #5072
If all you want to do is inference, just start one process per GPU. You can tell each process which GPU to use by setting the environment variable `CUDA_VISIBLE_DEVICES`.

[2021-04-02 01:07] nelson-liu commented on #5064
I think that should work...my suspicion is that it'll fail if the compute capability is 6.1 or below ( https://developer.nvidia.com/cuda-gpus ). It works on a Titan RTX, and Quadro RTX's have the same compute capability of 7.5

I managed to reproduce this issue on Titan XP, K40, GTX Titan X. I haven't tried any other GPUs, but I'll gather some more data and also try running with CUDA_LAUNCH_BLOCKI

[2021-04-02 01:08] dirkgr commented on #5064
It's independent of the CUDA version then? Just depends on the compute capability?

[2021-04-02 01:09] nelson-liu commented on #5064
Ah, the issue is that CUDA 11+ is the only CUDA version (with a pytorch release) that supports all of these GPUs. I haven't tried CUDA 10.2, I'll give it a shot.

[2021-04-02 01:12] dirkgr commented on #5080
Replace this line:
[code]
with this
[code]

I'll also add that Windows is not officially supported (but it may work for you anyways).

[2021-04-02 01:13] dirkgr commented on #5086
Most of our demo runs on CPU because it is too expensive to keep the GPUs running all the time just to make a prediction every now and then. If you want to use the SRL model in a production setting, at scale, I recommend you run it yourself, on your own hardware.

[2021-04-02 01:29] nelson-liu commented on #5064
Another possibly-relevant hint: sometimes, the error I get out is `RuntimeError: CUDA error: an illegal memory access was encountered`.

the [CUDA 11.1 release notes mention a fixed issue in cublas](https://docs.nvidia.com/cuda/archive/11.1.1/cuda-toolkit-release-notes/index.html#cublas-resolved-issues): `Fixed an issue that caused an Address out of bounds error when calling cublasSgemm().`. Some

[2021-04-02 01:38] #5048 closed

[2021-04-02 01:39] dirkgr commented on #5044
I think @ArjunSubramonian is on the case?

[2021-04-02 01:45] dirkgr commented on #4949
What's going on with this issue? Is it done?

[2021-04-02 01:46] dirkgr commented on #4688
This issue is now a little stale, but we have an example config for multitask training here: https://github.com/allenai/allennlp-models/blob/main/training_config/vision/vilbert_multitask.jsonnet

[2021-04-02 01:50] dirkgr commented on #3352
Done

[2021-04-02 01:50] #3352 closed

[2021-04-02 01:51] #4418 closed

[2021-04-02 04:18] ethch18 opened #5089 "MLM in AllenNLP?"
Hi!  I saw that there's currently a [masked language modeling `Model`](https://github.com/allenai/allennlp-models/blob/main/allennlp_models/lm/models/masked_language_model.py) over in the `allennlp-models` repo, but it looks like most of the components are marked as demo-only.  Is full functionality for this on the roadmap?  If not, is there an estimate of what it would take to get it working?

[2021-04-02 06:04] dirkgr commented on #5088
GPUs stay busy at 100% when this hang happens. No deviation from 100% at all.

[2021-04-02 06:08] aleSuglia commented on #5088
Exactly what happens in my case as well. How can I help debugging this?

[2021-04-02 06:08] aleSuglia commented on #5088
Exactly what happens in my case as well. How can I help debugging this?

[2021-04-02 08:20] gaozhiguang commented on #5072
Hi，thanks your advice，when i run with the GPU, there is such a phenomenon that GPU occupies a lot of memory, but the utilization rate is 0, Is this normal? @dirkgr
![image](https://user-images.githubusercontent.com/34132216/113397175-36b0c580-93cf-11eb-949f-167f702e6270.png)

[2021-04-02 09:08] aleSuglia opened #5090 "Use PyTorch data loading infrastructure?"
Hello,

I love AllenNLP and I incredibly appreciate the work that AllenNLP group at AI2 has done on this :)

However, I feel like recently I've been constantly dealing with bugs due to weird behaviours in the data loading process. So I started wondering: is there any specific reason why we had to reimplement the entire data loading logic? I was thinking to a very simple adaptation of the AllenNLP

[2021-04-02 16:27] epwalsh commented on #5090
@aleSuglia I'll try my best to answer your concerns and questions, and explain our decision making process behind the current data loading API, which is certainly not perfect, but I do believe is still a significant improvement over the old system.

AllenNLP's `MultiProcessDataLoader` uses the exact same tools under the hood as the PyTorch data loader, but is actually a lot simpler. We only use a

[2021-04-02 16:47] epwalsh commented on #5088
@dirkgr were training on a single GPU or multiple?

[2021-04-02 17:06] epwalsh commented on #4949
I think you fixed this when going through your demo sweep.

[2021-04-02 17:06] #4949 closed

[2021-04-03 00:51] ksteimel commented on #5072
How much data is in batch_input when you feed it through? It may be predicting so fast that you don't even get a chance to see the utilization jump.

[2021-04-04 12:31] HillelR opened #5094 "Cannot import allennlp into jupyter"
Hi,
I am trying to learn AllenNLP, I have read a few tutorials (would love additional recs) and am ready to start coding.
For some reason I am not able to import allennlp - before any of the libraries (which won't import either, naturally).
I have pip installed it via the terminal (on a mac), and also tried using anaconda, with no success.
Any ideas?

[2021-04-04 17:18] pab-vmware commented on #4962
@epwalsh  Raised a draft PR with slightly unbaked but functional code we did last week with @divijbajaj. It should give a rough direction. Would appreciate a high-level review if time permits.

[2021-04-05 10:15] aleSuglia commented on #5088
@epwalsh I think it's an issue with the multiple GPU training setup!

[2021-04-05 10:53] aleSuglia commented on #5090
@epwalsh thanks for clarifying. The only difference that I can see is that, when implementing a non-lazy dataset, AllenNLP has to load in memory the dataset as a list of `Instance` objects. With Vision+Language dataset where you have several visual features associated with the current scene, an `Instance` object would be quite big therefore making loading the entire dataset in memory infeasible.

[2021-04-05 14:59] hockeybro12 commented on #5079
@dirkgr  Any update?

[2021-04-05 16:25] epwalsh commented on #5090
How is this different from what AllenNLP does? Most fields are only turned into tensors when [`Instance.as_tensor_dict()`](https://github.com/allenai/allennlp/blob/decb875b4129ee9e6e286c9eea5f51b3f453c944/allennlp/data/instance.py#L88) is called. For images, if you didn't want the image tensors to be loaded in memory in the `Instance`, you could just create a `Field` that stores the image path and

[2021-04-05 16:29] epwalsh commented on #5094
Hi, can you post the output of `pip freeze`?

[2021-04-05 17:13] aleSuglia commented on #5090
I think this actually clarifies completely my issues and actually gives me a few interesting directions to make my code way faster. @epwalsh thanks a lot for your help again!

[2021-04-05 17:19] epwalsh commented on #5090
@aleSuglia no problem! And if you end up implementing a more efficient `Field` subclass for your use case, we'd love to add it to the library.

[2021-04-05 17:32] dirkgr commented on #5088
Yes, multiple GPUs. When the GPU hangs at 100% utilization it's usually a CUDA problem, not an AllenNLP problem. But this seems pretty serious, so regardless of whose problem it is, we need a solution. It would be interesting to see if this happens with older CUDA versions as well. The other thing that would really help is a stack trace of where it's hanging. I could not get one when I ran it on T

[2021-04-05 18:52] dirkgr commented on #5079
The first thing that I notice is that the model you're loading is pretty old. The latest version is https://storage.googleapis.com/allennlp-public-models/decomposable-attention-elmo-2020.04.09.tar.gz. Does it work with that?

You should not have to specify `text_field_embedders` if you're loading the model from an archive. Let me know if that still happens, and I'll keep investigating.

[2021-04-05 18:55] dirkgr commented on #5067
We will need to fix #5088 before looking into this. They are separate issues, but touching one often involves touching the other.

It's also probably a good idea to resolve #5076/#5077 first. These might turn out to be the same issue.

[2021-04-05 21:27] dirkgr commented on #4295
I am also interested in getting this done, but without a clear indication of what exactly the format is, I don't see how we can do it.

[2021-04-05 23:09] #4363 closed

[2021-04-05 23:35] dirkgr commented on #5064
I'm trying this now.

[2021-04-05 23:42] dirkgr commented on #5064
Turns out I don't have a server that has a card this old but an Nvidia driver recent enough to run CUDA 11.

[2021-04-06 00:06] dirkgr commented on #5088
With `"max_instances": 2000`, it works. With `"max_instances": 2001`, it hangs. That looks like an AllenNLP problem then.

[2021-04-06 00:12] dirkgr commented on #5088
Looks like this was already broken in 2.0.0 😢. I feel a new test case coming on.

[2021-04-06 00:14] dirkgr commented on #5088
This suggests a terrible workaround: Make sure the number if instances is an even multiple of the batch size.

We'll make a release as soon as this is fixed. This is really bad.

[2021-04-06 06:22] HillelR commented on #5094
Here it is, thanks!
pip freeze
allennlp==2.2.0
attrs==20.3.0
blis==0.7.4
boto3==1.17.44
botocore==1.20.44
cached-property==1.5.2
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
configparser==5.0.2
cymem==2.0.5
docker-pycreds==0.4.0
filelock==3.0.12
gitdb==4.0.7
GitPython==3.1.14
h5py==3.2.1
idna==2.10
importlib-metadata==3.10.0
iniconfig==1.1.1
Jinja2==2.11.3
jmespath==0.10.0
jobli

[2021-04-06 09:07] gaozhiguang commented on #5072
actually ， the batch size is about 20 ，when i set a timer to record the prediction time of GPU, I found that it took almost 100 times as long to execute as the CPU, the specific value is about 0.16 seconds for CPU and 16 seconds for GPU. So , i think it's not because the process running in cpu Slow down the overall speed. Maybe i didn't use the GPU rightly.
Thanks your advice. @ksteimel

[2021-04-06 13:25] bb-1357 opened #5097 "Cannot run Elmo model with multi-GPUs because of "ParameterList""
I use nn.DataParallel for running with multi-GPUs,However
"nn.ParameterList is being used with DataParallel but this is not supported. This list will appear empty for the models replicated on each GPU except the original one."  the empty list really bothers me a lot，I wonder how to use the elmo model with multi-GPUs?
nn.ParameterList appears in ELmo model just like this:
[code]
My allennlp Version

[2021-04-06 17:17] epwalsh commented on #5094
Thanks @HillelR, and could also post the exact error message you're getting? I'm having trouble reproducing.

[2021-04-06 17:57] epwalsh commented on #4974
Done ✅

https://pypi.org/project/allennlp-server/

[2021-04-06 17:57] #4974 closed

[2021-04-06 18:29] dirkgr commented on #4974
Sweet!

[2021-04-06 19:04] prajaktakini-vmware commented on #5001
Hi, @dirkgr I would like to work on this issue if @ekdnam is not planning to take this up. Let me know if I can take this up!

[2021-04-06 19:11] dirkgr commented on #5001
Yes please, go for it! Let me know if you need any help!

[2021-04-06 20:21] jacob-morrison commented on #4465
https://github.com/allenai/allennlp-models/pull/244 adds span probabilities to TransformerQA's output

[2021-04-06 20:21] #4465 closed

[2021-04-06 22:24] ethch18 opened #5098 "`allennlp predict` broken for multitask predictors with v2.1.0+"
## Checklist

- [x] I have verified that the issue exists against the `main` branch of AllenNLP.
- [x] I have read the relevant section in the [contribution guide](https://github.com/allenai/allennlp/blob/main/CONTRIBUTING.md#bug-fixes-and-new-features) on reporting bugs.
- [x] I have checked the [issues list](https://github.com/allenai/allennlp/issues) for similar or identical bug reports.
- [x]

[2021-04-06 23:08] dirkgr commented on #5088
I finally got a stack trace from a worker:
[code]

So we're stuck inside of pytorch. 😳

[2021-04-06 23:30] dirkgr commented on #5088
Ah, but the other worker is not. I think I know what's going on.

[2021-04-07 01:47] hockeybro12 commented on #5079
@dirkgr Oh interesting, it actually seems to work now when I downloaded the latest model. Thanks!

[2021-04-07 01:47] #5079 closed

[2021-04-07 02:08] dirkgr commented on #5088
I think #5100 fixes this. @aleSuglia, can you confirm that you were using gradient accumulation?

[2021-04-07 02:09] dirkgr commented on #5088
Yes, your training config says so. Can you try that fix and see if it works for you?

[2021-04-07 03:37] nelson-liu commented on #5064
Ah, no worries then. Thanks for looking into it regardless, hopefully there's more info on the PyTorch upstream side. I'll close this for now, maybe it'll be useful for wayward google wanderers.

[2021-04-07 04:56] dirkgr commented on #5064
I've asked about getting the drivers updated. If I hear more, I'll let you know. Also, if this problem pops up in other context, let us know. If it's something we can fix, or at least work around, we should fix it.

[2021-04-07 06:39] HillelR commented on #5094
@epwalsh thanks for your help.
Actually there is no error message - it is just not recognizing the package and hence not importing:
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-6-847c9b0e2967> in <module>
----> 1 import allennlp

ModuleNotFoundError: No module named 'allennlp'

[2021-04-07 07:19] talolard opened #5101 "OK to fork the CRF ?"
Hi,
The CRF implementation in AllenNLP is really good (as is the rest of the framework). I find myself using it often, though I don't use the rest of the framework as much.
Would it be ok to extract the CRF as a separate repo/package ?

[2021-04-07 15:43] JohnGiorgi commented on #4766
@annajung Sorry I am getting back so late! Are the decoder layers all RNNs? If so I think it makes the most sense to graph the last hidden vector output but the last decoder layer.

If the decoder can be something else (like a transformer), I think the answer is a little more complicated.

[2021-04-07 15:46] annajung commented on #4766
No worries! @JohnGiorgi, @epwalsh gave the same feedback on the open PR. PTAL when you get a chance :) https://github.com/allenai/allennlp-models/pull/245

[2021-04-07 16:04] JohnGiorgi commented on #4766
@annajung Looks good :)

I think I originally thought the goal was to add a composable decoder to the copynet model, similar to what already exists for the [ComposedSeq2Seq](https://github.com/allenai/allennlp-models/blob/39f1a0f53237a0d3a386c4c3c11f68b9925749fd/allennlp_models/generation/models/composed_seq2seq.py#L52) so that you could easily experiment with the [different decoders implemented i

[2021-04-07 16:10] #4691 closed

[2021-04-07 16:32] epwalsh commented on #5094
This sounds like Jupyter is running in a different Python environment. To confirm this, you could run

[code]

from inside and outside of Jupyter.

[2021-04-07 16:48] prajaktakini-vmware commented on #5001
Hi, @dirkgr I would like to know once I reader and config file, how to go about the training and testing?
As per your previous comment, we don't require adding a separate model. We have `transformer-mc` model which is trained for MCQs.
Where to get the COPA dataset from for training and testing?
Is it from https://people.ict.usc.edu/~gordon/downloads/COPA-resources.tgz?
Could you please explain th

[2021-04-07 17:24] agururajvais commented on #4493
Hi @matt-gardner and @dirkgr, I would like to work on this if @yongzx is not picking this up. :D

[2021-04-07 18:04] dirkgr commented on #5001
All the datasets are available from https://super.gluebenchmark.com/tasks, so the reader should read the data that's downloadable there.

The other component you need is a training config. There are some of those configs at https://github.com/allenai/allennlp-models/tree/main/training_config/mc, so you can probably just adapt what's there.

Once you have those two things, try training it with the

[2021-04-07 18:09] dirkgr commented on #5101
Yes, no problem. People do this sort of thing all the time. That's why it's open source :-)

[2021-04-07 18:11] annajung commented on #4766
oh interesting! Do we still want to merge the open PR or look into a composable decoder?

[2021-04-07 18:31] epwalsh commented on #4766
@JohnGiorgi @annajung I like this idea of adding a composable decoder to CopyNet, which could also support multi-layer LSTMs. If you either of you would like to look into this, I think we should hold off on https://github.com/allenai/allennlp-models/pull/245.

[2021-04-07 18:49] JohnGiorgi commented on #4766
@annajung What do you think? I would be game to try and implement it. I am excited to try out a transformer decoder layer within copynet for my own project. I should be able to start next week!

[2021-04-07 19:13] annajung commented on #4766
sure that works, no worries! I can close my PR in favor of a composable decoder. thanks both for the feedback!

[2021-04-08 00:57] aleSuglia commented on #5088
@dirkgr Mmmm unfortunately it doesn't work for me. The only thing that my custom trainer does is the following:

[code]
In my case though the training gets stuck when is about to start the first epoch. It loads `max_instances_in_memory` datapoints and then it gets stuck...

This is the stacktrace if I press CTRL+C:

[code]

[2021-04-08 01:01] dirkgr commented on #5088
I can't tell from the stack trace what's going on, but your custom trainer still has the problem I fixed in the PR: You might end up calling `model.forward()` a different number of times in the workers. It's important to call `model.forward()` exactly the same number of times in each worker, otherwise they go out of sync.

FWIW, I think this is a terrible programming model, and I hope that the Dee

[2021-04-08 01:02] dirkgr commented on #5088
Are you also using multi-process data loading?

[2021-04-08 01:03] aleSuglia commented on #5088
No I have set `num_workers` to 0 and `start_method` to `spawn`.

[2021-04-08 01:05] aleSuglia commented on #5088
Unfortunately, due to the fact I'm splitting batches along the time dimension (for efficiency reasons), I will inevitably end-up with a different overall number of batches per worker. Would your fix apply to this case as well?

[2021-04-08 01:19] dirkgr commented on #5088
No, but you can use the idea of your fix in your custom trainer. Make sure that the check whether we're done (the one I moved in my PR) happens inside your `for split_batch in splits` loop. That means that you might process a partial batch.

The other way to circumvent this is to set `drop_last` on the data loader. That way you know you'll always have complete batches.

I am wondering if you could

[2021-04-08 03:16] epwalsh commented on #5088
If `num_workers` is 0, the data loader does not spawn any workers. From your stack trace, it looks like the only spawning going on is the spawning of the distributed trainer workers. Am I missing something?

[2021-04-08 03:57] dirkgr commented on #5088
His `nvidia-smi` trace shows 4 processes per GPU.

Though actually, that's not what it shows. @aleSuglia, it shows that you have four processes, and each of them connects to every GPU. Though only the one actually doing work needs any real memory. I can't explain that, but I also don't think it's important.

[2021-04-08 08:02] HillelR commented on #5094
@epwalsh I think you are right.  it seems that allennlp was installed in a different env.

base                  *  /Applications/Anaconda/anaconda3
allennlp                 /Applications/Anaconda/anaconda3/envs/allennlp

Any help on how do I manage these paths?

[2021-04-08 12:42] aleSuglia commented on #5088
No I haven't changed the data loading procedure. I have only extended the `MultiProcessDataLoader` in order to change its collate function. The core functionalities are the same. It looks like there are multiple CUDA context resulting from additional memory allocation steps. I'll try and debug it a little bit more and let you know!

[2021-04-08 14:54] epwalsh commented on #5098
Pinging @dirkgr

[2021-04-08 14:57] epwalsh commented on #5094
It looks like you don't have `jupyter` installed to your `allennlp` environment? That might explain it.

[2021-04-08 21:25] ArjunSubramonian opened #5105 "Build Fairness Library"
Implement the following:
Fairness Metrics
- [] Independence, Separation, Sufficiency
- [] Sparse Annotations for Ground-Truth
- [] Sparse Annotations for Demographics
- [] Bias Amplification

Debiasing Algorithms (with and without Demographics)

Training-time
- [] Through Adversarial Learning (with Demographics)
- [] Minimax (without Demographics)
- [] Repeated Loss Minimization (without Demograph

[2021-04-09 01:01] nelson-liu opened #5106 "Setting `requires_grad = True` for optimizer parameters"
**Is your feature request related to a problem? Please describe.**

I'd like the ability to set `requires_grad=True` in the optimizer parameter groups. For instance:
[code]

In this config, I set the token embedder `train_parameters` to false, so it's not trainable. However, i want to train some of the parameters (defined by the regex). The intended outcome is that the token embedder parameters ar

[2021-04-09 07:29] alanwang93 opened #5107 "Load pre-trained transformer weights once"
I trained a model which has a `PretrainedTransformerEmbedder`, the dumped weight file contains fine-tuned BERT's parameters.
When I tried to rebuild the model and restore weights, I found that the initialization of embedder requires `model_name` argument and therefore the `pytorch_model.bin` file. If I would like to deploy the model, I need to pack the model's weights as well as a pretrained BERT

[2021-04-09 16:11] talolard commented on #5101
Cool.
It's [here](https://github.com/lighttag/allencrf) or

[2021-04-09 16:11] #5101 closed

[2021-04-09 16:39] epwalsh commented on #5106
Also see https://github.com/allenai/allennlp/pull/5073#issuecomment-816294769

[2021-04-09 16:40] dirkgr commented on #5106
@nelson-liu, can we fix this by passing everything to the optimizer, but making sure that `requires_grad` is set properly for all of them? I don't like that we have two different ways of preventing parameters to be updated. We should have just one.

[2021-04-09 16:41] epwalsh commented on #5107
I think this is a duplicate of https://github.com/allenai/allennlp/issues/4599.

[2021-04-09 17:35] smiles3983 opened #5108 "Predictor.from_path using in memory file instead of disk"
We use openshift, and our enterprise sets limits on ephemeral storage.  We need to be able to load a 1.4GB Model and all I see available is Predictor.from_path, which requires the model to be on disk before we can use it.  They wont let us use something like S3FS at the moment, so we cant "mount" a network storage location.  Is there a way we can take the model that we have loaded into memory as a

[2021-04-09 17:38] smiles3983 commented on #5108
We asked the same to Spacy, and they had a response for us.  https://github.com/explosion/spaCy/issues/3841

[2021-04-09 19:45] prajaktakini-vmware commented on #5001
Thanks, @dirkgr for a detailed explanation. I will try it out this weekend

[2021-04-09 19:46] epwalsh commented on #5089
Hey @ethch18, this model was developed without the intent of making it efficient for training. And it's not on our road-map to improve this class, but we would certainly appreciate contributions.

I'm not sure how much work this would take, as this implementation is pretty old at this point and I'm not very familiar with it. But I'm happy to try to answer specific questions that arise.

[2021-04-09 20:02] epwalsh commented on #5097
Hi @bb-1357, it seems that the issues with `ParameterList` won't be fixed anytime soon. https://github.com/pytorch/pytorch/issues/36035#issuecomment-770960405

This is unfortunate, but as far as I can tell, the only place in our entire code base that uses this is the `ScalarMix` module. So it might not be too hard to make a fix for this one module that is backwards compatible.

[2021-04-09 20:21] JohnGiorgi commented on #4766
Okay I have made a decent amount of progress but I am stuck here:

https://github.com/allenai/allennlp-models/blob/f1de60fc5eab482dfd58d47ca160b497c69b4519/allennlp_models/generation/models/copynet_seq2seq.py#L339-L342

I have replaced `self._decoder_cell` with `self.decoder`, which is a [SeqDecoder](https://github.com/allenai/allennlp-models/blob/f1de60fc5eab482dfd58d47ca160b497c69b4519/allennlp_

[2021-04-09 20:36] epwalsh commented on #5108
Hi @smiles3983, so if I'm understanding this correctly, you'd like to have something like a `Predictor.from_bytes()` method?

[2021-04-09 21:09] smiles3983 commented on #5108
Yes that would be great! Does it exist and I’m just not seeing it?

[2021-04-09 21:13] epwalsh commented on #5108
It does not exist at the moment, but it's feasible to implement. If you (or someone else) is interested in making a PR to implement this, we'd love to see it. Otherwise I could take a look next week.

[2021-04-10 18:52] HillelR commented on #5094
oy, how do I ensure that I install them in the same environment?
or simply, how do I install Jupyter in that environment?
Thanks a lot @epwalsh !

[2021-04-10 22:34] MM-Vianai opened #5112 "Dataset for training openIE"
Following the instructions on [demo page](https://demo.allennlp.org/open-information-extraction) I am trying to train the model using the provided command under model usage / training.

after following instructions on [oie-benchmark repo](https://github.com/gabrielStanovsky/oie-benchmark) I set environment variables in the config file as follows:
export SRL_TRAIN_DATA_PATH="oie-benchmark/oie_corpu

[2021-04-12 08:30] tomohideshibata commented on #4363
@prajaktakini-vmware
I am who raised this issue. Sorry for leaving this untouched.
Thank you very much for adding options for fixing this issue!

[2021-04-12 12:24] nicola-decao opened #5113 "Length penalty for nn.beam_search.BeamSearch"
I see that in `nn.beam_search.BeamSearch` there is no way to specify the length penalty. How is implemented now? Is it using length penalty or not?

I imagine that the desiderata should be to use a simple penalty but I cannot understand from the code if that is the case.

[2021-04-12 16:48] ethch18 commented on #5089
Thanks @epwalsh, I'll think about this more.  I won't be able to work on it immediately, but I can leave the issue open in case others want to take on it

[2021-04-12 17:11] ethch18 commented on #5098
Hi @dirkgr, any thoughts on this?  Happy to provide more details or repro steps if needed

[2021-04-12 17:20] smiles3983 commented on #5108
Yeah, not sure our team will be able to do it, unless they want to do it from home on their own time :).  Dont think we can clone outside our Intranet.  We use Nexus to bring down packages.  Were open source leeches haha.

[2021-04-12 17:50] epwalsh commented on #5094
Something like this should work:

[code]

[2021-04-12 21:02] dirkgr commented on #5098
I am working on a fix here: https://github.com/allenai/allennlp/pull/5115

[2021-04-12 21:47] nelson-liu opened #5116 "`namespace` field in `basic_classifier` has no docstring"
Ref: https://github.com/allenai/allennlp/blob/main/allennlp/models/basic_classifier.py#L61

[2021-04-12 22:49] epwalsh commented on #4766
@JohnGiorgi one thing to keep in mind is that we want to keep backwards compatibility. So a CopyNet model trained before with a `_decoder_cell` should still work.

And if the `DecoderNet` API doesn't really fit, then I think it's okay to create a new abstraction that works better here. Something like `CopyNetDecoder`.

[2021-04-13 00:17] AkshitaB opened #5118 "Remove `registered_predictor_name` from all modelcards where the predictor is the same as the default"

[2021-04-13 14:33] JohnGiorgi commented on #4766
I see. So the main considerations here are

1. The "old" `CopyNet` configs can be loaded in the "new" `CopyNet`.
2. the `state_dict` of the old CopyNet can be loaded into this new CopyNet. I think the only place the `state_dict`s would differ is that the old CopyNet will have these parameters, and the new CopyNet wont:

[code]

One solution I can think of:

- keep the current arguments of the old

[2021-04-13 17:14] epwalsh commented on #5113
There is not a length penalty at the moment, but this option would be a welcome addition to the library.

[2021-04-13 19:34] shaharjacob commented on #550
I also faced with that problem, the reason was because I had a file called **_allennlp.py_** ... change it to other name :)

[2021-04-13 21:31] #4688 closed

[2021-04-13 21:32] dirkgr commented on #5027
I have not forgotten about this, but I don't have anything to go on. We can't just turn off locking, like they did in the StackOverflow solution, since we can't be sure that nobody is writing. And in fact, writing is what @aleSuglia wants to do. I don't have the problem locally.

Just gathering some more data: Since you have a SLURM cluster, this must be a Linux box, right? Is the cache on NFS and

[2021-04-13 21:39] dirkgr commented on #5027
`TensorCache` itself is not a lot of code. I'm wondering if we should just not worry about this issue and just replace it with something based on Arrow or HDF5. It might take less time to do that, though we'd break backwards compatibility.

On the other hand, this is literally the only issue with `TensorCache` that I'm aware of.

[2021-04-13 21:42] AkshitaB commented on #4860
@KTRosenberg You may have already worked this out, but here's some clarification anyway: This [line](https://github.com/allenai/allennlp/blob/main/allennlp/data/tokenizers/spacy_tokenizer.py#L63) in the tokenizer gets the spacy model. [Here's](https://github.com/allenai/allennlp/blob/0ddd3d352fc801c001a6dbbb472852ca12d49c80/allennlp/common/util.py#L258) the function it calls. Does adding **spacy_k

[2021-04-13 21:44] dirkgr commented on #5030
@aleSuglia, you have found quite a few issues here, and we fixed a fair number of them. Do you have any issues left now? I know about the `MDB_BAD_RSLOT` problem, but that already has its own issue. Can we close this one and track the rest separately?

[2021-04-13 22:09] dirkgr commented on #5050
@wlhgtc, did you get anywhere with this?

[2021-04-13 23:55] AkshitaB commented on #4942
@halnegheimish This should work with AllenNLP 2.0 and the latest model: `naqanet-2021.02.26.tar.gz` . Let us know if you are still facing the error.

[2021-04-14 00:54] #5098 closed

[2021-04-14 00:57] ethch18 commented on #5098
Thanks @dirkgr for working on this! Just to make sure, this shouldn't break existing models, right? Or will I need to retrain due to the dataloader modifications?

[2021-04-14 01:00] dirkgr commented on #5098
No retraining should be required.

I try to follow a guideline where I'd rather not release something than release something half-baked. With the combination of multitask models and `allennlp predict`, I'm afraid I dropped the ball a bit. Thanks for keeping me honest!

[2021-04-14 01:02] ethch18 commented on #5098
Much appreciated!

[2021-04-14 18:35] AkshitaB opened #5123 "Make sure that metrics in allennlp-models work in the distributed setting"

[2021-04-14 21:51] #5116 closed

[2021-04-14 23:17] jacob-morrison opened #5126 "Add multi-task vision and language tasks and models"
### Motivation

Adding support for these tasks will help fill out AllenNLP's language + vision capabilities, and supporting multi-task training will (hopefully) boost our performance closer to state of the art.

### Success Criteria

- Add support for the language + vision tasks from [https://arxiv.org/abs/1912.02315](https://arxiv.org/abs/1912.02315)
- Add them all to our multi-task training conf